[2016-08-30 13:46] danlipsa commented on #2106
@aashish24 So it seems that it is a problem that was in the code before the PR. We can take a look at it after the PR is merged in

[2016-08-30 14:50] stott commented on #2110
Hi,

The pop up window you show in the screen shot does not appear. And in the
earlier 1.5 version there was a display window with the time-step displayed
continuously (no popup window).

thanks,
Lowell

On Mon, Aug 29, 2016 at 10:24 AM, Sam Fries <notifications@github.com>
wrote:

--
Professor
Department of Earth Sciences
University of Southern California
Los Angeles, CA 90089

[2016-08-30 23:06] embrown commented on #2061
@doutriaux1 @chaosphere2112 Whenever we get the vcs documentation PR in, this will be good to close

[2016-08-30 23:25] ghost opened #2114 "vcs.getxyvsy() doesn't get the default object"
![screen shot 2016-08-30 at 4 18 38 pm](https://cloud.githubusercontent.com/assets/5880275/18110583/b7dd2a6c-6ecd-11e6-8e61-967a89b7ff8a.png)
In manageElements.py, the get functions for 1d objects don't work because they assume the default objects are called 'default_xyvsy' (or 'default_yxvsx, etc.).

When I do a Canvas.show(), the default names for the 1d objects have an extra _ at the end of the

[2016-08-30 23:54] embrown commented on #2114
![screen shot 2016-08-30 at 4 53 17 pm](https://cloud.githubusercontent.com/assets/5880275/18111180/548dad4c-6ed2-11e6-957c-e3e08fef0b49.png)
Actually noticing this extra _ more places than just the get[1d] functions.

[2016-08-31 14:36] doutriaux1 commented on #2114
@embrown there's so serious dark magic involved here. Something about all of these really being `1d` gms but still need to come back as `yxvsx`

[2016-08-31 14:38] doutriaux1 commented on #2114
I think the extra `_` is to avoid name collision or something like that. I can't remember exactly why. But I sort of remember that it was originally w/o the `_` and things got messed up so I had to add the `_`

[2016-08-31 14:39] doutriaux1 commented on #2114
@embrown please always assign a milestone when you create a bug, otherwise it can get forgotten.

[2016-08-31 16:34] sankhesh commented on #2072
@aashish24 I get rid of transparent triangles and the file size **reduced to half** but these are still pretty large files. See PR #2115.

The test script I use is listed here: https://github.com/UV-CDAT/uvcdat/issues/541#issue-39712768

[2016-08-31 16:43] aashish24 commented on #2072
great @sankhesh. Can you tel me the diff

1) file size exported from master of cdat
2) file size exported from your branch

I am wondering if the diff between 1) and 2) is not that much and 1) is large itself.

[2016-08-31 19:24] embrown commented on #2114
@doutriaux1 you got it. I'll make sure to assign a milestone when I report my next one.

[2016-08-31 19:53] embrown opened #2116 "vcs.Gfb.rename() seems to destroy the object that it's renaming"
Here's a session example that I'm running in ipython now:

[code]

As we can see from the example, this leaves behind a reference to the renamed boxfill in the names list while making that boxfill unusable, because it is deleted.

I think the issue is that we should just be creating a new boxfill here, instead of using vcs.elements to re-assign things:
![gfb_rename](https://cloud.githubusercontent

[2016-08-31 20:01] mattben commented on #2114
@doutriaux1, @embrown does not have repo permissions to add labels and milestones.

[2016-09-01 14:07] danlipsa commented on #2072
@aashish24 @sankhesh
It seems that uvcdat 1.5.1 did not generate vectors for hatches either. See the attached pdfs.
[test_fillarea_list.pdf](https://github.com/UV-CDAT/uvcdat/files/449839/test_fillarea_list.pdf)
[test_fillarea.pdf](https://github.com/UV-CDAT/uvcdat/files/449840/test_fillarea.pdf)

[2016-09-01 14:57] doutriaux1 commented on #2072
@danlipsa but hey were happy with the quality of the output. That's the main difference, current pdf are `unusable` (only quoting)

[2016-09-01 21:45] embrown opened #2118 "BUG: vcs.Canvas.switchfonts() doesn't work"
I've already solved this, just wanted an issue to track that it was found and fixed.
Working on testing now. Should have a PR in resolving shortly.

[2016-09-01 23:11] embrown opened #2119 "BUG: vcs.Canvas.ffmpeg() regex functionality doesn't work"
[code]
So the code hits a point where test_file is checked for a value but hasn't yet been assigned a value.

![screen shot 2016-09-01 at 4 07 32 pm](https://cloud.githubusercontent.com/assets/5880275/18187456/83077e5e-705e-11e6-954e-fed79fbe162a.png)

I think that last ```else``` clause is what's messing this up.

[2016-09-02 19:04] sankhesh commented on #2072
@aashish24 Based on our discussion, I am looking at alternative ways to vectorize the output graphics. I looked at [potrace](http://potrace.sourceforge.net/#usage), but that only works for black and white graphics and has no color support.

Next, I found [autotrace](http://autotrace.sourceforge.net/). That seems like it may work for our needs. Here are some example outputs generated using `autotra

[2016-09-07 14:00] embrown commented on #2118
@doutriaux1 @chaosphere2112 @mattben
This issue needs milestone, VCS and Bug labels.

[2016-09-07 17:30] danlipsa opened #2121 "animation does not work for vectors"
I use the following script:

import vcs, numpy, cdms2, MV2, os, sys, time

pth = os.path.join(os.path.dirname(__file__),"..")
sys.path.append(pth)

f = cdms2.open("clt.nc")
clt = f("clt")
u = f("u")
v = f("v")

x = vcs.init()
#isofill=x.createisofill()
#x.plot(clt, isofill, bg=1)

vector = x.createvector()
#vector.scale = 8.
x.plot(u, v, vector, bg=1)

x.animate.create()
print "Saving now"
prefix=

[2016-09-07 20:43] #2061 closed

[2016-09-08 23:08] lee1043 opened #2122 "Map with polar stereographic has empty gap"
Map with polar stereo-graphic shows empty gap for fixed column which not caused by lack of data. Below plot is coming from one dataset and gap located at different longitude.

![screen shot 2016-09-08 at 4 04 06 pm](https://cloud.githubusercontent.com/assets/17091564/18369943/e542db70-75dd-11e6-905b-f3869010d8fc.png)

Is this bug? or is there any alternative way to fill this gap?

I have used foll

[2016-09-08 23:09] lee1043 commented on #2122
@charlesdoutriaux Have any idea or suggestion?

[2016-09-08 23:10] doutriaux1 commented on #2122
@lee1043 you need to read extra data to close the gap longitude=(-180,182) should do.

[2016-09-08 23:16] lee1043 commented on #2122
@doutriaux1 That's sounds nice trick and helps to narrow the gap. But I will also need to use my region_selector for calculation, not only for the plot. I've tried various bound options such as ccb, ccn, ooe, oon, etc., but they were not so helpful.

![screen shot 2016-09-08 at 4 14 29 pm](https://cloud.githubusercontent.com/assets/17091564/18370114/6f459be0-75df-11e6-9729-29ae494d2c3b.png)

[2016-09-09 16:57] doutriaux1 commented on #2122
@lee1043 try to set datawc_X1/x2 to 0/360 (-180,180) it might help as well.

[2016-09-09 16:57] doutriaux1 commented on #2122
@danlipsa any hints for this?

[2016-09-12 06:50] lee1043 commented on #2122
@doutriaux1 Thanks but I have checked 0/360 or -180/180 is not helpful for this case.

[2016-09-12 13:27] danlipsa commented on #2122
@lee1043 @doutriaux1 Try (-180, 185). That will close the gap. The original data goes from (-180, 175) so a gap is appropriate. Not sure why (-180, 180) does not close it - I thought it should have. We'll have to look closer to see why.

[2016-09-12 20:03] dnadeau4 commented on #2107
@durack1 there is no cdms2 in your list.  I just tried to create your env on Ubuntu and worked fine.  It seems that you have numpy 1.10 installed on your machine.  Make sure your activate your environment.

[2016-09-12 20:06] durack1 commented on #2107
@dnadeau4 is there a reason why:
[code]
Is failing then?

[2016-09-12 20:16] dnadeau4 commented on #2107
Did you ran `source activate uvcdat26slim`?

[2016-09-12 20:26] durack1 commented on #2107
@dnadeau4 yep, see the second block [above](https://github.com/UV-CDAT/uvcdat/issues/2107#issuecomment-242454616)

[2016-09-12 23:25] durack1 commented on #2107
@dnadeau4 it looks like this was due to a broken `conda`/`Anaconda` install - the hard-coded install paths were changed since it was first installed, a migration across hardware.. Closing..

[2016-09-12 23:25] #2107 closed

[2016-09-12 23:52] dnadeau4 commented on #2088
This issue was moved to UV-CDAT/cdms#4

[2016-09-12 23:52] #2088 closed

[2016-09-12 23:56] dnadeau4 commented on #2081
This issue was moved to UV-CDAT/cdms#5

[2016-09-12 23:56] #2081 closed

[2016-09-13 00:01] dnadeau4 commented on #1974
This issue was moved to UV-CDAT/cdms#6

[2016-09-13 14:25] embrown commented on #2118
@doutriaux1 issue is fixed and tested.

[2016-09-13 17:36] #1265 closed

[2016-09-14 15:57] embrown commented on #2068
This PR was incorporated in #2117. Calculation is fixed.

[2016-09-14 15:57] #2068 closed

[2016-09-14 18:39] #2118 closed

[2016-09-15 15:43] stott commented on #2110
Hi,

Just checking back to see if there was any update/progress on the window
that displays the time step.

thanks,
Lowell

On Mon, Aug 29, 2016 at 10:24 AM, Sam Fries <notifications@github.com>
wrote:

--
Professor
Department of Earth Sciences
University of Southern California
Los Angeles, CA 90089

[2016-09-15 16:30] chaosphere2112 commented on #2110
Hey Lowell, sorry, I haven't gotten to this yet. I'll bump it to the top of my list, hopefully should be able to make something happen tomorrow.

[2016-09-15 17:53] stott commented on #2110
Thanks much.

Lowell

On Thu, Sep 15, 2016 at 9:30 AM, Sam Fries <notifications@github.com> wrote:

--
Professor
Department of Earth Sciences
University of Southern California
Los Angeles, CA 90089

[2016-09-16 23:20] chaosphere2112 commented on #2110
@stott Ran into some other exciting bugs in the process, but I should have it all squared away Monday.

[2016-09-16 23:46] stott commented on #2110
Ok thank you Sam

On Friday, September 16, 2016, Sam Fries <notifications@github.com> wrote:

--
Professor
Department of Earth Sciences
University of Southern California
Los Angeles, CA 90089

[2016-09-17 00:21] dnadeau4 commented on #2034
@cpaulik  This is in cdunif module.  It is old and does not understand all the types that are in your file.  (ubyte, string, int64).

[2016-09-19 19:09] embrown commented on #2116
@doutriaux1 wasn't sure if you'd seen this yet.

[2016-09-19 20:18] doutriaux1 commented on #2116
@embrown I didn't see it but i think I remember you talking to me about it.

I'll take a look.

[2016-09-19 22:22] #1974 closed

[2016-09-19 22:36] dnadeau4 commented on #1942
@durack1  where is those XML files,  I cannot find them.

[2016-09-19 22:43] embrown commented on #2116
@doutriaux1 I think I solved this problem. Want me to make a test and submit the new rename() code with a PR?

[2016-09-19 23:22] chaosphere2112 commented on #2110
@stott I've pushed the fixes to the repo, but I ran into some issues cutting a new version that you can install using anaconda. If you want to try it out right now, you can do this:

[code]

I'll make sure there's an easy-to-install version tomorrow.

[2016-09-19 23:26] stott commented on #2110
Thanks Sam,
I'll try the Anaconda install tomorrow after I'm done teaching.

Much appreciated
Lowell

On Monday, September 19, 2016, Sam Fries <notifications@github.com> wrote:

--
Professor
Department of Earth Sciences
University of Southern California
Los Angeles, CA 90089

[2016-09-20 15:29] doutriaux1 commented on #2116
sure, but on the vcs repo please. I opened an issue for this there at: https://github.com/UV-CDAT/vcs/issues/2

[2016-09-20 15:42] doutriaux1 commented on #2110
@stott I uploaded the latest vistrails to anaconda install as follow:
[code]

Please let us know if that fixes things for you.

[2016-09-21 13:33] durack1 commented on #1942
@dnadeau4 take a peek at `/work/guilyardi/database/ORAS4/ORAS4_1958-2014.xml`

[2016-09-21 17:12] lee1043 commented on #2122
@danlipsa @doutriaux1 Is there any option that let the program know the data is cyclic so it can close the gap when plotting?

[2016-09-21 17:15] doutriaux1 commented on #2122
hum... did youtrytweaking datwc_1/x2?

[2016-09-22 16:34] lee1043 commented on #2122
@doutriaux1 I have tried adding datawc_x1 and datawc_x2 but it was not so helpful, still the gap is  existing.

[2016-09-22 20:29] stott commented on #2110
Charles,

I have just completed the new update as per your email.
However, this did not fix the problem. In fact, the time-step button is
gone altogether. Not only is the time step window gone, the arrow buttons
are also missing now. See the attached screen shot

On Tue, Sep 20, 2016 at 8:42 AM, Charles Doutriaux <notifications@github.com

--
Professor
Department of Earth Sciences
University of So

[2016-09-22 20:44] chaosphere2112 commented on #2110
@stott Attachments don't come through in GitHub issues; please email Charles or myself directly (Charles is his lastname 1 at llnl.gov, I'm my last name 2 at llnl.gov) or use Github's website to post the image on this issue thread (https://github.com/UV-CDAT/uvcdat/issues/2110)

[2016-09-26 21:14] sankhesh commented on #2072
@doutriaux1 @aashish24 @williams13 Just wanted to post a quick update on this issue:

Here is a test pdf:
[test_fillarea_list.pdf](https://github.com/UV-CDAT/uvcdat/files/494124/test_fillarea_list.pdf)

You can see that it is merely 3.5MB and renders the patterns/hatches as vectors.

There are a few issues that I am working my way through but should have this ready soon.

[2016-09-28 17:40] aashish24 commented on #2072
@doutriaux1 what you think?

[2016-09-28 17:59] doutriaux1 commented on #2072
@aashish24 thx for pinging I didn't see that
3.5Mb seems right
@sankhesh let me know when I can test

[2016-09-28 20:21] doutriaux1 commented on #2072
@sankhesh @bonfils2 noted the following:
* only 4 patterns shown
* line width/distance seems to be not constant
* triangles are not perfect

* Can we control the size of squares/lines?

[2016-09-28 20:26] doutriaux1 commented on #2072
FYI @bonfils2 needs to submit her paper within 2 weeks, so we need it in a branch more or less functional as soon as possible. Thanks!

[2016-09-28 20:28] sankhesh commented on #2072
@bonfils2

I am currently looking into some issues with the pattern generation. Once done, I plan to add more patterns

Hmm. Not sure I see that. Could you please point out where this issue is?

Yes, we've noticed that too. I'll fix it soon.

Currently, there is no such API in VCS. @doutriaux1 Should I just go ahead and add some properties to `fillarea`?

Sure, I'll try to get it done this week. W

[2016-09-28 20:34] doutriaux1 commented on #2072
@sankhesh I thought we were going to be able to send a fillarea object to the pattern, wouldn't that allow use to control the size of the patterns?

[2016-09-28 20:36] doutriaux1 commented on #2072
@sankhesh on horizontal lines the 5th and 6th lines (from bottom) seem to have different thickness

[2016-10-03 17:04] JimBiardCics opened #2128 "CDMS2 fails during init for netCDF variable of type unsigned byte"
If I attempt to open a dataset produced by cdscan from a group of netCDF files containing a variable of type unsigned byte, the cdms2.open() function fails with the exception "TypeError: 'Not implemented for this type'". The unsigned byte type is interpreted as character type and the values are converted to single-character strings. The exception is thrown at line 136 in the file avariable.py when

[2016-10-03 18:44] JimBiardCics opened #2129 "CDMS2 axis.getBounds() returns wrong leading and trailing bounds for monotonic decreasing axis"
I have a data set with a polar stereographic grid. The y axis has 448 elements and is monotonic decreasing from 5837500.0 m to -5337500.0 m. When the getBounds method is called it produces a leading edge bound of (90.0, 90.0) and a trailing edge bound of (-90.0, -90.0). One of the files from the data set is attached.

[sample.zip](https://github.com/UV-CDAT/uvcdat/files/506948/sample.zip)

[2016-10-03 21:15] doutriaux1 commented on #2129
@JimBiardCics thanks for reporting. For future ref please note that we splits UV-CDAT into various repos, for example cdms2 bug should be reported to the http://github.com/UV-CDAT/cdms repo

[2016-10-03 21:25] #2128 closed

[2016-10-04 18:11] JimBiardCics commented on #2129
I did some further research and found that the first and last bounds are wrong even if the axis is monotonic increasing. The values on the first and last bounds are the same (with appropriate sign reversal).

[2016-10-05 21:59] dnadeau4 commented on #1722
fixed with branch numpy1_11

[2016-10-05 21:59] #1722 closed

[2016-10-05 22:08] #2071 closed

[2016-10-05 22:12] dnadeau4 commented on #1853
Fix in #2125 numpy1_11 pr.  Preparing a test.

[2016-10-05 22:13] durack1 commented on #1722
@dnadeau4 thanks!!

[2016-10-05 22:15] #2110 closed

[2016-10-05 22:40] dnadeau4 commented on #1614
This seemed to work for me.  @stefraynaud  can you provide me with a zip file?

[code]

[2016-10-05 22:43] dnadeau4 commented on #146
I tried @stefraynaud  example and it worked with numpy 1.11 PR #2125 .   Is this still an issue?

[2016-10-06 07:52] stefraynaud commented on #146
The problem highlighted in this ticket is a memory issue due to the algo to extract slices on a curvilinear grid. It has nothing to see with numpy.

[2016-10-06 14:44] doutriaux1 commented on #1614
@dnadeau4 it's not that it doesn't work, it's that it takes a path that loads to much in memory

[2016-10-12 22:37] dnadeau4 commented on #2014
@mzelinka it seems that you time bounds are wrong.  The first bounds is `[0,0]` which make the departure off by one month.

[code]

[2016-10-26 04:19] lee1043 opened #2132 "XQuartz version and numpy?"
1. VCS not opening xwindow for Mac terminal when XQuartz 2.7.9 or higher version.
2. Loading variable returns error message which I've not seen before.

[code]
**/export_backup/lee1043/anaconda2/lib/python2.7/site-packages/numpy/ma/core.py:2761: DeprecationWarning: Non-string object detected for the array ordering. Please pass in 'C', 'F', 'A', or 'K' instead
  order=order, subok=True, ndmin=ndmin

[2016-10-26 04:20] lee1043 commented on #2132
@doutriaux1 Do you have any idea about this issue?

[2016-10-26 14:12] doutriaux1 commented on #2132
@lee1043 for now downgrade your XCode if possible. If not use a nox version of vcs on your remote system that will bypass this issue. I think that's the safer/faster way to go in general. @aashish24 @danlipsa is there anything that can be done on VTK side of things? I think it's related to the remote having very old version of drivers. @lee1043 let's ask tony to update our drivers.

[2016-10-26 14:31] danlipsa commented on #2132
@doutriaux1 @aashish24 There is nothing we can do in VTK. OpenGL does not work here, so VTK cannot work. This is the same direct rendering problem we have seen before. I suggest switching to vnc + vgl. I think it is going to be more reliable and faster than OpenGL X Forwarding. I paste here the results of me trying to connect to crunchy.

Charles,

On Wed, Sep 28, 2016 at 11:12 AM, Charles Doutria

[2016-10-26 21:00] lee1043 commented on #2132
@doutriaux1 I've installed [nox vcs](https://anaconda.org/uvcdat/vcs-nox) and it works. Thanks!

[2016-10-27 19:57] painter1 opened #2135 "performance crashes with multiple calls of createisofill"
I am repeatedly (17 times) calling a function which generates a set of four plots with VCS.  They should all take about the same time.  With normal use of VCS, they don't.  Each is slower than the one before, and you get an overall slowdown of well over an order of magnitude - enough to make VCS almost unusable.

I narrowed the problem down to vcs.elements['isofill'].   Each time my function is ca

[2016-10-27 20:54] chaosphere2112 commented on #2135
Everything gets saved forever because people can plot isofills just using the name of the graphics method:

[code]

If people stash the name of a graphics method, they'll still be able to use it later unless they actively prevent themselves from doing so.

That said, I just ran this:

[code]

And got these results (trimmed everything that used less than a quarter of a second):

ncalls         | to

[2016-10-28 14:30] danlipsa commented on #2135
@painter1 @chaosphere2112 Why would one create a new graphics method for each plot? In this case one would expect things to accumulate. Is this what is happening in Jeff's plot? Jeff, can you post the relevant function you are calling?

[2016-10-28 16:54] durack1 commented on #2103
In the most recent conda release this seems to be solved, so closing

[2016-10-28 16:54] #2103 closed

[2016-11-01 00:38] painter1 commented on #2135
I ran my code three times for different timing purposes.

The first is to demonstrate the problem with only _two_ plots.  This is logically the minimum number of plots to show a slowdown as you make more plots.  The time for all calls of canvas.plot():
first plot: 6.851 seconds
second plot: 17.480 seconds.
These are complicated plots.  Building one of them requires three calls of canvas.plot().  I

[2016-11-01 07:08] Rex-Diego opened #2137 "x.plot(s,bg=bg) does not output image"
I tried this [demo ](http://uvcdat.llnl.gov/iPython/Basic_VCS_demo/Basic_VCS_demo.html), and expected to have ![](http://uvcdat.llnl.gov/iPython/Basic_VCS_demo/output_7_0.png). But I only got
`<vcs.displayplot.Dp at 0x7f73660064b0>` as an output in jupyter notebook. What should I do to have that image in my notebook?

BTW, this is the code that I tried with python 2.7.12:

[code]

and this is my p

[2016-11-01 15:57] doutriaux1 commented on #2137
THis only works in the nightly version of uvcdat. It will be available in the next stable release which should be out this week.
To obtain the nightlies see:
https://github.com/UV-CDAT/uvcdat/wiki/Obtain-UV-CDAT-nightly-packages

[2016-11-01 15:57] #2137 closed

[2016-11-01 17:46] durack1 opened #2138 "Conda install failing on OS X"
The command `conda create -n uvcdat261 -c uvcdat uvcdat` is currently failing on `OS X 10.11.6`, see https://github.com/ContinuumIO/anaconda-issues/issues/1209

[2016-11-01 17:52] doutriaux1 commented on #2138
hum... works for me...
my conda version is:
[code]

[2016-11-01 17:53] doutriaux1 commented on #2138
@durack1 can you please try to update your conda and let me know.

Thanks

[2016-11-01 18:04] durack1 commented on #2138
@doutriaux1 can you confirm the conda command line for the latest official, and the latest nightly (including cd77 for both please)

[2016-11-01 18:05] durack1 commented on #2138
@doutriaux1 it seems that `2.6.1` is not currently available in the main channel for `linux`, it's only there for `OS X`: https://anaconda.org/uvcdat/uvcdat/files

[2016-11-01 18:07] doutriaux1 commented on #2138
@durack1 in the process of updating nightlies to newer version, so let's wait on this. In the mean time  and for future reference it's all at:
https://github.com/UV-CDAT/uvcdat/wiki/install
and
https://github.com/UV-CDAT/uvcdat/wiki/Obtain-UV-CDAT-nightly-packages

[2016-11-01 18:16] doutriaux1 commented on #2138
I believe `2.6.1` simply has better conda dependencies on mac, no actual code difference from `2.6`

[2016-11-01 21:59] durack1 commented on #2138
@doutriaux1 @chaosphere2112 it would be great to keep these versions in sync, regardless of the platform the files page looks a little linux lonely..
![uvcdat-no261linux](https://cloud.githubusercontent.com/assets/3229632/19909193/ba84348e-a043-11e6-8f99-b497c4b6e506.png)

[2016-11-01 22:03] #2138 closed

[2016-11-02 00:39] Rex-Diego commented on #2137
@doutriaux1 But I'm using nightly version.

[2016-11-02 00:56] doutriaux1 commented on #2137
hum.. please post here your `conda info` thx

[2016-11-02 03:28] Rex-Diego commented on #2137
FYI,this is the output of conda info:
[code]

Thanks!

[2016-11-02 17:08] doutriaux1 commented on #2137
My bad, i always confuse the two, I meant: `conda list`

[2016-11-02 19:30] doutriaux1 commented on #2138
i can confirm `lats` `cd77` `ezget` will not be part of `uvcdat` they are PCMDI specific really.

[2016-11-02 20:29] durack1 commented on #2138
@doutriaux1 will these continue to be supported going forward? And in the UV-CDAT channel right?

[2016-11-02 21:37] doutriaux1 commented on #2138
yes they will, just not distributed as part of uvcdat

[2016-11-02 23:49] Rex-Diego commented on #2137
Never mind, `conda list` shows:
[code]

[2016-11-03 00:09] durack1 commented on #2138
@doutriaux1 @mattben can this be documented on the wiki if possible - just so we don't lose this information buried in closed issues or emails.. An "Additional AIMS software" page or similar would certainly be useful..

[2016-11-03 13:49] doutriaux1 commented on #2138
I think it's the kind of thing that should go on askbot.

[2016-11-03 14:36] durack1 commented on #2138
@doutriaux1 I'm completely unfamiliar with the askbot service.. The wiki would be more natural to me..

[2016-11-07 10:35] stefraynaud opened #2139 "wiki: how to build a conda package that depends on uvcdat"
An wiki entry on this subject would be nice.

I successfully built the last version of uvcdat following the wiki guidelines:

    conda create -y -n uvcdat-test -c uvcdat -c conda-forge uvcda

However, I have not been able to pass the final test when building vacumm with:

    conda build -c vacumm -c uvcdat -c conda-forge vacumm

It fails when importing MV2 (ImportError: libjpeg.so.9) with the sa

[2016-11-08 13:22] stefraynaud commented on #2139
I found that installing the pil package along with uvcdat is responsible for the libjpeg error.

[2016-11-08 16:32] pywu opened #2140 "UVCDAT environment setting"
Hello, I installed UVCDAT 2.6 using anaconda conda. The installation went smoothly  on MacOSX.

After source  activate uvcdat,  import cdat_info. is OK, but import vcs with error message like:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/wanliwu/anaconda3/envs/uvcdat/lib/python2.7/site-packages/vcs/__init__.py", line 31, in <module>
    from utils import

[2016-11-09 19:33] mcenerney1 opened #2141 "import cdtime"
There are a ton of errors on Travis’s cite.
ImportError: libjpeg.so.9: cannot open shared object file: No such file or directory

[2016-11-10 09:32] stefraynaud commented on #2141
I think this is related to ticket #2139

[2016-11-14 20:45] lee1043 opened #2142 "Extract monthly mean from daily mean with cdutil.ANNUALCYCLE"
I am having trouble with extracting monthly mean from daily mean dataset. I have applied cdutil's ANNUALCYCLE function but it returns error as below.  I suspect maybe because time dimension is not recognizable, but not sure. @doutriaux1 @dnadeau4 Do you have any idea?

data: [ftp://ftp.cdc.noaa.gov/Datasets/20thC_ReanV2/Dailies/monolevel/prmsl.1871.nc](ftp://ftp.cdc.noaa.gov/Datasets/20thC_ReanV2/

[2016-11-14 21:07] lee1043 commented on #2142
Problem solved by using `cdutil.setTimeBoundsDaily(d, 1 )`

[2016-11-14 21:08] #2142 closed

[2016-11-15 00:52] painter1 commented on #2135
I gave up on calling clean_auto_generated_objects().  It doesn't work.  The problem occurs if you use EzTemplate.Multi (in vcsaddons).  The templates this object makes contain things (like text orientation) with names beginning with '__', so they get cleaned as the should be.  But the templates themselves don't have such names, so they don't get cleaned.  If you change the names so that they get c

[2016-11-15 17:30] durack1 commented on #1707
@chaosphere2112 I'm not sure I get all the subtleties in the above, however in addition to a shape check a min/max bounds check of both grid lats/lons would be a good way to sanity check things.. happy to provide more in depth feedback if you like

[2016-11-15 20:47] aashish24 commented on #2140
Wanli looks like an issue with libjpeg. @doutriaux1 any insight?

[2016-11-15 20:53] aashish24 commented on #2140
@Wanli I can confirm that it seems to broken on Linux as well.

[2016-11-15 21:19] aashish24 commented on #2140
@Wanli @doutriaux1 looks like we have a bad conda binary on binstar.

[2016-11-15 23:44] Rex-Diego commented on #1867
Could anyone tell me where can I get ```vcs3D_cubed_sphere_volume.nc``` ?I've searched the github and the Internet, and can not find it.

[2016-11-16 17:22] chaosphere2112 commented on #1867
@Rex-Diego Sorry about that! We migrated the site to a new server and lost track of the file temporarily. The two files for that example are available [here](http://uvcdat.llnl.gov/data/vcs3D_cubed_sphere_volume.nc) and [here](http://uvcdat.llnl.gov/data/vcs3D_cubed_sphere_volume_grid.nc). The link to the second should be up on that example as soon as our server updates the website automatically.

[2016-11-17 04:52] pywu commented on #2140
Dear Aashish,

Thank you taking looks at the issue. I tried the highlyuvcdat with conda.
It went smoothly.  uvcdat now works fine on my MacBook Pro. Only trouble is
that after uvcdat, my normal anaconda  (python 3.5) does not function well,
for example'  import pandas as pd' failed import (uvcdat is deactivated).
Any ideas?

Thanks,

Wanli

On Tue, Nov 15, 2016 at 2:19 PM, Aashish Chaudhary <notif

[2016-11-17 06:19] aashish24 commented on #2140
This is great news, credit goes to @doutriaux1

Can you post the complete message here?

[2016-11-17 14:06] embrown commented on #2116
@doutriaux1 should we close this? It was fixed in vcs.

[2016-11-17 16:54] doutriaux1 commented on #2116
@embrown please re-open if I have the wrong commit
fixed by: https://github.com/embrown/vcs/commit/b76a435b9b74b45b247c1cc4c5a1628b5a75c98f

[2016-11-17 16:54] #2116 closed

[2016-11-17 23:32] Rex-Diego commented on #1867
@chaosphere2112 Thank you so much!

[2016-12-01 21:06] painter1 opened #2145 "diagnostics (and more) broken by string-valued array, cdscan broken by 0-d array"
There are two problems with the new UV-CDAT 2.8 which I have had to fix in order to get the diagnostics (uvcmetrics) to work.

First, suppose you have several related NetCDF files.  Run cdscan to produce an xml file describing them all.  Usually you can't!  Generally the variables in the files will have a missing_value attribute.  This will be a 0-d array (thus representing a scalar), so the cdsca

[2016-12-08 15:56] mcenerney1 opened #2147 "uvcmetrics fails with cdscan error"
Running the following diags with uvcdat 2.8 gets a cdscan error.

diags  --package AMWG  --set 8  --var T --seasons ANN --no-antialiasing --model path=/Users/mcenerney1/uvcmetrics/test/data/cam_output,climos=no  --obs path=/Users/mcenerney1/uvcmetrics/test/data/obs,filter="f_contains('NCEP')",climos=yes  --outputdir  /Users/mcenerney1/diagout

UV-CDAT Diagnostics, command-line version
/Users/mcene

[2016-12-08 17:23] painter1 commented on #2147
I reproduced the problem with
`  cdscan ~/tmp/diagout/set8_ANN_T.xml -e time.units=months since 1979-01-01 00:00:00 ~/metrics_data/obs_data_20140804/NCEP_??_climo.nc`
But the problem isn't in cdscan.  It's in dataset.py or associated files such as CDMLParser.py

The error occurs where cdscan tries to open the output file in read-only mode.  I don't know why it does that, but it's a legitimate oper

[2016-12-08 17:29] painter1 commented on #2147
Forget about that last message.  I had left out the '-x' which cdscan needs.  I'm concerned about the problem with opening an xml file, but that isn't the real cause of this issue.

[2016-12-08 18:26] mcenerney1 commented on #2147
Note the diags command line calls cdscan as indicated and is the one invoked by running ctest as in
ctest diags_test_08

[2016-12-08 22:26] mcenerney1 commented on #2147
Do you have an example of diags set 8 or 15 running with 2.8?

[2016-12-08 22:31] painter1 commented on #2147
Yes, this one from my lotsadiags.sh.  I added the
      --no-antialiasing to make it more like yours.  It ran on my
      machine, but I bet that, with appropriate path changes, it won't
      run on yours:

    diags --outputdir ~/tmp/diagout/ --no-antialiasing --model
      path=~/metrics_data/cam35_data/,climos=yes --obs
path=/Users/painter1/metrics_data/obs_data_5.6/,filter="f_startswith('NCEP

[2016-12-08 22:33] painter1 commented on #2147
On another issue, how does "python setup.py install" work for you
      with UV-CDAT 2.8?   I have to disable compilation of C code.

    On 12/8/16 2:26 PM, James McEnerney
      wrote:

      Do you have an example of diags set 8 or 15 running with 2.8?
      —
        You are receiving this because you commented.
        Reply to this email directly, view
          it on GitHub, or mute

[2016-12-08 22:46] mcenerney1 commented on #2147
The obs data, obs_data_5.6 doesn't have T.  Did this run for you?

I haven't had issues with install under 2.8. I almost always use
rm -rf build; python setup.py install

[2016-12-08 22:52] painter1 commented on #2147
My NCEP obs data has T.  I wonder whether you're using a cut-down obs set made for automated tests.

Anyway, cdscan shouldn't crash whether T is in there or not.

[2017-01-03 22:18] doutriaux1 commented on #2145
@painter1 can you please attach here a zip of the failing files. @mcenerney1 gave us some that work on my system w/o patchng. It is VERY disturbing if cdscan behaves differently on the same files depending on the system

[2017-01-03 22:42] painter1 commented on #2145
[T42.zip](https://github.com/UV-CDAT/uvcdat/files/683424/T42.zip)

Unzip this little file and run
cdscan -x T42.xml T42_ORO_ANN_climo.nc
It won't run without the above patched version of cleanupAttrs(), or something similar.

I'll attach a demo file for the 'N/A' problem in my next message.

[2017-01-03 23:03] doutriaux1 commented on #2145
@painter1  on my ubunut:
[code]
without your full patch

[2017-01-03 23:05] painter1 commented on #2145
This zip file contains a NetCDF file cam_dw.nc.  It has only one variable, date_written.

[cam_dw.zip](https://github.com/UV-CDAT/uvcdat/files/683459/cam_dw.zip)

This will give you an error:

That's not the error I had complained about, though.

Or you can run cdscan first:
cdscan -x cam_dw.xml cam_dw.nc
python

Now the error message is about 'N/A', roughly as I had described.
In my more complica

[2017-01-03 23:09] painter1 commented on #2145
@doutriaux1 What exactly is your function cleanupAttrs() which worked for you?

[2017-01-03 23:23] painter1 commented on #2145
I just looked at the cdscan.py on github, UV-CDAT/cdms, master branch.  It has a better cleanupAttrs() then the one which I got with my UV-CDAT 2.8, one which should work.   I see that @dnadeau4 had fixed it two weeks ago.  So I suppose, that you, @doutriaux1, are running the very latest UV-CDAT while I was running the 2.8 release version.

[2017-01-03 23:25] doutriaux1 commented on #2145
@painter1 this actually using cdscan before any patch...

[2017-01-04 16:02] doutriaux1 commented on #2145
@painter1 ok I get the same error as you on crunchy with older version of cdscan. I'm going to try to apply your patch and see if that makes any difference

[2017-01-05 05:52] angshuiisc opened #2148 "old code issues with panel plots"
I am trying to plot a 4 panel figure. I am using my old code which used to work fine is now `

showing` following error :

____________________________________________________________________________

Successfully updated your environment to use UVCDAT
(changes are valid for this session/terminal only)
Version: 2.4.1
Location: /usr/local/uvcdat/2.4.1
Reset these changes by running: source /usr/loc

[2017-01-05 16:01] doutriaux1 commented on #2148
My guess is that your file name was read from a json files or something and as a result is Unicode not just string type.

Are your variables file variables? If so you might want to make them transient variables (v = v() )

Also when you open your file try:
F=cdms2.open(str(filename)) it might fix the Unicode issue.

Sorry 2.4.1 is so old, it’s hard to support these sort of things.

I will try to r

[2017-01-05 16:37] angshuiisc commented on #2148
Okay. Thanks. I will try them out.
BTW I had attached my code and sent in cdat mailing group cdat-discussion@lists.sourceforge.net and also to you woth same subject. Can you please check my code...

[2017-01-05 19:46] painter1 opened #2149 "cdscan patch needs a patch"
Some time ago, I had encountered a problem where cdscan was dropping some small axes needed for cloud variables.  I had fixed it by adding a dummy variable which used the axes, all_axes_dummy.

Of course, all_axes_dummy is a TransientVariable.  But all the other variables are FileVariables, hence DatasetVariables.   A TransientVariable is a numpy masked array, and hence contains an integer-valued

[2017-01-05 22:38] bonfils2 commented on #2072
Hello, There is progress with the patterns. Here is the figure I generated.
As you can see, however, is that underneath the patterns, the background color is white while it should be light brown or light green. Thanks for looking into it!
[Bonfils_etal_droughts_Jan32017_FINAL_FIG2.pdf](https://github.com/UV-CDAT/uvcdat/files/688572/Bonfils_etal_droughts_Jan32017_FINAL_FIG2.pdf)

[2017-01-05 22:42] doutriaux1 commented on #2149
@painter1 do you mind moving that issue to the cdms repo? thanks.

[2017-01-05 22:45] painter1 commented on #2149
done; it's cdms issue 71; sorry about putting it in the wrong place

[2017-01-05 22:45] #2149 closed

[2017-01-06 09:33] angshuiisc commented on #2148
Hi,
cdms2.open(str(filename)) is not helping. i am getting the same error.

**I have attached the code (in .zip)**
[four_panel.py.zip](https://github.com/UV-CDAT/uvcdat/files/689484/four_panel.py.zip)

Thanks

[2017-01-06 19:16] sankhesh commented on #2072
@bonfils2 Thank you. I'll try to reproduce the issue on my end too. But just so I fully understand it, you add a solid fillarea (with the background color) and then a pattern on top it, right?

[2017-01-06 19:17] doutriaux1 commented on #2072
@sankhesh yes she has data and she wants to see them bellow the hatching.

[2017-01-13 19:45] sankhesh commented on #2072
@bonfils2 @doutriaux1 I just created the attached pdf using the latest VTK master and it seems like all issues (including hatch over solid fillarea) have been resolved.

[vcs_patterns_index_10.pdf](https://github.com/UV-CDAT/uvcdat/files/705172/vcs_patterns_index_10.pdf)

![vcs_patterns_index_10](https://cloud.githubusercontent.com/assets/936354/21943310/b78c1762-d99e-11e6-9170-5ca4cb506de9.png)

[2017-01-13 20:00] williams13 commented on #2072
Fantastic! Can we get this checked out for the next release?

-Dean

From: Sankhesh Jhaveri <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Friday, January 13, 2017 at 11:45 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: Dean Williams <williams13@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [UV-CDAT/uvcdat] export patterns / hatches as vect

[2017-01-19 21:53] durack1 commented on #1997
@zshaheen @doutriaux1 @dnadeau4 I've just trying to update my `uvcdatNightly` conda environment and it seems that the `conda nightly` UV-CDAT channel no longer exists..

https://anaconda.org/uvcdat/uvcdat/labels - only `main`

Am I doing something wrong here, or have you changed things?

[2017-01-19 22:13] durack1 commented on #885
@dnadeau4 this was closed by UV-CDAT/cdms#59, but the comment above [link](https://github.com/UV-CDAT/uvcdat/issues/885#issuecomment-166439735) will be useful during the numba implementation.. If you have a numba issue already open it would be useful to copy this across

[2017-01-19 22:13] #885 closed

[2017-01-19 22:17] dnadeau4 commented on #1997
It seems that uvcdat/uvcdat is not updated since it has no build.sh.  Should we create a nightly uvcdat package so that `conda install uvcdat -c uvcdat/label/nightly` update to the latest?

[2017-01-19 23:29] zshaheen commented on #1997
@durack1 @dnadeau4 I don't think the nightly building from Travis that's in PMP is implemented in UV-CDAT. I'm looking [here](https://github.com/UV-CDAT/conda-recipes/tree/master/uvcdat).

[2017-01-19 23:41] durack1 commented on #1997
@zshaheen that's what I thought.. But the weird thing is the last time I installed UV-CDAT I was directed to a nightly channel that has since been deleted..

[2017-01-20 15:10] doutriaux1 commented on #1997
the nightly channel exists for each individual channels, not for uvcdat. You pick up each individual packages nightlies by passing the nighlty channel . You do not need a uvcdat nightly
`conda install uvcdat -c uvcdat/label/nightly` is bad by the way @dnadeau4 we are trying hard to have user use environments exclusively
to get nighlties you need:
`conda create -n NAME -c uvcdat/label/nightly -c uv

[2017-01-20 15:13] doutriaux1 commented on #1997
with that said we need nightlies for pmp , vcs and cdms2 do not seem to happen automagically. @zshaheen do you mind taking a look?

[2017-01-20 18:16] dnadeau4 commented on #1997
@doutriaux1 I though @durack1 wanted to update a package into an existing environment.  In that case you need `install` not `create`.

[2017-01-20 18:20] doutriaux1 commented on #1997
@dnadeau4 I see in this case let's post:
`conda install -n MYENV package -c channel`

[2017-01-20 18:44] dnadeau4 commented on #1997
@doutriaux1 sounds good!

[2017-01-20 19:08] zshaheen commented on #1997
@doutriaux1 I though pmp was working? Did you want to get vcs and cdms2 working as well?

[2017-01-20 19:56] doutriaux1 commented on #1997
i got cdms2 to work for sure will push vcs soon.

[2017-02-02 16:33] doutriaux1 opened #2153 "Getting more done in GitHub with ZenHub"
Hola! @doutriaux1 has created a [ZenHub](http://www.zenhub.com) account for the **UV-CDAT** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2017-02-02 16:36] #1889 closed

[2017-02-02 16:46] #1890 closed

[2017-02-02 16:46] #1919 closed

[2017-02-02 16:47] doutriaux1 commented on #1926
@dnadeau4 is that still true? Is this closed in cdms?

[2017-02-02 16:48] doutriaux1 commented on #1961
@aashish24 @danlipsa any progress on this? Should we close?

[2017-02-02 16:48] #1969 closed

[2017-02-02 16:49] #1976 closed

[2017-02-02 18:17] danlipsa commented on #1961
@doutriaux1 VTK has the capability to use EGL (graphics hardware on NVidia cards) for offscreen rendering. This is an alternative to OSMesa that provides better performance. We may have discussed this in the context of cdat web.

[2017-02-02 19:20] doutriaux1 commented on #1961
feel free to close then.

[2017-02-02 19:31] #1961 closed

[2017-02-15 17:04] jypeter opened #2155 "Update readme.md ?"
@doutriaux1 and @chaosphere2112 I have just visited the https://github.com/UV-CDAT/uvcdat page to have a look at the instructions at the bottom of the page and I got confused quickly because they are *a bit* obsolete. This page says that the latest version is 2.4.1! Which is right and false at the same time...

Could you write something here to say that the installation went from a full python ins

[2017-02-15 17:07] doutriaux1 commented on #2155
Thanks Jean-Yves we shall do this!

C.

From: Jean-Yves Peterschmitt <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Wednesday, February 15, 2017 at 9:04 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: Charles Doutriaux <doutriaux1@llnl.gov>, Mention <mention@noreply.github.com>
Subject: [UV-CDAT/uvcdat] Update readme.md ? (#2155)

@doutriaux1<https://githu

[2017-02-24 00:18] #2072 closed

[2017-03-06 22:51] durack1 opened #2157 "Standardize format reported by cdat_info.version()"
I've been using `cdat_info.version` to keep track of the `cdat` installed used for analysis. The output of this command has been varied through time, and I get the following output:
[code]

It would be great to standardize this, so **full releases** are numeric only e.g.`2.10` (so lose the leading `v` in `v2.8` above) and keep the **nightly** tag intact showing `major, minor, commit, hash`

[2017-03-06 22:59] doutriaux1 commented on #2157
@dnadeau4 we need to update cdat_info on conda-forge it's using an old string. We should move the build to use the uv-cdat repo to get correct info.

[2017-03-14 10:17] jypeter opened #2158 "Add a wiki page listing the different versions of CDAT"
When you go to the https://github.com/UV-CDAT/uvcdat/wiki/Install-using-Anaconda _Install_ page, you have the _Installing_ section that says

-   _conda create -n uvcdat-**2.x.y** -c conda-forge -c uvcdat uvcdat_
-   _source activate uvcdat-**2..x.y**_

It would be **a great help for users** to have here a link to the new page I'm suggesting, that would help people know which value to use for **2.

[2017-03-14 14:49] doutriaux1 commented on #2158
@jypeter 2.x.y is whatever you want, you can replace this with `best` or `#sad` if you want it's the name of your conda environment

[2017-03-14 14:50] doutriaux1 commented on #2158
@jypeter all of this is really conda related
[code]
would show you which version of uvcdat you would get.

[2017-03-14 14:53] doutriaux1 commented on #2158
@jypeter `nightlies` are built against the date as version so you can usually use this to go back in time
conda files/version are listed at http://anaconda.org/uvcdat/vcs/files
the order of channels is used to in case of versioning ties. conda will always install the most recent version but in case of ties it will use the one from the first channel in the list.

[2017-03-14 16:16] durack1 commented on #2158
@jypeter the `*nox` versions are built without `X11` hooks, so that you can happily generate graphics on a headless machine with no `opengl` confusion.. For operational systems that are often difficult to get an interactive session on this is best. For interactive plotting, you just want the vanilla (not the `*-nox`) version

[2017-03-14 16:18] durack1 commented on #2158
@jypeter I think you have some really good suggestions.. @doutriaux1 would you be willing to allow @jypeter to contribute to the install pages on this repo? I think his ideas, and his detail would certainly help out here.. It may also lead to a quicker path to better install docs, as rather than generating a new issue, the pages themselves are just updated.. many hand make light work??

[2017-03-15 19:26] durack1 commented on #1997
@doutriaux1 @zshaheen it seems that `uvcdat` nightlies are having problems:
[code]
This is on a `redhat6` machine:
[code]

[2017-03-15 19:39] doutriaux1 commented on #1997
@durack1 I think it's the lab that doesn't let you out. Did you see: https://github.com/UV-CDAT/uvcdat/wiki/Install-using-Anaconda and also did you click on the lab banner before going out to the internet?

[2017-03-15 19:40] zshaheen commented on #1997
FYI, this may be an issue on Anaconda's side, since we're getting a truncated error message. If I remember correctly, the PackageNotFoundError was more verbose.

`conda install` uses `conda search` to find the packages. `conda search` currently doesn't work for me.

[2017-03-15 19:44] zshaheen commented on #1997
I also get the same error message as @durack1 on aims2, which is runnin RHEL 7.

[2017-03-15 19:53] durack1 commented on #1997
@doutriaux1 this is happening at GFDL, so nothing to do with the LLNL cert/authentication stuff

[2017-03-15 19:54] durack1 commented on #1997
@doutriaux1 @zshaheen if you want to test things out you can use:
[code]
You should get a similar error to me..

[2017-03-15 19:55] durack1 commented on #1997
@doutriaux1 @zshaheen, my question then, is this an anaconda issue, or are one of the UV-CDAT dependencies not there, and so things fail

[2017-03-15 19:59] doutriaux1 commented on #1997
ok you forgot a `-c uvcdat` so it cant find some package that are on the uvcdat channel only (like `uvcdat` for instance)

You can pester conda team about having a better message

bottom line you want:

[code]

[2017-03-15 19:59] #1997 closed

[2017-03-15 21:22] durack1 commented on #1997
@doutriaux1 can you label this one "*user error*" please? :)

[2017-03-16 06:28] Rex-Diego opened #2159 "How to make pressure/height cross section plot?"
I'm looking for examples to plot a pressure-latitude like this:

![test](https://cloud.githubusercontent.com/assets/7078058/23984425/8070e082-0a54-11e7-9f7c-fcb1d4ec4186.png)

which is created using NCL. Any idea how to do this with UVCDAT?

[2017-03-16 14:57] doutriaux1 commented on #2159
@Rex-Diego that would be the `xaxisconvert` option on vcs's graphics method. Unfortunately I believe it's is disabled in `2.8.1` I will check to see if it's back in the upcoming release. (`2.10`)

[2017-03-17 00:35] Rex-Diego commented on #2159
@doutriaux1 Thanks!

[2017-03-19 23:53] Rex-Diego opened #2160 "How can dv3d.3d_vector display a full 3d vector plot?"
I want to have a plot like this one

![3d vec](https://cds.nccs.nasa.gov/wp-content/uploads/2013/11/GlyphVolume-1.jpeg) in [this](https://cds.nccs.nasa.gov/tools-services/3d-model-analysis/)  site.

but following the tutorial , can only get ![plane 3d](https://uvcdat.llnl.gov/images/vcs3d-2.png). It's only a slider which display a plane 3d vectors.

And after google all around, I cannot find a tip

[2017-03-20 14:03] doutriaux1 commented on #2160
Hi Rex,

I’m 99% sure you can do this, I’m a bit busy preparing the release I’m CCing Tom Maxwell that wrote this bit. Hopefully he can get back to you faster than me.

C.

From: Rex Diego <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Sunday, March 19, 2017 at 4:53 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

[2017-03-20 16:52] ThomasMaxwell commented on #2160
There is a vector volume plotter in dv3d but it does not seem to be exposed currently in the UVCDAT GUI.   You should be able to generate these plots using the vcs3D python API.

-- Tom

From: Charles Doutriaux <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Monday, March 20, 2017 at 10:03 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: Subscribed <subscrib

[2017-03-22 05:44] Rex-Diego commented on #2160
@ThomasMaxwell That seems so hard to me, I have no idea what vcs works and where I can get the document about its API. Maybe I will try this in the future after having more knowledge about UVCDAT.

[2017-03-22 05:46] Rex-Diego commented on #2160
@doutriaux1 Thanks very much for your reply. But I'm sorry I'm new to UVCDAT, and is not that familiar with it. Mayby later I will try what Tom said.

Thanks again!

[2017-03-22 16:03] doutriaux1 commented on #2160
Rex,

I will try to send you a short python script that does this shortly, but it might be a couple of weeks ☹

If anybody on this list (Tom?) could beat me to this that would be wonderful!

C.

From: Rex Diego <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Tuesday, March 21, 2017 at 10:46 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: "Doutriaux, Charles

[2017-03-23 01:29] Rex-Diego commented on #2160
@doutriaux1 You are so nice,bro!

[2017-03-23 02:31] Rex-Diego opened #2161 "lat-lon plot got reverse axis"
It seems easy to plot a lat-lon variable using vcs, but when it comes to Hadley sst data, something went wrong like this:
![hadley](https://cloud.githubusercontent.com/assets/7078058/24229090/ccc1067a-0fb2-11e7-8536-077cee40beac.png)

This is my code:
[code]

and the file ```HadSST.3.1.1.0.climatology.1.nc``` could be found [here](http://www.metoffice.gov.uk/hadobs/hadsst3/data/HadSST.3.1.1.0/netc

[2017-03-23 03:34] pochedls opened #2162 "cdscan failing on missing value"
Running on crunchy (there is only one file in this directory):
`cd /p/user_pub/work/pochedley1/cmip5/piControl/hfss/`
`cdscan -x test.xml *.nc`

I get this error:
`Finding common directory ...
Common directory:
Scanning files ...
hfss_Amon_MRI-CGCM3_piControl_r1i1p1_185101-235012.nc
Setting reference time units to days since 1851-01-01
Traceback (most recent call last):
  File "/export_backup2/poc

[2017-03-23 16:22] doutriaux1 commented on #2161
@Rex-Diego data is stored that way in the file, you have a few options
* Option 1 : at read time
[code]
* Option 2: You know it needs flipping, do it manually
[code]
* Option 3, via vcs graphic method
[code]

More info on boxfill can be found in tutorial: https://uvcdat.llnl.gov/iPython/boxfill/boxfill.html
I also recommend: https://uvcdat.llnl.gov/iPython/Basic_VCS_demo/Basic_VCS_demo.html

Hope

[2017-03-23 21:55] pochedls commented on #2162
For some reason, I thought issue #2145 was closed. If I modify my cdscan function following @painter1's suggested update to cleanupAttrs(), cdscan appears to work.

I'll leave this updated function in place and this ticket can be closed as a duplicated.

[2017-03-23 21:58] pochedls commented on #2162
For some reason, I thought issue #2145 was closed. If I modify my cdscan function following @painter1's suggested update to cleanupAttrs(), cdscan appears to work.

I'll leave this updated function in place and this ticket can be closed as a duplicated.

[2017-03-23 21:58] #2162 closed

[2017-03-23 23:36] Rex-Diego commented on #2161
@doutriaux1 Thanks soooooo much!

I never thought about option 1or2 should work, because I'm familiar with NCL, and NCL will always plot data according to its axis(cordinate). So I paied more attention to what's going wrong with the axises.
Option 3 is elegant, I learned a lot from you!

[2017-03-23 23:36] #2161 closed

[2017-03-23 23:56] doutriaux1 commented on #2161
@Rex-Diego yes uv-cdat is *better* that way that we **NEVER EVER** assume we are smarter than the user. If the user provides data going North to South the we plot it that way, unless the user actually tells us otherwise.

[2017-03-26 22:53] glpotter opened #2164 "fix location of legend with EzTemplate"
I'm using EzTemplate to make 2 plots on a page and I have nearly everything but I can' figure out how to move the legend away from plot.
 I can't tell if there are more controls on the legend than the list below:
![ua](https://cloud.githubusercontent.com/assets/14208252/24335964/fcf4abfe-123b-11e7-89e3-74b75358c6c9.png)

Type:        Legend
String form:
direction = horizontal
stretch = 0.8
thickne

[2017-03-27 15:30] doutriaux1 commented on #2164
You can either move it by yourself on your input template to EzTemplate
Or move it after the fact.

Also you can control a few more elements when initializing the Multi object:

    def __init__(self,columns=2,rows=3,

                 template='default',

                 top_margin=.05,bottom_margin=.075,left_margin=.033,right_margin=.05,

                 horizontal_spacing=0.05,vertical_spacin

[2017-03-28 19:52] glpotter opened #2166 "opendap"
Has anyone tried opendap recently?
Here is an address that I know works but cdat won't open it.

https://dataserver.nccs.nasa.gov/thredds/dodsC/bypass/CREATE-IP/reanalysis/MERRA/mon/atmos/ua.ncml
I did delete the .dodsrc file

Grads opens it fine..

[2017-03-28 20:16] doutriaux1 commented on #2166
hum.. it's https:// I wonder if that is the issue. What do you think @dnadeau4 ?

[2017-03-28 20:17] doutriaux1 commented on #2166
here at the lab I can't see it, even in a browser i get:
[code]

[2017-03-30 15:06] stott opened #2167 "setting custom range"

[2017-03-30 15:19] doutriaux1 commented on #2167
Can we have more details please?

[2017-03-30 15:25] stott commented on #2167
I'm sorry Charles. My note was truncated before hitting send.

I'm attempting to configure a module in VisTrails with an isofill plot. To
create the plot I'mve used a CDMSBinary Variable Operation to make a simple
calculation and produce a new variable. This works fine. But, when I add a
DMSIsofill module and attempt to set a custom range, everytime I hit
"Generate Ranges" the module returns to th

[2017-03-30 20:14] stott opened #2168 "Setting custom ranges"
I'm sorry Charles. My previous post was truncated before hitting send.

I'm attempting to configure a module in VisTrails with an isofill plot. To create the plot I've used a CDMSBinary Variable Operation to make a make a simple calculation and to produce a new variable. This works fine. But, when I add a DMSIsofill module and attempt to set a custom range, every time I hit "Generate Ranges" the m

[2017-03-31 14:03] doutriaux1 commented on #1954
@jypeter It's in the nightlies now.

[2017-03-31 14:03] #1954 closed

[2017-04-05 19:48] doutriaux1 commented on #1397
@danlipsa @aashish24 we should take a look at this one!

[2017-04-05 21:49] durack1 commented on #1740
@danlipsa: @chaosphere2112 @durack1 @doutriaux1 This works with vcs SHA f6a88670f89bcbd476c106c6d5695902581ca565 from Apr 5.

[2017-04-05 21:49] #1740 closed

[2017-04-07 19:09] danlipsa commented on #2082
This was solved/improved with VTK fixes contained in the current VTK used by vcs: 73fb094d17ccdd594a6abf9ff8732149c88dc2e6. Note the corresponding vcs bug was already closed.

[2017-04-07 19:09] #2082 closed

[2017-04-07 20:08] danlipsa commented on #2073
@doutriaux1 @aashish24 vcs/vtk does support math text using the syntax:
"$E=mc^2$".

This is the syntax that matplotlib uses and it is a subset of latex. Is the syntax you used the legacy vcs syntax? Do we need to support that or should we switch to the much more common matplotlib/latex syntax.
Note that you can write entire formulas with this syntax.
http://www.paraview.org/Wiki/File:MathText-sph

[2017-04-10 02:33] doutriaux1 commented on #2073
@danlipsa true and tested a few weeks back, I want to write a jupyter notebook about it. The sad part though is that it's via matplotlib...

[2017-04-10 15:07] danlipsa commented on #2073
@doutriaux1 I'll rename this issue than, to tell us to write a jupyter tutorial ...

[2017-04-10 15:56] doutriaux1 commented on #1996
deprecated for now

[2017-04-10 15:56] #1996 closed

[2017-04-10 16:02] doutriaux1 commented on #1583
closed via uv-cdat/vcs#76v

[2017-04-10 16:02] #1583 closed

[2017-04-10 17:34] chengzhuzhang commented on #2040
Hi Charles @charlesdoutriaux ,

Here is our repo for acme_diags:
https://github.com/zshaheen/acme_diags
Here is the documentation to run the package on aims4:

https://github.com/zshaheen/acme_diags/blob/master/docs/quick-guide-aims4.ipynb
make sure in myparams.py, set backend = 'vcs'

If you do below (which create a lot of pngs)
set5_driver.py -p myparams.py

Process gets slower and slower. No pr

[2017-04-10 17:38] durack1 commented on #2040
@chengzhuzhang does your behavior look similar to https://github.com/UV-CDAT/uvcdat/issues/1424#issuecomment-114927604? So you get a progressive slow down after each loop step?

Oh and @doutriaux1 is the best github handle for Chucky (@charlesdoutriaux is his personal/non-work handle)

[2017-04-10 17:44] zshaheen commented on #2040
@chengzhuzhang I'm fairly sure we're getting the libGL error b/c we **aren't** using vcs-nox. I'll try with that and we'll see what's good.

@doutriaux1 No need to run it. If we're still getting errors, we'll let you know.

[2017-04-10 19:53] chengzhuzhang commented on #2040
@durack1 Thank you for the hint in poking Chucky :)
We will update here if vcs-nox can fix the libGL and the slowness.

[2017-04-10 21:50] durack1 commented on #1590
@doutriaux1 @dnadeau4 I have hit a similar problem with the data found at:
[code]

[2017-04-11 20:57] ThomasMaxwell commented on #2160
Rex,
   Here is a simple example script from the vcs documentation on the UVCDAT web site:  https://uvcdat.llnl.gov/documentation/vcs/vcs-8.html#vcs3D_animation

def simplevector():
                import vcs, cdms2, sys
                x = vcs.init()
                f = cdms2.open(sys.prefix+"/sample_data/clt.nc")
                v = f["v"]
                u = f["u"]
                dv3d = vcs.ge

[2017-04-12 23:32] durack1 opened #2169 "cdat_info has debug print statement"
The output of `cdat_info.version()` has a print statement that I assume was included for debugging and should be removed:
[code]
It's [here](https://github.com/UV-CDAT/uvcdat/blob/master/Packages/cdat_info/Lib/cdat_info.py#L10)

[2017-04-13 14:06] doutriaux1 commented on #2169
fixed in master will be in next release.

[2017-04-13 14:06] #2169 closed

[2017-04-20 21:46] dnadeau4 commented on #2129
@JimBiardCics can you try again.  I get Latitude from 31 to 34.
[code]

[2017-04-20 21:47] dnadeau4 commented on #2129
I also fixed getBounds for Latitude if not in degrees_north units.

[2017-04-20 23:36] dnadeau4 commented on #2014
@mzelinka This is solved!

[2017-04-20 23:36] #2014 closed

[2017-04-21 08:13] stefraynaud opened #2171 "Rebuild all packages with conda >= 2.0?"
When trying to build with conda a package that depends on uvcdat,
I faced this error message:

[code]

It seems that a lot of uvcdat subpackages have been built a long time ago, including binaryio: https://anaconda.org/uvcdat/repo?page=1

[2017-04-24 14:13] doutriaux1 commented on #2171
@stefraynaud we will be rebuilding all this for 2.10 coming very soon. Thx for reporting!

[2017-04-25 18:35] danlipsa commented on #2059
We fixed this but there is an issue remaining.
https://github.com/UV-CDAT/vcs/issues/181

[2017-04-25 18:35] #2059 closed

[2017-04-25 18:54] danlipsa commented on #1975
@doutriaux1 @aashish24 Do we have an example where we show two legends for the same plot: we'll need one for the scalar and one for the vector in the following test:
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_basic_vectors_45_2_amplitude.png

[2017-04-25 21:08] danlipsa commented on #1975
@doutriaux1 This kind of problem is handled by the templates, isn't it? So I should not worry about this for now - I just have to place the legend where the template says.

[2017-04-26 05:41] doutriaux1 commented on #1975
@danlipsa exactly, if they overlap then the user needs 2 templates

[2017-04-26 22:05] durack1 commented on #1151
Closed in UV-CDAT/cdms#57

[2017-04-26 22:05] #1151 closed

[2017-04-26 22:06] durack1 commented on #1807
Closed by 232870dfe4c5afe8c3d24afbf292c856335c1bd7

[2017-04-26 22:06] #1807 closed

[2017-04-26 22:07] durack1 commented on #1808
Closed by 91141a6bc512e6b0baff37f980f99b7f43dfeef8

[2017-04-26 22:07] #1808 closed

[2017-05-03 21:16] JimBiardCics commented on #2129
@dnadeau4  I still see the problem with cdms2 version 2.8.1 (that's what's available on the uvcdat conda channel). Why don't we close this and move to the migrated issue that @chaosphere2112 made.

[2017-05-05 03:41] doutriaux1 commented on #2171
fixed in 2.10

[2017-05-05 03:41] #2171 closed

[2017-05-08 17:20] doutriaux1 opened #2172 "logger should cache records until server acknowledge success"
in case server for logger goes down or user has no internet, save locally info until next successfull handshake.

[2017-05-08 23:19] lee1043 opened #2173 "Color legend extension does not provide continous color when using colormap"
While testing 2.10, I've found that extending legend using ext_1 and ext_2 option may have issue. It looks okay when ext_1 and ext_2 options are used with the default color map. However if I apply different color map instead of the default one it gives noncontinuous colors for the extension part, triangles at sides.

Below is the case using default color map:

[code]
![test1](https://cloud.githubu

[2017-05-09 00:27] doutriaux1 commented on #2173
@lee1043 this is because since 2.8 vcs is using the full range of colors (0,255) since we can use string names or rgb for colors. Your colormap has been designed for the old vcs hence you need to use the range(16,240) to select colors
I recommend.

``python
x.clear()
x.setcolormap('bl_to_darkred')
iso = x.createisofill()
levels = list(range(0,110,10))
# Adding -1.e20 / 1.e20 at ends of levels turn

[2017-05-09 16:48] lee1043 commented on #2173
@doutriaux1 Thanks for inform, but I prefer the previous way of adding extension and select color map which is more explicit for users. Any plan to make the previous way available?

[2017-05-10 14:54] doutriaux1 opened #2174 "submitPing should cache datsa in case server is dead"
while we're at it we should probably encrypt local data?
see: http://stackoverflow.com/questions/6425131/encrypt-decrypt-data-in-python-with-salt

[2017-05-10 14:56] doutriaux1 opened #2175 "anonymous logger should point to a page explaining what this is about"
And we need to create this page.

[2017-05-10 22:02] glpotter opened #2176 "Opendap with cdms2"
UVCDAT won’t open opendap addresses generated by a thredds server (not ESGF) - there is a certificate issue with the computer with grads.

For example:
https://esgf.nccs.nasa.gov/thredds/dodsC/CREATE-IP/reanalysis/NASA-GMAO/GEOS-5/MERRA2/mon/atmos/tas/tas_Amon_reanalysis_MERRA2_201501-201512.nc

using uvcdat 2.10:

Python 2.7.13 | packaged by conda-forge | (default, May  2 2017, 12:48:11)
[GCC 4.8

[2017-05-11 01:40] durack1 opened #2177 "Correct cdat_info.version() '2.8.10' -> '2.10.0'"
@doutriaux1 it seems that for the v2.10 release `cdat_info.version() - > ['', '2.8.10'] `

This seems wrong and should be fixed before the release is announced

[2017-05-11 13:12] doutriaux1 commented on #2177
fixed thx

[2017-05-11 13:12] #2177 closed

[2017-05-15 22:43] doutriaux1 opened #2178 "ask anonymous should periodically ask again in case it's no"

[2017-05-16 00:11] dnadeau4 commented on #2176
Jerry is this working? if so can you close it.  It works fine here.

[2017-05-16 02:20] glpotter commented on #2176
I need to check the ESGF opendap files

Sent from my iPhone

[2017-05-16 07:26] Xunius commented on #511
I believe I encountered the same issue, except that it didn't freeze my UVCDAT, probably because I've got a rather large 64G phyical RAM.
The data (ERA-I 0.75x0.75) is (7304,3,214,480) in shape. On disk it is around 5.0G, but upon loading it uses about 20G RAM. I noticed another issue #1030 about large file problem. In my case I wasn't doing any plotting, just reading in the data.

Also after load

[2017-05-16 16:02] #2178 closed

[2017-05-16 16:07] #2172 closed

[2017-05-16 16:07] #2174 closed

[2017-05-19 01:08] durack1 opened #2181 "Tangled 2.10.0 conda install"
@doutriaux1 I have just tried to get the latest `2.10.0` installation via conda using:
[code]
The packages I get using this are:
[code]
Looks to me like `vcs`, `vtk` and `dv3d` are getting older versions..

Full disclosure:
[code]

[2017-05-20 00:43] durack1 commented on #2181
This is most likely due to conda/conda#5295

[2017-05-20 17:43] doutriaux1 commented on #2181
@durack1 yes it's a conda bug, the web page instructions indicate this. You need to downgrade your conda as indicated on web page: https://github.com/UV-CDAT/uvcdat/wiki/install

[2017-05-20 23:29] durack1 commented on #2181
@doutriaux1 the downgrade is a real pain, particularly when it triggers conflicts with other packages.. Did you get any suggestion of date for a likely fix in conda?

[2017-05-22 13:23] doutriaux1 commented on #2181
@durack1 not sure what you mean. I downgraded on many machines it was painless. Just yank the bad uv-cdat environment an re-create one with the downgraded conda. It should not affect any other envs. Can you please provide some details?

[2017-05-22 18:12] durack1 commented on #2181
@doutriaux1 I'd be really surprised if you don't get a whole bunch of users who neglect to read your guidance about having to degrade their conda install and hit the same issue as I have in this issue.. It'll have to be really cleanly described in the announcement - and a quick new release (or follow up announcement) when they fix the conda bug

[2017-05-22 18:17] doutriaux1 commented on #2181
yes sir

[2017-05-22 18:17] doutriaux1 commented on #2181
no need for a new release when they fix conda. Since it has nothing to do with the release.

[2017-05-22 18:20] durack1 commented on #2181
Just my suggestion.. Do as you like. I've hit weird conflicts updating some packages, which have then upgraded/downgraded the conda version for the environment.. It's also suggested that updates had to occur in order to install packages with newer conda. I hope they fix it all soon, these tangles are a pain to deal with - as I know you are very aware..

[2017-05-24 13:19] doutriaux1 commented on #2173
@lee1043 sorry about this, I don't think we will switch back to using less colors. @aashish24 @sankhesh we could provide a 255 color version of the *old
* 240 colors versions? Would that help @lee1043

[2017-05-30 17:51] pochedls opened #2182 "Expected time slice behavior?"
I wanted to see if something I am experiencing is expected behavior. I am using UVCDAT v2.10.

I am trying to load monthly surface temperature data over the same time range (01-1979 through 12-2016). Using the same command I get different length time series, though both have data over this entire record. One ends on 2016-12-1 and the other ends on 2016-11-15 (prematurely - at least compared to the

[2017-05-30 23:18] dnadeau4 commented on #2182
@pochedls Can you check that your time are exactly 1979-01-01T00:00:00 and 2016-12-01T00:00:00 on both files.

You can use `ncdump -t -v time gistemp1200_ERSSTv4.nc`  to translate the time into a human readable format.

I am a bit puzzled by the `bounds` warning as well,  I wrote this for longitudes that are not quite at `-180.0,180.0`.  but you are...

[2017-05-30 23:20] dnadeau4 commented on #2182
@pochedls your file `gistemp1200_ERSSTv4.nc` seems to be at the center time `2016-12-16` this is why you are missing 1 month.

[2017-05-31 16:13] pochedls commented on #2182
@dnadeau4 - thanks for looking at this. I see - so this is the expected behavior and opening monthly files in this way probably converts the '2016-12' to something like '2016-12-15'.

I see now that I can get the full time series by specifying the day as well, i.e., `temp = f('tempanomaly', time=('1979-01-01','2016-12-31'))` [I hadn't noticed this in the documentation, though this is obvious in hi

[2017-05-31 17:46] dnadeau4 commented on #2182
I am actually refreshing the documentation using `sphynx`  I will add your code to it.
I should be on `readthedocs` site someday...
https://github.com/UV-CDAT/cdms/blob/cdmsdocs/docs/source/manual/cdms_1.rst

[2017-06-01 19:25] #1372 closed

[2017-06-01 19:25] #409 closed

[2017-06-01 21:23] taylor13 commented on #2182
@dnadeau4 I'll provide input on the time issue shortly, but first the longitude warning message.  The code that produces this is:

        if(self.isLongitude() and hasattr(self, 'units') and
                (self.units.find('degree') != -1) and len(retbnds.shape) == 2):
            # Make sure we have close to 360 degree interval
            if(abs(abs(retbnds[-1, 1] - retbnds[0, 0]) - 360) <

[2017-06-01 22:23] cameronsmith1 opened #2183 "Clicking on 'no' for sending sessions details stops UVCDAT from loading."
When loading UVCDAT for the first time (on Crunchy.llnl.gov), and I click on 'no' to the prompt about collecting anonymous usage information, the code hangs on the splash screen.

When I run with --output-std, it appears it is looking for user input on the Linux command-line.  When I type 'no', UVCDAT then works.

Clicking on the 'yes' button works fine.

[2017-06-01 22:32] cameronsmith1 opened #2184 "Plotting with a_boxfill kills UVCDAT (2.10)"
I am running UVCDAT on crunchy.llnl.gov (v2.10)

When I try to plot a variable with a_boxfill, the gui window flashes a lot, then dies.  --output-std provides the following errors:

[code]

[2017-06-01 23:53] taylor13 commented on #2182
@doutriaux1 I think the CDMS assume the *beginning" of the month is meant if you leave off day (and beginning of the day is meant if you leave off hours-minutes-second), so 2016-12 is equivalent to 2016-12-01 00:00:00.0

You can further control which time-slices are selected using an "indicator" (defined in the mapIntervalExt specifications).  Here is an example:

         data = ta.subRegion(time

[2017-06-02 00:34] cameronsmith1 commented on #2184
UPDATE:  The problem described above occurs when running an x-client on a PC (Windows 7 with x-win32).
When I try it using a Linux Client, UVCDAT doesn't die and produces the plot.

[2017-06-02 01:52] doutriaux1 commented on #2184
@cameronsmith1 this is a known VTK issue. @aashish24 @danlipsa @durack1 we really need to come up with some sort of script to run on machine. I have never been able to run vtk through an X forwarding.

[2017-06-02 01:54] doutriaux1 commented on #2184
@danlipsa provided some instructions at: https://github.com/UV-CDAT/vcs/issues/117

[2017-06-02 03:09] cameronsmith1 opened #2185 "UVCDAT GUI: 'load variable' window doesn't update variable list for previously opened file."
I am currently using UVCDAT gui, v2.8, on Edison.

I loaded a variable from a netcdf file.  Then I realized that I needed another variable, so I regenerated the netcdf file with the extra variable.  However, when I go into the 'load variable' window, I select the file again but it doesn't update the variable list.   I presume the list is cached and not refreshed.   If I rename the netcdf file I ca

[2017-06-09 17:21] #1887 closed

[2017-07-18 00:19] lee1043 opened #2186 "Plot vector for sub-region: "datawc" for vector plot not working"
I am testing uvcdat 2.10 with currently displayed examples on gallery.

Target:

https://raw.githubusercontent.com/UV-CDAT/UV-CDAT_scientific_examples/master/plots/example_850mb_rh_ts_gph_jja_clim.png

However I am not able to reproduce this example which plots vector for sub region.

Below script is simple version of above example, including only vector part.

[code]

Error occurs at below part.

[2017-07-18 18:32] lee1043 commented on #2186
@doutriaux1 This is the vector issue that I mentioned at the meeting. Do you have any comment on this?

[2017-07-26 12:08] jypeter opened #2187 "A way to print a "Message Of The Day"?"
Does anybody know if there is a way to automatically print a MOTD when people:
- Initialize their environment with _source activate somecdatversion_
- or execute _python_

I maintain a _mutli-user uvcdat_ (several versions used by several people) on our servers, and it would be convenient to be able to use a MOTD to give people some basic information/hints, e.g. to tell people about the latest ins

[2017-07-26 13:14] doutriaux1 commented on #2187
You could set their environment variable PYTHONSTARTUP to point to a file (/usr/local/blah) containing
[code]

Which in my case would return:
[code]

[2017-07-26 13:16] doutriaux1 commented on #2187
Note that for this to work as well with ipython you would has to symlink ${HOME}/.ipython to the file that `PYTHONSTARTUP` point to

[code]

[2017-07-26 14:29] doutriaux1 commented on #2187
@jypeter another is to have a bash function that automatically picks the latest conda env for them:
[code]

[2017-07-26 15:37] jypeter commented on #2187
Thanks @doutriaux1 for all the leads! But I'd like something as lightweight as possible, and requiring little configuration in the users' environments

For now, I just have my users type, or add the following to their _bashrc_
[code]
and the content of _~jypeter/.conda_jyp.sh_ is
[code]
If there is no existing way to have conda print a MOTD (just _cat somefile_) when people type _source activate_

[2017-07-26 17:26] doutriaux1 commented on #2187
The only way would be to create a conda package for this. conda packages can extend source activate

[2017-07-27 12:52] jypeter commented on #2187
Good to know, thanks! But quite an overkill for what I need
Now I have to (find time to) experiment

[2017-08-16 20:58] lee1043 opened #2188 "Boxfill does not follow levels"
While I was able to adjust color levels for isofill, I was not able to do this with the boxfill.

[code]

![test1](https://user-images.githubusercontent.com/17091564/29384939-c04d3666-828a-11e7-9a26-ba0d9420a377.png)

[code]
![test2](https://user-images.githubusercontent.com/17091564/29384966-dafa274e-828a-11e7-855d-6d67af34985c.png)

No change on color bar regarding setting box.levels

[2017-08-16 21:44] doutriaux1 commented on #2188
@lee1043 this is because `boxfill` acts a little differently, please see tutorial at: https://uvcdat.llnl.gov/iPython/boxfill/boxfill.html

Basically in order to have `boxfill`  behave like a `isofill` use:
[code]
otherwise you have to use `color1` / `color2` and `level1` / `level2`

[2017-08-16 21:45] #2188 closed

[2017-08-16 21:45] doutriaux1 commented on #2188
@lee1043, in the future,  you might also want to report vcs bugs on the vcs repo issue tracker.

[2017-08-16 22:39] lee1043 commented on #2188
@doutriaux1 Thanks!

[2017-08-23 02:16] doutriaux1 commented on #1345
@chaosphere2112 if you would happen to have the code handy it would be  great. Otherwise don't worry I can rewrite it in 15mn. Thx

[2017-08-23 02:20] chaosphere2112 commented on #1345
That color map code? Long gone, I'm afraid. Did @durack1 finally get this onto your list 😆?

[2017-08-23 02:26] durack1 commented on #1345
@chaosphere2112, who says persistence doesn't pay?!

[2017-08-23 13:28] doutriaux1 commented on #1345
no worries @chaosphere2112, it's a 15mn job top.

[2017-08-23 20:09] zshaheen commented on #2184
I'm also getting this error on `vtk-cdat-7.1.0.2.12-py27hd6333ce`. This is with X forwarding, even though I have mesalib 17.1.4 installed.

[2017-08-23 20:37] zshaheen commented on #2184
The problem was fixed when using the one with the mesalib feature enabled: `vtk-cdat-7.1.0.2.12-py27_mesalibh6bab67e`

[2017-08-30 14:06] stefraynaud opened #2189 "regrid2 built via conda with numpy 1.9 while cdms2 with 1.11"
There is no version of regrid2 conda package built with numpy 1.11 unlike cdms2.
Is it intentional?

[2017-08-30 14:11] doutriaux1 commented on #2189
yes since `2.10` it should be coming from cdms2, we bundled them together.

[2017-08-30 16:43] #1424 closed

[2017-09-05 16:10] #2189 closed

[2017-09-05 16:11] #2187 closed

[2017-09-05 16:15] doutriaux1 commented on #2181
@durack1 fixed by moving vtk on uvcdat channel on a deidcated `2.6` label. Works now

[2017-09-05 16:15] #2181 closed

[2017-09-05 16:16] doutriaux1 commented on #2182
@dnadeau4 can we close this?

[2017-09-05 16:17] doutriaux1 commented on #2176
@glpotter I tihnk it's working, please re-open if not.

[2017-09-05 16:17] #2176 closed

[2017-09-05 16:24] #2173 closed

[2017-09-05 16:25] doutriaux1 commented on #2168
@stott sorry for the late reply. We are in the process of deprecating vistrails (in 3.0), so while 2.12 will still ship with vistrails we pretty dropped support for it.

[2017-09-05 16:25] #2168 closed

[2017-09-05 16:26] doutriaux1 commented on #2166
@glpotter do you mind close this if it works for you and if not post it on cdms repo for @dnadeau4 to take a look? Thanks

[2017-09-05 16:27] #2167 closed

[2017-09-05 16:27] #2164 closed

[2017-09-05 16:28] #2158 closed

[2017-09-05 16:37] taylor13 commented on #2182
I think, before closing someone should confirm that my definitions of n, e, b, and s are correct, and assuming they are, replace the section of the original documentation with the above.

[2017-09-07 12:44] jypeter opened #2190 "conda remove error (when removing a clone of 2.10)"
@doutriaux1 I got the following error messages when trying to uninstall cleanly the 2.10 version I cloned yesterday before adding openmpi for my tests. Is this pcmdi stuff?

Note that I get the error messages, but my cdatmpi is gone from the `envs/` directory after I execute `conda remove`

[code]

[2017-09-07 15:01] doutriaux1 commented on #2190
@jypeter well... uvcdat does bring jupyter in as a convenience thing, but that error message is jupyter related, i'd post an issue there.

[2017-09-07 15:01] #2190 closed

[2017-09-12 08:15] jypeter commented on #2186
@lee1043 Seems to be the same error I reported in https://github.com/UV-CDAT/vcs/issues/184

[2017-09-25 11:03] jaigsingla opened #2191 "Places annotations over globe"
Hello ,

How can I place annotations or vectors layers over globe in this canvas?

thanks
Jai

[2017-09-25 14:20] doutriaux1 commented on #2191
I will add a jupyter notebook for this, but essentially if you have two variables (data1, data2) on the same grid

[code]

To control option on vectors
[code]
will show you the list of options.

Annotation are made via templates
[code]

[2017-09-26 08:56] jaigsingla commented on #2191
Hello,

Actually i also want to place place names like country names, major river names, mountains etc on the base map.

thanks
Jai

[2017-09-26 16:16] doutriaux1 commented on #2191
ok I will create a jupyter notebook to explain this as well.
I'll post the link here
for now:
[code]

[2017-09-27 06:46] jaigsingla commented on #2191
Hello,

Thanks for sharing this . It works well. So , like that we can go on adding information as n when required.

thanks

[2017-10-11 06:06] cbraver opened #2192 "3D vector animation error"
My data is (8, 21, 45, 70) and the dimensions are  (time, level, lat, lon). my code is:

import vcs, cdms2

x = vcs.init()
f = cdms2.open('all.nc')
v = f["v"]
u = f["u"]
dv3d = vcs.get3d_vector()
dv3d.BasemapOpacity = 0.19
dv3d.ZSlider = 0.5
dv3d.GlyphDensity = 3.5
dv3d.GlyphSize = 0.27
x.plot(u, v, dv3d)
x.interact()

when I click the animate and step, I got the following messages:

ERROR: In /ex

[2017-10-11 14:57] doutriaux1 commented on #2192
Hello,

Could you post your netcdf file somewhere so I can try to reproduce this with your data?

Thanks.

[2017-10-12 01:59] cbraver commented on #2192
Here is my netcdf file:

https://drive.google.com/open?id=0B1lsRjDOKJFRbmVjN1ljTC0tc2M

it is from 8 single files with the nco's ncrcat command

the animation of scalars like T(temperature) is OK

Thanks for your reply.

[2017-10-12 15:14] doutriaux1 commented on #2192
got it thanks will take a look shortly

[2017-10-25 22:50] cameronsmith1 opened #2193 "Plotting a 1D variable with Yxvsx default kills UVCDAT 2.12"
I am trying to plot a 1D variable with the Yxvsx default method in UVCDAT (v2.12).   I am running this on Crunchy, using xwin32.
UVCDAT quickly dies, and gives the following messages:
[code]

[2017-10-25 22:59] doutriaux1 commented on #2193
it works for me exporting from crunchy to my mac via X forwarding

[2017-10-25 22:59] doutriaux1 commented on #2193
@danlipsa any hint?

[2017-10-25 23:40] cameronsmith1 commented on #2193
I just tried it from a different computer using a different X system, and it plotted OK.    Hence, it seems to be related to the specific X system  However, it is strange that the main window, and the data loading and selection, work fine, and it is only a problem when plotting.

[2017-10-26 04:54] doutriaux1 commented on #2193
plotting requires opengl support.

[2017-10-26 04:54] #2193 closed

[2017-11-06 10:50] yyplanton opened #2194 "Can't install uvcdat"
Hi,
I tried to install uvcdat on a server where I'm usually postprocess CMIP5 data.
One problem is that the conda version installed on the server is old... so I can't install uvcdat (MEMORY ERROR).
So I tried to install using miniconda:
wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh
And use it to install uvcdat: miniconda/bin/conda create -n myuvcdat uvcdat -c conda-for

[2017-11-06 15:35] doutriaux1 commented on #2194
Netcdf has just been updated! I think that is your issue
try:
[code]

Let me know if this helps, if it does I will update the doc.

C.

[2017-11-07 08:39] yyplanton commented on #2194
It's working!
Thank you very much Charles.

Yann

[2017-11-13 13:04] stefraynaud commented on #2194
@doutriaux1, how to use this recommendation to fix the following installation errors?
Two cases. First one:
[code]
Second one:
[code]

As with @yyplanton, these tests were performed on a fresh miniconda.

[2017-11-13 13:10] doutriaux1 commented on #2194
@stefraynaud I would edit the yml directly. Are you on Linux? Which flavor. I will try to make sure the yml gets updated to still work.

[2017-11-13 15:04] stefraynaud commented on #2194
Yep, on linux.

[2017-11-13 15:30] doutriaux1 commented on #2194
rh or ubuntu?

[2017-11-14 09:02] stefraynaud commented on #2194
CentOS 6!
Yes, it's possible...

[2017-11-15 18:55] bonnland commented on #2194
Here are notes on my saga of trying to install uvcdat on a CentOS 7.4 vagrant machine.   I tried updating the 2.12.yml file myself, by looking at the updated version numbers from running "conda install" on the missing package versions, but I eventually failed to fix all of the problems.   I hope my shell history below gives some perspective to the frustration people may experience when they are no

[2017-11-15 23:14] dnadeau4 commented on #1707
@durack1 can you give me a file with these grids.

[2017-11-15 23:55] dnadeau4 commented on #1707
46b27f5cc9314da268119dee2b2d15115463439e

[2017-11-15 23:55] dnadeau4 commented on #1707
[code]

[2017-11-16 00:10] durack1 commented on #1707
@dnadeau4 great, so all fixed? I assume you've run this across a couple of the test data - the so_Omon* file should have a bunch of others alongside it.

[2017-11-16 09:18] stefraynaud commented on #2194
For udunits and netcdf, installation is possible by removing the their build number in the yml file string after the last =).
As for the acme_diags, you resolve it for instance by adding "doutriaux1" to the list of  channels in the yml file :)

However, we even should not have to use a special environment file to install cdat.

[2017-11-16 16:02] doutriaux1 commented on #1738
pr was reverted @dnadeau4 let's take a look later

[2017-11-16 21:56] bonnland commented on #2194
Thank you for your help; I can confirm that uvcdat installs on a plain CentOS 7.4 box with the three changes you specified.   The changed lines are:

[code]

Thanks again for your help; it is very appreciated!

[2017-11-20 17:47] lee1043 commented on #2192
@doutriaux1 maybe related to https://github.com/UV-CDAT/vcs/issues/263?

[2017-11-30 02:47] #1707 closed

[2017-12-02 14:59] simossk commented on #2194
please help me. i tested all installation method but i get the same error.:')
Traceback (most recent call last):
  File "/home/mkoussaimi/anaconda3/envs/uvcdat/vistrails/vistrails/uvcdat.py", line 89, in <module>
    v = gui.application.start_application()
  File "/home/mkoussaimi/anaconda3/envs/uvcdat/vistrails/vistrails/gui/application.py", line 703, in start_application
    x = VistrailsApplica

[2017-12-04 14:56] doutriaux1 commented on #2194
try remove ther `.uvcdat` directory in your home directory thentun `python -c "import cdms2"` and answer `yes`

[2017-12-04 19:14] simossk commented on #2194
thank you very much.

[2017-12-06 07:17] hujie-frank commented on #1608
Excuse me, did anyone solve the problem that how to make MPI works well with multiprocessing python module?

[2017-12-06 17:31] durack1 opened #2195 "acme_diags missing for OSX-64 uvcdat install"
[code]

[2017-12-06 17:33] durack1 commented on #2195
@doutriaux1 ping!

[2017-12-06 17:37] chengzhuzhang commented on #2195
@charlesdoutriaux I'm just adding, Jerry had the same error.

[2017-12-06 17:43] durack1 commented on #2195
@doutriaux1 @zshaheen it seems `acme_diags` is now available from the dedicated [acme](https://anaconda.org/acme/acme_diags/files) conda channel - when did this change? The existing environment `*.yml` files will need to be updated at https://github.com/UV-CDAT/uvcdat/wiki/Install

[2017-12-06 17:47] durack1 commented on #2195
@doutriaux1 @zshaheen this is fixable by adding the new channel:
[code]
But I wonder whether adding yet another package to the default UV-CDAT install is a good idea?

[2017-12-06 17:49] zshaheen commented on #2195
We didn't want to manage `acme_diags` on two Anaconda channels. If someone did `conda install acme_diags -c conda-forge -c uvcdat -c acme`, they would get `acme_diags` from the `uvcdat` channel, and again we didn't want to manage two channels. So we removed the `acme_diags` package from the `uvcdat` channel.

@durack1 Yeah, we can just add the `acme` channel like how you did.

[2017-12-06 17:58] chengzhuzhang commented on #2195
@zshaheen @doutriaux1
I'm not sure if it's a good idea to add acme_diags in uvcdat. Any suggestions?

[2017-12-06 18:00] durack1 commented on #2195
@zshaheen my question was related to why `acme_diags` is a dependency for the UV-CDAT install. We haven't added the `pcmdi_metrics` as a dependency, rather we add `uvcdat` as a dependency of the PMP. I'd recommend that we reduce the UV-CDAT dependencies as much as possible, so that when you issue
[code]
You just get the bare essentials for the UV-CDAT installation, nothing extra or extraneous

[2017-12-06 18:02] zshaheen commented on #2195
@durack1 No idea. I think this was a precursor to the acme unified environment, which isn't really related to this anymore.

[2017-12-06 18:04] chengzhuzhang commented on #2195
I agree with @durack1. I think it makes more sense if we can follow the pcmdi_metrics' practice. Similarly, acme_diags is based on uvcdat and not a dependency of uvcdat. It won't function, without proper configuration and supplied datasets.

[2017-12-06 18:05] durack1 commented on #2195
@doutriaux1 @zshaheen currently we have **218!!** package dependencies for the uvcdat installation, this is kinda nuts and there must be a bunch of opportunities to reduce this. Keep it simple I think!

[171206_UVCDATCondaInstall.txt](https://github.com/UV-CDAT/uvcdat/files/1536317/171206_UVCDATCondaInstall.txt)

[2017-12-06 18:21] durack1 commented on #2195
@zshaheen regarding your https://github.com/UV-CDAT/uvcdat/issues/2195#issuecomment-349720399 above

Wouldn't this be fixed by just reordering your channels:
[code]
Or conversely, following my "not a dependency" suggestion you could just do the single line (which then allows a cleanup on the UV-CDAT dependency list):
[code]

[2017-12-06 18:26] zshaheen commented on #2195
Yes you're right. However, some of our users mix up the order, for whatever reasons. I think we should just remove `acme_diags`, among other packages, from uvcdat.

[2017-12-06 18:26] doutriaux1 commented on #2195
@durack1 I took `acme_diags` out of uvcdat, please try again and let us know.

[2017-12-06 18:31] durack1 commented on #2195
@zshaheen regarding

I'm looking at @potter2 here, I don't think we should add dependencies to resolve sloppy conda command line calls, rather let's just educate folks to do the right thing. I've personally been sloppy with my conda channel ordering in the past, and have just educated myself to fix my own problem.

Let's try and keep the UV-CDAT package and install/conda stuff as lean and clean as

[2017-12-06 18:42] durack1 commented on #2195
@doutriaux1 great, fixed:
[code]

I'm not sure if the "clean up dependencies" comments scattered above should warrant a new issue - not sure how to catch this, as the original issue is now resolved

[2017-12-06 19:18] durack1 commented on #2195
@doutriaux1 the files:
https://raw.githubusercontent.com/UV-CDAT/uvcdat/master/conda/2.12.yml
https://raw.githubusercontent.com/UV-CDAT/uvcdat/master/conda/2.12-osx.yml
https://raw.githubusercontent.com/UV-CDAT/uvcdat/master/conda/2.12-nox.yml
https://raw.githubusercontent.com/UV-CDAT/uvcdat/master/conda/2.12-nox-osx.yml

Will all need updating - these are linked off https://github.com/UV-CDAT/uvc

[2017-12-06 19:33] zshaheen commented on #2195
@doutriaux1 @durack1 Done in c0dcf2fac2d41f7140a81bf9233c30287ccc6785

[2017-12-06 19:40] durack1 commented on #2195
@zshaheen thanks, almost there, the `conda-forge/label/broken` channel needs to also be added to resolve the issue:
[code]

[2017-12-06 19:43] durack1 commented on #2195
@zshaheen nope, I changed the top channel info:
[code]
And now I hit:
[code]

[2017-12-06 19:47] durack1 commented on #2195
Sheez, I just updated (again) - after look at https://anaconda.org/uvcdat/uvcdat/files
[code]
And now get
[code]
So I give up

[2017-12-06 19:52] durack1 commented on #2195
Ok, so the attached now works (by removing the hash part of the uvcdat version)
[2.12-nox-osx.yml.txt](https://github.com/UV-CDAT/uvcdat/files/1536672/2.12-nox-osx.yml.txt)

[2017-12-17 18:15] durack1 commented on #2195
This issue was fixed by #2196, however not sure how best to trim back down the expansive dependency lists..

[2017-12-17 18:15] #2195 closed

[2018-01-03 22:36] czender commented on #1550
I'm closing this issue as NCO itself is now included in ACME-unified, and there has been little call for the Python wrappers PyNCO.

[2018-01-03 22:36] #1550 closed

[2018-01-23 17:39] dnadeau4 commented on #1580
Fixed using new numpy and with new releases.

[2018-01-23 17:39] #1580 closed

[2018-02-07 02:34] danlipsa commented on #2186
@lee1043 Can you try this with the current master. It should be fixed. Thanks!

[2018-02-07 17:01] lee1043 commented on #2186
@danlipsa @doutriaux1 Can I install the current master version by installing nightly version in conda?

[2018-02-07 17:04] doutriaux1 commented on #2186
@lee1043 yes.

[2018-02-07 17:34] lee1043 commented on #2186
@doutriaux1 thanks for clarifying.

@danlipsa thanks for following up this issue. The current master works in Linux but not in Mac.

In Linux, it generates the image with below messages appearing.
![test](https://user-images.githubusercontent.com/17091564/35931550-c6df5638-0be9-11e8-9bd5-11897166f233.png)
[code]

But in Mac, it does not work with below messages appearing:
[code]

[2018-02-07 17:36] doutriaux1 commented on #2186
@lee1043 can you post the result of `conda list vcs` please?

[2018-02-07 17:37] lee1043 commented on #2186
@doutriaux1

In Linux:
[code]

In Mac:
[code]

[2018-02-07 17:38] doutriaux1 commented on #2186
@lee1043 your mac is not using the nightly

[2018-02-07 17:39] lee1043 commented on #2186
@doutriaux1 @danlipsa Another interesting point.... When I name the code as `test.py` in Linux and run it by commend `python test.py`, it automatically generates `test.pyc` and complains it cannot import modules. This does not happen in Mac. Any idea? Should I open new issue for this?

[2018-02-07 17:40] lee1043 commented on #2186
@doutriaux1 That is weird.
[code]
This is how I installed in Mac, which is identically used in Linux as well.

[2018-02-07 17:41] doutriaux1 commented on #2186
@lee1043 I will look into this. Also `test.py` is a dangerous name, please use test_jiwoo.py or something like that

[2018-02-07 17:44] lee1043 commented on #2186
@doutriaux1 Understood. Is the name `test.py` reserved in purpose in CDAT? I am just concerned that I may not only one who prefer that name when testing something. That could be potential issue for other users as well.

[2018-02-07 17:45] doutriaux1 commented on #2186
@lee1043 it's because I never posted the uvcdat nightly for mac. Posting in a minute, will elt you know.

[2018-02-07 17:48] lee1043 commented on #2186
@doutriaux1 got it. thanks!

[2018-02-07 17:51] doutriaux1 commented on #2186
@lee1043 I think it's a python thing.
@lee1043 try again the mac nightly create command it works now

[2018-02-07 17:57] lee1043 commented on #2186
@doutriaux1 it works in mac now, thanks.

[2018-02-07 18:03] danlipsa commented on #2186
@lee1043 Thanks for testing.

[2018-02-07 18:03] #2186 closed

[2018-02-12 20:56] doutriaux1 commented on #2192
@danlipsa i think that was the error.

[2018-03-16 10:32] jservonnat opened #2198 "Can't build conda index on a uvcdat or cdat_lite install"
Hello everyone,
I'm trying to setup an install of uvcdat on an offline machine following the procedure of @dnadeau4 : https://github.com/UV-CDAT/uvcdat/wiki/Anaconda_Offline_Installation
My online machine is Ciclad at IPSL.
I'm using the latest Anaconda2 version available (anaconda2-5.1.0) and the install of either uvcdat(-nox) or cdat_lite (cdms2 + cdutil) are successful.
But I'm having troubles

[2018-03-16 14:45] doutriaux1 commented on #2198
Hi Jerome,

Let me try this today, these instructions were setup a LONG time ago.

C.

From: jservonnat <notifications@github.com>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com>
Date: Friday, March 16, 2018 at 3:32 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [UV-CDAT/uvcdat] Can't build conda index on a uvcdat or cdat_lite install (#

[2018-03-16 14:48] jservonnat commented on #2198
Awesome @doutriaux1, thanks!

[2018-03-16 15:13] doutriaux1 commented on #2198
@jservonnat can you please try this quickly for me?

On the online machine
[code]

on the offline machine ([HOST])
[code]

[2018-03-16 15:16] jservonnat commented on #2198
@doutriaux1 I'm on it!

[2018-03-16 15:27] jservonnat commented on #2198
@doutriaux1 I'm having an error on the conda create line:
[code]
Any typo?

[2018-03-16 15:28] doutriaux1 commented on #2198
try adding `-c uvcdat` AFTER the other . `-c`s

[2018-03-16 15:32] jservonnat commented on #2198
There was already one:
conda create -n cdat -c cdat/label/nightly -c conda-forge **-c uvcdat** cdat mesalib
It looks good to me, I don't get it...

[2018-03-16 15:39] jservonnat commented on #2198
I tried
conda create -n cdat cdat mesalib -c cdat/label/nightly -c conda-forge -c uvcdat
with the same result.

[2018-03-16 15:53] doutriaux1 commented on #2198
ok give me one sec I'll upload a cdat metapackage there shortly

[2018-03-16 16:05] doutriaux1 commented on #2198
ok try this:
[code]
worked for me on my Linux

[2018-03-16 16:08] jservonnat commented on #2198
It works. In progress...

[2018-03-16 17:28] jservonnat commented on #2198
Too good to be true ;), I have this error on my offline machine:
[code]
The path to my miniconda2 on my online machine is in many files (hardcoded). I will try to do a sed on the whole miniconda2 tree (file by file) to replace the path of my online machine with the path of my offline machine.
It might take a while, I will keep you posted.

[2018-03-16 17:37] doutriaux1 commented on #2198
don't worry, I'll move forward with the old way, it was worth a shot though 😄

[2018-03-16 17:41] jservonnat commented on #2198
I will give it a try anyway, I feel too close to give up ;).

[2018-03-16 22:14] jservonnat commented on #2198
Just to keep you informed of my trials: I've managed to edit all the non-binary files and activate cdat, but here is what I got when importing cdms2:
[code]
It actually comes from:
[code]
Just copying the whole miniconda and editing the files to replace the root path to miniconda on the offline machine really looked like a very interesting method. Much more simple than having to rebuild the index

[2018-03-16 22:19] doutriaux1 commented on #2198
sorry got distracted all day on something else. We need to follow the old way, will try again next week (or this weekend)

[2018-03-19 14:57] jservonnat commented on #2198
Ok great, let me know when you have something! Thanx

[2018-03-20 07:41] puneet336 opened #2199 "uvcdat installation: conflicting numba/uvcdat package specifications"
Dear All,
I am having issues while installing uvcdat , with coda 4.4.10 on centos 7.

Here is what i have sp far-

[code]

I have -
numba                    0.36.2          np114py27he2868da_0

do i need to remove current version of numba?
If yes , then which verison of numba should i install ?
 please advice.

[2018-03-20 08:06] puneet336 commented on #2199
UPDATE: i tried out various versions of anaconda  and 4.3.0 seems to have right version of libraries (conda is able to downgrade conflicts).

[code]

[2018-03-20 14:04] doutriaux1 commented on #2199
@puneet336 conda install are standard and for stand alone packages, please see installation instructions at: https://github.com/CDAT/uvcdat/wiki/install

Lots of docs available at:

https://uv-cdat.llnl.gov

C.

[2018-03-20 14:11] doutriaux1 commented on #2199
@puneet336 also we will be releasing or next version this upcoming week.

[2018-03-21 01:12] puneet336 commented on #2199
I tried following the procedure at -
, i am experiencing some issues with procedure -
I had to create softlink for a dependent library & et the LD_LIBRARY_PATH & PYTHON path to get the vcs python uvcdat module working for me , here are the terminal logs from the installation -

[code]

please let me know what could be the behind this buggy installation.

[2018-03-21 10:48] #2199 closed

[2018-03-21 10:57] puneet336 opened #2200 "ImportError: No module named vtkGeovisCorePython/vtkIOFFMPEGPython"
Hi all,
I have installed uvcdat using anaconda v 4.3.0 on CentOS 7.

[code]

I have installed uvcdat from instructions mentioned at - https://github.com/CDAT/cdat/wiki/install.
Installation procedure/terminal log is attached.

Please let me know if any further information is required from my end.
[uvcdat_install.txt](https://github.com/CDAT/cdat/files/1832945/uvcdat_install.txt)

[2018-03-21 14:17] doutriaux1 commented on #2199
@puneet336 yes over the week-end proj4 (an external software) was update to v5 and it creates issue. please use:

[code]

[2018-03-22 05:41] doutriaux1 commented on #2200
@puneet336 as mentioned in my previous comment, you need to downgrade `proj4`

[code]

[2018-03-23 04:48] puneet336 commented on #2200
Thank you for suggestion. It downgrading proj4 fixed the import issue.

[user@machine1 ~]$ export PATH=/home/apps/SiteSoftwares/gnu/ANACONDA2/4.3.0_alt/bin:$PATH                                                                    [user@machine1 ~]$ conda install -f -c conda-forge "proj4<5"^C
[user@machine1 ~]$ source activate myuvcdat
(myuvcdat) [user@machine1 ~]$ conda install -f -c conda-forge "p

[2018-03-26 13:51] sashakames opened #2201 "should we be able to upgrade an existing cdat environment?"
(root) ames4ml:~ ames4$ source activate cdat
(cdat) ames4ml:~ ames4$ conda install -c cdat/label/v80 -c conda-forge cdat
Fetching package metadata ...............
Solving package specifications: .

UnsatisfiableError: The following specifications were found to be in conflict:
  - cdat -> thermo >2.12
  - cdat -> wk >2.12
  - uvcdat -> thermo ==2.12
  - uvcdat -> vcsaddons ==2.12
  - uvcdat -> wk =

[2018-03-26 21:58] sashakames opened #2202 "using conda to install cdutil results in unexpected python 3.6 upgrade from 2.7"
# conda activated in path
$ conda create -n cdutiltest -c conda-forge -c cdat cdutil

The following NEW packages will be INSTALLED:

    asn1crypto:      0.24.0-py36_0         conda-forge
    ca-certificates: 2018.1.18-0           conda-forge
    cdat_info:       8.0-py36_0            conda-forge
    cdms2:           3.0-py36_5            conda-forge
    cdtime:          3.0-py36_0            cond

[2018-03-27 15:03] doutriaux1 commented on #2201
I think I forgot to apply the labels, please try again. Thanks for testing it @sashakames

[2018-03-27 19:27] philrasch opened #2203 "small problem with conda build on osx high sierra"
_ I just tried an install using conda channels using the commands
conda create -n uvcdat-2.12 uvcdat -c conda-forge -c uvcdat
source activate uvcdat-2.12

The problem occcured on an up to date version of osx high sierra, after doing a "conda update conda", and making sure there were no previous installs on my path

It built fine, but after activation, when I tried execute a simple python script th

[2018-03-27 20:48] doutriaux1 commented on #2203
Hi @philrasch this is is a known problem due to conflict between zlib that vtk-cdat was built against and zlib that matplotlib 2.1 was built against.
This is addressed in the cdat nightlies and also in the the new version of cdat due tomorrow.
If you do not mind waiting until tomorrow then the nesest version will fix this.
if you cannot wait, usually simply doing a `pip install six` seems to fix t

[2018-04-04 08:03] arulalant opened #2206 "No module named 'xmgrace' in cdat8"
Hai,

I couldnt import xmgrace in new cdat8 release.
How can I install it ?

(cdat8) arulalan@arulalan:~$ python
Python 3.6.5 | packaged by conda-forge | (default, Mar 29 2018, 23:19:37)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError

[2018-04-04 19:25] dnadeau4 commented on #2206
@arulalant I created a package in our `nightly` branch.   Git it  a try and let me know if it works for you...
 * `source activate cdat8`
 * `conda install -c uvcdat/label/nightly  xmgrace`

[2018-04-05 06:06] arulalant commented on #2206
(cdat8) arulalan@arulalan:~$ conda install -c uvcdat/label/nightly xmgrace
Solving environment: failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - xmgrace
Use "conda info <package>" to see the dependencies for each package.

I am getting the above error.

[2018-04-05 13:15] aashish24 commented on #2206
looks like typical conda error with versions mismatch. Was there anything else showing up in the error message..the list of packages in conflict?

[2018-04-05 15:48] arulalant commented on #2206
No other message is showing up with the error.
I have upgraded the conda version from 4.1.12 -> 4.5.0. Will that make any problem? I couldn't install cdat8 with older conda version since then I upgraded to latest version.

[2018-04-09 13:16] doutriaux1 commented on #2206
@arulalant
[code]

Should work. Please let me know.

[2018-04-11 14:35] doutriaux1 commented on #2206
@arulalant ok I will rebuild xmgrace give me one hour.

[2018-04-11 14:46] doutriaux1 commented on #2206
@arulalant ok it should be ready to go
[code]

Please let me know.

[2018-04-12 06:46] arulalant commented on #2206
@doutriaux1 Thanks. It works now. Let me close this issue

[2018-04-12 06:46] #2206 closed

[2018-04-23 20:02] mattben commented on #1354
@doutriaux1 What do you need from me on this issues (which is quite old) is there a new License for CDAT v8 to put on the website? Which comes from the CDAT Repo

[2018-04-23 20:10] mattben commented on #1469
moved to vcdat

[2018-04-23 20:10] #1469 closed

[2018-04-27 21:36] hf-uw-soo commented on #2198
I'm trying to set up cdat on a plain online machine (CentOS 6.8). This is what I get:

`conda create -n cdat -c cdat/label/nightly -c nesii/label/dev-esmf -c conda-forge -c uvcdat cdat mesalib
Fetching package metadata ...................
Solving package specifications:

PackageNotFoundError: Packages missing in current channels:

  - cdat -> dv3d >2.12
  - cdat -> thermo >2.12
  - cdat -> vcs >2.

[2018-04-27 22:29] doutriaux1 commented on #2198
please use -c cdat not -c uvcdat

From: Hartmut Frenzel <notifications@github.com>
Reply-To: CDAT/cdat <reply@reply.github.com>
Date: Friday, April 27, 2018 at 2:36 PM
To: CDAT/cdat <cdat@noreply.github.com>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [CDAT/cdat] Can't build conda index on a uvcdat or cdat_lite install (#2198)

I'm trying to se

[2018-04-27 22:29] doutriaux1 commented on #2198
Also the nesii channel is no longer needed

From: Hartmut Frenzel <notifications@github.com>
Reply-To: CDAT/cdat <reply@reply.github.com>
Date: Friday, April 27, 2018 at 2:36 PM
To: CDAT/cdat <cdat@noreply.github.com>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [CDAT/cdat] Can't build conda index on a uvcdat or cdat_lite install (#2198)

I'm tr

[2018-05-07 15:29] puneet336 commented on #2200
Hi,
I tried installing cdat-8. installation command -
`[user@machine1 INSTALLATION_RELATED]$ conda create -n cdat8 -c conda-forge -c cdat xmgrace cdat
`
terminal log is attached.

The error message i get -
[code]

The version of proj4 is < 5.

[code]

What could be the possible reason behind this issue?
[install.txt](https://github.com/CDAT/cdat/files/1980470/install.txt)

[2018-05-07 16:03] doutriaux1 commented on #2200
conda-forge update ffmpeg. For now please do this in your cdat environement:
[code]

[2018-05-07 16:03] doutriaux1 commented on #2200
I am in the process f recompiling vtk-cdat against the newest ffmpeg.

[2018-05-07 16:09] puneet336 commented on #2200
with ffmpeg<4 , imports are now working fine.
Thanks again..

[2018-05-07 16:09] #2200 closed

[2018-05-22 10:03] jservonnat commented on #2198
@doutriaux1 I still need your input on this issue. Let me know if I can do anything to help.

[2018-05-22 11:45] doutriaux1 commented on #2198
@jservonnat sorry about this one, completely dropped the ball... Please ping me again Thursday if you didn't hear from me.

[2018-05-22 12:01] jservonnat commented on #2198
@doutriaux1 I promise I will ;)

[2018-05-24 13:52] doutriaux1 commented on #2198
working on it as we are

[2018-05-24 14:51] doutriaux1 commented on #2198
@jservonnat I updated the instructions at: https://github.com/CDAT/cdat/wiki/Anaconda_Offline_Installation
These worked for me on my mac. Please let me know.

[2018-05-24 17:50] jservonnat commented on #2198
@doutriaux1 well, that was close :(... I installed successfully miniconda and cdat on my offline machine, and then on my offline machine.
[code]
And then I tried to import cdms2:
[code]
What do you think? should I contact the computing center?

Some precisions: everything went smooth (successful installation on my online machine) until the conda index step. The conda indexes had to be made on the

[2018-05-25 13:20] jservonnat commented on #2198
@doutriaux1 do you want me to ping you next Thurdsay?

[2018-05-25 14:07] doutriaux1 commented on #2198
@jservonnat I did put the conda-build part in the instructions. `conda install -n base conda-build
` otherwise indeed you cannot index. Index has to been done on offline machine. Please try again and follow instruction carefully. Please let me know. Sorry I ddin't see your email yesterday. Let me know how the second try goes.

[2018-05-25 14:35] jservonnat commented on #2198
@doutriaux1 I actually did what you say:
- 'conda install -n base conda-build' on my offline machine
- 'conda create -n cdat -c conda-forge -c cdat cdat' on my offline machine and check that I can actually import the packages (import cdms2)
- create the indexes (both linux-64 and noarch) on my offline machine by copying all the packages in my_channel/linux-64 and my_channel/noarch and then doing t

[2018-05-25 14:38] doutriaux1 commented on #2198
@jservonnat how can you index on the offline machine **BEFORE** you install miniconda?

[2018-05-25 14:39] doutriaux1 commented on #2198
you should install conda-build on your **online** machine

[2018-05-25 14:40] jservonnat commented on #2198
@doutriaux1 sorry it's a typo: on my online machine
I correct it rightaway

[2018-05-25 14:40] doutriaux1 commented on #2198
@jservonnat I get it now. Ok instead of miniconda try installing the full Anaconda, it will have conda build. Let me update the instructions. Good catch. Sorry about that.

[2018-05-25 14:42] jservonnat commented on #2198
@doutriaux1 installing conda-build on the offline machine is not actually an issue since I install it with the channel my_channel (using the --offline option).
But I will give it a try anyway and let you know.

[2018-05-25 15:21] jservonnat commented on #2198
@doutriaux1 I've just finished my second try and confirm that everything goes well until I try to import a cdat package:
[code]
At the moment I'm trying with Anaconda2-5.1.0. It will provide you with the feedback as soon as it's finished.

[2018-05-25 15:48] doutriaux1 commented on #2198
@jservonnat does it even work on the "online" machine? Are you positive it's the same os?

[2018-05-25 15:49] doutriaux1 commented on #2198
@jservonnat I will try on my ubuntu VM on my laptop.

[2018-05-25 15:54] jservonnat commented on #2198
@doutriaux1 yes it does work on my online machine (i.e. I can import cdms2 and other cdat packages).

here is the result of uname -a command on both machines:
online:
(PMP_nightly-nox) jservon@ciclad-ng:~> uname -a
Linux ciclad-ng.private.ipsl.fr 2.6.32-696.23.1.el6.x86_64 #1 SMP Tue Mar 13 17:46:31 CDT 2018 x86_64 x86_64 x86_64 GNU/Linux
and offline:
p86jser@curie91:[...]> uname -a
Linux curie91

[2018-05-25 16:02] jservonnat commented on #2198
@doutriaux1 the install with anaconda2-5.1.0 actually worked on my online machine (with the import cdms2 and blabla).
But the conda index didn't work (back to the original issue):
[code]
This time:
- I've installed anaconda2-5.1.0
- then conda create -n cdat -c conda-forge -c cdat cdat
- mkdir -p my_anaconda2_channel/linux-64 ; cp anaconda2-5.1.0/pkgs/*.tar.bz2 my_anaconda2_channel/linux-64
- and

[2018-05-25 16:53] doutriaux1 commented on #2198
can you print the result of
[code]

[2018-05-25 18:06] jservonnat commented on #2198
@doutriaux1
On my online machine:
[code]
And on my offline machine:
[code]

[2018-05-28 21:09] jservonnat commented on #2198
@doutriaux1 I've done some other verifications:
- I've re-installed cdat on miniconda on my **online** machine using the 'my_channel' done on my online machine; and it works (i.e. I can import cdms2 and cdtime) (this was to check that the offline install protocole actually gives an install that works on my online machine)
- I've also been able to install other packages on my **offline** machine (l

[2018-05-29 16:16] dnadeau4 commented on #2198
@jservonnat
`libcom_err.so.3` depends on `libkrb5support.so.0` which contains the symbol **k5_sterror_r**

Can you try these command?

`nm  -C /software/anaconda2/envs/devel/lib/././libkrb5.so.3.3  | grep krb5support_0_MIT | grep strerror`
 * `U k5_strerror_r@@krb5support_0_MIT`  **Undefined**

`nm -C /software/anaconda2/envs/devel/lib/./././libkrb5support.so.0 |grep k5_strerror_r`
* `000000000000

[2018-05-30 07:58] jservonnat commented on #2198
@dnadeau4 Here are the command lines you asked for:
[code]
Then, I could not pass the command line **ldd $YOURPATH/anaconda2/envs/$YOURENV/lib/python2.7/site-packages/cdtime.so** because python3.6 is the only choice, and I only found cdtime.cpython-36m-x86_64-linux-gnu.so; but here is the result:
[code]
Here is the next one; the "permission" message is weird no?
[code]
And here is the last one (wi

[2018-05-30 14:22] doutriaux1 commented on #2198
@jservonnat did you check the permissions?

[2018-05-30 14:26] jservonnat commented on #2198
@doutriaux1 quite frankly I've done this really quickly before leaving. I've not investigated in details but I can do it.
One thing I've noticed: when I use the cdat conda environment, it uses a python 3.6 (at least with miniconda). Is that normal? Or can I force it to use python 2.7 (maybe when I install cdat)?

[2018-05-30 14:34] doutriaux1 commented on #2198
just add `python=2` to the `conda create ...` line.

[2018-05-30 17:54] dnadeau4 commented on #2198
@jservonnat I see that your libraries are in /usr/$LIB which point to /usr/lib64.
can you set your LD_LIBRARY_PATH to these location.

* export LD_LIBRARY_PATH /usr/$LIB;/usr/lib64:/lib64:$LD_LIBRARY_PATH

[2018-05-30 18:20] dnadeau4 commented on #2198
@jservonnat When you run "conda create" you should see "krb5" in the list of packages that needs to be installed it seems that in your installation "krb5" was found in "/usr/lib64", but should be found in your "python"  library: `miniconda/envs/cdat_plus/lib`

you need to install "krb5" as well.  It should be in your "urls.txt"  file an copied to your channel from the "offline" instructions.

Can

[2018-05-30 18:26] dnadeau4 commented on #2202
@sashakames That should not happens,  the files for linux python 2.7 are here.
https://anaconda.org/conda-forge/cdutil/files

linux-64/cdutil-8.0-py27_1.tar.bz2

[code]

[2018-05-30 18:33] doutriaux1 commented on #2202
@dnadeau4 @sashakames I think this `feature` depends on anaconda version. I noticed that ost of the time we do bring in python 3.6 unless we specify python=2, but on some system (newer conda?) it does bring python 2 as expected.

[2018-05-30 18:41] dnadeau4 commented on #2166
@glpotter this works now.

[code]

[2018-05-30 18:41] #2166 closed

[2018-05-31 14:46] jservonnat commented on #2198
@doutriaux1 @dnadeau4 this is an official announcement: **it works!!!**
The key was to do the following export:
[code]
before installing cdat.
And after a second try, I can confirm that it works: I can import cdms2 on my offline machine 👍 .

I guess that you guys can close this issue after completing the documentation:
- do the export LD_LIBRARY_PATH before creating the cdat environment
- and don'

[2018-06-09 21:01] puneet336 opened #2208 "unable to plot with xmgrace/cdat8"
Hi,
I am trying to test xmgrace module (cdat8) on sles 12 machine (logged in using ssh -Y) . On running python script the xmgrace GUI shows up , but it seems that the xmgrace's python  module is unable to communicate with GUI.
The expected plot is not showing up.

i have tried running python script with xmgrace - 5.99.

[code]

here is the conda environment -
[code]

python potting script is attac

[2018-06-09 21:37] puneet336 commented on #2208
I tried testing a VCS plot  at  - https://cdat.llnl.gov/getting_started.html. It worked,
seems we are having issues when xmgrace is involved.
![untitled2](https://user-images.githubusercontent.com/5935825/41196349-6916e6f6-6c5b-11e8-914d-f9c9f1149c42.png)

[2018-06-10 12:01] arulalant commented on #2208
@puneet336 Now I cross-checked the grace version 5.1.25, it seems working after I reinstalled cdat8 as  follows "conda create -n cdat8_grace -c conda-forge -c cdat python=2.7 cdat  xmgrace".

@charlesdoutriaux So xmgrace version 5.99 is not compatible with cdat8. Could you please confirm it ? Thanks.

[2018-06-10 13:01] puneet336 commented on #2208
@arulalant , thanks for the information. xmgrace-5.1.25 seems to be working fine as of now under cdat8 ( /home/apps/SiteSoftwares/gnu/ANACONDA2/5.1.0/envs/cdat8 ) env.

--
Marking this issue as closed. Let me know if i can provide further information wrt. 5.99 compatibility issue.

[2018-06-10 13:01] #2208 closed

[2018-06-11 11:42] doutriaux1 commented on #2208
@arulalant @puneet336 the interface between xmgrace and python is made via pipes. I will check and see if anything changed in 5.99.

[2018-06-19 19:00] lee1043 commented on #2122
Revisiting the issue with willingness of following up...

[2018-06-19 20:08] doutriaux1 commented on #2122
@lee1043 does extending the data at plot time work?
[code]

[2018-06-19 20:14] lee1043 commented on #2122
@doutriaux1 I know that could be a temporary solution but wish that could be more generalized without having special treatment.

[2018-06-19 21:38] lee1043 commented on #2122
@doutriaux1 this is interesting... I learned the gap only appears for isofill, but not for boxfill.

- boxfill:
![test_simple1](https://user-images.githubusercontent.com/17091564/41625542-fdb2e4ee-73cd-11e8-8e22-1998cb9a8cfd.png)

- isofill:
![test_simple2](https://user-images.githubusercontent.com/17091564/41625550-0837e0d6-73ce-11e8-8473-edf71ef93e97.png)

- Plotting code: [plot_test_simple.py.t

[2018-06-19 22:06] lee1043 commented on #2122
Another question: Can the stitches along the 0 lon (probably latitude tick label?) be removed?

[2018-06-19 22:30] lee1043 commented on #2122
@doutriaux1 thanks for the `ytic1` hint. I learned both 'ytic1' and 'ytic2' should be considered as `priority=0` to completely remove the stitches. What about the isofill thing? Do you have any idea? Thanks!

[2018-06-19 22:32] doutriaux1 commented on #2122
I need to look into that one, I think I need to change isofill.

[2018-06-20 12:59] jypeter commented on #2122
It would indeed be nice to fix this gap problem automatically, rather than having to generate _extra longitude_ values (even if cdms2 will nicely do this for you).

I've also had to generate extra longitudes for some non polar plots in order to avoid a white vertical band on the left or right side (don't remember which side) from time to time but I don't remember for which kind of data. Oh, you ca

[2018-06-20 16:17] lee1043 commented on #2122
Agreed to @jypeter that we need tutorial for the polar stereographic map projection.

Just for future reference, latitude can be set as `data(latitude=(90,0))` or `data(latitude=(-90,0))` for showing only northern or southern hemisphere.

[2018-06-21 09:05] jypeter commented on #2122
Good point @lee1043 ! We just need half of the data for a polar plot :-)

[2018-07-04 09:35] puneet336 opened #2209 "Different plot quality - anaconda2-5.x+cdat8 vs CDAT-2.4.1binary"
Hi,
I am trying to run a python plotting script which gives me different quality of same plot.
I have uploaded the image qualities & the relevant std err/out messages while running the script.
(please ignore Traceback errors, i had killed the script after getting few image files)

The list of python modules used are as -
[code]
for the setup generating better images (attached - okay1.png, okay1.lo

[2018-07-09 13:52] doutriaux1 commented on #2209
Hi,

I'm not sure how this is related to CDAT. You seem to be using cartopy/matplotlib. I recommend you post of their lists.

C.

From: puneet336 <notifications@github.com>
Reply-To: CDAT/cdat <reply@reply.github.com>
Date: Wednesday, July 4, 2018 at 2:36 AM
To: CDAT/cdat <cdat@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [CDAT/cdat] Different plot qualities - anacon

[2018-07-13 14:57] Xunius opened #2211 "numpy.where() function ignores masked values"
Hi all.
I noticed that some code that works on one of my machines doesn't work on another, and after some digging I found this discrepancy: calling `numpy.where(condition)` where `condition` has an `MV` array, it will ignore the mask in the masked array.

Minimal working example:
[code]
The output is
[code]
which makes no sense. Using `numpy.ma.where(a==5)` gives the correct answer. And `MV.where(

[2018-07-30 13:53] doutriaux1 commented on #2122
@jypeter actually the "polar" plot can display all 180 degrees of latitude. I'm not sure why it was historically called a "polar" plot, in reality it is an "Albers Equidistant" projection (proj4: aeqd)

[2018-07-30 20:48] lee1043 commented on #2122
@doutriaux1 Albers Equidistant is slightly different then polar projection. Difference is at where to set edge point of flat projection of globe. Albers uses virtual point vertically above polar pole while polar projection uses actual pole at surface as one side of projected flat plane. Sorry about the poor explaining in text, I may able to give better description in person when I back ;)

[2018-07-30 20:54] doutriaux1 commented on #2122
@lee1043 agreed, I just think vcs `polar` projection has been miscalled since the beginning.

[2018-08-15 17:57] muryanto1 opened #2212 "cdat - install from channel - many test failures -- Library not loaded: @rpath/libnetcdf.11.dylib( both linux and macOS)"
``macos_cdat_latest_channel_py3 - https://circleci.com/gh/CDAT/cdat/5189

install:
   conda create -n cdat_latest_channel_py3 -c cdat/label/v80 -c conda-forge -c cdat python=3.6 cdat

   source activate cdat_latest_channel_py3;
   conda install -c conda-forge -c cdat -c pcmdi/label/nightly -c pcmdi nose coverage image-compare pcmdi_metrics cia easydev nbsphinx mesalib;
   source deactivate"

macos

[2018-08-15 17:59] dnadeau4 commented on #2212
I moved the `cdtime` label from v80 to v80netcdf11.   That was moved from conda-forge by @doutriaux1 but not sure it it is needed anymore.

[2018-08-15 21:30] durack1 opened #2213 "cdat_info extreme thread creation/CPU load needs work"
As noted in https://github.com/CDAT/cdms/issues/248 and https://github.com/CDAT/cdms/issues/264 the thread (50+ processes spawned during 2 mins of a running script, with more if it runs for longer CDAT/cdms#248) and CPU load (4300% CDAT/cdms#264) for `cdat_info` when `"log_anonymously": true` is causing real problems, and is hitting per user thread limits (1024 on RHEL6) leading to process crashes

[2018-08-15 21:36] durack1 commented on #2213
For other users this issue causes the following error when trying to login to a machine:
[code]
And for existing terminals the other familiar error, any time a new command is attempted:
[code]

[2018-08-15 23:01] durack1 commented on #2213
Copied from https://github.com/CDAT/cdms/issues/248#issuecomment-413362904 @dnadeau4

This behaviour really needs to change

[2018-08-20 13:49] doutriaux1 commented on #2212
@dnadeau4 it it works again like that then fine, I can't remember exactly why I had to do a `v80` label, but it was around the time you were upgrading the compilers. It might be fixed now and unncessary then. @muryanto1 does this fix the issue?

[2018-08-20 15:35] muryanto1 opened #2214 "macos_nightly_py2 nightly -- No module named vtkIOFFMPEGPython"
``
======================================================================
ERROR: Failure: ImportError (No module named vtkIOFFMPEGPython)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/distiller/project/workdir/miniconda/envs/nightly_py2/lib/python2.7/site-packages/nose/loader.py", line 418, in loadTestsFromName
    addr.fil

[2018-08-20 15:37] muryanto1 commented on #2214
macos_nightly_py2 -- https://circleci.com/gh/CDAT/cdat/5318
vcs -- all testcases FAILED
dv3d -- all testcases FAILED
thermo -- all testcases FAILED
vcsaddons -- all testcases FAILED
wk -- all testcases FAILED
tests failed with stack trace shown above.

[2018-08-20 15:44] muryanto1 commented on #2214
tests are also failing with similar stack trace in macos_cdat_latest_channel_py3 -- https://circleci.com/gh/CDAT/cdat/5330
and also macos_cdat_latest_channel_py2 -- https://circleci.com/gh/CDAT/cdat/5322

For example, thermo tests are failing:

b'======================================================================'
b'======================================================================'
b"ERROR

[2018-08-20 15:49] doutriaux1 commented on #2214
@muryanto1 I can reproduce this on my mac. Working on it.

[2018-08-20 15:50] muryanto1 commented on #2212
I verified that from our nightly run, Denis' changes fix the issue, not seeing "Library not loaded: @rpath/libnetcdf.11.dylib'" anymore.

[2018-08-20 15:50] #2212 closed

[2018-08-20 15:52] doutriaux1 commented on #2212
@muryanto1 the install from yaml still works?

[2018-08-20 16:13] muryanto1 opened #2215 "tests are failing with Library not loade\ d: @rpath/libnetcdf.13.dylib -- install from mac yaml files"
``macos_cdat-v80_py3 -- https://circleci.com/gh/CDAT/cdat/5320
macos_cdat-v80-nox_py3 -- https://circleci.com/gh/CDAT/cdat/5321
macos_cdat-v80-nox_py2 -- https://circleci.com/gh/CDAT/cdat/5317
macos_cdat-v80_py2 -- https://circleci.com/gh/CDAT/cdat/5316

many tests are failing with similar stack trace

============================================================
Executing nosetests -s /Users/disti

[2018-08-20 16:27] doutriaux1 commented on #2212
@muryanto1 this is why I add cdtime in a special `v80` channel. I'll try to fix the yamls...

[2018-08-27 20:59] durack1 commented on #2213
@doutriaux1 this should get you the behaviour, if you toggle threads on in top (Shift-H) you should see this behaviour
<img width="369" alt="180827_threadstest" src="https://user-images.githubusercontent.com/3229632/44685608-b351bb00-aa00-11e8-821d-80123cf1eb45.png">

[threadsTest.py.txt](https://github.com/CDAT/cdat/files/2325607/threadsTest.py.txt)

[2018-08-28 15:55] muryanto1 commented on #2214
I verified that Charles' fixes in cdat fixed this issue from 08/27 nightly.
https://circleci.com/gh/CDAT/cdat/5547

[2018-08-28 15:55] #2214 closed

[2018-08-29 16:06] #2213 closed

[2018-08-29 16:15] durack1 commented on #2213
@doutriaux1 @muryanto1 is this now in a nightly?

[2018-08-29 16:32] muryanto1 commented on #2213
It should be in -c cdat/label/nightly now.

[2018-08-29 16:37] doutriaux1 commented on #2213
thanks @muryanto1

[2018-08-29 16:58] durack1 commented on #2213
So [`linux-64/cdat_info-8.0.2018.08.29.16.10.g300ba20-py27_0.tar.bz2`](https://anaconda.org/cdat/cdat_info/files) should include this?

[2018-08-29 17:01] doutriaux1 commented on #2213
yep

[2018-08-29 19:26] durack1 commented on #2213
@doutriaux1 I can confirm this fixes me, I was prompted to set the anonymous log info again, and set this as `YES` and this still seemed to work thread-free, thanks

[2018-08-30 22:49] JianghuiDu opened #2216 "cdms2.open cannot open cmip5 netcdf files"
I saw some old posts also saying they cannot open certain netcdf file. Is there a solution?

[2018-10-26 01:18] gleckler1 commented on #2142
@lee1043 @doutriaux1 I am trying to use cdutil.JAN(dailyData) to extract a time series of repeating Januaries at daily time scale... not getting an error msg... I think its producing month means of each January, but what I really want are the daily values.   Anybody got any hints??

[2018-10-26 12:42] doutriaux1 commented on #2142
@gleckler1 I will look at cdutil.JAN, it does extract all the values for january. Unfortunately it will also average them together, which you do not want. I'll try to isolate the function.

[2018-10-26 13:19] doutriaux1 commented on #2142
found it!
[code]

Not even 20 years ago....

[2018-10-26 13:45] doutriaux1 commented on #2142
voila:
[code]

[2018-11-15 19:42] lei4320 opened #2219 ""VCS" module produces missing values?"
Dear all,

I am using cdat8 "VCS" module to plot a map. My data has a horizontal resolution of 192 latitude by
288 longitude;

I only want to show part of the may, so I wrote in my script:

v=vcs.init(); v.setcolormap('rainbow_no_grn')
color_map=v.getisofill('quick')
print color_map.list()
color_map.projection = 'linear'
color_map.datawc_x1= -20
color_map.datawc_x2= 50
color_map.datawc_y1= -50
col

[2018-11-15 22:58] lei4320 commented on #2219
I searched and found that this issue has been reported before:  "https://github.com/CDAT/cdat/issues/2122"

Any solution available?

Also, as mentioned in that thread and tested here, the boxfill method does not have such problem. However, when I use the boxfill method, the "box.levels=[]" and "box.fillareacolors=[]" cannot work (vcs just uses the default range and fillareacolor)

[2018-11-16 00:46] doutriaux1 commented on #2219
@lei4320 this is likely due to your input data not being recognized as wrapping, this can be due to bad bounds on your longitude.
If you could point me to your input/plot data I could take a look.
In the mean time you can try to "fix" the data
[code]

Please let me knowmif that fixes your issue.

Also please send me the output of:
[code]

[2018-11-16 00:47] doutriaux1 commented on #2219
@lei4320 for boxfill to use `levels` you need to set its type to `custom`
[code]

[2018-11-16 00:48] doutriaux1 commented on #2219
@lei4320 please see: https://cdat.llnl.gov/Jupyter/boxfill/boxfill.html for more info on how to use boxfill. Also lots of interesting tips at: https://cdat.llnl.gov/tutorials.html

[2018-11-19 01:43] lei4320 commented on #2219
Sorry for responding late. The mentioned way above does not seem to work for me. But I have fixed this problem manually by adding an additional column in my data as well as the longitude.

Another issue I am stilling trying to understand is that (not sure if it's related to vcs), when I tried to plot parts of the map by setting "datawc" and saved in *.ps format, sometimes the figure is damaged and

[2018-11-19 17:54] lei4320 commented on #2219
Hi,

one example of the damaged plot is attached.
[data_and_plots.zip](https://github.com/CDAT/cdat/files/2596427/data_and_plots.zip)

I also attached the data and script.

`# Script starts from here---
f=cdms.open('sample_data.nc')
data=f('sample_data')
hatch=f('sample_hatch')

color_map = v.createisofill()
hatch_map = v.createisofill()
hatch_map.fillareastyle='hatch'
hatch_map.fillareaindices=[1

[2018-12-05 20:33] chengzhuzhang opened #2220 "Installing cdat8 from conda channels fails"
I tried to install using a yml file file on linux using:
And got following:
(uvcdat) bash-4.1$ conda env create -n cdat8 -f cdat-v80_py2.Linux.yaml
Using Anaconda API: https://api.anaconda.org
Fetching package metadata ...........
Solving package specifications: .
NoPackagesFoundError: Packages missing in current linux-64 channels:
  - vtk-cdat 8.0.1.8.0 py27_1
  - intel-openmp 2018.0.0 8
  - mkl

[2018-12-05 20:42] doutriaux1 commented on #2220
@muryanto1 where are we again with the updated yaml files?

[2018-12-05 22:34] muryanto1 commented on #2220
Hi Charles,
With the current yaml files under validateNightly branch, install works,
But testcases failed.
Example:
https://circleci.com/gh/CDAT/cdat/7980
(don’t look at cdms, look at others)

Lina

From: Charles Doutriaux <notifications@github.com>
Reply-To: CDAT/cdat <reply@reply.github.com>
Date: Wednesday, December 5, 2018 at 3:42 PM
To: CDAT/cdat <cdat@noreply.github.com>
Cc: "Muryanto, Lina"

[2018-12-06 12:47] muryanto1 commented on #2220
This is the latest test run result from 'validateNightly' branch:
https://circleci.com/gh/CDAT/cdat/8011#artifacts/containers/0
you have to go to each test suite to see the failures.

[2018-12-06 12:51] muryanto1 commented on #2220
Example of failure:
https://8011-6660536-gh.circle-artifacts.com/0/macos_cdat-v80-nox_py3/cdutil-tests_html/test_cdutil_times.html
ImportError: dlopen(/Users/distiller/project/workdir/miniconda/envs/cdat-v80-nox_py3/lib/python3.6/site-packages/cdtime.cpython-36m-darwin.so, 2): Library not loaded: @rpath/libnetcdf.13.dylib

[2018-12-07 02:37] doutriaux1 commented on #2220
I fixed the yamls today, I'm letting the test suite run tonight and it should be updated tomorrow.

[2019-02-08 22:41] chengzhuzhang opened #2224 "cdutil.ANNUALCYCLE.climatology() failed in cdutil 3.1.0"
As discussed in an email with @doutriaux1 and @dnadeau4 the same function works in cdutil 2.10, while failed in cdutil 3.1.0

Below is the code:
[code]

Below is the error:
[code]

[2019-02-08 22:43] chengzhuzhang commented on #2224
[test_data_amip_r1i1p1_3hr_regrid_3x3_sgp.nc.zip](https://github.com/CDAT/cdat/files/2847158/test_data_amip_r1i1p1_3hr_regrid_3x3_sgp.nc.zip)

[2019-02-19 18:49] lee1043 commented on #2224
@chengzhuzhang it looks like the error is coming from using squeeze in-correctly. Please try replacing last line of your code as below:
`var_season = cdutil.ANNUALCYCLE.climatology(var)(squeeze=1)`

[2019-02-19 18:52] lee1043 commented on #2224
`var.shape` --> (324, 1, 1): monthly time series on one grid (or area-averaged)
`ann = cdutil.ANNUALCYCLE.climatology(var)`
`ann.shape` --> (12, 1, 1): annual cycle of var
 `var_season = cdutil.ANNUALCYCLE.climatology(var)(squeeze=1)`
`var_season.shape` --> (12,): annual cycle of var, lat/lon dimensions removed

[2019-02-19 18:52] chengzhuzhang commented on #2224
Thank you @lee1043. I talked to @dnadeau4 , it seems like using asma() also works. My question is, since the same line worked for an older version cdat2.10. Is it because cdat3.10 dropped support for squeeze() ?

[2019-02-19 18:54] doutriaux1 commented on #2224
@chengzhuzhang you're right it might needs a cleanup at the cdms level. @dnadeau4 what do you think?

[2019-02-19 18:57] lee1043 commented on #2224
@chengzhuzhang in my understanding `asma` returns numpy array instead of transient variable; so you lose coordinate information. I think it might be still useful to keep `var` type as transient variable.
[code]

[2019-02-19 19:12] lee1043 commented on #2224
I agree usage of squeeze seems not very clear in the current documents, for example:
https://cdms.readthedocs.io/en/latest/search.html?q=squeeze&check_keywords=yes&area=default
https://cdms.readthedocs.io/en/latest/generated/MV2.squeeze.html?highlight=squeeze

[2019-02-20 10:12] alaniwi opened #2225 "cdms2 build fails in conda 4.6.x due to ESMF issue"
cdms2 build is failing in conda 4.6.x because of an ESMF dependency issue which has been raised at https://github.com/conda-forge/esmf-feedstock/issues/35

Opening this issue here so that cdms2 developers are aware of the issue linked above, and can watch to see whether it is fixed or whether there is any need to work around it in cdms2.

[2019-02-20 13:28] doutriaux1 commented on #2225
@alaniwi if you use the nightly it should be fixed:
`conda create -n nightly -c cdat/label/nightly -c conda-forge cdat`

Alternatively you can downgrade conda first
`conda install -n base -f 'conda<4.6'`

Please let us know if either of these solution help.

@dnadeau4 any other idea?

[2019-02-20 13:39] alaniwi commented on #2225
Thanks. Yes, it's known that downgrading conda seems to solve it (though it has already caught people out using 4.6.x). I sent you a link on Slack to the channel where it was being discussed.

[2019-02-20 18:51] xylar commented on #2225
This PR should fix the issue going forward: https://github.com/conda-forge/esmf-feedstock/pull/36

[2019-02-20 21:27] dnadeau4 commented on #2225
@alaniwi I worked on this all weekend a week ago and you can now install cdms 3.1.2 with conda 4.6.2
[code]

Note: libcdms is not necessary, but ensure that it is not downgraded to 3.0.1 due to openssl 1.1 dependency.  I unpinned ESMF from cdms 3.1.2 since I new this issue would be coming faster than ESMF would update their package.

[2019-02-21 09:43] alaniwi commented on #2225
@dnadeau4 Thank you -- I'll let people know. (Sorry to hear that it took all your weekend!)

[2019-02-28 09:34] jypeter opened #2226 "readline or curses problem with CDAT 8.0 (python 2 version) ?"
This problem is a bit hard to describe, but now that I'm running more tests on 8.0, I have found out that I **can't edit lines correctly on the python prompt**. The strange thing is that I have this problem with the python 2 version, but it's working fine on the python 3 version

I have pasted below what I get when I type: 123 `<CR>` 456 `<CR>` 789 `<CR>` `<UParrow>` `<UParrow>` `<UParrow>` `<CR>`

[2019-03-13 16:58] wagmanbe opened #2228 "Create 3d plots in loop, noninteractive"
Hi,
I'm trying to loop over time, making 3d_scalar plots and exporting them. This works in 2D ([see simple 2d data animation](https://cdat-vcs.readthedocs.io/en/latest/Jupyter/Animations.html)). But in 3d, the plots are identical and never advance in time, even though the data is different. I have tried to get creative about not reusing canvas names, and clearing everything I can, to no avail. Her

[2019-03-13 17:50] doutriaux1 commented on #2228
@ThomasMaxwell  please do you remember how to clear the saved state?

[2019-03-18 16:06] durack1 opened #2229 "CDAT8.1 reports version "8.0" in cdat_info"
[code]

@doutriaux1 this really isn't great.

[2019-03-18 16:10] doutriaux1 commented on #2229
@durack1 you're right will fix this asap

[2019-03-18 16:11] durack1 commented on #2229
It might be nice to wrap this up with changes so we can also query cdms2, cdutil etc etc - I suppose that's up to @dnadeau4

[2019-03-18 16:14] durack1 commented on #2224
@doutriaux1 this could be a candidate for migration into the https://github.com/CDAT/cdutil issue list

[2019-03-18 18:45] dnadeau4 commented on #2229
@durack1 not really me anymore.  I am doing `parallelization` now.

[2019-03-27 19:47] pochedls opened #2231 "cdscan speed"
cdscan is a critical utility for using CMIP data. To create an xml file link to all CMIP datasets requires "scanning" order 10<sup>5</sup> files (possibly 10<sup>6</sup> files with CMIP6).

The operation can be quite time consuming for some fields (this took ~2 minutes in earlier tests):

`time cdscan -x test.xml /p/css03/cmip5_css02/data/cmip5/output1/MIROC/MIROC5/historical/mon/ocean/Omon/r2i1p1

[2019-03-29 12:39] #2229 closed

[2019-04-09 20:59] #2140 closed

[2019-04-09 21:10] doutriaux1 commented on #2132
@scottwittenburg @danlipsa trying this today i get:
[code]

I guess there's nothing to do about it right?

[2019-04-09 21:13] #2114 closed

[2019-04-09 21:15] #2073 closed

[2019-04-09 21:18] doutriaux1 commented on #2010
migrated

[2019-04-09 21:18] #2010 closed

[2019-04-09 21:19] doutriaux1 commented on #1982
migrated

[2019-04-09 21:19] #1982 closed

[2019-04-09 21:20] #1975 closed

[2019-04-09 21:25] doutriaux1 commented on #1955
migrated

[2019-04-09 21:25] #1955 closed

[2019-04-09 21:28] #1944 closed

[2019-04-09 22:32] #1925 closed

[2019-04-09 22:33] #1924 closed

[2019-04-09 22:33] doutriaux1 commented on #1923
migrated

[2019-04-09 22:33] #1923 closed

[2019-04-09 22:35] doutriaux1 commented on #1922
works in 8.1

[2019-04-09 22:35] #1922 closed

[2019-04-09 22:53] doutriaux1 commented on #1833
migrated to vcs

[2019-04-09 22:53] #1833 closed

[2019-04-09 23:17] doutriaux1 commented on #1832
migrated to vcs

[2019-04-09 23:17] #1832 closed

[2019-04-09 23:19] doutriaux1 commented on #1818
migrated to vcs

[2019-04-09 23:19] #1818 closed

[2019-04-09 23:20] #1783 closed

[2019-04-09 23:21] doutriaux1 commented on #1770
migrated to vcs

[2019-04-09 23:21] #1770 closed

[2019-04-10 18:31] doutriaux1 commented on #1762
migrated

[2019-04-10 18:31] #1762 closed

[2019-04-10 18:37] doutriaux1 commented on #1598
migrated to vcs

[2019-04-10 18:37] #1598 closed

[2019-04-10 18:38] doutriaux1 commented on #1597
migrated to vcs

[2019-04-10 18:38] #1597 closed

[2019-04-10 18:40] doutriaux1 commented on #1594
migrated to vcs

[2019-04-10 18:40] #1594 closed

[2019-04-10 18:47] doutriaux1 commented on #1590
migrated to vcs

[2019-04-10 18:49] doutriaux1 commented on #1590
@durack1 data is gone of course, any chance you can find it again?

[2019-04-10 18:54] doutriaux1 commented on #1590
could it be: http://aims3.llnl.gov/thredds/fileServer/cmip5_css01_data/cmip5/output1/BCC/bcc-csm1-1-m/piControl/fx/ocean/fx/r0i0p0/v20130307/areacello/areacello_fx_bcc-csm1-1-m_piControl_r0i0p0.nc

[2019-04-10 18:55] doutriaux1 commented on #1590
migrated to vcs

[2019-04-10 18:55] #1590 closed

[2019-04-10 18:56] doutriaux1 commented on #1584
migrated to vcs

[2019-04-10 18:56] #1584 closed

[2019-04-10 18:57] doutriaux1 commented on #1530
migrated to vcs

[2019-04-10 18:57] #1530 closed

[2019-04-10 19:02] #1527 closed

[2019-04-10 19:07] doutriaux1 commented on #1482
migrated to vcs

[2019-04-10 19:07] #1482 closed

[2019-04-10 19:10] doutriaux1 commented on #1462
moved to vcs.

[2019-04-10 19:10] #1462 closed

[2019-04-10 19:15] doutriaux1 commented on #1451
migrated to vcs

[2019-04-10 19:15] #1451 closed

[2019-04-16 19:32] #1407 closed

[2019-04-16 19:34] #1222 closed

[2019-04-16 19:44] #496 closed

[2019-04-16 19:46] #426 closed

[2019-04-17 21:45] doutriaux1 commented on #1439
migrated

[2019-04-17 21:45] #1439 closed

[2019-04-18 15:11] #2040 closed

[2019-04-18 15:13] #1295 closed

[2019-04-18 15:22] #1286 closed

[2019-04-18 15:24] #1280 closed

[2019-04-18 15:25] #1277 closed

[2019-04-18 15:26] #1264 closed

[2019-04-18 15:34] #1214 closed

[2019-04-18 15:35] #1162 closed

[2019-04-18 15:44] #1080 closed

[2019-04-18 16:20] #1079 closed

[2019-04-18 16:27] #1066 closed

[2019-04-18 16:29] #1021 closed

[2019-04-18 16:32] #906 closed

[2019-04-18 16:39] #662 closed

[2019-04-18 17:30] #1065 closed

[2019-04-19 18:50] sterlingbaldwin commented on #2228
@doutriaux1 I was playing around with generating animations and ran into the exact same problem. I even tried deleting the canvas and re-initializing for every frame, but no luck, every frame came out exactly the same.

[2019-04-23 16:06] doutriaux1 commented on #2228
@sterlingbaldwin I need to eventually fix thids but I found a solution for the user as a temporary work-around. Instead of plotting `data[i]` plot `data[i]*1.` this seems to clear the cache and update each frame.

[2019-04-25 09:56] jypeter opened #2232 "Is CDAT compatible with IDP (Intel Distribution for Python)"
@doutriaux1 @dnadeau4 I have just rediscovered the conda based [Intel Distribution for Python](https://software.intel.com/en-us/distribution-for-python)

I wonder if somebody has tried to install this distribution and then install CDAT (or at least **cdms2** and **cmor**) inside?

They nave a nice list of [what is bundled with their distribution](https://software.intel.com/en-us/articles/complete-

[2019-04-25 16:32] doutriaux1 commented on #2232
@jypeter indeed it would be nice. But we have no cycles for this unfortunately. If you ever get around it, please let us know.

[2019-05-17 09:31] arulalant commented on #2206
@doutriaux1 Could you please add xmgrace into default package of upcoming cdat8versions.
When I try to install it inside cdat8.1, conda asking me to downgrade some of the python packages which I do not want to do.

Thanks.

[2019-05-31 19:00] chengzhuzhang opened #2233 "CDAT Support on Cori and LC"
Hi, @doutriaux1 There are a couple of reports that CDAT support is needed for Cori since Edison was down..Also support/maintenance of CDAT on LC is also needed..I suggested the users to use e3sm_unified as a work around on Cori coz both have access to e3sm_unified.

[2019-05-31 19:41] doutriaux1 commented on #2233
@chengzhuzhang cdat is on cori by itself but you need to be in the uvcdat group. If you give me your nersc username i cvan ask to have you added.

[2019-05-31 19:49] chengzhuzhang commented on #2233
Thank you @doutriaux1! would you please add hyma and chengzhu on Cori?

[2019-07-12 10:57] xylar opened #2234 "Build with hdf5=1.0.5"
The latest packages on conda-forge are build with hdf5=1.0.5, but cdat v8.1 and its dependencies are built with hdf5=1.0.4.  Could a new build be made with hdf5=1.0.5 for compatibility with conda-forge?

[2019-07-15 12:32] doutriaux1 commented on #2234
@dnadeau4 can we do this?

[2019-07-15 18:38] dnadeau4 commented on #2234
The issue I had was netcdf 4.7 and other libraries (libcf, libcdms,...)   I had to pin netcdf=4.6.2   Last time I tried to upgrade libnetcf to 4.7 some conda-forge libraries were still at 4.6.2,  I can try again and see if I can make it work.  Issues often arise on OSX, but not Linux due to the some version metadata.

[2019-07-15 18:43] xylar commented on #2234
@dnadeau4, I believe this is the official place to see what the current conda-forge pinnings are:
https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml

If you look there, they're still using libnetcdf 4.6.2:
https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml#L455
But hdf5=1.10.5:
https://github.

[2019-07-15 19:27] xylar commented on #2234
I would imagine it would make all of our lives easier if more cdat packages made their way to conda-forge.  If you're interested in doing that and need another maintainer to help with the process, let me know.  I'm vaguely aware that some packages are on conda-forge and others are not but I'm not quite clear on which and why.

[2019-07-15 19:31] doutriaux1 commented on #2234
@xylar we have recipe for all but vtk-cdat pkg takes too long to build and is killed by conda-forge... Hence we could never push it to conda-forge. And therefore all of our graphics are NOT on conda-forge. But this is not the issue here as cdms2 is on conda-forge.

[2019-07-15 19:38] dnadeau4 commented on #2234
@xylar I had to recompile CDMS2 2 weeks ago since conda-forge changed the `gcc` compiler to `clang` on OSX.   The `cdat/label/nightly` channel has 1.10.5 for hdf5.    I could try to make a point release on conda-forge.  @doutriaux1 is this ok with you?

[2019-07-15 19:57] xylar commented on #2234
@doutriaux1, ah, that makes sense.  I can see why vtk-cdat might be a problem beyond building -- it vendors a lot of other stuff from what I recall and conda-forge doesn't allow that.  Thanks for the clarification.

[2019-07-15 20:12] xylar commented on #2234
cdms2 from conda-forge is working fine with hdf5=1.10.5.  I'll try to figure out which package wasn't happy with that hdf5 version.  I assume it was something in `cdat/label/v81` but I didn't figure out for sure which.

[2019-07-16 12:01] xylar commented on #2234
I'm not sure if either of you did anything, but I am now able to build the environment I need with `hdf5=1.10.5`.  Not sure what changed or what wasn't working before.  But thank you both either way!

[2019-07-16 12:01] #2234 closed

[2019-07-16 12:36] xylar opened #2235 "make basemap dependency optional?"
`basemap` isn't getting developed or maintained very regularly.  It's becoming increasingly difficult to maintain compatibility between `basemap` and other packages as a result (e.g. `ncl`).  Many packages are moving to `cartopy` instead, though I have also found `cartopy` development to proceed more slowly than I would like.

Looking through `cdat`'s code base, it looks like the only places `base

[2019-07-16 15:03] doutriaux1 commented on #2235
@xylar I think the basemap dependency was only added originally to make local matplotlib users happy. I will remove it from CDAT.

[2019-07-16 17:00] xylar commented on #2235
That sounds great!

Yep, I know the feeling.  That's the difficulty with a metapackage -- include too little and users want more, too much and you potentially cause conflicts.

[2019-07-16 19:51] chengzhuzhang opened #2236 "cdms variables lost attribute (units. ect) after applying cdutil.YEAR()"
Attributes such as long_name, units.ect should stay. Might be a bug in the cdutil code...

[2019-07-23 02:09] Xunius opened #2237 "ndarray take method doesn't work with slice"
I installed cdat using this conda command:

[code]

Running some scripts that used to work in older versions (I was using py2 previously) now breaks. I got this error:

[code]
where `self.data` is a 3d ndarray, `index` is `[[slice(None, None, None), slice(None, None, None), slice(0, 1, None)]]`.

So the ndarray's take method is not working with slices any more. How do I fix this?

The entire outpu

[2019-07-23 02:47] Xunius commented on #2237
Update myself:

It started from `basemap.addcyclic(im, lons)`, where `im` is a `TransientVariable`. If I do `basemap.addcyclic(np.array(im), lons)` it works.

Inside `addcyclic` it is this line that triggers the error: `npsel.concatenate((a,a[slicer]),axis=axis)`. `a[slicer]` works for ndarray but not for `TransientVariable`.

[2019-07-23 02:47] #2237 closed

[2019-07-23 03:40] Xunius opened #2238 "cdat81 uses only 1 cpu core"
Hi all,
I'm updating from cdat-lite to cdat81, installation is done by:
[code]
conda is using v4.6.11

After that I installed nothing else, but jumped into a simple test like this:

[code]

The system monitor displays high cpu usage only in 1 thread, at the process gets increasingly slower as iteration goes on.

While in old cdat-lite 6.0rc2, the same script uses all of my cores, and there is no n

[2019-07-23 04:58] Xunius commented on #2238
Does it have something to do with mkl? If I create an empty env, install numpy first using `conda install numpy`, then install `conda install -c conda-forge cdms2`, I got:

[code]

[2019-07-23 12:54] doutriaux1 commented on #2238
@Xunius you can use `dask` with cdms (from nightly builds) to use all core. Since you're creating more axes and data with each step I'm not surprised your system gets slower as it goes. @dnadeau4 can you point @Xunius to some dask examples? Thanks.

[2019-07-23 16:38] dnadeau4 commented on #2238
@xunius  the `downgraded` package is due from  going from the `main` channel from `anaconda` to `conda-forge` channel.   `conda-forge` is usually not as up-to-date as `anaconda`.

I have a test for using `Dask` here:
https://github.com/CDAT/cdms/blob/master/tests/test_serialize.py

I have run/demo it in `pangeo` in the past.
https://binder.pangeo.io/v2/gh/cdat/dask-cdms/master

the code can be fou

[2019-07-23 21:15] durack1 opened #2239 "CDAT create env failing on new anaconda3 build"
I have just re-installed anaconda3 and now receive the below:
[code]

@doutriaux1

[2019-07-23 21:20] doutriaux1 commented on #2239
should be `-c cdat/label/v81` or `-c cdat/label/nightly` not `-c cdat`

[2019-07-23 21:25] durack1 commented on #2239
@doutriaux1 does this look right to you?
[code]

[2019-07-23 22:44] durack1 commented on #2239
@doutriaux1 the above works fine, closing

[2019-07-23 22:44] #2239 closed

[2019-07-23 22:45] dnadeau4 commented on #2239
I was trying it.  Good to know!

[2019-07-23 22:51] durack1 commented on #2239
@doutriaux1 @dnadeau4 it would be great to clean this up, so a default env build from master works without an issue

[2019-07-24 09:13] Xunius commented on #2238
Many thanks for the info.
I think I managed to get it work by pinning numpy and mkl in the env, and copying over a few lib*.so files. I'm surprised that cdms2 even imports.
I've never used `dask` before, will look into that, thanks for the links @dnadeau4

[2019-07-25 02:03] #2238 closed

[2019-07-25 02:27] Xunius opened #2240 "TransientVariable indexing with numpy.int64"
Hi all,

I got this error when doing something like:
[code]
Error:
[code]

where `mydata` is a TransientVariable, `y` and `x` happen to be `numpy.int64`. I guess that's why they fail the test in `cdms2/avariable`'s `specs2slices()` function:

[code]
So maybe something like:

[code]
For py2 there is also a `long` type.

Or we just force user to cast their indices to plain int?

[2019-07-25 13:04] doutriaux1 opened #2241 "create template issue for CDAT"
We should have a template issue for CDAT that mentions
* Make sure you're filing here only if you can't figure out if it should be in cdms/vcs/vcsaddons,genutil/cdutil.
* give result of `conda info`
* give result on `conda list`

[2019-08-30 07:24] jypeter commented on #2235
I agree, basemap should be optional, especially now that is is being phased out in favor of cartopy

What I do for my multi-user CDAT installation anyway is to install CDAT as my base distribution, and then add other packages that our users want when there is no conflict: basemap, cartopy, iris, netcdf4, pyferret... ([full list here](https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:cdat_conda

[2019-08-30 08:32] jypeter opened #2243 "How are CDAT error/warning messages displayed ?"
I'm just wondering if there is kind of a _defined standard_ for displaying CDAT (packages) error/warning messages ? The trouble with python is that when you run a (long) script that may have its own verbose output, and you get Warnings from python (e.g. deprecation warnings), and possibly a long traceback at the end, **you want the really important/interesting warnings from CDAT to stand out**

Th

[2019-08-30 13:12] doutriaux1 commented on #2235
CDAT is the "BIG" distribution, LLNL's plus a bunch of useful libraries. @downiec @muryanto1 @davis278 please take a look at @jypeter list we should make sure it's all included as part of CDAT.
@jypeter if you want "just" LLNL's components do
[code]

I would encourage at the minimum to add `ipython` but it's up to you.

[2019-08-30 13:14] doutriaux1 commented on #2243
You have point, although here the comparison is not fair, you're comparing a warning (something intended by the developer) versus an error generated by the user "bad" data.

[2019-10-12 04:04] durack1 opened #2244 "Conda issues with cdat channel"
Hi folks, apologies if this is already known, but I just tried to install the latest official CDAT and managed to hit many nasty errors, wondering if I am doing something wrong, or whether there is actually an issue:
[code]

[2019-11-04 19:44] lei4320 opened #2248 "Question about the global mean value using cdms2.regrid"
Dear all,

I have a question regarding the "regrid" function in cdms2.

When I regrid the global-scale climate variable (e.g., surface air temperature, precipitation) from a fine input grid to a coarse destination grid, how will the global mean value be treated?

I tested with some model outputs. The original grid resolution is 160° by latitude and 320° by longitude, and a series of Gaussian grid

[2019-12-06 18:24] xylar commented on #2235
@muryanto1, I had forgotten that this didn't happen as part of the CDAT 8.2 release.  Could you make sure that `basemap` gets dropped as a dependency in the next release?  It has a dependency, `proj4=5.2.0` that isn't compatible with conda-forge pinnings (`proj=6.2.1` currently) and this makes supporting it in a large environment like `e3sm-unified` pretty much impossible.

[2020-03-25 21:36] davidcbaderatllnl opened #2250 "MPI error on Mac after new installation"
(cdat81) bash-3.2$ python
Python 3.6.7 | packaged by conda-forge | (default, Mar  4 2020, 16:42:48)
[GCC Clang 9.0.1 ] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Fatal error in MPI_Init_thread: Other MPI error, error stack:
MPIR_Init_thread(474)..............:
MPID_Init(190).....................: channel initialization failed
MPIDI_CH3_Init(89)...............

[2020-03-25 23:05] davidcbaderatllnl commented on #2250
Thanks to Jill

https://github.com/CDAT/cdms/issues/391

[2020-03-25 23:05] #2250 closed

[2020-06-13 02:20] Xunius opened #2252 "cannot import name 'rank' from 'numpy.ma'"
Hi all

I'm installing the cdat-lite using the following:

[code]
After installation, importing `cdms2` or `MV2` gives the following error:

[code]

My secs:
* OS: Manjaro Linux
* conda version: 4.8.2
* what else should I give?

[2020-06-13 04:08] muryanto1 commented on #2252
We have an unofficial release that has some bug fixes (including the one you ran into above) and improvements.
Please create your env as follows (for Linux):
conda create -n cdat82_mesalib -c cdat/label/v82 -c conda-forge "cdat=8.2" "python=3.7" "numpy=1.17" mesalib="17.3.9" jupyter notebook ipywidgets

[2020-06-13 08:38] Xunius commented on #2252
@muryanto1 Thanks, this one worked.
I noticed that doing everything in one line also works, like
[code]
while if I create a new env, activate, then install `cdms2` and `cdutil`, I got the above error message. Why are these 2 different? I always tend to create an empty env and install packages one by one. So is it more preferable to install everything in one go?

[2020-06-15 21:54] khouakhi opened #2253 "install from google colab"
I tried to install cdms2 in conda from Colab and I get

Executing transaction: ...working... failed
ERROR conda.core.link:_execute(502): An error occurred while installing package 'conda-forge::bzip2-1.0.8-h516909a_2'.
NotADirectoryError(20, 'Not a directory')
Attempting to roll back.
Rolling back transaction: ...working... done

details below:

`!wget -c https://repo.anaconda.com/miniconda/Minico

[2020-06-15 22:49] muryanto1 commented on #2252
@xunius When you install it in one line during conda create, conda tries to find packages that satisfy all dependencies.
I did verify that both actually brings in different python and cdms2.
you can do 'conda list --explicit' inside both environments to see the difference.
In general, I try to install as much as I know in advance during 'conda create'.

[2020-06-15 23:02] muryanto1 commented on #2253
@khouakhi  Is it possible for you to use Miniconda 4.7.12?
wget https://repo.anaconda.com/miniconda/Miniconda3-4.7.12.1-Linux-x86_64.sh -O Miniconda3-4.7.12.1-Linux-x86_64.sh
bash ./Miniconda3-4.7.12.1-Linux-x86_64.sh -b -p miniconda3
source miniconda3/etc/profile.d/conda.sh
conda activate base

# pick up an unofficial release of cdat 8.2 on Linux
conda create -n cdat82 -c cdat/label/v82 -c conda-

[2020-06-16 00:47] Xunius commented on #2252
@muryanto1 I see. Thanks.

[2020-06-16 00:47] #2252 closed

[2020-06-16 22:57] khouakhi commented on #2253
I managed to install cdms2 and cdutil but I could not import the modules
Colab notebook [here](https://colab.research.google.com/drive/1wQhTRY0yY327eat9VB2HkPQIWeOxPUGm?usp=sharing)

!wget https://repo.anaconda.com/miniconda/Miniconda3-4.7.12.1-Linux-x86_64.sh
!chmod +x Miniconda3-4.7.12.1-Linux-x86_64.sh
!bash Miniconda3-4.7.12.1-Linux-x86_64.sh -b -f -p /usr/local
import sys
sys.path.append('/us

[2020-06-18 01:44] muryanto1 commented on #2253
I cannot tell why you cannot import cdms2.
Would you be willing to try creating a separate environment just like I showed above?

[2020-06-20 22:48] khouakhi commented on #2253
Installed CDAT and 'import cv2' works but

import cdms2

ImportError                               Traceback (most recent call last)
<ipython-input-6-ea0345ec82bf> in <module>()
----> 1 import cdms2

1 frames
/usr/local/lib/python3.7/site-packages/cdms2/dataset.py in <module>()
      6 from .error import CDMSError
      7 import sys
----> 8 from . import Cdunif
      9 import numpy
     10 from .

[2020-06-29 21:03] jasonb5 commented on #2253
@khouakhi The mixing of these two environments, colab and conda, is not something we support. It can create undesirable behavior. In your colab environment, cdms2 works well when running using the python it was installed with, using it any other way than this is not supported. The following demonstrates `cdms2` working correctly using the python it was installed with.

[code]

At this time the onl

[2020-06-30 11:50] khouakhi commented on #2253
@jasonb5 I added numpy as suggested and used cat << EOF > test.py
not I understand your demo

### get miniconda
!wget -c https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
!chmod +x Miniconda3-latest-Linux-x86_64.sh
!bash ./Miniconda3-latest-Linux-x86_64.sh -b -f -p /usr/local
### conda install cdms2 with numpy 1.17
!conda install -c conda-forge "numpy=1.17" cdms2
### import cdm

[2020-07-08 21:05] jasonb5 commented on #2253
@khouakhi Looks like you might be missing the ending line with `EOF`

[code]

[2020-07-16 19:26] chengzhuzhang opened #2254 "cdscan fails on grib control files"
It was reported by @tangq at https://github.com/E3SM-Project/e3sm-unified/issues/75
I tried to reproduce the problem with data on Cori NERSC with cdms3.0.0 and 3.1.4. It turned out the newer cdms3.1.4 had this problem.

[2020-07-23 19:05] jasonb5 opened #2255 "CDAT 8.2.1 Release"
Use this issue to track 8.2.1 release progress.

- [x] Build CDAT RC 8.2.1.rc1
- [x] update readthedocs env file for cdms and vcs
- [x] Build CDAT RC 8.2.1.rc2
- [x] Pass testing
- [x] Build CDAT Release
- [x] Update documentation

List might change.

[2020-07-29 21:35] muryanto1 commented on #2215
This issue is not applicable anymore

[2020-07-29 21:35] #2215 closed

[2020-07-31 21:24] muryanto1 opened #2256 "drop"

[2020-07-31 21:26] muryanto1 opened #2257 "remove 'basemap' from cdat metapackage"

[2020-08-02 12:25] Blue-Taylor opened #2258 "CDMSError('Cannot open file %s (%s)' % (path, err))"
Hi,

**I am new to Python and CDAT. I get the following error while trying to open a NetCDF file.**
_>>> import cdms2

CDMS system error: No such file or directory
CDMS I/O error: Opening file /home/vikas/Desktop/upstr_mean.nc
Traceback (most recent call last):
  File "/home/vikas/anaconda3/envs/cdat/lib/python3.7/site-packages/cdms2/dataset.py", line 1275, in __init__
    _fileobj_ = Cdunif.Cduni

[2020-08-03 18:48] #2257 closed

[2020-08-04 15:26] jasonb5 commented on #2256
@muryanto1 Is this issue still required?

[2020-08-04 15:31] jasonb5 commented on #2255
Just noting these non-blocking issues.

- https://github.com/CDAT/dv3d/issues/30
- https://github.com/CDAT/vcsaddons/issues/54

[2020-08-04 15:34] muryanto1 commented on #2256
closing it, accidentally opened this issue before completing it. was supposed to be an issue for dropping 'basemap'.

[2020-08-04 15:34] #2256 closed

[2020-08-04 15:51] jasonb5 commented on #2253
@khouakhi Please reopen if you still need assistance.

[2020-08-04 15:51] #2253 closed

[2020-08-06 20:21] #2255 closed

[2020-08-06 22:07] muryanto1 commented on #2255
Test logs are:
https://app.circleci.com/pipelines/github/CDAT/cdat_validate_release/19/workflows/aec34ba1-3cee-46a4-bd6a-44c370afe883

[2020-08-13 08:10] Xunius opened #2259 "Update roadmap?"
Hi,

I noticed that the roadmap info (https://github.com/CDAT/cdat/wiki/Roadmap-to-Release) is pretty old and stops at 2017. I wonder is there an update vision of CDAT, where is it heading in the future?

Thanks

[2020-08-13 17:37] downiec commented on #2259
@Xunius yes we have a vision, but it hasn't been posted there and is still being developed. Thanks for bringing that to our attention, we are still working on updating all the documentation in the wiki and elsewhere as the previous main developers have moved on and there's a lot of cleanup left to do to the legacy documentation and stale issues.

[2020-08-13 19:11] muryanto1 opened #2260 "cdms2.open() hitting segfault 11 with mpich libnetcdf"
cdms2.open() hitting segfault 11 with mpich libnetcdf, Only hit this segfault if we do import cdat_info or testsrunner into the env. Jason is looking into this. (have vtk-cdat in the test env) -- this may push us to use vtk instead of vtk-cdat

[2020-08-13 19:11] muryanto1 opened #2261 "vcs with vtk 9.0.0.rc3 shows antialiasing issue."
vcs with vtk 9.0.0.rc3 shows antialiasing issue. Jason narrowed it down to a maybe issue with vtk - calling GetMultiSample() after Render() is returning 0, different from what was returned from GetMultiSample() before Render(), submitted:  https://gitlab.kitware.com/vtk/vtk/-/issues/17910

[2020-08-18 19:44] jasonb5 commented on #2233
@chengzhuzhang Is there anything outstanding with this issue or may I close it? Thanks!

[2020-08-18 19:59] chengzhuzhang commented on #2233
Hi @jasonb5 thanks for tracking it. I don't have a specific issue now, but in general I was wondering do we still support the uvcdat group at Cori?

[2020-08-18 20:11] jasonb5 commented on #2235
`basemap` was removed from CDAT 8.2.1.

[2020-08-18 20:11] #2235 closed

[2020-08-18 20:14] jasonb5 commented on #2226
Closing as python2 is no longer supported and python3 appears to be working.

[2020-08-18 20:14] #2226 closed

[2020-08-18 20:15] jasonb5 commented on #2225
Closing as it looks like this was solved.

[2020-08-18 20:15] #2225 closed

[2020-08-18 20:17] jasonb5 commented on #2233
I'm not sure, @muryanto1 @downiec are we still providing support to the group at Cori?

[2020-08-18 20:30] jasonb5 commented on #2209
This issue is not related to CDAT.

[2020-08-18 20:30] #2209 closed

[2020-08-18 20:33] jasonb5 commented on #2203
Sounds like this was fixed. If this is still an issue, please try with the latest CDAT (8.2.1).

[2020-08-18 20:33] #2203 closed

[2020-08-18 20:39] jasonb5 commented on #2202
If this is still an issuem, please reopen.

[2020-08-18 20:39] #2202 closed

[2020-08-18 20:48] downiec commented on #2233
I believe @sterlingbaldwin may be more familiar with this question. I'm not sure the if we are still providing support to the group.

[2020-08-18 20:53] jasonb5 commented on #2201
Closing as upgrading CDAT releases is not supported.

[2020-08-18 20:53] #2201 closed

[2020-08-18 20:58] jasonb5 commented on #2198
Closing issue as a solution was found.

[2020-08-18 20:58] #2198 closed

[2020-08-18 21:21] jasonb5 commented on #2220
Try the latest CDAT (8.2.1). If the issue still exists, please open a new issue.

[2020-08-18 21:21] #2220 closed

[2020-08-19 04:35] chengzhuzhang commented on #2233
Thank you guys. Since the cdat installation was made much easier now, the support on Cori and LC maybe not needed any more. I guess we can re-visit problem when requests arrive.

[2020-08-19 16:32] jasonb5 commented on #2129
Closing this issue, another issue was created in the cdms repo which has been closed.

[2020-08-19 16:32] #2129 closed

[2020-08-19 16:36] jasonb5 commented on #2083
Closing as I do not believe we've pushed an update in quite some time.

[2020-08-19 16:36] #2083 closed

[2020-08-19 16:39] doutriaux1 commented on #2083
@jasonb5 yes this is pre-conda when we used to build everything (including external deps)  from sources

[2020-08-20 14:29] #2233 closed

[2020-08-20 17:53] jasonb5 commented on #2083
@doutriaux1 Ah good to know, thanks.

[2020-10-21 15:35] jservonnat opened #2263 "Possibility to install cdms2/cdutil from source?"
Hello UV-CDAT team,
glad to be back ;). I'm currently trying to work with my computing center on a python installation with cdms2 and cdutil. At the moment, they don't want to install the packages with conda and want to compile themselves for security reasons.
Is there a way to get the sources and not install cdat with conda?
Cheers

[2020-10-21 15:38] doutriaux1 commented on #2263
@jservonnat just use the recipe that is pacakged with the conda packages. I believe the recipe is also part of the cdms/cdutil repo.

[2020-10-23 09:57] jservonnat commented on #2263
@doutriaux1 do you think that using https://github.com/CDAT/cdat/blob/master/conda/cdat-v82_py3.7.Linux.yaml could do the job?

[2020-10-23 14:16] doutriaux1 commented on #2263
@jservonnat
build recipe: https://github.com/CDAT/cdms/blob/master/recipe/build.sh
dependencies: https://github.com/CDAT/cdms/blob/master/recipe/meta.yaml.in

You will have to follow the similar links for our own dependencies: libcdms, libcf, libdrs (you do not need the 'f' version it's for fortran and only used for pcmdi's scientist old file format), and cdtime. The rest should be standard and al

[2020-10-23 14:17] doutriaux1 commented on #2263
If you run into issues I'm sure @jasonb5, @painter1  or @muryanto1 can help you

[2021-02-16 01:40] LDuan3008 opened #2264 "Issues and questions using VCS on MacOS"
Hi all,

I installed the latest CDAT-8.2.1 on my MAC (10.15.7) based on instructions here: https://github.com/CDAT/cdat/wiki/Installing-Previous-CDAT-Versions. While CDAT works fine for me for most purposes, I do have several issues using it and I cannot find answers by googling:

(1) I am running Python/CDAT using Visual Studio Code. The `a.plot(b,array)` command cannot open canvas window for me.

[2021-02-19 00:29] downiec commented on #2264
HI @LDuan3008

I'm not sure what specific command you used to create your CDAT env, but I tried creating one from scratch using the installation steps documented here: https://github.com/CDAT/cdat/wiki/Install

Then after I created the environment, I opened a VSCode terminal, activated the environment and ran the following commands for a test plot, to see whether the canvas window opens:

[code]

[2021-03-01 09:33] jypeter opened #2265 "Some questions and notes about 8.2.1 installation"
I have started installing `CDAT 8.2.1` (not too early, some might say), and I have some questions and remarks concerning the [Installing latest CDAT - 8.2.1](https://github.com/CDAT/cdat/wiki/install#installing-latest-cdat---821) section

@downiec @jasonb5 ?

I have started with a brand new miniconda3 installation providing `conda 4.9.2`

### cdat installation line does not work with tcsh

You are

[2021-03-06 02:46] downiec commented on #2265
@jypeter Thanks for the feedback and questions. I'm planning on updating the documentation to hopefully clarify things you mentioned, to the best of my knowledge. I am going to attempt to answer everything you posted, when I have a chance to look into all of it. For now, here's what I can respond to:
1. I'll note that the commands didn't work in **tcsh** and update the instructions to specify that

[2021-03-11 08:52] jypeter opened #2266 "genutil.averager tutorial?"
I have not found an **averager tutorial** in the notebooks available on the CDAT site that I could send to a colleague. I think there is one, or someone was working on one, but I can't find the issue where it was mentioned

Oh, maybe it's the one mentioned here: https://github.com/CDAT/genutil/issues/33#issuecomment-565383579

It should be easy to find this! It took me 40 mn to find this, checking

[2021-03-19 00:46] downiec commented on #2265
@jypeter I made a few updates to the install wiki page based on your feedback and did my best to answer the questions where I could. We can reopen an issue if there are further things to update, but for now I will close this issue. Thanks

[2021-03-19 00:46] #2265 closed

[2021-03-19 00:51] downiec commented on #2264
Did not receive further response, closing the issue for now.

[2021-03-19 00:51] #2264 closed

[2021-03-19 00:54] downiec commented on #2263
No further responses. Closing the issue.

[2021-03-19 00:54] #2263 closed

[2021-03-19 01:38] downiec commented on #2259
Plans for CDAT have changed and the future is uncertain, currently the project is in maintenance mode. The current roadmap has been updated to reflect this. https://github.com/CDAT/cdat/wiki/Roadmap-to-Release

[2021-03-19 01:38] #2259 closed

[2021-07-05 11:14] shahid-sattar commented on #2206
Hi @doutriaux1 @arulalant
I am trying to install xmgrace via conda but it is not working from any of the given options.
A previous post suggest using:
conda install -c conda-forge -c cdat xmgrace

which is also not working.
Can anyone suggest some solution.

[2021-07-05 12:29] arulalant commented on #2206
Hai @shahid-sattar,
It is working for me. Make sure you pre-installed xmgrace system software.
For eg, in my MAC, /usr/local/bin/xmgrace which is installed homebrew cmd.
In other linux distro, you can install xmgrae software via apt-get or rpm cmd.