[2016-02-23 16:57] dnadeau4 commented on #1853
It worked for me as well,  it might have been fixed with the latest CDMS2 patch to delete attributes.

[code]

[2016-02-23 18:27] danlipsa opened #1854 "uvcdat testing checks too many images"
An image match is tested for image.png and for image_*.png.

Instead of image_*.png it should check image_?.png

[2016-02-23 19:12] doutriaux1 commented on #1854
that would probably be better.

[2016-02-23 21:36] danlipsa commented on #1849
Does this fix the issue?
https://github.com/UV-CDAT/uvcdat/pull/1855

[2016-02-24 04:11] durack1 commented on #1846
@chaosphere2112 could you take a look at this and provide some feedback? I think it'd be a nice new feature to prioritise, and UV-CDAT should "own" this plot format

[2016-02-24 04:11] durack1 commented on #1846
@gleckler1 pinging you on this

[2016-02-24 08:25] stefraynaud commented on #1853
@doutriaux1 @dnadeau4 There is no doubt that this basic test will pass in all normal UVCDAT configuration. What I would like to emphasize is that it seems I broke my configuration probably when I updated numpy, but I'm not sure. Do you think uvcdat-2.2.0 can be incompatible with a recent version of numpy without a re-installation of uvcdat ?

[2016-02-24 15:11] doutriaux1 commented on #1853
@stefraynaud yes it is 100% sure they're not compatible, @dnadeau4 is working hard bringing the latest numpy in.

[2016-02-24 19:19] #1825 closed

[2016-02-24 19:20] chaosphere2112 opened #1856 "VisTrails displays error about SciKit Learn on first launch when no .uvcdat present"

[2016-02-24 22:39] #1849 closed

[2016-02-24 22:42] danlipsa commented on #1834
@durack1 See https://github.com/UV-CDAT/uvcdat/pull/1855 which has just been merged into master.

[2016-02-24 22:42] #1834 closed

[2016-02-24 23:05] danlipsa commented on #1265
@doutriaux1 @aashish24 In the latest master I disabled gm.datawc for geographic projections including polar. In the current code datawc is used as a zoom-in feature where the dataset stays the same and only the parallel projection changes. This cannot work for data transformed through a geographic projection because 1. datawc is specified in lon/lat 2. the subset of data is not rectangular for the

[2016-02-24 23:56] doutriaux1 opened #1857 "cdms2 seg fault on some weird types"
in the uvcmetrics code they have an attribute (temporary) that is some python class, cdms2 seg fault when creating the file attribute

[2016-02-25 00:45] painter1 commented on #1857
The attribute is :filetable.  The segfault occurs when you write an object which has that attribute - cdms2 can write only its own objects, or strings or numpy objects.
The solution is to replace the filetable attribute with an id, filetable.id() which is already defined (if cdms2 barfs on this, make a string out of it, there's already a method for that).  Keep a global dictionary so that we can r

[2016-02-25 15:28] doutriaux1 commented on #1857
@painter1 that's the solution forthe metrics package but I would like a more general solution at the cdms2 level in case somebody else try to do something similar.

[2016-02-25 15:46] doutriaux1 commented on #1265
@danlipsa hum... I need to think about this, i think it's important it works again for all projections. Especially for the one above. The other projection are probably less importatn, robinson/molleweide really require the whole dataset, although I cans ee poeple trying to plot data going -180/180 and other data going 0/360 with the same gm and starting wondering why they look different. Lambert s

[2016-02-25 16:04] danlipsa opened #1858 "issue_960_labels test does creates overlapping labels"
![test_vcs_issue_960_labels_2](https://cloud.githubusercontent.com/assets/6180727/13325381/939d01ce-dbaf-11e5-96ba-f64c27ec15bc.png)

[2016-02-25 16:07] danlipsa opened #1859 "missing triangles for meshfill zoomed in data"
For test vcs_test_meshfill_zoom the following image is generated
![vcs_test_meshfill_zoom](https://cloud.githubusercontent.com/assets/6180727/13325455/ee6cd980-dbaf-11e5-8793-c5aa40627ba7.png)

[2016-02-25 16:11] danlipsa commented on #1859
This seems like a rendering issue. I would wait for the latest VTK and for OpenGL2 before I look more closely into this.

[2016-02-25 17:44] danlipsa commented on #1265
@doutriaux1 @aashish24 A small correction. For datasets that go through a geographic projection datawc works for wrapping (translation of the origin: 0:360 to -180:180) and for flipping but not for zooming into the data.

In the past, zooming was using an array of points in the desired interval that was  transformed through the geographic projection, then the bounding box of the transformed points

[2016-02-26 23:07] chaosphere2112 opened #1860 "Can't set colormap index using color name"
[code]
[code]

[2016-02-29 17:00] dnadeau4 commented on #1853
I fixed the mask problem, but still have about 4 issues to go through.  Right now, all might time is going to CMOR3 for CMIP6.  The first problem was that MV2.copy was overloading numpy.copy and the _mask was broken.  I had an appropriate error message and line number from numpy which made the issue difficult to solve.

[2016-02-29 22:46] nsfmc opened #1861 "help with working with virtualenv"
Hi, i was just wondering if it's possible to `import cdms2` outside the context of the uvcdat ipython, say in a virtualenv (hopefully with jupyter). if you have any guidance, that'd be great, or if you can let me know if it's simply possible to have a virtualenv add uvcdat's site packages, that would also be great.

thanks for any help.

[2016-03-01 00:20] gleckler1 commented on #1846
@durack1 11 days...  maybe this is not be the right path to support?   I am seeking guidance on basically one line of code.

[2016-03-01 00:34] aashish24 commented on #1861
@nsfmc it should be possible but will require some work. More accurate information can be given by @dnadeau4

[2016-03-01 01:39] aashish24 commented on #1854
:+1:

[2016-03-01 04:07] durack1 commented on #1846
@doutriaux1 @chaosphere2112 any chance you could answer the queries of @gleckler1 or give a likely timeline/path forward?

[2016-03-01 15:22] doutriaux1 commented on #1861
@nsfmc if you mean anaconda and sort, the short answer is no. cdsm2 is a core component of UV-CDAT and requires a UV-CDAT build. BUT it is in theory possible to build UV-CDAT against a system python which is probably your solution. @aashish24 is working on getting UV-CDAT detecting already existing components of UV-CDAT so that duplicate build is no longer necessary and existing components are reu

[2016-03-01 15:24] doutriaux1 commented on #1861
@nsfmc you should probably monitor https://github.com/UV-CDAT/uvcdat/issues/360 which is where the anaconda support will probably come from.

[2016-03-01 15:31] doutriaux1 commented on #1846
@gleckler what is it you need really? By reading the issue it seems you just want to add more taylor diagrams to the gallery, that's not a high priority isse for UV-CDAT and you shouldn't expect anything to happen on this right away.

[2016-03-01 15:35] aashish24 commented on #1861
@doutriaux1 I think what we need is individual installation of cdms2 (it does not matter where from system packages come from). Actually I have an idea on the vcs and cdms2 build and would like to discuss it in the next meeting.

[2016-03-01 15:45] doutriaux1 commented on #1861
@aashish24 that's the `lite` build but you still need all the dependencires of cdms2: hdf5/netcdf4/grib2c/jasper etc...I you add vcs/vtk then you're back to the default build. The correct way to go is to ge tour build detect existing components. Which is basically what we will be trying to do with anaconda/window port with @dnadeau4

[2016-03-01 16:11] nsfmc commented on #1861
oooh, awesome, thanks everyone! i'll poke around some more, each time i've tried installing netcdf/hdf and friends i always end up having to install it in system python, but uvcdat clearly sandboxes well enough, so maybe i'll give it a shot and report back here if i have luck.

thanks again!

[2016-03-01 16:19] aashish24 commented on #1861
these packages can be installed for most part by the user one way or another and that's why I am saying that it should be possible to build cdms2 just by itself.

@doutriaux1 let's talk about it in detail on wednesday.

[2016-03-02 15:16] danlipsa commented on #1740
The case when you don't specify a window size (as the test is written) has been fixed by:
https://github.com/UV-CDAT/uvcdat/pull/1821
When we specify a window size bigger than the screen size:
x=vcs.init()
x.open(4000, 3000)
we still produce the wrong result.

[2016-03-02 15:57] aashish24 opened #1863 "1811"

[2016-03-02 19:49] gleckler1 commented on #1846
@chaosphere2112 @doutriaux1 Neither doc provides an example of how to control the location of the legend as in http://www.arm.gov/science/highlights/images/R00424_2.jpg where the legend is left justified and to the right (outside) of the polar plot.

[2016-03-02 19:57] doutriaux1 commented on #1846
that's because I don't think it does it, you will have to construct the legend by hand

[2016-03-02 20:40] aashish24 opened #1865 "UV-CDAT does not build with ninja"
The problem is with finding gfortran.

[2016-03-02 21:51] durack1 commented on #1839
@aashish24 can you please take a look at this ASAP.. It's causing problems downstream https://github.com/PCMDI/pcmdi_metrics/issues/307

[2016-03-02 21:51] durack1 commented on #1839
@gleckler1 @doutriaux1 pinging you here - this is relevant for https://github.com/PCMDI/pcmdi_metrics/issues/307

[2016-03-02 22:14] gleckler1 commented on #1846
@doutriaux1 OK, we can use matplotlib solution

[2016-03-02 22:14] #1846 closed

[2016-03-02 22:16] durack1 commented on #1846
@gleckler1 there are many matplotlib solutions available:
https://gist.github.com/ycopin/3342888
https://www.google.com/search?q=matplotlib+taylor+diagram

[2016-03-02 22:55] durack1 commented on #1477
https://github.com/UV-CDAT/uvcdat/pull/1840 will likely get many of the dependencies sorted - some additionals may be required, however this should solve many.

[2016-03-02 23:14] doutriaux1 commented on #1846
@durack1 the issue is not the taylor daigram itself, just that @gleckler1 wants a customized legend.

[2016-03-03 04:32] durack1 opened #1867 "DV3D/VCS plot error"
The demo at http://uvcdat.llnl.gov/examples/vcs3D_cubed_sphere_volume.html returns the following error:

[code]
Following version info:
[code]
@chaosphere2112 @mattben pinging you gentlemen here

[2016-03-03 15:32] doutriaux1 commented on #1865
does ninja needs a specfic gfortran? remember we are stuck using a gfortran not too old not too recent

[2016-03-03 15:51] #1838 closed

[2016-03-03 15:53] durack1 commented on #1838
Great @doutriaux1 I'll kick off another `pcmdi_metrics` build and cross my fingers..

[2016-03-03 16:15] danlipsa opened #1868 "investigate why VTKPlots.configureEvent calls canvas.plot"
One of the concerns in cdatweb is rendering is slow. Getting rid of redundant calls to plot will help with this.

[2016-03-03 16:16] danlipsa commented on #1868
@doutriaux1 Do you have any insights on this?

[2016-03-03 16:29] aashish24 commented on #1865
No @doutriaux1 it should't but I believe it has hard time detecting the compiler string for some reason.

[2016-03-03 16:45] doutriaux1 commented on #1865
@aashish24 which OS do run into this? We detect gfortran ourselves so we could pass it to jinja

[2016-03-03 17:38] doutriaux1 commented on #1868
I think it has to do with the "autot" aspect ratio things, if your window size changes you need to create a new template to make sure the aspect ration of your plot is preserved. But there could be other reasons.

[2016-03-03 17:39] doutriaux1 commented on #1868
new template means replot

[2016-03-03 17:58] durack1 commented on #1839
@aashish24 it would seem that after a successful `CMake` install, it's not adding itself to the path, and consequently bombs
[code]
@aashish24 @doutriaux1 is this a known `CMake` bug - and if so, should we be using the `CMake 3.4.x` version instead?

[2016-03-03 18:05] aashish24 commented on #1839
@durack1 yeah I believe CMake does not add itself to path which I think is the right behavior. We should set the path correctly. I will have a look at it unless someone else wants to take it.

[2016-03-03 18:07] durack1 commented on #1839
@aashish24 if you could ascertain the best fix here that would be great.. I did test with `CMake 3.4.x` and that seemed to work, so I do wonder whether this behavior has changed in the later releases?

It'd be great to get a quick response to this too, we're hoping to get some folks up and running remotely with UV-CDAT and they're hitting issues with the install..

[2016-03-03 20:40] durack1 commented on #1839
@aashish24 any luck with this?

[2016-03-04 22:57] durack1 commented on #1397
@danlipsa @doutriaux1 pinging you here

[2016-03-05 05:31] durack1 opened #1871 "Build failure on OS X (10.11) - Freetype"
This is a duplicate of https://github.com/PCMDI/pcmdi_metrics/issues/307

Will updating the freetype libraries solve this issue?

The issue is OS X specific with the following specs:
[code]
So building UV-CDAT `LEAN` using the `install_metrics.bash` options:
[code]
The error I hit is:
[code]

[2016-03-05 05:45] durack1 commented on #1871
@doutriaux1 @dnadeau4 @aashish24 pinging you folks here for any assistance..

[2016-03-05 05:45] durack1 commented on #1871
@gleckler1 pinging you here too

[2016-03-05 07:47] durack1 commented on #1871
This issue was due to not having the `XCode Command Line Tools` installed - it's been labelled invalid

[2016-03-05 07:47] #1871 closed

[2016-03-05 07:47] durack1 commented on #1871
This issue was due to not having the `XCode Command Line Tools` installed - it's been labelled invalid

[2016-03-05 17:07] durack1 commented on #1839
@aashish24 I've just tried to update `CMake 3.4.3` to see if this fixes the problem, and it doesn't so it would be great if you can offer a solution here - the PR is at https://github.com/PCMDI/pcmdi_metrics/pull/316 - it's a downstream problem in another project

[2016-03-07 23:32] JimBiardCics opened #1873 "CMAKE_OSX_SYSROOT not set when different OSX 10.10 Xcode command line tools selected"
I am attempting to build using the install_metrics.bash script on Mac OSX 10.10 with the Xcode command line tools v 7.2 installed. I have selected the command line tools version to use using the xcode-select command:
`xcode-select -s /Library/Developer/CommandLineTools
`
The include files, etc, at this location are correct for OSX 10.10, but there is no folder labeled as being a particular SDK. Wh

[2016-03-07 23:36] doutriaux1 commented on #1873
Thanks so much for this @JimBiardCics I hope we can push a permanent fix for this this week!

[2016-03-08 15:24] #1852 closed

[2016-03-08 23:04] durack1 commented on #1867
@chaosphere2112 pinging you on this..

[2016-03-09 00:15] aashish24 commented on #1867
@durack1 let's Dan have a look at it. He is the one supposed to be taking care of DV3D plots.

@danlipsa

[2016-03-09 00:41] durack1 commented on #1867
@aashish24 ok great. @danlipsa let me know if you need any more info

[2016-03-09 00:55] durack1 commented on #1867
@mattben there is also a typo in the gallery notes - the `*.nc` file has two filenames - these should be consistent with the file linked for download. Should this be a separate issue on https://github.com/UV-CDAT/uvcdat-site?

[2016-03-09 16:25] doutriaux1 commented on #1867
@aashish24 @chaosphere2112 @durack1 @danlipsa works for me with fixes in:
https://github.com/UV-CDAT/uvcdat/pull/1874

[2016-03-09 16:35] chaosphere2112 commented on #1867
@durack1 It isn't a typo; you need two different `.nc` files to make this one run.

[2016-03-09 17:03] durack1 commented on #1867
@doutriaux1 the above looks different to the gallery:
![cubed_sphere](http://uvcdat.llnl.gov/gallery/fullsize/vcs3D_cubed_sphere_volume.png)
@chaosphere2112 it'd be great if the gallery examples were pulled into the testing suite, obviously this is a lot of work, but aspiration-ally it'd be great..

[2016-03-09 17:04] durack1 commented on #1867
@chaosphere2112 whoops, sorry I did see the two `*.nc` links, but missed that they were two separate files.. Sorry, my bad..

[2016-03-09 17:18] durack1 commented on #1867
@chaosphere2112 I still hit the following error:
[code]

[2016-03-09 18:00] ThomasMaxwell commented on #1867
Paul,
   Do you have both the files vcs3D_cubed_sphere_volume.nc and vcs3D_cubed_sphere_volume_grid.nc in the same directory as the python script?

— Tom

From: "Paul J. Durack" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 9, 2016 at 12:18 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.git

[2016-03-09 18:03] durack1 commented on #1867
@ThomasMaxwell yep - as included at [the bottom of the edited comment above](https://github.com/UV-CDAT/uvcdat/issues/1867#issuecomment-194408435):
[code]

[2016-03-09 19:17] #1784 closed

[2016-03-09 20:10] chaosphere2112 commented on #1867
@durack1 I'm thinking the issue is relative paths. Right now we're just slamming file:// on the front of whatever path you pass in; if there's no leading /, that will make what is technically an invalid file URI and `urlparse` will think the first element is the `netloc`. I've updated @doutriaux1's PR that addresses these issues.

[2016-03-09 23:04] durack1 commented on #1867
@chaosphere2112 thanks for the heads up - was #1874 a pronto merge, I'm wondering whether I should try and rebuild master or that branch specifically..

[2016-03-10 15:22] danlipsa commented on #1844
@mcenerney1 Can we have the script and the data file you used to get this error? Thanks!

[2016-03-10 15:27] danlipsa opened #1876 "Aeqd plots could use some TLC"
With the new proj4.9.2 the aeqd plots look a lot better. However, the outline could use more points so that is not so choppy, and there may be other problems.

[2016-03-10 15:29] danlipsa commented on #1640
After proj4.9.2 upgrade aeqd plots look better. We'll replace this PR with
https://github.com/UV-CDAT/uvcdat/issues/1876

[2016-03-10 15:29] #1640 closed

[2016-03-12 07:06] jsrdoz opened #1877 "Nothing happened when I started uvcdat"
I am using the MAC OS version 10.11.3.
I am following this step as shown  [here](https://github.com/UV-CDAT/uvcdat/wiki/Install-on-Mac-OS-X)
Xquartz and gfortran is all good when I installed them, but Qt failed to be installed with the dmg file, so I followed this in  [wiki](http://wiki.batcom-it.net/index.php?title=Building_Qt_on_Mac_OS_X)
I thought everything goes good. and then it's the last st

[2016-03-14 15:33] doutriaux1 commented on #1877
Hi there,

Yes you need a Qt built for 10.11 the binaries download page states that it will not work with the GUI (I.e. Qt). I will upload a binary for 10.11 shortly thanks for the reminder

C.

From: JenSun <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Saturday, March 12, 2016 at 12:06 AM
To: UV-C

[2016-03-14 15:36] doutriaux1 commented on #1877
Hi again,

Actually the tarball for qt 10.11 is already available on the binaries page. See:
248 MB<https://github.com/UV-CDAT/uvcdat/releases/download/v2.4.0/qt-4.8.6-Mac-10.11.tar.gz>qt-4.8.6-Mac-10.11.tar.gz<https://github.com/UV-CDAT/uvcdat/releases/download/v2.4.0/qt-4.8.6-Mac-10.11.tar.gz>

From: JenSun <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <rep

[2016-03-14 21:25] danlipsa commented on #1859
This is related to vtk2vtk.doWrap. If you remove that processing, the problem dissapears.

[2016-03-14 23:20] durack1 commented on #1867
@chaosphere2112 @doutriaux1 I now get a plot from `master` but also this error:
[code]

[2016-03-15 13:58] danlipsa opened #1879 "polar_meshfill does not look right"
If you load the following file
[polar_meshfill.vt.gz](https://github.com/UV-CDAT/uvcdat/files/174034/polar_meshfill.vt.gz)
you get the following image. The polar plot shown does not seem right. I think this is related to the fact that each isovalue uses a different mapper for rendering. Somehow the wrong mapper gets on top.

![polar_meshfill](https://cloud.githubusercontent.com/assets/6180727/1378

[2016-03-15 14:07] doutriaux1 commented on #1859
@danlipsa does the issue appear even if doWrap does nothing (i.e. no need to wrap?) Maybe we can try to see if anything is needed before actually calling doWrap?

[2016-03-15 14:08] doutriaux1 commented on #1859
@danlipsa does VTK has filter/functions for periodicity? Maybe at the grid generating level? That would probably be the way to go

[2016-03-15 14:09] danlipsa opened #1880 "Change the default in uvcdat so that data is not deformed/stretched"
By default, images in uvcdat are stretched to fit the window. This is highly unusual in scientific visualization. Continents/and projected datasets don't have the correct shape. In my opinion images don't look professional.

[2016-03-15 14:11] danlipsa commented on #1880
@doutriaux1 Any reasons why images are deformed? What was the option that triggers vcs to show un-deformed images? Can we get you on board with this? :-)

[2016-03-15 14:48] danlipsa commented on #1859
@doutriaux1 Probably doing that processing only when needed would fix this for some cases. Also, moving wrapping at data generation would probably fix this and also would enable datawc_ zooming for datasets that use geographic projection. This is what I would do.

There is something for periodic datasets that was recently added but it does not exactly fit the bill:
https://www.kitware.com/blog/hom

[2016-03-15 14:58] doutriaux1 commented on #1880
@danlipsa I think it is mainly for historical reason. Also the "stretching" only really occurs for plots with continents (for a time/lev plot for example there is no correct aspect ratio). @taylor13 and I implemented the `ratio='autot'` solution to make plots pretty for lat/lon plots.

[2016-03-15 15:06] doutriaux1 commented on #1880
anyhow turning "on" the auto ratio all the time will break existing script. I think that the main reason why it's not on. If we turn it on by default we will need to make sure that we can turn it off again to ensure users can get the old functionality back.

[2016-03-15 15:11] danlipsa commented on #1880
@doutriaux1 Do you mean we'll need to upgrade existing baselines? It makes sense to keep the option to get the old behavior (stretching) around for compatibility reasons and also to enable the correct ratio only for lat/lon plots.

[2016-03-15 15:14] doutriaux1 commented on #1880
Yes we will probably need to update our baselines as well, that's not such a big deal.

[2016-03-15 15:21] danlipsa commented on #1880
@doutriaux1 What is the existing script that is going to be broken by turning on auto ratio? Can we fix that? I think images in uvcdat would look a lot nicer. I look forward to seeing the correct shapes for various projections we have and the correct continent shapes as the go through various projections. I 'volunteer' to work on this. @aashish24  is already on board.

[2016-03-15 15:30] doutriaux1 commented on #1880
@danlipsa I don't know specifically but we have many many users here that have been using vcs to plot for many years. Some of these will have "autot" in them if the user added it manually, but most of the others will not. Granted they will probably have manually tweaked their templates to do their own `autot` so it might be very minimal, but the point is some script will break/look different and t

[2016-03-15 15:40] danlipsa opened #1881 "vcs should create a dataset independent of the plot it is used for"
Using the same data (clt variable in clt.nc) different datasets are created for boxfill (this uses cell data) and isofill (this uses point data). This may result in slightly incorrect images.

I propose to always create the dataset that can be created from the data - if bounds are available create cell data otherwise create point data. Then, depending on the plot, we can use pointtocell or celltop

[2016-03-15 15:46] danlipsa commented on #1880
@doutriaux1 Makes sense. We should definitely communicate this very clearly and make sure users can revert to the old behavior if they want to.

[2016-03-15 18:00] danlipsa commented on #1879
This behaves the same for uvcdat 2.40 and 2.2.0

[2016-03-15 18:56] jsrdoz commented on #1877
hello ~

thanks a lot.
but there is some problem, after typing this : `$ source /usr/local/uvcdat/2.4.0/bin/setup_runtime.sh`
it shows that:
Successfully updated your environment to use UVCDAT
(changes are valid for this session/terminal only)
Version: v2.4.0
Location: /usr/local/uvcdat/2.4.0

and then type this
`$ uvcdat`
it shows
Nothing to do since UVCDAT is already setup at: /usr/local/uvcdat/

[2016-03-15 19:10] doutriaux1 commented on #1877
Sometimes I’ve seen where you had to wait a long time.

Also try
rm –rf ${HOME}/.uvcdat
uvcdat —output-std

From: JenSun <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, March 15, 2016 at 11:56 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: Charles Dou

[2016-03-15 19:21] durack1 commented on #1867
@chaosphere2112 @doutriaux1 there still appears to be an unresolved issue here - so have reopened the issue

[2016-03-15 21:06] danlipsa commented on #1880
@doutriaux1 It turns out that autot is passed to plots from the interface, but for some reason the plots don't follow that. vcs_test_autot_axis_titles works fine though. I'll take a close look at this.

[2016-03-16 13:13] sankhesh commented on #1835
Sub-tasks:

- [ ] Setup a separate buildbot instance with the existing KWRobot instance to listen to merge requests on https://gitlab.kitware.com/UV-CDAT/uvcdat
- [ ] Setup the current version of GitRobot on a VM with a test deployment of Gitlab and a test project.
- [ ] Use the infrastructure setup in the previous step as a guide for development of the Github version of GitRobot.
- [ ] Once, GitR

[2016-03-16 18:42] danlipsa commented on #1880
This is the same as https://github.com/UV-CDAT/uvcdat/issues/1795

[2016-03-17 13:58] doutriaux1 opened #1882 "some executable do not end up in user's PATH"
example `proj` (from proj4) which is built under `Externals/proj4/bin`

[2016-03-17 20:38] durack1 commented on #1867
@aashish24 is there a reason this was closed when [there's a problem remaining](https://github.com/UV-CDAT/uvcdat/issues/1867#issuecomment-196562153)?

[2016-03-17 20:43] aashish24 commented on #1867
@durack1 it got closed automatically as I meged @doutriaux1 file:// branch.

[2016-03-17 20:43] aashish24 commented on #1867
@durack1 re-opening it.

[2016-03-17 20:49] durack1 commented on #922
@chaosphere2112 is this fixed, I think you did in #1851? If so wanna close?

[2016-03-17 20:50] durack1 commented on #1867
@aashish24 no problem, when there's another branch that fixes the [issue above](https://github.com/UV-CDAT/uvcdat/issues/1867#issuecomment-196562153) I'd be happy to test this..

And @aashish24 while I have you here, want to take a peek at: #1839 and #1817 please?

[2016-03-17 20:51] aashish24 commented on #922
@durack1 we can close this one. There is anohter issue I need to create is on submitting covergage to cdash but i will file another issue for it.

[2016-03-17 20:51] #922 closed

[2016-03-17 20:53] durack1 commented on #922
@aashish24 I would have kept this open as the `cdash` reporting is part of a "final" solution I would have guessed? What's the point in creating another issue entry for the same thing?

[2016-03-17 21:09] aashish24 commented on #922
I think its better to have fine level resolution in general than try to have a issue that is long standing. Also, I think I would argue that we do have to the coverage now. Now having them reported to CDASH is a different problem.

[2016-03-17 21:10] aashish24 opened #1883 "Report code-coverage to CDASH"
Ref: #922

[2016-03-17 21:10] aashish24 commented on #1883
@durack1

[2016-03-17 21:13] durack1 commented on #922
@aashish24 fair enough, but closing one issue and opening another is status quo in making progress against the 2.6 milestone..

[2016-03-17 21:34] danlipsa opened #1884 "Using one renderer for meshfill changed baselines"
When doing picking, we changed rendering of a dataset to use only one renderer instead of one renderer for each scalar range. This changed two baselines.
test_vcs_basic_boxfill_masked_aeqd_proj.png
test_vcs_settings_color_name_rgba_meshfill.png
https://github.com/UV-CDAT/uvcdat-testdata/pull/117/files

While the masked baseline seems the correct one, for rgba is not clear. We also might be able to

[2016-03-17 22:11] aashish24 commented on #922
yes and so. I think if we have a decent size task or a task that can be implemented in sub-tasks, we should list all of them and mark them done as finish them. It keeps the PR small and keeps the momentum going. In fact I encourage folks to do smaller PR's as much as possible. In this case, since it wasn't really planned but we had some code that could do the first step in complete code coverage s

[2016-03-18 13:11] danlipsa opened #1885 "Implement picking for isofill, isoline and vector"
We did not implement picking for point datsets. We plan to do this after https://github.com/UV-CDAT/uvcdat/issues/1881

[2016-03-21 18:44] doutriaux1 opened #1886 "polar plot boxfill cannot be plotted with north pole up"
[code]
produces the same plot with souh pole at center

[2016-03-21 18:48] aashish24 commented on #1886
weird :cry:

[2016-03-21 20:03] doutriaux1 commented on #1886
also:

[code]
does not do the job.

[2016-03-21 22:59] doutriaux1 opened #1887 "vtk seg fault on (my) ubuntu 15.10"
[code]

[2016-03-22 01:44] aashish24 commented on #1887
@doutriaux1 can you provide more context here? Was it via SSH or direct render on your system? Looks like X is seg-faulting. Also what drive you are using?

[2016-03-22 14:02] doutriaux1 commented on #1887
direct render on my system. Do you mean driver? I have no idea. Which command should I run. I agree that it seems X11 related though.

[2016-03-22 14:07] danlipsa commented on #1887
glxinfo will give you info about the driver.

[2016-03-22 14:10] doutriaux1 commented on #1887
[code]
After installing I get the attached output.
[glxinfo.txt](https://github.com/UV-CDAT/uvcdat/files/184242/glxinfo.txt)

[2016-03-22 14:11] doutriaux1 commented on #1887
looks like 1.4?

[2016-03-22 14:21] danlipsa commented on #1887
You can try to install the hardware driver to see if that fixes it. Usually the Mesa driver has more problems than the hardware driver. When we have our test infrastructure we should expect to have certain tests disabled on certain machines. Usually there is a cost - benefit evaluation: Is it worth to make a certain test run correctly on a certain machine if it passes on all other machines and it

[2016-03-22 14:26] aashish24 commented on #1887
Looks like @doutriaux1 is getting 3.0 (see below).

OpenGL version string: 3.0 Mesa 11.0.2
OpenGL shading language version string: 1.30
OpenGL context flags: (none)
OpenGL extensions:

@doutriaux1 can you run glxgears?

[2016-03-22 14:30] doutriaux1 commented on #1887
yep
[code]

[2016-03-22 21:11] #1826 closed

[2016-03-23 21:15] dnadeau4 opened #1888 "UV-CDAT can't open valid CF-1 file."
The following file cannot be open properly with uvcdat gui.
(http://crunchy.llnl.gov/nadeau1/ezCMOR/data/tas_Amon_abrupt4xCO2_GCCM1_r1p1f1_197305-197305.nc)

I am not sure why UV-CDAT says that the coordinate interval has no data since all time and time_bound values are fine.
[code]

UV-CDAT GUI

[code]

[2016-03-23 23:12] aashish24 opened #1889 "Evaluate conda for packaging uvcdat"

[2016-03-23 23:46] dnadeau4 commented on #1889
conda.anaconda.org/uvcdat will be the website for uvcdat.   I still don't have access to uvcdat organization, so I put all packages (linux-64) in my personal repository for now.

https://conda.anaconda.org/nadeau1/

[2016-03-23 23:46] dnadeau4 commented on #1889
https://conda.anaconda.org/uvcdat/

[2016-03-23 23:48] aashish24 commented on #1889
@dnadeau4 @doutriaux1 has forked your repo here: https://github.com/UV-CDAT/conda-recipes

thanks @dnadeau4

[2016-03-24 04:41] aashish24 commented on #1889
Open issues:

* Running regression tests using Conda
* Submission of tests and coverage result to dashboards
* Offline build - I believe this should be possible as conda has offline mode
* Building on HPC systems - Use of system MPI (Mostly for conda its about full control)
* Packaging (RPM / DMZ) - I don't not believe that conda can do this but not sure.

It is possible that I missed something im

[2016-03-24 04:45] aashish24 opened #1890 "Cleanup installation scripts in UVCDAT"
These are scripts under installation directory.

[2016-03-24 04:47] aashish24 commented on #1887
@doutriaux1 is this from the GUI? or command line

[2016-03-24 04:48] aashish24 commented on #1887
Sorry this is a test so no gui. And this is the only test failing / segfaulting?

[2016-03-24 05:09] #1539 closed

[2016-03-24 14:45] doutriaux1 commented on #1888
because by defautl it looks as "con" look at the node and if the node is not EXACTLY that value it will fail. You want to read it with "cob" for a single value. Now the question is why does the GUI sends the bounds value and not the actual node value...

[2016-03-24 14:46] doutriaux1 commented on #1888
@chaosphere2112 only assining this to you to make sure it works in the new gui. I think it's safe to close and say will not fix for vistrails.

[2016-03-24 14:54] doutriaux1 commented on #1889
@aashish24 please do not open issues there yet, it's still only for @dnadeau4 and I.

[2016-03-24 14:55] doutriaux1 commented on #1890
most of this will disappear when going to conda.

[2016-03-24 14:55] doutriaux1 commented on #1887
GUI? Do we have a GUI :stuck_out_tongue_winking_eye:

[2016-03-24 16:08] aashish24 commented on #1890
@doutriaux1 these are the scripts inside the packages (setup.py) stuff.  I don't think that conda will replace them. May be you are thinking runtime scripts.

[2016-03-24 16:09] aashish24 commented on #1889
@doutriaux1 why do you want to make it private?

[2016-03-24 17:39] doutriaux1 commented on #1890
@aashish24 what I meant is that I will do the cleaning as I move to conda.

[2016-03-24 17:40] doutriaux1 commented on #1889
@aashish24 I'm too poor for this. You need a paying account for private repos.

[2016-03-24 17:44] doutriaux1 commented on #1889
@aashish24 no need for private anyway. Just too early for anybody to start pushing issues, we know it's still all broken.

[2016-03-24 18:41] aashish24 commented on #1890
Sounds good @doutriaux1. I still see as a separate issue (meaning that conda vs cleaning the scripts in general which could be invoked by pip, cmake or conda). Feel free to link them if thats better.

[2016-03-24 18:43] aashish24 commented on #1887
I meant the old gui :) It sounds like it a system specific issue. Typically if the bg is not working it means that driver + x is not setup correctly. I don't have Ubuntu 15.10. @danlipsa do you have access to 15.10?

[2016-03-24 18:46] doutriaux1 commented on #1887
I knew what you meant @aashish24 just joking because I rarely use it that's all.

[2016-03-24 19:07] aashish24 commented on #1889
Sure, thanks @doutriaux1

[2016-03-24 23:40] aashish24 commented on #1397
I am looking into this. FIrst will verify if the vtk is the culprit here.

[2016-03-24 23:42] aashish24 commented on #1805
@sankhesh I am closing this one since we no longer looking into this issue.

[2016-03-24 23:42] durack1 commented on #1397
@aashish24 great! It's a nasty bug that has made me have to write all kinds of garbled code to get around the leak.. This would be a huge improvement for useability

[2016-03-25 02:04] sankhesh commented on #1805
Sure

[2016-03-25 20:17] chaosphere2112 opened #1894 "Boxfill legend incorrect when there are fewer colors than levels"
When you plot a boxfill and use the `color_1` and `color_2` attributes (but leave `level_1` and `level_2` alone), the legend doubles up for the last level color. Also, the labeling on the legend is excessive (we probably don't need 10+ labels when there are only 4 levels).

[code]

results in:

![out](https://cloud.githubusercontent.com/assets/718512/14052964/7eeb0828-f28b-11e5-9ac0-67036cd0c2cb.p

[2016-03-29 20:26] durack1 commented on #1817
@aashish24 this needs your input

[2016-03-30 15:51] danlipsa opened #1897 "axes names do not follow the data but stay next to the side of the window"
See the following image: test_autot_axis_titles_mollweide_boxfill_2.png
![image](https://cloud.githubusercontent.com/assets/6180727/14148462/8c7962c4-f66d-11e5-90a4-f75d4506caef.png)

[2016-03-30 15:53] danlipsa opened #1898 "axes names overlap the data labels in certain cases"
See the following image: test_autot_axis_titles_boxfill_0.5.png
![image](https://cloud.githubusercontent.com/assets/6180727/14148567/eb5920ae-f66d-11e5-9599-eef19dc96bd6.png)

[2016-03-30 15:57] danlipsa opened #1899 "ratio=autot does not work for meshfill linear projection"
ratio=autot was traditionally implemented in uvcdat only for linear projection. However, for meshfill the vcs computation is wrong. It is done before the creation of the VTK dataset which means that we don't know the actual lon1 lon2. Those can be different than what is known at vcs level as mesh datasets can be wrapped.

[2016-03-30 16:10] danlipsa opened #1900 "uvcdat interface you cannot switch ratio=autot on and off. It stays always on."
In the interface choose 'configure current plot' then '<plot> World Coordinates and Axes' then 'Aspect Ratio' uncheck 'Auto (lat/lon)' then push Apply. The plot is redrawn the same way and Auto is still checked.

[2016-03-30 16:11] danlipsa commented on #1900
@chaosphere2112 Please take a look at the issue after my ratio=autot branch gets merged.
https://github.com/UV-CDAT/uvcdat/pull/1896

[2016-03-30 16:41] chaosphere2112 commented on #1900
@danlipsa Old GUI is in maintenance mode; crashing bugfixes only.

[2016-03-30 16:41] #1900 closed

[2016-03-30 16:44] danlipsa commented on #1900
@chaosphere2112 Where is the new gui? Very interested to play with it.

[2016-03-30 16:45] chaosphere2112 commented on #1900
Still very much under construction, but it's at UV-CDAT/cdatgui

[2016-03-30 19:09] danlipsa commented on #1880
The pull request is:
https://github.com/UV-CDAT/uvcdat/pull/1896

[2016-03-30 20:42] danlipsa commented on #1886
@doutriaux1 What is the rule here? if y1 < y2 you look from the south pole otherwise you look from the north pole? What if you have latitude [80, 90] do still look from the south pole? Thanks.

[2016-03-30 21:33] doutriaux1 commented on #1886
@danlipsa the rule is the y1 is the center one. so if y1<y2 then south pole centered, if y1>y2 then north pole centered

[2016-03-30 21:34] doutriaux1 commented on #1886
[code]
![80_90](https://cloud.githubusercontent.com/assets/2781425/14158371/87d6b6e2-f684-11e5-9df3-bba1cf47c269.png)

[2016-03-30 21:35] doutriaux1 commented on #1886
[code]
![90_80](https://cloud.githubusercontent.com/assets/2781425/14158386/9df7123c-f684-11e5-96a0-3251549136e1.png)

[2016-03-30 21:48] danlipsa commented on #1886
@doutriaux1 So, you just look at y1. If y1 > 0 it is north pole centered, if y1 < 0 it is south pole centered. Is this the rule? Does this mean that (80, 90) is the same as (90, 80)?

[2016-03-30 21:51] danlipsa commented on #1886
@doutriaux1 What if y1 is 0?

[2016-03-30 23:17] doutriaux1 commented on #1886
@danlipsa no I just look at y1 vs y2 see examples above

[2016-03-31 01:16] danlipsa commented on #1886
@doutriaux1 Sorry, I don't get the rule. Looking at the examples:
(80, 90) . Looks like the view is from -90. (south pole)

(90, 80). Looks like the view is from 90. (north pole)
So we are back to my original rule: if y1 < y2 you look from the south pole otherwise you look from the north pole?

For (80, 90). 80 is the center one. What does this mean? Is the view form 90 or -90? It seems these are

[2016-03-31 13:44] doutriaux1 commented on #1886
@danlipsa you are right there are only two possibilities North Pole or South Pole Centered.
y1<y2 -> South Pole
y1>y2 -> North Pole

[2016-03-31 14:19] danlipsa commented on #1886
@doutriaux1 So we have the following algorithm:
y1 <= y2 -> South Pole
y1 > y2   -> North Pole

[2016-03-31 14:37] doutriaux1 commented on #1886
exactly

[2016-03-31 14:37] doutriaux1 commented on #1886
if y1==y2 we may want to error exit

[2016-03-31 14:40] danlipsa commented on #1886
Great. Thanks Charles!

[2016-03-31 17:52] dnadeau4 commented on #1850
@aashish24 can we use calibrated language in these issues please. To me "soon" means promptly, and not many weeks or greater than one month later.

[2016-03-31 18:06] aashish24 commented on #1850
@dnadeau4 my bad. I will fix it today.

[2016-03-31 19:38] danlipsa opened #1901 "test_vcs_basic_gms.py does not apply lat1,lat2, lon1, lon2 unless --range_via_gm"
Searching for args.lat1 inside test_vcs_basic_gms.py shows this value is only used if args.rg is true, that is only if range is set via the graphics method.

However there are instances in testing/vcs/CMakeLists.txt where we set lat1, lat2, ... without passing --range_via_gm. These are supposed to test setting ranges via the variables themselves. Because of the reasons listed, they do not do that.

[2016-04-01 17:22] danlipsa commented on #1777
The new VTK brought in by
https://github.com/UV-CDAT/uvcdat/pull/1827
has a fix for this issue.

[2016-04-01 17:22] #1777 closed

[2016-04-01 17:28] danlipsa opened #1903 "some tests that use test_vcs_basic_gms are not named properly"
For instance:

245: Test command: /home/danlipsa/build/uvcdat/install/bin/runtest "/home/danlipsa/build/uvcdat/install/bin/python" "/home/danlipsa/src/uvcdat/testing/vcs/test_vcs_basic_gms.py" "--gm_type=boxfill" "--projection=-3" "--lat1=90" "--lat2=0" "--range_via_gm" "--gm_flips_lat_range" "--source=/home/danlipsa/build/uvcdat/uvcdat-testdata/baselines/vcs/test_vcs_basic_boxfill_-3_proj_gmflip_

[2016-04-01 17:42] danlipsa commented on #1740
This might be fixed when we switch VTK to OpenGL2 - a new, much faster, rendering backend in VTK

[2016-04-01 17:43] doutriaux1 commented on #1740
@danlipsa is that coming soon?

[2016-04-01 17:44] danlipsa commented on #1785
This was done in
https://github.com/UV-CDAT/uvcdat/pull/1827

[2016-04-01 17:44] #1785 closed

[2016-04-01 17:45] danlipsa commented on #1804
This was fixed in the new VTK I brough in with
https://github.com/UV-CDAT/uvcdat/pull/1827

[2016-04-01 17:45] #1804 closed

[2016-04-01 17:49] danlipsa commented on #1811
This was partially fixed by
https://github.com/UV-CDAT/uvcdat-testdata/pull/117/commits
We still have to implement this for point datasets.

[2016-04-01 18:30] danlipsa opened #1905 "test_vcs_basic_meshfill_-3_proj_gmflip_NH_via_gm.png is not correct"
Image is:
![image](https://cloud.githubusercontent.com/assets/6180727/14216273/ef5596fc-f815-11e5-9aed-393da8ca25fe.png)

Test command is:

"/home/danlipsa/build/uvcdat/install/bin/python" "/home/danlipsa/src/uvcdat/testing/vcs/test_vcs_basic_gms.py" "--gm_type=meshfill" "--projection=-3" "--lat1=90" "--lat2=0" "--range_via_gm" "--gm_flips_lat_range" "--source=/home/danlipsa/build/uvcdat/uvcdat-te

[2016-04-01 18:32] doutriaux1 commented on #1905
looks like the continents are cropped correctly but not the data

[2016-04-01 18:37] danlipsa commented on #1886
Fix on:
https://github.com/UV-CDAT/uvcdat/pull/1904

[2016-04-01 18:50] danlipsa commented on #1740
@doutriaux1 @aashish24 This new backend is the default in VTK and ParaView now. So, we could bite the bullet and switch UVCDAT to it soon. I think there are some changes to export to PS/PDF which might cause some issues The new backend requires OpenGL: >= 3.2 and Mesa >= 11.2 I think. If one has a hardware driver there should not be any problems. Mesa might need a rebuild as certain distributions

[2016-04-01 18:53] danlipsa commented on #1905
That is right. I think this is related to the fact that vcs.utils.getworldcoordinates does not work correctly for meshfil.

[2016-04-01 18:56] doutriaux1 commented on #1740
@danlipsa we build our own mesa anyway so it shouldnt be an issue.

[2016-04-01 19:01] danlipsa commented on #1740
@doutriaux1 Sounds good. See
https://blog.kitware.com/messing-with-mesa-for-paraview-5-0vtk-7-0/
for some options for building the new mesa.

[2016-04-02 02:37] aashish24 commented on #1740
There should be a new Mesa out so hopefully instead of the patch (which I believe the blog mentiond) we can try it directly.

[2016-04-04 04:16] rakeshtejak opened #1906 "uvcdat is not opening in gui mode after intstallation."
Hi,

I have installed 64 bit 2.4.0 version of uvcdat on ubuntu machine. When i tried to open gui of uvcdat after setting source, it is not opening in gui mode. Do anyone knows what is the problem with uvcdat?

Thank you.

[2016-04-04 13:39] doutriaux1 commented on #1906
Can you please look into `${HOME}/.uvcdat/uvcdatsession.log` it should be telling you what's wrong.
Alternatively you can also launch uvcdat with:
`uvcdat --output-std`

[2016-04-04 18:58] mcenerney1 opened #1907 "Build error with all"
While building uvcdat with
cmake ~/uvcdat -DCMAKE_INSTALL_PREFIX=/usr/local/uvcdat/04_04_16 -DCDAT_BUILD_MODE=ALL
I get the following

 configure: WARNING: 'missing' script is too old or missing

  configure: error: in `/Users/mcenerney1/build_04_04_16/build/proj4':

  configure: error: C compiler cannot create executables

  See `config.log' for more details

  Config Errors detected:

  CMake Er

[2016-04-04 19:22] danlipsa commented on #1907
@mcenerney1 Can you post config.log as well? Do a 'find . -name config.log' in your home directory. Seems like a write permission error. Maybe you built the code using sudo in the past.

[2016-04-04 20:27] mcenerney1 commented on #1907
I don't think I used sudo.
[mcenerney1ml:~/xxxxx] mcenerney1% ls -l build/proj4/config.log
-rw-r--r--  1 mcenerney1  75327  10228 Apr  4 13:14 build/proj4/config.log
Here's the content.

This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by PROJ.4 Projections configure 4.9.2, which was
generated by GNU Autoc

[2016-04-04 21:31] danlipsa commented on #1907
Seems that the problem results from the following lines:
configure:3017: checking for gcc
configure:3044: result: mpicc

So configure thinks that the compiler should be mpicc, however that executable does not exist on your machine.

On my Linux machine I get:
configure:3017: checking for gcc
configure:3044: result: /usr/bin/cc

Do you have a /usr/bin/cc on your machine? Maybe you don't have xcode

[2016-04-04 21:40] mcenerney1 commented on #1907
/usr/bin/cc is there. I installed xcode before the build. In fact, I built without mpi successfully.

[2016-04-04 22:07] doutriaux1 commented on #1907
@danlipsa then it's an easy fix, let's make proj4 dependent on mpi if // build

[2016-04-04 22:10] doutriaux1 commented on #1907
yep that fixed it for me, will push a PR asap

[2016-04-04 23:01] doutriaux1 commented on #1907
oops pushd to master directly! I need to re-run my safeguard script. Oh well... @aashish24 @danlipsa please review after the fact this last commit:  eb15408

[2016-04-05 01:43] aashish24 commented on #1907
@doutriaux1 :angry:

Changes looks good to me :+1:

[2016-04-05 01:43] aashish24 commented on #1907
@doutriaux1 did you  run build all again to make sure? GDAL might run into same issue?

[2016-04-05 01:52] danlipsa commented on #1907
On my mac laptop I get:
configure:3017: checking for gcc
configure:3044: result: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
It is not clear why would proj4 need mpi.

[2016-04-05 01:56] aashish24 commented on #1907
@danlipsa I am not either. I will investigate it further since I don't think proj4 can use MPI.

[2016-04-05 01:58] danlipsa commented on #1907
It is CDAT_BUILD_PARALLEL. If I pass that, I get the same error.

[2016-04-05 02:07] aashish24 commented on #1907
thanks @danlipsa I re-opened the issue.

[2016-04-05 13:57] doutriaux1 commented on #1907
@danlipsa @aashish24 I ran it with ALL on my ubuntu. Will update for mac.

[2016-04-05 14:27] aashish24 commented on #1907
@doutriaux1 I am looking into it. There are some other issues as well.

[2016-04-05 14:34] doutriaux1 commented on #1907
@aashish24 I'm on it as well. Let's race!

[2016-04-05 14:38] aashish24 commented on #1907
you have time for race? :smile:

[2016-04-05 16:06] doutriaux1 commented on #1907
that's all I have time for! racing for everything, all the time. I can't ever slow down @aashish24

[2016-04-05 16:41] doutriaux1 commented on #1907
@aashish24  see #1909

[2016-04-05 20:04] durack1 opened #1910 "Update eofs to 1.1.0"
The [eofs](https://github.com/ajdawson/eofs) package is being used in [pcmdi_metrics](https://github.com/PCMDI/pcmdi_metrics) and the current version is trailing the latest release by a considerable margin (most likely ~2 years behind the latest).

[2016-04-05 20:21] durack1 commented on #1910
@doutriaux1 it would be great if we can get this update into 2.4.1, otherwise right after the release would be ideal.

[2016-04-05 21:27] #1910 closed

[2016-04-06 14:14] danlipsa opened #1912 "restricting data with longitude=(lon1, lon2) does not work correctly for meshfill"
See the following image

![meshfill](https://cloud.githubusercontent.com/assets/6180727/14319743/5dfa8de2-fbe0-11e5-89fa-b2e59f2cfcea.png)

generated by:

import cdms2, cdutil, genutil
import vcs

if __name__ == '__main__':
    import sys
    cdmsfile = cdms2.open('file:///home/danlipsa/build/uvcdat/install/share/uvcdat/sample_data/sampleCurveGrid4.nc')
    sample = cdmsfile('sample')
    sample =

[2016-04-06 14:33] doutriaux1 commented on #1912
oh yes. It's a left over from Bob draw and curvilinear grids, because it's i,j Bob always returns the biggest possible 2d array that contains all the cell we need, and then he masks out the cells that were not in the requested range. There's nothing we can really do about this except assign the transparent color to missing.

[2016-04-06 14:58] danlipsa commented on #1912
@doutriaux1 My problem is that the cutout is not straight. It almost seems that data is removed using the index instead of using the longitude.

[2016-04-06 15:16] doutriaux1 commented on #1912
@danlipsa simplified script turning mesh on and missing value off
[code]
![mesh](https://cloud.githubusercontent.com/assets/2781425/14321894/e3934158-fbcf-11e5-9d88-5fb52f576c6a.png)

[2016-04-06 15:20] doutriaux1 commented on #1912
@aashish24 @danlipsa this actually shows two new bugs:
 - the png labels are completely off
 - the cells are not drwan correctly

but the main idea is that cells seem to be subselected correctly

[2016-04-06 15:22] danlipsa commented on #1912
@doutriaux1 Nice! So it seems that what is happening is that zooming happens at cell level - no cells are cut so we cannot get straight cuts. Now I don't know what happened with the left-right ends of the image. Why aren't those straight?

[2016-04-06 15:24] doutriaux1 commented on #1912
looks like the wrap around failed, possibly when you sub select you turn off the modulo

[2016-04-06 15:26] doutriaux1 commented on #1912
although forcing the modulo `gmMeshfill.wrap=[0.,360.]` does not trigger it either.

[2016-04-06 16:09] doutriaux1 opened #1913 "make -j8 seems to sometimes disable matplotlib"
because of ridiculous setuptools eggs that cannot be built in //

example:
[code]
so obviously matplotlib built happily BUT unfortunately as an egg
now
[code]

no matplotlib... Arrrggggggggg.......

[2016-04-06 16:35] aashish24 commented on #1913
So the matplotlib should have been listed in easy-install? Is this a  workaround (dependency issue) related problem where we manually set the dependencies to make sure it's not parallel?

[2016-04-06 18:34] mcenerney1 opened #1914 "vcs import error"
The latest build of uvcdat sees an error with import vcs. It appears in
 f = open(os.path.join(vcs.prefix, "share", "vcs", "wmo_symbols.json"))
the prefix is incorrect. See below.

[mcenerney1ml:~/diagout] mcenerney1% python
Python 2.7.11 (default, Apr  6 2016, 10:18:59)
[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin
Type "help", "copyright", "credits" or "license" for more inf

[2016-04-06 18:50] danlipsa commented on #1903
NH means northern-hemisphere so I can close this issue.

[2016-04-06 18:50] lee1043 opened #1916 "isoline style not changing"
From below code, bold part, which is for changing style of isoline, is not working and shows only solid line..

lines2 = vcs.createisoline()
lines2.linecolors = ['red']
**#lines2.line=['solid']
lines2.line=['dot']
#lines2.line=['dash']**
lines2.label = 'y'
lines2.textcolors=['red']
canvas.plot(data['ta'],lines2)

[2016-04-06 18:59] aashish24 commented on #1783
@sankhesh @doutriaux1 please have a look.

[2016-04-06 19:01] #1801 closed

[2016-04-06 20:33] doutriaux1 commented on #1913
it's a dependency issue, all the pip ones need to be chained one after another, but it gets tricky as
 - some build trigger bits on/off
 - adding new package gets added at the wrong place

fortunately all this goes away when we switch to conda

[2016-04-06 20:36] doutriaux1 commented on #1914
fixed by cleanup_for_conda_and_setuptools #1908

[2016-04-06 20:38] #1903 closed

[2016-04-06 20:51] aashish24 commented on #1913
that shouldn't do affect this issue since it's sorted by dependency.

If the deps are setup correctly it shouldn't cause this issue.

Question: Are you going to push a fix for this?

[2016-04-06 21:26] doutriaux1 commented on #1913
i think kitware is best positioned to do a fix for this. @chaosphere2112 was rightly suggesting to drop the deps chainlinking, just using the actual deps, and then have kitware take all the package that use pip and chainlink them automatically.

[2016-04-06 22:47] #1857 closed

[2016-04-07 18:57] aashish24 commented on #1850
So I looked into it few days ago and didn't find anything wrong. It is on the master branch and seems to be on the right SHA. I am closing it now and will re-open it again once I have more information.

[2016-04-07 18:57] #1850 closed

[2016-04-07 19:16] aashish24 commented on #1407
@danlipsa

[2016-04-07 20:01] aashish24 commented on #1916
@danlipsa could you please take a look at this ?

[2016-04-08 18:55] danlipsa commented on #1886
https://github.com/UV-CDAT/uvcdat/pull/1904

[2016-04-08 18:55] #1886 closed

[2016-04-08 18:57] danlipsa commented on #1880
ratio=autot is only a default in uvcdat interface. At the plot() level we have the same default as before for backward compatibility.

[2016-04-08 18:57] #1880 closed

[2016-04-08 19:02] danlipsa commented on #1795
@chaosphere2112 This seems to work in my tests. Can you try it with the master branch . I fixed something that sounds like your problem in
https://github.com/UV-CDAT/uvcdat/pull/1896

[2016-04-08 19:16] danlipsa commented on #1265
If you use
x.plot(a(latitude=(-60,-50), longitude=(30, -30)), b, bg=1)
it seems to produce the correct result

![test_vcs_boxfill_polar](https://cloud.githubusercontent.com/assets/6180727/14394922/b4986d28-fd9c-11e5-9795-ee7fc51211da.png)

[2016-04-08 19:18] danlipsa commented on #1265
@doutriaux1 @aashish24 If we want to fix this, we have to do the datawc processing when we create the VTK dataset.

[2016-04-08 20:18] aashish24 opened #1919 "continents test is failing on ubuntu 14.04"

[2016-04-08 20:19] aashish24 commented on #1919
![test_continents_diff](https://cloud.githubusercontent.com/assets/146527/14396447/9cd2312a-fda5-11e5-9ac7-0ff4a5f008d6.png)

[2016-04-10 21:23] durack1 commented on #1890
@doutriaux1 @aashish24 while you're at it https://github.com/UV-CDAT/uvcdat/issues/788 and https://github.com/UV-CDAT/uvcdat/issues/1354 should also be wrapped in.. There used to be a couple of PRs that were closed attempting to solve these issues..

[2016-04-11 17:12] doutriaux1 commented on #1890
@durack1 do not bother it all goes away when we switch to conda

[2016-04-11 19:56] durack1 opened #1920 "Issue with setup_runtime.csh"
The following issue suggests a problem regarding user path info in `setup_runtime.csh`:
[code]

[2016-04-11 20:17] durack1 opened #1921 "udunits.dat"
[code]

[2016-04-12 19:01] chaosphere2112 commented on #1868
@danlipsa We should probably just create a "template pipeline" that can update all of the actors when the template is updated. Then we don't have any of the issues that @doutriaux1 mentioned, we can just pass in the new template.

[2016-04-12 22:18] chaosphere2112 opened #1922 "x.plot(s, xrev=True) doesn't work"
When you plot a variable with the xrev=True keyword argument, the plot comes out garbled.

[2016-04-13 18:16] chaosphere2112 opened #1923 "Windbarbs for Vectors"
We'd like to get windbarbs for vector plots

[2016-04-13 18:22] #1907 closed

[2016-04-13 18:23] chaosphere2112 opened #1924 "Vector Legend"
We need to make sure there's a legend for vector plots

[2016-04-13 18:24] chaosphere2112 opened #1925 "Streamlines Graphics Method"
We need a graphics method for creating a streamlines plot

[2016-04-14 17:31] painter1 opened #1926 "cannot change _FillValue, and other missing value problems"
This is related to issue 1853, but different enough so I made it another issue.

It is impossible to change the _FillValue attribute of a FileVariable in a NetCDF4 file.

Changing this, and missing_value, and the actual missing values in the data array, should be a simple function call, but it's not.  It can be tricky to do it yourself.  I've done it, and it was a 67 line script including comments

[2016-04-14 17:46] aashish24 commented on #1925
@danlipsa let's talk about it next week.

[2016-04-15 03:53] doutriaux1 opened #1929 "ctest does not seem to post to cdash anymore"
recently ctest -D Experimental does not seem to post to cdash.

@sankhesh @danlipsa @jbeezley any idea what's going on, only karma seems to be able to post to it.

[2016-04-15 03:56] doutriaux1 opened #1930 "autot tests seem to fail from master"
@danlipsa any idea why I get this on my mac from today's master:

I'm taking care of the diags ones

[code]

[2016-04-15 03:57] doutriaux1 commented on #1930
diff pngs
![test_autot_axis_titles_boxfill_0 5_0_diff](https://cloud.githubusercontent.com/assets/2781425/14551059/82486ae4-0283-11e6-98b6-08f21af350b2.png)
![test_autot_axis_titles_boxfill_0 5_0](https://cloud.githubusercontent.com/assets/2781425/14551060/8249dc80-0283-11e6-9b08-b5723682ed38.png)
![test_autot_axis_titles_lambert_isofill_0 5_0_diff](https://cloud.githubusercontent.com/assets/27814

[2016-04-15 04:43] doutriaux1 commented on #1930
interestingly removing my pre-exisiting uvcmetrics_test_data directory and re-installing it leads:
[code]
I think the md5 checking fails

[2016-04-15 12:17] jbeezley commented on #1929
Make sure that your cmake binaries are linked with SSL support.  The CDash site went https-only a couple of months ago.

[2016-04-15 13:31] danlipsa commented on #1930
No, I don't. While images seem to be correct, everything seems to be shifted a little. Maybe it is some sort of round up difference. What kind of mac is that? What os?

[2016-04-15 13:36] danlipsa commented on #1930
I am rebuilding everything fresh on my laptop from master. I will let you know the results.

[2016-04-15 13:37] danlipsa commented on #1930
It is interesting that only the tall version of the tests fail not the long ones.

[2016-04-15 14:12] doutriaux1 commented on #1929
hum.. It's odd because I did find the build at: https://open.cdash.org/viewTest.php?onlyfailed&buildid=4323700 but it doesn't show on the dashboard

[2016-04-15 14:56] jbeezley commented on #1929
Okay, it is probably something else then.

[2016-04-15 15:45] danlipsa commented on #1930
I just run the tests master on my laptop. This is what fails:
	425 - test_vcs_continents (Failed)
	581 - diags_test_02 (Failed)
	582 - diags_test_03 (Failed)
	583 - diags_test_04 (Failed)
	584 - diags_test_41 (Failed)
	585 - diags_test_05 (Failed)
	586 - diags_test_06 (Failed)
	587 - diags_test_07 (Failed)
	588 - diags_test_08 (Failed)
	589 - diags_test_09 (Failed)
	590 - diags_test_10 (Failed)
	5

[2016-04-15 21:36] doutriaux1 commented on #1930
@chaosphere2112 I see that you observe the same failures

I think that

[code]
Might not work I'm going to add the x.setbgoutputdimension command as well just to be sure

@chaosphere2112 I remember you saying something about geometry and bg mode

[2016-04-15 21:39] doutriaux1 commented on #1930
yes I think that that is it I see the log on cdash:
[code]

image do not have the same size.

[2016-04-15 21:40] doutriaux1 commented on #1930
I do get a gazillion of these now though:

[code]

[2016-04-15 21:44] chaosphere2112 commented on #1930
@doutriaux1 Currently in VTK any renderers associated with a render window that is in background mode when it is resized will not resize. The render window itself will, and dumping it into a PNG should still output at the correct dimensions. So, probably not the same issue.

[2016-04-15 21:47] doutriaux1 commented on #1930
In any case the picture generated by my mac are not the same size as the baselines from @danlipsa so I'm looking into this right now.

[2016-04-16 01:27] danlipsa commented on #1930
If size is the issue, just resize the pictures. I assume my laptop has higher resolution than yours, that is why it works on mine. I had to resize the pictures when going from the desktop to the laptop as well.

I think this is related to
https://github.com/UV-CDAT/uvcdat/issues/1740

[2016-04-18 13:54] doutriaux1 commented on #1930
@danlipsa but we need to make sure they consistently get out at the same size accross device, will push a fix in a minute

[2016-04-18 14:44] doutriaux1 opened #1931 "running autot_title with setbgoutputdimensions leads to seg fault"
[code]

running script:

[code]

apple bug  report:
[code]

[2016-04-18 14:45] doutriaux1 commented on #1931
@danlipsa the diff is in branch `fix_Autot` can you reproduce?

[2016-04-19 10:53] stefraynaud commented on #1301
Nothing new here?
Waiting for it to  make my inter-sphinx links valid :)

[2016-04-19 14:04] doutriaux1 commented on #1301
@chaosphere2112 @mattben any chance we can get to this?

[2016-04-19 14:18] aashish24 commented on #1301
@doutriaux1 let's talk about this. I would like me and dan to do the vcs documentation if that's okay with you. I believe @chaosphere2112 was looking into cdms documentation.

[2016-04-19 14:23] stefraynaud commented on #1301
A suggestion before going further onto docstring reformatting: use the napoleon builtin sphinx extension as used with numpy doc.

[2016-04-19 20:10] #1914 closed

[2016-04-19 20:18] doutriaux1 commented on #1608
@painter1  @dnadeau4 it was fixed somehow right?

[2016-04-19 20:28] painter1 commented on #1608
So far as I know, nobody has even looked at this problem yet.

[2016-04-19 21:08] davidedelvento opened #1935 "Non-ASCII character '\xe2' in file"
[code]

Easy to remove the offending character from https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/vcs/VTKAnimate.py#L287 (the one after draw), but pretty annoying

[2016-04-19 21:14] davidedelvento opened #1936 "Non-ASCII character '\xe2' in configurator"
[code]
Easy to remove the offending character from https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/vcs/configurator.py#L125 (the one after uvcdat), but pretty annoying

[2016-04-19 21:16] davidedelvento opened #1937 "SyntaxError: Non-ASCII character '\xe2' in priority"
[code]
Easy to remove the offending character from https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/vcs/editors/priority.py#L7 (the one after priority), but pretty annoying

[2016-04-19 21:40] davidedelvento opened #1938 "Problem running which"
Using an external program with subprocess just to run which is overkill, not portable and it fails on our system (because /usr/bin/which needs a different version of GLIBC than what uvcdat binaries need.

But regardless, why one would like to rely on an external piece of software when you can get the same result with less effort and more robustness in python itself? Here is the patch for that chan

[2016-04-19 21:47] davidedelvento opened #1939 "Problem running unzip"
Using an external program with subprocess just to run unzip is overkill, not portable and it fails on our system (because unzip needs a different version of GLIBC than what uvcdat binaries need.

But regardless, why one would like to rely on an external piece of software when you can get the same result with less effort and more robustness in python itself? The https://docs.python.org/2/library/zi

[2016-04-19 22:13] doutriaux1 commented on #1935
I believe this has been removed already. Which version are you using?

[2016-04-19 22:14] #1935 closed

[2016-04-19 22:14] doutriaux1 commented on #1936
i believe this has been fixed already

[2016-04-19 22:14] #1936 closed

[2016-04-19 22:14] doutriaux1 commented on #1937
already fixed

[2016-04-19 22:14] #1937 closed

[2016-04-19 22:16] doutriaux1 commented on #1938
we're moving away from vistrails, but this should probably be submitted on the official Vistrails repo

[2016-04-19 22:16] #1938 closed

[2016-04-19 22:17] doutriaux1 commented on #1939
same thing, we are dropping Vistrails, please report on their main repo.

[2016-04-19 22:17] #1939 closed

[2016-04-19 22:26] davidedelvento commented on #1935
@doutriaux1 -- I believe?? Can't you check the link that I conveniently added to the report and see that the problem is still there?

[2016-04-19 22:27] davidedelvento commented on #1936
@doutriaux1 -- I believe?? Can't you check the link that I conveniently added to the report and see that the problem is still there? I'm appalled.

[2016-04-19 22:28] davidedelvento commented on #1937
What is fixed? Don't you dare to take the time to look at the link I provided? Oh boy!

[2016-04-19 22:30] davidedelvento commented on #1938
Done https://github.com/VisTrails/VisTrails/issues/1170

[2016-04-19 22:32] davidedelvento commented on #1939
Done https://github.com/VisTrails/VisTrails/issues/1171

[2016-04-19 23:31] davidedelvento commented on #1935
Upon closer examination, you are correct. I was misguided into my previous comment by:
1) your use of "I believe" which sounded to me as not 100% sure
2) the fact that the offending character has not been deleted, but replaced by a dash (i.e. "-") which looked similar on the web compared to \xe2 in my editor

The version I'm running is the one https://anaconda.org/uvcdat/ provides

[2016-04-19 23:34] davidedelvento commented on #1936
Again, upon closer examination, you are correct. I was misguided into my previous comment by:
1) your use of "I believe" which sounded to me as not 100% sure
2) the fact that the offending character has not been deleted, but replaced by a dash (i.e. "-") which looked similar on the web compared to \xe2 in my editor

I apologize for having being harsh

[2016-04-19 23:41] davidedelvento opened #1940 "conda uvcdat channel?"
Is any of you guys responsible for the conda uvcdat channel https://anaconda.org/uvcdat/ or do you know who is?

The uvcdat download from there has several issues (some of which are #1935 #1936 and #1937 but there are more, some specific to conda) and I would like to report them.

[2016-04-20 00:56] aashish24 commented on #1940
I believe so. @doutriaux1 has been working on conda recipes for some time. He will have some update on it.

[2016-04-20 14:14] doutriaux1 commented on #1940
@davidedelvento the conda channel is a work in progress, as of today I'm planning on uploading our first official conda packages there. But still experimental. Whatever is there as I type this is most definitely garbage.

[2016-04-20 14:15] doutriaux1 commented on #1940
@davidedelvento can I ping you once it's up and ready? I would love to get some feedback on this. Thanks.

[2016-04-20 14:18] doutriaux1 commented on #1935
@davidedelvento  no problem. I was pretty sure it was fixed because the anaconda is what actually made me discover these issues, but with so many PR approved in he last few days it's always possible that one re-introduced the issue. @chaosphere2112 thanks for fixing these.

[2016-04-20 14:19] doutriaux1 commented on #1936
no worries. it shows you care.

[2016-04-20 17:17] davidedelvento commented on #1940
Sure, you can ping me when it's ready.

Note that despite you thinking what is there is garbage, I was able to successfully install that (with considerable effort) and it seems to be working, besides that when I open any of the examples it ask me to enable some remote packages which I don't seem able to do (but that is probably just my ignorance).

If it's useful, I can let you know the issues I'v

[2016-04-20 23:18] durack1 opened #1942 "cdms2.open fails to open a file with "invalid" attributes"
The following error output from `ipython` should explain the error enough. The `.xml` input file was generated using `cdscan` - same version as the `uvcdat`:
[code]

[2016-04-21 06:09] doutriaux1 commented on #1940
@davidedelvento mac and Linux should be ready to go for 2.4.1 now. Please let me know (gently 😉 ) which tweaks are necessary for you with this version. Thanks!

[2016-04-21 06:09] doutriaux1 commented on #1940
`conda install uvcdat -c uvcdat`

[2016-04-21 13:54] doutriaux1 commented on #1906
@rakeshtejak any progress on this?

[2016-04-21 17:25] danlipsa commented on #1931
@doutriaux1 On linux adding
x.setbgoutputdimensions(xSize,ySize)
after vcs.init results in
X Error of failed request:  BadAlloc (insufficient resources for operation)
  Major opcode of failed request:  53 (X_CreatePixmap)
  Serial number of failed request:  29
  Current serial number in output stream:  31
So, this does not seem to have anything to do with autot or VTK.

[2016-04-21 17:27] danlipsa commented on #1931
I would think doing any plot with these to set would result in a similar crash.

[2016-04-21 20:27] davidedelvento commented on #1940
Great improvements! I've found only 3 issues:

1. the conda package does not delcare the pyopenssl dependency
2. responding "yes" to the `do you want to allow UV-CDAT to collect anonmymous usage information?` causes

[code]

which of course continues forever until `~/.uvcdat` is purged

3. Opening the examples files causes errors like the following (this could be operator incapacity):

[code]

[2016-04-21 21:12] doutriaux1 commented on #1940
That's great news I will update uvcdat/vistrails conda package to add the pyopenssl dependency, I wouldn't worry about the vistrails warnings, as I mentioned we are moving away from vistrails.

I can't reproduce the seg fault, it might be due to the pyopenssl. Which OS are you running under?

[2016-04-21 23:13] chaosphere2112 opened #1944 "Isoline line, linecolors, and linewidths behave oddly"
So, there's some weirdness in the way we set up isoline objects.

[code]

If we do a .list(), we see our attributes:

[code]

If we set `.line` to the names of some line objects, some odd, but understandable behavior occurs:

[code]

It harvests the `type` attribute from the `blue` and `red` line objects, and sets those in `line`. It grabs the `color` attribute from each of them and sets `linecolo

[2016-04-21 23:40] doutriaux1 commented on #1931
@danlipsa yes there are two issues here
 1- you didn't set an output dimension to your tests png so they were different on different machines and that led to the tests failing
 2- I tried to fix 1- by setbgoutputdimensions and now it seg fault. NOt sure if that is a VTK or vcs issue.

[2016-04-22 01:46] davidedelvento commented on #1940
I was running under RHEL, don't remember which version (will check later and report) but I think the oldest still supported (not my choice).

I'll see if I can provide a corefile or at least a traceback for the core dump.

Last, but not least, I forgot to mention the GLIB 2.14 dependency (my OS had 2.12) which I solved by recompiling GLIB 2.14 (other versions of glib which I had around for other p

[2016-04-22 05:49] rakeshtejak commented on #1906
Hi,

Actually i tried with that command but couldn't get the solution of the
problem. Here is the problem:

usr/local/uvcdat/2.4.0/Externals/lib/libvtkCommonCore-6.3.so.1)
Traceback (most recent call last):
  File "/usr/local/uvcdat/2.4.0/vistrails/vistrails/uvcdat.py", line 89, in
<module>
    v = gui.application.start_application()
  File "/usr/local/uvcdat/2.4.0/vistrails/vistrails/gui/applicat

[2016-04-22 07:39] aashish24 commented on #1906
@rakeshtejak It looks like you are missing c++ package on your system. Have a look at this thread:

http://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error

You should system should had it but it may have a older version of it or something similar. I copy and pasted the solution from stackoverflow here:

22
down vote
accepted
I was having the same problem when trying t

[2016-04-22 08:48] rakeshtejak commented on #1906
Hi,

I have tried this last time but now i have solved the issue with your help.
Along with GUI i got following error as shown in screenshot, which is
attached to this mail.

Thank you.

With Regards.

On Fri, Apr 22, 2016 at 1:09 PM, Aashish Chaudhary <notifications@github.com

--
Rakesh Teja Konduru
Senior Research Fellow,
Centre for Electromagnetism (CEM),
Council of Scientific and Industrial R

[2016-04-22 09:21] rakeshtejak commented on #1906
Hi,

Where could i find the documentation of UVCDAT and all of its commands.

On Fri, Apr 22, 2016 at 2:18 PM, Rakesh Teja Konduru <rakeshtejak@gmail.com>
wrote:

--
Rakesh Teja Konduru
Senior Research Fellow,
Centre for Electromagnetism (CEM),
Council of Scientific and Industrial Research (CSIR),
National Aerospace Laboratories (NAL),
Kodihalli Campus, Bangalore,
INDIA.

Website:- http://www.inco

[2016-04-22 13:39] danlipsa commented on #1931
No, I set the size at the beginning of the file: 800 by 400 (or 400 by 800). I think the problem is in foreground mode, when the window is resized by the OS and ends up a different size.
I had to reduce the resolution when moving from my desktop to my laptop, but I did not look very closely at it. Try 600 by 300. If that works on your laptop, we can move on and look at this issue latter.

[2016-04-22 14:52] mcenerney1 commented on #1940
Getting an error running diagnostics

Traceback (most recent call last):
  File "/Users/mcenerney1/anaconda/lib/python2.7/site-packages/ESMP/src/ESMP_LoadESMF.py", line 126, in <module>
    _ESMF = _NP.ctypeslib.load_library('libesmf_fullylinked',libsdir)
  File "/Users/mcenerney1/anaconda/lib/python2.7/site-packages/numpy/ctypeslib.py", line 123, in load_library
    return ctypes.cdll[libpath]

[2016-04-22 15:07] mcenerney1 commented on #1940
How do I run ctest in this environment?

[2016-04-22 19:56] chaosphere2112 opened #1946 "pingPCMDIDB spawning large numbers of threads?"
Looks like pingPCMDIDB might be causing a lot of threads to get started; a bug report on the support mailing list indicated that the problem was alleviated by increasing the max number of threads from 1024 (which is already way more than we need).

[2016-04-22 21:12] aashish24 commented on #1906
@rakeshtejak http://uvcdat.llnl.gov/getting_started.html

[2016-04-24 21:58] durack1 commented on #1942
And another error:
[code]

[2016-04-24 22:05] durack1 commented on #1059
It would be great to also add the ability to generate aliases for coordinate variables - so extending the existing `-a alias_file` functionality so that coords can be renamed to `time`,`lat`,`lon` etc

[2016-04-25 13:44] doutriaux1 commented on #1940
@mcenerney1 you didn't install the correct FOrtran on your Mac, see: https://github.com/UV-CDAT/uvcdat/wiki/Install-on-Mac-OS-X I will had this to the Anaconda page.

[2016-04-25 14:14] doutriaux1 commented on #1946
Let's take a look, it shouldn't be starting more than a dozen threads per session.

[2016-04-25 14:43] doutriaux1 commented on #1946
sample code from user:
[code]

[2016-04-25 14:59] doutriaux1 opened #1947 "isofill vcs bug"
using the attached file Dave was able to produce the following plot. The max is 29.xx so no data should be in the pink 30-35 interval.

![isofillbugmaybe](https://cloud.githubusercontent.com/assets/2781425/14788142/7cb63ca6-0abb-11e6-844a-59edcad3085c.png)

[HadSST1870to99.nc.zip](https://github.com/UV-CDAT/uvcdat/files/234803/HadSST1870to99.nc.zip)

[2016-04-25 17:30] durack1 commented on #1833
@danlipsa should this issue be resolved in `2.4.1`?

[2016-04-25 17:34] durack1 opened #1949 "PCMDI tools problem - lats"
The following problems are occurring with the `PCMDI_tools` - `lats` in particular:
[code]
There is also a bug that has crept in that wasn't an issue in earlier releases:
[code]

[2016-04-25 17:38] durack1 commented on #1921
Is the string `NAME: /usr/local/uvcdat/2016-03-09/lib/python2.7/site-packages/unidata/udunits.dat` some leftover print statement from some earlier testing? If so it should be a fairly trivial delete and close resolution for this issue

[2016-04-25 17:47] doutriaux1 commented on #1921
yes it's gone from master, I guess it's one of the "benefits" form being a guinea-pig user.

[2016-04-25 17:47] #1921 closed

[2016-04-25 19:54] danlipsa commented on #1833
@durack1 Not that I know of. Keep lobbying @doutriaux1 and @aashish24 to bump its priority for me to look at it :-). I think this is different than https://github.com/UV-CDAT/uvcdat/issues/1728.

[2016-04-25 21:17] davidedelvento commented on #1940
For some obscure reasons, github does not allow me to attach the whole back trace, but anyway, here are the relevant issues:

1) The problem finally occurs in  0x00002ba52102a7ab in init_one_static_tls (map=0x25762a0) at allocatestack.c:1179

2) The last python which is touched before moving into C is vtk/vtkCommonCore.py

3) The last non-VTK python which is touched before invoking vtk is vcs/util

[2016-04-25 22:21] durack1 commented on #1949
@doutriaux1 apologies, the file I'm trying to compile is at https://github.com/PCMDI/amipbcs/blob/master/mkhurrell1.f

[2016-04-25 23:01] doutriaux1 commented on #1940
that is odd. The linux64 conda packages are actually built on a RH 6.4 as well. I'm suspecting something to do with your (non-existing?) graphics card. @aashish24 @danlipsa you're the VTK expert any idea?
Alo I did have the GLIB error originally when going from ubunutu to RH6. Hence the building on RH6. You may need/want to try a `sudo yum update`.

[2016-04-26 01:48] davidedelvento commented on #1940
I did run this on a node without graphic card, but why should that matter? Tomorrow I can give it a try on a different node which does have the graphic card and see if it is any different.

I don't have root on the system, so I can't run `yum update`. But as I said, that's a non-issue for me, since I rebuild GLIB and linked against it, which works just fine. I'm just suggesting that you use the ni

[2016-04-26 13:58] doutriaux1 commented on #1940
thanks @davidedelvento will most definitely add glib as a conda dependency. @aashish24 @danlipsa any hints for @davidedelvento as far as the VTK error goes?

[2016-04-26 14:49] davidedelvento commented on #1940
Ok, so let me summarize the still open issues for the new people nose'd.

- The segfault described at https://github.com/UV-CDAT/uvcdat/issues/1940#issuecomment-214525667 happens on a node with GPU too.  Let me know if you would like me to do additional tests about it.

- The VTK errors described at https://github.com/UV-CDAT/uvcdat/issues/1940#issuecomment-213100951 are still there

Thanks.

[2016-04-26 18:16] danlipsa opened #1950 "Clean-up Packages/cdms2/Lib/axis.py"
This file has references to types.StringType which don't work for unicode. Replace those with basestring.
Do we clean-up other references to types.?

[2016-04-26 20:35] doutriaux1 commented on #1950
done in #1951

[2016-04-26 22:42] doutriaux1 commented on #1949
@durack1 this works for me with:
`cd77 -ezget -lats -cdms  -fcray-pointer mkhurrell1.f -o paul`

[2016-04-27 15:41] chaosphere2112 opened #1953 "Cleaning up the docstrings"
Our docstrings desperately need to be cleaned up. I threw together a super-basic Sphinx automodule API doc of VCS, which you can find at [UV-CDAT/uvcdat-docs](https://github.com/UV-CDAT/uvcdat-docs). If you check out the repo and do make (when sourced into a UV-CDAT environment), you can see how badly our docstrings work in practice. I created an issue to keep track of all of the modules, function

[2016-04-27 15:42] chaosphere2112 commented on #1953
@sampsonbryce @danlipsa @aashish24 @sankhesh @doutriaux1 @durack1 @williams13 and anyone else who might have some free cycles...

[2016-04-28 09:57] jypeter opened #1954 "Status of ESMPy in UV-CDAT ?"
Can somebody tell me what are the plans for **integrating ESMPy in UV-CDAT**? I have seen it mentioned in a year old open issue (https://github.com/UV-CDAT/uvcdat/issues/1151)

I'm not good at correctly handling non-regular grids, and I believe that the availability of a good and documented regridding package in UV-CDAT is important.

I have never really used ESMP, because the documentation on COG

[2016-04-28 15:02] chaosphere2112 opened #1955 "canvas.gs() should be removed"
Currently, the `gs()` method on canvas raises an `AttributeError`; we should remove it from the codebase.

[2016-04-28 21:02] mcenerney1 opened #1957 "Merge diag_test_fix into uvcmetrics master"
This is more of a request. uvcmetrics master is up to date with merges from several branches. Merge diag_test_fix is the last step before 2.4.2 release.

[2016-04-29 15:26] doutriaux1 commented on #1954
it's still on the agenda, we need to move to the newer nupmy first I believe. @rokuingh and I are in touch

[2016-05-02 07:08] jypeter commented on #1954
OK, thanks!

[2016-05-02 19:27] jdigjudy opened #1958 "Problem plotting"
Hi - I'm new to UV-CDAT and am having trouble - not sure if it's from the installation or from my beginner's errors.
It's running on a Linux x86_64 box.  Version: v2.5.0-304-gde21daf

I'm just stepping through examples, but when I drag/drop variables over and then a plotting method, regardless of plotting method chosen, it shortly crashes with this:
/usr/local/uvcdat/bin/uvcdat: line 64: 23030 Abo

[2016-05-02 20:04] aashish24 commented on #1958
@jdigjudy can you output to a log file and send it here:

Are you still having display issues?

[2016-05-02 20:24] jdigjudy commented on #1958
No display issues, but no successful plots yet!

Here's what the log says when I uvcdat --output="uvcdat.log"
Looks like we're still missing something.

[jgaukel@hunter:~] $more uvcdat.log
ERROR: In /root/uvcdatGIT/build-uvcdat/build/VTK/Rendering/OpenGL/vtkXOpenGLRenderWindow.cxx, line 613
vtkXOpenGLRenderWindow (0x751f940): GLX not found.  Aborting.

[2016-05-02 20:37] jdigjudy commented on #1958
I've checked my local machine for mesa-libGL, mesa-libGL-devel and they are up to date.
yum list vncserver comes up without matching anything -- what am I missing?

[2016-05-02 20:54] aashish24 commented on #1958
Are you using vnc?

[2016-05-02 21:33] jdigjudy commented on #1958
No.

On Mon, May 2, 2016 at 1:54 PM, Aashish Chaudhary <notifications@github.com>
wrote:

--
Judy Illeman Gaukel
Climate, Atmospheric Sciences, and Physical Oceanography
Scripps Institution of Oceanography
9500 Gilman Drive, 0230
La Jolla, CA  92093-0230
858-534-1863
judy@ucsd.edu

[2016-05-02 21:48] aashish24 commented on #1958
Can we do a hangout tomorrow at 2 pm edt?

[2016-05-02 22:06] jdigjudy commented on #1958
Yes.  Thanks.

On Mon, May 2, 2016 at 2:48 PM, Aashish Chaudhary <notifications@github.com>
wrote:

--
Judy Illeman Gaukel
Climate, Atmospheric Sciences, and Physical Oceanography
Scripps Institution of Oceanography
9500 Gilman Drive, 0230
La Jolla, CA  92093-0230
858-534-1863
judy@ucsd.edu

[2016-05-03 14:32] doutriaux1 commented on #1958
@aashish24 Please add me to the hangout

[2016-05-03 16:09] doutriaux1 opened #1959 "bad contouring algorithm"
using clt data
[code]

gives us:

![bad_contours](https://cloud.githubusercontent.com/assets/2781425/14989823/8dc76a98-110e-11e6-9151-081197679ea8.png)

around -55South the dots are not dotted everywhere, but looks like most line are badly drawn everywhere anyway. @lee1043 noticed this.

[2016-05-03 16:54] doutriaux1 opened #1960 "vtk has hard links that seem to prevent anaconda libraries relocation"
using anaconda built vtk from our repo we cannot export svg any longer

[code]
results in:
[code]

[2016-05-03 16:55] doutriaux1 commented on #1960
@danlipsa @sankhesh please take a look and provide any input, this is really important. Thanks.

[2016-05-03 18:39] aashish24 opened #1961 "use EGL instead of X for windowing system"

[2016-05-03 19:06] sankhesh commented on #1960
@doutriaux1 When conda compiles VTK, does it enable the module `Module_vtkIOExportOpenGL` ? That is the module that provides `vtkGL2PSExporter`.

[2016-05-03 20:20] doutriaux1 commented on #1960
@sankhesh I passed it the exact same options as we do for our build. If I build with these options it seems to work, it's a relocation issue I think. Looks like some path are hard coded.

[2016-05-03 20:21] doutriaux1 commented on #1960
@sankhesh I will try to manually turn this on anyway, thanks for the pointer.

[2016-05-03 20:42] doutriaux1 commented on #1960
ok I see it in the log, we'll see if it picks it up
[code]

[2016-05-03 21:10] doutriaux1 commented on #1960
@sankhesh that was it! You're a genius!

[2016-05-03 21:11] doutriaux1 commented on #1960
@sankhesh is there an option to turn on ALL modules? Thanks

[2016-05-03 21:22] sankhesh commented on #1960
@doutriaux1 Awesome.

There is an option to enable all modules : `VTK_BUILD_ALL_MODULES`

However, I would suggest not to use it. That would build a whole LOT MORE code than required.

[2016-05-03 21:44] doutriaux1 commented on #1960
@sankhesh I'll give it a try, since it's for anaconda we only build it once in a long while so that might be worth it.

[2016-05-03 21:46] #1960 closed

[2016-05-04 01:06] doutriaux1 commented on #1929
Uvcmetrics repo using tracis ci, only posts for mac. Could it be a cmake version issue

[2016-05-04 01:07] doutriaux1 commented on #1920
With the move to anaconda this is not relevant any longer

[2016-05-04 01:07] #1920 closed

[2016-05-04 01:07] doutriaux1 commented on #1913
Conda switch makes this irrelevant

[2016-05-04 01:07] #1913 closed

[2016-05-04 01:08] doutriaux1 commented on #1894
@chaosphere2112 ia that finished?

[2016-05-04 01:10] doutriaux1 commented on #1882
Conda solves this

[2016-05-04 01:10] #1882 closed

[2016-05-04 01:10] doutriaux1 commented on #1845
@lee1043 does this work for you?

[2016-05-04 01:11] doutriaux1 commented on #1839
Conda switch solves thia, just uae conda to gwt uvcdat on travis

[2016-05-04 01:12] doutriaux1 commented on #1817
Conda solves this

[2016-05-04 01:12] #1817 closed

[2016-05-04 01:13] #1839 closed

[2016-05-04 10:52] aashish24 commented on #1960
@doutriaux1 please do not use / turn "VTK_BUILD_ALL_MODULES" it will increase the binary size unnecessarily.

[2016-05-04 13:57] aashish24 commented on #1958
@doutriaux1 I will add you to the hangout. the problem is that this machine has Matrox graphics card plus has missing xorg.conf and we are trying to do interactive plotting (not bg=1).

[2016-05-04 13:58] aashish24 commented on #1958
@doutriaux1 I will add you to the hangout today. The problem is that this server is using Matrox graphics card and does not have xorg.conf.

@jdigjudy

[2016-05-04 14:11] doutriaux1 commented on #1960
yes I noticed and it also needs mpi and all that we don't necessarily want on.

[2016-05-04 15:03] chaosphere2112 commented on #1894
@doutriaux1 I've been waiting for feedback from you and @aashish24 for 2 weeks

[2016-05-04 15:28] lee1043 commented on #1845
@doutriaux1 Colormap changes immediately after I click "save animation". Bluemarble image is also disappearing.

[2016-05-04 17:00] doutriaux1 commented on #1845
@lee1043 yes I would expect the bluemarble to disappear. I'll take a look at the colormap issue

[2016-05-04 17:38] jdigjudy commented on #1958
Hi, sorry - I think I thought it was 10:30PT, will check back in at 11..

On Wed, May 4, 2016 at 6:58 AM, Aashish Chaudhary <notifications@github.com>
wrote:

--
Judy Illeman Gaukel
Climate, Atmospheric Sciences, and Physical Oceanography
Scripps Institution of Oceanography
9500 Gilman Drive, 0230
La Jolla, CA  92093-0230
858-534-1863
judy@ucsd.edu

[2016-05-04 18:10] jdigjudy commented on #1958
So, if I work without the GUI at all, using python (just typed in the
example) -- does that also need the graphics card?
Is this the same issue?

If so -- I'm trying to find another way around --
I'm working on installing it on my CentOS (NVIDIA) box, and then trying to
mount the server with the lame graphics card...

[jgaukel@hunter:/etc/X11] $ipython
WARNING: Readline services not available or n

[2016-05-04 18:54] aashish24 opened #1962 "make vcs independent of cdms"

[2016-05-04 19:05] doutriaux1 opened #1963 "Conda build"

[2016-05-04 20:06] #1854 closed

[2016-05-04 20:59] dnadeau4 commented on #1333
string variable is netCDF4, do we want to support string variables?   What are they used for?

[2016-05-04 21:04] doutriaux1 commented on #1333
well we should, look at @painter1 example above

[2016-05-04 21:05] doutriaux1 commented on #1333
I'm sure @durack1 has lots to say about that as well

[2016-05-04 21:06] dnadeau4 commented on #1333
CDMS2 is trying to get the fill value from a string variable.  I think I have some ACME files on my disk, I'll give it a try.

[2016-05-05 00:04] durack1 commented on #1333
@doutriaux1 you're right.. I'm certainly opinionated on this subject.. I've struggled with `cdms2` string handling in the past.. Would be happy to contribute my two cents when I'm back in

[2016-05-05 14:35] aashish24 commented on #1783
Are we still working on this issue?

[2016-05-05 14:50] sankhesh commented on #1783
@aashish24,

I added about 5-6 tests for the `Thermo` package in the branch [thermo_testing] (https://github.com/UV-CDAT/uvcdat/tree/thermo_testing) but they were failing because the package had issues. @doutriaux1 fixed some issues and the last I heard, only one test fails now. @doutriaux1 Could you please confirm this?

IMHO, we can just disable that test and merge this branch for now.

[2016-05-06 03:07] cameronsmith1 opened #1964 "The mean value on Yxvsx plots is being rounded."
It was important for me to see the value of the mean for the following figure, but it was being rounded, and so was clearly erroneous.   Obviously we don't want a ridiculous number of digits, but an extra 2 digits was important in this case (and were provided for the min, max, and y-axis).   How are the number of digits currently being decided upon?

![capture](https://cloud.githubusercontent.com/

[2016-05-10 22:19] chaosphere2112 commented on #1964
@cameronsmith1 Sorry about the delay in getting back to you! Charles has been out sick since Thursday, and he usually is the one manning the issue triage.

Currently, we check if there's a `mean` attribute on the variable and use that if it's available; if it isn't, we try to use `cdutil.averager` and average across the axes on the variable, then apparently we use "%.4g" as the format string (if `

[2016-05-10 22:37] chaosphere2112 opened #1965 "Projections and Secondaries don't get along"
I'm playing with a technique to do a polar 1D plot in VCS, and I ran into some issues along the way. The biggest issue is that attempting to use a projection on a secondary object (which is something the API supports) doesn't really work, at all.

A simple test case:

[code]

which gives you a blank canvas.

This seemed odd to me, since we do essentially that *exact* line when plotting a polar plo

[2016-05-11 15:05] doutriaux1 commented on #1964
@chaosphere2112 I think you're right, let's extract that `smart` function and put it in the `genutil` (or `vcs` ?) package and use it everywhere else.

[2016-05-11 15:33] aashish24 commented on #1964
+1 for moving that piece of code from  `vcs.utils.mklabels`  to `vcs.computeSigDigits` or something like that. I prefer it to be in vcs.

[2016-05-11 15:37] painter1 commented on #1964
The diagnostics package, probably not involved here, rounds the mean to 6
digits, using an internal function round2().  I mention it because it might
be helpful if, however rounding is done, all UV-CDAT packages did rounding
the same way.  That applies to the algorithms for computing a mean, as well
as rounding.

In the diagnostics, one thing which is not done but which would be helpful,
is to sto

[2016-05-12 17:31] danlipsa commented on #1931
@doutriaux1 I reduced the size of the image to make it 250 x 500 and reenabled the autot tests. Could you test those on you mac.
https://github.com/UV-CDAT/uvcdat/pull/1967

[2016-05-13 05:07] #1894 closed

[2016-05-13 12:09] aashish24 opened #1969 "Packaging incosistency"
Currently some packages use distutils and others use setuptools.

[2016-05-13 13:54] doutriaux1 commented on #1969
i think we need numpy.disutils for all packages that have c extensions

[2016-05-14 04:07] aashish24 opened #1971 "Decide and then fix vcs / cdat method names"
Current we have various styles in use such as below:

[code]

It would be good to decide one and fix the API accordingly (probably good for 3.0).

[2016-05-14 04:45] aashish24 opened #1972 "Canvas does not has method to restore to default"

[2016-05-14 04:46] aashish24 opened #1973 "Canvas destroy does not close the canvas window"
Is this right behavior? I think destroy should close the window and then de-allocate. Thoughts?

[2016-05-14 04:48] aashish24 commented on #1972
For example

t = vcs.init().createtemplate()
t.scale(2)
..plot..
t.scale(1)
..plot.. (I get the same plot)

[2016-05-16 14:11] danlipsa commented on #1971
+1

[2016-05-16 14:29] doutriaux1 commented on #1971
I like `fooBar` but whatever we decide we will need to leave the old ones in place for at least a few versions with some sort of warning.

[2016-05-16 15:03] danlipsa commented on #1971
I also like fooBar but maybe we should stick with the style that is most common to avoid too much disruption. Note that PEP8 prefers foo_bar. I could get used with any style as long as it is consistent.
https://www.python.org/dev/peps/pep-0008/#function-names.
Some statistics would help to make up our minds. :-)

[2016-05-16 15:15] doutriaux1 commented on #1971
well let's stick to pep8 then.

[2016-05-16 15:16] doutriaux1 commented on #1971
Also we should probably greatly our test suite `coverage` before doing this. It would reduce the odds that we are missing a function rename somewhere.

[2016-05-16 15:40] doutriaux1 commented on #1959
@danlipsa any chance you could tackle this one?

[2016-05-16 16:32] danlipsa commented on #1959
Sure, after I am done with streamlines I can take a look

[2016-05-16 17:01] danlipsa commented on #1925
@doutriaux1 @aashish24 What about using vector.py, vc.type to specify that we want streamlines?
So far we have:
0 - 'arrow head'
1 - 'wind barbs'
2 - 'solid arrow head'
We can add a 3 - 'streamlines'.
I might need to add other parameters specific to vectors.
Comments?

[2016-05-16 18:16] danlipsa commented on #1925
Or maybe have a streamline graphics method similarly with the vector graphics methods. This seems to fit better existing API (and code).

[2016-05-16 18:28] aashish24 commented on #1959
@doutriaux1 is this something we need asap? What you think of the priority of this task?

[2016-05-16 18:41] doutriaux1 commented on #1959
it's holding up @lee1043 work, @lee1043 how badly do you need this? It is definitely needed for 2.6

[2016-05-16 18:41] aashish24 commented on #1959
@danlipsa sounds like this is something needed soon. I would fix this one and then do the streamlines.

[2016-05-16 18:43] danlipsa commented on #1959
@aashish24 sounds good.

[2016-05-16 18:45] doutriaux1 commented on #1959
Thanks. Yes I think it's more urgent than streamlines (but you know everything is important anyway)

[2016-05-16 18:46] lee1043 commented on #1959
It would be nice if I can use this in this week. Thanks!

[2016-05-16 18:52] danlipsa commented on #1959
@doutriaux1 @lee1043 I can see that the lines do not respect the specifications (dot, dash-dot and long-dash). Is that the bug?

[2016-05-16 21:02] doutriaux1 commented on #1959
@danlipsa yes more or less, we are not sure if the spaces are not respected or if that there are many short lines started next to each other making it look like one non-dotted/dashed line. Also it seems to be dependent on the actual data values (not 100% sure about that one)

[2016-05-16 21:45] doutriaux1 opened #1974 "numpy.NewAxis broken"
the follwoing used to work

[code]

[2016-05-16 21:46] doutriaux1 commented on #1974
for now a wrork around:

[code]

[2016-05-16 21:46] doutriaux1 commented on #1974
@lee1043 thanks for reporting this bug

[2016-05-17 16:16] durack1 commented on #1817
@doutriaux1 not sure this is still required but just in case:
[code]

[2016-05-17 16:37] durack1 commented on #1920
@doutriaux1 I'm still using the installs on ocean/crunch so I do think this is still relevant..?

[2016-05-17 16:38] durack1 commented on #1949
@doutriaux1 I am yet to test this.. Will report and close if/when I have confirmed a compile

[2016-05-17 18:03] doutriaux1 commented on #1920
actually you're not for much longer, I'm going to put the anaconda version in there now.

[2016-05-17 18:05] doutriaux1 commented on #1949
I missed you @durack1  :wink:

[2016-05-17 18:11] durack1 commented on #1949
@doutriaux1 course you did.. rigourous commentary..

[2016-05-17 18:12] durack1 commented on #1920
@doutriaux1 ok great - let me know and I'll start driving with the conda version..

[2016-05-17 18:16] #1881 closed

[2016-05-18 15:05] doutriaux1 opened #1975 "vector plot do not have a legend"

[2016-05-18 15:43] aashish24 opened #1976 "test_vcs_monotonic_decreasing_yxvsx_default generates dots on line on certain systems"

[2016-05-18 22:49] doutriaux1 opened #1977 "vector plots may be wrong"
script:
[code]

Using current version I get:
![new](https://cloud.githubusercontent.com/assets/2781425/15377305/a0ccef02-1d0f-11e6-932f-f7a048e1d40f.png)

Using the pre-VTK (1.5.0) I get:

![old](https://cloud.githubusercontent.com/assets/2781425/15377311/adf5007a-1d0f-11e6-9569-962f8775fde7.png)

new is black but all arrows on screen are same size (try it) whweras not in old version

[2016-05-19 02:13] aashish24 opened #1979 "VCS fix documentation style (docstrings) for functions"
Current we have this below which seems to be outdated and also is not aligned correctly

def cgm(self, file, mode='w'):
        """
 Function: cgm

 Description of Function:
    To save a graphics plot in CDAT the user can call CGM along with the name of
    the output. This routine will save the displayed image on the VCS canvas as
    a binary vector graphics that can be imported into MSWord or

[2016-05-19 04:33] aashish24 opened #1980 "VCS fix file names"
Some files names has first letter uppercase and other are conventional (lowercase first letter).  It would be nice to have it consistent.

[2016-05-19 04:37] aashish24 commented on #1977
@doutriaux1 using my current branch (which is on current origin/master), I am getting the correct image (attached) on Ubuntu 14.04.

![crap](https://cloud.githubusercontent.com/assets/146527/15382633/ed33caec-1d59-11e6-9f2e-4ae795becf46.png)

[2016-05-19 15:52] doutriaux1 commented on #1979
@aashish24 vtk used to have a cgm filter, remember? It would be awesome to re-activate that. It's the best format to go in ppt.

[2016-05-19 15:55] doutriaux1 commented on #1977
@aashish24 this is NOT correct, all arrows have the same length, look at the good one above, length of arrows changes. I think the "black" issue for me might be due to upgrading to ubuntu 16 (i should rebuild from scratch probably)

[2016-05-19 15:56] aashish24 commented on #1977
FYI: @doutriaux1 this is what I said:

[code]

[2016-05-19 16:00] aashish24 commented on #1979
@doutriaux1 sure but what I am referring here is the docstring style. Would you and @danlipsa agree that this should be fixed / updated?  Thanks.

[2016-05-19 16:04] aashish24 opened #1981 "VCS should have a method to query what export methods are supported"
I am not aware of any method that can list the export formats supported. I am thinking something like this:

[code]

thoughts?

[2016-05-19 16:04] doutriaux1 commented on #1977
@aashish24 sorry, like I said too many fires going on at once today :stuck_out_tongue_winking_eye: glad we are on the same page.

[2016-05-19 16:04] aashish24 commented on #1979
@doutriaux1 I will create an issue for cgm

[2016-05-19 16:05] doutriaux1 commented on #1979
thanks @aashish24 we should not spend too much time on it, if we can't resurrect this in VTK let's just kill the function.

[2016-05-19 16:07] doutriaux1 commented on #1981
i like the idea, should we make it part of vcs.listelements() ?

[code]

[2016-05-19 16:08] aashish24 commented on #1979
Roger that.

[2016-05-19 16:09] aashish24 commented on #1981
+1

can it be vcs.list("output_formats")

?

[2016-05-19 16:09] aashish24 commented on #1977
no prob :smile_cat:

[2016-05-19 17:17] chaosphere2112 commented on #1981
If we're going to have output types available in a structured format, we should also have a generic output function: `canvas.export("png")`

[2016-05-19 17:19] chaosphere2112 commented on #1979
@doutriaux1 `cgm` is definitely not the best format for powerpoint any more. `pdf` is probably the ideal vector format for most applications, though I still think our vector output renders really badly.

[2016-05-19 17:56] chaosphere2112 opened #1982 "Markers are poorly scaled"
Working on the gui, decided to try generating pngs of all of the marker types, and re-re-discovered that our marker scaling is just awful.

Here's a good "baseline" marker (`circle`) at size 100:

![circle](https://cloud.githubusercontent.com/assets/718512/15403826/9ac482a0-1daf-11e6-8ce6-296fe868f450.png)

Most of the "normal" markers are roughly the same size.

Here's `dot`, the default, at the

[2016-05-19 17:59] aashish24 commented on #1982
:+1: This is awful :cry: we should fix this. May be 3.0 or earlier

[2016-05-19 18:38] #1963 closed

[2016-05-20 14:55] danlipsa opened #1985 "orthographic projection produces blank screen. Not all projections are tested."

[2016-05-20 19:55] danlipsa commented on #1885
https://github.com/UV-CDAT/uvcdat/pull/1966

[2016-05-20 19:55] #1885 closed

[2016-05-20 20:33] danlipsa commented on #1811
This implements point info for point datasets.
https://github.com/UV-CDAT/uvcdat/pull/1966

[2016-05-20 20:33] #1811 closed

[2016-05-20 20:53] danlipsa opened #1986 "inconsistency on mac: 1200 x 1091 versus 1200 x 1090"
For test_vcs_meshfill_vertices_issue.png, the baseline contains an image of size 1200 x 1090. This passes on Linux. On mac, an image of size 1200 x 1091 is created which makes the test to fail.

This shows up with the new regression module.

[2016-05-20 20:54] danlipsa commented on #1986
@aashish24 @doutriaux1 Do you know anything about this?

[2016-05-20 21:02] aashish24 commented on #1986
we had setbgoutputdimensions(1200, 1091, units="pixels") in the tests which I modified to use the regression module. Seems like a bug in some place else?

[2016-05-20 21:07] danlipsa commented on #1986
@aashish24 Looking more I see that other baseline images have the size 1200 x 1091 and also the image from mac of size 1200 x 1091 passes on Linux. So I can just change the baseline and the problem is solved. Two questions remain: 1. How did the image of size 1200 x 1090 get into the baseline? 2. Why this resolution?

[2016-05-20 21:11] aashish24 commented on #1986
Do not know

This is something @doutriaux1 picked I guess. My preference would have for 800x600 or 400x400. We should change it to something smaller unless there is a strong reason to keep 1200x1091.

[2016-05-20 21:16] danlipsa commented on #1986
@aashish24 @doutriaux1 I just confirmed that on linux we do create an image of 1200 x 1091 the same as on mac. So there is no bug here.

[2016-05-20 21:17] aashish24 commented on #1986
so this is just a bad baseline?

[2016-05-20 21:17] danlipsa commented on #1986
It seems so.

[2016-05-20 21:18] danlipsa commented on #1986
I will just update the baseline and leave any other changes to the future.

[2016-05-20 21:18] aashish24 commented on #1986
SGTM

[2016-05-23 14:39] doutriaux1 commented on #1986
@danlipsa @aashish24 I sort of remember ffmpeg's x264 requiring an even number of pixels, so I think there's some code in the `png` function that makes sure it's even.

[2016-05-23 14:47] danlipsa commented on #1986
@do

[2016-05-23 15:00] danlipsa commented on #1986
@doutriaux1 I checked this particular test does generate on both linux and mac 1200 x 1091. So the code you mention is either not there or is not always activated. These are the resolutions we currently have:
250 x 500
 400 x 768
 400 x 800
 500 x 500
 500 x 250
 800 x 400
 800 x 600
 814 x 606
 814 x 303
 814 x 628
 1091 x 1200
 1200 x 1091
 1200 x 1090
 1200 x 1091
 1200 x 1090
 1200 x 1091
 120

[2016-05-23 17:54] aashish24 commented on #1977
@doutriaux1 @williams13 @danlipsa I need to clean up some stuff but how this one looks as far as scaling is concerned:

![new_vector](https://cloud.githubusercontent.com/assets/146527/15479370/e03f51ac-20ed-11e6-8ecb-89f925a9c806.png)

[2016-05-23 17:55] aashish24 commented on #1977
This time with slightly bigger scale:
![new_vector](https://cloud.githubusercontent.com/assets/146527/15479395/f9f15104-20ed-11e6-96e6-3e15be94127d.png)

[2016-05-23 18:26] durack1 commented on #1920
@doutriaux1 there is still an issue with `setup_runtime.csh`
[code]

[2016-05-23 22:34] durack1 commented on #1949
@doutriaux1 thanks for trying, this is where things are now:
[code]

[2016-05-24 18:29] durack1 commented on #1949
@doutriaux1 should `LD_LIBRARY_PATH` be set in `cd77` - that way it'll remove another external environment variable dependency for this stuff to work?

[2016-05-25 18:18] doutriaux1 commented on #1974
maybe 3.0 target?

[2016-05-25 18:18] #1959 closed

[2016-05-25 18:25] doutriaux1 commented on #1946
@chaosphere2112 will submit a PR, and @doutriaux1 will take it from there

[2016-05-25 18:29] chaosphere2112 commented on #1916
This issue is a side effect of #1944

[2016-05-25 18:29] #1916 closed

[2016-05-25 18:29] aashish24 commented on #1931
@danlipsa will look into it.

[2016-05-25 18:30] #1930 closed

[2016-05-25 18:30] aashish24 commented on #1929
I will look into it.

[2016-05-25 18:34] aashish24 commented on #1860
createcolormap create an array of rgba now. Was it working before?

[2016-05-25 18:35] #1788 closed

[2016-05-25 18:39] chaosphere2112 commented on #1860
Needs to also support `setcolorcell()` and `setcolorindex()`

[2016-05-25 18:39] chaosphere2112 commented on #1860
`setindex()`*

[2016-05-25 18:40] doutriaux1 commented on #1853
@dnadeau4 any chance you can get to this before June 7th?

[2016-05-25 18:41] doutriaux1 commented on #1823
@dnadeau4 just pinging, no rush

[2016-05-25 18:43] aashish24 commented on #1795
@doutriaux1 can you confirm if this is fixed?

[2016-05-25 18:45] chaosphere2112 commented on #1795
Works!

[2016-05-25 18:45] #1795 closed

[2016-05-25 18:58] doutriaux1 commented on #1455
sort of not an issue since we are moving to conda

[2016-05-25 19:02] chaosphere2112 commented on #1424
@durack1 Good news! I know what the problem is. I'll be fixing this for 2.6.

[2016-05-25 19:07] durack1 commented on #1424
@chaosphere2112 excellent!! What is the problem? And when do you want me to re-test?

[2016-05-25 19:10] doutriaux1 commented on #788
I think this is irrelevent with conda

[2016-05-25 19:10] doutriaux1 commented on #250
@chaosphere2112 please check it works in new GUI before closing this.

[2016-05-25 19:11] durack1 commented on #788
@doutriaux1 I don't.. if it's dead, then kill it and clean things up so that redundant and many year old rubbish isn't polluting a clean repo..

[2016-05-25 19:13] chaosphere2112 commented on #1424
The offending line is plotting the title label; as it stands, unless you plot the title with "donotstoredisplay=True", we create an extra textcombined, textorientation, and texttable each time that doesn't get cleaned up. I just ran into the exact issue with a visualization that I'm working on, so I was able to narrow it down a bit (I hadn't yet gotten your script to run, as other stuff kept comin

[2016-05-25 19:15] durack1 commented on #1424
@chaosphere2112 sounds great.. Let me know when I can kick the tires..

[2016-05-25 19:57] chaosphere2112 commented on #1424
@durack1 Will do!

[2016-05-25 20:06] danlipsa commented on #1397
@doutriaux1 @aashish24 This seems to be fixed. I don't get any memory increase on the master branch. Can you confirm that?

[2016-05-25 20:07] danlipsa commented on #1397
This is the script I am using:
import vcs
import cdms2
import sys

x = vcs.init(bg=1, geometry=(1620, 1080))
x.setantialiasing(0)
x.drawlogooff()

f = cdms2.open(vcs.sample_data + "/clt.nc")
data = f('clt')

for i in range(120):
   x.plot(data,"default","isofill")
   x.png("file_%i.png" % i)
   x.clear()

[2016-05-25 21:31] dnadeau4 commented on #1853
I'll try to do it by then.

Denis

On 5/25/16 11:41 AM, Charles Doutriaux wrote:

[2016-05-25 21:40] doutriaux1 commented on #788
@durack1 it's kind of my point when I switch to the conda build, all this is going to didsappear from the repo

[2016-05-25 21:56] danlipsa commented on #1397
Actually, looking closer the memory does seem to increase, but fairly slowly: for 1500 iterations of the above script from 2.5 GB to 6.3GB. As it runs more, the growth seems to slow down.

[2016-05-25 22:09] doutriaux1 commented on #1853
thanks! No pressure though, don't drop anything for this.

[2016-05-25 22:12] durack1 commented on #1397
@danlipsa this is consistent with the memory growth in https://github.com/UV-CDAT/uvcdat/issues/1424#issuecomment-168754679, it's slow but noticeable, particularly when you're looping over 1000s of iterations

[2016-05-25 22:13] durack1 commented on #788
@doutriaux1 that is the conda variants.. But not the source, by which some folks will still persistently try to build from..

[2016-05-26 02:51] aashish24 commented on #1537
So I verified that for both pdf and postscript we are exporting text as paths. Also checked the code that the flag is present. Both PDF and Postscript text

line: 1098 (master as of today).

[code]

The docs are attached
[foo.pdf](https://github.com/UV-CDAT/uvcdat/files/283386/foo.pdf)

I am closing this bug if I am mistaken please feel free to ping me on it.

[2016-05-26 02:54] aashish24 commented on #1537
Oops.. I just realized that @durack1 wants the text object. Okay, I will add an option to vcs and set the default to text object.

[2016-05-26 03:39] durack1 commented on #1537
@aashish24 yes, I was about to ping you on that! I thought the issue title made things clear.

Rather than just change the default without testing, can we test out the options to see how the outputs look first? I'd be happy to provide feedback

[2016-05-26 14:08] aashish24 opened #1993 "Move testing files to underneath each package folder/directory"
Currently we have testing at the root level. What I would like to do is clear separation between vcs, cdms, genutil etc.

[2016-05-26 14:09] aashish24 opened #1994 "Move CMake to UV-CDAT/cmake-receipes"
CMake recipes are still useful for developers and I would like to keep it some place for the future.

[2016-05-26 14:42] doutriaux1 commented on #1993
@aashish24 aren't they already separated inside the `testing` directory?

[2016-05-26 14:43] doutriaux1 commented on #1994
@aashish24 most of the recipes are now at:
https://github.com/UV-CDAT/conda-recipes

I'm not sure why we need that extra repo (it's in the git history if we need them)

[2016-05-26 17:01] aashish24 commented on #1994
@doutriaux1 that repository is for conda. I would like a separate repository for CMake and possibly other build systems. We have another project here which will build UV-CDAT not using Cmake or conda for example.

[2016-05-26 17:02] aashish24 commented on #1993
they are but as I stated the testing directory itself is under UV-CDAT. I would like to propose to clear separation between vcs, cdms, etc.. and hence the testing and doc for each should reside in their sub-folders.

[2016-05-26 17:06] aashish24 commented on #788
I agree with @durack1. Build system and this issue is orthogonal things. In my rst_docs branch I took care of the docs folder but we still lot of files un-used and not maintained. I strongly suggest we remove them or update them.

[2016-05-26 17:29] durack1 commented on #788
@doutriaux1 @aashish24 FYI there is a closed PR that I submitted many moons ago (a year ago) https://github.com/UV-CDAT/uvcdat/pull/1341 - it was closed without merging

[2016-05-26 17:45] doutriaux1 commented on #1993
sure... It's funny though, because it's how it used to be and then when ctest came in you guys made us move everything into `testing` directory. We came full cycle :wink:

[2016-05-26 17:49] doutriaux1 commented on #788
@aashish24 when updating fully to conda that will imply doing the cleaning. No worries. Should be done before 2.6, which is when we officially switch to conda for releasing.

[2016-05-26 17:54] aashish24 commented on #1993
:smile:  that time we didn't have modular development and initially the tests were added for GUI. Things are much different now and better :laughing:

[2016-05-26 17:57] aashish24 commented on #788
@doutriaux1 I think we are mixing issues here. Conda or not conda should be a different issue. We should not solve every problem with one bullet :smile:. These two issues are orthogonal and it would be better if we have two separate PR's for them.

[2016-05-26 18:01] doutriaux1 commented on #788
not really, lots of these files are not necessary really but are used by the insane install.py.in that will go away with conda build.

[2016-05-26 18:12] durack1 commented on #788
@doutriaux1 @aashish24 I see overlap with these standing issues:
#788 - this issue
#1353 - Merge contents of images and resources subdirs (this is closed, but shouldn't really be)
#1354 - Update license/legal info

[2016-05-26 21:17] aashish24 commented on #1981
Okay if I make this change?

[2016-05-26 21:22] chaosphere2112 commented on #1981
fine by me

[2016-05-27 15:47] danlipsa commented on #1931
@doutriaux1 @aashish24 The problem here is:
x.setbgoutputdimensions(xSize,ySize)
this function has the default units  'inches' so this results in setting the resolution 116640x77760 pixels.
Understandably, on linux X reports: BadAlloc (insufficient resources for operation). We cannot do much about mac crashing. :smile:
So, I'll close this once I get the go ahead from you guys.

[2016-05-27 17:53] doutriaux1 commented on #1931
I don't understand. Didn't we use that for years and always ended up with the correct (in pixels) size for our baselines? Did this change recently? Anyhow I would say let's make it pixels by default.

[2016-05-27 18:30] danlipsa commented on #1931
Maybe this API is more for the physical size of the output - at least this is what the documentation suggests. It has examples for output being US Legal and A4.. You can specify the size of the screen/off-screen buffer as the geometry parameter to init. So I would propose to leave it as it is and close this Issue.

[2016-05-27 18:46] danlipsa commented on #1931
Other defaults:
vcs.png: units=None   - > I think this results in pixels
vcs.pdf: units='inches'
vcs.svg: units='inches'
vcs.postcript: units='inches'

[2016-05-27 19:31] danlipsa commented on #1944
@chaosphere2112 Why do you try to set a 'line object' such as 'blue' or 'red' to a place that should contain the 'line style' such as 'solid', 'dash', ...
I agree that his should report an error. Is this what you want?

[2016-05-27 19:56] chaosphere2112 commented on #1944
Nope, it shouldn't be an error (since the attribute is named "line", making it an error when you pass a line seems a bit rude).

I'll get back to you more in depth later, I've got other stuff I'm working on.

[2016-05-27 23:39] covey1 commented on #1059
PS  Paul has encouraged me to add a cdscan "bug" encountered on sierra.llnl.gov (a Linux cluster at the Livermore Computing facility). I find that cdscan can scan over netCDF files and produce a set of XMLs with no problem, but it cannot go to the next level and scan over those XMLs:

bash-4.1$ date
Fri May 27 16:30:44 PDT 2016
bash-4.1$ pwd
/g/g18/covey1/CMIP5/Tides/OtherFields/GridpointTimeserie

[2016-05-27 23:44] durack1 commented on #1059
Just for clarity, the specific issue that @covey1 has hit (and I have also encountered previously) is a problem dealing with very high resolution (hourly, 0.1 degree spatial resolution) data, where `cdscan` is unable to complete..

To attempt to get around this issue, he has attempted to create xmls that span a subset of this high frequency data and then has attempted to `cdscan` the subset of xml

[2016-05-28 04:45] doutriaux1 commented on #1059
I know about the xml of xmls issue, it gets confused with full vs relative path.
@dnadeau4 we need to revive Psql (pcmdi sql) it was so much better.

[2016-05-31 13:37] jypeter commented on #1455
I did not know about the *conda* plans. Can you give me some details, or some document about that? At least:

- when will you move?
- does this mean we install anaconda first, and then UV-CDAT specific packages?

Thanks!

[2016-05-31 14:12] doutriaux1 commented on #1455
We're hoping to move for 2.6, and yes install anaconda first then use it to get uvcdat.

[2016-05-31 14:18] danlipsa commented on #1944
@chaosphere2112 The documentations says (isoline.py:297):

   Specify the isoline line style (or type):
        iso.line=([0,1,2,3,4])   	# Same as
        iso.line=(['solid, 'dash', 'dot', 'dash-dot', 'long-dash']), will
                specify the isoline style

To me that means you should set there a line style not a line object. I think we should follow the documentation and only allow line st

[2016-05-31 14:38] danlipsa commented on #1944
@chaosphere2112 grepping through the vcs sources seems to show the same usage: we set line styles not line objects.

[2016-05-31 14:42] aashish24 opened #1995 "Tests are failing on master branch as of May 31st on some systems"

[2016-05-31 14:43] aashish24 commented on #1995
@danlipsa i believe for the stipple one, it reported that baseline was missing. I can run the test again to post full information.

[2016-05-31 14:57] doutriaux1 commented on #1944
@danlipsa it's supposed to accept a line object though. And use whatever line type is set on the object.

[2016-05-31 15:03] danlipsa commented on #1944
@doutriaux1 Can we fix this? This is confusing and error prone. What if you set:
iso.line = ['green']                # line object
iso.linecolors = ['red']

Are you going to have red or green as the line color?

[2016-05-31 15:18] aashish24 commented on #1944
Hey guys, so here is my suggestion: So the isoline object has these usable properties:

[code]

Whereas the line object has these:
[code]

Currently for most part, we have isoline which is a superset of line attributes (some has different names). I would suggest that

* isoline: We change the name of ``line`` to ``linepatterns`` or ``linestyles``
* Do not use line object as it could be confusing.

[2016-05-31 15:37] aashish24 commented on #1944
what I would suggest is to create a linestyle object and then in the future we can use that for line and isoline. For instance

ls = vcs.createlinestyle(color="red", pattern="dash")

# here ls does not have any worldcoordinate, x, y, etc

iso = vcs.createisoline()
iso.linestyle(ls)

ln = vcs.createline()
ln.linestyle(ls)

[2016-05-31 16:07] aashish24 opened #1996 "Discuss usefulness of outlines in plots"
I am open for suggestion but to me the outlines are more problem than useful. They don't show any new information and often are drawn incorrectly in projected plots.

[2016-05-31 16:13] durack1 opened #1997 "Conda channel nightly updates not up-to-date"
It seems that the nightly conda channel is not automagically updating.. It'd be great if this channel was available for testing the `master` branch changes before official releases are uploaded
![160531_uvcdatcondachannel](https://cloud.githubusercontent.com/assets/3229632/15681877/f3f1a470-270f-11e6-8f94-0562b50778fe.png)

[2016-05-31 16:25] doutriaux1 commented on #1944
@danlipsa the `line` attribute is what we're talking about it here, so `green` could only be a line name here, not the color.

[2016-05-31 16:38] danlipsa commented on #1944
@doutriaux1 So 'green' refers to a line object, isn't it?
So you set the isoline color thought both the line object and the linecolor attribute. Which one wins?

[2016-05-31 16:43] doutriaux1 commented on #1944
whichever was set last. The idea is that you use `line` and then tweak some more if you want to change just one thing (color or width or type)

[2016-05-31 17:10] danlipsa commented on #1944
@doutriaux1 Why do we use a field ('line') set function to set several fields (line style, color and width)? I would say it would be a lot cleaner to have function such as SetAttributesFromLine. What do you think?

[2016-06-01 13:00] jypeter opened #2002 "Missing dependency for UV-CDAT-2.4.1-CentOS-6.5-RedHat6-64bit.tar.gz binary (on FC 20)"
Hi @doutriaux1 and @chaosphere2112 !
I have tried to install the provided binary for the first time, on one of our standard Linux desktop (a _Fedora Core 20_ machine), and got the following error when importing vcs

[code]
It turns out that we have a newer version of libpng installed
[code]
Forcing the install of the old version fortunately solved the problem! Maybe this should be documented? Note

[2016-06-01 15:10] aashish24 commented on #1995
@doutriaux1 both me and @danlipsa had tests failing on master branch as of May 31st. Could you please confirm if thats the case on your system as well (checkout master as of May 31st please).

Below is the list of tests that were failing for me on master before we merged vector branch.
354 - test_vcs_isoline_width_stipple (Failed)
452 - test_vcs_line_patterns (Failed)
523 - dv3d_vector_test (Faile

[2016-06-01 15:37] aashish24 commented on #1944
@doutriaux1 @danlipsa I don't think we should support passing the line style via line object. As a  developer I think its very confusing and could be confusing for the user too. Currently the ``line`` object contains 'world coordinates' and `viewport`. What happens to these when we pass line to isoline?

I agree with @danlipsa to have a method line `CopyStyleFromLine` if we want to support it but

[2016-06-01 16:42] danlipsa commented on #1995
@aashish24 I fixed
354 - test_vcs_isoline_width_stipple (Failed)
452 - test_vcs_line_patterns (Failed)
Those pass on master now.

[2016-06-01 17:29] aashish24 commented on #1995
thanks @danlipsa. I believe the diags tests are still failing for you?

[2016-06-02 13:31] danlipsa commented on #1944
@doutriaux1 @aashish24 Is the consensus that we should support copying of certain line attributes (style, color, width) to isoline through a function: CopyLineAttributes?

[2016-06-02 14:05] doutriaux1 commented on #1944
@aashish24 the following already works and is used by scientists here:

[code]
There are some inconsistencies though the following will not work:
[code]

[2016-06-02 14:09] doutriaux1 commented on #1944
@aashish24 also the `texttable` objects do have `worldcoordinate` and `viewport` attributes are are being used by `template` objects even though these attributes are not needed by the template. Although we could revise that and take `viewport`/`worldcoordinate`  out of `texttable` and put it only on `textcombined` objects

[2016-06-02 15:29] jypeter opened #2004 "Improve the 'Error... See log' popup in uvcdat 2.4.1 ?"
One of our PhD students as tried the 'uvcdat' available in the 2.4.1 binary I installed on his laptop, and he quickly got the following error popup

![uvcdat-log](https://cloud.githubusercontent.com/assets/2785573/15750262/195619da-28e6-11e6-90b5-64a80df0b3c5.png)

- The basic error message is unfortunately not very helpful and could be improved
- The user does not really know where the log file i

[2016-06-02 17:55] danlipsa commented on #1944
Partially solved by https://github.com/UV-CDAT/uvcdat/pull/2005

[2016-06-02 21:30] durack1 opened #2006 "(python:26831): Gtk-WARNING **: Unable to find default local directory monitor type"
I'm getting the following error while using conda uvcdat on linux through a vnc client:
[code]

[2016-06-02 21:33] durack1 commented on #2006
@chaosphere2112 I think you're the man who may know about this..?

[2016-06-03 01:12] aashish24 commented on #2004
Hi @jypeter since we have new GUI coming up (alpha version I believe), I would think that we just not resolve any bugs in the existing gui unless we can show that problem is in command line / pure vcs code. @chaosphere2112 thoughts?

[2016-06-03 04:37] doutriaux1 commented on #2004
@aashish24 I concur it's not worth fixing anything at this point. BUT it is worth reporting (thanks @jypeter ) so that we can make sure it works properly in the new version.

[2016-06-03 15:55] jypeter commented on #2004
Sounds reasonable. Does *new version* mean the one that will be based on conda? When do you expect to get this out? The alpha and the *stable* version

[2016-06-03 15:58] doutriaux1 commented on #2004
june 30th. Yes a pre-release version of the GUI will be shipped (via conda) in 2.6. Release date is expected to be June 30th.

[2016-06-03 17:13] danlipsa commented on #1985
Solved by
https://github.com/UV-CDAT/uvcdat/pull/1990

[2016-06-03 17:13] #1985 closed

[2016-06-03 17:30] danlipsa commented on #1931
@aashish24 Do you have any input on this?

[2016-06-06 14:04] aashish24 commented on #1931
@danlipsa like @doutriaux1 I am curious too. For testing we set the bg dimensions and I thought they are in pixels since the resultant image seems to be of correct size. My question is why we get right size on my machine if the unit is set to inches. I apologize if you already explain it but I couldn't find the clear answer for this question.

[2016-06-06 14:08] aashish24 commented on #2004
Yes, no fixing, reporting is okay.

[2016-06-06 14:10] aashish24 commented on #2004
hi @jypeter conda will not make difference in terms of bugs like this. The new UI is written from scratch and is much slick than the old version and has less dependencies and that's the core reasons we will not have many existing bugs :smile:

[2016-06-06 16:11] durack1 commented on #1579
@doutriaux1 it'd be great to get this merged.. [`4.4.1` is also nearing release too](https://github.com/Unidata/netcdf-c/releases/tag/v4.4.1-rc2)

[2016-06-06 16:51] doutriaux1 commented on #1579
again it doesn't matter since 2.6 is distributed via conda. This goes away with my conda PR. Now I'm open to use 4.4 with conda build system

[2016-06-06 16:51] #1579 closed

[2016-06-06 17:00] durack1 commented on #1579
@doutriaux1 why close this when the conda build system should be updated to use the latest `4.4.0` release? There's even a closed PR ready to roll https://github.com/UV-CDAT/uvcdat/pull/1676

[2016-06-06 17:10] danlipsa commented on #1931
@doutriaux1 @aashish24 grepping for this function shows that everywhere it is used has  units='pixels' parameter added. Also the default value for the parameter units='inches' goes back at least to bb62d26fb8ac8caee83bd23bc0993347d85d0c59 which is Dec 29 2011. The repo goes back to 29 10:06:12 2010 and the function did not exist then.

[2016-06-06 18:37] danlipsa opened #2008 "Add test that plots two datasets with different time axes"
Ideally, the time axes should have two different time units.

See https://github.com/UV-CDAT/uvcdat/pull/2007
for more information.

[2016-06-06 18:53] durack1 commented on #1424
@chaosphere2112 FYI, it's time again for me to regenerate these datasets so I've just started running the script again against `2.4.1` this time:
[code]
It seems like there are a heap of new objects being created and not purged by my previous `del(extra vars)` code that was working against `~2.2.0`

[2016-06-06 19:06] doutriaux1 commented on #1424
@chaosphere2112 has a PR in the works for this.

[2016-06-06 19:32] danlipsa opened #2009 "add tests for datawc set to cdtime.comptime and cdtime.reltime"

[2016-06-06 19:33] danlipsa commented on #2009
See
https://github.com/UV-CDAT/uvcdat/pull/2007
for more information.

[2016-06-06 19:41] doutriaux1 commented on #2009
For ref on cdtime objects: http://uvcdat.llnl.gov/documentation/cdms/cdms_3.html

[2016-06-06 19:46] durack1 commented on #1424
@doutriaux1 @chaosphere2112 this seemed to work, but not anymore:
[code]

[2016-06-06 20:39] doutriaux1 commented on #1424
[code]

[2016-06-06 20:41] doutriaux1 commented on #1424
[code]

[2016-06-06 22:41] durack1 commented on #1424
@chaosphere2112 @danlipsa here's a comparison between attempting to plot in the background and foreground, so:
Background
[code]
And:
Foreground:
[code]
It still appears to be a nasty memory leak here - it'd be impossible for me to run this code start to end with `bg=True` enabled. @danlipsa I would be more than happy to run my code over any working branch you may have to resolve this is #1397

[2016-06-06 22:49] doutriaux1 commented on #1424
@aashish24 really there's no VCS difference between these two pipelines, I really think it's in the guts of vtk. @aashish24 you were going to look at this a while back. I think it's part of what hurts so bad `metadiags` in the diagnostics suite.

[2016-06-06 23:11] durack1 commented on #1424
@aashish24 @doutriaux1 this bug is making `VCS` very difficult (if not impossible) to use for me.. It's been particularly painful currently as my previous kludgey work around is no longer functioning.. I would advocate for high priority attention to this issue

[2016-06-07 02:46] aashish24 commented on #1424
@durack1 @doutriaux1 - I just talked to @danlipsa today. He is looking into the memory issue. The memory leak is a ongoing issue and in the past @dlonie did some in depth investigation and found out that we have been leaking memory at various places. Also ref: https://github.com/UV-CDAT/uvcdat/issues/1343

So let's investigate this issue in depth: I would suggest the following:

1. VTK Png writer

[2016-06-07 08:53] jypeter commented on #2004
OK, a slicker version of the GUI will be nice! I have never used it a lot, because I prefer the faster command line, but it can be useful for new users (with little programming background), who need to do a bit more computation than what *Panoply* offers. I hope you can keep the *view teaching commands* functionality

[2016-06-07 14:05] doutriaux1 commented on #1424
@aashish24 since the memory leakage (there's still a small one) is MUCH MUCH smaller when using bg=False I suspect something in VTK itself. But there is still a memory issue in VCS itself ( @chaosphere2112 has a branch in the works for this, but it looks like it's objects being created and never released/cleaned up)

[2016-06-07 14:07] doutriaux1 commented on #2004
teaching commands are definitely in no worries.

[2016-06-07 14:16] dlonie commented on #1424
Some thoughts:

I shared this in #1343, but I wanted to point out that https://mg.pov.lt/objgraph/ is incredibly useful for tracking down reference cycles (of which there were many in VCS when I was working on it) where two python objects hold references to each other and thus neither is ever eligible for garbage collected.

From #1343:
![vcsleaks](https://cloud.githubusercontent.com/assets/58744/

[2016-06-07 14:16] doutriaux1 opened #2010 "vcs should rember the original value stored by the user"
example

[code]

[2016-06-07 14:20] doutriaux1 commented on #1424
thanks @dlonie that is indeed  very usefull tool. Thanks for sharing.

[2016-06-07 14:20] danlipsa commented on #2010
@doutriaux1 This case is not too bad as there is a one-to-one mapping between numbers and line type descriptions, isn't it?

[2016-06-07 14:22] danlipsa commented on #2010
Also look at
datawc_ being changed to cdtime.reltime for time axis. See
https://github.com/UV-CDAT/uvcdat/pull/2007

[2016-06-07 14:30] doutriaux1 commented on #2010
@danlipsa yes #2007 is the most disturbing, but we might as well fix it everywhere so it consistently return to the user what it stored.

[2016-06-07 15:00] doutriaux1 opened #2011 "remove from blah import *"
recent version of flake8 show an error if obects come from a import *
hence we are using (for now) **  --ignore=F999,E121,E123,E126,E226,E24,E704  **

[2016-06-07 17:49] aashish24 commented on #2011
+1

[2016-06-08 16:05] danlipsa commented on #1424
@durack1 I get a different behavior than you when I run a simple script that just plots a boxfill from clt.nc and saves the pngs. The behavior I get is:
In the first 10/20 iterations memory jumps from 2.5GB to 4.2 GB and then 1. background mode - increases with about 1MB per iteration 2. foreground mode - stays constant.
The number of objects increase to from 93000 to 98000 in the first 10 iterati

[2016-06-08 16:08] danlipsa commented on #1424
@durack1 Another question? Do you use mesa for rendering?

[2016-06-08 16:45] durack1 commented on #1424
@danlipsa so this is the output run against `2.4.1`:
`bg=0`: [png-memory-log-bg=0.txt](https://github.com/UV-CDAT/uvcdat/files/305264/png-memory-log-bg.0.txt)
`bg=1`: [png-memory-log-bg=1.txt](https://github.com/UV-CDAT/uvcdat/files/305265/png-memory-log-bg.1.txt)

Take home here is for `bg=0` I start with:
[code]
[code]
Whereas with `bg=1` I get:
[code]
[code]

I'm using a VNC client, and curious

[2016-06-08 18:03] danlipsa commented on #1397
@chaosphere2112 @aashish24 @doutriaux1
This is a replay for your comment from Nov 18, 2015 :smile:

The fact that the number of objects is constant does not mean that the leak is not from python.
Attached is a program that eats up memory even if it keeps its number of objects constant.

These are the start and end iterations from this script: a ten fold increase in memory but the same number of ob

[2016-06-08 18:09] #1977 closed

[2016-06-08 18:54] doutriaux1 commented on #1581
fixed in conda

[2016-06-08 18:54] #1581 closed

[2016-06-08 18:55] #1537 closed

[2016-06-08 18:55] #1455 closed

[2016-06-08 21:36] doutriaux1 commented on #1947
hum... I'm not sure what's going on here. I was able to reproduce exactly Dave's plot with:
[code]

but using:
[code]

I get:
![good](https://cloud.githubusercontent.com/assets/2781425/15911854/68e39172-2d86-11e6-8905-1f354df5de13.png)

[2016-06-08 22:26] mzelinka opened #2014 "cdutil.ANNUALCYCLE.departures lopping off the final month"
[LWP_forCharles.nc.zip](https://github.com/UV-CDAT/uvcdat/files/305834/LWP_forCharles.nc.zip)

@doutriaux1
There seems to be an issue with cdutil.ANNUALCYCLE.departures.  It is lopping off the final month, like so:

In [1]: import cdms2 as cdms

In [2]: f=cdms.open('LWP_forCharles.nc')

In [5]: LWP_grd.shape
Out[5]: (252, 45, 180)

In [9]: anomLWP_grd = cdutil.ANNUALCYCLE.departures(LWP_grd)

In [

[2016-06-08 23:44] doutriaux1 commented on #1947
@danlipsa @aashish24 I think I'm near the issue it seems that we don't actually care what values the user pass see this code:
[code]
when running I get:
[code]
I don't see how -5, 0, 5, etc... gets mapped  via
[code]
what if the levels are not equally spaced -5,0,6,7,15 ?
I think this might be a VERY serious bug.

[2016-06-08 23:44] doutriaux1 commented on #1947
code is in isofillpipeline.py

[2016-06-08 23:44] doutriaux1 commented on #1947
even more serious that the bg=1 memory leak.

[2016-06-09 18:56] doutriaux1 commented on #1947
furthermore the follong code produces the same plt no matter except for the legend

[2016-06-09 18:57] doutriaux1 commented on #1947
[code]

![good2](https://cloud.githubusercontent.com/assets/2781425/15942458/50337e18-2e39-11e6-998b-a40b8b79bb47.png)

[2016-06-09 18:58] danlipsa commented on #1947
@doutriaux1 Sounds good. I will take a look at this.

[2016-06-09 18:58] doutriaux1 commented on #1947
[code]
![good](https://cloud.githubusercontent.com/assets/2781425/15942499/8552a722-2e39-11e6-999a-33748f8ef9f2.png)

[2016-06-09 18:59] doutriaux1 commented on #1947
@danlipsa thanks I started to fix it in: issue_1947_isofill_off

[2016-06-09 19:00] doutriaux1 commented on #1947
@danlipsa I will check boxfill/custom as well.

[2016-06-09 19:04] doutriaux1 commented on #1947
@danlipsa the issue at hand here is that we use
[code]
So we use a range, whereas we need to tell VTK the bands of each color. That might mean creating multiple mappers. That will allow us to unify the code, we have a special section if each "level" has a different pattern, maybe we ought to go through that code no matter what. Is it really bad to create many mappers?

[2016-06-09 19:11] danlipsa commented on #1397
@doutriaux1 @aashish24 @durack1 There a bug in the VTK, OpenGL, offscreen, Linux. OpenGL2, offscreen does not have it. Not sure if it accounts for what we are seeing here. In my tests this leak is small: 10000 iterations result in 20MB leaked.

http://www.vtk.org/Bug/view.php?id=16744

@durack1 can you run the attached python script in your setup. You were seeing really big leaks.

[vtk-memory.txt

[2016-06-09 19:24] danlipsa opened #2016 "tests leak vtk objects"
If we enable VTK_DEBUG_LEAKS the following uvcdat tests fail
	 78 - test_vcs_interact_no_plot (Failed)
	105 - test_vcs_taylor_2quads (Failed)
	361 - test_vcs_isoline_labels_multi_label_input_types (Failed)
	362 - test_vcs_isoline_labels (Failed)
	363 - test_vcs_isoline_labelskipdistance (Failed)
	364 - test_vcs_isofill_isoline_labels (Failed)
	365 - test_vcs_isoline_width_stipple (Failed)
	366 - t

[2016-06-09 19:34] danlipsa commented on #1947
It can be less than optimal, if you can get the same picture by manipulating the color map.

[2016-06-09 19:37] doutriaux1 commented on #1947
@danlipsa I'm not following if you use scalarrange you're assuming the distance between each level is identical no? To use scalar range we would need to create many levels using the smallest common delta between all levels. No?

[2016-06-09 19:40] aashish24 commented on #1397
@danlipsa this is great progress. Can you call ReleaseGraphicsResources before you delete / remove the renderer?

[2016-06-09 19:50] danlipsa commented on #1397
@aashish24 It makes no difference.

[2016-06-09 20:19] aashish24 opened #2018 "Improve quality and reduce file size of exported image / vector graphics"
* Compare file size with matplotlib (for both png and vector format)
* Compare quality of the PDF with matplotlib (crispness of text and probably contours as well).

[2016-06-09 20:23] durack1 commented on #1949
@doutriaux1 I believe this is sorted in the `nightly` conda channel - did you want to comment and close?

[2016-06-09 20:27] durack1 commented on #1059
@dnadeau4 @doutriaux1 this is something else to consider, the docs for `netcdf4.MFDataset` are [here](http://unidata.github.io/netcdf4-python/#netCDF4.MFDataset), thanks to @jkrasting for pointing this out:
[code]

[2016-06-09 20:34] aashish24 commented on #2018
@dlonie i would like to discuss this with you.

[2016-06-09 21:27] doutriaux1 commented on #1947
@danlipsa I think I have a fix in that branch, do you mind taking a look and see if it makes sense?

[2016-06-09 21:59] danlipsa commented on #1947
@doutriaux1 Yes, it does make sense. I will comment on it once you make the PR.

[2016-06-09 22:10] doutriaux1 commented on #1947
@danlipsa thanks running ctest to make sure no baselines have changed.

[2016-06-09 22:51] doutriaux1 commented on #1947
@danlipsa why did the change made things blurry?  https://open.cdash.org/testDetails.php?test=453751219&build=4403998

All test are at:
https://open.cdash.org/viewTest.php?onlyfailed&buildid=4403998

[2016-06-09 22:53] doutriaux1 opened #2019 "lambert baselines are wrong"
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_autot_axis_titles_lambert_isofill_2_1.png

These are not lamber projected.

[2016-06-10 00:26] durack1 commented on #1397
@danlipsa apologies for the tardy reply, output attached.. The take home is:
[code]
[vtk-memory_log.txt](https://github.com/UV-CDAT/uvcdat/files/308129/vtk-memory_log.txt)

[2016-06-10 13:17] aashish24 opened #2020 "Discuss renaming isoline and isofill"
I have gathered some feedback and did some quick research. Most of the plotting libraries have names as such as contour (vtk, matplotlib) and I think in general I prefer contour vs isofill or isoline.

If we change isofill --> contour then we can also get rid of isoline and make fill=True/False as an option to contour plot method.

Thoughts?

[2016-06-10 13:18] aashish24 opened #2021 "Discuss getting rid of boxfill() method"
Currently we can plot data using ``plot`` and ``boxfill()`` calls. I would prefer we just have one method for plotting unless there is a strong need for another method. Thoughts?

[2016-06-10 13:30] danlipsa commented on #1947
@doutriaux1 This is point vs cell data. We might _needCellData = True. One of those filters might need point data so we might need to convert along the way somewhere. You want me to take over?

[2016-06-10 13:37] danlipsa commented on #1397
@durack1 Can you also run glxinfo where you run your tests and report back the output generated. Thanks Paul.

[2016-06-10 13:51] chaosphere2112 commented on #2021
@aashish24 Actually, we can plot data using `plot`, `boxfill()`, `isofill()`, `isoline()`, `vector()`, `meshfill()`, `vector3d()`, `scalar3d()`, `dual_scalar3d()` (:confused:) , `oned()`, `xvsy()`, `xyvsy()`, `yxvsx()`, and I probably missed a few. I'm pretty sure these are commonly used by our users as shortcuts for the whole `getgraphicsmethod` -> `plot` process, though we'd have to have @doutri

[2016-06-10 13:54] chaosphere2112 opened #2022 "canvas.getcolormapname returns value set using canvas.setcolormap"
So I get why this is (`getcolormap` is a function that proxies `vcs.manageElements.getcolormap`), but this is an ugly spot in our API. Maybe do a `canvas.getdefaultcolormap()` and `canvas.setdefaultcolormap()` (makes sense as a name since users can override the canvas' default colormap using the graphics method)?

In other news, man, we have a *lot* of functions on Canvas.

[2016-06-10 13:54] aashish24 commented on #2021
Yup, I know. I was referring to ``boxfill()`` as an example (should have been more clear). But that's the thing, who uses these calls (none of our tests or other scripts I have seen using these). Most of them used ``plot()``.

I would like to favor smaller, simple, non-redundant API as much possible.

[2016-06-10 13:58] aashish24 commented on #2022
We do, I wish to to clean them up post 2.6

[2016-06-10 13:59] chaosphere2112 commented on #2020
Oof... that'll break a lot of people's scripts.

[2016-06-10 13:59] doutriaux1 commented on #2020
@aashish24 I like the idea. A few quick thoughts that came to mind:
* We need to preserve createisoline/isofill for backward compatibility
* We can manage to figure out getisoline/getisofill
* fillareacolors (which should become `colors` really) will have a different number of values depenending if you use fill or not. That is confusing, or do you suggest keeping fillareacolors/linecolors separate

[2016-06-10 14:00] doutriaux1 commented on #1947
yes please. Also yesterday with @sampsonbryce I tried to reproduce the bug using clt.nc and using [0,1,2,3,4,5,6,7,8,9,100] for levels and it worked! That really confused me.

[2016-06-10 14:01] chaosphere2112 commented on #2021
I know that @doutriaux1 uses them extensively when tinkering on the command line :smile: I think this is the kind of thing we should try and get some metrics on. I really need to bring the analytics server back online; I'll try and clear some time to do that in the next week or two.

[2016-06-10 14:01] aashish24 commented on #2020
@chaosphere2112 , I thought about this too. We could keep isofil / isoline for a while and just make them deprecated.

[2016-06-10 14:02] chaosphere2112 commented on #2022
Also, `canvas.setcolormap` doesn't check if the name you pass it is actually a colormap or not.

[2016-06-10 14:05] aashish24 commented on #2020
Cool!

Sure :+1:

Sure :+1:

I think I would suggest renaming them to ``fillcolors`` and ``linecolors`` (or strokecolors) like d3. Actually if we have contour plot (just one vs two), we could draw both lines and filled polygons and that will give the outline to plots like matplotlib.

Right. ``fillstyle, linestyle`` would be my choice but I am all ears for other names too.

[2016-06-10 14:10] doutriaux1 commented on #2021
@chaosphere2112 I never use `boxfill()` and co. I actually strongly agree with @aashish24 on this one, we should get rid of them all, all they do anyway is call `plot` now if you want to get fancy and keep a similar approach, I would recommend actually implemeting a `.plot()` function on the graphic methods themselves.

[2016-06-10 14:13] doutriaux1 commented on #2020
ok I like it. Definitely a valid 3.0 kind of thing since it's a major change to the API.

[2016-06-10 14:15] aashish24 commented on #2021
:+1: that would nice since that will make the code compact.

createisofill().plot(data['clt']) # Create default canvas if none provided

There are two things in my mind really:

1. Make vcs compact and lean from API point of view.
2. Remove redundant calls which will help getting rid of lot of branch and duplicate code.

[2016-06-10 14:17] chaosphere2112 commented on #2021
I certainly agree that they add a lot of cruft. I guess we'd have to leave the `canvas.createisofill()` etc. and associate the created GM with the canvas for `plot()` on GMs to work, but that's not a big deal.

[2016-06-10 14:18] aashish24 commented on #2021
Totally agree :smile:

[2016-06-10 14:20] aashish24 commented on #2021
Okay,  baby steps first:

1. Announce to the list that we are getting rid of redundant ``plot`` calls alternative
2. Remove these calls for 3.0
3. Update documentation

[2016-06-10 14:22] doutriaux1 commented on #2021
@danlipsa I don't think we should get rid of `x.plot()` at all. Just add `gm.plot()` as a convenience function which would be better located than `x.boxfill()`

[2016-06-10 14:24] aashish24 opened #2023 "Add pytest (unit testing) as well for vcs"
Currently we have regression testing which is great but we also need to look into unit testing using pytest or similar tools (I prefer pytest and not unittest module but open to suggestions) for data and API validation.

[2016-06-10 14:25] aashish24 commented on #2020
Roger that.

[2016-06-10 14:27] danlipsa commented on #2021
@doutriaux1 This reminds me of Perl vs Python. Perl: there is more then one way of doing it. Python: There should be one — and preferably only one — obvious way to do it. We know who won here :smile:

[2016-06-10 14:33] aashish24 commented on #2021
@danlipsa look at this code. (based on @doutriaux1 suggestion)

``
import cdms2, vcs
data = cdms2.open('clt.nc')['clt']
vcs.init().createisofill(data).plot()
[code]

[2016-06-10 14:36] aashish24 commented on #2021
Also you can do this now

``
import cdms2, vcs
data = cdms2.open('clt.nc')['clt']
vcs.init().plot(createisofill(), data)
``

The difference is subtle but it breaks the flow somewhat. Since isofill is connected to canvas anyways, you should be able to call plot on isofill and that should trigger the rendering too. I think it  is a general use-cased and used in libraries like d3 and geojs quite a bi

[2016-06-10 14:48] danlipsa commented on #2021
@doutriaux1 @aashish24 We can add that if you like it. :smile: It will be just a one line function anyway.

[2016-06-10 15:00] doutriaux1 commented on #2021
@aashish24 the only issue with your line is that it is really:
[code]
And `gm` does not know about `x` object so it will likely create one under the hood, so your line actually creates a useless x and can be shortened/optimzed to:
[code]

[2016-06-10 15:02] doutriaux1 commented on #2021
that actually brings the question, should `gm.plot(data)` return the canvas it used?

[2016-06-10 15:02] aashish24 commented on #2021
cool! Yes this would be preferred! Sounds good, I will add the plot method to graphics classes for 3.0.

[2016-06-10 15:03] chaosphere2112 commented on #2021
@doutriaux1 Above:

We can just do what `vcsaddons` does and add a canvas argument, so the canvas.create$GRAPHICSMETHOD functions will pass the canvas in as an additional arg to the GM.

[2016-06-10 15:07] aashish24 commented on #2021
It should return the gm itself so that you can chain it for other calls too like in d3. I prefer it returns itself vs canvas since that would be bit off.

[2016-06-10 15:07] aashish24 commented on #2021
Actually I take it back. Thinking more into it, yes, it think it would be good if returns the canvas object.

[2016-06-10 15:20] doutriaux1 commented on #2021
@aashish24 yes I think so too, otherwise all the canvas are created and not reachable easily any longer.
[code]

[2016-06-10 16:03] doutriaux1 commented on #1845
@chaosphere2112 did you fix this? I can't reproduce.

[2016-06-10 16:04] doutriaux1 commented on #1845
[code]

works perfectly as well for me.

[2016-06-10 16:22] chaosphere2112 commented on #1845
@doutriaux1 Looks like @lee1043 was doing it through my interaction bits, rather than from code. Must be something dumb I did in there.

[2016-06-10 16:24] chaosphere2112 commented on #2023
@aashish24 My one caveat here is that if we do this, we'll want to make the regression tests be solely an automated task. They already take forever to run, and if we add a million unit tests, it's going to be torture trying to actually run tests.

[2016-06-10 16:30] doutriaux1 commented on #1845
nope i tried that too and it works perfectly.

[2016-06-10 16:43] chaosphere2112 commented on #1845
K. Weird.

[2016-06-10 17:03] doutriaux1 commented on #2023
@chaosphere2112 we could make it a special case and not run it systematically, but just manually every once in a while?

[2016-06-10 17:08] doutriaux1 commented on #1845
it is the `save` that fails, looking into it now. Thanks @lee1043

[2016-06-10 18:01] jbeezley commented on #2023
Actually, the purpose of unit tests is that they are fast and can be easily run independent of anything else.  If anything, the integration tests that currently exist are what should be done manually every once in a while.  There is a nice writeup of testing philosophy here:

http://googletesting.blogspot.co.uk/2015/04/just-say-no-to-more-end-to-end-tests.html

[2016-06-10 18:22] durack1 commented on #1397
@danlipsa here you go:
[glxinfo.txt](https://github.com/UV-CDAT/uvcdat/files/309537/glxinfo.txt)

[2016-06-10 19:03] danlipsa commented on #1397
@durack1 Is this a vmware? What is the host operating system? What is the graphics card? Thanks.

[2016-06-10 19:09] durack1 commented on #1397
@danlipsa - the machine is:
[code]
And I am accessing this through a VNC (mac or windows) client, with the VNC host:
[code]
I'm also having some weird issues with writing `*.png` files using this setup - the same issue documented here https://github.com/UV-CDAT/uvcdat/issues/1424#issuecomment-224652389

[2016-06-10 19:22] danlipsa commented on #1397
@durack1 I see. Makes sense then. You are using a different graphics driver than me (mesa + llvmpipe) which is what I am trying to figure out.
I would be interesting to get to the console of the machine (if you have access to it) and run both the test program and glxinfo. I think you will get similar results - it would be good to check though.

[2016-06-10 19:24] danlipsa commented on #1397
@durack1 That is, use the keyboard and monitor physically attached to oceanonly.

[2016-06-10 19:25] danlipsa commented on #2023
@jbeezley This is a nice article. Thanks for sharing.

[2016-06-10 19:28] durack1 commented on #1397
@danlipsa the machine is physically located in a different building that I don't have access.. I could try an `ssh -Y/X` session and see what gives?

[2016-06-10 19:47] danlipsa commented on #1947
@doutriaux1 What is the rule if the scalar range extends beyond your min/max level? In the sample pictures you posted, areas that have scalar than -15 are black, but there are tests where those areas are white.
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_legend_isofill_horizontal_ext1_n_ext2_n.png

Also, I recently fixed a bug where missing attributes where filled

[2016-06-10 19:52] danlipsa commented on #1397
@durack1 That is fine. ssh -X/Y will give you the OpenGL on your local machine. If you have a linux local machine I would be interested in the test results/gxlinfo on that machine, even if you don't run uvcdat there.

[2016-06-10 20:01] doutriaux1 commented on #1947
@danlipsa I think the blacks in this case are actual missing values. data outside the range should not be drawn at all (i.e white) unless of course there's an extension arrow.

[2016-06-10 20:04] doutriaux1 commented on #1947
@danlipsa that's why in my the branch I change the to level[0] and level[1] rather than 0/1 before. I also made it create a new mapper if the delta is not the same. I don't see why these two changes triggered the blurriness.

[2016-06-10 20:09] danlipsa commented on #1947
@doutriaux1 Sounds good then. Data outside the range specified by the levels should be white.

[2016-06-10 20:11] danlipsa commented on #1947
and data masked (missing values) should be black.

[2016-06-10 20:51] durack1 commented on #1397
@danlipsa almost all our local machines are now OS X laptops.. What info do you need from these machines locally? Is there another way I can get the same info - querying the system hardware?

[2016-06-10 21:04] danlipsa commented on #2019
@doutriaux1 Looks similar with
https://en.wikipedia.org/wiki/Lambert_cylindrical_equal-area_projection
first image.  I think I got that with 'a_lambert_isofill'.

[2016-06-10 22:41] doutriaux1 commented on #2019
ok. I just thought you couldn't plot "global" maps with lambert projections. My bad.

[2016-06-10 22:41] #2019 closed

[2016-06-11 01:54] aashish24 opened #2026 "cdtime reltime and comptime could be classes and not methods"
It is odd that these two are functions in cdtime. For a new user I would expect these two be classes.

[2016-06-13 16:09] danlipsa commented on #1397
@durack1 @doutriaux1 @aashish24 I merged in a fix for the VTK bug
https://gitlab.kitware.com/vtk/vtk/merge_requests/1556
However this does not make a noticeable difference  for uvcdat on my machine. I still see about 1MB per iteration leak for offscreen rendereing. This might be different for a different driver. I think Paul is seeing a much bigger leak per iteration.

[2016-06-13 16:56] durack1 commented on #1397
@danlipsa the script that I am using is exposing a very big memory leak, it creates a number of VCS objects before saving this using the pngwriter.. If I can get your merged PR in a build I can rerun my script and report the memory usage.. It seems to expose the issue very quickly throughout the ~8k iterations..

[2016-06-14 14:55] aashish24 commented on #2023
@jbeezley answered this but I could elaborate as well if needed. Once the buildbot is up and running we don't have to run them on our machines, we could still however run unit tests since they are quick.

[2016-06-14 20:08] durack1 commented on #1808
@dnadeau4 this may be useful for `CMOR` tagging - just outlying the step-by-step

[2016-06-15 18:43] durack1 commented on #1397
@danlipsa, @doutriaux1 will pull across your branch for testing locally.. I will run my script against it and see how it compares to `2.4.1` are your changes in a PR in this repo, or a branch?

[2016-06-15 18:45] danlipsa commented on #1397
@durack1 Don't do that yet. I don't think you'll see any difference. I want to look more into this.

[2016-06-15 18:47] durack1 commented on #1397
@danlipsa no problem.. Let me know when you want me to kick the tires, it'll take a little time to get the changes into a local build so I can run my script

[2016-06-17 17:16] danlipsa commented on #1397
@aashish24 @durack1 @doutriaux1 I have a new merge request for the VTK bug. The first time the bug it wasn't really fixed.
https://gitlab.kitware.com/vtk/vtk/merge_requests/1574
Waiting for the fix to be merged. @aashish24 :wink:
This does make a big difference for my uvcdat test. From about 500 MB for 500 iteration the leak is reduced to about 6MB for 500 iterations.

[2016-06-17 17:19] durack1 commented on #1397
@danlipsa thanks for the heads up.. This sounds like it, the two order of magnitude drop in memory usage should certainly flow into better behavior in my example script

[2016-06-20 12:31] stefraynaud commented on #1614
Nothing new at this level ?
I know numerous users that are no longer using vacumm due to the very low performances of UVCDAT in reading netcdf files.
UVCDAT is useful for the selection process, but it must be able to reach the performances of netCDF4 using appropriate keywords that deactivate some the introspection stuff and access to the file.

[2016-06-20 15:22] doutriaux1 commented on #1397
That is great! @durack1 I will build a conda for you to test it with.

[2016-06-20 15:27] danlipsa commented on #1397
@doutriaux1 Note, the change is not merged in VTK yet - it is in the review process.

[2016-06-20 15:42] doutriaux1 commented on #1614
@dnadeau4 would you happen to have any time this week for this? IT would be a HUGE help. Thanks.

[2016-06-20 15:46] doutriaux1 commented on #1397
Can I build against your commit?

[2016-06-20 15:49] danlipsa commented on #1397
@doutriaux1 Yes, you can. It passes all VTK and uvcdat tests.

[2016-06-20 19:00] anderson276 opened #2031 "Defining seasons doesn't work"
To start the year in October...

ONDJFMAMJJAS = cdutil.times.Seasons('ONDJFMAMJJAS')
all_years_OtoS = ONDJFMAMJJAS.get(s)

(NOTE: this works for JJASONDJFMAM, but nothing else.)

Error message:

File "/usr/gapps/uvcdat/chaos_5_x86_64_ib/default/2015-04-28/lib/python2.7/site-packages/cdutil/times.py", line 1286, in get
    s.append(TimeSlicer.get(self,slab,season,criteriaarg,statusbar=statusbar,sum

[2016-06-20 19:13] doutriaux1 commented on #2031
thx for posting! Will look into this as soon as possible.

[2016-06-21 01:57] danlipsa opened #2033 "vcs cannot plot it but it should"
@doutriaux1 I'm attaching a sample zipped nc file, that has coordinate info (lat/lon) but no bounds info (in CF format), vcs cannot plot it, but it should be able to, since we know the point data (lat/lon). It's definitely something for 3.0 anyway, just wanted to ask you about it now before I forget.
add.zip
See the following for the file:

https://github.com/UV-CDAT/uvcdat/pull/2027

[2016-06-21 07:14] durack1 commented on #1397
@doutriaux1 let me know when I can take a test drive.. I'm curious if this will solve the problem that made things unusable with `bg=1`

[2016-06-21 14:00] doutriaux1 commented on #2033
thx @danlipsa

[2016-06-21 19:16] doutriaux1 commented on #1397
@durack1 it seems that @danlipsa fixed the leak! on `oceanonly` use the conda environment `LEAK` let us know.

[2016-06-21 19:18] doutriaux1 commented on #1397
@danlipsa it saves 40Mb per frame on `oceanonly`!

[2016-06-22 09:42] stefraynaud commented on #1614
It seems that the `unmodifed_select` select make successive selection according the selector components, then return the selection.

Ultimately, the selection process take the form of a slice applied or not to each dimension of the variable.
So, this method can be decomposed in two ways:

1. Convert the component specs to a list of slices.
2. Extract a subarray with these slices.

In this way

- a

[2016-06-22 14:06] doutriaux1 commented on #1614
@dnadeau4 ? That would be really really good if you could free some cycles for this! Thanks!

[2016-06-22 16:16] dnadeau4 commented on #1614
I'll take a look.

[2016-06-22 18:17] #1845 closed

[2016-06-22 18:18] #1776 closed

[2016-06-23 08:57] cpaulik opened #2034 "cdms2: Error on file that works fine with other netcdf readers."
The netcdf file in [g2_BIOPAR_SWI-TS_201001310000_C0243_ASCAT_V1.0.0.zip](https://github.com/UV-CDAT/uvcdat/files/329538/g2_BIOPAR_SWI-TS_201001310000_C0243_ASCAT_V1.0.0.zip) can not be opened using cdms2, but it works fine with `netcdf4-python`, `panoply` or `gdal`.

I first stumbled onto this error when using the cf-checker and have already reported the problem to @RosalynHatcher .

See this cod

[2016-06-23 08:58] cpaulik commented on #2034
Debugging the problem let me to https://github.com/UV-CDAT/uvcdat/blob/master/Packages/cdms2/Lib/dataset.py#L1095 where the C library is called.

[2016-06-23 08:58] durack1 commented on #1397
@doutriaux1 nice! I'll rerun my script next week and see what gives.. And also outline the same diagnostics included [above](https://github.com/UV-CDAT/uvcdat/issues/1397#issuecomment-113579383). An update will also be useful for dealing with #1424 @chaosphere2112

[2016-06-23 14:09] doutriaux1 commented on #1397
@durack1 you snoozed too long, it's in master 😉

[2016-06-23 16:11] durack1 commented on #1397
@doutriaux1 excellent! Is it in conda nightly?

[2016-06-23 18:14] doutriaux1 commented on #1397
yep

On 06/23/2016 09:11 AM, Paul J. Durack wrote:

[2016-06-27 20:08] durack1 opened #2035 "genutil broken in nightly"
[code]

[2016-06-27 22:01] doutriaux1 commented on #2035
fixed by #e31e2fd861ba1de60e36f692affb3847deb54359

[2016-06-27 22:01] #2035 closed

[2016-06-27 22:03] durack1 commented on #2035
@doutriaux1 great, when will conda be updated with this change - on the stroke of midnight tonight?

[2016-06-27 22:03] doutriaux1 commented on #2035
you wished, that cronjob is not working. Will push one soon though I will let you know.

[2016-06-28 18:31] durack1 commented on #1397
@danlipsa it seems that the `bg=1` memory leak is no longer an issue.

The code iterates through monthly data from 1870-01 to 2012-12 as you can see below, it seems that as a number of arrays are being filled the memory climbs (this is likely an internal python/UV-CDAT behavior), whereas once these variables are being reused there is no memory growth - so 1717 to 3432, 3433 to 5148 and so on:
[cod

[2016-06-28 19:47] aashish24 commented on #1397
yay! great job @danlipsa, thanks @doutriaux1 @durack1

[2016-06-28 23:07] durack1 commented on #1424
@chaosphere2112 it seems that the iteration timing and python objects have reduced under the current `master`, see https://github.com/UV-CDAT/uvcdat/issues/1397#issuecomment-229140174, however that code still has my delFudges (cleaning up vcs objects that aren't automagically cleaned up).

Did you have a branch that has solved the problem described in the comments above you want tested?

[2016-06-29 01:59] danlipsa commented on #1397
@durack1 @doutriaux1 Thanks for testing! Great to hear the fix works for your test case. I am closing this ...

[2016-06-29 01:59] #1397 closed

[2016-06-29 14:05] chaosphere2112 commented on #1424
@durack1 Nope, not yet. I'll try and get a branch up this afternoon, I've been on other projects for the last month or so.

[2016-06-29 14:05] chaosphere2112 commented on #1424
@durack1 Also, if you want to eliminate your delFudge stuff, you can plot your labels using "donotstoredisplay=True"

[2016-06-30 01:15] danlipsa opened #2038 "find a way to cache sample_data"
Find a way to reuse the sample_data when updating from one SHA to the next in master?
Most of the time, the sample data does not change, however every time you update your master you'll need to download a new version.
Sometimes downloading the sample data takes a long time.

[2016-06-30 18:07] durack1 commented on #1997
@doutriaux1 just wondering whether this conda experience is what you'd expect:
[code]

[2016-06-30 19:34] durack1 commented on #1424
@chaosphere2112 great, I'm just running with that additional argument now in `2.6.0` (and my delFudge=0) I'll let you know what it looks like.. I'm also going to be interested to see how this impacts the plot speed - should there be any changes there with your `2.6.0` tweaks?

[2016-06-30 19:43] danlipsa commented on #1947
See the following PR:
https://github.com/UV-CDAT/uvcdat/pull/2027

[2016-06-30 19:43] #1947 closed

[2016-06-30 20:10] danlipsa opened #2040 "creating pngs in background mode leaks (much less) memory"
This is a continuation of
https://github.com/UV-CDAT/uvcdat/issues/1397
While our VTK fix improved the leak considerably (from 500 MB to 6MB for 500 iterations) there is still a memory increase. It is possible that certain resources are still leaked.
More investigation is required to create a test that pinpoints the problem.

Here is the test program I used on linux:
[png-memory.zip](https://githu

[2016-07-01 02:30] doutriaux1 commented on #1997
@durack1 you should use environments. The nightly are purposely versioned with the date so that they superseed any existing version. "upgrading" to a stable version hence is not possible.

[2016-07-01 15:40] danlipsa commented on #2040
@aashish24 @doutriaux1 I created this follow-up issue if we want to dig more into this.

[2016-07-01 15:44] danlipsa opened #2043 "saved file name should be the same as baseline name for uvcdat tests"
In regression.py we can deduce the file name from the baseline passed as a parameter. This way to avoid saving the the test image with the different name than the baseline.

Having the same name for the image and the baseline is beneficial when looking through failed tests.

[2016-07-01 15:44] danlipsa commented on #2043
@aashish24 @doutriaux1 What do you think? This seems pretty easy to do.

[2016-07-01 17:59] danlipsa commented on #1931
https://github.com/UV-CDAT/uvcdat/pull/2044

[2016-07-02 15:27] aashish24 commented on #2043
@danlipsa I thought the saved filedname (by testing) is same as the baseline name? Can you point to specific example?

[2016-07-02 17:15] durack1 commented on #2018
@aashish24 @dlonie I'd happy to chime in on examples here - the vector graphic output is particularly important to me

[2016-07-02 17:24] durack1 commented on #2040
@danlipsa I think this should be reviewed alongside #1424 as the problems may be linked. I'm just running my #1424 test script against `2.6.0` and it seems there are still quite a number of problems remaining.. @chaosphere2112 pinging you here

[2016-07-03 01:41] danlipsa commented on #2043
@aashish24 There are a bunch of new ones where that is not the case. On the other hand, I have seen that the parameter is needed for cases where we save several files in a single test. So maybe it is just as easy to change the name in the tests where is not right.

[2016-07-05 14:11] chaosphere2112 commented on #2040
#1424 will remain unresolved for now, I wasn't able to get a pull request in before the release. I'll try and get something together shortly so it can go into nightly builds. For the present, I'd recommend just using the "donotstoredisplay" argument.

[2016-07-05 16:50] durack1 commented on #2040
@chaosphere2112 I just ran the script with `donotstoredisplay=True` and this is the result (also turned off the `delFudge` tweak - it seems things are still very broken, 2315 seconds and 24GB to plot a 3 panel figure seems a little extreme to me:
[code]

[2016-07-05 17:01] durack1 commented on #1424
@chaosphere2112 I just ran the script with `donotstoredisplay=True` and this is the result (also turned off the `delFudge` tweak) - it seems things are still very broken, 2315+ seconds and 24+ GB to plot a 3 panel figure seems a little extreme to me:
[code]

[2016-07-05 18:39] chaosphere2112 commented on #1424
@durack1 Yeah, that's a bit much. I'm working on some other stuff right now, but I should be able to sit down with you and your script this week and see if anything leaps out to me.

[2016-07-05 18:41] durack1 commented on #1424
@chaosphere2112 no probs - I'm in this week so let me know..

[2016-07-05 19:47] huard opened #2045 "Undefined symbol Getname ImportError with 2.6 installation"
[code]
fails with error message
[code]

[2016-07-05 20:20] durack1 commented on #1424
@doutriaux1 this issue along with a couple of others (#1770, #1931 and #1944) should probably be pinned to a `2.8` or similar milestone..?

[2016-07-05 20:20] durack1 commented on #1808
@doutriaux1 I assume this should be closed - as `2.6` is tagged and out?

[2016-07-05 20:28] durack1 commented on #1949
@doutriaux1 this is resolved, so closing

[2016-07-05 20:28] #1949 closed

[2016-07-05 20:29] durack1 commented on #788
@doutriaux1 you have sorted this by migrating to conda, closing

[2016-07-05 20:29] #788 closed

[2016-07-05 20:30] durack1 commented on #1477
@doutriaux1 with conda installation this is no longer relevant, closing

[2016-07-05 20:30] #1477 closed

[2016-07-05 20:31] durack1 commented on #1842
@doutriaux1 with conda this is also obsolete, closing

[2016-07-05 20:31] #1842 closed

[2016-07-05 20:33] durack1 commented on #457
@doutriaux1 is this done - we now have `grim` as a standard production machine..

[2016-07-05 21:29] durack1 commented on #1997
@doutriaux1 I believe this is still not functioning - the latest master PR merge is dated 5 days ago, whereas the [UV-CDAT conda channel nightly is showing 2016.6.27 as latest](https://anaconda.org/uvcdat/uvcdat/labels)

[2016-07-06 17:49] durack1 commented on #1424
@chaosphere2112 just to see changes between `2.4.1` and `2.6.0` I just ran the same code with my `delFudge=True` and this is a snippet of the result - same story, there are some real problems remaining ~100GB is VERY extreme:
[code]

[2016-07-06 19:14] durack1 commented on #1808
@doutriaux1 the master README.md is still showing `2.4.1` is latest along with the old `2.4.1` DOI..

[2016-07-07 04:16] aashish24 commented on #2043
sure.

[2016-07-07 14:28] mravshan commented on #1084
It seems that at this time our repo uses pyopenssl version 0.13(pip show pyOpenSSL) which is not compatible with the openSSL version 1.0.2g(openssl version) that brew installed above. Your mileage may vary.
edit '/usr/local/include/openssl/x509.h'
comment out X509_REVOKED_dup() function's declaration.
Look for the line 'X509_REVOKED *X509_REVOKED_dup(X509_REVOKED *rev);' and comment it out.
Save t

[2016-07-07 19:04] danlipsa opened #2047 "cdat_info.py exists only as text inside its conda receipt"
cdat_info.py does not exist as a proper python file. It exists only as text inside its conda's build.sh.
This makes it difficult to edit the file - this file leaks some resources that need to be fixed.

[2016-07-07 19:05] danlipsa commented on #2047
@doutriaux1 @aashish24 Why is this? Can we move it in a proper repository?

[2016-07-08 13:31] doutriaux1 commented on #2047
@danlipsa yes we should do this. I will take care of this. It's mostly a legacy issue, it used to be part of the install.py.in and was already created manually since the 90s.... Time to upgrade.

[2016-07-08 17:22] danlipsa opened #2048 "Building uvcdat creates build directories in the source directory"
This creates problems when updating the SHA in your source directory. It is not sufficient to delete the build directory, reconfigure and rebuild. You have to do a 'find . -name build -exec rm -rf {} \;' in the source directory to start fresh.

@doutriaux1 @aashish24 This is not good practice - it would be nice to fix this.

[2016-07-08 17:23] aashish24 commented on #2048
so even with conda this is the case?

[2016-07-08 17:34] doutriaux1 commented on #2048
yes and now, conda always creates a new clone. It's not terribly difficult to change this, I have no objection.

[2016-07-08 18:33] danlipsa opened #2050 "xy plots have line at bottom"
For instance see
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_basic_xyvsy.png

[2016-07-11 20:38] chaosphere2112 opened #2052 "Implement gettextextent"
We should steal the code I wrote in the `vtk_ui` package to implement the `gettextextent` function on the `VTKBackend` in `VTKPlots.py`. This would allow for a lot "smarter" placement of text labels.

[2016-07-11 20:49] durack1 commented on #2006
@chaosphere2112 @doutriaux1 this error seems to be persisting.. Kind of randomly..
[code]

[2016-07-11 23:28] durack1 commented on #1424
@doutriaux1 @danlipsa @chaosphere2112 just pinging you folks here.. Wishful thinking for `2.6.1`??

[2016-07-12 14:26] doutriaux1 opened #2054 "shgrid seems to rely on cdms and MA"
We should update this to cdms2/numpy.ma

At leat in the `Lib/sh.py` init section.

[2016-07-13 22:00] doutriaux1 opened #2059 "lambert azimuthal proj seem to ignore user custom parameters"
reported by @lee1043

[code]

gives:
![lambert](https://cloud.githubusercontent.com/assets/2781425/16821298/453017a6-490a-11e6-8f34-07d3065cdb43.png)

manipulating the parameters on projection do not seem to change anything:

[code]

[2016-07-19 14:55] embrown opened #2061 "vcs.displayplot.Dp.script() does not generate .json ouput"
In the source for the script() function for the Dp class, it looks like the function can only ever output a Python object.

[2016-07-19 15:55] doutriaux1 commented on #2061
@embrown @chaosphere2112 I'm not sure we should save Dp object at all. I'd vote to remove the `script` function all together.

[2016-07-19 15:58] chaosphere2112 commented on #2061
@doutriaux1 That's fine by me. It doesn't really make a lot of sense (given the presence of the `array` object) to persist them.

[2016-07-19 15:58] chaosphere2112 commented on #2061
@embrown Nuke it from orbit.

[2016-07-19 16:02] embrown commented on #2061
@doutriaux1 @chaosphere2112  Sounds good to me. I'll take out the script function.

[2016-07-20 05:08] durack1 commented on #922
@doutriaux1 @aashish24 not sure this is implemented, it seems similar to `travis` you can also get badges and reporting - see https://coveralls.io/builds/7049632 for e.g.

[2016-07-20 14:08] doutriaux1 commented on #922
@chaosphere2112 can we link to coverall?

[2016-07-20 15:03] chaosphere2112 commented on #922
@doutriaux1 Yes... here are the steps we'll need to do:

1. Fix Travis so it actually works (probably should just go with -nox)
2. Fix the coverage measurement (appears to have broken since the conda build)
3. Build using -DCDAT_MEASURE_COVERAGE=ON
3. Add a post step to run the `coverage_report` script
3. Run a coveralls client to upload the coverage data to coveralls

[2016-07-20 15:45] doutriaux1 commented on #922
yes `nox` is already being used by pmp and uvcmetrics it works perfectly

[2016-07-20 15:45] doutriaux1 commented on #922
see `coverage_back` branch for a begining of putting coverage back in

[2016-07-20 15:46] doutriaux1 commented on #922
I guess I will switch to nox in that branch as well

[2016-07-23 02:37] cameronsmith1 opened #2063 "Variable dimension wrong when loaded (UVCDAT 2.4.1)"
I loaded a variable into UVCDAT (2.4.1), and some of the data was missing.  In the NetCDF file there are 12 time records, and in UVCDAT only 11 show up.  No data manipulation was done.  The netcdf file is /global/project/projectdirs/acme/inputdata/atm/cam/sst/sst_HadOIBl_bc_1x1_clim_pi_c101029.nc (Edison), and should be in all the ACME and CESM data repositories.

[code]

[2016-07-25 13:45] doutriaux1 commented on #2063
@cameronsmith1 half good news, the command line does see the whole data:
[code]
@chaosphere2112 let's take a look.

[2016-07-25 14:33] doutriaux1 commented on #2063
@cameronsmith1 ok I figured out the issue. `cdtime` does not seem to understand `calendar_365` and as a result it is using the `default`/`gregorian` calendar.  I will see if adding calendar_365 (no_leap) to cdtime fixes this.

[2016-07-26 00:39] cameronsmith1 commented on #1469
I was just got caught by this problem, and was about to report it, when I realized that I had reported it last year.  I still think this should be changed.

[2016-07-26 12:24] danlipsa commented on #1887
@aashish24 no I don't I only have 14.04. I should install 16.04 some time soon.

[2016-07-26 12:24] danlipsa commented on #1887
This runs fine on my machine (14.04)

[2016-07-26 13:56] doutriaux1 commented on #1469
@chaosphere2112 @sampsonbryce @mattben we should definitely implement this in vcdat.

[2016-07-26 14:31] doutriaux1 commented on #1887
@danlipsa we are having a LOT of issues with the latest vtk and X forwarding. png are blacks, x forwarding to a newer version of XQuartz systemeatically seg faults but not from all machines of course. X forwarding always seg faulted for me from Livermore's LC to my desktop but not for other people (so it's either my env or ubuntu). I'm running Ubuntu 16.04 these days. Most of our users either run

[2016-07-26 15:14] danlipsa commented on #1887
I am going to run this through X forwarding and vnc + vgl and let you know.

[2016-07-26 16:14] danlipsa commented on #1887
On my mac using X Forwarding I get:

(2.6-10-gb3b5576)[~/projects/uvcdat/src (linestyle $%=)]$ python testing/vcs/test_vcs_background_mode_rotate.py
Xlib:  extension "NV-GLX" missing on display "localhost:10.0".
X Error of failed request:  BadValue (integer parameter out of range for operation)
  Major opcode of failed request:  150 (GLX)
  Minor opcode of failed request:  3 (X_GLXCreateContext)

[2016-07-26 18:10] danlipsa commented on #1887
vnc + vgl works fine (example run through vglrun)

[2016-07-26 22:45] doutriaux1 commented on #1887
apparently downgrading XQuartz on mac solves this.

[2016-07-27 11:35] danlipsa commented on #1931
See the end of #2044 for why this was closed. Essentially, we'll deprecate setbgoutputdimensions() and remove bgX and bgY.

[2016-07-27 17:00] chaosphere2112 commented on #1469
@cameronsmith1 @doutriaux1 Yup, I agree. We'll make sure this goes into VCDAT.

[2016-07-27 17:09] embrown opened #2066 "utils.match_color() depends on non-existant function"
@charlesdoutriaux @chaosphere2112 , it utils.match_color(), a call is made to vcs.getcolormapname(), but this function is not defined anywhere.

[2016-07-27 17:17] doutriaux1 commented on #2066
ooops looks like somebody (@doutriaux1) went a bit too happy with the functions removal.

I'll take a look, thanks for reporting.

[2016-07-27 17:53] embrown opened #2068 "utils.generate_time_labels(), wrong conversion to seconds?"
@charlesdoutriaux
In vcs.utils.get_time_labels(), when checking the 'units' argument:
[code]
Shouldn't the calculation for seconds be
[code]
?

[2016-07-27 17:54] doutriaux1 commented on #2068
yep looks like some copy/pasting that went bad. Go ahead and fix it please.

[2016-07-27 17:56] embrown commented on #2068
@charlesdoutriaux You got it.

[2016-07-29 13:34] danlipsa commented on #1844
@doutriaux1 @mcenerney1 Is this still a bug?

[2016-07-29 16:20] doutriaux1 commented on #1844
@danlipsa I don't know.

[2016-07-29 16:35] danlipsa commented on #1844
@mcenerney1 Is there a script and dataset that we can use to reproduce this bug?

[2016-08-03 13:51] doutriaux1 opened #2071 "cdms cannot read in all requested data on some climo files"
[code]

file to reproduce this is attached:
[pr_GPCP_000001-000012_ac.nc.zip](https://github.com/UV-CDAT/uvcdat/files/399576/pr_GPCP_000001-000012_ac.nc.zip)

[2016-08-03 16:17] #2052 closed

[2016-08-03 16:17] chaosphere2112 commented on #2052
This was already merged in #2053

[2016-08-03 18:20] aashish24 opened #2072 "export patterns / hatches as vectors for vector formats"

[2016-08-03 18:20] aashish24 commented on #2072
@doutriaux1 @danlipsa

[2016-08-03 18:59] dnadeau4 commented on #2071
The time array is until noon (12pm), so you have to set your time to "0-12-16 12"
[code]

[2016-08-04 18:17] doutriaux1 opened #2073 "We need jupyter tutorial for vcs syntax for writing formulas"
in 1.5.1 the follwoing used to work:

[code]

![mc2](https://cloud.githubusercontent.com/assets/2781425/17413165/ef62db38-5a34-11e6-9790-686c4f23550f.png)

[2016-08-05 18:48] dlonie commented on #1265
@danlipsa Following our discussion today, here are some links to the bits I was referring to:

#1450 contains some specific discussion of the issues with trying to execute python-implemented VTK filters in vcs.
#1343 discusses the reference leaks that caused the segfaults in #1450.
Commit 457c5fd3db4bccab21cd063b86a90befe751ba8b shows the implementation of the `doWrap` filter. This was not used si

[2016-08-09 13:45] mathstuf opened #2079 "testing llnlbot"
Please ignore this; using it to debug llnlbot a bit.

[2016-08-09 13:46] mathstuf commented on #2079
new comment

[2016-08-09 14:00] #2079 closed

[2016-08-09 16:18] doutriaux1 opened #2081 "cdsm2 createGenericGrid need to be generic"
[code]

[2016-08-09 16:20] doutriaux1 commented on #2081
Out[10]: '/home/doutriaux1/miniconda2/envs/Test/share/uvcdat/sample_data/sampleCurveGrid4.nc'

[2016-08-09 23:49] doutriaux1 opened #2082 "text alignment seems a bit off"
One would expect the `cross` to be drawn exactly in the center of the middle `H` it is instead a bit off to the left and down

[code]

![blah](https://cloud.githubusercontent.com/assets/2781425/17537385/004adef8-5e51-11e6-8d10-a731f6024955.png)

[2016-08-09 23:49] doutriaux1 commented on #2082
@dlonie what do you think. The screen, png and svg reflect tihs behaviour.

[2016-08-10 13:12] dlonie commented on #2082
VTK always includes the descenders (e.g. the 'tail' on letters like 'j', 'q', 'p', etc) when computing vertical alignment. This prevents the text from jumping around when the string changes during animations, etc. Fixing this would require adding some new options to vtkTextProperty that instruct the text renderer to compute a tight bounding box.

Not sure what's up with the horizontal alignment.

[2016-08-10 14:37] doutriaux1 commented on #2082
thanks @dlonie but that is annoying for our end users, they want the text "halved" on the tick marks the appear a bit off as a result. Couldn't VTK only use the descender space only there is need to?
In the mean time is there a way to know the descender space, so I can compensate for this in VCS.

[2016-08-10 14:39] dlonie commented on #2082
Not currently.

[2016-08-10 15:29] doutriaux1 commented on #2082
@dlonie @aashish24 @danlipsa we really need to have these additional VTKProperties:
TOP/CAP/HALF/BASELINE/BOTTOM

Form what @dlonie described it looks like right now "HALF" might be actually baseline?

Any idea of how long it would take to implement these in VTK?

[2016-08-10 21:27] doutriaux1 opened #2083 "ctest output wrong links to cdash"
when travis runs the log to cdash is useless
travis url is:

https://travis-ci.org/UV-CDAT/uvcdat/jobs/150981350

[code]

Clicking on the link to cdash does not take me to the actual page where I can see the failed tests.

[2016-08-11 03:49] sankhesh opened #2084 "Conda environment issues on buildbot machines"
Currently, karma is the only buildbot slave in action.

It builds two sets: one for default build and the other for lean build as reported on [CDash](https://open.cdash.org/index.php?compare1=63&filtercount=2&field1=buildname%2Fstring&project=UV-CDAT&field2=buildstarttime%2Fdate&showfilters=0&limit=100&compare2=83&value1=89c3c52a&showfeed=0&value2=20160810T162834)

The tests on **default** build r

[2016-08-11 03:50] sankhesh commented on #2084
@doutriaux1 Any ideas why the conda environment issues?

@danlipsa @aashish24 FYI

[2016-08-15 15:32] doutriaux1 opened #2088 "mean broken on MV array"
[code]

[2016-08-15 17:32] dnadeau4 commented on #2088
@doutriaux1 What is your  ```cdms2.MV2.numpy.version.version```.  I have 1.11.1 and this test works fine.

[2016-08-15 17:53] doutriaux1 commented on #2088
@dnadeau4 that was my suspicion, I'm using 1.9.2, let's try to merge numpy 1.11 in as fast as possible.

[2016-08-15 17:53] doutriaux1 commented on #2088
oh and let's add a test for this as well.

[2016-08-15 19:37] doutriaux1 opened #2089 "new colormaps not picked up...."
@aashish24 brand new install, no ${HOME}/.uvcdat directory

colormaps not picked up:

[code]

[2016-08-15 20:20] doutriaux1 commented on #2089
my bad i forgot to use `--old-and-unmanageable` when nstalling... my bad...

[2016-08-15 20:20] #2089 closed

[2016-08-22 14:23] aurorev opened #2095 "problem with meshfill hatch/pattern for curvegrids"
For curvilinear grids, the meshfill graphic methos works well with fillareastyle='solid' but fails with fileareastyle='hatch' or 'pattern'. I use version 2.6.

[2016-08-22 14:32] danlipsa commented on #2095
Can we get the data and a sample script that produces the problem? Thanks!

[2016-08-22 17:37] embrown opened #2097 "VCS: vcs.utils.getcolors provides a default value for colors parameter"
![huge_range](https://cloud.githubusercontent.com/assets/5880275/17864738/25c886f0-6854-11e6-9e20-e1ecb2dfe0eb.png)
This makes the documentation horrible to look at, and is probably bad practice anyway.
I'm going to set colors=None and put an if statement in the function that assigns it to this range if colors=None, to clean it up.

[2016-08-22 18:30] danlipsa opened #2099 "proj4 generates huge cell for test_vcs_basic_isofill_masked_aeqd_proj"
Saving geo.vtp from vcs2vtk.genGrid results in a cell covering half of the dataset.

![huge](https://cloud.githubusercontent.com/assets/6180727/17866532/dcdad3be-6874-11e6-89ca-bf28c81d6a9f.png)

[2016-08-22 19:16] doutriaux1 commented on #2097
what about colors to `range(16,240)`

[2016-08-22 19:34] aashish24 opened #2100 "update vcs to use viridis colormap by default"

[2016-08-22 19:34] aashish24 commented on #2100
@danlipsa @doutriaux1 it is going to change all of the baselines. Should I go ahead and do it?

THanks,

[2016-08-22 20:06] doutriaux1 commented on #2100
@aashish24 no I have a branch doing this already.

[2016-08-22 20:07] doutriaux1 commented on #2100
and I had to fix the initial.attributes further more (lots of "color 1" instead of "black").

[2016-08-23 07:13] aurorev commented on #2095
Dear Dan,

Here is a sample script and a file to be read.
Best,

Aurore

----- Météo-France -----
VOLDOIRE-PETITHOMME AURORE
CNRM/GMGEC/ASTER
aurore.voldoire@meteo.fr
Fixe : +33 561079698
----- Mail original -----

| De: "Dan Lipsa" <notifications@github.com>
| À: "UV-CDAT/uvcdat" <uvcdat@noreply.github.com>
| Cc: "aurorev" <aurore.voldoire@meteo.fr>, "Author"
| <author@noreply.github.com>
| Envoy

[2016-08-23 12:01] danlipsa commented on #2095
@aurorev I think you need to use github to attach the script and the data file. Attaching it to the email did not seem to work. Thanks!

[2016-08-23 14:40] aurorev commented on #2095
File to be read :
[test_curve.nc.gz](https://github.com/UV-CDAT/uvcdat/files/432693/test_curve.nc.gz)
Test Code :

import cdms2 as cdms
import vcs

dom=(-90,90,-180,180)

f = cdms.open('test_curve.nc')
data = f('tos')
f.close()

x = vcs.init()

mms = x.createmeshfill('test_hatch')
mms.fillareastyle = 'hatch'
mms.fillareaindices = [5,8,10,12]
mms.fillareacolors = [241,241,241,241]
mms.datawc(*dom)

[2016-08-23 16:14] durack1 opened #2103 "pyqt 5 required for spyder 3.0.0b5"
It seems that `PyQt4` is a limitation on updating to the latest `Spyder` release:
[code]

Is there a way of installing `UV-CDAT2.6` with `PyQt5`?

[2016-08-23 16:15] durack1 commented on #2103
@doutriaux1 do you have any magic command line solutions for me here? Can you install `UV-CDAT2.6` with `PyQt5`?

[2016-08-23 16:19] doutriaux1 commented on #2103
@chaosphere2112 would know better but considering 4.11.4 breaks it I seriously doubt it.

[2016-08-23 16:20] doutriaux1 commented on #2103
@durack1 simply remove install vcs/genutil/cdutil. It should get you everything except vistrails and then you do not need any specific version of PyQt for uvcdat.

[2016-08-23 16:29] aashish24 commented on #2100
Okay sounds good.

was it because of us making it oneline?

[2016-08-23 16:30] aashish24 commented on #2100
@doutriaux1 I have assigned this to you now.

[2016-08-23 16:32] doutriaux1 commented on #2100
thanks PR coming in the next hour or so

[2016-08-23 16:33] doutriaux1 commented on #2103
@durack1 try:
[code]

[2016-08-23 16:33] doutriaux1 commented on #2103
or for nightlies:
[code]

[2016-08-23 16:41] durack1 commented on #2103
@doutriaux1 perfect, I get:
[code]

[2016-08-23 17:51] painter1 opened #2104 "setcolormap() needs an option to skip the update"
The method Canvas.setcolormap() (Canvas.py) does two things.  It sets the color map, and it updates whatever has already been drawn, to use the new color map.  Sometimes you don't want to do the update (it can get the title wrong, but that's another issue).  It's easy to set the color map directly, but it would be better style to do it through this method.  So I recommend that setcolormap() have a

[2016-08-23 22:19] #2097 closed

[2016-08-24 17:08] danlipsa opened #2106 "Zooming using subset or datawc does not work for lambert projection"
See
https://github.com/UV-CDAT/uvcdat-testdata/blob/d57776bca7ffccf9d5844c618a9866654d4883cf/baselines/vcs/test_vcs_boxfill_lambert_subset.png
and
https://github.com/UV-CDAT/uvcdat-testdata/blob/d57776bca7ffccf9d5844c618a9866654d4883cf/baselines/vcs/test_vcs_boxfill_lambert_datawc.png

[2016-08-24 20:23] durack1 opened #2107 "cdms2 broken in UV-CDAT 2.6.1"
I've just installed a subset of the UV-CDAT tools from conda, following:
[code]
When I go to load `cdms2` I get the following error:
[code]

[2016-08-24 21:22] dnadeau4 commented on #2107
@durack1 I think you might have the wrong cdms2 package.  Sometimes anaconda use the one that is already downloaded and sits in your cache.   Make sure you start with a clean slate using `conda clean --all` and answer yes to all questions.

I tried your command and it worked on my ubuntu machine.   What linux operating system(OS)  are your working on?  `cat /etc/*release*`

[2016-08-24 21:24] durack1 commented on #2107
@dnadeau4
[code]

[2016-08-25 14:01] embrown opened #2109 "vcs.Canvas.isinfile return value consistency"
![isinfile implementation](https://cloud.githubusercontent.com/assets/5880275/17971790/249b5af2-6a91-11e6-9e83-6b96b4bcc141.png)

@doutriaux1 @chaosphere2112 Should we make this thing return 0 when it doesn't find what it's looking for?
I would think that we should do that to be consistent.

[2016-08-25 14:04] doutriaux1 commented on #2107
@durack1 did you try @dnadeau4 suggestion?

[2016-08-25 14:07] doutriaux1 commented on #2109
@embrown does it even work?

[2016-08-25 14:07] doutriaux1 commented on #2109
otherwise yes we should make it return `True` and `False`

[2016-08-25 14:08] doutriaux1 commented on #2109
@embrown from reading the code it will only work on the old `.scr` files, let me fix this one. Thanks for spotting it.

[2016-08-25 14:24] durack1 commented on #2107
@doutriaux1 I'll give it a go today.. Hit too many bumps at once yesterday so dropped this update from the to do list.. I'll report my experience once it's done

[2016-08-25 14:57] #1445 closed

[2016-08-25 14:57] aashish24 commented on #2083
@doutriaux1 is this still the case?

[2016-08-25 14:58] aashish24 commented on #2082
@sankhesh with help from @dlonie will look into it.

[2016-08-25 15:01] embrown commented on #2109
@doutriaux1 No problem. Glad to help!

[2016-08-25 15:07] dlonie commented on #2082
@doutriaux1 We don't want to always align to the drawn pixels as this causes issues when text changes over time (the strings jump around as descenders come and go). I think it'd be great to have as an option, though.

Talked with @sankhesh, here's what I suggest:

- Add a `UseTightBoundingBox` property to `vtkTextProperty` that means something like "align to drawn pixels, not font metrics".
- Upda

[2016-08-25 15:26] stott opened #2110 "VCS. Time Step Window no longer appears"
A window with the 'time step' no longer appears in Boxfill, Isofill, isoline or meshfill plots. This makes it very difficult work interactively with these plots. Can you please add these windows back?

[2016-08-25 15:50] doutriaux1 commented on #2083
yes. Also ctest -D Experimental does not always post into the Experimental section...

[2016-08-25 15:57] doutriaux1 commented on #2082
@aashish24 I think all we need is the base/cap alignement, that should cover everything will not be jumping around.

Not sure if it helps or makes things more confused but here are a few links:
https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b#.8pga6uz1x
http://christopheraue.net/2014/03/05/vertical-align/

[2016-08-25 16:34] durack1 commented on #2107
@doutriaux1 @dnadeau4 yep tried `conda clean --all` (twice actually) and I still get the same error, so the steps are:
[code]
and then:
[code]

[2016-08-25 16:41] doutriaux1 commented on #2107
@durack1 can you post the result of
[code]
Also are you in bash?

[2016-08-25 16:43] durack1 commented on #2107
@doutriaux1 here you go, and nope I'm running `conda` in `tcsh`:
[code]

[2016-08-25 20:43] sankhesh commented on #2084
Fixed in buildbot

[2016-08-25 20:43] #2084 closed

[2016-08-25 20:46] sankhesh commented on #1835
The buildbot + GitRobot system has been deployed with @cdatrobot doing content checks and scheduling tests. Documentation can be found here:

- [Buildbot](https://github.com/UV-CDAT/uvcdat/wiki/Buildbot)
- [Add a build slave](https://github.com/UV-CDAT/uvcdat/wiki/add-a-buildslave)

[2016-08-25 20:46] #1835 closed

[2016-08-25 23:17] dnadeau4 commented on #1974
[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/software/anaconda2/envs/numpy1_11/lib/python2.7/site-packages/cdms2/avariable.py", line 1413, in __getitem__
    speclist = self._process_specs(key, {})
  File "/software/anaconda2/envs/numpy1_11/lib/python2.7/site-packages/cdms2/avariable.py", line 1181, in _process_specs
    raise CDMSError, 'Sorry, you can

[2016-08-26 04:34] angshuiisc opened #2112 "change y axis to log y axis"
Hello,

How do I convert linear y axis to logY axis in UVCDAT 2.4.1?
yaxisconvert ='log10' is not working.

Thanks

[2016-08-26 14:28] sankhesh commented on #2072
@aashish24 @doutriaux1

Could you please validate if these images are good:

[test_fillarea.pdf](https://github.com/UV-CDAT/uvcdat/files/439464/test_fillarea.pdf)

[test_fillarea_list.pdf](https://github.com/UV-CDAT/uvcdat/files/439466/test_fillarea_list.pdf)

[2016-08-26 16:22] aashish24 commented on #2083
weird.. looking into it now.

[2016-08-26 16:22] aashish24 commented on #2083
This is the case for your machine or somewhere else?

[2016-08-26 16:24] aashish24 commented on #2083
http://open.cdash.org/submit.php?project=UV-CDAT

Are you referring to this link @doutriaux1 ?
http://open.cdash.org/submit.php?project=UV-CDAT

Thanks,

[2016-08-26 17:05] danlipsa commented on #2082
@doutriaux1 We already have the cap alignment: SetVerticalJustificationToTop(). I think we could add another justification to be baseline - this would work only for one line text.
What is the use case for this problem? I want to make sure we are solving the right problem: making this particular example look right might not help the actual use case.

[2016-08-26 17:07] danlipsa commented on #2082
@doutriaux1 Adding a new justification baseline would not help this example, but might solve the use case.

[2016-08-26 20:06] aashish24 commented on #2072
@sankhesh this is close but I see one problem. You see that image is "bitmap" so you see these jagged edges. what we need is a smoothing filter. Talk to Will or David Gobi about it.

[2016-08-26 20:18] sankhesh commented on #2072
@aashish24 Figured out why there were those jagged edges. That area was still being exported raster graphics. After my fix, the file size is tremendously huge. The test_fillarea.pdf file is ~ 287MB and test_fillare_list.pdf is ~ 498MB. Any ideas to reduce the size?

[2016-08-26 20:33] aashish24 commented on #2072
Can you drop one of the files on google drive?

I think the fix would be to exact the edges and export them vs exporting the triangles. Although it may not help all the patterns since each triagle may still be a separate. I guess one other thing would be to get rid of complete transparent triangles (this should be doable). Do you want to try that?

[2016-08-26 21:02] sankhesh commented on #2072
https://drive.google.com/file/d/0Bxgq5zla1NcFc2Q3T1FPb2JJamM/view?usp=sharing

[2016-08-29 14:06] doutriaux1 commented on #2112
@danlipsa I have a VERY old branch for this (for 1D) but that is something that would be better dealt with when we switch to context 2D no?

[2016-08-29 14:14] doutriaux1 commented on #2082
@danlipsa the issue is that that when the user selects `centered` for the vertical alignement, it was expecting the tick marks to be at the `center` of the text. There are actually 5 possible vertical alignements, I'm not sure which VTK implements: `bottom`, `baseline`, `center`, `cap` and `top`. I think we need them all.

[2016-08-29 17:12] aashish24 commented on #1481
@doutriaux1 should we close this bug?

[2016-08-29 17:15] aashish24 commented on #2110
@stott sure we can look into it. This is not a GUI issue?

[2016-08-29 17:18] aashish24 commented on #2106
@danlipsa is this not resolved in this PR: https://github.com/UV-CDAT/uvcdat/pull/2102

[2016-08-29 17:18] aashish24 commented on #2100
Ref: https://github.com/UV-CDAT/uvcdat/pull/2105

[2016-08-29 17:20] aashish24 opened #2113 "2D animation does not in the GUI and on the command line"

[2016-08-29 17:22] aashish24 commented on #2113
contact @chaosphere2112 if needed

[2016-08-29 17:22] aashish24 commented on #2113
Ref: #1451

[2016-08-29 17:22] aashish24 commented on #2113
Would be good to close the #1451

[2016-08-29 17:23] aashish24 commented on #2110
@chaosphere2112 @sankhesh  assigned it to you

[2016-08-29 17:24] doutriaux1 commented on #1481
hum... They are probably still commented out though.

[2016-08-29 17:24] chaosphere2112 commented on #2110
@stott Just to make sure, this is the window you're referring to?

![screen shot 2016-08-29 at 10 18 12 am](https://cloud.githubusercontent.com/assets/718512/18060370/b871fae4-6dd2-11e6-9b1f-dddcf21a523b.png)

I've always found it a little touchy to get this open. If this is what you're talking about, I'll work on making it a bit more user-friendly to get it to stay open when you click on the arro

[2016-08-29 17:28] aashish24 commented on #2073
@danlipsa

[2016-08-29 17:31] aashish24 commented on #2073
@doutriaux1 will confirm whether this bug exist on not.

I will send a sample VTK code to confirm VTk supports it.

[2016-08-30 13:35] danlipsa commented on #2112
@doutriaux1 @aashish24 I think this is indeed true.

[2016-08-30 13:43] danlipsa commented on #2082
@doutriaux1 In VTK we have bottom, center and top. What is the difference between cap and top?
Indeed, center would not be centered on every letter - but rather centered on every possible text that can be in that string - as @dlonie said, this is for avoiding text movement for animation when the text changes. Maybe implementing baseline would be the easiest and will solve the problem. Doing the co

[2016-08-30 13:45] danlipsa commented on #2106
@aashish24 No, this is a new test which shows up blank, not sure why. Strangely this happens for subsetting not only for zooming using datawc.