[2015-05-26 17:19] #1084 closed

[2015-05-26 17:39] durack1 opened #1345 "2.4.0 tag commit"
@doutriaux1 @aashish24 might I suggest the following step-by-step is undertaken for `2.4.0` tagging? This should clear up some of the issues that have popped up with `2.2.0`:
- [x] Validate version info is correctly written (UV-CDAT version should be `2.4.0`)
- [x] Prepare and publish release notes (e.g. [`v2.2.0`](https://github.com/UV-CDAT/uvcdat/wiki/UV-CDAT-2.2-Change-Log))
- [x] Update depend

[2015-05-26 17:46] doutriaux1 commented on #1344
good idea! @dlonie can you also always add a milestone when you create an issue. It makes it easier to track via filters. Especially when we get close from a release. Thanks.

[2015-05-26 18:21] remram44 opened #1346 "CDMS3DPlot -> CDMSCell connections are invalid"
`CDMS3DPlot`'s 'self' output port has type `CDMS3DPlot`, but `CDMSCell`'s 'plot' input port has type `CDMSPlot`.

The connection is built programmatically by the pipeline helper, but it is invalid. A common base `CDMSBasePlot` should have been introduced (or `CDMSPlot` renamed to `CDMS2DPlot`?).

I don't know if we can change this without breaking previously saved workflows, UV-CDAT doesn't use th

[2015-05-26 18:23] doutriaux1 commented on #1346
@remram44 at this point I don't think there are many saved workflows. I think it's ok to break it early, before many people have saved workflows, and make it right.

[2015-05-26 18:24] doutriaux1 commented on #1346
@remram44 for extreme/desperate cases do you think it would be possible for users to manually edit their workflow to make it work again?

[2015-05-26 20:30] chaosphere2112 opened #1347 "`size` keyword argument has no effect in `vcs.init`"
I'm poking through cleaning up the docstrings in VCS, and I found the `size` keyword argument on `vcs.init`. It passes it through to Canvas.Canvas; shouldn't we use that instead of hardcoding in default sizes that look nice on @doutriaux1's monitor (:wink:)?

[2015-05-26 20:32] chaosphere2112 commented on #1347
Ah, digging further into the code I see that it should take a string that specifies an existing size. Hm, that's nonintuitive.

[2015-05-27 03:59] doutriaux1 commented on #1347
@chaosphere2112 I have a bug report on VTK repo ( @aashish24 @dlonie if you could push to have it fixed) that prevents me from getting the user's desktop size. That would be the right way to fix this "nice for @doutriaux1 screen issue).

[2015-05-27 04:07] doutriaux1 commented on #1347
@aashish24 @dlonie the issue is/was: http://www.vtk.org/Bug/view.php?id=14882

It is apparently fixed and in master. Is it in "our" uvcdat-master ? Last I tried it didn't work.

[2015-05-27 12:18] dlonie commented on #1344
Sure, no problem.

[2015-05-27 12:22] dlonie commented on #1347
I'll run the tests against a more up-to-date VTK and bump if all goes well.

[2015-05-27 14:58] dlonie commented on #1347
There have been a few API changes in VTK master that are affecting VCS. I'll get these ironed out and push a branch when it's ready.

[2015-05-27 16:38] doutriaux1 commented on #1347
thanks!

[2015-05-27 17:00] dlonie commented on #1347
UV-CDAT/uvcdat#1348 should do it. I need someone to manually test it (buildbot won't handle the VTK update) and regenerate the dv3d vector baseline, since that's a buggy test for me on arch linux.

[2015-05-27 17:21] remram44 commented on #1275
The fix (VisTrails/VisTrails#1073) has been merged into VisTrails, but it doesn't seem to do for UV-CDAT because of QCDATWidget's toolbar relying on inputPorts, which only gets set once the widget has been updated... QCDATWidget looks insane, I don't know if we want to fix that.

[2015-05-27 17:48] remram44 opened #1349 "AMWG plot set 6 fails to display vectors"
@mcenerney1:

[2015-05-27 22:55] remram44 opened #1350 "matplotlib plot doesn't work"
I know it is kind of awkward, with the pylab package still kind-of-there in VisTrails, but matplotlib not built by default. However I installed it and found out I get an exception when trying to use the only plot available, `Histogram`. Should this just be removed?
[code]
As far as I understand it, this meaks that plot_obj.workflow was None in `build_plot_pipeline_action()̀`.

[2015-05-28 08:13] aashish24 commented on #1343
@ThomasMaxwell I don't know how do we do that but yes, I agree that having that information might be helpful. However, like @dlonie said, we should fix both of these leaks with priority for per-plot basis.

[2015-05-28 08:20] aashish24 commented on #1345
@durack1 we need to update it with few more things but this is a good start. I will add my suggestion to it later today.

[2015-05-28 14:15] jbeezley commented on #1343
FYIW, running this script
[code]
Results in `10632` leaked objects.

The aggregated types are as follows:
[code]

[2015-05-28 15:08] durack1 commented on #1345
@aashish24 no problem, it would be great to clarify things properly so that there will be no need to move tags multiple times which just gets everyone confused.. If we set out a plan with a very defined step-by-step process, this can just be followed for each subsequent upcoming release..

[2015-05-28 15:59] remram44 opened #1352 "cdatgui repository"
There is a [UV-CDAT/cdatgui](https://github.com/UV-CDAT/cdatgui), apparently an outdated copy of [UV-CDAT/VisTrails](https://github.com/UV-CDAT/VisTrails) (with exactly two more commits: UV-CDAT/cdatgui#1). Delete it?

[2015-05-28 16:55] doutriaux1 commented on #1352
yes. Thanks for reporting. Deleting right now.

[2015-05-28 16:55] #1352 closed

[2015-05-28 17:50] durack1 opened #1353 "Merge contents of images and resources subdirs"
@doutriaux1 @aashish24 would it be possible to merge the contents of the [images](https://github.com/UV-CDAT/uvcdat/tree/master/images) and [resources](https://github.com/UV-CDAT/uvcdat/tree/master/resources) subdirs - they seem to both contain *.icns, *.jpg or other image (or font) files which could be merged to simplify the directory structure..

Additionally, there are a bunch of font files etc

[2015-05-28 20:06] durack1 opened #1354 "Update license/legal info"
The current [legal/license info](https://github.com/UV-CDAT/uvcdat/blob/master/docs/Legal.txt) was generated when LLNL was managed by UC.

This likely needs updating, and streamlining to a single point of reference for all license related information. We currently have [Contributor license](http://uvcdat.llnl.gov/governance.html) documents on the web (bottom of the page), but there doesn't appear

[2015-05-28 20:32] doutriaux1 opened #1355 "older git checkout error"
[code]
git used (RedHat 6)
[code]

[2015-05-28 22:18] doutriaux1 commented on #1350
I'd say let's remove this.

[2015-05-28 22:26] durack1 commented on #1353
@doutriaux1 this will require your input - it seems things need a really good clean out as these all end up in the installed `bin` dir.. Not the best..

[2015-05-28 22:28] durack1 commented on #1353
As noted in https://github.com/PCMDI/pcmdi_metrics/issues/161 here is a more specific listing of the installed files/dirs to cleanup, which relate to the source above

- Cleanup deprecated subdirs/files during install: **bin/{.gif, .ttf, .png, .scr, .xmb}**, **bin/images**, **bin/tutorials**, **include**, **man**, **share/man**

[2015-05-28 22:31] durack1 commented on #788
This issue is related to #1353 - @doutriaux1 will need to complete the merging of `images` and `resources` subdirs and their install locations..

[2015-05-28 23:10] durack1 commented on #1353
@doutriaux1 I have a feeling that the creation of the `resources` subdir by @aashish24 was in preparation for packaging as a `*.dmg` - as per the [Apple Docs for an OS X Application Bundle](https://developer.apple.com/library/ios/documentation/CoreFoundation/Conceptual/CFBundles/BundleTypes/BundleTypes.html#//apple_ref/doc/uid/10000123i-CH101-SW19)

It may pay to consider their standard directory

[2015-05-29 13:06] aashish24 commented on #1355
@doutriaux1 what you are trying to do? You can use tag as branch name in git. It works on certain versions on on others it doesn.t

[2015-05-29 13:48] doutriaux1 commented on #1355
@aashish24 I'm not trying to do anything. Checked out "release" ran cmake, got this.

[2015-05-29 13:50] doutriaux1 commented on #1355
@aashish24 I'm not sure what's up with this system. I built w/o any problem on other RH6. I think we fixed this issue for other packages (uvcmetrics ?) before, we probably simply need to tweak this one to make sure it works on all systems as well.

[2015-05-29 14:21] aashish24 commented on #1355
I know the problem. We need to push uvcdat-2.2.0 as branch as well.

[2015-05-29 16:41] doutriaux1 commented on #1355
yes it would be nice, that's why I opened the issue so we don't forget about it

[2015-06-01 18:24] aashish24 commented on #1343
Just trying to understand. When can we have dict or similar python data types getting leaked? (what scenarios etc)

[2015-06-01 18:27] dlonie commented on #1343
Circular dependencies are one case, e.g.

[code]

will leak. This is sort of rare, though, and indicative of a bad design. More likely, some other object is getting leaked that references a member dict/list.

[2015-06-01 21:08] #1127 closed

[2015-06-01 21:08] #1126 closed

[2015-06-01 23:31] durack1 commented on #1340
@doutriaux1 it appears this issue is now resolved with the new `2.2.0` tag point 45488cb2a93fc3c0b1052e8ea26e404766038dc9 I'm closing this issue

[2015-06-01 23:31] #1340 closed

[2015-06-01 23:35] durack1 commented on #1128
@doutriaux1 this is now a resolved by commits in #1324 (https://github.com/UV-CDAT/uvcdat/commit/20b5ac3873151391da438cf69f5e8e088de83058) closing..

[2015-06-01 23:35] #1128 closed

[2015-06-01 23:36] durack1 commented on #1033
@doutriaux1 @aashish24 has this issue been rendered obsolete with the new build_bot testing? If so please close.

[2015-06-02 00:59] doutriaux1 commented on #1128
@durack1 yes, just awaiting from netcdf answers so i can issue the PR.

[2015-06-02 00:59] aashish24 commented on #1033
Yes, it is obsolete.

[2015-06-02 00:59] #1033 closed

[2015-06-02 16:40] dlonie commented on #1344
@aashish24 Here's the pep8 test (#1351) -- it was merged already :+1:

[2015-06-02 16:40] #1344 closed

[2015-06-02 20:48] remram44 commented on #1349
Is this the same as #1338?

[2015-06-02 20:51] mcenerney1 commented on #1349
It does bear a resemblance but I'm just not sure.

[2015-06-02 21:15] remram44 commented on #1349
This is what I get trying plot 6 with default values, I'm gonna need more info to reproduce:
[code]
Also are we sure this is in VisTrails at all? Looks unlikely...

[2015-06-02 22:24] doutriaux1 commented on #1343
just for convenience updated script leak_detector.py
[code]

usage:
[code]

[2015-06-02 22:32] doutriaux1 commented on #1343
commenting out all the
[code]
I get this while running the "import vcs" test
[code]
@ThomasMaxwell I think it is yours to clean up sorry...

[2015-06-02 23:01] doutriaux1 commented on #1343
running:
[code]
shows a lot of AutoAPI leaks. I think it was used way back then to generate vistrails xml strings. But I doubt it is still true. Will see if I can take off all that AutoAPI that anyway only makes the whole cdms2/vcs heavier than it should.

[2015-06-02 23:02] doutriaux1 opened #1358 "remove AutoAPI"
not needed anymore

[2015-06-02 23:03] doutriaux1 commented on #1343
https://github.com/UV-CDAT/uvcdat/issues/1358

[2015-06-03 13:51] dlonie commented on #1343
@doutriaux1 Any ideas about the 14 remaining leaks without the dv3d imports?

Also, take a look at the animation tests. I know of at least one leak from there, resulting from this line:

https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/VTKAnimate.py#L45

`atexit.register(self.close)`

What this does is tell the interpreter to call `self.close()` when the interpreter exits, for every

[2015-06-03 13:55] aashish24 commented on #1343
@doutriaux1 @dlonie this is great information and very helpful.. thanks for looking into it. Let's try to get it cleaned up :smile:

[2015-06-03 14:36] mcenerney1 commented on #1349
I don't get this error.  You need to select cam35_data for Dataset 1 and obs_data for Observation 1. Also for Obs set 1 select NCEP in the menu.  you should get 3 Isofill plots with no vectors.

[2015-06-03 16:29] doutriaux1 commented on #1343
@dlonie my guess is that they come from libcf (inside cdms2) that's the only thing that I know of that is using ctype (bad idea i think, since they use ctype to access netcdf and libcf whose sources we have, so we could have done a better job at wrapping it directly)

[2015-06-03 16:30] doutriaux1 commented on #1343
@dlonie the register at exit was the only way I could find at the time to force the function to be ran when the object is deleted. This function needs to be ran in order to clean the temporary pngs from ${HOME}/.uvcdat

[2015-06-03 16:32] dlonie commented on #1343
It'd be good to check if the leaks are coming from their library, or if we're holding on to references to them that vcs should be cleaning up.

The easiest way to check this would be to put some code that uses their library (and not vcs) in the leak-test program and see if there's any garbage left over. If not, then there's an issue with vcs leaking references.

[2015-06-03 16:35] doutriaux1 commented on #1343
@dlonie yes will do that. VCS has no ctype so it has to come from somewhere else, but the AutoAPI brings some leaks so I will clean that first, then try to see why cdms2 leaks (I don't think we are using any libcf file anyway)

[2015-06-03 16:39] dlonie commented on #1343
Trouble is, it doesn't really clean up the pngs when the object is deleted, it causes the object to never get deleted until the process exits.

What happens if a user creates many animations in a batch script? All of the temporary files from each animation would persist until the process exits, along with the memory being held by the animation classes that are bound to atexit.

This would usually

[2015-06-03 16:41] doutriaux1 commented on #1343
no I think if you call the "close" manually which you should, it will clear the objects.

[2015-06-03 16:42] dlonie commented on #1343
That works too, as long as users will do it ;) That's a fine solution, though, since if people start running into resource issues you can tell them to make sure they're calling close when they're finished :+1:

[2015-06-03 16:46] dlonie opened #1359 "Line width is inconsistent across platforms"
The VTK ui tests are producing different results on our mac and linux clients:

https://open.cdash.org/viewTest.php?onlyfailed&buildid=3842533

I'll dig into this a bit.

[2015-06-03 16:48] doutriaux1 commented on #1359
@chaosphere2112 looks like you need to turn off antialiasing in your tests.

[2015-06-03 16:48] doutriaux1 commented on #1359
@dlonie do you know how to do this? Mind adding it to @chaosphere2112 tests? He's on leave for another couple of weeks.

[2015-06-03 16:49] dlonie commented on #1359
I'll take a look. I thought antialiasing was off by default for vcs canvases?

[2015-06-03 16:52] ThomasMaxwell commented on #1343
FYI:  I have put together some slides<https://www.dropbox.com/s/lg3k1ap1605rpsl/CDAS-Overview-1.pptx?dl=0> describing the work I have been doing lately developing climate data analysis services in support of NASA CDS and ESFG CWT.     This work involves cdms/cdutil parallelization and the development of an analysis server implementation for the ESGF compute working team’s WPS API.

Aashish and I h

[2015-06-03 17:09] dlonie commented on #1343
Did you mean to send that to the UVCDAT mailing list? This is a github issue discussing memory leaks.

[2015-06-03 17:12] doutriaux1 commented on #1359
i thought so too, but from the cdast it's not

[2015-06-03 17:14] dlonie commented on #1359
Ahh, I see now, the vtk_ui_test framework creates it's own vtkRenderWindow and does it a little differently than the vcs. *phew* that'll be a quick fix at least!

[2015-06-03 17:23] #1359 closed

[2015-06-03 17:51] dlonie opened #1361 "Check for testdata branch with matching name in checkout_testdata.cmake"
This will allow buildbots to find new baselines.

[2015-06-03 19:51] dlonie commented on #950
This was fixed by 66bab1bcc7fe6ae5b8fbb69470579768adc4e435

[2015-06-03 19:51] #950 closed

[2015-06-03 20:05] remram44 commented on #1349
Yeah I have no clue what this is or where to get the data. Cannot reproduce.

![amwg](https://cloud.githubusercontent.com/assets/426784/7970184/48b5edb4-0a0a-11e5-9964-38f30f9ccf4b.png)

[2015-06-03 20:30] doutriaux1 commented on #1349
@remram44 when installing UVCDAT we create a directory in ${HOME}/uvcmetrics_test_data
Please look in there. @mcenerney1 should the data be in the above mentioned directory?

[2015-06-03 20:33] mcenerney1 commented on #1349
Indeed it is. This is downloaded automatically. correct?

[2015-06-03 20:36] remram44 opened #1362 "Sample data is all over the place"
On Linux, sample_data is in `${CMAKE_INSTALL_PREFIX}/sample_data`; this is fine.

On Mac OS, sample_data ends up in `${CMAKE_INSTALL_PREFIX}/Library/Frameworks/Python.framework/Versions/Current/sample_data`.

Anywhere, the data for uvcmetrics ends up in `${HOME}/uvcmetrics_test_data`; this is inconvenient and wrong.

[2015-06-03 20:40] remram44 commented on #1349
Couldn't this be under the install prefix? Filed #1362

As far as I can tell the data is at http://uv-cdat.llnl.gov/cdat/sample_data/uvcmetrics/, can I get the right thing without rebuilding UV-CDAT?

[2015-06-03 20:43] mcenerney1 commented on #1349
The cam35_data is there.  Using the obs directory should work.

[2015-06-03 20:48] doutriaux1 commented on #1362
@remram44 you can control where it goes with via the cmake option: UVCMETRICS_TEST_DATA_DIRECTORY

These are not uvcdat sample_data so actually your proposed location is just as wrong.

We cannot put them under the build directory has they need to be persistent.

A good/better location for this data is probably under share/metrics or something similar.

[2015-06-03 20:49] remram44 commented on #1362
I did not propose a location, just pointing out that sample_data location on Mac is also wrong. That is a second problem.

[2015-06-03 20:50] remram44 commented on #1362
`${CMAKE_INSTALL_PREFIX}/share/{uvcdat,uvcmetrics}` isn't the right location?

[2015-06-03 21:20] doutriaux1 commented on #1362
@remram44 I don't really want to stick it inside the distribution because it's rather large. And you don't really want to download this data with every install. I got about 8 different version of uvcdat on my system at any given time. I could see it go under ${home}/.uvcdat though now that I think about it.

[2015-06-03 21:23] doutriaux1 commented on #1362
now the thing about having it outside the distribution is that ONLY the one that builds get the data. So that's bad too... I guess under share/uvcmetrics is a good idea. I can always build with the option to alter the default path to my ${HOME} and not rebuild everytime. Let's go for ${CMAKE_INSTALL_PREFIX}/share/metrics
(since metrics is the actual name of the python package)

[2015-06-03 21:58] doutriaux1 commented on #1349
look at the fetch_uvcmetrics_testdata.py.in configured file

[2015-06-03 23:30] doutriaux1 commented on #1343
interstingly enough removing the AutoAPI bit, triggered a lot of niceties (__slots__ being respected for gms and Canvas for example).
Also I now get this:
ERROR: UVCDAT setup was previously sourced at: /lgm/uvcdat/2015-06-01
ERROR: There is no need to run setup_runtime manually anymore.
ERROR: Open a new shell in order to use a different install location.
/lgm/uvcdat/2015-06-01/Library/Frameworks/

[2015-06-04 05:20] remram44 commented on #1349
Selecting obs_data_5.6 for observations 1 gives me this error message:
[code]

[2015-06-04 10:47] jbeezley commented on #1343
http://docs.python.org/2/reference/datamodel.html#slots

That is very obscure.

[2015-06-04 12:56] dlonie commented on #1280
Is there documentation for the GUI around? I found this, but it's very incomplete:

https://github.com/UV-CDAT/uvcdat/wiki/UVCDAT-GUI-Tutorials

I'm trying to figure out what that button does so I can write a vcs script to reproduce this without the GUI.

[2015-06-04 12:57] dlonie commented on #1280
@doutriaux1 @vvpalav

[2015-06-04 13:03] dlonie commented on #1280
I tried checking the "View Plot Source", but it doesn't change as a result of the button press.

[2015-06-04 13:41] dlonie commented on #1362
+1 for moving to `${CMAKE_INSTALL_PREFIX}/share/`. UVCDAT adds quite a bit of clutter at the root install prefix, which create quite a mess if someone was unfortunate to follow standard practices and set, say, `/usr` as their install prefix for a system installation.

Just to throw out another option, we could keep it out of the prefix entirely, and put the data in the uvcdat-testdata repo alongsi

[2015-06-04 13:48] dlonie opened #1364 "Building/testing modifies source tree"
The following files are created in the source tree when building/testing UVCDAT:

[code]

I'm not sure what the purpose of the first two are, but the third contains a path to the baseline directory for the `dv3d` tests. I had added a mechanism to properly pass that path into `dv3d` via an argument[1], but it appears @ThomasMaxwell reverted my change at some point. This should be cleaned up -- Sour

[2015-06-04 14:09] aashish24 commented on #1362
I would suggest that we follow this strategy:

1) All of the data should get downloaded to ${CMAKE_INSTALL_PREFIX}/share
2) Unless, user sets a specific path during the build time and then data goes there which will meet the requirements needed by developers to avoid multiple copy of data.

[2015-06-04 14:32] doutriaux1 commented on #1364
install.py is generated by CMake (look for instally.py.in) and can pretty much be moved anywhere, but it probably look for the directory Packages and ocntrib (and maybe install) straight under itself. This whole CDAT install.py file really needs to be taken out completely and we should create a simple [package/contrib]_pkg.cmake etc.. for each pure CDAT packages (or replace dat_pkg). Since everyth

[2015-06-04 14:35] doutriaux1 commented on #1343
I suspect these "weak references" are at least partly responsible for the 10k+ leaks.

[2015-06-04 14:41] dlonie commented on #1364
We'll look into it, but first I'd like know why @ThomasMaxwell changed it -- I don't want to revert someone else's work without understanding why they made their changes, in case doing so would introduce a problem.

[2015-06-04 14:42] dlonie commented on #1343
I'm not sure I follow, can you explain how weak references would result in a leak?

[2015-06-04 14:53] remram44 commented on #1362
@aashish24 this is implemented by #1363, in the sense that you can still set `UVCMETRICS_TEST_DATA_DIRECTORY`. I don't think there ever was a variable to move the sample_data (for the record, it's 174MB).

[2015-06-04 15:09] remram44 commented on #1280
I agree, we desperately need this. The redesign effort could really use at least a list of requirements.

This button says "move to next dimensions", [here's the code](https://github.com/UV-CDAT/VisTrails/blob/22db59f593a411992204fe97275c620b828ade71/vistrails/packages/uvcdat_cdms/init.py#L1711-L1731). As for the "view plot source", anything that doesn't change provenance info won't be reflected t

[2015-06-04 15:34] ThomasMaxwell commented on #1364
The revert must have been a merge artifact.  I’m not aware of any changes of this sort.

— Tom

From: David Lonie <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 4, 2015 at 10:41 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Maxwell, Thomas P.

[2015-06-04 15:36] dlonie commented on #1364
Ok, thanks -- I'll see about getting that fixed up.

[2015-06-04 16:48] dlonie commented on #1015
Just making a note of this here, since it's related to this issue and doesn't have its own:

https://github.com/UV-CDAT/uvcdat/blob/be51764d9d410e114ee6011b59338946fad925ee/testing/dv3d/TestManager.py#L142

Missing baselines should be a failure.

[2015-06-04 17:40] doutriaux1 commented on #1343
yep... me neither actually... just read the thread accross to fast...

[2015-06-04 17:46] remram44 opened #1366 "uvcdat-devel repository"
[UV-CDAT/uvcdat-devel](https://github.com/UV-CDAT/uvcdat-devel) looks unused. However it has branches that are not in UV-CDAT/uvcdat.

Hopefully these have been rebased and merged by now, but there's no easy way to check.

* [ ] vcsDV3D-features_for_scripted_execution
* [ ] 655-fix-curses
* [ ] issue_689_cdms_load_and_plot_axis_variable_baseline
* [ ] bad-master
* [ ] 685-cdash-upload
* [ ] vcsDV3

[2015-06-04 17:48] mcenerney1 commented on #1349
What version of metrics?
import metrics
metrics.git.commit

[2015-06-04 17:51] dlonie commented on #1364
@sankhesh will take a look at the `.baseline_path` issue.

[2015-06-04 17:52] dlonie commented on #1280
@sankhesh will take a look, but we'll likely need help from @doutriaux1 to track this down :+1:

[2015-06-04 17:55] doutriaux1 commented on #1366
Thanks @remram44 except for "maybe" the last one (mpi_flavors) I think the rest has either made it to master or has been abandoned. I will take a look at mpi one.

[2015-06-04 17:56] doutriaux1 commented on #1366
I'll look at "rhea_fixes" as well.

[2015-06-04 18:11] ThomasMaxwell commented on #1366
The dv3d branches should all be merged.

From: Remi Rampin <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 4, 2015 at 1:46 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject: [uvcdat] uvcdat-devel repository (#1366)

UV-CDAT/uvcdat-devel<https:/

[2015-06-04 18:13] remram44 opened #1367 "Abandoned VisTrails branches"
These are the branches in UV-CDAT/VisTrails that are not merged in master or referenced by a pull request (ordered by last update):

* [ ] fix-lingering-toolbar
* [ ] uvcdat-vcs3D-features_for_v2.3
* [ ] uvcdat-next
* [ ] uvcdat-643-fix-anim-change-frame-rebased
* [ ] uvcdat-dv3d-update_interaction-merged
* [ ] uvcdat-dv3d-fix_interactor_issues
* [ ] uvcdat-dv3d-add_gui_widget
* [ ] uvcdat-dv3d-pr

[2015-06-04 18:47] doutriaux1 opened #1368 "cdms2 can only open cdscanned http files from the directory the file is at"
[code]
start python

[code]

[code]

[2015-06-04 18:49] aashish24 commented on #1366
uvcdat-devel should be deleted. @doutriaux1 okay to delete?

[2015-06-04 19:16] aashish24 commented on #1362
Thanks!, I/or others will have a look at it.

- Aashish

[2015-06-04 20:27] doutriaux1 commented on #1366
yes but let me look at these two branches first ok?

[2015-06-04 20:42] sashakames commented on #1337
Just had a user get frustrated by .dodsrc not being accessed from $HOME.  Using the current directory is an ok workaround but not great.   It would be great to have $HOME supported.

[2015-06-04 20:48] aashish24 commented on #1366
I won't delete those two branches, i will just delete the uvcdat-devel if I can wait on that as well if thats what you want :smile:

[2015-06-04 22:27] remram44 commented on #1349
I have uvcdat 2.2.0-45-g9f25d77, with VisTrails uvcdat-2.2.0-10-g22db59f. `metrics.git.commit` is 'uvcdat-2.2.0'.

[2015-06-05 16:00] mcenerney1 commented on #1349
You have the right version.  As it turns out I've been working on that line of code in diagnosticsDockWidget.  There is a pull request request for the fix.  This bug surfaces when selecting an obs directory and then changing to a new one.  I haven't seen it ocurr in other situations.

[2015-06-08 20:52] durack1 opened #1371 "cdtime.toRelativeTime - not yet implemented"
The following error message appears when attempting to use `toRelativeTime` on a pointer variable loaded using `fileHandle['var']` rather than `fileHandle('var')`

[code]

[2015-06-08 21:12] doutriaux1 opened #1372 "buildbot should restart if master is changed"
If master gets changes (a PR is accepted). All other pending PR should be automatically restarted by buildbot to make sure they are still compatible.

[2015-06-08 21:12] doutriaux1 commented on #1372
@jbeezley feel free to re-assign if you're not in charge of the buildbot anymore.

[2015-06-08 21:36] aashish24 commented on #1372
@doutriaux1 let's rethink about this some more. The amount of time and the delay between may not make this as a ideal choice. May be you, me can discuss further on this and then suggest some changes to @jbeezley ?

[2015-06-08 22:33] cameronsmith1 opened #1373 "Error when setting color scale for a_boxfill?"
I am trying to plot using a_boxfill in the UVCDAT GUI.   When I try to change the value range for the colorscale (ie level_1 & level_2) I get the error below.  I have tried it several times, with at least two different variables.

Traceback (most recent call last):
  File "/lustre/atlas2/csc121/world-shared/uvcdat/2015-05-06/vistrails/vistrails/gui/uvcdat/plot.py", line 78, in configureDone
    ac

[2015-06-08 22:38] cameronsmith1 opened #1374 "Error when clicking on a_boxfill to get point values."
After plotting a variable in UVCDAT with a_boxfill, I then click within the plot to see the parameter value and coordinates.   When I do that I get the error below.   I am using UVCDAT v2.2.0 on Rhea.

Traceback (most recent call last):
  File "/lustre/atlas/world-shared/csc121/uvcdat/2015-05-06/lib/python2.7/site-packages/vcs/VTKPlots.py", line 127, in leftButtonPressEvent
    if numpy.allclose(g

[2015-06-09 04:20] doutriaux1 opened #1375 "GUI cannot switch dimensions"
When trying to switch/reorder the dimensions from the GUI, I get a popup window with the following message:
[code]
The log says:
[code]

The command line equivalent is:
[code]
and works.

@remram44 assigned to you but feel free to reassign appropriately

Picture on how to get the bug:
![switch_dims](https://cloud.githubusercontent.com/assets/2781425/8050584/1fac46e8-0e24-11e5-91bb-b8714edb16ae.png

[2015-06-09 04:25] doutriaux1 commented on #1374
@cameronsmith1 I will double check, can you please point me to your dataset in case I can't reproduce with sample data?

[2015-06-09 04:29] doutriaux1 commented on #1373
@cameronsmith1 I just tried this localy and it seems to work. I will stop by your office tomorrow to double check what you are exactly doing. From the error message it seems it does not understand the values you typed in.

[2015-06-09 13:08] jbeezley commented on #1372
We don't currently do any integration testing with master.  In fact, buildbot doesn't currently know anything about pull requests at all.  Any push to the repository generates a build of the hash that was pushed.  I agree this is something that integration testing should do once we implement it, but doing so will take a couple of days work.  As Aashish mentioned, there is also the issue of limited

[2015-06-09 13:25] remram44 commented on #1375
Duplicate of #1277? Also looks related to #1280

[2015-06-09 15:45] cchriste opened #1376 "cdms2 cannot open files if xml generated by cdscan contains different base urls"
Create cdat xml using `cdscan -x outfile.xml -f filelist.txt` where filelist.txt contains more than one base url, for example:
[code]
(note the different port in the two urls)

Results are the same as in #1368: trying to read the actual data fails unable to open the file:
[code]

[2015-06-09 16:14] doutriaux1 commented on #1372
ah... well that's not what @aashish24 desbribes at: https://github.com/UV-CDAT/uvcdat/blob/developers_documentation/CONTRIBUTE.md

[2015-06-09 16:15] doutriaux1 commented on #1372
@aashish24 let's talk about it today or tomorrow.

[2015-06-09 16:20] doutriaux1 commented on #1375
it is similar to #1277 but not the same. #1277 is getting the values while this re-orders the axes. But it's probably a similar fix.  #1280 is vcs issue not vistrials/gui related.

[2015-06-09 16:38] doutriaux1 commented on #1371
@durack1 what you want is:
[code]

[2015-06-09 16:40] doutriaux1 commented on #1371
yours does not work because it is a FILE axis. That would mean write to the file. And indeed it is not implemented.

[2015-06-09 17:01] durack1 commented on #1371
@doutriaux1 nope, this also doesn't seem to work..

[code]

[2015-06-09 19:20] doutriaux1 commented on #1371
It is still a file axis
'''
t=t.clone ()
'''
Will convert from file axis to aci

[2015-06-09 19:20] #1371 closed

[2015-06-09 19:21] doutriaux1 commented on #1371
It is still a file axis
'''
t=t.clone ()
'''
Will convert from file axis to axis

[2015-06-09 19:34] dlonie commented on #1343
FWIW, I tried removing all of the `dv3d` imports (see https://gist.github.com/dlonie/30b0848059bf8c444043 for changes) and it did reduce the number of leaks like it did for @doutriaux1 earlier, but I still get segfaults while cleaning up leaked VTK objects once I start using the VTKPythonAlgorithmBase subclassed filters, so there are still some issues in vcs that are preventing this.

[2015-06-09 21:42] aashish24 commented on #1343
Ah, Can you find out what causing the seg-fault (which leak)?

[2015-06-10 12:56] dlonie commented on #1343
Not easy to say for sure, but I suspect it has something to do with the dictionary returned from `VTKPlots.plot`.

This tool might help track down what's causing the leak: https://mg.pov.lt/objgraph/ it'll tell the types of objects in a reference chain. Doesn't pinpoint the leak, but someone more familiar with the vcs framework may gain some insight from that info.

[2015-06-10 14:36] remram44 commented on #1326
The first issue is a duplicate of #1276; needs fixing. I don't know about the crash though.

[2015-06-11 15:04] remram44 commented on #1276
Traceback as of 2.2.0-45, vistrails 2.2.0-12
[code]
Second attempt at exporting causes segmentation fault:
[code]

[2015-06-11 15:17] #1326 closed

[2015-06-11 15:27] remram44 commented on #1276
@doutriaux1 Is rendering to a memory buffer going to be supported in vcs? It looks like VCS plots have never been exportable in the spreadsheet since their introduction in 2011.

[2015-06-11 15:43] rexissimus commented on #1276
This seems to work:

[code]

[2015-06-11 16:15] remram44 commented on #1375
I can't reproduce your error, although plotting the variable leads to an exception (I assume the crazy-looking plot is expected; [screenshot](https://cloud.githubusercontent.com/assets/426784/8112066/871b1294-1033-11e5-88d8-29489aaea0c8.png)).

[2015-06-11 16:21] acmesupport opened #1377 "my 2D vis issue"
Details about my new 2d vis issue

[2015-06-11 16:23] acmesupport opened #1378 "not vis, data not from ESGF"
details about not vis, data not from ESGF

[2015-06-11 16:30] doutriaux1 commented on #1276
@remram44 I believe that's what bg=1 is for.

[2015-06-11 16:35] remram44 commented on #1276
Is it something cdat used to have?

[2015-06-11 16:43] durack1 opened #1379 "Update python to 2.7.10"
Python 2.7.10 was released last month, there doesn't appear to be anything to compelling to warrant an update, but may as well keep things up-to-date.

[2015-06-11 18:53] durack1 commented on #1053
@doutriaux1 should this be closed? It seems like `pip` is part of the latest `Python` releases, however `setuptools` may need to be installed

https://pip.pypa.io/en/stable/installing.html#pip-included-with-python

[2015-06-11 21:18] #1346 closed

[2015-06-11 21:33] ThomasMaxwell commented on #1326
I’m getting the following SciPy build error when building the current release source on CentOS 6.6:

[ 76%] Performing configure step for 'SCIPY'

CMake Error at /usr/local/uvcdat/2.2/build/SCIPY-prefix/src/SCIPY-stamp/SCIPY-configure.cmake:56 (message):

  CTEST_FULL_OUTPUT

   Command failed: 1

   '/usr/bin/cmake' '-DCONFIG_TYPE=.' '-DCDAT_USE_SYSTEM_LAPACK:STRING=OFF' '-DLAPACK_LIBRARIES:STRIN

[2015-06-11 21:52] remram44 commented on #1326
@ThomasMaxwell please open a different issue if needed

[2015-06-11 22:55] doutriaux1 commented on #1276
still does x.plot(data,bg=1)

[2015-06-12 01:55] cameronsmith1 opened #1383 "How to enable backing store for plots from UVCDAT script?"
I am putting together a UVCDAT plotting script.   Each time I plot I get a new window (which is good), but they have no backing store, and don't get redrawn.  This is a problem because I am producing several plots, so have to move them around my screen, and there are so many they start covering each other, and when I bring a window to the front the part that was covered stays blank (ie white).

Be

[2015-06-12 14:24] doutriaux1 commented on #1383
@cameronsmith1 I've sene something similar on another X11-based system, it seems to be X related, because this person was using the exact same version that all my other users. One way around (painful) is too type canvas.interact(), that allows the redrawing once the window is in front. @dlonie @aashish24 is there a way around this in VTK? Basically until you type "interact" the interactor is not s

[2015-06-12 14:24] doutriaux1 commented on #1383
@dlonie I assigned you, but I'm not sure there's much we can do, it might be on the user side?

[2015-06-12 14:37] aashish24 commented on #1383
this is indeed a GL issue. I believe there is a workaround. @dlonie do you remember?

[2015-06-12 16:55] dlonie commented on #1383
The vtkRenderWindow redraws itself automatically as needed in every other project I've used it in. Not sure why/how the UVCDAT implementation breaks this.

I doubt it's a GL issue, since it works in other projects on my system that use the same GL. Not sure what's going on with it here.

[2015-06-12 16:58] dlonie commented on #1383
Unassigning myself because this is a usage issue from the VCS/Python side of things.

[2015-06-12 17:09] durack1 opened #1384 "Configuring travis/buildbot testing to be more robust"
@jbeezley @doutriaux1 @aashish24 this creates a dedicated issue to attempt to resolve a bunch of errors that continue to recur in the travis and buildbot build tests as discussed in #1381 and a number of other issues/PRs.
Specific changes to implement:
- [x] Add redhat `6.6` platform (`6.6 - crunchy.llnl.gov - ALL`) to the buildbot suite
- [x] Add redhat `6.7` platform (`6.7 - oceanonly.llnl.gov -

[2015-06-12 17:22] doutriaux1 commented on #1383
I think it's X related. As I mentioned all of our users use the same version (mounted from same disk) but for some it autoredraws, for some it doesn't unless in interact mode. Could it be KDE vs Gnome?

[2015-06-12 17:53] durack1 commented on #1383
@cameronsmith1 we had a bunch of problems which I was certain was X11 related a while back #1134), it turned out that it was a problematic X11 config on the client, for two independent user setups.. Once we cleaned up our setups independently, everything worked fine..

Do `glxgears` and `glxinfo` run smoothly on your setup?

[2015-06-12 17:59] doutriaux1 opened #1385 "Add "best match feature" in vcs to complement __slots__ protection"
when user passes a mistyped (or plain invalid) attribute to a vcs object, it currently receives an "AttributeError" stating it isn't valid.

I have a small example here that if put into our vcs classes would provide the user with "best matches" of what the user probably meant.

Similar to what git tells you when you mistype.

sample code (so I don't lose it):
[code]

[2015-06-12 18:44] cameronsmith1 commented on #1383
@durack1, thanks for the suggestion.    glxgears does and doesn't work.  Specifically, if I run a single instance then it appears to work fine (the 3 gears turn, and I can cover and unvcover it with normal windows).  However, if I run a second instance of glxgears, then the first one stops turning, and when I cover it with the second glxgears window the first one blanks and doesn't refresh -- unti

[2015-06-12 18:48] durack1 commented on #1383
@cameronsmith1 from memory this is an ongoing issue, I do recall speaking to @doutriaux1 about this a while back... Not sure if there is a solution, possibly upgrading/updating/checking your X11 client and making sure that you have all the pieces installed and up-to-date..

[2015-06-12 18:52] #1029 closed

[2015-06-12 19:15] doutriaux1 opened #1386 "pep8 executable looked for in wrong place on mac"
[code]
error on mac:
[code]

[2015-06-15 17:44] doutriaux1 opened #1391 "cdutil climos fail on file variables."
[code]

[2015-06-15 21:42] chaosphere2112 commented on #1384
@jbeezley It looks like all of the failures are on the same buildbot; the test-laptop one. Is that a particularly slow device?

[2015-06-15 21:42] chaosphere2112 commented on #1384
Also, just submitted #1393 to help with some race conditions in my tests.

[2015-06-16 16:17] #1386 closed

[2015-06-16 18:20] acmesupport opened #1395 "3D visualization"
@aashish24 did this issue show up? THIS IS ONLY A TEST. if this was a real issues .... (horns in background)

[2015-06-16 18:21] mattben commented on #1395
@chaosphere2112 Good Work :+1: issues created from the devel issues site. woot woot

[2015-06-16 18:21] #1395 closed

[2015-06-16 19:32] dlonie commented on #1377
@doutriaux1 @chaosphere2112 @aashish24 Anyone know what this is about? Can I close this?

[2015-06-16 20:11] chaosphere2112 commented on #1377
Oh, sorry; this is an automated issue from some testing.

[2015-06-16 20:11] #1377 closed

[2015-06-16 21:08] doutriaux1 opened #1396 "bad error message if png output dir doesn't exist"
code seems to keep going even though it can't create the png file, we should probably error exit
[code]

[2015-06-16 21:13] doutriaux1 opened #1397 "creating pngs in background mode leaks memory"
A LOT!!!
[code]
run and look at memory in top.

[2015-06-16 21:21] doutriaux1 commented on #1397
@dlonie any idea why the memory could grow when bg=True ? The renWin is different obviously. Could it be VTK related?
Note: I tried to comment out hideGui/showGUI in def png but no luck

[2015-06-16 22:38] #1379 closed

[2015-06-17 12:12] dlonie commented on #1397
I'm a bit confused, it doesn't look like the `plot` call in the sample code is using background mode?

In any case, it doesn't look like VTK is holding onto anything in offscreen mode:

[code]

[code]

Looks like the leaks are on the VCS side of things.

[2015-06-17 16:35] doutriaux1 commented on #1397
@dlonie  I'm not quite sure what's going. All @durack1 and I noticed is that if you plot with vcs bg=1 then the process mem size keeps growing. And looking at the code it seems that the only differenc eis this:
[code]

But obviously there must be something else.

[2015-06-17 16:37] durack1 commented on #1397
@doutriaux1 @dlonie for perspective, the loop generating these images has ~1700 steps and as it passed the 1000 mark yesterday it was using 50GB! of memory.. So it's not a small leak at all..

[2015-06-17 16:37] doutriaux1 commented on #1397
@dlonie also it seems to be coming from the png function not the rendering function.
also a few more options are set on our renWin, not sure if it's matter e.g:
[code]

[2015-06-17 17:15] dlonie commented on #1397
Those additional settings on the renderwindow shouldn't affect the offscreen rendering mechanism. Well, `MultiSampling` _might_, but only if it were non-zero.

What is the memory usage for the following scenarios?

- bg + plot + png
- bg + plot
- plot

Also, have you printed out the leaking objects and compared the results with a single run? The objects with increased leaks may point you to the is

[2015-06-17 17:18] dlonie commented on #1397
The 50GB would make sense if the plot map were leaking -- that holds on to all of the plotted datasets as well as the intermediate filter outputs, which would add up very, very quickly.

[2015-06-17 17:20] dlonie commented on #1397
Oh, andby plot map I mean the map returned by `VTKPlots.plot` -- I've noticed that it doesn't get freed in between calls to plot.

[2015-06-17 17:23] doutriaux1 commented on #1397
Ok I'll run your runTest and print the leaked object in bg vs not in bg, that should point us in the right direction. Thanks.

[2015-06-17 17:28] doutriaux1 commented on #1397
@dlonie yes but why isn't it cleaned up ONLY when plotting in bg mode? That part is really odd.

[2015-06-17 17:46] durack1 commented on #1397
@dlonie would a well placed `gc.collect()` within the loop help here, or will these things persist until the code completes?

[2015-06-17 17:50] durack1 commented on #1384
@potter2, @doutriaux1 and I were wondering if you may have any under-utilized mac hardware that would be suitable as a `mac-buildbot` candidate? We currently don't have any mac hardware available to run build tests, and a `10.9`, `10.10` and possibly even a `10.11` machine would certainly be helpful if available..

[2015-06-17 17:53] dlonie commented on #1397
When I was having troubles with it I was doing foreground plots, so I don't think fg/bg really matters for that particular leak.

Garbage collection should happen automatically by the interpreter as-needed. I doubt it's an issue of delayed collection -- given the plethora of other leaks occurring in vcs, it's more likely a reference counting problem (`gc.collect()` won't help if the reference coun

[2015-06-17 19:09] doutriaux1 commented on #1397
actually, it does matter, we watch the process go for a while with @durack1 and the memory only grows when using bg=1.

[2015-06-17 19:21] dlonie commented on #1397
Must be a different leak then. I was seeing that dictionary leak in
foreground mode,

On Wed, Jun 17, 2015 at 3:09 PM, Charles Doutriaux <notifications@github.com

[2015-06-17 19:36] doutriaux1 opened #1398 "can't delete file attribute"
[code]
gives us
[code]

[2015-06-17 19:37] doutriaux1 commented on #1398
[code]

[2015-06-17 19:38] durack1 commented on #1398
@doutriaux1 it would be a great enhancement to add this functionality into `cdms2`

[2015-06-17 23:20] doutriaux1 commented on #1343
@dlonie can you point me to your branch where the leak prevents you from moving on? Seeing the actual seg fault/error might help me track this one.

[2015-06-17 23:35] durack1 commented on #1383
@dlonie here's a case where there's a window over the active canvas, and voila black in the region where the window overlays..
![1870-11](https://cloud.githubusercontent.com/assets/3229632/8221052/b84798ee-150e-11e5-9311-499d5dba1a9e.png)

Should a separate issue be opened here, or is this related to the above?

Do you require any additional info about the configuration (X11, clients etc)..

[2015-06-18 00:09] doutriaux1 commented on #1343
@dlonie please take a look at the script bellow, using ".filled()" (which makes it pure numpy) increase the number of leaks by a lot and we get an error. I don't know what these "Cell" type objects are, could by esmf objects, not sure, I will try a build w/o esmf just to see. But the name could also be vtk no?
[code]

[2015-06-18 00:10] doutriaux1 commented on #1343
errors I get with filled()
[code]

[2015-06-18 00:23] durack1 commented on #1397
@dlonie @doutriaux1 just FYI.. I ran this for one year, so 48 steps (I'm looping through a bunch of variables) and for this with `bg=True` I hit ~2.4GB, with `bg=False` I hit ~240MB so it does appear to be an issue with the `background` operation

[2015-06-18 13:28] dlonie commented on #1383
I'm by no means an X expert, but from what I understand, a backing store is not the best solution here. They cause issues with modern compositing windowing systems, and most X implementations disable the backing store by default on their servers. Worse, the servers are free to ignore the backing store flags and override the behavior as they see fit. Thus, we'd need to make users update their X ser

[2015-06-18 13:34] dlonie commented on #1383
Also, related to @durack1's image, I've seen this happen with some OpenGL drivers even with the interactor running (it happens to me with e.g. the latest nVidia linux drivers). My guess is that they're being super aggressive with the pixel-ownership test in the GL pipeline and discarding fragments that would be obscured by another window, saving a bit of time on blending operations and such. Which

[2015-06-18 14:10] dlonie commented on #1343
I don't see any VTK related objects in that output (although I didn't read through all 1016 lines of the output...). Can you point me at which leaks are suggesting VTK?

Here's the branch that starts segfaulting:

https://github.com/UV-CDAT/uvcdat/tree/update_input_refactor

Note that this will require VTK to be reconfigured/rebuilt/reinstalled, since it requires a new module.

The plot map leak w

[2015-06-18 14:16] dlonie commented on #1397
@durack1 Thanks for the numbers, that is troubling indeed.

I'm hesitant to say VTK is at fault here, since

1) I don't see any leaks from a pure VTK application that does background rendering
2) VTK has had much more testing and development than UV-CDAT over the last 20 years, and is tested nightly for memory leaks with valgrind
3) UV-CDAT is known to leak lots of memory

So my suspicion is that

[2015-06-18 16:01] doutriaux1 commented on #1383
@dlonie I know it works when you starts the interactor, BUT once you started the interactor, your script pauses until the user press Q. There are two issues I have seen in "real life" happening here:
1- User starts a script windows appear in background (why I don't know), and moves to interactive mode so he/she can query variables. Well they can't see the image unless they type interact() and if t

[2015-06-18 16:02] doutriaux1 commented on #1383
@dlonie in short I think you answered my initial question, there's not much we can do except asking the user to upgrade their X server...

[2015-06-18 16:04] doutriaux1 commented on #1343
@dlonie I was refering to the "Cell" objects. The name sounds like it could be coming from some vtk code. But as I said earlier I suspect they are ESMF. Thanks for the branch will try it now.

[2015-06-18 16:05] doutriaux1 commented on #1397
@dlonie can you try to add the vtkpngwriter to your bit of coe above, just to make sure. Thanks.

[2015-06-18 17:21] doutriaux1 commented on #1343
@dlonie which branch for vtk? It seems to be pointing to uvcdat-master

[2015-06-18 17:25] dlonie commented on #1343
You'll need to merge UVCDAT's master in, or rebase on top of it. This was before the VTK bump, so it still has the old cell/point blanking calls in it.

[2015-06-18 17:37] doutriaux1 commented on #1343
ah ok. Should we rebase and push back so that the branch is a bit more up-to-date?

[2015-06-18 17:38] dlonie commented on #1343
Doesn't matter to me -- that branch has a long ways to go and is very much a work in progress, so I was just planning to do that when I got back to working on it.

[2015-06-18 20:45] aashish24 commented on #1343
@doutriaux1 the word "cell" will not be in VTK. VTK uses CamelCase style.

[2015-06-18 21:10] doutriaux1 commented on #1343
thanks @aashish24 ok so that's probably my first guess "esmf" stuff

[2015-06-18 21:12] durack1 commented on #1397
@dlonie does this output mean anything to you..

[code]

I'll run this code again with some timing turned on, it seems like things really grind to a halt and slow down remarkably when reusing the same canvas from `x = vcs.init()`

[2015-06-18 21:14] aashish24 commented on #1343
probably so. Can you try without ESMF to confirm it?

[2015-06-18 21:15] aashish24 commented on #1397
@dlonie let's try adding vtkpngwriter as @doutriaux1 suggested. That will help. May be we can give it to @sankhesh

[2015-06-19 09:07] jypeter opened #1399 "slight error in udunits docstring"
The examples in the docstring you get when typing *help(genutil.udunits)* are slightly inconsistent with the fact that udunits is installed in genutil. See the 2 example below, but there may be some more errors of the same kind

* initialization: a=unidata(value,units) => a=**udunits**(value,units)
* c=unidata.udunits(7,'K') => c=**genutil**.udunits(7,'K')

Also, I assume this is **udunits2** and

[2015-06-19 13:02] dlonie commented on #1383
Upgrading the X server won't change anything. Did you mean reconfigure (to enable backing store support)? That still wouldn't make a difference since the `vtkXOpenGLRenderWindow` implementation uses the default `NotUseful` backing store flag.

Just want to make sure we're on the same page here :)

[2015-06-19 13:43] dlonie commented on #1397
@durack1 Nope, haven't seen that before. I remember we were having problems with the some template objects growing out of control when reusing a canvas for animations, causing a similar slowdown/memory leak.

@doutriaux1 @aashish24 Rebuilding to rerun w/ png writer now.

[2015-06-19 16:31] dlonie commented on #1397
[code]

[code]

[2015-06-19 17:01] jbeezley commented on #1337
The errors on Ubuntu 14.04 are a bit different:

[code]
This is the stack trace on that
[code]

Curl results in an infinite redirect (the same behavior as Chrome), the full log is [here](https://gist.github.com/522b3020087ddc399b38):
[code]

[2015-06-19 17:14] durack1 commented on #1397
@dlonie @doutriaux1 not sure this info below is totally related to the `bg=1` issue title, but just for completeness I've currently got a long run underway and have added in some diagnostics to query time taken through each loop iteration and memory footprint of the process, the code looks like (I've trimmed out the extraneous cdms2.open/close, print and string assignment etc calls for brevity):

[2015-06-19 17:27] jbeezley commented on #1337
I just realized that it is setting cookies to store session id's.  FWIW, enabling cookies for curl does work:
[code]

[2015-06-19 17:29] dlonie commented on #1397
You can try profiling the code and looking at where it's spending all that extra time -- that's how we tracked down the template issue. I'll see if I can dig up some resources.

[2015-06-19 17:35] dlonie commented on #1397
@durack1 In #715 we had a similar issue with resource leaks and slow-downs from canvas reuse. There's a link in there to the cProfile docs, which can be used to find out exactly where all that extra time is going.

[2015-06-19 17:38] durack1 commented on #1397
Ok great thanks @dlonie I'll take a peek at cProfile (https://docs.python.org/2/library/profile.html)

[2015-06-19 23:44] durack1 commented on #1397
@dlonie @doutriaux1 does this error output mean anything to you:
[code]

[2015-06-22 12:33] dlonie commented on #1397
`QTextCursor` is a Qt object that's used to represent the cursor location in a text document. Sounds like a UI issue.

[2015-06-22 15:27] doutriaux1 commented on #1397
Qt code! How is that even possible? Thanks @durack1 I start from there...

[2015-06-22 16:14] durack1 commented on #1397
@doutriaux1 it would seem to be related to the `title` object, which isn't showing up on the plots..

[2015-06-22 16:23] dlonie opened #1400 "vcs.Canvas.setantialiasing unusable"
`vtkRenderWindow` needs to have multisampling settings specified before the first render, but currently `setantialiasing` can only be used before the window is created (which triggers an error) or after initialization (which has no effect).

The easy fix would be to make an antialiasing ivar in the canvas or backend that can be set between calls to `vcs.init` and `Canvas.plot`, and warns if called

[2015-06-22 17:30] potter2 opened #1401 "Large file access"
If I open a large fie in
http://dataserver3.nccs.nasa.gov/thredds/catalog/bypass/NEX-GDDP/catalog.html
(drill down see attached figure)
then do a subset of the time dimension. pick more than 1 year- be careful this is daly high resolution data
I get this:

2015-06-22 10:21:52.165 Python[5593:99867] modalSession has been exited prematurely - check for a reentrant call to endModalSession:
syntax err

[2015-06-22 17:32] potter2 commented on #1401
![opendap](https://cloud.githubusercontent.com/assets/2963950/8288251/c9f2d6b2-18c9-11e5-815e-87eb55e6652f.png)

[2015-06-22 17:33] potter2 commented on #1401
In the GUI use the openDAP tab to get the data

[2015-06-22 18:25] durack1 commented on #1384
@potter2, @doutriaux1 and I were wondering if you may have any under-utilized mac hardware that would be suitable as a `mac-buildbot` candidate? We currently don't have any mac hardware available to run build tests, and a `10.9`, `10.10` and possibly even a `10.11` machine would certainly be helpful if available..

[2015-06-22 18:35] remram44 commented on #1362
Fixed by #1390

[2015-06-22 18:35] #1362 closed

[2015-06-22 22:31] remram44 commented on #1349
I assigned this to me but still can't run diagnostics, same error on a fresh build of ef6b26ce. I am not looking into this. Also reportErrorDialog.py prints `urllib2.HTTPError: HTTP Error 500: INTERNAL SERVER ERROR`.

[2015-06-23 05:37] potter2 commented on #1384
I really don't have anything. Sorry

Jerry

Sent from my iPad

On Jun 22, 2015, at 11:25 AM, Paul J. Durack <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2>, @doutriaux1<https://github.com/doutriaux1> and I were wondering if you may have any under-utilized mac hardware that would be suitable as a mac-buildbot candidate? We currently don't hav

[2015-06-23 13:50] #1358 closed

[2015-06-23 14:10] #1361 closed

[2015-06-23 14:11] aashish24 commented on #1400
@dlonie I would assign it to @sankhesh

[2015-06-23 14:13] dlonie commented on #1400
@sankhesh Grab me if you want to go over this -- this one should be higher priority than the other issues.

[2015-06-23 15:38] aashish24 opened #1405 "Enable R and RPy2 (default OFF)"

[2015-06-23 15:40] aashish24 opened #1406 "Enable Matplotlib in default build"

[2015-06-23 15:56] aashish24 opened #1407 "Prototype context 2d in pure VTK script"

[2015-06-23 16:38] dlonie commented on #667
Closing, we don't have ParaView in the superbuild anymore.

[2015-06-23 16:38] #667 closed

[2015-06-23 16:40] dlonie commented on #654
Reassigning to Jon, since he has the buildbot knowledge. @aashish24 Is this still something we want to happen? Still waiting on hardware.

[2015-06-23 16:41] dlonie commented on #541
@sankhesh Grab me before starting on this one, I have some ideas on how we can accomplish this using pure python VTK.

[2015-06-23 16:46] durack1 commented on #541
@dlonie @sankhesh +100 - there are a heap of folks that are eagerly awaiting this updated functionality!!

[2015-06-23 17:58] doutriaux1 commented on #1407
@aashish24 what is that exactly? Also, please can you add a milestone?

[2015-06-23 19:31] dlonie commented on #1400
@sankhesh The code of interest is in `Packages/vcs/Lib/VTKPlots.py`, the `setantialiasing` and `getantialiasing` methods.

To visually determine whether or not antialiasing is working the following command line can be used to produce a line plot with aliasing artifacts:

`[build dir]/install/bin/runtest [source dir]/testing/vcs/test_vcs_basic_gms.py --gm_type=yxvsx --show`

[2015-06-23 21:32] doutriaux1 commented on #1343
ok making sllooooow progress
it's not in ESMF - building w/o it shows the same leaks
it's not in libCF building w/o it shows the same errors
I can't figure where the following comes from (yet):
[code]
but the follwoing function is "defed" within numpy __new__ method
[code]
So it probably has something to do with numpy/variables hanging around too long. More later

[2015-06-23 21:35] doutriaux1 commented on #1343
interstingly the follwoing "test"
[code]
leads to:
[code]
so that also solves the ctype leak

[2015-06-23 22:22] doutriaux1 commented on #1343
ok leaks disappear with this:
[code]
So the leak is within VTKPlots.py it appears... Just keeping you gents updated :wink:

[2015-06-23 22:25] durack1 commented on #1343
@doutriaux1 I'd be happy to try out the script with all the slowdowns described in #1397 when you think you've got something to test here..

[2015-06-23 22:26] doutriaux1 commented on #1343
@dlonie ok most of the leaks come from
[code]

[2015-06-23 22:51] durack1 commented on #1343
@doutriaux1 how deep did the solution for #715 dig? It seems like #1397 and #715 are duplicate issues..

[2015-06-23 23:19] doutriaux1 commented on #1343
@dlonie @aashish24 I tracked the leaks I got to
vcs.mklabels and then down to numpy.ma.masked_equal
[code]
Leads to:
[code]
While disconcerting I don't see any way to avoid this leak. Maybe the upgrade to a newer python will help.
Now I fail to see how this affects @dlonie in his VTK.

@dlonie can you try to bring this branch (with drawColorbar commented out) in your branch and see if it helps?
Th

[2015-06-23 23:19] doutriaux1 commented on #1343
oops branch is: issue_1343_leaks

[2015-06-24 00:10] durack1 opened #1423 "vcs removeobject function broken"

[2015-06-24 00:13] durack1 opened #1424 "vcs.plot(iso) creates text object that are not removed after clear"
Not related to #1397 (bg=1 memory leak)

[2015-06-24 00:36] doutriaux1 commented on #1343
numpy leak reported at: https://github.com/numpy/numpy/issues/6010

[2015-06-24 01:03] doutriaux1 opened #1425 "flake8 not properly added to repo"
@dlonie @jbeezley @aashish24 this is why I dislike pip sooo much.

Behind our firewall we can't get pip tarballs (https) so I went and downloaded the tarball manually, now while installing I get:

[code]

And down the rabbit hole we go.... Plus this is NOT the latest pyflakes that they want...
Ok so I install pyflake 0.8.1 (not 0.9.2)
back to installing flake8:

[code]

AGAIN NOT the latest versio

[2015-06-24 01:03] doutriaux1 commented on #1425
Uploading all tarballs to LLNL so @dlonie can create all the new little pkg files... sorry...

[2015-06-24 01:04] doutriaux1 commented on #1425
@aashish24 this is why we shouldn't in general approve PR within the same institution... I think we need to remove flake8 from the buyild, you whine and whine when I added ONE dependency with pep8 but now here we are...

[2015-06-24 01:05] doutriaux1 commented on #1425
So that means at the very least rebasing all of @dlonie PR sitting there for now.

[2015-06-24 01:06] #1053 closed

[2015-06-24 01:50] jbeezley commented on #1425
To be fair, pip is doing exactly what it should do.  Your network is performing a man in the middle attack on all secure traffic going in and out.  Pip detects that the stream has been tampered with and refuses to install the software.

Clearly no one will be successful in convincing anyone to change the network security, but have you ever tried the `--cert /path/to/rootCA` option of pip?  Assumin

[2015-06-24 13:59] dlonie commented on #1425
@doutriaux1 Can you provide a more straightforward description of what needs to be done? I get that your institution's firewall is preventing some standard tools from working properly and are having trouble fetching packages, but I'm not familiar with the work-arounds your group uses to bypass the issue.

What additional packages/versions are needed?

I'll wait until you address @jbeezley's sugges

[2015-06-24 14:39] dlonie commented on #1343
Good catch on the numpy arrays! That would explain a lot of the leaks (although I'm curious why so many of these arrays would be created/leaked from just importing vcs).

I tested the new changes and it still segfault on my branch when I run `vcs_test_animate_meshfill`. See the `issue_1343_test` branch, which has the leak changes and the meshfill pipeline changes, rebased and merged.

[2015-06-24 14:53] aashish24 commented on #1343
@dlonie would it be because vcs imports numpy at the top?

[2015-06-24 14:53] aashish24 commented on #1343
I am wondering if we use numpy + pure VTK combo, then we should see similar issues (seg fault). @dlonie can you create an example as such?

[2015-06-24 15:12] dlonie commented on #1343
@aashish24 VTK uses numpy internally without issue, so that's not it.

[2015-06-24 15:17] dlonie commented on #1343
@aashish24 `import numpy` results in 6 leaks, not 10k. It's contributing, but not the only problem.

[2015-06-24 15:21] aashish24 commented on #1343
I see. When VTK segfaults, is there a way to know what objects its trying to release?

[2015-06-24 15:23] dlonie commented on #1343
Yep, `gdb`. It's segfaulting in `vtkPythonAlgorithm`'s destructor when it calls `Py_XDECREF` after the interpreter has shut down.

[2015-06-24 15:51] jbeezley commented on #1343
I think you should focus on the VTK objects that are leaked.  Those are almost certainly the cause of the seg fault.  As mentioned in the issue you posted, leaking a small number of static objects at the module level is going to be pretty common.  It is highly unlikely these are preventing the VTK objects from being freed because as @dlonie mentioned VTK uses numpy underneath already.

My advice i

[2015-06-24 15:58] dlonie commented on #1343
To add to @jbeezley's input, I've mentioned a couple of times that the likely culprit is the dictionary returned from `VTKPlots.plot(...)`. That's the most obvious place I've seen where these objects can leak, and I've already patched one leak related to this dictionary here: https://github.com/UV-CDAT/uvcdat/commit/8b778e58d1e3a471989d606c1e0a39c83874bd35

After that patch (Which I wouldn't submi

[2015-06-24 16:11] durack1 commented on #1424
@doutriaux1 it seems you've nailed where the slow down is happening, which is `text*` (and maybe some other `vcs`) objects accumulating throughout a loop.

The following code:
[code]
Gets this output:
[code]
For comparison, the timings (which were erroneously listed in #1397 - doesn't have much to do with the `bg=True` issue title) without these explicit `del()` statements were:
[code]
It would be

[2015-06-24 16:16] durack1 commented on #1424
@doutriaux1 as an aside, it also appears that the `vcs ffmpeg` call is also not releasing objects:
[code]
The first time it's called it seems to jump the memory usage a little:
[code]
Whereas subsequent calls don't appear to do the same:
[code]

[2015-06-24 16:29] durack1 commented on #1353
@aashish24 I'm not sure if there are standard directory names/conventions that should be considered when renaming/moving/removing things.. In particular I'm thinking about the eventual creation of Mac OS X *.dmg files with their standard `Contents`, `Resources` etc subdirs.. Can you chime in here?

[2015-06-24 17:13] doutriaux1 commented on #1425
@jbeezley the "fetching" is not really the issue, what I DON'T like about pip is that it installs a bunch of additional software so you think you add one little pure python script and you end up with 6 or 7 additional packages some of them with C (see pyopenssl for example) and build error on other machines. I know about the cert thing, it was even part of UVCDAT install before, but it failed on s

[2015-06-24 17:14] doutriaux1 commented on #1425
@dlonie the sources are alrady uploaded on LLNL server, versions are documented in my comments above.

[2015-06-24 17:26] doutriaux1 commented on #1343
@dlonie the 10k are done to 105 when you take out DV3D so the VTKPlot objects are not the culprit for this, the 105 leaks left after a vcs.plot are all the ones from the numpy leak. In the branch I sent you DV3D is gone. Also it was my understanding that the vtk_object thing was just a "hack" until we reimplement the pieline object and return these instead. So we should really work hard on taking

[2015-06-24 17:36] dlonie commented on #1425
So your complaint is that some packages have dependencies? That's not really a `pip` problem either...

Honestly, none of these tools should be in the superbuild at all. I'm not sure why UVCDAT insists on building everything it uses, instead of making them dependencies and just checking for them at configure time. If you don't want to deal with platform specific build issues for dependencies, the

[2015-06-24 17:46] aashish24 commented on #1425
@dlonie that's the plan. In the future, we will notify users when a deps is missing and not build by UV-CDAT. I agree that we need to keep the bulild packages list short to avoid creating a giant toolkit that may turn off some folks. I don't know enough about flake8 install so cannot say much there but detecting missing system packages is something is in the plan for the next few weeks. When that

[2015-06-24 17:48] aashish24 commented on #1343
I agree with @doutriaux1. We should remove those hacks! Let me know if I can be of any help.

[2015-06-24 17:49] dlonie commented on #1425
@aashish24 That sounds much better, especially if most things are moved to SYSTEM.

[2015-06-24 17:54] dlonie commented on #1343
@doutriaux1 Have you tried running a more complex example (e.g. the meshfill animation test)? The original 10k leaks were just from importing the module, it would be good to ensure there aren't more leaks generated by a less-trivial example.

If all of the leaks have been tracked down to numpy or DV3D then I'll take another pass at the refactor sometime soon, but make sure that more realistic usec

[2015-06-24 18:32] doutriaux1 commented on #1397
by the way I just tested this with x.pdf instead of x.png and the memory doesn't go crazy. So it "seems" to be vtkpngwriter related.

[2015-06-24 18:34] durack1 commented on #1397
@doutriaux1 you beat me to it..

[2015-06-24 18:47] doutriaux1 commented on #1425
@aashish24 it is a requirement I believe that you can install w/o root. If you dump everything on the user where do we draw the line? system vtk?

[2015-06-24 18:47] doutriaux1 commented on #1425
@dlonie I have no issue with adding dependencies it's @aashish24 that complains everytime we add some.

[2015-06-24 18:48] doutriaux1 commented on #1425
I just don't like pip because of all the "magic" it does behind, I like to know what I install. Anyway, can somebody add these little packages please since we want flake8

[2015-06-24 18:51] doutriaux1 commented on #1425
@dlonie just for ref, here's all the noise when I asked to add pep8: https://github.com/UV-CDAT/uvcdat/pull/1290

[2015-06-24 18:54] doutriaux1 commented on #1343
@dlonie isn't the def of a leak is that something that should be released isn't released? If soI fail to see how it affects you. You seem to be releasing memory that has already been released and used for something else. No?

[2015-06-24 18:56] dlonie commented on #1425
The line is best drawn where it makes sense. If we continue to need a modified version of VTK, then we should keep it in the superbuild, or even just point users at it and say 'it needs this patch'. I see the value of bundling these things for a package, but forcing developers to keep a separate version of system or commonly shared libraries is just bizarre.

But to the point, the line is where it

[2015-06-24 19:00] aashish24 commented on #1425
@dlonie until we switch to system python, we need to have pep8 and flake8. Once we fully switch to system python, we can turn it OFF. Although, I think it would be a core package for developers (it should be OFF by default and ON only when we enable testing).

[2015-06-24 19:01] dlonie commented on #1343
The memory has not been released and used for something else. The issue is:

1) We create a VTK filter in VCS and make a plot.
2) Reference leaks cause the objects to persist after the python interpreter shuts down.
3) After the interpreter is gone, but before the process exits, the leaked objects are destroyed at the C++ level.
4) The leaked objects use the Python/C API to clean up, and since the

[2015-06-24 19:04] dlonie commented on #1425
That's not correct. pep8 and flake8 just process files -- they don't need to share the same python build as UVCDAT to parse the files or link to anything in UVCDAT. They could easily be used from a system installation.

[2015-06-24 19:17] durack1 commented on #1425
@aashish24 @dlonie @doutriaux1 wouldn't it make sense to add another level to the build options, so rather than just having `lean`, `default`, `all` would another `testing` which includes everything from `all` plus all the test suite dependencies (along with the tests themselves)?

It would be great if the buildbot and travis tests were bumped up to include all the packages in the `all` build anyw

[2015-06-25 13:51] dlonie commented on #1339
Just to update: I'll add some options on the VTK side of things to adjust the label spacing, and @sankhesh and @doutriaux1 will take a look at adding the necessary methods to VCS to expose the option to users.

[2015-06-25 17:37] durack1 commented on #457
RHEL 7.1 was released in March 2015, so it's probably worth considering adding this to the standard platform list for binary distributions and test builds..

[2015-06-25 18:30] mcenerney1 opened #1427 "fetching uvcdat-testdata broken on mac"
[code]

my git

[code]

[2015-06-25 19:34] ThomasMaxwell commented on #1401
We have been having problems with uvcdat writing thousands of tempfiles to users' .uvcdat directory and maxing out their disk space.  For example, one of our users has found 39500 files (totaling 1.5 GB) of the form:  %2Fhome%2Flcarrier%2F.uvcdat%2Funtitled.vt_tmp_9999.   Anyone know why this would be happening?

— Tom

[2015-06-25 20:13] aashish24 commented on #1401
@ThomasMaxwell I would file a different issue for that. Looks like the original issue reported by Jerry is separate.

[2015-06-25 20:13] aashish24 opened #1428 "uvcdat writing thousands of tempfiles to users' .uvcdat directory"
We have been having problems with uvcdat writing thousands of tempfiles to users' .uvcdat directory and maxing out their disk space.  For example, one of our users has found 39500 files (totaling 1.5 GB) of the form:  %2Fhome%2Flcarrier%2F.uvcdat%2Funtitled.vt_tmp_9999.   Anyone know why this would be happening?

— Tom

[2015-06-25 20:14] aashish24 commented on #1428
@doutriaux1 do you want to look into this? It seems to me that .vt files are vistrails files but I could be wrong.

[2015-06-25 20:23] mcenerney1 opened #1429 "import vcs error"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/uvcdat/05_20_15/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/__init__.py", line 33, in <module>
    from utils import *
  File "/usr/local/uvcdat/05_20_15/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/utils.py", line 6, in <module>
    i

[2015-06-25 20:25] aashish24 commented on #1429
Looks like a slightly older version. Can you update to the newer version and see if this goes away?

[2015-06-25 20:25] doutriaux1 commented on #1428
yes they are vistrails files, I'm not sure what the best way to move forward is here, considering recent development

[2015-06-25 20:27] aashish24 commented on #1428
@ThomasMaxwell did the user ran the GUI? these files could the provenance files used. If that's the case, we may have to put a workaround for now.

[2015-06-25 20:28] doutriaux1 commented on #1429
http://prateekvjoshi.com/2013/02/15/non-ascii-character-syntax-error-in-python/

@aashish24 @mcenerney1 just merged master into his branch so he should be good.

[2015-06-25 20:47] ThomasMaxwell commented on #1428
Yes, the user was using the GUI.   These could be provenance files but I don’t know why there would be so many of them.

From: Aashish Chaudhary <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 25, 2015 at 4:27 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.githu

[2015-06-25 20:56] aashish24 commented on #1428
There could be multiple reasons. Vistrails create temporary file for few things. I will see if I can reproduce.

[2015-06-25 22:04] durack1 commented on #1424
@doutriaux1 this will get you there - it's the script which reports the time and mem usage above:
https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py

[2015-06-26 00:13] doutriaux1 commented on #1429
@mcenerney1 your branch with master merged into it works for me  on mac. master works on Linux.

I think you got a weird build, please try to build from scratch and let us know. Thanks. Closing for now. Please re-open if it is still happening for you

[2015-06-26 00:13] #1429 closed

[2015-06-26 12:59] aashish24 opened #1432 "Enable anti-aliasing ON by default and OFF for testing"
As @doutriaux1 suggested in #1422 #1400

[2015-06-26 13:03] aashish24 commented on #1427
@dlonie do we really need update-shallow option? What does it do?

[2015-06-26 13:04] #1425 closed

[2015-06-26 13:09] dlonie commented on #1427
We can get rid of it, but we'd need to do a full clone of the test data instead of a shallow one.

That is a very old git....any way you can easily update it? The current Arch package is at 2.3.6 for comparison.

We'll either need to fetch the entire history of the testdata repo, or bump the minimum git version (do we have a minimum git version? I don't see one on https://github.com/UV-CDAT/uvcdat

[2015-06-26 13:12] aashish24 commented on #1425
@durack1 we cannot build ALL on travis. That will take too long and will be shut-down by travis. all option should enable testing as well. I think we may need 4 options like:

lean, default, mega, all

[2015-06-26 13:13] aashish24 commented on #1427
@dlonie I was thinking about old version as well but I don't know how it is on Mac recently. May be we should check for git version and if we find it lower than < X.Y.Z then we stop the build right there.

[2015-06-26 13:21] dlonie commented on #1427
I know nothing about macs, so I'll let someone more familiar with them comment on that.

If it's easy to upgrade git on mac, let's just (a) set a minimum git version. This isn't the first time we've had issues from outdated git installs.

If we need to support the old git versions, we'll have to abandon either (b) the shallow clone, or (c) the automatic updates.

(a) seems the cleanest to me, as l

[2015-06-26 15:24] doutriaux1 opened #1433 "turn antialiasing ON by default (and OFF in tests)"

[2015-06-26 15:25] doutriaux1 commented on #1433
ooops @aashish24 beat me to it... closing

[2015-06-26 15:25] #1433 closed

[2015-06-26 15:27] doutriaux1 commented on #1432
@aashish24 do not forget to add labels and milestone, it helps us keeping track of what's going on.

[2015-06-26 15:30] mcenerney1 commented on #1429
do you want me to build from master or newdiagtest?

[2015-06-26 15:33] doutriaux1 commented on #1427
@dlonie it's not "easy" to update the mac at national labs, most user do NOT have admin privileges...
Keep in mind UV-CDAT is trying hard to be "root" independent. So when there's a way for us to fix things without requiring any user action we should go that route.

[2015-06-26 15:36] dlonie commented on #1427
Per-user local installations don't need admin access, but its up to you guys how we proceed. Let me know.

[2015-06-26 15:38] doutriaux1 commented on #1429
newdiagtest the one where we merged master in

[2015-06-26 15:39] doutriaux1 commented on #1429
but merge master in again, i oushed a flake8 bug fix in yesterday

[2015-06-26 15:40] doutriaux1 commented on #1427
yes but they are clueless.... i vote for no extra work for user

[2015-06-26 17:08] durack1 commented on #1425
@aashish24 @doutriaux1 in theory when @chaosphere2112 manages to get the LLNL travis account sorted the time limitation will no longer be a problem, so it's close from what I gather.. I really do think once this is sorted testing of the `complete` (rather than `mega`) or alternatively my `testing` suggestion would be possible

[2015-06-26 18:37] durack1 commented on #1353
@aashish24 I'm not sure if there are standard directory names/conventions that should be considered when renaming/moving/removing things.. In particular I'm thinking about the eventual creation of Mac OS X *.dmg files with their standard `Contents`, `Resources` etc subdirs.. Can you chime in here?

[2015-06-26 21:27] mcenerney1 commented on #1429
When I build uvcdat the directory uvcdat-testdata/baselines/metrics/ contains old baseline data.
How do I get the new data into this directory? Do I have to copy it over?

[2015-06-26 22:44] doutriaux1 commented on #1429
did you create abranch for the new data? That's how you do it, you create a new branch and manually check it out.

[2015-06-26 22:48] mcenerney1 commented on #1429
yes, it's in uvcdat-testdata in the newdiagsdata branch.
I just copied into the build directory and it's partially successful.

[2015-06-29 18:25] durack1 commented on #1353
@aashish24 I'm not sure if there are standard directory names/conventions that should be considered when renaming/moving/removing things.. In particular I'm thinking about the eventual creation of Mac OS X *.dmg files with their standard `Contents`, `Resources` etc subdirs.. Can you chime in here?

[2015-06-29 20:55] mcenerney1 opened #1434 "cdutil import error"
What happened to cdutil; this used to work.

Python 2.7.10 (default, Jun 26 2015, 15:45:45)
[GCC 4.2.1 Compatible Apple LLVM 5.0 (clang-500.2.79)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named cdutil

[2015-06-29 21:53] doutriaux1 commented on #1434
@mcenerney1 had an incomplete build

[2015-06-29 21:53] #1434 closed

[2015-06-30 16:23] mcenerney1 opened #1438 "isofill flip fails"
This used to work for diagnostics, in particular #4

import vcs
x=vcs.createisofill()

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'Gfi' object has no attribute 'flip'

[2015-06-30 16:32] doutriaux1 commented on #1438
@mcenerney1 this was actually an error in your code. VCS has been "fixed" and now informs you of invalid attribute setting.

[2015-06-30 16:32] #1438 closed

[2015-07-01 11:41] jypeter commented on #711
I guess we can close this issue, now that we have a working askbot! We just have to make sure that people start using the askbot!

http://askbot-uvcdat.llnl.gov

[2015-07-01 11:41] #711 closed

[2015-07-01 14:27] aashish24 opened #1439 "Construct higher-res dots (circles for VCS)"

[2015-07-06 12:35] jypeter commented on #1439
Well, not just dots! **All the markers should look nice**, both on *raster* (png) and *vector* (pdf) output

See the matplotlib example below. You get a nice png, AND you can zoom the pdf output as much as you want...

http://matplotlib.org/examples/lines_bars_and_markers/marker_reference.html

What could be useful would be a way to specify the color and thickness of the marker's edge (the way you

[2015-07-06 12:37] aashish24 commented on #1439
@jypeter if you export as PDF then should look nice. The issue with circles is that you can set the resolution and currently it is set to low resolution geometry which make them look pixelated.

[2015-07-06 13:00] jypeter commented on #1406
I completely agree with this! These days, most python classes teach new users how to use matplotlib for plots, so it will be hard to convince potential users to switch to the uv-cdat distribution if matplotib is not available by default... You may want to bundle basemap as well

And you also want to **convince new users that cdms2+vcs is easier to use than netcdf4+matplotlib+basemap**. Well, at le

[2015-07-06 13:16] jypeter commented on #1383
This thread reminds me a bit of what I have described in #1044 .

I also thought that maybe I could solve my problem by finding a way to enable the backing store, or maybe find an environment variable that I could set and solve everything by magic. My current kind-of unsatisfying workaround is to use the xfce window manager, that gives slightly better resultst than cinnamon

[2015-07-06 13:27] aashish24 commented on #1406
@jypeter I personally think cdms2+vcs is way easier than netcdf4+matplotlib+basemap in terms of APi and ease of use. Also, unless you are doing mostly static plots (which I don't) matplotlib does not help as much. But I agree that we need to keep working on documentation, improving the code quality and stability, and improving the features to make it more convincing. Matplotlib is easy to deploy b

[2015-07-06 14:58] aashish24 commented on #1432
Sure @doutriaux1 +1

[2015-07-06 15:12] jypeter commented on #1406
I don't remember having problems installing basemap, I thik it worked fine when I used  ```-D CDAT_BUILD_BASEMAP=ON  -D CDAT_BUILD_MATPLOTLIB=ON```. It's cartopy that is hard to install

 - cdms2+vcs gives you default maps faster than other packages for data on **regular grids**, and that's something we can sell to new users
 - But there are more and more *people using basemap to create plots for

[2015-07-06 15:46] doutriaux1 commented on #1406
@jypeter I have to double check but isofill/isoline should work on irregular grids now as well.

[2015-07-06 15:53] aashish24 commented on #1406
@jypeter can you describe irregular grids? Since we use VTK on the backend, we can support lot many grid types (lot more than basemap) so if we are missing something it will be pretty easy to add. Basemap has lot more dependencies and that's why it is harder to build.

[2015-07-06 16:11] jypeter commented on #1406
RTFM :)
http://uvcdat.llnl.gov/documentation/cdms/cdms_1.html#1.9

[2015-07-06 16:28] durack1 commented on #1044
@jypeter the issue above looks very similar to problems I've encountered using VNC.. I've hacked around this by redirecting graphics to a second backend display configured through `Xvfb` but I agree this is really not a usable solution for most folks..

[2015-07-06 16:37] durack1 opened #1441 "iPython3.0 merged update not found in master branch"
@doutriaux1 @aashish24 it seems that something has gotten a little tangled somewhere, the PR #1330 updated iPython from 2.4.1 to 3.0.0, but this doesn't appear to currently be found in the [master branch](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/ipython_pkg.cmake#L1-3)

It makes me wonder if anything else that was committed into `release` has somehow been dropped back out o

[2015-07-06 16:39] durack1 commented on #1383
@jypeter here is my hacky work around to get things plotting and saving correctly to a png file:

[code]

[2015-07-06 17:18] sankhesh commented on #1405
Fixed in #1440

[2015-07-06 17:18] #1405 closed

[2015-07-06 21:50] #1441 closed

[2015-07-07 13:20] dlonie commented on #1343
BTW, I suggested using objgraph to investigate the leaks a few times. Did you have a look at it?

There are lot of very noticable problems regarding circular references and `atexit` bound methods:

![objgraph-0](https://cloud.githubusercontent.com/assets/58744/8546853/b9aa4d06-2488-11e5-8c43-15560786b0df.png)

![objgraph-1](https://cloud.githubusercontent.com/assets/58744/8546901/0ec794ba-2489-11e

[2015-07-07 14:23] aashish24 opened #1445 "Fix test-laptop not booting up (for buildbot)"

[2015-07-07 14:23] aashish24 commented on #1445
@sankhesh you can ping sys-admins on this.

[2015-07-07 14:25] aashish24 commented on #1339
@dlonie can we get it done ASAP? My understanding is that this should be a fairly easy task that does not require much effort.

[2015-07-07 14:26] aashish24 commented on #1439
@sankhesh for now, I have assigned it a low label as we have other bugs to fix.

[2015-07-07 14:26] dlonie commented on #1339
"soon"

Still fighting with memory leaks on the refactor :(

[2015-07-07 14:28] aashish24 commented on #1339
Would it be possible to pause that for a moment and get this done so that Sankhesh can add an API to VCS? Or may @sankhesh can do this one (assuming that it would be easy)

[2015-07-07 14:37] dlonie commented on #1335
@chaosphere2112 @doutriaux1

I'm about to start adding API to the pipeline objects to return the objects needed for the animation, interaction, etc. Which objects need to be exposed? Telling me the current key would be fine.

I think it would make sense to just have a "getPipelineObject(key, default=None)" method that the animation/interact code can use to get objects out of the pipeline. It'd sav

[2015-07-07 14:40] dlonie commented on #1339
I can get it done later today.

[2015-07-07 15:36] doutriaux1 commented on #1335
thanks @dlonie the idea is that this vtk_backend were all the stuff we need to update either when going to the next time step in animation (which basically you're replacing with exposing the pipeline object).
The other use of these object was for "ui interaction", it was a FIRST set VERY limited. Eventually we need to be able to access/move/edit EVERY object controlled by the "template". i.e all t

[2015-07-07 15:37] jypeter commented on #1406
@aashish24 I have asked some of our users to give me some variables on irregular grids. I will post the links to the data asap so that you can try to display them

[2015-07-07 16:01] durack1 commented on #1353
@aashish24 I'm not sure if there are standard directory names/conventions that should be considered when renaming/moving/removing things.. In particular I'm thinking about the eventual creation of Mac OS X *.dmg files with their standard `Contents`, `Resources` etc subdirs.. Can you chime in here?

[2015-07-07 16:19] doutriaux1 opened #1446 "can't switch to portrait mode while in background mode"
[code]
leads to:
[code]

[2015-07-07 16:21] dlonie commented on #1335
Ok, for now I'll just add a generic key-based retrieval API to `Pipeline` that can be used to get out any items you may need.

[2015-07-07 17:09] potter2 commented on #1339
David,
When you are doing the labels, could to check to see if they work on an overlay (isoline on top of isofill)?

Thanks,
Jerry

On Jul 7, 2015, at 7:40 AM, David Lonie <notifications@github.com<mailto:notifications@github.com>> wrote:

I can get it done later today.

—
Reply to this email directly or view it on GitHub<https://github.com/UV-CDAT/uvcdat/issues/1339#issuecomment-119224515>.

--
G

[2015-07-07 17:30] dlonie commented on #1339
@potter2 That's a separate issue (#1338). This issue requires work on the VTK side of things, while that one looks to be an issue with primitive ordering on the VCS side.

[2015-07-07 18:23] dlonie commented on #1339
VTK merge request up: https://gitlab.kitware.com/vtk/vtk/merge_requests/374

After this is accepted into VTK master, I'll cherry pick it onto the UVCDAT VTK fork, and then it will be available to VCS. It defines new methods `vtkLabeledContourMapper::[S|G]etSkipDistance` that define a minimum distance between labels on the same line.

After that, it's up to @doutriaux1 and @sankhesh to add the VCS

[2015-07-07 20:00] sankhesh commented on #1439
This branch in VTK adds support for resolution for 2D circular glyphs: https://gitlab.kitware.com/vtk/vtk/merge_requests/375

[2015-07-07 21:49] durack1 commented on #1345
@aashish24 no problem, it would be great to clarify things properly so that there will be no need to move tags multiple times which just gets everyone confused.. If we set out a plan with a very defined step-by-step process, this can just be followed for each subsequent release..

[2015-07-07 23:53] doutriaux1 opened #1447 "setantialiasing not working if set too early"
[code]
I think if the rendering window is not present, this call should still set some value somewhere that will be used when the rendering window is created.

[2015-07-08 00:21] doutriaux1 opened #1448 "diags test may be much larger than necessary"
Some file in download list may contain many more variables than actually used by test suite in diags, we should consider recreating the files with only the variables we need, the current size is currently 1.4Gb.
This morning @mcenerney1 and reduced the size for 1 same file from 300Mb to 5Mb.

[2015-07-08 02:13] aashish24 commented on #1345
Sure :+1: Actually why don't we put it under the source code? Thoughts?

[2015-07-08 14:49] durack1 commented on #1345
@aashish24 sure, that's another option - I just think having a step by step will ensure that the confusion of 2.2 and earlier tags isn't replicated

[2015-07-08 14:50] durack1 commented on #1353
@aashish24 I'm not sure if there are standard directory names/conventions that should be considered when renaming/moving/removing things.. In particular I'm thinking about the eventual creation of Mac OS X *.dmg files with their standard `Contents`, `Resources` etc subdirs.. Can you chime in here?

[2015-07-09 18:37] sankhesh commented on #1446
@doutriaux1 The issue comes from [Canvas.py::portrait()](https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/Canvas.py#L4658-4663); whereby it calls `self.canvas.canvasinfo`. However, `canvasinfo` is **not** a member of the class `Canvas` defined [here](https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/Canvas.py#L4306).

Is it just the indentation that is wrong when definin

[2015-07-09 18:38] sankhesh commented on #1445
@aashish24 Where is this laptop?

[2015-07-09 19:23] allisonvacanti opened #1451 "Vector animation implementation needs finishing"
#1450 removes the VTK pipeline rebuilding code from VTKPlots.py, and with it goes a partial implementation for vector plots. I've ported this bit into unmerged commit 1ffc97a6e029d3988be8b26df3b4713ffa083181 (branch https://github.com/UV-CDAT/uvcdat/tree/update_input_vector), made sure a complete pipeline would persist through the animation steps, and added a test.

[2015-07-09 19:59] doutriaux1 commented on #1446
@sankhesh it seems to be part of it.
[code]
I'm not sure I understand your question.

[2015-07-09 21:04] sankhesh commented on #1446
@doutriaux1 Sorry I framed the question wrong.

What I meant was that `canvasinfo` is a member of class `Canvas` and hence should be used like: `dict = apply(self.canvasinfo, cargs)` instead of like `dict = apply(self.canvas.canvasinfo, cargs)` in  [Canvas.py::portrait()](https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/Canvas.py#L4658-4663)

`self.canvas` returns `vcs` object as set

[2015-07-09 21:16] sankhesh commented on #1447
This issue is fixed with my antialiasing branch and is merged in master.
The antialiasing value is cached and later used when creating the render window

Ref: https://github.com/UV-CDAT/uvcdat/commit/de85f8f36ed69b84f3f42ace6a857d5e72515cf5?diff=unified

[2015-07-09 21:16] #1447 closed

[2015-07-09 21:52] aashish24 commented on #1445
In my office, next to my screen toward the RHS

[2015-07-13 16:03] potter2 opened #1453 "opening large file using opendap both GUI and command line fail"
I am trying to open a large file in UVCDAT (both GUI and command line) and I get an error:

[8:55am] Jerrys-MBP[/Volumes/MACOSX/CFSR/QC]python
Python 2.7.9 (default, May 14 2015, 11:49:00)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.49)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

syntax error, unexpected WORD_STRING, expecting WORD_WORD
context: Error

[2015-07-13 16:26] durack1 commented on #906
@doutriaux1 just adding this link too:
https://www.youtube.com/watch?v=xAoljeRJ3lU

[2015-07-15 17:17] doutriaux1 opened #1454 "reimplement super/sub script in vcs test"
@dlonie assigining to you mostly to get answer on how to it from vtk end

Basically user used to be able to use superscript or subscript by using !U (upper) !D (sub) in their text strings

example:
[code]

[2015-07-15 17:22] doutriaux1 commented on #1454
![emc2](https://cloud.githubusercontent.com/assets/2781425/8704974/60ad63d8-2adb-11e5-813f-ba07c2f9252a.png)

[2015-07-15 17:57] dlonie commented on #1454
See http://www.paraview.org/Wiki/ParaView/Equation_Rendering (That's for paraview, but the functionality is implemented in VTK). VTK requires that python support and the vtkRenderingMatplotlib module to be enabled for this to work.

In a nutshell, VTK's text renderer can use matplotlib's `mathtext` module to produce such text by supporting a subset of LaTeX, so that string can be rendered in a vtk

[2015-07-15 18:57] doutriaux1 commented on #1454
perfect! Thanks @dlonie that is exactly what I was hoping for!
@sankhesh assigning this to you since you're already putting matplotlib in default build.

[2015-07-15 21:31] doutriaux1 opened #1455 "update bUILD_MODE instructions"
https://github.com/UV-CDAT/uvcdat/wiki/Install-from-source-command-line-options

@aashish24 you volunteered to fill the table at the end of this page a while back, it is very very usefull information, please update.

[2015-07-15 21:34] aashish24 commented on #1455
Sure!

[2015-07-16 13:50] dlonie commented on #1339
Still waiting on the patch to be merged upstream, but I've cherry-picked it to the UVCDAT VTK fork. See my last comment for details on the new API.

[2015-07-16 16:23] sankhesh commented on #1432
Fixed and merged

[2015-07-16 16:23] #1432 closed

[2015-07-16 16:24] sankhesh commented on #1400
Fixed and merged

[2015-07-16 16:24] #1400 closed

[2015-07-16 17:00] durack1 commented on #1424
@doutriaux1 seems like there are some more things which aren't being purged, reopening..

Code which includes:
[code]
Yields the following timings/memory usage in a loop:
[code]
And without:
[code]

[2015-07-16 18:02] dnadeau4 commented on #1453
You need to set your  THREDDS OPeNDAP Configuration to allow bigger files to be transferred.
This is the error I saw in the debugger

Here is an example for a 2Gb file transfer.
[code]
You can also set the maximum files size in your Java/Tomcat configuration.  Here is the reference:

http://stommel.tamu.edu/~baum/bp.html#_thredds_opendap_configuration

[2015-07-16 20:09] doutriaux1 commented on #1453
@potter2 alternatively, just get a smaller sample of a data at once (less time or smaller domain)

[2015-07-16 20:09] #1453 closed

[2015-07-17 00:51] doutriaux1 commented on #541
@aashish24 @sankhesh we are approaching ONE YEAR on this bug! This is very VERY HIGH priority! I would say top of @sankhesh list! @williams13 what do you think? There's is not a single week without a user requesting this.

[2015-07-17 13:41] sankhesh commented on #541
@doutriaux1  I'll take a look at it today.

[2015-07-17 13:44] aashish24 commented on #541
@doutriaux1 we never set this one at the top in our priority list. We should mark issues with (high  and low; already existing labels). I would suggest we discuss priorities in our two meetings specially when you hear folks asking about it (since they didn't report it to the mailing list).

[2015-07-17 18:42] durack1 commented on #1424
@doutriaux1 looks to me like even the `del` command above is not getting everything.. The memory footprint and time taken for step `6864` above shows another leak somewhere..

[2015-07-17 21:03] durack1 commented on #1059
@dnadeau4 @doutriaux1 I've been running `cdscan` across most of the local CMIP5 archive and have some interesting `errors` and `warnings` to share - some of these will be further documented at https://github.com/durack1/cmip5/issues/6

I'd be happy to discuss insights and provide feedback on any changes you're proposing

[2015-07-20 14:13] doutriaux1 commented on #541
@aashish24 I have been mentioning it to pretty much every meeting ever since the issue was reported :wink:

[2015-07-20 14:24] doutriaux1 commented on #1424
@durack1 we know there's a tiny tiniy leak in cdtime (8bits I believe) . Lots of relative/component conversion could lead to big leak eventually. But that might not be it.

[2015-07-20 14:27] aashish24 commented on #541
@doutriaux1 it wasn't mentioned in the last few meetings (others can confirm). Also, if you look back at our meeting documents, you won't find it there in the last 4 meetings.

[2015-07-20 14:47] doutriaux1 commented on #541
Hum... Pretty sure I mention it at every wednesday/kitware meeting...

[2015-07-20 14:57] doutriaux1 commented on #541
@sankhesh place holder used to be here:

https://github.com/UV-CDAT/uvcdat/blob/45488cb2a93fc3c0b1052e8ea26e404766038dc9/Packages/vcs/Lib/VTKPlots.py#L1061-1066
https://github.com/UV-CDAT/uvcdat/blob/45488cb2a93fc3c0b1052e8ea26e404766038dc9/Packages/vcs/Lib/VTKPlots.py#L1218-1222

[2015-07-20 15:02] aashish24 commented on #541
@doutriaux1 sorry no you didnt' mention :cry:

[2015-07-20 15:03] doutriaux1 commented on #541
anyhow it's a top priority now

[2015-07-20 15:51] durack1 commented on #1424
@doutriaux1, nope `cdtime` is never loaded.. So doubtful that's it..

[2015-07-20 16:15] doutriaux1 commented on #1424
@durack1 if you use cdms2 and have a time axis, you are using cdtime and trigger that leak.

[2015-07-20 16:18] durack1 commented on #1424
@doutriaux1 not sure this is enough to trigger it:

https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py#L171-177

There's no explicit time axis manipulation..

[2015-07-20 20:17] dnadeau4 opened #1460 "g2clib makefile typo"
George Britzolakis found a typo in a Makefile where $(DEFS) is defined but $(DEPS) is use in the command line for the compiler.

Here is his email:

[code]

[code]

[2015-07-20 20:20] durack1 commented on #1460
@dnadeau4 I wonder if #1408 will solve this and similar issues?

[2015-07-20 20:21] dnadeau4 commented on #1460
I have donwnloaded g2lib-1.4.0.tar in my home directory on aims4.

I will copy them under:
* /var/www/uvcdat-dev/cdat/resources/
* /var/www/cdat/resources

[2015-07-20 20:26] dnadeau4 commented on #1460
@durak1 #1408 is more about coding convention or coding style using pep8 or flake8.  This one is about some CFLAGS not being passed to the compiler and grib2 can't be read correctly in some cases.

[2015-07-20 20:29] durack1 commented on #1460
@dnadeau4 oh well, I was hoping that mis-typed/unused variables might also be caught by these checks.. I know they alert for unused module loads within python..

[2015-07-20 20:46] doutriaux1 commented on #1460
@dnadeau4 don't forget to update: https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/g2clib_pkg.cmake

[2015-07-20 21:20] dnadeau4 commented on #1460
Ok Thanks,   Got the MD5 right so far.

[2015-07-20 21:20] durack1 commented on #1460
@dnadeau4, @doutriaux1 can correct me if I'm wrong but `$LLNL_URL` points only to `/var/www/cdat/resources` as far as I know.. There is no need to duplicate in the `uvcdat-dev` tree..

[2015-07-20 21:37] durack1 commented on #1406
@aashish24 @sankhesh this looks ready for closing by #1458

[2015-07-20 21:41] dnadeau4 commented on #1460
@durack1, @doutriaux1 Is this URL still active.  In points to uvcdat-dev
http://uvcdat-dev.llnl.gov/cdat/

[2015-07-20 22:11] doutriaux1 commented on #1406
@durack1 not yet we need basemap as well

[2015-07-20 22:12] doutriaux1 commented on #1460
no it's deprecated.

[2015-07-20 22:12] doutriaux1 commented on #1460
well... I think it's used only by web devs to "preview" their changes.

[2015-07-21 14:26] sankhesh opened #1462 "Bad rendering of aeqd projection"
The following image is one of the baselines in the vcs testing suite (for `test_vcs_basic_boxfill_aeqd_proj`)

![test_vcs_basic_boxfill_aeqd_proj](https://cloud.githubusercontent.com/assets/936354/8802994/6a0ae9a8-2f92-11e5-9251-e521ef2bd5d2.png)

There is a visible seam in the center of the image. The blob over Sahara in Africa is just half shown purple.

[2015-07-21 16:29] dlonie commented on #1462
The new refactoring branch fixes a number of similar issues. See the meshfill-related baselines in UV-CDAT/uvcdat-testdata#58. The main issue there was that `doWrap` uses the scale factor set by `fitToViewport`, but was called before `fitToViewport`, so it was wrapping using the unscaled bounds.

Not sure if this is the same issue, but it sounds similar. My fix in that branch is tied up with the n

[2015-07-21 16:42] doutriaux1 commented on #1462
northern europe continents are all messed up as well. I think this issue has been present since before the refactoring though. I guess we can double check with the baseline history.

[2015-07-22 04:25] potter2 opened #1463 "Ubuntu 14.10 won't run GUI"
I installed UVCDAT on Ubuntu 14.10 and I get this when I try to load a variable to plot:

Traceback (most recent call last):
  File "/usr/local/uvcdat/2.2.0/vistrails/vistrails/gui/uvcdat/variable.py", line 594, in defineVarCloseClicked
    self.getUpdatedVarCheck()
  File "/usr/local/uvcdat/2.2.0/vistrails/vistrails/gui/uvcdat/variable.py", line 630, in getUpdatedVarCheck
    self.getUpdatedVar(t

[2015-07-22 07:21] shangbo commented on #1084
@remram44 Hi,bro~I had got this problem. But when I tried to "brew uninstall openssl" and reinstalled pyopenssl==0.13,it worked!  lease forgive my bad English...

[2015-07-22 12:01] jypeter opened #1464 "cdutil.averager should print an error message when called with 'irregular' data"
cdutil.averager should print an explicit error message when the data is on a grid it can't handle

Ideally, of course, cdutil.averager should be able to handle data on non-rectilinear grids!

One of our post-docs got the following when trying to get a global average of a CMIP5 file on the ORCA ocean grid. The sample data file (and other files with non rectilinear grids) can be downloaded from: htt

[2015-07-22 12:11] jypeter opened #1465 "Improving irregular grid support"
One of the things that should be improved and documented ( @chaosphere2112  that will be some more stuff to put on web site, maybe in a *FAQ* or *Cookbook* subsection of the Documentation) is the support of non rectilinear grids in UV-CDAT. This would be a good way to attract more users from the ferret community, rather than getting questions like *can you install pyferret for me?*

I publicly con

[2015-07-22 12:14] jypeter commented on #1406
@aashish24 I have made some data on *irregular* grids available in #1465. I think it made more sense to start a new issue

[2015-07-22 12:49] jypeter commented on #1455
:+1:

I have documented the options I used for 2.1 below. I found out about the available options by making a ccmake dry-run and checking all the options (and asking you questions...). Having more details on the web would be nice
https://wiki.lsce.ipsl.fr/pmip3/doku.php/other:uvcdat:installed#ccmake_options

If you review the options, it would be nice to check the description of each option you ge

[2015-07-22 14:48] durack1 commented on #1464
@jypeter this issue has been around for a while #402

There is a plan to attempt to get better grid support (#819) and it would be great to get some example next generation model grids to add to the test suite.

@doutriaux1 @dnadeau4 is work on `cdutil` and `genutil` to get better grid compatibility in the queue?

[2015-07-22 14:49] durack1 commented on #1465
@jypeter there is a plan to attempt to get better grid support (#819) and it would be great to get some example next generation model grids to add to the test suite.

@doutriaux1 @dnadeau4 is work on `cdutil` and `genutil` to get better grid compatibility in the queue?

[2015-07-22 15:08] jypeter commented on #1464
Yes, I found #402 but I opened this request so that the modules at least warn the end-user why they are failing (*grid not supported*) rather than just throwing an exception

[2015-07-22 15:21] jypeter commented on #1465
I would also like to know what we can do with current generation grids!

My guess is that meshfill probably fails with the example data I have provided because the files are missing some cell bounds data or some kind of ancillary metadata. But this should be documented, so that the user can easily (hopefully...) make the required changes and still plot the data

And if basemap (or ferret) can plot

[2015-07-23 00:30] cameronsmith1 opened #1466 "slab sub-selecting not working in UVCDAT GUI."
I wanted to load a variable and plot various slices (eg, surface, zonal-mean), but when I tried to sub-select slabs, I got strange behavior that stopped me doing what I needed to do.

This capability is really critical.

I was running on Rhea at OLCF, and got the same result with both 'latest' (ie 2015-06-10) and 'devel' (ie 2015-06-22)

Here is my sequence of operations:
(1) I clicked on the 'gre

[2015-07-23 03:58] durack1 commented on #1466
@cameronsmith1 just FYI there's an inability in `cdms2` currently to arbitrarily index variables (I'm referring to command-line execution here), which caused me to submit #1288 which I hope will be addressed along with the planned upgrades coming to a UV-CDAT near you fairly soon (#479, #481, #537, #576, #885, #1125 and #1059)

[2015-07-23 15:04] doutriaux1 commented on #1463
did you try to remove your ${HOME}/.uvcdat directory?

[2015-07-23 15:06] doutriaux1 commented on #1465
@dnadeau4 that's something we can look at together.

[2015-07-23 15:29] potter2 commented on #1463
Thanks, I'll try that.

Sent from my iPad

On Jul 23, 2015, at 8:04 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

did you try to remove your ${HOME}/.uvcdat directory?

—
Reply to this email directly or view it on GitHub<https://github.com/UV-CDAT/uvcdat/issues/1463#issuecomment-124133985>.

[2015-07-23 18:02] dnadeau4 commented on #1465
I would love too.  I was working on g2clib CMakefile yesterday.  When you get back let's get together!

[2015-07-23 20:25] cameronsmith1 commented on #1466
@durack1, thanks for pointing out the possible links between these issues.    As I understand it, your issue is a feature request to the routines, where as mine is for a bug fix in the GUI, but that some of the underlying changes will probably overlap. Is that correct?

[2015-07-23 20:48] dnadeau4 commented on #1460
When I add g2clib1.4.0 I get an png error for Mac OS.   Need to find out how to add or link with libpng.  The current version is libpng16 which probably need to be installed in the EXTERNALS directory.

[2015-07-23 21:46] durack1 commented on #1466
@cameronsmith1 exactly.. I have just pinged a couple of the other "interacting" issues above, apologies I wasn't trying to suggest this is a duplicate, just that with so many moving parts and changes planned and being executed by numerous parties it can't hurt to attempt to link these efforts together.

@doutriaux1 @dnadeau4 and @chaosphere2112 can speak in more detail about current development pl

[2015-07-24 16:03] doutriaux1 commented on #1460
@dnadeau4 let's get together on monday. also take a look at the makefile in our "llnl" tarball, I remenber i had to tweak it. download "ours" and "their" previous versions and make a diff to see what I changed.

[2015-07-27 17:01] dnadeau4 commented on #1460
Pushed g2clibupdate branch this morning.  I re-enabled png library, to make grib2 work with g2clib 1.4.0.  I also updated the makefile in g2clib 1.4.0 Please take a look when you get a chance.

[2015-07-27 18:42] #1193 closed

[2015-07-27 19:01] doutriaux1 commented on #1466
@cameronsmith1 I can reproduce it on my end.
Good news: Vistrails is going away so this bug will disappear with it
Bad news: No ETA yet (probably a couple of months) in the mean time you can apply your double sub-sampling at once on the original file. Or use the dimension browsing in the cell.

Both ways are not great... Sorry...

[2015-07-27 19:02] doutriaux1 commented on #1466
Reopening in case someone feels like fixing it before we take vistrails out for good.

[2015-07-27 21:35] cameronsmith1 opened #1469 "In UVCDAT GUI, have variable selection pin apply to averaging option too."
When sub-selecting a variable, there is a 'pin' so that the same range can be easily applied to many variables.   At the moment, the pin only preserves the selected range, and not the state of the 'averaging' setting.   I think users will overwhelmingly expect and prefer to have the pin apply to both the range and the averaging.

[2015-07-28 03:09] potter2 commented on #1466
I encountered the same problem using the sliders to average a dimension. The process seems to work but the new variable cannot be plotted (nothing happens when the variable is dragged to the panel). Is there a quick fix for this until vistrails is out?

[2015-07-28 03:12] cameronsmith1 commented on #1466
The solution by @doutriaux1, of going back to the load window and doing all of the selecting and averaging at that time, works for me.   It is a bit of a nuisance, but workable for me at the moment.

[2015-07-28 18:30] bonfils2 commented on #541
please, fix the hatches as soon as possible! This is critical for me! Thanks!

[2015-07-28 18:31] durack1 commented on #541
@aashish24 @sankhesh +5 for me too..

[2015-07-28 23:58] #1070 closed

[2015-07-29 12:33] jypeter opened #1470 "cdms2.write can't write a _FillValue attribute?"
The following script shows that you can add a **_FillValue** attribute to a variable, but it **will not be written to the output file**. Other attributes starting with a '_' are not written either, so I wonder if all the attributes starting with the underline character are silently ignored

Is that a bug or a feature?

Tested with 2.1

[code]

[2015-07-29 14:45] sankhesh opened #1471 "Enable R and RPY2 when building ALL"
Enable R and RPY2 with CDAT_BUILD_ALL

[2015-07-29 16:28] dnadeau4 commented on #1470
Jean-Yves,  thanks for the program which is quite helpful.  I will try to run it and take a look today.  Attributes starting with "_" should be written in the netcdf files.

[2015-07-29 20:04] cameronsmith1 opened #1473 "Is there a way to do animations of plots in v2.2.0?"
I would like to animate over one of the dimensions in a 3D-array to produce an animation within the GUI.  However, I don't see the capability in v2.2.0, and the 'slicer' doesn't appear to be available.  Am I missing these options?   Any easy work-around?
I am running on Rhea.

[2015-07-29 20:27] durack1 commented on #1473
@cameronsmith1 I can't help with GUI queries, but if you want to dive into scripting this might get you an animation (warning it's not interactive as I assume you're wanting):
[code]
If you want to hack a script there's one at:
https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py#L170-226

The way I did it was to generate each step (a single output file: `*.png`), create a list of th

[2015-07-29 21:36] chaosphere2112 commented on #1473
@cameronsmith1 Yup, there is; it's a little bit buried right now, and I apologize for that.

![screen shot 2015-07-29 at 2 30 24 pm](https://cloud.githubusercontent.com/assets/718512/8970427/84c62be6-35fe-11e5-88cc-aa364b6991dd.png)

Click on the "Edit" pencil

![screen shot 2015-07-29 at 2 30 32 pm](https://cloud.githubusercontent.com/assets/718512/8970428/84c7c83e-35fe-11e5-98ae-1ff2224ee106.png

[2015-07-29 23:02] cameronsmith1 commented on #1473
OK.   That works.  Thanks.

[2015-07-29 23:07] durack1 commented on #1473
@cameronsmith1 if you're happy with this, I suggest closing the issue..

[2015-07-29 23:49] dnadeau4 commented on #1470
I have been trying to reproduce your error without success.   I am able to create \_FillValue attributes and other attributes starting with "\_".  I am using **cdms 2.5** which is the cdms found in the **master** repository.

I also tried the libcdms tarball **libcdms-1.0.0.tar.gz** found in *http://uv-cdat.llnl.gov/cdat/resources/* and did not have any problem creating attributes starting with "_

[2015-07-29 23:50] #1473 closed

[2015-07-30 09:14] jypeter commented on #1470
I'm using the cdms2 I got from **UV-CDAT 2.1.0** (sorry, I have not had time to updgrade yet)
How do I get the cdms2 version number? Well, maybe *version* that does not works for me  works in your cdms 2.5 as well... :-)
[code]
I wanted to check the changelog page to see if some changes about cdms2 were listed there, but it seems to be down like the pages with dynamic content : http://uvcdat-dev.l

[2015-07-30 15:05] durack1 commented on #1470
@dnadeau4 @jypeter for what it's worth I think you're both talking about the same `cdms2` "version":

https://github.com/UV-CDAT/uvcdat/blob/master/Packages/cdms2/setup.py#L35

Since the evolution to UV-CDAT, the "version" of cdms2 as been tied to the UV-CDAT versioning, so:
[code]

[2015-07-30 15:38] jypeter commented on #1470
Thanks @durack1 ! So the version of cdms2 is the same as the version of UV-CDAT?
[code]
This only seems to confirm that I'm using UV-CDAT 2.1.0
Does the *2.5* mentioned by @dnadeau4 mean that he is using some UV-CDAT 2.5?

What do you get with your 2.2.0-204-geef3c60 version when you run the example script I gave? Can you get the attributes with the underline prefix?

[2015-07-30 15:45] chaosphere2112 commented on #1470
@durack1 @jypeter That use of `cdat_info` is incidental; `cdat_info` is a module packaged with UV-CDAT, and will always only reflect the current version of UV-CDAT. @dnadeau4 I believe was referring to the fact that the current version number of cdms2 in the setup.py script is 5.0; the way to get at that from userland is a little obscure:

[code]

[2015-07-30 15:53] jypeter commented on #1470
That is indeed obscure! And I'm also getting '5.0'
[code]

[2015-07-30 16:22] durack1 commented on #1470
@chaosphere2112 good point - so `5.0` is the "current" `cdms2` version.. However I caveat that this version number hasn't been updated/revised in a very, very long time (since [CDAT 5.2](http://sourceforge.net/projects/cdat/files/Releases/5.2/) (Sept 2009), or since the `cdms2 v5.0` manual was written in October 2007) and there have been many bugfixes and tweaks to `cdms2` (the largest being `ESMF

[2015-07-30 16:30] durack1 commented on #1470
@jypeter I do think you're onto something here, so I just ran your [script](https://github.com/UV-CDAT/uvcdat/issues/1470#issue-97925363) with a `uvcdat_version` tweak so we know what version I'm testing:

[code]

It seems that the `fill_value` argument to `cdms2.write` is not overwriting the existing variable `_FillValue` as you noted above - I have seen some of these unusual behaviors with the `

[2015-07-30 21:43] durack1 commented on #922
@dnadeau4 just pinging you on this issue/query as test coverage might be something that may be useful within `cdms2` updates..

[2015-07-30 23:33] dnadeau4 opened #1474 "installation script on Ubuntu 15.04 (vivid)"
I wrote a small shell script to install UV-CDAT automatically on Ubuntu.   Very simple, but very useful.

[code]

[2015-07-30 23:41] dnadeau4 commented on #922
I'll take a look I think we really need something like this.

[2015-07-31 16:18] aashish24 commented on #1474
:+1: why don't we add this to the repo?

[2015-07-31 18:05] durack1 commented on #1474
@dnadeau4 this is great, thanks.. I had some problems attempting to get `2.2.0` installing on a vanilla `Ubuntu 15.05 x64` VM and this dependency install seems to have solved it.. I've tweaked your script a little (below) adding in a more dynamic path, and starting playing with trying to ascertain the latest remote tag from git and cloning that specifically..

[code]

[2015-07-31 18:54] durack1 commented on #1474
@dnadeau4 I also had to install `m4` for the latest `master` to build, some `netcdf` changes appear to have triggered that.. I'm just reinstalling from `master` now to make sure it's all working..

I also cleaned up the `apt-get` calls, there were a couple of dupes in there, so have ordered them more cleanly in the revised version above.. (plus added `m4`)

[2015-07-31 19:14] dnadeau4 commented on #1474
I had to install m4 as well for netcdf.   I thought I changed the script
to add it, I guess I only did it in my virtual machine.  I happy this is
useful and like your contribution a lot!

Thanks,
Denis

On 7/31/15 11:54 AM, Paul J. Durack wrote:

[2015-08-03 15:05] potter2 opened #1475 "problem with opendap file"
I am trying to open a file with opendap:

[7:58am] Jerrys-MBP[/Users/potter]python
Python 2.7.9 (default, May 14 2015, 11:49:00)
[GCC 4.2.1 Compatible Apple LLVM 6.1.0 (clang-602.0.49)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Abort

No errors- just "Abort". The address works fine in grads.

Is this supposed to work?

[2015-08-03 15:30] ThomasMaxwell commented on #1475
Jerry,

     I don’t know where you got that URL, but the following should work for CREATE-IP/MERRA (are you trying to access a different version of the dataset?):

 f=cdms2.open('http://dataserver.nccs.nasa.gov/thredds/dodsC/bypass/CREATE-IP/MERRA/mon/atmos/zg.ncml')

— Tom

From: potter2 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<

[2015-08-03 15:36] potter2 commented on #1475
Tom,
I get the same error with your address..
Did you try it on your MAC?

Jerry

On Aug 3, 2015, at 8:30 AM, Thomas Maxwell <notifications@github.com<mailto:notifications@github.com>> wrote:

Jerry,

I don’t know where you got that URL, but the following should work for CREATE-IP/MERRA (are you trying to access a different version of the dataset?):

f=cdms2.open('http://dataserver.nccs.nasa.gov/t

[2015-08-03 15:39] ThomasMaxwell commented on #1475
Works fine for me from my Mac desktop at NASA:

(432, 42, 361, 540)

From: potter2 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, August 3, 2015 at 11:36 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Maxwell, Thomas P. (GSFC-606.2)[SCIENCE APPLICATI

[2015-08-03 16:51] doutriaux1 commented on #1475
@potter2 there's currently an issue with netcdf/opendap in master see: https://github.com/Unidata/netcdf-c/issues/122
@dnadeau4 maybe we can try to look at this together.

[2015-08-03 21:09] doutriaux1 commented on #1475
see: https://github.com/Unidata/netcdf-c/issues/122 it seems to be related to GUI creating .dodsrc
bad code is at: https://github.com/UV-CDAT/VisTrails/blob/uvcdat-master/vistrails/gui/uvcdat/esgf.py#L186-L214

[2015-08-03 21:19] doutriaux1 commented on #1470
@jypeter this is post 2.2.0 anyway. But I noticed that dummy2.nc has the wrong _FillValue (1.e20 where it should say 999) Will take a look unless @dnadeau4 beats me to it.
@jypeter best way to know the version you're using is:
[code]
example:
[code]
which means 215 commits past 2.2.0 exact commit: c8c7923

Hope this helps.

[2015-08-03 21:22] doutriaux1 commented on #1470
@durack1 my opinion is to make sure all PAckages are built reflecting the actual git commit used, sort of what is done in pcmdi_metrics
https://github.com/PCMDI/pcmdi_metrics/blob/master/setup.py#L5-L20

[2015-08-03 21:23] doutriaux1 opened #1476 "make sure all Packages are built with version reflecting the actual git commit used"
sort of what is done in pcmdi_metrics
https://github.com/PCMDI/pcmdi_metrics/blob/master/setup.py#L5-L20

[2015-08-03 21:24] doutriaux1 commented on #1470
https://github.com/UV-CDAT/uvcdat/issues/1476

[2015-08-03 21:44] #1406 closed

[2015-08-03 21:54] dnadeau4 commented on #1475
@potter2 an temporary solution is to comment out all the CURL mention in your ~/.dodsrc.

#CURL.COOKIEJAR=.dods_cookies
#CURL.SSL.VALIDATE=1
#CURL.SSL.CERTIFICATE=/home/dnadeau/.esg/credentials.pem
#CURL.SSL.KEY=/home/dnadeau/.esg/credentials.pem
#CURL.SSL.CAPATH=/home/dnadeau/.esg/certificates

[2015-08-03 23:11] doutriaux1 commented on #1474
@aashish24 maybe, but it's OS dependent and mostly I don't like two things:
1- It requires root privileges
2- It messes with the users' system

I think it belongs better in the pre-requiste area.

[2015-08-03 23:16] doutriaux1 commented on #1475
yep confirmed:
[code]

[2015-08-03 23:59] durack1 commented on #576
@dnadeau4 as discussed with @doutriaux1 moving to [`ESMPy`](https://www.earthsystemcog.org/projects/esmpy/) is probably the best investment in time for this issue.. The existing `API` being using will likely lose support once `ESMPy` is formally released.

[2015-08-04 00:01] potter2 commented on #1475
I deleted ~/.didscr and then it worked.

Thanks for finding this!

[2015-08-04 03:15] aashish24 commented on #1192
I am re-opening this issue as @sankhesh was able to reproduce it. @sankhesh how did you solve the problem?

[2015-08-04 05:14] durack1 commented on #1462
@dlonie are there plans to add some projection examples (Mollweide, Robinson) into the test suite? These are where some of the more obvious errors have appeared in `2.2.0`

[2015-08-04 12:59] dlonie commented on #1462
@durack1 I'm not working on VCS any longer, only on VTK, so I have no plans to add further tests for VCS. Please talk with @sankhesh or @doutriaux1 about VCS specific issues.

[2015-08-04 13:21] jypeter commented on #1470
Thanks @doutriaux1 !

So, we know that there was a problem, in 2.1, and that it is partly  solved (except for the *fill_value=999.999* problem) in *master*. But can somebody say if it was already solved in 2.2? I only work with your official releases and I still have not had time to install 2.2.0

And #1476 mean that the UV-CDAT specific packages will have a `.__version__` attribute? This will be

[2015-08-04 13:46] sankhesh commented on #1192
I haven't solved the problem. I was able to work around it using @ThomasMaxwell's instructions.

[2015-08-04 14:23] sankhesh commented on #541
@doutriaux1

I see that the hatches/patterns are accessed using an index in range from 1 to 20. Where is the list of patterns that this index points to?

[2015-08-04 16:14] aashish24 commented on #541
@sankhesh yup, this is a top priority now since we took care of others as of now. Ping @doutriaux1 or me as much as you need.

[2015-08-04 16:17] dlonie commented on #541
@sankhesh I had a similar question on March 12 above. I don't think they care about matching the old version's patterns, just that there is something.

[2015-08-04 16:21] aashish24 commented on #541
Yup, first pass would be to get something working (just so that we have patterns). In a second pass we can try to match the patterns (and that should be a easier task).

- Aashish

[2015-08-04 16:22] chaosphere2112 commented on #541
There's the example at the top of this thread that shows all of the patterns, though I don't know of any other documentation that lists them.

[2015-08-04 16:23] durack1 opened #1477 "Update spyder to 3.0.0"
The Spyder 3.0.0 beta1 is currently available, so will grab this source for testing and prepare for the final release

[2015-08-04 16:23] aashish24 commented on #1192
Okay, in that case, we will keep this issue open. We should fix it properly when we get a chance.

[2015-08-04 16:32] doutriaux1 commented on #1192
@aashish24 @sankhesh I wonder if we shouldn't edit/get rid of https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules_extra/cdat_common_environment.cmake.in and instead tell our build command to source setup_runtime.sh

[2015-08-04 16:37] doutriaux1 commented on #1462
@sankhesh is that in your area of expertise? @aashish24 should we find someone at Kitware who is an expert at these? Lots of work is needed with projections it might be worth it.

[2015-08-04 16:41] aashish24 commented on #1462
@doutriaux1 is this a projection issue or a wrapping issue?

[2015-08-04 16:49] dnadeau4 commented on #1470
@jypeter  I found the code in cdms2 where attributes are being set,  I think I need a special call to the netcdf library to set _FillValue and it will require me to change/add new methods to cdms2.  I need to investigate a little more, but a solution is feasible.  As well, it seems like _FillValue for cdms2 can only be float.  A lot to think about before making this happen,  I suggest that you use

[2015-08-04 16:54] doutriaux1 commented on #541
@sankhesh yes as @chaosphere2112 the pattern are shown on the pix above. Code to generate them in cairo are at: https://github.com/UV-CDAT/uvcdat/blob/release/Packages/vcs_legacy/Src/xgks/cairo/meta2cairo.c#L616-L1073
Ideally it would be nice to be able to add a "custom" type and pass a png file for it. But that is not necessary.

[2015-08-04 16:55] doutriaux1 commented on #541
@sankhesh also pattern and hatch are essentially the same except pattern are black and white and hatches are colored instead of black.

[2015-08-04 17:03] aashish24 commented on #1474
@doutriaux1 I guess we can convert it into ansible or docker script and then put it in the repo.

[2015-08-04 17:15] jypeter commented on #541
They are probably listed in an old xgks documentation... Try to emulate the matplotlib patterns! ;-)
--
JYP @ SGS 2

[2015-08-04 17:16] sankhesh commented on #541
Sounds good. I'll post some images here once I have something.

[2015-08-04 17:59] jbeezley commented on #1474
We already have a docker script that does essentially the same thing.

[2015-08-04 18:01] aashish24 commented on #1474
thanks @jbeezley for the reminder -:)

[2015-08-04 18:02] doutriaux1 commented on #1462
The latest I've seen are wrapping issues, drawing the boxes/isofills accros the globe when going 5->355, instead of splitting it into 2 boxes. One way to "know" how to treat cells like this is to look if the vertices go clockwise vs counterclockwise.

[2015-08-04 22:30] durack1 opened #1479 "Problems writing netcdf data - _FillValue error"
@doutriaux1 this error has appeared, which doesn't seem obviously wrong (user error) - I'm curious if this is related to #1470:

[code]
Yields the following output:
[code]

[2015-08-04 22:39] doutriaux1 commented on #1479
@durack1 it worked for me 2 minutes ago on crunchy with the same version... Odd.
Although I didn't use the setNeCDFDeflate flags... I think you're right it is the same issue as #1470

[2015-08-04 22:55] durack1 commented on #1479
Ok @doutriaux1 @dnadeau4 it seems like the type of the `_FillValue` is getting confused during read/write:
[code]

So this kludge gets it synced back to a consistent type with `slab` (`float32`):
[code]

[2015-08-04 23:08] durack1 commented on #1463
@potter2 did that work, can we close this issue?

[2015-08-04 23:18] potter2 commented on #1463
Yes, please

Sent from my iPhone

On Aug 4, 2015, at 4:08 PM, Paul J. Durack <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> did that work, can we close this issue?

—
Reply to this email directly or view it on GitHub<https://github.com/UV-CDAT/uvcdat/issues/1463#issuecomment-127791474>.

[2015-08-04 23:47] #1463 closed

[2015-08-05 17:44] doutriaux1 opened #1481 "master fails on RH6/CentOS6"
see: https://open.cdash.org/viewTest.php?onlyfailed&buildid=3940803

[2015-08-05 17:45] doutriaux1 commented on #1481
@sankhesh @jbeezley I'm going to try to get the buildbot server going here. Can you try in the meantime to get your CentOS VM talk to your buildbot server? Thx.

[2015-08-05 17:47] doutriaux1 commented on #1481
@dlonie can you remind us what the various part of the picture supposed to be on CDASH?
I usually useft left vs right, but in the test it seems that bottom/top is completely different. For example:
https://open.cdash.org/testDetails.php?test=360286757&build=3940803

[2015-08-05 17:50] dlonie commented on #1481
Heh, yeah....CDash doesn't handle multiple images very well.

As I understand it, Top Left is the first test image, Top Right is the first reference image, and Bottom Left/Right are the same for the second image. Any others aren't shown in the fancy slider widget.

I usually just look at the image diffs that follow the slider when more than two images are present.

[2015-08-05 17:54] dlonie commented on #1481
FWIW, the labeled isoline tests are failing due to the lack of a stencil buffer in the GLX visual. @durack1 and @jbeezley had some additional insights in the discussion on #1456.

[2015-08-05 17:57] doutriaux1 commented on #1481
@jbeezley to follow up on your idea at #1456 here the xwininfo output:
[code]

[2015-08-05 21:25] doutriaux1 opened #1482 "update should try not to clear"
in VTKPlot.py the update function clears all display and redraws everything.

Now we have the update_input function that in most case (no change to template or graphic method) would be faster and would prevent a clear.

@dlonie I believe with your refactoring this update function should eventually be able to take advantage of the new pipeline even if a graphic method changed, right?

[2015-08-06 09:51] jypeter commented on #1470
@dnadeau4 don't worry about a quick patch, this whole issue is not blocking for me. I only started it because somebody mentioned the problem on the uvcdat-support list

[2015-08-06 12:31] dlonie commented on #1482
@doutriaux1 I'm not sure. I see the `update` function in VTKPlots.py, but it's undocumented and I'm not sure what it's supposed to do or what it's updating.

The pipeline classes allow an existing graphics method to re-execute if a data source changes (e.g. changing time steps) or the rendering parameters change (e.g. a window resize) without the need to rebuild the pipeline from scratch.

[2015-08-06 15:43] #1471 closed

[2015-08-06 15:45] sankhesh commented on #1338
Can this issue be closed now?

[2015-08-06 16:41] sankhesh commented on #541
**UPDATE:**

I have this working partially with isofill plots.

![test_fillarea](https://cloud.githubusercontent.com/assets/936354/9117386/cef3cad6-3c37-11e5-8e7b-4db641c778b3.png)

I still have some issues that I am looking at.

* Figure out why only a partial area is filled with pattern
* Understand difference in contourLevels and contour values
* Add support for different patterns and hatches
*

[2015-08-06 16:47] #1338 closed

[2015-08-06 17:07] potter2 commented on #1338
This still doesn’t work on the version I just built.

Jerry

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov<mailto:gerald.potter@nasa.gov>
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

On Aug 6, 2015, at 9:47 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #1338<

[2015-08-06 19:20] sankhesh commented on #1338
@potter2

What is the git SHA1-sum of your UV-CDAT source tree HEAD?

If it is after 73617d1, then could you please post your test script for me to try?

[2015-08-06 21:13] sankhesh opened #1483 "Fonts not installed at the right location on Mac OSX"
I've been testing UV-CDAT on Mac OSX Yosemite (10.10.4)

UV-CDAT builds and installs fine. But when I try to run any python script, it throws a bunch of errors like:
[code]

In short, the issue is in [install.py.in] (https://github.com/UV-CDAT/uvcdat/blob/21e26d07b78f9a1940867362d68c0705fad1d550/CMake/cdat_modules_extra/install.py.in#L742-L758)

The target_prefix in the above link points to ``<bui

[2015-08-06 21:22] durack1 commented on #1483
@sankhesh I wonder what other goodies and changes are in store with the `OS X 10.11 Public Beta 4` that is currently available and will likely make it into the final release.. I know they've updated the system `Python` to `2.7.10`, but wonder what else has changed.. Might be worth adding that to the buildbot test list (#1384)

[2015-08-07 04:23] doutriaux1 opened #1484 "colormap need user level func to set colorindices"
Bill Hayes reported:
[code]
However the following works to set and get values:
[code]
THe user here is using internal/private functions
The correct call is
[code]

However, since 2.2 graphic methods are allowed to have their own colormap so we should have actual function on the colormap object to set the colors (rather that the private ones only)

[2015-08-07 19:11] sankhesh commented on #1483
@durack1

:+1: for adding to buildbot test list

Although, I am not sure if this issue is related to a specific OS X version.

[2015-08-10 23:45] doutriaux1 opened #1486 "pip/easy_install error in some build"
@sankhesh @aashish24 I will need some kitware help with this.

Basically easy_setup/pip write an egg to:
[code]
when it adds a package.
Now since I'm using -j8 it appears that multiple pip/setup.py are writing t the file at the same time resulting in dateuitl not being in the file:

site-package listing (shows dateutil is here):
[code]

DATEUTIL build/install log stipulating it writes this to easy

[2015-08-10 23:47] doutriaux1 commented on #1486
possible solution tell dateutil/pip to NOT use eggs

[2015-08-10 23:56] doutriaux1 commented on #1339
@potter2 it's in master please try.

[2015-08-10 23:56] #1339 closed

[2015-08-11 03:36] potter2 opened #1487 "isoline labels still defective"
I just bult UVCDAT from master and the isoline labels now work. The spacing is still broken but something needs to be fixed about the round-off.
![isoline_example](https://cloud.githubusercontent.com/assets/2963950/9189597/72985994-3f9f-11e5-8514-7691823c8eed.png)

[2015-08-11 12:23] williams13 commented on #1487
Thanks Jerry for testing. Can you test two things: (1) change the color of the isoline text labels to “white”; and (2) change the background of the text labels to “white”? This should allow better viewing of the isoline labels.

-Dean

From: potter2 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Mon

[2015-08-11 16:14] doutriaux1 commented on #1487
@sankhesh can you look into the roundoff please?
@dlonie can we control the label background color? @sankhesh we can add to the python interface if/when the feature exists in VTK.

[2015-08-11 16:19] potter2 commented on #1487
Thank you Charles, I was just going to ask you how do do this.

On Aug 11, 2015, at 9:14 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@sankhesh<https://github.com/sankhesh> can you look into the roundoff please?
@dlonie<https://github.com/dlonie> can we control the label background color? @sankhesh<https://github.com/sankhesh> we can add to the python i

[2015-08-11 16:24] dlonie commented on #1487
See `vtkTextProperty::SetBackgroundColor` and `vtkTextProperty::SetBackgroundOpacity` for background coloring.

[2015-08-11 16:25] sankhesh commented on #1487
@doutriaux1 @potter2

I can add the background color and opacity API to VCS.
I'm not sure I understand what the roundoff issue is?

[2015-08-11 16:27] sankhesh commented on #1487
@potter2

You have to explicitly set the `labelskipdistance` parameter on the isoline to make the spacing work. Here is an [example] (https://github.com/UV-CDAT/uvcdat/blob/294d67d904c83e19ac060a668c5152e30671de3e/testing/vcs/test_isoline_labelskipdistance.py#L22).

`labelskipdistance` represents the minimum distance between two isoline labels. By default, it is 0.

[2015-08-11 16:36] doutriaux1 commented on #1487
@sankhesh look at @potter2 pix, the "0" (zero) isoline labels do not say "0" but 1.E-16 or something like that.

[2015-08-11 16:44] doutriaux1 commented on #1487
actullay it says -4.4E16

[2015-08-11 16:53] sankhesh commented on #1487
I see. I can take a look at that as well.

[2015-08-13 17:36] dlonie commented on #1407
Still got a ways to go, but some progress on a local branch:

<img width="303" alt="context" src="https://cloud.githubusercontent.com/assets/58744/9256837/0c77a6ce-41c0-11e5-8a53-4257b3b7daa1.png">

This is currently built via a very manual process in the testing script, next step is to wrap it up with a nice interface so it can be easily configured.

[2015-08-13 17:44] aashish24 commented on #1407
This is looking awesome!!!! I am assuming that we can set the precision on the labels easily.

[2015-08-13 18:05] dlonie commented on #1407
vtkAxis autodetects the precision based on the range of the data so that each tick shows something unique. This can be overridden, though.

[2015-08-13 18:21] doutriaux1 commented on #1407
Nice! We (I guess @sankhesh and @doutriaux1 ) just need to link this back to the template and graphics methods once you ironed it out! That's great!

[2015-08-14 05:43] doutriaux1 commented on #1192
@sankhesh so i was looking at this tonight. It's interesting if I build with
[code]
No eggs, everything happy.
If I build with
[code]
egg for Cython...
The difference seems to be that in the first case setuptools is NOT built.
I'm testing the solution at:
http://stackoverflow.com/questions/27964960/pip-why-sometimes-installed-as-egg-sometimes-installed-as-files
As we speak, will see if that fixes

[2015-08-14 05:44] doutriaux1 commented on #1192
the good news that both my RH6 bots with make -j12 seem to trigger this error. So we can test our solutions.

[2015-08-14 05:50] doutriaux1 commented on #1192
the bad news is ${HOME} solution above does not solve it

[2015-08-14 06:24] doutriaux1 commented on #1192
ok there's hope the following works:
[code]
as described at: http://stackoverflow.com/questions/18300017/how-to-prevent-setuptools-install-package-as-an-egg

[2015-08-14 06:26] doutriaux1 commented on #1192
@sankhesh it's probably worth looking at: https://github.com/pypa/pip/pull/2537
@jbeezley I see you commented on the issues related to this link for girder. Any insight? https://github.com/pypa/pip/issues/271

[2015-08-14 12:36] jbeezley commented on #1192
I don't think either of those pip issues are relevant here.  My guess to what is happening is you are hitting [this condition](https://github.com/cython/cython/blob/master/setup.py#L71) in cython's `setup.py`.  When setuptools isn't found, the `cython` entry point isn't configured.  This causes scipy's install to go [here](https://github.com/scipy/scipy/blob/master/tools/cythonize.py#L75) because

[2015-08-19 03:13] sankhesh commented on #541
UPDATE:
![test_fillarea](https://cloud.githubusercontent.com/assets/936354/9347954/6dfb09b2-45fe-11e5-81de-7183a4affef1.png)

Very close now.
Remaining issues:

* Currently only 6 patterns added. Add new patterns.
* Wrapping causes the textures to be unevenly applied. Need to invert the texture transform matrix
* Fix legend
* Support for colored patterns i.e. hatches

[2015-08-19 16:27] bekozi opened #1494 "VTK build error on Linux"
Hi. I am attempting to build from source and getting the VTK error below. The output from cmake is here: https://gist.github.com/bekozi/7d7b68f9198e4373e124. I am building at the 2.2.0 release commit (https://github.com/UV-CDAT/uvcdat/commit/45488cb2a93fc3c0b1052e8ea26e404766038dc9).

I may need to install OpenGL?

Thanks!

[code]

[2015-08-19 16:29] aashish24 commented on #1494
@bekozi I would suggest uvcdat-support@llnl.gov is the best forum for such discussions. On your question: Yes, you would need to install GL libraries (mesa or proprietary). What system you are using?

[2015-08-19 17:53] bekozi commented on #1494
Thanks @aashish24. I missed the bit about OpenGL on the system requirements wiki page. I was able to build successfully after running ``sudo apt-get install mesa-common-dev freeglut3-dev``. I am using Linux Mint 17.1 (Ubuntu 14.04).

[2015-08-19 17:53] #1494 closed

[2015-08-19 17:55] aashish24 commented on #1494
great..thanks. I believe we do have that listed (which I hope you are saying as well). If not, we will make sure its there.

[2015-08-19 17:56] bekozi commented on #1494
Yeah, it's listed here: https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements#ubuntu. It wasn't in the "must have" category...

[2015-08-19 17:57] aashish24 commented on #1494
Thanks. I will fix that. If you have the graphics is ON, it is a must

[2015-08-19 17:59] bekozi commented on #1494
I built more or less exactly from the Linux build instructions: https://github.com/UV-CDAT/uvcdat/wiki/Build-on-Linux. No special arguments.

[2015-08-19 18:36] potter2 opened #1495 "postscript output is broken"
The postscript output is broken. There are lines all over the plot and the plot is clipped.
![hus_merra_32_42_and_32_35_-125_-120_-125_-120__2014-10-01_2014-12-31](https://cloud.githubusercontent.com/assets/2963950/9365461/8a895922-4666-11e5-8868-e821c31669ec.png)
The .png works fine but the figures are raster drawn and can't be enlarged much

[2015-08-19 18:39] potter2 commented on #1495
here is the output:
[11:29am] Jerrys-MBP[/Volumes/LaCie_SSD/HF_QC]cdat -i hofmuller_vis_hus.py hus 32 42 32 35 -125 -120 -125 -120 2014-10-01 2014-12-31 /Volumes/LaCie_SSD/HF_QC/hus_6hr_reanalysis_MERRA_2014120103-2014123121.nc
/usr/local/uvcdat/2.2.0/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/VTKPlots.py:1562: UserWarning: the right_margin keyword for postscr

[2015-08-19 18:53] potter2 commented on #1495
Maybe it is OK the .pdf works fine and can be enlarged. You can close this if you want but we should make some comment about postscript or just take it out

[2015-08-19 20:30] durack1 commented on #1495
@potter2 my preferred output format is vector, so `*.ps` or `*eps` files would certainly be my preference.. What is the problem with the top image - the white "boxing" is a common artifact with `*.ps` rendering software, rather than a problem with the file.. What clipping is apparent - not clear to me from your plot above..

I do see some other artifacts such as the y- and x-axis labels, and the t

[2015-08-19 20:49] potter2 commented on #1495
The right side of the .ps plot doesn’t show. It is there in a .png or .pdf. The title is something I’m doing separately. Here is what the plot should look like.
[cid:DBA331D7-56AD-4019-8FFE-39C42DDE736C@attlocal.net]
On Aug 19, 2015, at 1:30 PM, Paul J. Durack <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> my preferred output format is vect

[2015-08-21 15:59] jypeter commented on #1465
I have finally managed to plot some data on the ORCA grid with matplotlib+basemap, with the ``plot_ORCA-cleaned.py`` script in https://files.lsce.ipsl.fr/public.php?service=files&t=ca134197a67c3cd311df6ede04747f6f. There is also a higher resolution version of the plot below in the same directory

I had to make changes to the input data (mostly *np.rolling* the data to the left) in order not to get

[2015-08-21 18:09] dlonie commented on #1407
More progress, I have a vtkContextArea class that takes care of setting up the clip/transform/axes/grid/etc. Just need to get things working on the OpenGL2 backend, which is looking to be rather tricky. Hope to finish it up next week.

vtkContextArea API: https://gitlab.kitware.com/dlonie/vtk/blob/c362e6b618425e3b03f34e51ac7535ebfffcad71/Charts/Core/vtkContextArea.h
Example Usage: https://gitlab.k

[2015-08-21 19:07] aashish24 commented on #1407
Nice @dlonie. We don't need OpenGl2 stuff yet (although it would be nice to get it done). If you are far enough, then i would suggest keep going with it.

Thanks

[2015-08-23 15:03] aashish24 opened #1497 "Enable NCO and CDO build support"

[2015-08-23 20:41] durack1 commented on #1497
@aashish24 is there any particular reason why this is required? These packages duplicate the functionality already present in UV-CDAT..

[2015-08-24 16:36] doutriaux1 commented on #1497
@durack1 they will be added into cdat and python wrapped. They're very fast and used broadly. @czender is looking into this.

[2015-08-24 16:38] durack1 opened #1498 "cdms2 not building in current master"
As per latest local build:
[code]

[2015-08-24 16:39] aashish24 commented on #1497
@durack1 yes some of the functionality is duplicated but not all as I understand, plus they are used by a much larger community. @czender any idea when it will get done?

[2015-08-24 16:47] doutriaux1 commented on #1465
We could probably do that as well, just a matter of generating an irregular grid w/o cell data just point data. @aashish24 @sankhesh what do you think?

[2015-08-24 16:53] czender commented on #1497
The ACME WF schedule has this to be completed by 12/31. Python wrappers for NCO work. It's all about build infrastructure and repositories now. Currently coodinating integration of NCO and PyNCO. Then will pass to @doutriaux1 for comments. Re: CDO, no idea if or when, though it would be similar to adding NCO.

[2015-08-24 17:02] ThomasMaxwell commented on #1497
Charlie,
   In your NCO python wrappers, are you passing the data directly to NCO in memory, or are you calling the command line operators from python?

— Tom

From: Charlie Zender <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, August 24, 2015 at 12:53 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.g

[2015-08-24 17:38] czender commented on #1497
Wrappers call NCO from python. Author is @jhamman and implementation is https://github.com/jhamman/nco-bindings
Comments/suggestions welcome.

[2015-08-24 18:04] doutriaux1 commented on #1495
@dlonie @sankhesh @aashish24 any siggestion? @potter2 I think it's mostly a viewer issue do they print ok?

[2015-08-24 18:14] doutriaux1 commented on #541
@sankhesh that is great! quick comment, when using pattern, fillareacolor should be ignored. When using "hatch" fillareacolors should be used to color the patterns.

[2015-08-24 18:16] doutriaux1 commented on #1498
yes it is broken in full. Thanks for providing an official bug number will fix today.

[2015-08-24 19:02] dlonie commented on #1495
@durack1 Just FYI, PDF is also a vector format and can be used in place of ps/eps for most purposes.

@potter2 Can you provide the actual .ps file, and a png of the same image for reference? @durack1 is correct about the 'lines', these are common artifacts from that result viewing a vector image with anti-aliasing enabled. Turning off anti-aliasing in the viewer (if possible) will fix that. The cl

[2015-08-24 20:24] jhamman commented on #1497
Exactly.  The python nco and cdo bindings are just `subprocess` wrappers that operate on netCDF files on disk.  The API's in CDO and NCO are not particularly well suited to support in memory python bindings (although that would be cool). In reality, the system call in the python bindings is typically quite cheap compared to the NCO or CDO operation so it doesn't really impact perfomance.

[2015-08-24 20:38] sankhesh commented on #541
@doutriaux1

I think the white background is a subset of the current functionality. fillareacolor should be explicitly set to white (255) when using patterns.

[2015-08-24 20:40] doutriaux1 commented on #1497
@czender I thought the actual binding was what you were working on. Is it going to be "just" subprocess calls? @williams13 was it your understanding as well?

[2015-08-24 20:42] doutriaux1 commented on #541
@sankhesh I'm just telling you how it used to work, we want to preserve backward compatibility as much as possible.

[2015-08-24 20:43] doutriaux1 commented on #541
@sankhesh it is easy enough for us to detect "pattern" and turn if back to "white" internally. Same for "hatch"

[2015-08-24 21:21] czender commented on #1497
Yes, the Python bindings in nco-bindings (aka PyNCO) are "just" subprocess calls. A library API with Python wrappers for every routine is beyond the scope of what we can do in the near term. But it's good to think big :) Anyway, this is what we have to start with. Feedback welcome.

[2015-08-24 21:32] durack1 commented on #541
@doutriaux1 @sankhesh as a user, I'd certainly be happy to deal with new defaults if they really do provide progress or new functionality..

As with some of the other functions, for a change a user could be alerted with a warning message in the console for e.g. that would repeat a number of times and be turned off similar to the `cdms2.setCompressionWarnings()` function

[2015-08-24 21:39] potter2 commented on #1495
Actually, the .pdf works fine so maybe just remove the .ps option. The .ps is clipped on one side and there are straight white lines all over the plot. It looks lie a postscript version issue.

On Aug 24, 2015, at 11:04 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@dlonie<https://github.com/dlonie> @sankhesh<https://github.com/sankhesh> @aashish24<https

[2015-08-24 21:49] ThomasMaxwell commented on #1497
Thanks for the feedback.   This is a great start.   I would offer that, since most of these operations are highly IO bound, having a library API supporting in-memory operations would be an excellent future goal.   In order to embed an NCO operation in an analysis pipeline one currently would have to write the input data to disk, call the NCO operator, and then read the result back from the disk.

[2015-08-24 21:54] durack1 commented on #1495
@dlonie I'd prefer that the `*.ps/*.eps` option remains..

[2015-08-24 22:26] jypeter commented on #541
I'm not sure backward compatibility is such an issue here, when patterns have been broken for quite some time, and not overly advertised when they worked.

There can't be that many existing scripts using patterns.

So, if breaking compatibility a  bit will make better or more useful patterns, go for it.

As long as they look good on the screen AND in png AND pdf output...

I've already requested t

[2015-08-24 22:26] doutriaux1 commented on #541
@durack1 you do not have years of script with hatching in them though, unlike some of our users here... So I say let's try to keep it exactly the same as much as possible.

[2015-08-24 22:30] durack1 commented on #541
@doutriaux1, my point (which mirrors @jypeter) was that if there is a better/cleaner/faster way of doing this, then go for it rather than having to tweak the settings within scripts from a few users that haven't been able to generate hatched plots for years anyway - since UV-CDAT 1.0 or similar?

If it's broke, fix it, and while you're at it make it better/cleaner/faster..

[2015-08-24 22:57] doutriaux1 commented on #541
and my point is that now we will need to
* add an attrbute for hatch color (when fillareacolor used to work)
* force the user to set colors to blank if they want patternon top of another plot (when they didn't need to)
I don't see how this is any improvement.

[2015-08-24 23:04] durack1 commented on #541
@doutriaux1 more (documented) functionality and control is good.. If I have to add another attribute/variable to my function call, but I get more control as a side-effect then it's all good for me..

In particular being able to control hatching colour would be ideal, that means you can more granular-ly control the impact of adding the hatching to your plot..

[2015-08-25 00:27] doutriaux1 commented on #541
@durack1 that exactly what the old functionality was doing and what I'm trying to get back :wink:

[2015-08-25 01:14] durack1 commented on #1498
@doutriaux1 it would be useful to add a test for this, if in fact it's not triggering an error in the current `ctest` suite..

[2015-08-25 03:56] doutriaux1 commented on #1497
@ThomasMaxwell @czender the latest netcdf has the capability to write "in memory" files, that might be the best way to deal with this.

[2015-08-25 12:54] dlonie commented on #1495
@potter2 Again, the straight white lines are a viewer anti-aliasing issue. Turn that off in the viewer and they should go away. The clipping can also be from the viewer, some assume letter/A4 size for all images, but that's hard to say without seeing the postscript file in question. The lines are definitely a well-known problem with anti-aliasing postscript renderers, though.

[2015-08-25 16:33] #1192 closed

[2015-08-25 16:33] #1486 closed

[2015-08-25 17:40] doutriaux1 commented on #1495
@potter2 which OS/viewer are you using? Kind you please put the postscript file in a dropbox?

[2015-08-25 17:43] potter2 commented on #1495
I think I deleted it. I’ll generate a new one.

On Aug 25, 2015, at 10:40 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> which OS/viewer are you using? Kind you please put the postscript file in a dropbox?

—
Reply to this email directly or view it on GitHub<https://github.com/UV-CDAT/uvcdat/issues/1495#issuecomment-13

[2015-08-25 17:54] doutriaux1 opened #1499 "runtest does not understand mpi -n arg"
When we switched to runtest, we didn't realize it broke all mpi test -n 2 is not understood.

[2015-08-25 17:54] doutriaux1 commented on #1499
this shows up on bots -DCDAT_BUILD_MODE=ALL

[2015-08-25 21:55] sankhesh commented on #541
**UPDATE:**

Okay, I have the patterns and hatches working for isofill plots. The legend fillarea works as well.

![test_fillarea](https://cloud.githubusercontent.com/assets/936354/9480521/a5f6dfb4-4b51-11e5-9d1a-0b282cf6d709.png)

![test_fillarea_list](https://cloud.githubusercontent.com/assets/936354/9480529/b49c4bda-4b51-11e5-862e-40e40795db8e.png)

@doutriaux1
I haven't added any additional AP

[2015-08-25 22:49] doutriaux1 commented on #541
@sankhesh please do not use fillareacolor for pattern, leave it transparent. A tpyical use case of pattern/hatch is to plot an isofill of a variable and then plot a patterned isofill on top of it to show area of statistical significance. So you do need to see the original isofills plotted underneath it.

[2015-08-25 22:50] doutriaux1 commented on #541
@sankhesh look at @jypeter original png.

[2015-08-25 23:34] durack1 commented on #541
@sankhesh as an example I'd want to use stippling/hatching to overplot already existing colours showing regions of significance/non-signficance - so transparency is certainly important to me. For a visual example I've appended a file below:
![131014_durack wijffels2010_basinzonalchgs_ar5-final-fig3p9-colourprofile-cmyk](https://cloud.githubusercontent.com/assets/3229632/9482264/14fa1ef4-4b47-11e5-

[2015-08-26 00:12] bonfils2 commented on #541
@sankhesh I love the diversity of hatches, but I agree with @doutriaux1 and @durack1 and confirm that transparency is the most crucial feature. I will exclusively use the hatches function to display regions of significance.

[2015-08-26 00:18] doutriaux1 opened #1501 "mac dv3d sample data put in different place"
data_file is used in setup.py to move the sample_data file. This leads to a path that is different on mac (Framework etc..)
see: https://open.cdash.org/testDetails.php?test=366620272&build=3974508

[2015-08-26 03:47] sankhesh commented on #541
Sure. I'll make the pattern background transparent.

[2015-08-26 04:24] durack1 commented on #541
@sankhesh transparent by default would be awesome.. If it's not too hard, also being able to toggle that would also be useful functionality, if it's already in there and easy to expose that would be ideal..

[2015-08-26 16:13] doutriaux1 commented on #541
@durack1 i think the toggle might just add a level of complexity which can easily be replace by simply plotting the data once, once with pattern on, once w/o... The simpler the code the easier it will be to maintain!

[2015-08-26 16:16] durack1 commented on #541
@doutriaux1 my preference is to add *well documented* functionality, with intelligent defaults.. If there are options for granular control I'd like them exposed for *power* users..

[2015-08-27 15:48] ThomasMaxwell commented on #1497
Dean,

   Is the 2015 ESGF Conference<http://www.cvent.com/events/earth-system-grid-federation-esgf-conference-2015/event-summary-89df663c495a4c03b52523abc05df8be.aspx> going to be a combined ESGF & UVCDAT F2F meeting (as in the past)?

Thanks,
Tom

[2015-08-27 16:46] #1499 closed

[2015-08-27 17:28] sankhesh commented on #541
@doutriaux1 @durack1 @aashish24 @bonfils2

I added a parameter called `opacity` to the `fillarea` template. This opacity behaves differently based on the fill area `style` as follows:

* solid: Solid fill opacity
* pattern: Background fill opacity
* hatch: Foreground opacity

**Exhibit 1: Patterns with different opacity values**
![test_fillarea](https://cloud.githubusercontent.com/assets/936354/95

[2015-08-27 17:43] doutriaux1 commented on #541
@sankhesh so you made the opacity a list, correct? That's a great idea, I was thinking of just one value applied to all levels, but that's even better!

[2015-08-27 17:47] doutriaux1 commented on #1466
@rexissimus any progress on this?

[2015-08-27 17:48] doutriaux1 commented on #1455
@aashish24 don't forget about this please.

[2015-08-27 17:48] durack1 commented on #541
@sankhesh this is great, is it possible to also include a "stippling" option in the hatch/pattern selections - so most specifically [as above](https://github.com/UV-CDAT/uvcdat/issues/541#issuecomment-134770577)

[2015-08-27 17:48] doutriaux1 commented on #1448
@mcenerney1 any chance this gets fixed for 2.4? Should I move to 3.0?

[2015-08-27 17:50] doutriaux1 commented on #1439
@sankhesh on your "would be nice list" should we move it to 3.0?

[2015-08-27 17:51] doutriaux1 commented on #1428
@chaosphere2112 @rexissimus can one of you take a quick stab at this?

[2015-08-27 17:51] doutriaux1 commented on #1427
@aashish24 reassigning this to you.

[2015-08-27 17:53] doutriaux1 commented on #1424
@dnadeau4 we should take a look at the tiniy cdtime/cdms leak

[2015-08-27 17:53] doutriaux1 commented on #1423
@durack1 can you please refresh my memory on this?

[2015-08-27 17:54] doutriaux1 commented on #1397
@aashish24 this is very important. Assiging to you I think you dais you were looking into it.

[2015-08-27 17:56] #1501 closed

[2015-08-27 18:01] durack1 commented on #1423
@doutriaux1 was it something like:

[code]

[2015-08-27 18:02] doutriaux1 commented on #541
@durack1 what is stippling? Another pattern style?

[2015-08-27 18:02] doutriaux1 commented on #1423
x.removeobject does need an object to be passed to it I believe.

[2015-08-27 18:03] doutriaux1 commented on #1423
x.clear() should only clear the screen

[2015-08-27 18:03] durack1 commented on #541
@doutriaux1 @sankhesh so the opaque grey dots in the [figure above](https://github.com/UV-CDAT/uvcdat/issues/541#issuecomment-134770577)

[2015-08-27 18:04] durack1 commented on #1423
@doutriaux1, yes and when you pass it an object, it doesn't remove it.. Hence it's `broken`

[2015-08-27 18:07] doutriaux1 commented on #541
so like hatch10 but horizontal? @sankhesh how hard is it to add patterns? Could we somehow pass some png or vtk object instead of a pattern number and use this?

[2015-08-27 18:25] durack1 commented on #541
@doutriaux1 @sankhesh if there are a bunch of VTK options like this, it'd be great to expose them too.. The [hatch/patterns above](https://github.com/UV-CDAT/uvcdat/issues/541#issuecomment-135500323) are pretty 1980s technology in my opinion.. They look pretty klunky..

[2015-08-27 18:30] doutriaux1 commented on #541
@durack1 @sankhesh remeber we need to stay backend-agnostic as much as possible, a png would probably be what works best.

[2015-08-27 18:36] durack1 commented on #541
@doutriaux1 if we have access to more functionality/patterns/options and modernization through the VTK backend, then expose it.. There's no good reason to limit functionality in the off chance that you might want to change the backend renderer some day.. That's way too conservative.. The plotting tools and options in UV-CDAT should be up-to-date as of 2015-08-27..

In the case that a functionality

[2015-08-27 18:41] doutriaux1 commented on #541
but that's exactly why vcs lived through 30years or so worth of languages and technologies :wink: you need flexibility. Every time I introduced rigidity it came back to haunt me. We can always hook up things from the backend directly if needed for "expert" users.

[2015-08-27 18:42] doutriaux1 commented on #541
vcs.backend gives you access to VTK so if you want to moveon to the VTK world purely you can still do it. But that's no longer vcs.

[2015-08-27 18:47] durack1 commented on #541
@doutriaux1 neither of the comments above are a reasonable justification to limit forward development in my opinion.. There aren't many folks who have clung to the ever reliable Windows 1995, just because it's been around 20 years..

I want to plot 21st century graphics using UV-CDAT, whether it's `VCS` or `VTK` or `matplotlib` or something else I don't really care, I just want high resolution, hi

[2015-08-27 20:31] doutriaux1 commented on #541
@durack1 that's what @sankhesh and I are working on, getting to you the features you want in a fashion that will not render our software obsolete. My point was exactly that vcs went through the ages because it is flexible enough to handle ever changing technologies and integrate them in a nice way.

[2015-08-27 22:44] bonfils2 commented on #541
@sankhesh : small dots would be great too!
![slide1](https://cloud.githubusercontent.com/assets/3536584/9535067/6fe40a64-4cd2-11e5-96ae-07fc31ac456b.png)

[2015-08-28 02:50] sankhesh commented on #541
How about this? - I can add additional patterns (stipple and small dots) to the mix and get these changes merged in. Once that is done, I can look at adding the ability to pass a PNG image to the backend. I'll add that as a separate issue.

[2015-08-28 02:52] durack1 commented on #541
@sankhesh that would be a great start.. What other graphics modes/patterns/hatches are available in `VTK` that you could expose? Is there a gallery/webpage somewhere that lists these?

[2015-08-28 02:53] sankhesh opened #1506 "Support custom image files as patterns"
Reference: https://github.com/UV-CDAT/uvcdat/issues/541#issuecomment-135618025

[2015-08-28 03:23] doutriaux1 commented on #1506
Thanks so much!

[2015-08-28 03:27] doutriaux1 commented on #1506
@sankhesh your proposed PR is perfect. May I suggest we keep @durack1 happy by having an example of generating a pattern to png via vtk and use it?

[2015-08-28 03:29] doutriaux1 commented on #1497
Yes @ThomasMaxwell

[2015-08-28 03:33] durack1 commented on #1506
@doutriaux1 @sankhesh happy to provide feedback on my happiness :)

[2015-08-28 04:04] sankhesh commented on #541
@durack1 The current code-base uses [vtkImageCanvasSource2D](http://www.vtk.org/doc/nightly/html/classvtkImageCanvasSource2D.html) to generate the pattern images. All the above patterns are generated using the same.

[2015-08-28 04:05] sankhesh commented on #1506
:smirk: :smile:

[2015-08-28 11:31] rexissimus commented on #1428
These are autosave files that are created every 2 minutes. They are deleted when closing uv-cdat. But it could lead to problems when leaving uv-cdat running for long periods of time. In this case it looks like uv-cdat has been running for 2 months?

We could fix this by limiting the number of temporary files somehow, but I am not sure this is worth looking into at this point?

[2015-08-28 14:31] chaosphere2112 commented on #1428
@rexissimus We're shipping a release of the existing GUI, so, yeah, it'd be nice to clean this up. Can you just shove them into /tmp instead of .uvcdat?

[2015-08-28 16:12] rexissimus commented on #1466
Axes that have been reduced to a single value is not displayed in the variable editor. But this information is lost when updating the variable in [getUpdatedVar](https://github.com/UV-CDAT/VisTrails/blob/uvcdat-master/vistrails/gui/uvcdat/variable.py#L632). I am not sure how we can get the reduced axes from the cdms variable, or if we should get this information some other way. Can somebody help m

[2015-08-28 17:30] rexissimus commented on #1428
Then you would probably lose the autosave if the machine reboots and /tmp is wiped. I will look into limiting the number of temporary files instead.

[2015-08-28 18:54] doutriaux1 commented on #1428
why do we need a new file every two minutes? Can't the new file contain the necessary informations from the previous one and delete the old one?

[2015-08-31 14:55] rexissimus commented on #1428
Having 2 autosaves may be useful if there is a crash while writing it. Having more could possibly be useful if the loaded file gets corrupted while in memory and you need to restore from some time before. But this is unlikely to happen. I added a fix that limits the files to between 30-60: https://github.com/UV-CDAT/VisTrails/issues/55

[2015-08-31 15:11] #1428 closed

[2015-08-31 15:26] chaosphere2112 commented on #1466
I've got some notions for how to work around this issue in the new GUI, so it won't be an issue, you know, eventually. Doubt it's worth the effort to implement in the current one, though.

[2015-08-31 17:41] chaosphere2112 commented on #1222
Will resolve in GUI refactor

[2015-08-31 18:05] doutriaux1 commented on #653
@aashish24 @dlonie is one f you taking a look at this?

[2015-08-31 18:09] doutriaux1 commented on #729
works on master

[2015-08-31 18:09] #729 closed

[2015-08-31 18:31] dlonie commented on #653
@doutriaux1 I haven't looked at it since it was reassigned.

[2015-08-31 18:38] doutriaux1 commented on #1042
@sankhesh I think we pretty much implemented this by now, so I'm reassigning to you so that you can close via git commit.

[2015-08-31 18:39] doutriaux1 commented on #1066
@dlonie I should probably wait on your context2D re-implementation before touching anything with axes right? moving to 3.0 for now.

[2015-08-31 18:40] dlonie commented on #1066
:+1:

[2015-08-31 18:42] doutriaux1 commented on #1079
@sankhesh @jypeter is it a duplicate of #1439

[2015-08-31 20:11] chaosphere2112 commented on #1079
@jypeter I added star back into VCS around 2.2, I think, so that part is addressed.

[2015-08-31 20:22] doutriaux1 commented on #1087
works now in master added a test for it

[2015-08-31 20:22] #1087 closed

[2015-08-31 20:44] #959 closed

[2015-08-31 22:02] durack1 commented on #1498
@doutriaux1 is this fixed, and can be closed?

[2015-08-31 23:11] #1498 closed

[2015-08-31 23:24] doutriaux1 commented on #361
working on this in #1491

[2015-08-31 23:25] doutriaux1 commented on #449
really wish I could add this but let's face it not in 2.4, moving to 3.0

[2015-08-31 23:26] doutriaux1 commented on #479
@dnadeau4 assigning this to you but let's work on it together

[2015-08-31 23:27] doutriaux1 commented on #587
@aashish24 I think it's the same as #1462

[2015-08-31 23:35] doutriaux1 commented on #1101
seems to be done already

[2015-08-31 23:37] #1101 closed

[2015-08-31 23:39] doutriaux1 commented on #1324
done via #1388

[2015-08-31 23:39] #1324 closed

[2015-08-31 23:40] doutriaux1 commented on #1265
@aashish24 care to take a look while you do the wrapping thing?

[2015-09-01 08:49] jypeter commented on #1079
@chaosphere2112 don't forget to add the script (or a variarion) to the gallery, if it works, now that the gallery is back.

The example should probably be placed next to http://uv-cdat.llnl.gov/examples/test_markers.html

[2015-09-01 15:49] durack1 commented on #1384
@potter2 this is what @doutriaux1 and I spoke to you about last week, getting another mac to run build tests.. @doutriaux1 already has a server configured, but we need more clients and you indicated you have a mac machine at home that could be used within the buildbot test suite..?

[2015-09-01 16:14] potter2 commented on #1384
Paul,
I am at GSFC/NASA this week but I will be home next week. Maybe we can get it set up then. Will the build work on a home network?

Jerry

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov<mailto:gerald.potter@nasa.gov>
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

On Sep 1, 2015, at 11:49 AM, Paul J. Durack

[2015-09-01 17:44] durack1 commented on #1384
Great @potter2 yeah the build will work, as long as it is permanently connected.. @doutriaux1 can explain specifics, but simply when a pull request is issued through github, that new branch is built on the buildbot suite, in which we currently don't have a mac `ALL` test running.. If you have a fairly powerful machine that is always on, we could then use this to test an `ALL` mac build and improve

[2015-09-01 18:36] potter2 commented on #1384
I need to think about the mac connection. I’ll get back t you next week..

Jerry

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov<mailto:gerald.potter@nasa.gov>
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

On Sep 1, 2015, at 1:44 PM, Paul J. Durack <notifications@github.com<mailto:notifications@github.com>> wro

[2015-09-01 18:39] durack1 commented on #885
@dnadeau4 @doutriaux1 another candidate for 2.4 - and likely just skip 1.9.1 and go straight to 1.10 when it's out soon ([1.10.0b1 is out](https://github.com/numpy/numpy/releases/tag/v1.10.0b1))

[2015-09-01 18:48] durack1 commented on #1345
@aashish24 @doutriaux1 in prep for the `2.3.0` release, what else needed to go in the [step-by-step list at the top](https://github.com/UV-CDAT/uvcdat/issues/1345#issue-81063633)?

[2015-09-01 18:51] doutriaux1 commented on #1384
@durack1 no it is not a given, for example at my place ATT blocks me from talking over 9982... I tried to open the port but no luck so far, even tried using other ports. From talking to ATT they have no idea my port stays blocked even after I tell my router to open it... So it's not 100% sure.

[2015-09-01 18:52] doutriaux1 commented on #1384
@potter2 any progress with ucdavis?

[2015-09-01 18:54] durack1 commented on #1384
@doutriaux1 could a routing rule be setup?

[2015-09-01 19:17] doutriaux1 commented on #1384
I tried that and talked with ATT they were baffled it didn't work...

[2015-09-01 20:41] jbeezley commented on #1384
There is always [ngrok](https://ngrok.com/).

[2015-09-01 21:41] durack1 commented on #402
@dnadeau4 @doutriaux1 just pinging you both on this..

[2015-09-01 21:41] durack1 commented on #819
@dnadeau4 @doutriaux1 just pinging you both on this.. @dnadeau4 I am hoping to pull these new grids in for testing when we get to tweaking new `grid` functionality

[2015-09-01 21:42] durack1 commented on #1125
@dnadeau4 @doutriaux1 just pinging you both on this..

[2015-09-01 21:46] doutriaux1 commented on #1384
oh that's looks nice, maybe i will try that.

[2015-09-01 22:05] doutriaux1 commented on #1125
it's on my list for 2.4... keep your finger crossed....

[2015-09-02 00:32] durack1 opened #1512 "Catch cdscan errors without triggering runtime failures"
The following problems cause runtime failures in `cdscan` rather than gracefully being caught in an error and quitting..

[code]

[2015-09-02 00:44] durack1 commented on #1495
@potter2 can this issue be closed?

[2015-09-02 00:48] durack1 commented on #1475
@potter2 @doutriaux1 can this be closed?

[2015-09-02 03:48] doutriaux1 commented on #1512
i'll take a look but it is most likely going to be bumped to 3.0

[2015-09-02 03:49] durack1 commented on #457
@doutriaux1 closing this as it's listed in #1384 (so is a duplicate)

[2015-09-02 03:50] doutriaux1 commented on #1475
no. i am waiting for esgf to be back up to implement a permanent fix that will also work for esgf auth

[2015-09-02 03:54] doutriaux1 commented on #1384
will add a mac 10.11 when it's out officially (and bug have been ironed out)

[2015-09-02 03:55] doutriaux1 commented on #1384
i think we aare pretty much abandoning travis at that point @chaosphere2112 are we getting a pro licence or not? If not let's dump travis

[2015-09-02 04:14] durack1 commented on #1512
It's just a matter of adding this to the trapped errors.. Could be done pretty quickly I think.. Maybe @painter1 could also take a look?

[2015-09-02 14:03] dlonie commented on #1407
The OpenGL2 implementations are needed so it can be merged into VTK -- supporting the new backend isn't really optional.

@doutriaux1 @sankhesh @aashish24 I've pushed the new vtkContext2D stuff to UV-CDAT/VTK#6

This isn't ready to merge (There is a known issue with the stencil buffer on macs that I'm trying to track down), but we can start porting code over to it and begin finalizing the API/beha

[2015-09-02 14:22] doutriaux1 commented on #1407
thanks @dlonie that's good news overall.

[2015-09-02 14:42] aashish24 commented on #1407
thanks @dlonie

[2015-09-02 15:52] doutriaux1 commented on #1512
@painter1 any cycles for this? I'll keep it as 2.4 as long as possible.

[2015-09-02 18:04] #186 closed

[2015-09-02 18:06] #84 closed

[2015-09-02 18:20] #903 closed

[2015-09-02 18:29] #269 closed

[2015-09-02 18:32] #133 closed

[2015-09-02 18:41] doutriaux1 commented on #1093
@chaosphere2112 should we close that?

[2015-09-02 18:43] chaosphere2112 commented on #1093
@dlonie Did the fix get merged into VTK?

[2015-09-02 18:44] aashish24 commented on #1086
@sankhesh will verify if it is already been fixed

[2015-09-02 18:48] #1335 closed

[2015-09-02 18:51] doutriaux1 commented on #1374
@cameronsmith1 can you please point me to the file please so I can see if it is still true

[2015-09-02 19:48] dlonie commented on #1093
@chaosphere2112 It did. Want to try removing your workaround and make sure it's working?

UV-CDAT/VTK@07e728b904e5a894376b2b8381a1f6f71391bf6a is the patch that should fix it.

[2015-09-02 20:30] chaosphere2112 commented on #1093
Yup, I'll give this a test and report back.

[2015-09-03 00:43] cameronsmith1 commented on #1374
I can't remember what data I used.   However, I just tried it on some typical data, and it worked correctly.
I did this test on Rhea with Version: 2.2.0-283-g21e26d0

[2015-09-03 00:43] #1374 closed

[2015-09-03 00:52] cameronsmith1 commented on #1466
Note that this is one of the most important features of UVCDAT compared to other NetCDF GUI viewers.  The work-around by @doutriaux1 is OK, but it is still a serious loss.  I have long felt that this capability has been fragile in UVCDAT, when it is crucial that it be robust.
Is it worth fixing in the current version, rather than the next version?   That is a judgment call that I cannot make becau

[2015-09-03 16:53] doutriaux1 commented on #1466
@rexissimus looks like it would be nice if you could free some cycles for this.

[2015-09-03 21:45] chaosphere2112 opened #1517 "Background for Querying Popup missing"
When I click on a plot, it's supposed to present a beige background popup with point data on it. Instead, the point data shows up without a background, and the errors below show up in the console. This happens in both the GUI and the command line.

![screen shot 2015-09-03 at 2 44 09 pm](https://cloud.githubusercontent.com/assets/718512/9671792/4c1bface-524a-11e5-878e-21356b40147c.png)

[code]

[2015-09-04 00:37] doutriaux1 commented on #1093
Fixed by #1514

[2015-09-04 00:37] #1093 closed

[2015-09-04 12:55] rexissimus commented on #1466
@chaosphere2112 can you give me some pointers on how you were thinking of fixing this? I do not see how this would be very different from the implementation in the new GUI. It does not look like this should require too much work, but I am not familiar with how to access one-value axes in VCS variables.

[2015-09-04 16:16] chaosphere2112 commented on #1466
@rexissimus I'm wrapping the variable (and files) with a metadata gathering object. It gathers a tree of historical data about the variable (all of the manipulations etc.) that lets you trace it back to the original file/variable. This was necessary for the saving/loading functionality (because the new persistence format is a python script). It's still kind of fragile, so I don't think bring over

[2015-09-04 16:26] rexissimus commented on #1466
I have not worked on that part of the code before but I will try to figure it out.

[2015-09-04 17:45] dlonie commented on #1481
I setup a CentOS 6.7 VM using mesa-libGL 10.4.3 and can reproduce this. I focused on the stenciling issues with the labeled isolines.

What I've noticed:
- Only background mode has the issue. Plotting in a window stencils the lines out properly.
- At the time the stencil is created, OpenGL reports that GL_STENCIL_BITS is 8, meaning that the stencil buffer exists and has 8 bits (as it should).
- Du

[2015-09-04 21:20] chaosphere2112 opened #1519 "Build issues on CentOS6"
I'm testing the current master's build on a clean CentOS6 VM (doing the footwork towards getting a non-lean RPM built for the 2.3 release), and I'm having a couple of issues with the build/configure process.

1. `cmake` can't find my qt install (which is from the binary we provide), installed at /usr/local/uvcdat/qt/4.8.4. Easy enough to work around (`-DQT_QMAKE_EXECUTABLE="/usr/local/uvcdat/qt/4.

[2015-09-07 15:48] rexissimus commented on #1466
Fixed by https://github.com/UV-CDAT/VisTrails/pull/57. Please review. This works on normal sub-selections. Not sure about other axes operations.

[2015-09-07 20:30] dnadeau4 commented on #402
@durack1 Can you check issue_402 and tell me if it works for you?  I added ESMF  for non uniform grids as you suggest.

[2015-09-07 20:38] dnadeau4 commented on #479
I think it affect using THREDDS as well.  #1475  I would like to only read 1 time dimension at a time instead of loading everything in memory at once.    Will start to investigate a solution.

[2015-09-08 02:58] durack1 commented on #479
@dnadeau4 happy to run any tweaks you have over the test case, we have it pretty well reproduced..

[2015-09-08 02:59] durack1 commented on #402
@dnadeau4 sure, will do this week.. What have you changed in the branch?

[2015-09-08 15:18] doutriaux1 commented on #1519
thanks @chaosphere2112, we copuld add /usr/local/blah to the CMakeLists.txt, and/or we could update the build instructions.

[2015-09-08 15:21] aashish24 commented on #1519
@doutriaux1 please no. The issue is that on this machine the GL headers are not installed properly or something similar.

[2015-09-08 15:25] aashish24 commented on #1519
@chaosphere2112 CMake looks for qmake for various QT paths. CMake should not look into specific locations for Qt because there could be many version of Qt exists on the system and then which one your pick is not obvious. Also, the location where Qt is installed changes from OS-to-OS and we try to solve for RedHat is not ideal to me. But if you still insist, we can set a default search for Qmake un

[2015-09-08 15:33] doutriaux1 commented on #1519
@aashish24 the point that @chaosphere2112 is making is that WE ask the user to use OUR Qt under RH6, so it would make sense that WE look there too when we build.

[2015-09-08 15:34] aashish24 commented on #1519
@doutriaux1 yup. I know. Please see my earlier comment.

[2015-09-08 15:51] doutriaux1 commented on #1519
exactly, but it's not a priority, I put 3.0 milestone, but if one of us ( @chaosphere2112 ?) cares enough and has time, it could make it into 2.4
@chaosphere2112 are we going to use Qt 4.8 for the updated GUI? Or Qt 5?

[2015-09-08 16:00] aashish24 commented on #1519
I think we probably have to stick with Qt 4.8 for a while but it would be nice to move to Qt5.

[2015-09-08 16:00] chaosphere2112 commented on #1519
We'll still be using 4.8; PySide's Qt5 support is still a ways out.

[2015-09-08 16:02] chaosphere2112 commented on #1519
@aashish24 @doutriaux1 As for the Qt thing, we could just change where our tar of Qt installs it; putting it somewhere that CMake will actually pick up. I'm fine coming at it from either side.

I left the laptop with this VM at home today, so I'll not be able to do anything on it till tomorrow. As for GL not being properly installed, it's just a vanilla CentOS6 install, so I'm not sure what would

[2015-09-08 16:04] aashish24 commented on #1519
@chaosphere2112 GL is not installed in minimal builds. I will see if I can send you the list of packages you need to install (if you have not installed them already?)

[2015-09-08 16:17] durack1 commented on #1519
@aashish24 rather than sending an email, want to update the CentOS6 dependency list at https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements

[2015-09-08 16:19] aashish24 commented on #1519
@durack1 :+1:  that's what I was planning to do. Add it there and send an email with the link.

[2015-09-08 16:21] doutriaux1 commented on #1519
@chaosphere2112 where did you update the requirements? You mentioned you already did this.

[2015-09-08 16:28] chaosphere2112 commented on #1519
@doutriaux1 It's down on the bottom of the system requirements page (https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements#centos)

[2015-09-08 17:49] dnadeau4 commented on #402
I actually added your code to call ESMF regridder in the averager and return the srcAreas weight when the grid is non uniform.  No use of Numpy for non uniform grid.

The branch is called issue_402.

+        diag = {'srcAreaFractions':None, 'srcAreas':None, 'dstAreas':None} ; # Create dictionary, with additional keys for function to return
+        dummy=ds.regrid(ds.getGrid(),regridTool='esmf',r

[2015-09-08 18:49] durack1 commented on #402
@dnadeau4 ok, so changes are in `genutil` and specifically the `area_weights` function as outlined [above](https://github.com/UV-CDAT/uvcdat/issues/402#issue-27364373)?

[2015-09-08 20:48] doutriaux1 commented on #1125
@dnadeau4 this is the answer I got from Ryan OKuinghttons
[code]

[2015-09-08 20:49] doutriaux1 commented on #1125
Ryan scripts:
uvcdat_error_esmp.py

[code]

[2015-09-08 20:50] doutriaux1 commented on #1125
uvcdat_error_esmpy.py

[code]

[2015-09-08 20:53] #1466 closed

[2015-09-08 21:21] durack1 commented on #1424
@doutriaux1 did you want me to run my test on current master - are there changes in there that should solve this issue?

[2015-09-09 18:16] aashish24 opened #1525 "SCIPY use cdat_common* cmake files"
May be it should be utilized by all of the packages.

[2015-09-09 18:16] aashish24 commented on #1525
Ref #1522

[2015-09-09 18:30] aashish24 opened #1526 "Disable tests that are failing on RH6 and we should enable them once we have solution"

[2015-09-09 18:39] aashish24 opened #1527 "Enable exporting plot directly into PPT"
- research if this is possible

[2015-09-09 18:41] aashish24 opened #1528 "Enable creation of matrix view for scatter plot"
https://www.google.com/search?q=matrix+view+scatter+plot&espv=2&biw=1489&bih=765&tbm=isch&imgil=4nfPQZCFwP18TM%253A%253BP5cZEb3zav7wiM%253Bhttp%25253A%25252F%25252Fblogs.sas.com%25252Fcontent%25252Fgraphicallyspeaking%25252F2012%25252F08%25252F19%25252Fcompact-scatter-plot-matrix%25252F&source=iu&pf=m&fir=4nfPQZCFwP18TM%253A%252CP5cZEb3zav7wiM%252C_&usg=__aOwFXXumBdtKShMi-vrooWA-w9o%3D&ved=0CCkQyj

[2015-09-09 18:42] doutriaux1 commented on #1528
look at EzTemplate.Multi

[2015-09-09 18:42] doutriaux1 commented on #1528
http://uvcdat.llnl.gov/examples/test_EzTemplate_00.html

[2015-09-09 18:45] doutriaux1 commented on #1528
will send you a script and you can try to wrap it into vcsaddon, is that ok?

[2015-09-09 18:45] durack1 commented on #1527
@aashish24 just a question.. What renderer does `VTK` use for `PS` exports? I was trying to edit fonts in a VCS-exported `*.ps` file and realised that the fonts didn't appear to be created correctly - they aren't text objects in the (very large) exported file..

[2015-09-09 18:45] aashish24 commented on #1528
Here is how it looks in paraview:

![image](https://cloud.githubusercontent.com/assets/146527/9771036/738ae500-5701-11e5-988f-220f695cd31d.png)

[2015-09-09 18:48] aashish24 opened #1529 "Enable selection in vcs"

[2015-09-09 18:48] doutriaux1 opened #1530 "link mouse event to custom user functions"
@chaosphere2112 @aashish24 let's talk about this.

[2015-09-09 18:51] aashish24 commented on #1527
there is a module for GL2PS in vtk. @dlonie would know more about that. @dlonie can you point @durack1 to the source code?

[2015-09-09 18:51] aashish24 commented on #1528
Sounds great...

[2015-09-09 19:06] durack1 commented on #1345
@doutriaux1 @aashish24 I assume the next release is `2.4` rather than `2.3`?

[2015-09-09 19:17] durack1 commented on #1527
@aashish24 thanks, will await hints from @dlonie

For what it's worth, as a UV-CDAT user I would never use an option to directly export to a `*.pptx` file, as there is very little control exposed in that software (color space etc)..

Here are some relevant links:
http://graphicdesign.stackexchange.com/questions/22423/why-does-illustrator-cs6-save-for-microsoft-office-use-png-format
https://en.wiki

[2015-09-09 19:40] aashish24 commented on #1445
@doutriaux1 @sankhesh we fixed the issue. I should have it up and running by tomorrow.

[2015-09-09 19:52] dlonie commented on #1527
Text in VCS vector graphics is exported as a set of paths (that is, the characters are drawn as shapes in the file, rather than encoded as strings). This is to work around a number of export and portability issues regarding alignment, viewer font availability, portable regression testing, etc. If you'd like to modify them, you'll need to erase the path objects and replace them with a new text obje

[2015-09-09 20:01] durack1 commented on #1527
@dlonie ok, I was under the impression that text objects would be more like:
[code]
Rather than the alternate.. Is there a way of labeling the shapes as text objects, so that an import to vector editing software (e.g. Adobe Illustrator) will know about it being text? It would certainly aid the ability to tweak figures after exporting..

[2015-09-09 20:05] dlonie commented on #1527
We had it like that, but changed it to use paths as not all of the vector formats support things like text alignment/rotation, and fonts vary greatly from platform to platform. These issues leading to portability problems and bad-looking outputs.

It should be possible to add an option to the export methods in VCS to toggle between text objects and path exports. Check with @doutriaux1 about it, as

[2015-09-09 20:38] durack1 commented on #1527
@dlonie great, exposing the ability to write text as `text objects` rather than `shape objects` would be great.. I'd also imagine it'd reduce the file size of `*.ps` (and `*.pdf` #517) files a long way too..

What do you need to be done from the `VCS API` side?

[2015-09-09 20:46] durack1 commented on #1527
@aashish24 @dlonie should this be morphed into another issue - it seems I hijacked the original one..

[2015-09-09 21:29] doutriaux1 commented on #1445
@aashish24 want to keep on your buildbot? Or slave it to our uvbot master?

[2015-09-09 22:20] chaosphere2112 opened #1531 "initial.attributes contains some invalid attributes"
There are a few busted attributes in initial.attributes (ones outside of the range, but with priority=0). Some examples:

https://github.com/UV-CDAT/uvcdat/blob/b8bdae1449dc77fc0eda52c7d01aab32de2e1668/Packages/vcs/Share/initial.attributes#L29891-L29914

https://github.com/UV-CDAT/uvcdat/blob/b8bdae1449dc77fc0eda52c7d01aab32de2e1668/Packages/vcs/Share/initial.attributes#L30288-L30307

https://gith

[2015-09-09 22:25] chaosphere2112 opened #1532 "Clean up initial.attributes"
We should really clean up the initial.attributes file. I spoke with @doutriaux1, and we both think the best path forward will be to not copy it into each user's home directory, and just load it directly from the share directory. For user-defined or modified gm/templates/secondaries we should stick *that* in .uvcdat. This will have a couple of benefits. We should also add a "readonly" attribute to

[2015-09-09 22:26] chaosphere2112 commented on #1532
Also, as an added bonus, if we're not serializing 50k+ lines of JSON every time we save the initial attributes file, it'll actually be tolerable to save it!

[2015-09-10 14:30] dlonie commented on #1527
Yes, this should be a separate issue. There's nothing needed for this on the VTK side of things, there is an option on vtkGL2PSExporter to toggle between the two text styles. The VCS folks would need to add option to their library to switch between the modes.

[2015-09-10 15:04] aashish24 commented on #1532
:+1:

[2015-09-10 16:03] durack1 opened #1537 "Enable postscript export to write text objects in addition to text as paths (shapes)"
As discussed in #1527 the current `postscript` export function writes text objects as shapes, rather than encoded as text objects.

It would be preferable to expose the ability to export text as text/string objects, which will provide better control when importing `postscript` output files into vector graphics editing software (such as Adobe Illustrator).

Further discussions are included in #1527

[2015-09-10 16:16] doutriaux1 commented on #1527
@durack1 that doesn't sound too hard, mind creating the issue, I think we can put to toggle on the x.ps function and default it to @durack1 favorite mode.

[2015-09-10 16:21] durack1 commented on #1527
@doutriaux1 done #1537 - I would like both options exposed, maybe through an additional keyword argument?

[2015-09-10 16:36] aashish24 commented on #1445
@doutriaux1 yeah it was using older version of buildbot and it is a slave.

[2015-09-10 16:43] durack1 commented on #1495
@potter2 can this issue be closed?

[2015-09-10 16:59] dlonie commented on #1537
Just to comment on a point made in #1527, the "text object" mode should _not_ be the default. Leave "text as paths" as the default. The original VTK vector export implementation in VCS exported text objects and it caused problems.

In particular, some vector formats do not support alignment/rotation of text, and embedding the objects results in portability issues as fonts vary greatly across viewe

[2015-09-10 17:55] doutriaux1 commented on #1445
I meant a slave of the uvcbot on aims4.llnl.gov

[2015-09-10 19:34] potter2 commented on #1495
I’ll check. Should I rebuild uvcdat with “master”?

Jerry

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov<mailto:gerald.potter@nasa.gov>
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

On Sep 10, 2015, at 9:43 AM, Paul J. Durack <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://

[2015-09-10 20:23] doutriaux1 commented on #1495
@potter2 nothing changed, we were trying to ask you to test with another viewer. We think it is viewer related not actually uvcdat related.

[2015-09-10 20:41] doutriaux1 commented on #1537
@dlonie I was thinking of simply add it to the psotscript function, so it would be on by default for postscript only. I will test with @durack1 as is and if it creates too many issue will put it back as OFF by default. Does that sound good?

[2015-09-10 20:43] durack1 commented on #1537
@doutriaux1 I think @dlonie was recommending leaving the default as is, but exposing the write text as `text object` functionality using an additional keyword argument.. That way all the work to get `ps` files looking good across multiple systems doesn't go to waste.. And only when you want to dig deeper for `text object` control would a user use it..

[2015-09-10 20:57] potter2 commented on #1495
Yes,
Just close it.
Thanks,

Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov<mailto:gerald.potter@nasa.gov>
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

On Sep 10, 2015, at 1:23 PM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> nothing

[2015-09-10 21:11] durack1 opened #1538 "Update Cython to 0.23.3"
We are a couple of patches behind Cython latest (0.22.1 vs 0.23.2).

@doutriaux1 want to assign me as a 2.4 milestone?

[2015-09-10 21:12] durack1 opened #1539 "Update iPython to 4.1.2"
We are a full release behind iPython latest (3.0.0 vs 4.0.0).

@doutriaux1 want to assign me as a 2.4 milestone?

[2015-09-11 01:47] aashish24 opened #1542 "Fix failing tests on RH6"
Ref: https://github.com/UV-CDAT/uvcdat/pull/1534

[2015-09-11 12:50] dlonie commented on #1537
What @durack1 said :-)

[2015-09-14 14:40] mcenerney1 opened #1545 "cdms2 hangs with mpi4py"
Opening a netcdf file with cdms2 causes a hang.
Running the following code with  mpiexec -np 2 python cdms2issue.py

from mpi4py import MPI
comm = MPI.COMM_WORLD
size = comm.size
rank = comm.rank

if rank is 0:
    #pdb.set_trace()
    f = cdms2.open( 'obs_data/NCEP_01_climo.nc' )
    print rank, f.variables
else:
    print rank, 'nothing to do'

What happens is:
it runs to line 275 in cdms2/datas

[2015-09-14 17:39] durack1 opened #1546 "cdscan hang"
The following has caused `cdscan` to hang, I'm uncertain of the cause but thought it best to log this:

[code]

[2015-09-14 17:42] #541 closed

[2015-09-14 17:53] doutriaux1 commented on #1483
@sankhesh does that still occurs for you? All other macs seems to be ok.

[2015-09-14 17:54] doutriaux1 commented on #1481
we commented these out for 2.4 but would be nice to be back in 3.0

[2015-09-14 18:43] aashish24 commented on #1462
@doutriaux1 I don't seem to find test_vcs_basic_boxfill_aeqd_proj

[2015-09-14 19:24] aashish24 commented on #587
talked to @doutriaux1 some more on this. The only fix is to inform user what went wrong other than that its not really fixable since the math does not work if the the number are not right for projections (nothing specific to VTK, VCS or PROJ4).

[2015-09-14 21:50] aashish24 commented on #1462
@doutriaux1 good news and bad news. I think I know what's going on. Look at this image created using aeqd projection but between -180 and 90 longitudinal axis.
![aeqd_-180_90](https://cloud.githubusercontent.com/assets/146527/9862713/a1dfd2c0-5b08-11e5-9238-7d6355e83d74.png)

And looks close to correct. I think the problem is that in aeqd projection lon values from 90 - 180 will get wrapped behind

[2015-09-14 21:50] aashish24 commented on #1462
Here is the command line I used to generate the plot above:  python /home/chaudhary/tools/uvcdat/src.git/testing/vcs/test_vcs_basic_gms.py --gm_type=boxfill --projection=aeqd --lon1=-180 --lon2=90 --lat1=-90 --lat2=90

[2015-09-14 21:52] aashish24 commented on #1462
Also, for testing I commented out the code in fitToViewport call.

[2015-09-14 21:54] doutriaux1 commented on #1347
the `size` was supposed to be for A4 vs postscript etc... It's more an `page_aspect_ratio` than anything

[2015-09-14 22:39] aashish24 commented on #1462
@doutriaux1 I moved it to 3.0 for now. I don't have quick solution to this project.Looking at the newer proj4 I think the proj4 library is doing it right its just that this is how this projection works. Let me know what you think.

[2015-09-14 22:40] doutriaux1 commented on #1462
@aashish24 yes that is the whole issue, proj4 wants data from -180 to 180. So it's not a 3.0 issue, WE need to make sure data going to proj4 are between -180 and 180 and we need to tweak the proj parameters  (center_meridian etc..) to make sure it is centered properly and show the portion that the user want.

[2015-09-14 22:50] glpotter commented on #1487
![isoline_labels](https://cloud.githubusercontent.com/assets/14208252/9863806/372b7f34-5af8-11e5-94d6-05a615bb08df.png)

I just built from "master" and this is still broken. I thought somebody said it was fixed.

[2015-09-14 22:51] aashish24 commented on #1462
@doutriaux1 its not a proj4 or -180-180 issue. If you chose the center to be 0,0, the project math wraps the entire world into a orthographic projection, however, the other side is wrapped as orthographic as well which in our case gets drawn on top of the initial rendering. I have to verity the math in of aeqd but I don't think there is an easy fix since we don't know which data will wrap how as f

[2015-09-14 22:53] aashish24 commented on #1462
Ref: http://www.remotesensing.org/geotiff/proj_list/azimuthal_equidistant.html

[2015-09-14 23:36] doutriaux1 commented on #1487
no the zero thing is not fixed it is part of the last bit that @sankhesh needs to do.

[2015-09-14 23:37] doutriaux1 commented on #1487
@potter2 but does the distance thing work as you want?

[2015-09-14 23:38] doutriaux1 commented on #1462
that's my point we need to make sure we chose the correct center for our users.

[2015-09-15 01:28] aashish24 commented on #1462
@doutriaux1 the most useful images I see from aeqd is for lat=90/-90 (think United Nations logo, https://en.wikipedia.org/wiki/Azimuthal_equidistant_projection). Do you want me to make such change? If we want to support some other centers, either we would need to apply some transparency or come up with some other technique.

[2015-09-15 01:31] aashish24 commented on #1487
@sankhesh I remember we talked about it. I thought you had a branch. Is that mixed in another label branch?

[2015-09-15 03:09] sankhesh commented on #1487
Label skip distance is merged in master. I'll get to the background and precision issue once I get back on Wednesday.

[2015-09-15 03:11] sankhesh commented on #1483
Nope. I think it was homebrew messing up my path. I'll close it

[2015-09-15 03:12] #1483 closed

[2015-09-15 06:00] #1271 closed

[2015-09-15 14:03] aashish24 commented on #1462
![image](https://cloud.githubusercontent.com/assets/146527/9878470/df441d96-5b90-11e5-815c-615e5701aac1.png)

and UV-CDAT with center at 90,0
![s](https://cloud.githubusercontent.com/assets/146527/9878494/0022316a-5b91-11e5-88b4-982b53a9ac51.png)