[2015-09-15 14:12] jbeezley commented on #1462
That is upside-down is it not?  I thought the purple spot was supposed to be Australia.  In fact, as I look at it more, it looks like the position of the colors on the map here are identical to the image you [posted](https://github.com/UV-CDAT/uvcdat/issues/1462#issuecomment-140215268) earlier relative to the land outlines.

[2015-09-15 14:18] aashish24 commented on #1462
@jbeezley what you mean upside down? this is aeqd projection centered at 90, 0 (latitude, longitude). I posted this picture to verify the conversion (w comparison to UN logo). I was mentioning to @doutriaux1 earlier that most usefulness of aeqd is when the center is at 90, 0. For other values, we would need to do some extra work.

[2015-09-15 14:19] jbeezley commented on #1462
I mean it looks like it is centered at -90, 0.

[2015-09-15 14:21] jbeezley commented on #1462
That big purple spot is over Africa in that image.  Maybe that is correct, but you seemed to say it was Australia in the comment I linked.

[2015-09-15 14:22] aashish24 commented on #1462
Nope.. its 90, 0. You would not see US like this if it is -90,0. Below is -90, 0

![s2](https://cloud.githubusercontent.com/assets/146527/9879046/ad621488-5b93-11e5-9976-4fea76d81909.png)

[2015-09-15 14:23] jbeezley commented on #1462
I know the land outlines are correct, I was referring to the colors.

[2015-09-15 14:23] aashish24 commented on #1462
@doutriaux1 please let me know if 90, 0 seems to be a reasonable defaults. For all other values between 90, -90, we need to think of a way to render them.

[2015-09-15 14:24] aashish24 commented on #1462
@jbeezley colors are correct (as they show up on mercator or robinson). I cannot verify the value of the data but this is CLT and I believe these colors makes sense to me (in all of the pictures above except the wrong one at the top).

[2015-09-15 14:25] aashish24 commented on #1462
@jbeezley if you are referring to legend then ignore that for now

[2015-09-15 14:26] jbeezley commented on #1462
Okay, I just misunderstood your earlier comment.  Ignore me.

[2015-09-15 15:56] chaosphere2112 commented on #1347
Yeah, I figured that out after poking it enough. At some point (post-2.4) it would be nice to have an easier way to specify window size, since it's a bit wonky right now.

[2015-09-15 16:15] durack1 opened #1549 "Update matplotlib to 1.5.0"
The [`matplotlib 1.5.0RC1` just landed](http://matplotlib.org/devdocs/users/whats_new.html#new-in-matplotlib-1-5), so should be considered for upgrading when the full release is out - likely on a `UV-CDAT 3.0` timeline

[2015-09-15 16:54] aashish24 commented on #1462
Cool. Wrong legend title because the "longitude" shows up on top of it. Its just that it is too close to the legend.

[2015-09-15 22:40] chaosphere2112 commented on #1118
I've got most of this sorted out in a branch, but it's not quite working yet. Will finish after Chico trip.

[2015-09-16 04:50] #1517 closed

[2015-09-16 05:34] czender opened #1550 "Install PyNCO as part of UV-CDAT"
Hi UV-CDAT folks,

PyNCO, the Python wrappers for NCO, are at

http://github.com/nco/pynco

I would like to start implementing a plan to get PyNCO into UV-CDAT. Please take a look and let us know whether anything about the package needs to change before it can be distributed with UV-CDAT. The goal is

from nco import Nco

works in any Python script that uses UV-CDAT. Joe Hamman (who wrote PyNCO) a

[2015-09-16 11:14] williams13 commented on #1550
This is great! Thanks Charlie for working on this.

Best regards,
Dean

From: Charlie Zender <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 15, 2015 at 10:34 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject: [uvcdat] Install PyNCO as part

[2015-09-16 16:42] doutriaux1 commented on #1550
Charlie,

I will take a look as soon as possible, it’s too close from the relase to make it in I think, so probably right after it.

BUT I will do my best to take a look before we release so that if everything goes super smooth we can stick it into the upcoming release.

C.

From: Charlie Zender <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.githu

[2015-09-16 19:16] #1011 closed

[2015-09-16 19:18] doutriaux1 commented on #653
``python
import vcs
import os
import cdsm2
f=cdms2.open(os.path.join(vcs.sample_data,"clt.nc"))
u=f("u")
v=f("v")
V=x.createvector()
p=x.createprojection()
p.type="polar"
V.projection=p
x.plot(u,v,V)
[code]

[2015-09-16 19:23] #462 closed

[2015-09-16 19:29] #1042 closed

[2015-09-16 20:04] aashish24 commented on #587
@doutriaux1 I confirmed. With proj4 you don't get any error (pure proj4). You get a tuple (1e+30, 1e+30) back but these numbers are not NAN's they are just bad numbers. I think this is one the case we were agreeing on that user need to know the projection. One thing I was suggesting is masking the data if the projection is mercator (past 85,-85). Let me know what you think of that..

[2015-09-16 21:17] aashish24 commented on #587
@doutriaux1 is there an option in vcs that can mask data that has grid data point values within certain range?

[2015-09-16 21:23] aashish24 commented on #587
@doutriaux1 more specifically, is there a method on transient variable for clipping the grid?

[2015-09-16 22:55] doutriaux1 commented on #587
@aashish24 when getting the data into VTK simply do data=data(latitude=(-85,85))

[2015-09-16 22:55] doutriaux1 commented on #587
of course you should first check that the user lats are beyond that range

[2015-09-17 00:11] durack1 commented on #1384
@doutriaux1 [`Xcode 7` was released today](https://itunes.apple.com/us/app/xcode/id497799835?mt=12) which goes along with `OS X 10.11`, so probably worth dropping that into the buildbot suite as soon as an `OS X` machine becomes available..

[2015-09-17 02:13] aashish24 commented on #587
Yup.. thanks for the hint. I think I have a fix now. I will push a branch.

[2015-09-17 04:47] doutriaux1 commented on #1384
Once the lab has an approved image for the green network will do.

[2015-09-17 15:15] aashish24 commented on #1550
@czender this is great!!!!~ I will have a look as well as I wanted to use combination of NCO and VCS for some time.

[2015-09-17 19:47] aashish24 commented on #1462
@doutriaux1 my initial attempt on fixing it via current VTK features failed. I will see what else we can do in 2.4 but like I said its the math (unless someone proves me wrong) and rendering issue.

[2015-09-17 23:00] aashish24 commented on #1462
@doutriaux1 the only way I think this could be possible now is a custom mapper which will require some time and testing. What you think? I would prefer we take care of this issue in 3.0 as now we know that it is a projection specific issue and not related to wrapping as such. I haven't seen any request from scientists to take care of this issue. Instead, I would like us to focus on vector plots an

[2015-09-17 23:05] durack1 commented on #1462
@aashish24 I (a scientist) would like to request projections to work.. I know there are many more in the building here at LLNL and elsewhere that would also advocate strongly to get back functionality that's been broken for a while..

[2015-09-17 23:17] durack1 commented on #402
@dnadeau4 ok so it seems to work and output reasonable fields - though I agree with you, we need to return `srcAreaFractions` rather than the current `srcArea` ESMF output:
[code]
![issue_402_output](https://cloud.githubusercontent.com/assets/3229632/9948364/34a3c2ba-5d57-11e5-99a8-e0c08d7916c3.png)

I think we need to go one further, and tweak the output field to include bounds so the `genutil.av

[2015-09-18 02:16] aashish24 commented on #1462
@durack1 projects are working this is the specific case where aeqd is not rendering correctly.

[2015-09-18 02:19] aashish24 commented on #1462
@durack1 this particular issue is found by @sankhesh recently (not long ago).

[2015-09-18 04:09] doutriaux1 commented on #1470
Fixed via #1524

[2015-09-18 04:09] #1470 closed

[2015-09-18 04:10] doutriaux1 commented on #1479
@dnadeau4 does #1524 fix this?

[2015-09-18 15:01] sankhesh commented on #1487
@potter2 @doutriaux1

Could you please post a script to reproduce the floating point precision issue?

[2015-09-18 16:48] dnadeau4 commented on #1479
working on it.  I have to create a new xml file on my machine.  These nc files are big!

[2015-09-18 17:00] dnadeau4 commented on #1479
yes it does!  :+1:  :smile:

[2015-09-18 17:21] doutriaux1 commented on #1479
awesome! Want to post a PR with a test for this before I close?

[2015-09-18 18:12] doutriaux1 commented on #1475
partly fixed by https://github.com/UV-CDAT/VisTrails/pull/58

[2015-09-18 18:12] dnadeau4 commented on #1479
I have a test with a 395Mb file and 1 xml file.  Not sure how to post this..

[2015-09-18 20:55] sankhesh commented on #1487
Regarding precision issue, I have a fix on the [VTK repo](https://gitlab.kitware.com/vtk/vtk/merge_requests/674)

[2015-09-18 21:20] doutriaux1 commented on #1384
http://github.com/UV-CDAT/uvbot

[2015-09-18 21:20] #1384 closed

[2015-09-18 22:25] dnadeau4 commented on #1475
I looked into  the THREDDS case today.  In CDMS2 it will be some work to return a slice of the array.  The CDMS2 architecture is made to return the **whole array** and there is a verification where each returned axis length match the returned netCDF array shape.  Maybe I can manage something in CDMS3.

[2015-09-18 23:09] durack1 commented on #1475
@dnadeau4 this (subsetting commentary) is associated with #1288

[2015-09-19 01:39] aashish24 commented on #653
I am getting close in solving the mystery..

![vector](https://cloud.githubusercontent.com/assets/146527/9974028/bf99bc84-5e4d-11e5-9760-07e44a9a2567.png)

[2015-09-19 02:00] doutriaux1 commented on #653
Nice!

[2015-09-19 02:22] #1479 closed

[2015-09-19 02:25] #1475 closed

[2015-09-19 22:14] aashish24 commented on #653
Still some more work to do but here is the latest image:

![vectors](https://cloud.githubusercontent.com/assets/146527/9978404/3550d83e-5efa-11e5-882a-ca2c5f506ba9.png)

[] Need to fix doWrap
[] Fix failing tests
[] Add notes and squash commits

[2015-09-19 22:19] aashish24 commented on #653
Also, I think I may have found a bug in vtkGeoTransform. Will confirm it on Monday, since I am having a hard time to believe that we had this bug all along.

[2015-09-22 03:42] #1347 closed

[2015-09-22 14:36] dlonie commented on #1526
Ref #1481  (Duplicate?)

[2015-09-22 14:37] dlonie commented on #1542
Duplicate of #1481.

[2015-09-22 14:37] #1542 closed

[2015-09-23 17:58] #1396 closed

[2015-09-23 18:32] #587 closed

[2015-09-23 18:32] #1305 closed

[2015-09-23 18:42] dnadeau4 commented on #1376
@cchriste The port 9090 is now closed at NCCS.  Do you have another example where you want to aggregate 2 files with 2 different URL?

[2015-09-24 05:52] #1487 closed

[2015-09-24 20:38] dnadeau4 commented on #1376
I tried with 2 different URL both at NCCS and it worked.  I think the problem happened when NCCS was transitioning between port 9090 and port 80 with their opendap server.

[2015-09-24 20:38] #1376 closed

[2015-09-24 22:39] durack1 commented on #1180
@aashish24 @doutriaux1 should this be a `2.4` milestone? I think it's a very strong candidate..

[2015-09-25 04:08] #1484 closed

[2015-09-25 04:11] aashish24 commented on #1180
@durack1 agreed. @doutriaux1 are you looking into this?

[2015-09-25 15:52] aashish24 commented on #1345
@doutriaux1 can we tag 2.4 rc1 today?

[2015-09-25 16:00] mcenerney1 commented on #1180
No it should not be considered for 2.4.This issue has not been looked at for several months. At the time noone was calling for this capability and it was pushed down in priority. It is folly to drop everything else to get this operational for this release. It should be considered for the next release.

[2015-09-25 16:23] durack1 commented on #1180
@mcenerney1 was the issue that taylor diagrams (and the functionality to create them) was no longer working? If so this is a high priority, as the taylor diagram functionality is a big deal for scientists using `vcs`

[2015-09-25 23:54] dnadeau4 commented on #479
I have made progress on this parallel issue.   Everything is working well.   I an parallel world, every node must open the file, create dimensions and create variables.  Only slicing is different for each rank.

Please run testing/cmds2/test_mpi_write_2.py  on branch issue_479.

[2015-09-28 16:04] durack1 commented on #479
@dnadeau4 are the tweaks on the branch above addressing the slow read times which was the focus of this original issue?

[2015-09-28 17:18] dnadeau4 commented on #479
This is a write in parallel program.  Nothing to do with the original issue.

The original issue will need a re-architecture of CDMS.  CDMS read the entire array in memory.  I would like to change the code just to return a empty handler and read slices of the array per user request.  Of course if the user ask for the entire array it will still be slow, but it could be possible to read in parallel

[2015-09-28 17:24] dnadeau4 commented on #481
@durack1 it seems that netCDF 3 does not handle unsigned int.  This is something that was added in netCDF4.   I am not sure what to do if somebody tries to create a netCDF 3 files with a unsigned int type.

[2015-09-28 17:25] dnadeau4 commented on #537
Same as #481

[2015-09-28 17:38] dnadeau4 commented on #576
@durack1  ESMPy web page is a bit inconsistent.  The documentation specifies:

* ESMPy: ESMF_7_0_0_beta_snapshot_50

The last release was

* ESMF Tag: ESMF_6_3_0rp1

@doutriaux1 mentioned 7.1.0beta which I cannot find.

As well, the [dependencies for 630rp1](https://earthsystemcog.org/projects/esmpy/supportedplatforms630rp1) are a little old as well

[2015-09-28 17:51] durack1 commented on #576
@dnadeau4 these links might be useful:

https://www.earthsystemcog.org/projects/esmf/release_schedules/

As discussed before it's probably a good time to contact Ryan OKuinghttons as the web-based documentation for ESMF doesn't appear easy to interpret, at least to me..

[2015-09-28 17:59] durack1 commented on #481
@dnadeau4, @doutriaux1 has now converted `cdms2` to write `netcdf-4` files as the default if I remember correctly, so unless a user specifically tries to write a `netcdf-3` file then this situation shouldn't be encountered..

[2015-09-28 18:01] jbeezley commented on #481
It raises error `NC_EBADTYPE`.

https://github.com/Unidata/netcdf-c/blob/master/libsrc/nc3internal.c#L88

[2015-09-28 18:10] dnadeau4 commented on #481
Thanks @jbeezley I will add the new types to CDMS2 and see what happens when I create a netCDF3 file with unsigned int.   I'll make it stop in a nicer fashion than "fill_value" assignment error.  :happy:

[2015-09-28 18:17] durack1 commented on #481
@dnadeau4 the behavior that I'd expect, would be throwing error/warning and the file to be written default back to `netcdf-4` - so it can contain the unsupported type.

[2015-09-28 18:24] durack1 commented on #479
@dnadeau4 if there is no "fix" for this issue, aside from a rearchitecture of `cdms2`, then close this issue and add the large grid test to the suite for testing when `cdms2` is updated..

[2015-09-28 18:44] doutriaux1 commented on #1180
I would say let's not try to fix it here and let's have @chaosphere2112 revisit it with the new GUI.

[2015-09-28 18:53] doutriaux1 commented on #1376
@dnadeau4 did you take a look at #1368 ?

[2015-09-28 20:42] dnadeau4 commented on #1376
I just did and got a fix for it.

[2015-09-28 23:42] doutriaux1 opened #1567 "canvas.getcolormapname behaviour changed"
when starting GUI it breaks because x.getcolromapname() return None

[2015-09-28 23:52] doutriaux1 opened #1569 "genutil.statistics.mean does not exists"
because MV2.average does pretty much the same thing

but this would allow to use nifty `axis='t'` or `axis='xy'` or `axis='(my_axis_name)'`

[2015-09-29 00:09] dnadeau4 opened #1570 "colormapEditor Widget error"
It seems that getcolormap is still broken in the gui.  I loaded and display a dataset and when I want to edit the colorbar I get the following error.

:bomb:
[code]
:boom: :boom:

[code]

[2015-09-29 01:29] #1567 closed

[2015-09-29 03:56] #1446 closed

[2015-09-29 08:05] doutriaux1 commented on #1570
OK will fix in the morning and then tag rc1 thx for reporting.

[2015-09-29 19:57] #1118 closed

[2015-09-29 20:55] #1570 closed

[2015-09-29 21:06] dnadeau4 opened #1573 "generate range and pattern broken from GUI"
generating range 24 to 36 n = 6 ext on misses one color when geenrated

pattern is never generated
manually applying pattern is not picked up

[2015-09-30 06:09] doutriaux1 opened #1575 "Fix test suite for LEAN mode"
Some tests are run in LEAN mode that requires bits that are not built.
See https://open.cdash.org/viewTest.php?onlyfailed&buildid=4038079

[2015-09-30 14:58] durack1 commented on #1345
@chaosphere2112 can you please re-run your release note scraper to produce the `2.4.0-rc1` equivalent of the [`2.2.0` release notes](https://github.com/UV-CDAT/uvcdat/wiki/UV-CDAT-2.2-Change-Log)?

[2015-09-30 15:00] durack1 commented on #1180
@doutriaux1 @aashish24 I just noted that this bug was [noted as `critical` in the `v2.2.0` release notes](https://github.com/UV-CDAT/uvcdat/wiki/UV-CDAT-2.2-Change-Log#critical) so might warrant fixing if it's possible in the `2.4.0` timeline?

[2015-09-30 15:04] durack1 commented on #788
@doutriaux1 @aashish24 it seems my PR #1341 was closed, so this should no longer be a `2.4.0` milestone - I've amended this to `3.0` it would be nice to get this cleanup underway..

[2015-09-30 15:06] durack1 commented on #1353
@doutriaux1 @aashish24 this is another that I've moved to `3.0` it's a parallel issue to #788 and #1341

[2015-09-30 15:07] durack1 commented on #1354
@doutriaux1 @mattben I get the impression this issue isn't going to be resolved in the `2.4.0` timeframe - I suggest shifting this to the `3.0` milestone..?

[2015-09-30 15:24] chaosphere2112 commented on #1345
Release notes available [here][1].

[1]: https://github.com/UV-CDAT/uvcdat/wiki/2.4RC1-Release-Notes

[2015-09-30 15:39] chaosphere2112 opened #1576 "Warning: Stenciling is not enabled on Isoline"
On a clean build from yesterday, I was testing isolines and I receive this warning message on every re-render:

[code]

This is showing up in the GUI; just plot an isoline there and resize the window.

[2015-09-30 15:39] durack1 commented on #1345
@chaosphere2112 thanks for this!

[2015-09-30 16:00] #1538 closed

[2015-09-30 16:05] #1125 closed

[2015-09-30 16:07] doutriaux1 commented on #1180
it's GUI related, the taylordiagrams work from command line as far as I know. I'm pretty sure it's not going to be touched for 2.4 and @chaosphere2112 touched up GUI revisit will take care of this.

[2015-09-30 16:08] doutriaux1 commented on #788
@durack1 I will produce a fresh new PR when I do this.

[2015-09-30 16:08] #1353 closed

[2015-09-30 16:09] doutriaux1 commented on #1353
@durack1 I will provide a brand new PR

[2015-09-30 16:09] chaosphere2112 opened #1577 "Patterns & Hatches on Boxfill, Isofill"
Looks like patterns and hatches work correctly for `fillarea`s and `isofill` plots, but not for `boxfill`.

[code]

Produces these two:
![hatch_box](https://cloud.githubusercontent.com/assets/718512/10198182/c3620b04-674f-11e5-9e1f-12a9a976c90d.png)
![hatch_isofill](https://cloud.githubusercontent.com/assets/718512/10198184/c363d0f6-674f-11e5-820e-dccdfc5d4fcb.png)

[code]

Produces these two:
![p

[2015-09-30 16:11] durack1 commented on #1353
@doutriaux1 up to you whether you close this or leave it open as a `3.0`er.. I don't think it should be forgotten about..

[2015-09-30 16:12] doutriaux1 commented on #1345
@chaosphere2112 gatekeeper tag should be ommited, it's really only for us it's fixed in a branch and should be closed.

[2015-09-30 16:15] doutriaux1 commented on #1353
I'm sure it will not be forgotten, I have a feeling someone will be nagging us about this :stuck_out_tongue_winking_eye:

[2015-09-30 16:18] durack1 commented on #1180
@doutriaux1 might be a good idea to rename this issue then - I'm uncertain what it is, but from the current title thought it indicated that taylor diagrams are currently not working

[2015-09-30 16:34] #236 closed

[2015-09-30 16:38] aashish24 commented on #1577
@chaosphere2112 the performance will be slow because we need to add lot more steps for the pattern but its worth investigating more post 2.4

[2015-09-30 16:39] aashish24 commented on #1345
this is great. Instead of *** can we use "Others"

[2015-09-30 16:39] aashish24 commented on #1345
Or something similar.

[2015-09-30 16:46] doutriaux1 commented on #1180
@chaosphere2112 assigned this to you, just so that we make sure it works in the next GUI.

[2015-09-30 16:47] aashish24 commented on #1576
I think its not a VCS/VTK issue but rather a issue with the GUI context which does not support Stencil operation. Who creates the context in the case of GUI? Does the command line works?

[2015-09-30 17:35] chaosphere2112 commented on #1573
@dnadeau4 First half is solved in the PR I just submitted, second half is documented further in #1577

[2015-09-30 17:37] chaosphere2112 commented on #1576
@aashish24 Looks like you're right; submitting a quick fix to vistrails now.

[2015-09-30 17:39] sankhesh commented on #1577
@aashish24 is right. The time performance is slow because of the whole set of tasks involved. It can be improved by reducing the size of the texture created per fill area. Currently, the size is 4 times the bounds of the polydata. However, reducing the size would reduce resolution of the patterns/hatches.

[2015-09-30 17:40] #1576 closed

[2015-09-30 17:42] aashish24 commented on #1577
@chaosphere2112 is this really critical? If yes, then @sankhesh let's reduce the size for now and we can think about a better solution for 3.0.

[2015-09-30 17:43] chaosphere2112 commented on #1577
@sankhesh @aashish24 Well, the critical part is the first half of the bug report (where boxfill isn't getting patterns and hatches). Performance isn't super critical; I just tested it in the GUI, and it actually goes quite a bit faster than I was experiencing in the command line, so that's weird.

[2015-09-30 17:43] aashish24 commented on #1577
thanks @chaosphere2112 that sounds reasonable. Roger that. That is weird.. may be try again?

[2015-09-30 17:57] chaosphere2112 commented on #1577
@aashish24 @sankhesh  Looks like specific patterns/hatches are the problem, not all of them.

Pattern Number | Pattern Time | Hatch Time
--------------------- | ----------------- | ---------------
1 | 0:00:00.487568 | 0:00:00.414466
2 | 0:00:00.288609 | 0:00:00.295397
3 | 0:00:00.268531 | 0:00:00.402500
4 | 0:00:00.273018 | 0:00:00.271401
5 | 0:00:00.270258 | 0:00:00.271995
6 | 0:00:00.268783 | 0:

[2015-09-30 18:09] aashish24 commented on #1577
Great.. this is very useful finding! thanks.

[2015-09-30 18:30] sankhesh commented on #1577
Ahh.. Thanks for sharing @chaosphere2112
I can look at why pattern number 9 generation takes so much time.

[2015-09-30 18:32] chaosphere2112 commented on #1577
That's certainly the most urgent, yeah. If you could get 10-13 to be faster as well, that'd be cool.

[2015-09-30 18:34] sankhesh commented on #1577
For reference, here are all the patterns/hatches:
![Patterns/hatches in UV-CDAT](https://raw.githubusercontent.com/UV-CDAT/uvcdat-testdata/722bc991d32c295fe270d1bc2b5cbb06d3736437/baselines/vcs/test_vcs_hatches_patterns.png).

[2015-09-30 20:14] dnadeau4 commented on #1573
@chaosphere2112 thanks!  It is hard to detect these kind of bugs.   The software did not crash or anything, just did not answer back with patterns, but with filled colors.

[2015-09-30 20:39] #1575 closed

[2015-09-30 20:57] chaosphere2112 commented on #1573
Yup, took a bit of nosing around to determine where to point the finger.

[2015-09-30 23:35] durack1 commented on #906
@dnadeau4 it would be great to add the palettes shown at http://neo.sci.gsfc.nasa.gov/ to UV-CDAT too!

[2015-10-01 00:19] dnadeau4 commented on #906
I'll try to find the python program I wrote last fall to do that.  These are RGB binary files and I was converted them to Python matplotlib cmap colorbar.  I am not sure how UVCDAT reads its palette, so I need to find that out first.

[2015-10-01 05:45] doutriaux1 commented on #906
@dnadeau4 do not worry too much about VCS. @chaosphere2112 and I can take care of these, you should really focus on cdms2/cmor.

[2015-10-01 17:39] dnadeau4 commented on #906
So you don't me to add the nice palette from NEO?  I think they look great and it would be nice to have them in UV-CDAT.

[2015-10-01 17:43] durack1 commented on #906
@doutriaux1 @chaosphere2112 as we were talking yesterday, @dnadeau4 and I were perusing the [UV-CDAT gallery](http://uv-cdat.llnl.gov/gallery.html) and noted that the [blue to purple through green and red default palette](http://uv-cdat.llnl.gov/examples/test_boxfill_lev1_lev2_ext1_ext2.html) looks a bit 1980s/90s and could do with a refresh.. As @dnadeau4 has been working on some 21st century col

[2015-10-01 18:22] chaosphere2112 commented on #906
@durack1, @doutriaux1 has been going on at some length about nabbing the colormaps from Matplotlib (Discussed [here](https://www.youtube.com/watch?v=xAoljeRJ3lU))

[2015-10-01 18:38] durack1 commented on #906
@chaosphere2112 exactly, that's also what [we were thinking](https://github.com/UV-CDAT/uvcdat/issues/906#issuecomment-144574790) along with the other palettes from NASA Earth Observatory..

[2015-10-01 18:59] durack1 commented on #1398
@doutriaux1 this might be something to watch too https://github.com/Unidata/netcdf-c/issues/128 - it seems to be a standing issue in the `netcdf-c` library from the looks..

[2015-10-01 21:45] durack1 opened #1579 "Update netcdf to 4.4.0"
`netcdf 4.4.0` is [expected to land in October 2015](https://github.com/Unidata/netcdf-c/issues/121#issuecomment-144826484). It provides inclusion for [`cdf-5` "big-netCDF" support](https://bugtracking.unidata.ucar.edu/browse/NCF-163) which would be a nice augmentation to current `netcdf` functionality in UV-CDAT to keep things bleeding edge.

Here are some links about the `cdf-5` format - it woul

[2015-10-01 22:12] aashish24 commented on #1579
:+1:

[2015-10-01 22:20] durack1 opened #1580 "Suppress numpy warnings?"
I've just started seeing these warnings:

[code]

It will likely disappear in planned `numpy/cdms` updates #885 (and has already been noted before #576), but wondering whether this should be cleaned up before `2.4.0`?

[2015-10-01 23:00] dnadeau4 commented on #1580
@durack1  I get no warnings!!  Can you try this code?
[code]

[2015-10-01 23:05] dnadeau4 commented on #576
I asked Ryan about the next ESMPy version and you can find his answer below.

I think we should wait for the production ready version of ESMPy before updating.

Denis
-------- Forwarded Message --------
Subject: 	3613822 Re: ESMPy & ESMF
Date: 	Wed, 30 Sep 2015 19:05:35 -0600
From: 	Ryan OKuinghttons
To: 	Denis Nadeau

not been an ESMF/ESMPy release since 630rp1.  We have been working
towards the

[2015-10-02 03:49] durack1 commented on #1580
@dnadeau4 it seems it has something to do with the input data, I'm guessing as I got similar results to you below:

[code]

[2015-10-02 03:59] durack1 commented on #576
@dnadeau4 just FYI, the original implementation of `ESMF` into UV-CDAT was based on pre-release packages.. I think @doutriaux1 will have an opinion on this..

[2015-10-02 16:49] doutriaux1 commented on #906
I'm not saying it's a bad idea I'm just saying it's not @dnadeau4 job assignment and he has a lot on his plate, I want to bring in the new matplotlib default as well and probably make it the new default? But that would break baselines etc... Maybe the default will change in 3.0

[2015-10-02 16:56] doutriaux1 commented on #576
my opinion is that if you can get your hands on a near beta release of esmpy it's worth starting to work on switching the APIs from ESMP to esmpy. They will be more friendly to you if you have any question/changes needed before they release it.

[2015-10-02 17:26] durack1 commented on #906
@doutriaux1 it probably makes sense to change these palettes on the same timeline as the new GUI that @chaosphere2112 is working on.. This placeholder issue captures all the relevant links (and available palettes) so these can be pulled across when required..

[2015-10-02 19:50] chaosphere2112 opened #1581 "GEOS5_sample.nc not copied to correct sample_data directory for OSX"
On OSX, `vcs.sample_data` points to `$INSTALL/share/uvcdat/sample_data`. `GEOS5_sample.nc`, a data file provided by DV3D, installed to `$INSTALL/Library/Frameworks/Python.framework/Versions/2.7/share/uvcdat/sample_data`.

[2015-10-02 21:56] dnadeau4 commented on #906
I found a little program at NASA that I modified to use CMDS2 with XML file.  It works well with matplotlib from UV-CDAT.
* Dowload
  *  [giss_temp_anom.act](http://neo.sci.gsfc.nasa.gov/palettes/giss_temp_anom.act)

* Cut/paste
  * colorbar.py

[code]
* Cut/Paste
  * outfile2.xml
[code]

[2015-10-02 21:57] dnadeau4 commented on #906
Sorry clicked "Close and Comment" instead of Comment.

[2015-10-03 00:11] doutriaux1 commented on #906
@dnadeau4 thx for this, will see if I can add to vcs module to conver tin a vcs colormap.

[2015-10-04 20:04] sankhesh commented on #1577
**Update:**

Custom boxfill plot:
![boxfill_patterns](https://cloud.githubusercontent.com/assets/936354/10269938/77956012-6ab1-11e5-9b13-26f63cb44ef4.png)

Should non-custom boxfill plots also support patterns/hatches?

[2015-10-05 14:53] chaosphere2112 commented on #1577
@sankhesh Nope, just the custom ones.

[2015-10-05 16:35] doutriaux1 commented on #1577
@sankhesh non-custom never did support it because they do not use the filler attributes. I don't think we need to revise this. But now that I think of it we probably should update the attribute setting method to check if the type is custom and raise a warning if we set any of these.

[2015-10-05 17:05] sankhesh commented on #1577
Thanks @doutriaux1 @chaosphere2112

Created #1582 for boxfill patterns/hatches support.

Timing improvements to follow.

[2015-10-05 17:23] durack1 opened #1583 "VCS/VTK warnings and UV-CDAT logo missing in pdf/ps output files"
The following code yields warnings (as below) and additionally the `*.pdf` and `*.ps` output files are missing the UV-CDAT logo, the `*.png` includes the logo..

[code]

[2015-10-05 17:31] doutriaux1 opened #1584 "issue warning if setting non active attributes on boxfill methods"
`fillareacolors` and such are only if used in custom boxfill type, a warning should be used if they are set and the type does not match.

[2015-10-05 17:36] durack1 opened #1585 "EzTemplate object has no close function"
The `EzTemplate` object has no `close` or `exit` functions, so I am uncertain how to purge or manipulate an `EzTemplate` object during an interactive session once it is created (and previewed):

[code]
During the session above, a `VCS` canvas window appears, however I am unable to close this using the `X` (top right corner) or using a `Canvas.close()` (or equivalent, that I can find) on the comman

[2015-10-05 17:56] doutriaux1 commented on #1585
it shouldn't. When you do a `get` you get a template that you can remove. Will fix the clean issue.
By the way you do ``NOT`` get a canvas back. it's an EZTemplate object, not a vas canvas.

[2015-10-05 18:17] durack1 commented on #1585
@doutriaux1 ok, so I have a persistent `Canvas/EzTemplate` object that I cannot close.. So how do I go about closing it using a `get`?

[2015-10-05 18:19] doutriaux1 commented on #1585
you mean after a preview?

[2015-10-05 18:20] durack1 commented on #1585
@doutriaux1 exactly..

[2015-10-05 18:20] doutriaux1 commented on #1585
yes after the preview it is a canvas, you can access it as `Canvas.x.close()` in your case. You're right `Canvas.preview()` should probably return an handle to the canvas.

[2015-10-05 18:22] doutriaux1 commented on #1585
will put this in the bug fix. Will become something like that:
[code]

[2015-10-05 18:22] durack1 commented on #1585
@doutriaux1 ok so `Canvas.x.close()` works (the window terminates), but I had no idea that I needed to call the `x` to initiate a `close`.. The above looks much more reasonable to me..

[2015-10-05 18:24] durack1 commented on #1585
@doutriaux1 also, the inability to `close` it using the window controls (top right hand `X`) is also a concern to me.. These controls should always work..

[2015-10-06 00:26] durack1 opened #1586 "New libx264/h264 library bug needs fix"
@chaosphere2112 I've just tried to roadtest the new `libx264/h264` defaults in the `ffmpeg` call and hit the following error:

So the call:
[code]

returns:
[code]
My call seems to have tripped over a bug? in `libx264` [described here](http://stackoverflow.com/questions/20847674/ffmpeg-libx264-height-not-divisible-by-2). I tried implementing the suggested fix, but not sure we have the option of ap

[2015-10-06 00:32] doutriaux1 commented on #1586
@chaosphere2112 I just found a bug in CMake 3.2 and greater that is triggered by your x264 tarsal generated on a mac... Could you please regenerate the tarsal from a Linux machine? Thx.

[2015-10-06 00:41] doutriaux1 commented on #1586
@aashish24 I reported the issue at:
http://public.kitware.com/Bug/view.php?id=15770

The issue is really that depending on the user CMake we have a different directory where configure resides. In our case I think it will be easy to avoid by simply regenerating the tarball on a Linux system.

[2015-10-06 00:50] doutriaux1 commented on #1586
@durack1 I think our auto size detect code needs update, will fix for 2.4

[2015-10-06 14:31] durack1 opened #1588 "x.png(outFileName, width=XX, height=XX) doesn't resize output file"
At the commandline:
[code]
Appears to write a `*.png` file correctly, however it should yield an output file that is 850x654 pixels, however this yields a file with dimensions 814x629

[2015-10-06 15:14] stefraynaud opened #1589 "Build fails due to CRYPTOGRAPHY"
Current master fails on SUSE Linux Enterprise Server 11 (x86_64) due to python package CRYPTOGRAPHY.

Here are the logs.

OUT
[code]

ERR
[code]

[2015-10-06 17:48] durack1 commented on #885
@dnadeau4 just FYI [`numpy 1.10.0` just landed](https://github.com/numpy/numpy/releases/tag/v1.10.0) so should be available for starting to migrate `cdms2/3` across..

[2015-10-06 19:10] durack1 opened #1590 "[VCS] x.plot(variable) fails with poorly defined bounds"
This issue is reproducible:

[code]

[2015-10-07 01:08] doutriaux1 commented on #1589
do you have openssl devel installed?
any chance we can ask you to set this machine (or another one as one of our bot slaves for continuous testing of installs?)

[2015-10-07 01:10] doutriaux1 commented on #1590
That basically means your data are probably not CF compliant.

[2015-10-07 01:50] durack1 commented on #1590
I can send you some files if you want to investigate this.. The ungraceful error above isn't a good first impression for someone who wants to use UV-CDAT on their fresh model fields..

[2015-10-07 01:51] doutriaux1 commented on #1590
well it does tell you you do not have bounds info on your grid. You can't actually expect it to plot the data w/o this info. Let's take a look tomorrow.

[2015-10-07 01:54] durack1 commented on #1590
@doutriaux1 might be a little quick on the `close` button there.. I'd reopen until I've provided you enough info to make it a `user error` case.. :stuck_out_tongue_winking_eye:

[2015-10-07 01:57] doutriaux1 commented on #1590
well the error message is pointing to this. But I'll reopen to smooth your sleep tonight :stuck_out_tongue_winking_eye:

[2015-10-07 02:08] durack1 commented on #1590
@doutriaux1 your comment "well it does tell you you do not have bounds info on your grid. You can't actually expect it to plot the data w/o this info." isn't what I'd expect.. Sure, warnings being thrown to the screen to say `bounds aren't there so I'm guessing`, but I would expect to see SOMETHING, rather than getting the error above.. In the case of `ferret` it just throws warnings saying `I've

[2015-10-07 04:40] durack1 commented on #1583
@doutriaux1 is this fixed by #1591?

[2015-10-07 08:58] stefraynaud commented on #1589
How to check that these devel packages are installed?

How to integrate this machine in your continuous testing?

[2015-10-07 13:46] aashish24 commented on #1589
@stefraynaud it would be great to have a SUSE dashboard or buildbot slave +1

[2015-10-07 16:19] stefraynaud commented on #1589
Ok, how to configure buildbot to connect to your master?

[2015-10-07 16:37] doutriaux1 commented on #1583
nope.

[2015-10-07 16:53] doutriaux1 commented on #1589
@stefraynaud please take a look at: https://github.com/UV-CDAT//uvbot I will email you our bot-key.

Once your slave is up and can pass the "how can I help you" test I can add it to our master list of slaves.

You have control of which options you want to send to your slave (i.e which UV-CDAT configuration to build)

[2015-10-07 17:38] durack1 commented on #1590
@doutriaux1 this is what the input file looks like:
[code]

[2015-10-07 18:04] doutriaux1 commented on #1590
`x/yt_ocean` do not have the `bounds` attribute. Not CF compliant.

[2015-10-07 18:06] durack1 commented on #1590
I might just start using `ferret` then.. robust plotting software.. :wink:

[2015-10-07 18:40] #1577 closed

[2015-10-07 18:45] mcenerney1 opened #1593 "cdms2 netcdf use parallel flag fails"
cdms2 has a flag that turns off parallel IO. I have evidence that it fails.

[2015-10-07 18:48] doutriaux1 commented on #1593
@mcenerney1 can you please put a simple script for us to reproduce?

[2015-10-07 18:50] mcenerney1 commented on #1593
I did try to make one but failed. I'll continue. But, Denis looked at the code and verified the flag is unused.

[2015-10-07 18:53] dnadeau4 commented on #1593
Here is a script that failed

[code]

[2015-10-07 18:54] dnadeau4 commented on #1593
Here is my solution which works...

in Cdunifmodule.c  we need to check for the cdms_use_parallle before opening  a file with MPIIO.

[code]

[2015-10-07 20:58] durack1 opened #1594 "iso plot failure"
@doutriaux1 as discussed:

[code]

[2015-10-07 21:15] durack1 commented on #1590
@doutriaux1 here's the "best guess" output from `ferret` - something similar in `VCS` would be great..
![auscom1-0 salt_k1_l1](https://cloud.githubusercontent.com/assets/3229632/10351343/e61e5892-6cfd-11e5-8d44-8bc5b3435e52.gif)

[2015-10-07 22:22] mcenerney1 commented on #1593
do you mean ncmode not mode? also controlpath is undefined.

[2015-10-07 22:56] dnadeau4 commented on #1593
mode is passed as a parameter and already contains NC_WRITE or NC_NOWRITE.  Charles is creating a patch and will add this to 2.4.

[2015-10-07 22:57] mcenerney1 commented on #1593
Thanks. I modified the wrong part of the code. Is it supposed to be cdopen?

[2015-10-07 22:59] mcenerney1 commented on #1593
Mea Culpa!

[2015-10-08 04:44] durack1 commented on #1585
@doutriaux1 fixed #1591?

[2015-10-08 14:44] mcenerney1 commented on #1593
This works beautifully!

[2015-10-08 14:53] mcenerney1 commented on #1593
It worked for 3 processors, but not 4. The symptoms are the same as before. I suspect the fix needs to be somewhere else also.

[2015-10-08 16:34] doutriaux1 commented on #1585
yes

[2015-10-08 16:50] doutriaux1 opened #1597 "after first plot you cannot switch between bg or fg"
[code]

[2015-10-08 16:51] doutriaux1 opened #1598 "x.showbg() not implemented"
we used to be able to plot in bg mode and at the end bring the canvas to the front.

[code]

[2015-10-08 18:24] mcenerney1 commented on #1593
It now works for any number of processors for now. I lost the following mods to cdscan which must
be included in cdscan.
if __name__ == '__main__':
    main(sys.argv)
    from mpi4py import MPI
    comm = MPI.Comm.Get_parent()
    comm.send('cdscan complete')

[2015-10-08 18:25] doutriaux1 commented on #1593
@mcenerney1 since it's not in master, let's not close it yet

[2015-10-08 18:35] mcenerney1 commented on #1593
OK. We have to resolve the cdms2.setNetcdfUseParallelFlag flag in cdscan.
I confirmed that it is set to 1.  For now it has no effect on the diagnostics.
But it may in the future.

[2015-10-08 20:27] sankhesh opened #1599 "Testing does not respect custom threshold values"
`checkimage` module provides API to use a custom threshold value but does not use the custom value.

[2015-10-08 22:46] dnadeau4 commented on #1593
I created a pull request to set cdms2.setNetcdfUseParallelFlag(0) in cdscan.

[2015-10-09 00:25] #1599 closed

[2015-10-09 15:38] stefraynaud commented on #1589
In fact, the buildbot/slave solution is not optimal all system since it requires to open a port accesible from outside, which is not always possible, for instance where I work and on the IFREMER supercomputer.
However, we have our own CI based on jenkins, and a solution would be to format and send reports to the master.

[2015-10-09 18:59] aashish24 opened #1603 "Decide code style for VCS and CDMS (at minimum)"
@sankhesh @doutriaux1 @chaosphere2112 @dnadeau4 its really bothering me that we don't have a consistent style. A lack of consistent style leads to bugs and difficult in reading code. We should discuss it post 2.4.

[2015-10-09 20:06] aashish24 commented on #1086
@doutriaux1 looking into this now..

[2015-10-09 20:19] aashish24 commented on #1086
I was able to replicate the issue.. odd bug..

[2015-10-09 21:43] #1585 closed

[2015-10-11 02:44] durack1 commented on #1345
@chaosphere2112 can you recreate the release notes again please? It looks like there is some cleaning up to be done..

[2015-10-11 05:04] doutriaux1 commented on #1589
@stefraynaud the bot/slave idea was not for this on/off but just in general so that we never break it again.
If your jenkins can send report to github that would be awesome.

[2015-10-11 05:09] doutriaux1 commented on #1603
@aashish24 I agree, but whatever style we decide in we will have to keep the old names in place as duplicate we can't go ahead and break 25years worth of script.

[2015-10-11 05:15] doutriaux1 commented on #1345
@chaosphere2112 let's wait until it's tagged.

[2015-10-12 17:16] #1588 closed

[2015-10-12 22:27] glpotter opened #1606 "Version 2.4.0 rc2 bug in color maps etc."
Change background color then I changed the colormap got this:

Traceback (most recent call last):
  File "/Users/potter/uvcdat/build-uvcdat/install/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/configurator.py", line 236, in release
    self.create()
  File "/Users/potter/uvcdat/build-uvcdat/install/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/s

[2015-10-12 22:30] doutriaux1 commented on #1606
@glpotter how did you `change the background color` ? In the gui editor mode?

[2015-10-12 22:31] glpotter commented on #1606
yes

Jerry Potter
UC Davis
Department of Earth and Planetary Sciences
One Shields Ave
Davis, CA 95616
(707) 315-8314
jpotter@ucdavis.edu

[2015-10-12 22:42] doutriaux1 commented on #1606
hum... works for me. I will need a little more details. I'm using cult with boxfill "default", then change background red value (tried to both close or leave open, makes no difference) then click colormap editor and change the palette. Everything works here. Which os?

[2015-10-12 22:49] glpotter commented on #1606
10.10.. I may not be able to reproduce it either.. delete the bug report until I can reproduce it.

Jerry Potter
UC Davis
Department of Earth and Planetary Sciences
One Shields Ave
Davis, CA 95616
(707) 315-8314
jpotter@ucdavis.edu

[2015-10-12 22:56] doutriaux1 commented on #1606
hum... Let's just wait. I will look at your trace and see if I can create a test that re-triggers this.

[2015-10-12 23:01] dnadeau4 commented on #1401
Jerry,
I worked with Charles on this and there is a way to extract a small portion of the dataset without reading everything in memory.   Here is an example.

[code]

[2015-10-12 23:07] potter2 commented on #1401
Thanks,
By the way George gave me a bottle of olive oil for you from his trees in Greece. I sent it to myself last week. I’ll bring it by when it arrives.

Jerry

On Oct 12, 2015, at 4:01 PM, Denis Nadeau <notifications@github.com<mailto:notifications@github.com>> wrote:

Jerry,

I worked with Charles on this and there is a way to extract a small portion of the dataset without reading everything i

[2015-10-13 16:58] #1586 closed

[2015-10-13 16:59] #1423 closed

[2015-10-13 21:02] painter1 opened #1608 "MPI builds and Python multiprocessing"
It should be our goal for UV-CDAT to allow the user to use any standard Python module.  It is a bug if you have to use one build of UV-CDAT for one module, and another build for another module.

I want to use the multiprocessing module.  This is part of the Python standard, so it is available in every build of UV-CDAT.  Sometimes, but not at the same time, I want to use the py4mpi module.  This is

[2015-10-13 22:44] dnadeau4 commented on #1608
Actually,  cdms2 "tvariable.py" is calling "from mpi4py import MPI" which calls MPI_Init.  It happens automatically if mpy4py exist.   I guess we could let the user do the call from mpi4py import MPI before calling cdms2 if they want MPI_Init to be called....

[2015-10-13 23:10] painter1 commented on #1608
The problem does not come from tvariable.py.  It doesn't import mpi4py if it can't find it, and for testing I had entirely deleted mpi4py.

[2015-10-13 23:11] dnadeau4 commented on #1608
Jeff,

I found that seting "rc.initialize=false" will disable MPI_Init().

#!/usr/bin/env python

from mpi4py import rc
rc.initialize = False

from mpi4py import MPI
assert not  MPI.Is_initialized()
assert not MPI.Is_finalized()

MPI.Init()
assert MPI.Is_initialized()
assert not MPI.Is_finalized()

MPI.Finalize()
assert MPI.Is_initialized()
assert MPI.Is_finalized()

[2015-10-13 23:13] dnadeau4 commented on #1608
Here it is...
https://github.com/UV-CDAT/uvcdat/blob/master/Packages/cdms2/Lib/tvariable.py#L24-L29

[2015-10-13 23:34] painter1 commented on #1608
I tried "rc.initialize=False" but it didn't help - the error message still appears if you try to use multiprocessing.  Probably MPI_Init is called some place not known to mpi4py.

[2015-10-13 23:45] dnadeau4 commented on #1608
Does this help?

[code]

[2015-10-13 23:49] painter1 opened #1609 "AbstractAxis.isTime() speedup"
On a mis-configured machine such as rhea.ccs.ornl.gov where a file open operation is expensive, one unnecessary bottleneck is in AbstractAxis.isTime(), in cdms2 axis.py.

Every time isTime() is called on an axis without a :axis attribute, it will try to analyze the units.  Each call of available_units() involves opening a file. (Later on I'll enter this as another issue.)

An easy fix is to save r

[2015-10-14 00:00] painter1 commented on #1608
This suggestion leads to an error "Calling MPI_Init or MPI_Init_thread twice is erroneous." which strengthens my guess that MPI_Init is called by C code.

Calling MPI.Finalize() was a good idea, but it doesn't work yet.  If I take out the MPI.Init() call, then I get an error message "The MPI_Comm_rank() function was called after MPI_FINALIZE was invoked."  There's nothing in my code which asks for

[2015-10-14 00:12] painter1 opened #1610 "AbstractAxis.isCircular() speedup"
On a mis-configured machine such as rhea.ccs.ornl.gov where it can be expensive to read just a little data, one unnecessary bottleneck is in AbstractAxis.isCircular(), in cdms2 axis.py.

This can easily be called very many times on the same axis, in my case via AbstractVariable.specs2slices().  This method, isCircular(), simply reads the endpoints of the axis, just a few bytes.  If you know that t

[2015-10-14 00:17] painter1 opened #1611 "Axis.getExplicitBounds() speedup"
On a mis-configured machine such as rhea.ccs.ornl.gov where it can be expensive to read even a little data, one unnecessary bottleneck is in Axis.getExplicitBounds(), in cdms2 axis.py.

This method reads the bounds variable of an axis every time it is called.  Sometimes it is called many times on the same axis.  It is easy to get a substantial performance improvement by saving the array in an attr

[2015-10-14 00:25] painter1 opened #1612 "openDataset() speedup"
On a mis-configured machine such as rhea.ccs.ornl.gov where a file open operation is expensive, one unnecessary bottleneck is in openDataset(), in cdms2 dataset.py.

This function opens a file as 'file1', checks an attribute, then opens it again as 'file' and closes 'file1'.  In some cases 'file' has been opened differently from 'file1', so this is the only option.  But in most normal use, the fil

[2015-10-14 00:34] painter1 opened #1613 "udunits.known_units() speedup"
On a mis-configured machine such as rhea.ccs.ornl.gov where it can be expensive to read even a small file one unnecessary bottleneck is in udunits.known_units(), in unidata udunits.py.

Every time this method is called (and it can easily happen tens of thousands of times), it opens a file, reads it, and then closes it.  The file hardly ever changes, not even once per release of UV-CDAT.  This file

[2015-10-14 12:24] stefraynaud opened #1614 "selector speedup"
It seems possible to speedup the "selection" process when slicing a variable with a ``raw=1`` and with positional arguments set to slices:
[code]
In this case, there is not need to read axes and grid, just some attributes and the numerical content.
However for instance, the ``Seletor.unmodifed_select`` method starts with a ``.getGrid`` call whatever the arguments passed:
https://github.com/UV-CDAT

[2015-10-14 23:13] doutriaux1 commented on #1391
@durack1 I can't reproduce, the following works for me. Please re-open if you can still reproduce.

[code]

[2015-10-14 23:13] #1391 closed

[2015-10-14 23:16] doutriaux1 commented on #1590
@durack1 put this to 3.0 and put it as enhancement so that we fallback to just i/j plot if we can't get the mesh (with a warning)

[2015-10-14 23:16] doutriaux1 commented on #1590
@durack1 please keep the data around as well. Thx.

[2015-10-14 23:17] doutriaux1 commented on #1583
took care of the warnings.

[2015-10-14 23:17] doutriaux1 commented on #1583
need to check ps/pdf files logo.

[2015-10-14 23:22] doutriaux1 commented on #1512
@durack1 it does "raise" so it should exit with an error, what do you mean by "gracefully being caught in an error and exit". That's pretty much what happens here.

[2015-10-14 23:23] doutriaux1 commented on #1355
@mcenerney1 branch fixed this i think, if someone runs into it again feel free to reopen.

[2015-10-14 23:23] #1355 closed

[2015-10-14 23:24] doutriaux1 commented on #1317
@jbeezley no idea what this is about but with bots up and running I think we can close. Feel free to reopen.

[2015-10-14 23:24] #1317 closed

[2015-10-14 23:24] doutriaux1 commented on #1162
@dlonie aren't you doing this?

[2015-10-14 23:25] doutriaux1 commented on #1162
@dlonie sorry I thought of the 2DContext. I'm not sure what this is about @aashish24 can you please elaborate on this?

[2015-10-14 23:27] doutriaux1 commented on #1092
@aashish24 feel free to re-open I think this is not worth looking at in the light of the GUI changes coming in soon.

[2015-10-14 23:27] #1092 closed

[2015-10-14 23:28] doutriaux1 commented on #1080
@jypeter I'm not sure we have cycles for this, feel free to fork and provide an update.

[2015-10-14 23:29] doutriaux1 commented on #1068
fixed

[2015-10-14 23:29] #1068 closed

[2015-10-14 23:30] doutriaux1 commented on #922
@chaosphere2112 to add to list of 3.0 new things

[2015-10-14 23:42] doutriaux1 commented on #1606
@chaosphere2112 the following bit of output:
[code]
worries me `tt.colormap` sugests it should by a texttable object, but the error says `Tc` which means it is a colormap object.

[2015-10-15 01:31] aashish24 commented on #1106
@doutriaux1 this is still broken right?

[2015-10-15 01:32] aashish24 commented on #1181
@mcenerney1 are we going to fix this in 2.4?

[2015-10-15 01:32] aashish24 commented on #1223
@doutriaux1 what do we do with this bug?

[2015-10-15 01:32] aashish24 commented on #1223
@chaosphere2112 I assigned it to you for now. Feel free to modify as needed.

[2015-10-15 01:33] aashish24 commented on #1265
@doutriaux1 I will work on this as soon as I fix the animation issue.

[2015-10-15 01:35] aashish24 commented on #1354
@durack1 done.

[2015-10-15 01:36] aashish24 commented on #1375
@chaosphere2112 do we care about this bug?

[2015-10-15 01:37] aashish24 commented on #1397
@doutriaux1 I am going to verify if VTK is the culprit as discussed.

[2015-10-15 01:37] #1427 closed

[2015-10-15 01:38] aashish24 commented on #1427
@doutriaux1 @mcenerney1 I believe this is no longer an issue?

[2015-10-15 01:41] #1366 closed

[2015-10-15 02:21] aashish24 commented on #1573
@chaosphere2112 should we close this issue?

[2015-10-15 02:22] aashish24 commented on #1581
@chaosphere2112 I believe @doutriaux1 fixed this issue.

[2015-10-15 12:30] durack1 commented on #1590
@doutriaux1 no problem, I'm working with this data so can provide it when you want to take a look at this again..

[2015-10-15 12:34] durack1 commented on #1354
@aashish24 I'm not sure the legal update is done - take a look at the first link above..

[2015-10-15 13:39] durack1 commented on #1512
I'll take another look at how I am calling this (and collecting stdout and stderr) as long as these are being sent to the correct output I should be able to fix this.. I'll report back on progress..

A question to raise is whether in the case describe above `cdscan` should try to generate output as it does with overlapping times in multiple files etc.. This case errors, whereas other similar cases

[2015-10-15 19:05] chaosphere2112 commented on #1606
@doutriaux1 Tc is also the name of TextCombined objects. I was passing them into vcs2vtk in laziness (instead of getting the To and Tt from it). I updated this to not do so anymore.

[2015-10-15 19:28] chaosphere2112 commented on #1375
@aashish24 Sure!

@doutriaux1 The problem is that Vistrails is by default applying a squeeze argument of 1, which is removing the access you've shrunk. I'll remove that argument.

[2015-10-15 20:49] durack1 commented on #885
@dnadeau4 - fixed by #1607?

[2015-10-16 14:54] chaosphere2112 commented on #1223
@aashish24 I've got this in the new GUI already. I don't think I'm going to bother getting it into Vistrails.

[2015-10-16 14:55] chaosphere2112 commented on #1228
@aashish24 @doutriaux1 Since ESGF is still down, is this even testable?

[2015-10-16 15:02] aashish24 commented on #1223
@chaosphere2112 sounds good to me. I am closing this then.

[2015-10-16 15:02] #1223 closed

[2015-10-16 15:28] #1281 closed

[2015-10-16 16:21] doutriaux1 commented on #1106
Oh! I have the data now, I need to double check.

[2015-10-16 16:22] doutriaux1 commented on #1181
@chaosphere2112 can you take a look, I'd say if it takes more than 2 minutes, let's wait for the new GUI.

[2015-10-16 16:23] doutriaux1 commented on #1427
yes fixed.

[2015-10-16 16:30] doutriaux1 commented on #1573
@chaosphere2112 I think you fixed this no?

[2015-10-16 16:31] doutriaux1 commented on #1581
not yet...

[2015-10-16 16:32] chaosphere2112 commented on #1573
Hasn't been merged yet (UV-CDAT/Vistrails#59), but yeah, it's fixed.

[2015-10-16 16:32] aashish24 commented on #1581
@doutriaux1 I thought you had a branch for it no?

[2015-10-16 16:35] chaosphere2112 commented on #1181
@doutriaux1 Yup, I'll poke at it.

[2015-10-16 16:40] doutriaux1 commented on #1606
Your'e right Cp are the colormaps...

[2015-10-16 16:46] doutriaux1 commented on #1375
as @chaosphere2112 discovered this is really an underlying issue with cdms2, i will open a separate issue for the cdms2 bug.

[2015-10-16 16:50] doutriaux1 commented on #1375
actually @chaosphere2112 it seems to work in cdms
[code]

but the (kind of user error really folowing doesn't:
[code]

Indeed if you "sqeeze out" levels you can't ask for them in the ordering

[2015-10-16 16:51] doutriaux1 commented on #885
@durack1 eventually yes.

[2015-10-16 17:16] doutriaux1 commented on #1581
nope

[2015-10-16 17:17] doutriaux1 commented on #1573
merged now.

[2015-10-16 17:17] #1573 closed

[2015-10-16 17:36] chaosphere2112 commented on #1181
@doutriaux1 OK, definitely going to take more than a couple of minutes. I'm gonna vote we wait for the new GUI on this one.

[2015-10-16 17:39] doutriaux1 commented on #1181
moved to 3.0

[2015-10-16 17:51] chaosphere2112 commented on #1375
Right, but `order` also takes indices:

[code]

which is what the GUI does to reorder the dimensions.

[2015-10-16 17:55] chaosphere2112 commented on #1375
@doutriaux1 I can just disable the auto-squeeze in the GUI; that would resolve the issue easily enough.

[2015-10-16 17:56] doutriaux1 commented on #1375
an option to turn it on/off is better, so if user run into this werid case they can turn it off. I think users prefer squeeze=1 by default.

[2015-10-16 17:57] chaosphere2112 commented on #1375
Yeah; it looks like there's a preference to toggle it on/off globally for the app. I think a checkbox in the variable editor would be simple enough to add. I'll take a quick whack at it.

[2015-10-16 18:53] chaosphere2112 commented on #1375
OK, accidentally pushed to `uvcdat-master`, but this issue should now be resolved. I added a "Squeeze Dimensions" checkbox into the load variable window, and now the indices for the order argument are calculated based off of whether squeeze is set or not (and will correctly eliminate squeezed axes from the order list).

[2015-10-16 22:38] #1375 closed

[2015-10-19 16:01] chaosphere2112 opened #1619 "Isoline Labels don't show up initially in GUI"
If you plot `clt` using `a_isoline`, it should display labels on the lines by default. If you open the plot configuration menu, it shows that labels are enabled for that graphics method, but they aren't displayed. If you click "apply", the labels appear.

[2015-10-19 16:13] chaosphere2112 opened #1620 "XvsY error"
[code]

gives:
[code]

[2015-10-19 16:45] doutriaux1 commented on #1619
@chaosphere2112 the default is to have the labels off:
[code]

labels are off by default.

I think the issue is with the GUI turning it on when it shouldn't.

[2015-10-19 16:46] doutriaux1 commented on #1620
Actually this shouldn't work because the shape won't match, but it's definitely crashing first for another reason.

[2015-10-19 16:49] chaosphere2112 commented on #1619
Yup, I figured that out. Just finished sorting out the issue; blame VisTrails' tendency to turn things into strings and back out again. I now use vcs.VCS_validation_functions.checkFuzzyBoolean to validate the `label` setting.

[2015-10-19 16:52] #1619 closed

[2015-10-19 17:02] williams13 commented on #1620
No it shouldn’t work, but it shouldn’t crash either. Just doing typical user things…

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, October 19, 2015 at 9:46 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject: Re: [uvcdat] XvsY

[2015-10-19 17:49] doutriaux1 opened #1622 "xvsy should exit nicely when not compatible data are sent to it."
[code]

[2015-10-21 18:51] doutriaux1 opened #1624 "yname doesn't change with autot"

[2015-10-21 19:14] doutriaux1 opened #1625 "isolines GUI editor not connected"

[2015-10-21 20:19] aashish24 opened #1626 "Contour labels are don't show up in exported file (PNG or PDF)"
I sent a example code to @dlonie . Originally submitted by Jerry.

[2015-10-21 21:33] chaosphere2112 commented on #1625
Actually, it turns out `isoline.linewidths` and `isoline.line` aren't being obeyed. I'll still fix it, already found the right chunk of code.

[2015-10-22 01:16] #1239 closed

[2015-10-22 18:40] chaosphere2112 opened #1628 "CMake not able to find gfortran installed via apt-get"
I just did a build on a clean Ubuntu VM and installed `gfortran` using the `gfortran-4.9` package via `apt-get`. This creates a binary in `/usr/bin/` called `gfortran-4.9`; we should be able to identify that as a valid fortran compiler, but instead I'm given a message about not being able to locate one. Since `apt-get` really is the easiest way to install things on ubuntu, I'm thinking we should h

[2015-10-22 18:43] chaosphere2112 commented on #1628
@aashish24

[2015-10-22 19:03] aashish24 commented on #1628
who complains about not finding gfortran? Is it coming from ESMF? I am using apt-get gfortran and it works for me.

[2015-10-22 19:20] chaosphere2112 commented on #1628
I did `sudo apt-get install gfortran-4.9` (to make sure it didn't grab a 5.0 version), and got this:

[code]

[2015-10-22 19:21] chaosphere2112 commented on #1628
(when attempting to cmake)

[2015-10-22 19:25] jbeezley commented on #1628
I'm sure CMake relies on finding a known compiler name like `gfortran`, `f95`, etc.  That is what you get when you install the versionless `gfortran` package.  If you want to manage alternate compiler versions, I would recommend either setting an alias or using Ubuntu's [update-alternatives](http://linux.die.net/man/8/update-alternatives).

[2015-10-22 19:33] chaosphere2112 commented on #1628
Ah, that makes sense... kind of annoying if they decide to update the `gfortran` package to 5+, since that will break ESMF. Oh well, we can burn that bridge when we get there.

[2015-10-22 19:33] #1628 closed

[2015-10-22 19:40] dlonie commented on #1626
@aashish24 PNG works, always has -- there are several tests that have exercised this functionality since the feature was added. If there is an issue with PNG, I'll need more information on how to reproduce it.

Some bits were missing for vector export, should be fixed by UV-CDAT/VTK#10.

[2015-10-22 19:47] dlonie commented on #1626
Patch merged.

[2015-10-22 19:47] #1626 closed

[2015-10-22 21:08] chaosphere2112 opened #1629 "Animation and Resizing causes issues"
Animation in `interact()` mode will break if you resize the window while you're animating. It also slows down while you move the mouse around.

[2015-10-22 21:10] chaosphere2112 commented on #1629
I've got a fix for the resizing of the animation (had to tweak some stuff, but it wasn't too bad). Working on improving the performance of the mouse move events to speed up animation.

[2015-10-22 21:29] cameronsmith1 opened #1630 "Variable sub-select dropdown menu not working."
I am using UVCDAT GUI, v2.4 on Rhea.

In the window for loading a variable, there are sliders for sub-selecting the data.  There is also a dropdown menu that used to offer an alternative way to sub-select the data.   This dropdown menu doesn't seem to have any effect anymore.

I showed this to @doutriaux1, and he confirmed that it appears to be a bug.

[2015-10-22 21:38] cameronsmith1 opened #1631 "Problem with doing calculations with variables in the GUI?"
I am working with UVCDAT 2.4 on Rhea.

I asked UVCDAT to calculate the difference between two variables that should be identical.  The answer was clearly wrong (it should have been x-x=>0, but instead I got -x).

I repeated the operations, and this time I got zero, as expected.  Hence, I am not sure what the problem was, and I am not sure it will be possible to debug.  But I want to let people kno

[2015-10-22 21:58] cameronsmith1 opened #1632 "Plots initially too big for plot window."
I am using UVCDAT v2.4 GUI on Rhea.

When I first do a plot (boxfill) the plot shows up the right size for its window.  After a few seconds, it then redraws itself in a way that it is much too big for its window.

If I resize the window, that prompts it to redraw it, and it does so correctly.

[2015-10-23 15:11] stefraynaud opened #1633 "VACUMM is on github"
Hi,

just to let you know that VACUMM is now available on github and that it includes a series of unittests.

https://github.com/VACUMM/vacumm

[2015-10-23 19:46] dnadeau4 commented on #885
@durack1 I am trying to read all referenced ticket which bring me to more referenced tickets.  At this point I am not sure what the problem is with 1.10.0.   Can we discuss this?

[2015-10-24 04:55] aashish24 commented on #1626
thanks @dlonie for taking care of this quicly! Awesome stuff!!!!!

[2015-10-26 05:35] doutriaux1 commented on #1633
Thx,

I will update the install to pull from there.

C.

From: Stephane Raynaud <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, October 23, 2015 at 8:11 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject: [uvcdat] VACUMM is on github (#1633)

Hi,

just

[2015-10-26 05:36] doutriaux1 opened #1635 "Update vacumm to source from github"
also possibly link to test suite,

https://github.com/VACUMM/vacumm

[2015-10-26 17:35] aashish24 opened #1636 "Some users were unable to build UV-CDAT on Mac"
For example @isubsmith is having some issues

[2015-10-26 18:17] #1275 closed

[2015-10-26 18:18] #1276 closed

[2015-10-26 18:50] aashish24 opened #1638 "Full screen plots do not work"
Steps to reproduce:

1) Run uvcdat
2) Make it full screen
3) Plot clt (as usual)
4) It resizes automatically to some smaller size (screenshot attached)
![ss](https://cloud.githubusercontent.com/assets/146527/10739073/cfde60f2-7bf0-11e5-972e-837b5613e244.png)

Using master as of today.

@chaosphere2112 do you want to take a look at it?

[2015-10-26 19:22] chaosphere2112 commented on #1638
@aashish24 Sure, I'll take a look at it. On first glance I wasn't able to replicate, but I'm doing a clean build that I haven't messed with as much.

[2015-10-26 19:44] chaosphere2112 commented on #1638
@aashish24 On a fresh build this did not happen for me. What platform are you running on?

[2015-10-26 20:56] aashish24 commented on #1638
Ubuntu 14.04

[2015-10-26 21:01] chaosphere2112 commented on #1638
Ok; building on Ubuntu now.

[2015-10-27 00:43] dnadeau4 opened #1639 "build on Ubuntu 15.10"
ncurse 5.9 (and ncurse 6.0) needs a patch for gcc 5.2.1

* https://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/sys-libs/ncurses/files/ncurses-5.9-gcc-5.patch

VTK is failing on libraries in IO/FFMPEG

libraries not found (missing -L${EXTERNALS})
* -lavformat
* -lavcodec
* -lavutil
* -lswscale

[2015-10-27 00:45] dnadeau4 commented on #1639
@aashish24 do you know what is happening with IO/FFMPEG build with gcc 5.2.1?   I tried to use LDFLAGS without success, if I change link.txt and add -L.../Extenals/lib it compiles correctly.

[2015-10-27 02:13] aashish24 commented on #1639
@dnadeau4 can you send me your CMakeCache.txt

[2015-10-27 15:20] doutriaux1 opened #1640 "projections still broken"
@aashish24 looking at baselines:
https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_basic_boxfill_aeqd_proj.png

You can see that the purple blob over africa gets cut at the 0 longitude.

[2015-10-27 23:01] dnadeau4 commented on #1639
@aashish24  here it is:
[CMakeCache.txt](https://github.com/UV-CDAT/uvcdat/files/22056/CMakeCache.txt)

[2015-10-27 23:53] dnadeau4 commented on #1639
After fixing VTK link problem,  I had to recomiple PyQt4 and everything worked.

[2015-10-28 16:09] doutriaux1 opened #1641 "meshfill patterns not implemented"

[2015-10-28 16:11] doutriaux1 opened #1642 "allow user to reference color by string or rgba tuple"
with many colormaps allowed we should let the user edit any color (not just first 240)
BUT we should also let the user specify "red" as a valid way
optionally passing a rgba tuple should work too

[2015-10-28 16:13] doutriaux1 opened #1643 "allow colors to define opacity"

[2015-10-28 16:24] doutriaux1 opened #1644 "pattern are not wrapped around"
[code]
![pattern_wrapped](https://cloud.githubusercontent.com/assets/2781425/10795159/a88821a8-7d55-11e5-960c-596523ce91b9.png)

[2015-10-28 17:20] chaosphere2112 opened #1645 "Isofill Blank Spots on Solid with Indices/Levels"
@aashish24 @sankhesh @doutriaux1 Just ran into this one while testing my performance branch, then went back and found it on master.

[code]

will give you this:

![out](https://cloud.githubusercontent.com/assets/718512/10796902/6b696c16-7d5d-11e5-9578-fbd053442c3e.png)

Obviously, `fillareaindices` shouldn't have any effect on a `solid` isofill, so that's a pretty weird behavior.

[2015-10-28 17:21] chaosphere2112 commented on #1645
The `ext_2` is insignificant, but was in the script that I used to generate the image.

[2015-10-28 18:22] chaosphere2112 commented on #1645
Also with patterns:

[code]

![pattern_white_tri](https://cloud.githubusercontent.com/assets/718512/10798686/1f375d9a-7d66-11e5-8ee5-3e9b5189cc50.png)

[2015-10-28 21:58] bhayes84 opened #1646 "cdscan xml from multiple files dropped time axis bounds --> cdutil.YEAR fails"
This is on a Ubuntu 14.04.3 system with uvcdat 2.1.0.
I see the same failure on a vm with Ubuntu 13.10 with uvcdat 1.5.0-rc5.

When I used cdscan for two .nc files, the resulting xml no longer contains time axis bounds which makes the cdutil.YEAR function fail:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/uvcdat/2.1.0/lib/python2.7/site-packages/cdut

[2015-10-28 22:42] doutriaux1 commented on #1646
confirmed in master here as well.

In the mean time please use `cdutil.setTimeBoundsMonthly(ev2)`

[2015-10-28 22:43] doutriaux1 commented on #1646
@dnadeau4 on crunchy use:
[code]

[2015-10-29 00:54] dnadeau4 commented on #1639
I created a patch for "ncurses" and update cmake to "3.4.0-rc2".   I rebuild and everything worked fine.

Will try a pull request to see what happens on different machines.

[2015-10-29 14:39] doutriaux1 opened #1648 "Diagnosis broken from GUI"
Going to Diagnosis menu -> Select AMWG -> set path to `cam_output` in our share/uvcmetrics directory

I get:
[code]

[2015-10-29 14:40] doutriaux1 commented on #1648
@isubsmith and @mcenerney1  can you also please take a look and help @painter1.

@williams13 do we still want the diags from the GUI?

[2015-10-29 14:50] isubsmith commented on #1648
I'm sure the UVCDAT code is out of sync with changes in diagnostics code. This looks fairly simple (changes to the options data structure), but I don't know where the UVCDAT code is any more and I don't know how to check out the right version of it either.

If you can help with that I can probably look at it, though I have other commitments all afternoon :(

[2015-10-29 16:30] durack1 commented on #885
@dnadeau4 the issue that @doutriaux1 encountered with an earlier `numpy` release (`1.9.2` from memory) was that the `cdms2TransientVariable.mean()` function wasn't returning a valid result.. The comment is documented in https://github.com/UV-CDAT/uvcdat/pull/915

[2015-10-29 16:46] isubsmith commented on #1648
I found diagnosticsDockWidget.py. Send me a branch name and/or sha1 and I can grab the latest version of it. I probably won't be able to fix this before morning though.

[2015-10-29 18:31] aashish24 commented on #1639
@dnadeau4 as promised here is the branch: https://github.com/UV-CDAT/VTK/pull/12

I will need to create a new branch for UV-CDAT as well (will do today). Will need your help with review.

[2015-10-29 18:31] aashish24 commented on #1639
@dnadeau4 also, I marked it for 2.4

[2015-10-29 18:43] #1629 closed

[2015-10-29 18:46] #1606 closed

[2015-10-29 18:48] chaosphere2112 commented on #1648
@isubsmith The [UV-CDAT/Vistrails](https://github.com/UV-CDAT/vistrails) branch that is in use is `uvcdat-master`

[2015-10-29 20:57] painter1 commented on #1648
I fixed the problem.  The fix is in uvcmetrics, devel branch.   All that remains is to make sure that the next UV-CDAT build includes this version of the diagnostics.  I'll leave the issue open until someone can confirm that that will happen.

[2015-10-29 21:16] doutriaux1 commented on #1648
@painter1 it is still pointing to `devel` so it will be in.

[2015-10-29 21:16] #1648 closed

[2015-10-30 15:52] chaosphere2112 opened #1650 "Patterns and Opacity"
Let's continue the debate from #1637 here instead...

I'll leave this post as just stating the issues, and we can make our arguments below.

The issues at hand: the API for patterns, and the `opacity`/`fillareaopacity` attribute's behavior

## The historical behavior

Historically, there was no `opacity` attribute, so having one is a nice step forward.

The difference between a `pattern` and a `ha

[2015-10-30 15:53] chaosphere2112 commented on #1650
From #1637:

[2015-10-30 15:53] chaosphere2112 commented on #1650
@sankhesh @durack1 @doutriaux1

[2015-10-30 16:33] sankhesh commented on #1650
While, us developers can keep discussing, I think the final decision should be made considering the user's point of view and usability.

[2015-10-30 16:47] chaosphere2112 commented on #1650
Yup, absolutely.

[2015-10-30 17:07] durack1 commented on #1650
@sankhesh @chaosphere2112 I think I'm the closest thing we have to a bonafide `user`, so am happy to chime in with my `user

[2015-10-31 01:30] durack1 commented on #1549
`matplotlib 1.5.0` just landed - sources updated and PR #1652 issued

[2015-11-01 00:00] durack1 opened #1655 "Build on OS X 10.11 (with XCode 7.x)"
What are the plans for getting the build working on `OS X 10.11.x`? My `OS X 10.10.5` install just forced an AppStore update to `XCode 7.1` so I assume many users will be migrating across to the latest build environment fairly quickly..

I have a number of `OS X 10.10.5` machines with `XCode 7.1` installed so am happy to test when a solution is available..

[2015-11-02 18:09] aashish24 commented on #1639
@dnadeau4 @doutriaux1 @sankhesh please review my VTK branch, I will push a minor change for it in UV-CDAT repo as well.

[2015-11-02 19:18] aashish24 commented on #1650
Where does the yellow come from?

[2015-11-02 19:20] chaosphere2112 commented on #1650
@aashish24 Scripts come after images they generate in the above

[2015-11-04 10:57] jypeter opened #1659 "Add a minmax function to MV2 ?"
It could be useful (and nice for the user?) to add the *minmax* function to MV2

[code]

[2015-11-04 17:19] doutriaux1 commented on #1659
The MV2 is supposed to map as closely as possible numpy. I'm not sure adding this is a great idea, it is already part of genutil. Note that you should use the genutil one. The `vcs.minmax` function masks out anything greater than `1.E20` whereas the `genutil.minmax` does not.

[2015-11-04 17:20] doutriaux1 commented on #1659
I will wait to see if anybody else chime on this before closing. @dnadeau4 @durack1 @bonfils2

[2015-11-04 17:45] durack1 commented on #1659
After talking with @dnadeau4 on the `cdms3` development timeline it could be a good time to revisit the organization of functions, considering that `MV2` just wraps `numpy` calls.. I wonder if some reorg is a good idea? This would need a new dedicated issue..

[2015-11-05 12:24] jypeter commented on #1659
@doutriaux1 OK, you are right, I bow to the logic of MV2 only mapping numpy[.ma] functions! I did not remember that

I have found something *wrong*, when comparing my cdms documentation and the MV2 one on the uv-cdat site that you probably want to check: https://github.com/UV-CDAT/uvcdat-site/issues/100 and https://github.com/UV-CDAT/uvcdat-site/issues/101

I very often use vcs.minmax, because I t

[2015-11-05 17:30] durack1 commented on #1263
@aashish24 the same issue has been hit in https://github.com/PCMDI/pcmdi_metrics/issues/279 and hopefully will get a fix that can allow `travis` `OS X` build testing to be turned back on.. From where I'm up to with this, it looks like the inbuild python install has problems - this doesn't appear to be a problem with the `travis` system `python2.7.5` or with a `python2.7.10` that is pre-built befor

[2015-11-05 18:15] doutriaux1 commented on #1659
nope you're right doesn't look like the 1.e20 is here anymore for vcs.

[2015-11-05 18:20] durack1 commented on #1659
@doutriaux1 I would recommend that the `vcs.minmax` function is removed, if in fact it's replicating the functionality of `genutil.minmax` but in completely separate code..!

[2015-11-05 19:10] doutriaux1 commented on #1659
we can't remove it. We have to preserve backward compatibility but we could link it to the genutil one. Reopening.

[2015-11-05 19:13] durack1 commented on #1659
@doutriaux1 I think that's a much better idea.. It would be wise to do this across the system so that just one instance of any function is used across the UV-CDAT system.. @dnadeau4 and I were talking about this in regards to `CDMS3` development plans..

[2015-11-05 19:58] durack1 commented on #1263
@aashish24 just FYI - it seems that our UV-CDAT build environment is causing the problem with the above - an outside build of `python2.7.10` along with `setuptools1.4 & 18.5` install works fine.. So it seems just the `python` built by `cmake` has the problems on travis - for the step by step of testing take a peek at https://github.com/PCMDI/pcmdi_metrics/pull/285/files

[2015-11-05 23:02] durack1 opened #1663 "genutil errors should be wrapped in []"
The following errors are difficult to read and it should be a relatively easy fix to wrap the string in `[]` so they display more clearly:
[code]

[2015-11-06 09:10] jypeter commented on #1659
Sounds good to me! You'll have to tell me about cdms3 and new stuff at the December meeting

[2015-11-06 16:44] jypeter opened #1664 "Weight problems in cdutil.ANNUALCYCLE.climatology (daily data)"
I have found out that when using **cdutil.ANNUALCYCLE.climatology** on daily data, the months of different years seem to be equally weighted.

This results in (slight but visible) **errors**:
* for *February*: eg for years, when averaging the February values for 1959-1960-1961, the weights used seem to be [1, 1, 1], when they should be the actual month length:  [28, 29, 28]
* for *months that have

[2015-11-06 18:46] dnadeau4 commented on #1664
Thanks!  I will take a look next week.

[2015-11-09 13:36] jypeter commented on #1664
I don't know if the following should be a separate issue

@dnadeau4 if you look at the code, can you see if there is some room for improving the speed of cdutil.ANNUALCYCLE.climatology, and similar functions?

As you can see in the output above, my hard-coded climatology is 58 times faster than cdutil.ANNUALCYCLE.climatology. And it's 64 times faster for the full dataset (20452 time steps, instead

[2015-11-09 16:38] doutriaux1 commented on #1664
@jypeter yes it is slow, but as you mentioned you can have it right or you can have it fast :wink:

I will take a look, also remember that the weights depend on the time units, if your data are in "months since" then each month would be weighted the same. Anyhow will take a look, probably with @dnadeau4

[2015-11-09 20:51] aashish24 opened #1665 "Add ability to write meta to PNG files"

[2015-11-09 20:51] aashish24 commented on #1665
@sankhesh @danlipsa

[2015-11-09 20:53] #653 closed

[2015-11-09 21:27] doutriaux1 commented on #1383
@cameronsmith1 did you try to add `bg=True` to your plot command?

[2015-11-09 21:30] doutriaux1 commented on #1383
@aashish24 let's talk about this. @dlonie suggestion might be worth considering if it doesn't take him too long.

[2015-11-09 21:42] aashish24 commented on #1383
@doutriaux1 sure but may we should discuss all the options first. I am not sure relying on X is a good strategy. Are we targetting Supercomputers or desktops?

[2015-11-09 21:49] cameronsmith1 commented on #1632
I get a similar problem after I plot something using CDAT in scripts.   What is particularly troublesome is that when the window resizes, the text and plots change differently, and so get out of alignment.

[2015-11-09 22:12] jbeezley commented on #1632
The resizing issue here sounds an awful lot like the resizing problem I have observed with CDATWeb.  As a side note, it happens with Mesa as well, so it doesn't seem to be related to the window manager resizing weirdness that I have seen elsewhere.

[2015-11-09 22:15] aashish24 commented on #1632
@cameronsmith1 for me its the other-way around but it only happens (so far) in the GUI. I haven't tested the command line yet

[2015-11-09 22:45] chaosphere2112 opened #1666 "You can build the gui without sqlite installed"
I built UV-CDAT apparently without install `sqlite` on Ubuntu, and didn't get any errors until launching the GUI (which just instantly exited without spitting up any info on the error until I used the `--output-std` flag). I'm going to add `sqlite` to the dependency list, but we should also error if it's not found in the build (and the `uvcdat` script should probably have a more user-friendly erro

[2015-11-09 23:03] chaosphere2112 commented on #1666
I've updated the Ubuntu build instructions (RedHat/CentOS already had it).

[2015-11-09 23:56] doutriaux1 commented on #1632
@jbeezley @chaosphere2112 is going to take a look at the GUI side. There was an issue with png resizing that is now fixed in #1667 I had to call configureEvent to force a proper re-rendering after resizing. A simple renwin.Render() wasn't enough.

[2015-11-10 00:11] doutriaux1 commented on #1625
@chaosphere2112 this one is fixed now correct?

[2015-11-10 00:15] dnadeau4 commented on #1666
@chaosphere2112 I am using sqlite3 for CMOR3 tables.  sqlite3 comes with Ubuntu and Red Hat "vanilla" python and I was hoping to have it within UV-CDAT python as well.  I wonder why UV-CDAT needs a database(DB)?   I am merging the new XML datasets and the old CMOR2 tables into sqlite3 DB and will dump JSON files for CMOR3 use.

[2015-11-10 00:22] doutriaux1 commented on #1620
@chaosphere2112 your example at the top still fails for me in master.

[2015-11-10 00:26] doutriaux1 commented on #1620
[code]

[2015-11-10 00:26] doutriaux1 commented on #1620
@chaosphere2112
[code]
that should work

[2015-11-10 00:27] doutriaux1 commented on #1620
@chaosphere2112 I will let you finish #1621 before completing the part where shapes mismatch

[2015-11-10 00:27] dnadeau4 commented on #1664
I will create a new API with a fast ANNUALCYCLE to satisfy some users.  This will be for advanced users and I will warn them to check results with the long haul "averager" at least once.   When calendars, units are other other metadata mismatch, no check will be done and data will be "embarrassingly" averaged. :smirk:

Even with the warnings, I am afraid erroneous computations will be published.
S

[2015-11-10 00:53] aashish24 commented on #1666
:+1:

[2015-11-10 00:54] aashish24 commented on #1625
@doutriaux1 I don't think we exposed the spacing attribute in the GUI @chaosphere2112 correct me if I am mistaken.

[2015-11-10 13:49] jypeter commented on #1664
@doutriaux1 the time axis of the sample data I have posted is in *days*. I had some doubts about the *standard* calendar, but the fact that the last time step of the dataset is recognized as December 31st (using asComponentTime), which we expected, is a good sign that cdms2 used a Gregorian Calendar
[code]

@dnadeau4 A fast interface would be nice, but I'm not sure that allowing potential errors i

[2015-11-10 14:31] jypeter commented on #1383
@aashish24 Cases where I would like the graphics of UV-CDAT to work *correctly* (more on this at the end):
* UV-CDAT running on a local Linux machine (or Mac, I guess), that's the easiest
* UV-CDAT running in a Linux VirtualBox *guest* on a local Windows machine
* remote UV-CDAT (running on a Linux desktop, on a Linux server in the lab, or a remote supercomputer), with the output displayed:
 * on

[2015-11-10 15:28] chaosphere2112 commented on #1666
@dnadeau4 sqlite3 is a requirement for VisTrails, which uses a sqlite DB internally. It may come with the vanilla python install, but our build of python didn't provide a functional sqlite module, because it hadn't been able to find the library to link against (I assume that the binary python provided in aptitude is linked against sqlite properly at compile time).

[2015-11-10 15:28] doutriaux1 commented on #1666
@chaosphere2112 are you going to add a check in CMake for this as you mentioned to me earlier?

[2015-11-10 15:29] chaosphere2112 commented on #1666
@doutriaux1 Yup, I've got that on my queue

[2015-11-10 15:34] doutriaux1 commented on #1625
@aashish24 it seems to be in
![spacings](https://cloud.githubusercontent.com/assets/2781425/11066516/6a85059c-877d-11e5-98bc-e92901a54d46.png)

[2015-11-10 15:35] chaosphere2112 commented on #1620
@doutriaux1 Ah, I fixed the problem for `.plot`, not the specific graphics-method plot functions. I'll get another PR up for those.

[2015-11-10 15:40] chaosphere2112 commented on #1625
@doutriaux1 The specific issue that was referenced in this bug (which was that the fields that were present in the GUI didn't do anything) is addressed in #1627, which is on @sankhesh's plate (as it quickly left the depth of my VTK skills).

[2015-11-10 15:44] aashish24 commented on #1625
@doutriaux1 where do you see it? Spacings if for streamlines..

[2015-11-10 15:51] sankhesh commented on #1625
Yes. I confirm it is on my plate. I should be able to get to it today.

[2015-11-10 16:00] durack1 commented on #1337
@jbeezley out of curiosity are these 10.9+ changes also a possible culprit for the `pyexpat` build issue that appeared on `travis` builds? #1263 and duplicated at https://github.com/PCMDI/pcmdi_metrics/issues/279

[2015-11-10 16:12] jbeezley commented on #1337
No, expat is not related to ssl.

[2015-11-10 19:10] doutriaux1 commented on #1664
@jypeter that is what it's doing and that's why it's slow :stuck_out_tongue_winking_eye:

[2015-11-10 20:11] sankhesh opened #1671 "Meshfill plot with Mercator projection issue"
This use case currently fails. Test case provided in 9d6bed6

Run `ctest -V -R vcs_test_animate_projected_meshfill_mercator`

**Error Reported:**
[code]

[2015-11-10 23:18] doutriaux1 commented on #1671
@sankhesh I fixed @aashish24 code so that it now passes (branch: issue_1671_meshfill_mercoator). But there is a more fundamental issue here, cdms2 does not "shrink" curvilinear grids when subsetting but rather masks out cells that are not within that range, so @aashish24 code does not help in this case.

It maybe better to copy the graphic method and set the limits ourselves, if you do so it works

[2015-11-10 23:19] doutriaux1 commented on #1671
@aashish24 @chaosphere2112 @williams13 not sure how to proceed from here, suggestions welcome.

[2015-11-11 04:02] durack1 commented on #1263
@aashish24 @doutriaux1 it appears adding `--with-system-expat` to the `Python` build statement within the `UV-CDAT` build system fixes this issue.. BUT there are a bunch of other problems that are also being triggered by the `cmake` build environment that should really be checked.. I would imagine that a slight tweak to the build environment would solve all the reported warnings in the `OS X` buil

[2015-11-11 15:51] aashish24 opened #1673 "Add ability to add metadata to PNG using vtkPNGWriter"

[2015-11-11 15:51] aashish24 commented on #1673
@sankhesh

[2015-11-11 17:40] chaosphere2112 commented on #1632
@jbeezley @aashish24 This is what it looks like, by the way:
![screen shot 2015-11-11 at 9 39 19 am](https://cloud.githubusercontent.com/assets/718512/11098197/3188a114-8858-11e5-994c-9b554dd1abde.png)

[2015-11-11 20:31] aashish24 opened #1677 "Provide UI option to control labels spacing"

[2015-11-12 01:30] dnadeau4 commented on #1659
I am not sure I can preserver backward compatibility in CDMS3 if we want to make thinks faster with nice package like Cython and Numbar.   Something to discuss in December.

[2015-11-12 01:30] #1659 closed

[2015-11-12 01:33] durack1 commented on #1659
@dnadeau4 @doutriaux1 it would be good to clean up instances where duplicated functions existing between `numpy`, `cdmsX`, `MV2`, `cdutil` and `genutil` - I think a single instance of any function is the preferred situation and will also make maintenance much more tractable

I think the `cdms3` timeline provides and opportunity for this - we can discuss more next week

[2015-11-12 15:27] danlipsa commented on #1665
Duplicate of #1673

[2015-11-12 15:27] #1665 closed

[2015-11-12 15:29] danlipsa commented on #1673
Pushed merge request to gitlab
https://gitlab.kitware.com/vtk/vtk/merge_requests/902

[2015-11-12 15:45] doutriaux1 commented on #1263
@aashish24 or @jbeezley I think it's worth having someone from Kitware take a look at these. In the mean time I will push an official PR to get the `kludge` into UV-CDAT.

[2015-11-12 15:47] durack1 commented on #1263
@doutriaux1 already done https://github.com/UV-CDAT/uvcdat/pull/1674

[2015-11-12 15:53] #1549 closed

[2015-11-12 16:08] aashish24 commented on #1673
@danlipsa this looks great. Can you also create a pull-request against uvcdat-master here as well: https://github.com/UV-CDAT/vtk

The UV-CDAT VTK is behind VTK master from gitlab/vtk but the idea is that to get the latest changes in UV-CDAT sooner than later.

[2015-11-12 17:58] durack1 commented on #1539
@doutriaux1 let's wait on this.. The divergence of `iPython3 -> 4` has made things much more complicated and we know that `3.0.0` works..

[2015-11-12 18:18] durack1 commented on #1633
@doutriaux1 @stefraynaud this is duplicated by #1635 closing

[2015-11-12 18:18] #1633 closed

[2015-11-12 18:56] durack1 opened #1679 "Update setuptools to 19.2"

[2015-11-12 19:02] durack1 opened #1681 "Update R to 3.2.2"

[2015-11-12 19:07] durack1 opened #1683 "Update h5py to 2.5.0"

[2015-11-12 19:08] danlipsa commented on #1673
Should I bring the whole VTK master after I merge the PNG change or should I only cherry-pick the PNG change?

[2015-11-12 19:26] durack1 opened #1686 "Update python-seawater to 3.3.4"

[2015-11-12 22:41] #1263 closed

[2015-11-12 23:28] #1460 closed

[2015-11-13 14:16] aashish24 commented on #1620
@doutriaux1 @chaosphere2112 can we close this issue?

[2015-11-13 14:17] aashish24 commented on #1677
@chaosphere2112 we will need this for the release 2.4

[2015-11-13 14:18] aashish24 commented on #451
Shuould we move it to 3.0? @doutriaux1 ?

[2015-11-13 14:18] aashish24 commented on #1632
@chaosphere2112 will review it today!

[2015-11-13 14:19] aashish24 commented on #1644
@sankhesh I think this would be next on your list?

[2015-11-13 14:19] aashish24 commented on #1625
I have created a new issue for this and assigned it to @chaosphere2112

[2015-11-13 14:19] aashish24 commented on #1581
I am going to take over this bug..

[2015-11-13 14:20] aashish24 commented on #1106
@doutriaux1 did you check?

[2015-11-13 14:22] aashish24 commented on #1673
@danlipsa please only cherry-pick the change. Post 2.4, we should update to VTK master and bring all of the minor fixes we made in UV-CDAT/VTK(uvcdat-master) into VTK master. @doutriaux1 does this sounds good to you?

[2015-11-13 14:23] aashish24 commented on #1640
@danlipsa it would be great if you can look into this next... thanks,

[2015-11-13 14:25] aashish24 commented on #1640
Actually never mind. @doutriaux1  this bug with these kind of projection will require some additional bug. Like I mentioned proj4 is doing the right thing. Either we have to know the projection and chop-off data before sending it for rendering or apply some stencil techniques before we tackle this one. I don't know if we have enough time to fix this for 2.4 but can look into it immediately. I thin

[2015-11-13 14:26] aashish24 commented on #1644
@sankhesh can @danlipsa look into this?

[2015-11-13 14:27] #1639 closed

[2015-11-13 14:45] sankhesh commented on #1644
@aashish24 I would prefer to finish this myself. I am re-assigning it.

[2015-11-13 14:55] sankhesh commented on #1625
This issue is not fixed until #1688 is merged.

[2015-11-13 14:57] aashish24 commented on #1644
Absolutely!! Let me find another bug that @danlipsa can help with then.. thanks.

[2015-11-13 14:58] aashish24 commented on #1106
@sankhesh do you think @danlipsa can look into this? Can you help?

[2015-11-13 15:03] sankhesh commented on #1106
Yes. This should have been fixed already. @doutriaux1 was going to check.

@danlipsa may be able to verify.

[2015-11-13 15:16] sankhesh commented on #1645
@danlipsa Could you please look into this next?

[2015-11-13 15:22] chaosphere2112 commented on #1620
@aashish24 Not until #1669 is merged.

[2015-11-13 15:23] chaosphere2112 commented on #1677
@aashish24 Yup, I'll make sure to get a PR submitted today.

[2015-11-13 15:23] aashish24 commented on #1620
okay, thanks @chaosphere2112

[2015-11-13 17:15] doutriaux1 commented on #1106
doh! I'm on it.

[2015-11-13 17:17] chaosphere2112 commented on #451
Can we just update these to go to /share?

[2015-11-13 17:49] aashish24 commented on #1106
thanks @doutriaux1

[2015-11-13 17:54] durack1 commented on #1686
@doutriaux1 @aashish24 this is a straight update and shouldn't cause any problems for `2.4`

[2015-11-13 17:54] durack1 commented on #1683
@doutriaux1 @aashish24 this is a straight update and shouldn't cause any problems for `2.4`

[2015-11-13 17:54] durack1 commented on #1681
@doutriaux1 @aashish24 this is a straight update and shouldn't cause any problems for `2.4`

[2015-11-13 17:56] durack1 commented on #1679
@doutriaux1 @aashish24 this is a straight update I'll leave it to you folks to decide if it's a `2.4` or a `3.0`

[2015-11-13 17:58] durack1 commented on #938
@chaosphere2112 @doutriaux1 I dropped this down just to make sure folks knew about it.. Closing to get it out of the to-do list..

[2015-11-13 17:58] #938 closed

[2015-11-13 18:05] durack1 commented on #1635
@doutriaux1 this could be snuck under the `2.4` milestone if you want to test.. Source and PR already issued..

[2015-11-13 19:03] aashish24 commented on #938
@durack1 I know bokeh really well. I had at one point integrated geojs (developed by Kitware) into it:

https://github.com/opengeoscience/geojs

[2015-11-13 19:04] aashish24 commented on #1681
Sure, do you have a merge request?

[2015-11-13 19:07] aashish24 commented on #1686
@durack1 sounds good me..

[2015-11-13 19:07] durack1 commented on #938
@aashish24 it popped up in a search back in Dec 2014 so I dropped that issue down just to grab the info and make folks aware of it.. As UV-CDAT web spins up, it would be interesting to know what is out there are usable..

[2015-11-13 19:08] durack1 commented on #1681
@aashish24 as noted above #1682 is ready for review..

[2015-11-13 19:09] durack1 commented on #1686
@aashish24 a PR is also awaiting review #1687

[2015-11-13 23:21] chaosphere2112 commented on #1677
@aashish24 ... Or maybe on Monday. Sorry, got caught up in other tasks today.

[2015-11-13 23:24] #1681 closed

[2015-11-13 23:31] aashish24 commented on #1677
No problem @chaosphere2112 , I understand. Thanks for the update, appreciate it.

[2015-11-16 17:38] mcenerney1 opened #1694 "Numpy issue during uvcdat build"
Following the documentation
cmake ../uvcdat -DCDAT_BUILD_PARALLEL=ON
make -j4

gets the following

[ 53%] Performing build step for 'NUMPY'
-- setuptools install command succeeded.  See also /Users/mcenerney1/build_11_16_15/setuptools-prefix/src/setuptools-stamp/setuptools-install-*.log

[ 53%] Completed 'setuptools'
[ 53%] Built target setuptools
CMake Error at /Users/mcenerney1/build_11_16_15/NU

[2015-11-16 17:42] aashish24 commented on #1694
@mcenerney1 what version of xcode is this? Also, do you have command line tools installed?

[2015-11-16 17:46] mcenerney1 commented on #1694
6.3

[2015-11-16 17:49] aashish24 commented on #1694
and you have installed command line tools?

[2015-11-16 17:51] doutriaux1 commented on #1694
@aashish24 all the bots have been showing the same results for some days now. My mac still works, I'm taking care of this now.

[2015-11-16 17:53] aashish24 commented on #1694
@doutriaux1 I didn't see this problem on Friday bots but it may be that I am missing references to the bots that you found the issue. Thanks,

[2015-11-16 19:34] doutriaux1 commented on #1694
I saw them on some builds going as far back as thursday or wednesday. Was only on mac1 at first now seems to be on all macs. I suspect a setup tools standard issue where it writes in the `.pth` file from 2 instances at the same time and only the last/fisrt one is stored.

[2015-11-16 21:00] #1086 closed

[2015-11-16 21:20] danlipsa commented on #1106
@doutriaux1 @sankhesh @aashish24 I run the script that Charles gave me and the bad.nc that Dave Lonie gave me and got an image identical with the good image that Charles sent on March 5th -- see attached. Charles, can you check and close the issue - Thanks.

![bad](https://cloud.githubusercontent.com/assets/6180727/11195066/c53ad11a-8c7d-11e5-832c-b6ea2e645430.png)

[2015-11-16 21:23] sankhesh commented on #1106
@danlipsa Could you also post an image of the boxfill plot?

[2015-11-16 21:27] danlipsa commented on #1106
I commented out createisofill() and uncommented createboxfill(). Here is the image:
![bad](https://cloud.githubusercontent.com/assets/6180727/11195235/f78fa126-8c7e-11e5-8cd3-fa3a754c21b6.png)

[2015-11-16 22:15] mcenerney1 commented on #1694
make -j8 also fails.

[2015-11-16 22:17] doutriaux1 commented on #1106
@danlipsa it still seems that we have a lot of seance inside greenland and greenland should be empty. If you look at my "good" (purple) png I posted on this thread, Greenland is mostly w/o any sea-ice in it.

[2015-11-16 22:18] doutriaux1 commented on #1694
I'm closing in on a solution (I hope)

[2015-11-16 22:19] mcenerney1 commented on #1694
I'm trying make. I'll let you know next week.

[2015-11-16 22:22] danlipsa commented on #1106
I see. So isofill is correct but boxfill is not?

[2015-11-16 22:38] doutriaux1 commented on #1106
yes, exactly. I believe it is because one is using cellmate and the other point data filters.

[2015-11-16 22:40] danlipsa commented on #1106
Sounds good. I will take a look.

[2015-11-16 23:06] mcenerney1 commented on #1694
make fails

[2015-11-16 23:19] #1686 closed

[2015-11-16 23:19] #1635 closed

[2015-11-16 23:20] #1683 closed

[2015-11-16 23:59] #1677 closed

[2015-11-16 23:59] #1673 closed

[2015-11-17 18:33] aashish24 commented on #1694
@mcenerney1 as suspected this was an issue with command line tools and xcode. So I am closing this issue now.

[2015-11-17 18:33] #1694 closed

[2015-11-17 18:33] aashish24 commented on #1694
@williams13 @doutriaux1 feel free to open this if needed.

[2015-11-18 03:57] aashish24 commented on #1645
@danlipsa I am hoping this would a tiny bug somewhere. @doutriaux1 we may have to patch our release.

[2015-11-18 04:06] aashish24 commented on #1106
@danlipsa any update?

[2015-11-18 05:49] durack1 commented on #1632
@chaosphere2112 @aashish24 is this fixed, it looks above like https://github.com/UV-CDAT/VisTrails/issues/65 may have solved it?

[2015-11-18 14:40] jypeter commented on #1664
OK, so I guess it would be nice to have a documented *fast ANNUALCYCLE* so that we don't have to reinvent the wheel if we want to get something faster. And it's a good idea to have this print some warning messages, unless the user explicitly pass an option to disable the messages (```...,I_Hopefully_Think_I_Know_What_Im_Doing=True)```)

If I want ultimate speed I will use a python/shell script to

[2015-11-18 16:38] chaosphere2112 commented on #1632
Yup, this is fixed.

[2015-11-18 16:38] #1632 closed

[2015-11-18 17:34] painter1 commented on #1664
About speed, I intend to make some changes in UV-CDAT *after* the next release, which will improve performance somewhat.

For the ACME project we had to compute climatologies on a poorly configured machine where starting up I/O was enormously expensive.  There was plenty of room to write something faster (by a factor of a thousand!) while still writing it in UV-CDAT-based Python.  Most changes wer

[2015-11-18 17:49] danlipsa commented on #1106
@aashish24 no result yet.

[2015-11-18 19:02] danlipsa commented on #1106
@doutriaux1 Can I have the bad.nc you have? I am not sure but the data I have seems slightly different. Notice the maximum occurs in level 4 for my image (magenta color) and in level 3 for your good image (deep red color). Thanks.

[2015-11-18 19:13] #1638 closed

[2015-11-18 19:13] #1620 closed

[2015-11-18 19:51] danlipsa commented on #1106
@doutriaux1 As we have discussed in the meeting, the missing row at 90 degrees seem to be the problem. All rows are shifted up by one, which explains why we have ice over Greenland and also answers why the maximum occurs in different rows for the two images.

[2015-11-18 23:40] durack1 commented on #1397
@chaosphere2112 you indicated you found and fixed a bug with `pngs` being created - related to on screen rendering if I'm not mistaken.. Is that fix in `master`? And if so I wonder if the problem above might now be mysteriously fixed...?

[2015-11-18 23:46] chaosphere2112 commented on #1397
@durack1 That was in the GUI; I'll do a quick check to see if anything is being leaked in python for this, or if it's in VTK.

[2015-11-18 23:47] durack1 commented on #1397
@chaosphere2112 ok great.. I've just been running some code that provided the numbers above using `2.4.0rc1` and was curious if `bg=True` was safe to try again..

[2015-11-19 00:13] #1644 closed

[2015-11-19 00:42] chaosphere2112 commented on #1397
Here's a quick rundown of iterating over `clt` in foreground mode W.R.T. memory leaks...

![graphs](https://cloud.githubusercontent.com/assets/718512/11259001/fe7d243c-8e12-11e5-9ff7-596ba7df6981.png)

Memory is measured in MB, # python objects is measured by `len(gc.get_objects())`, time is in milliseconds

Background mode is quite similar, leaks are a little slower.

It appears that the number o

[2015-11-19 00:53] durack1 commented on #1397
@chaosphere2112 `~280ms` per plot!?! I need to use what you're using.. I'm getting `~3000ms` or more..

It still appears that a slow continuing leak is occurring, I've just run some updated numbers (using `2.4.0rc1`) at #1424 - I'd be happy to test `master` once things settle down, tomorrow @doutriaux1?

[2015-11-19 01:14] durack1 commented on #1424
@doutriaux1 to see where `2.4.0rc1` is at here's the log (it's another test using `Xvfb` to get around the existing `bg=True` problem #1397):
[code]

So long story short, it's better than previously, but could do with another look before closing..

@chaosphere2112 here are the numbers I mentioned earlier..

[2015-11-19 05:18] durack1 commented on #1345
@aashish24 probably time to revisit the steps outlined at the top..

[2015-11-19 05:26] durack1 opened #1698 "Fix memory leak in cdtime"
As per https://github.com/UV-CDAT/uvcdat/issues/1424#issuecomment-122901660 and as known (and can be explained) by @doutriaux1

[2015-11-19 10:58] jypeter commented on #1664
I think it's good to allow I/O and the use of file variables, if you have to process a long variable without having to first load all the time steps in memory

[2015-11-19 13:31] aashish24 commented on #1345
- [ ] Validate version info is correctly written
- [ ] Prepare and publish release notes (e.g. [`v2.2.0`](https://github.com/UV-CDAT/uvcdat/wiki/UV-CDAT-2.2-Change-Log))
- [ ] Update dependencies so that checkout tag points are set and match `2.4.0` release: `PARAVIEW_BRANCH="uvcdat-2.4.0"; VISTRAILS_BRANCH="uvcdat-2.4.0"; VTK_BRANCH="uvcdat-2.4.0"; CMOR_BRANCH=uvcdat-2.4.0`
- [ ] Update README.md

[2015-11-19 15:26] durack1 commented on #1345
@aashish24 feel free to rearrange this as you see fit. The original intention was to outline ALL the steps one by one so that things are done once right, rather than previously when duplicate tag points confused folks for a while..

[2015-11-19 15:41] durack1 commented on #1424
@chaosphere2112 I was curious about your `python objects` count #1397, so added an object count to the code above, this does appear to be a cause of my problem:
[code]
So a further cleanup of these objects would be a very good idea indeed. Not sure where things stand in `2.4.0rc2+`

[2015-11-19 16:58] durack1 commented on #1424
@chaosphere2112 if you're keen to take a peek at the script it's (or an earlier version of it) at https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py

[2015-11-19 17:36] #1625 closed

[2015-11-19 17:43] doutriaux1 opened #1701 "log10 axes option broken"
1d plots with log scale are not working

[2015-11-19 17:45] durack1 commented on #1424
@chaosphere2112 having a closer look at the logs, there are 52 `python objects` added for each new plot (and loop step).. So it should be fairly trivial to determine what these are and make sure they're cleaned up during the `vcs clear` and/or `vcs close` step

[2015-11-19 17:46] chaosphere2112 commented on #1424
Ah, excellent. I'll dive into those and hopefully get something for this release.

[2015-11-19 17:58] durack1 commented on #1424
@chaosphere2112 not sure about the `bg=True` issue (#1397).. Can I provide any diagnostics to help out with that issue, or is the script linked above enough?

[2015-11-19 17:59] chaosphere2112 commented on #1424
script should be fine, I'll look into it from there.

[2015-11-19 18:02] durack1 commented on #1424
@chaosphere2112 the [`delFudge = True`](https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py#L31) and [`bg = False`](https://github.com/PCMDI/amipbcs/blob/master/make_newVsOldDiffs.py#L153) toggle lines should be helpful :smile:

[2015-11-19 21:06] danlipsa commented on #1645
Seems the problem is how vtkBandedPolyDataContourFilter fills a band. Attached are two pictures: first isocontours at 40 and 50 then a band for 40-50.
![contours-40-50](https://cloud.githubusercontent.com/assets/6180727/11284386/6d8f02f4-8ed7-11e5-8017-8fa1799f27d0.png)
![contours-filled-40-50](https://cloud.githubusercontent.com/assets/6180727/11284387/6d9283a2-8ed7-11e5-95e3-acaa80f3e4d2.png)

[2015-11-19 22:45] durack1 commented on #360
@mattben @doutriaux1 @aashish24 @chaosphere2112 I believe this is an ideal candidate for `milestone 3.0`

[2015-11-19 22:46] durack1 commented on #451
@chaosphere2112 `milestone 3.0`?

[2015-11-19 22:47] durack1 commented on #654
@aashish24 is this a `milestone 3.0` candidate or can it be slipped into `2.4.0`?

[2015-11-20 21:13] painter1 opened #1704 "cdms2 missing on OS X build"
Back in August I built a UV-CDAT on my Mac, and had absolutely no problems.  I wrote down every step I took.  Today I did the same thing with the latest UV-CDAT, master branch, and it looked good.  But cdms2 was missing from site-packages!  I copied it from my sources, and the two .so files from the August build.  That seems to be enough to make it work.

Why could cdms2 be missing?

I have OS X 1

[2015-11-21 00:33] ThomasMaxwell commented on #1704
I've been encountering the same problem on my Mac.

Sent from my iPad

On Nov 20, 2015, at 4:13 PM, Jeffrey Painter <notifications@github.com<mailto:notifications@github.com>> wrote:

Back in August I built a UV-CDAT on my Mac, and had absolutely no problems. I wrote down every step I took. Today I did the same thing with the latest UV-CDAT, master branch, and it looked good. But cdms2 was missing

[2015-11-21 01:36] aashish24 commented on #1704
@painter1 any error message on the console during build? What version of SDK and XCODE?

[2015-11-21 01:49] painter1 commented on #1704
I looked over the logs I could find.  A grep on 'cdms2' didn't show anything.
Could you tell me how to identify the SDK and XCODE versions?
Thanks.

[2015-11-21 01:50] painter1 commented on #1704
BTW I also had to copy site-packages/MV2.py

[2015-11-21 03:56] aashish24 commented on #1704
@painter1 can you post text from this file? /Applications/Xcode.app/Contents/version.plist

[2015-11-22 04:15] durack1 commented on #1666
@chaosphere2112 this seems eerily similar to #1263 as SQLite along with expat libraries ships in the Python tarball (and should be built in a successful Python build/install)l.. Take a look at the python build log [here](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/89755779#L343-L362)

[2015-11-23 17:11] painter1 commented on #1704
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>10</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.1</string>
	<key>CFBundleVersion</key>
	<string>5085</string>
	<key>ProductBuildVersion</key>
	<string>5B1008</string>
	<key>Projec

[2015-11-23 17:21] aashish24 commented on #1704
@painter1 you are using a very old version of xcode (5.1.1). I don't know if we are still testing on that version. @chaosphere2112 @sankhesh @jbeezley have you tried building on 5.* recently?

@painter1 is it possible to move to xcode 6.1?

[2015-11-23 17:22] painter1 commented on #1704
Thanks.  I'll upgrade xcode today.

[2015-11-23 17:24] aashish24 commented on #1704
Sorry, 6.4 I meant: https://github.com/UV-CDAT/uvcdat/wiki/Install-on-Mac-OS-X

[2015-11-23 17:25] jbeezley commented on #1704
I'm on 7.1.1, which we also don't support.  Does Apple still publish download links to 6.4?

[2015-11-23 17:27] sankhesh commented on #1704
Same here. 7.1.1

@jbeezley Old versions of Xcode can be downloaded from https://developer.apple.com/downloads/

[2015-11-23 17:32] aashish24 commented on #1704
@jbeezley @chaosphere2112 added a link in this doc: https://github.com/UV-CDAT/uvcdat/wiki/Install-on-Mac-OS-X

[2015-11-23 19:05] painter1 commented on #1704
At LLNL, the official standard (what you can get with normal procedures, i.e. without going "outside") version of Xcode is 6.1.1.

[2015-11-23 21:28] #1645 closed

[2015-11-25 00:42] dnadeau4 commented on #885
They are gaps in many data test due to numpy interpolation bug.  This is why many "diags" testing are failing with this numpy version.   I can't update to 1.10.1 until this is fixed.  https://github.com/numpy/numpy/issues/6468

[2015-11-25 02:02] durack1 opened #1707 "cdms2.getGrid()/setGrid() doesn't work"
[code]

[2015-11-30 17:01] durack1 opened #1710 "Update spyder to 2.3.8"
Spyder 2.3.8 is now available, so will grab this source and update the existing buggy 3.0.0beta1 installer - the 3.0.0 update is listed as another issue #1477

[2015-11-30 17:22] durack1 commented on #1345
@chaosphere2112 I just had a peek at the latest version of the [`2.4.0.rc3` release notes](https://github.com/UV-CDAT/uvcdat/wiki/2.4RC3-Release-Notes)

A couple of these are incorrect, there have been multiple update hops since `2.2.0` was released (under Build):
 Enhancement: Update cython to 0.22 -> should be [0.23.4](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/cython_pkg.c

[2015-11-30 17:56] durack1 commented on #1345
@chaosphere2112 @doutriaux1 @aashish24 some other missing issues/completed PRs to be added to the release notes:

#1635 - [Update Vacumm 2.5.1 To 3.0.0](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/vacumm_pkg.cmake#L1-L3)
#1681 - [Update R 3.2.1 To 3.2.2](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/r_pkg.cmake#L1-L3)
#1683 - [Update h5py 2.4.0 To 2.5.0](htt

[2015-11-30 18:20] chaosphere2112 commented on #1345
@durack1 I'll update the changelog as soon as I get in; my other laptop needs to get auth'd to the external network first.

[2015-12-01 01:27] #1710 closed

[2015-12-01 19:12] aashish24 commented on #1704
@painter1 @ThomasMaxwell I found one issue. Please see the branch here: https://github.com/UV-CDAT/uvcdat/pull/1714

[2015-12-01 19:31] chaosphere2112 commented on #1345
As an added bit of usefulness with this release, this should go in the release notes: a list of the major new features in 2.4 as well as examples on how to use them.

https://github.com/UV-CDAT/uvcdat/wiki/2.4-Features-Documentation

[2015-12-01 19:32] chaosphere2112 commented on #1345
@doutriaux1 @aashish24 @sankhesh Feel free to update that document as necessary; if you come up with new examples, I'll add them to the gallery.

[2015-12-01 19:39] durack1 commented on #1345
@chaosphere2112 this is unreal - such "new features" will be a great addition to highlight in the release notes, and continue to build the documentation tree through time.. It's great we have all these new colormaps too! One very happy user here..

[2015-12-01 19:43] chaosphere2112 commented on #1345
@durack1 Helped find a bunch of bugs, too!

[2015-12-01 19:46] durack1 commented on #1345
@chaosphere2112 sorry to bug again about the release notes, but they don't seem to have grabbed the changes noted above [here](https://github.com/UV-CDAT/uvcdat/issues/1345#issuecomment-160695413) and [here](https://github.com/UV-CDAT/uvcdat/issues/1345#issuecomment-160706070)

[2015-12-01 19:48] durack1 commented on #1345
@chaosphere2112 @doutriaux1 @dnadeau4 I think with the new colormap stuff noted above, you might be able to close #906 - take a peek and close if you think it's solved..

[2015-12-01 19:51] chaosphere2112 commented on #1345
@durack1 I'm looking into that now.

[2015-12-01 19:59] #1642 closed

[2015-12-01 20:00] #1643 closed

[2015-12-01 20:00] chaosphere2112 commented on #1345
@durack1 Should be fixed; the issues weren't properly tagged.

[2015-12-01 21:21] durack1 commented on #1345
@chaosphere2112 nope, it seems these still need tweaks - I think what is happening here is that:

Enhancement: Update cython to 0.22 -> 0.23.4 #1538 (I updated the issue title)
Enhancement: Update matplotlib to 1.4.3 -> 1.5.0 #1549
Enhancement: Update vacumm to source from github (2.5.1 -> 3.0.0) #1635 (I updated the issue title)
Enhancement: Update scipy to 0.16 -> 0.16.1, tweak to the next patch

[2015-12-01 22:07] durack1 commented on #1345
@chaosphere2112 I've just been peeking at the matplotlib available colormaps, and am wondering if creating a similar graphic to that found at: http://matplotlib.org/1.2.1/examples/pylab_examples/show_colormaps.html (linked below) which includes all the matplotlib and vcs colormaps wouldn't be a good idea?

[code]
Yields 142 colormaps alone, and I'd guess `1.5.0` ships with more, then add the VCS o

[2015-12-01 23:39] aashish24 opened #1715 "CDMS does not report build failure"
Even when build fails, user doesn't get any warning and hence import cdms2 failes.

[2015-12-01 23:39] aashish24 commented on #1715
@dnadeau4

[2015-12-01 23:54] chaosphere2112 commented on #1345
@durack1 Yeah, that's a good idea. I'll get something thrown together tomorrow.

[2015-12-01 23:58] durack1 commented on #1345
@chaosphere2112 [this might be an even more up-to-date page to base off](http://matplotlib.org/examples/color/colormaps_reference.html) - it includes the `viridis` (perceptually uniform) colormap that alot of effort was put into.. I'm not sure where these colormaps are hiding, but the clues are there..

[2015-12-02 01:05] doutriaux1 commented on #1715
it's a long outstanding `known` issue. Probably should be addressed by the very capable minds of Kitware's cmake experts.

[2015-12-02 01:08] doutriaux1 commented on #1715
actually, what really should be done is move the `configure` from libcdms to a real `cmake` build system. @aashish24 after the release Kitware might want to take a stab at this?

[2015-12-02 01:34] durack1 commented on #457
@doutriaux1 @aashish24 reopening this and updating the milestone to 3.0 - I think a `redhat7.x` machine should be added to the buildbot suite. A number of collaborators are now using `redhat7` as their default environments. Additionally, we do have a local (LLNL) machine available and that could be configured - `pcmdi10.llnl.gov`

[2015-12-02 02:02] aashish24 commented on #1715
@doutriaux1 sure. Yes, we have many reports but I I didn't realize that how quite it is in reporting errors until I hit this issue.

[2015-12-02 06:42] durack1 commented on #906
@chaosphere2112 just pinging you here as this is related to the discussions at #1345.. Along with the matplotlib colormaps, there are some others that I could also provide (thinking ferret, Matlab, NCL - linked [above](https://github.com/UV-CDAT/uvcdat/issues/906#issuecomment-63846784)), I also have some custom ones that are all in RGB tuples..

[2015-12-02 17:15] doutriaux1 commented on #1715
@aashish24 I think it never ever reported libcdms failure it's probably a legacy issue back from the original build system in the 90s...

[2015-12-02 17:17] aashish24 commented on #1715
Wohh!!.. I was in school then :smile: No worries.. we will fix this.

[2015-12-02 17:37] doutriaux1 commented on #1715
I think @chaosphere2112 was probably in kindergarten or something close back then :stuck_out_tongue_winking_eye:

[2015-12-02 20:43] durack1 opened #1718 "Update python to 2.7.11"
The `rc1` of `python2.7.11` is currently available (full release is [due at the end of the week](http://legacy.python.org/dev/peps/pep-0373/#maintenance-releases)). There's a new `python3` backported optimization that will apparently lead to [10-20% performance increases when executing `python` bytecode](https://lwn.net/Articles/646888/).. If we get such a performance boost for free with a patch u

[2015-12-02 22:39] dnadeau4 commented on #1718
This actually looks quite promising.  I like the "python bytecode" part of the article.

[2015-12-02 22:42] durack1 commented on #1718
@dnadeau4 exactly, 10-20% speed increases for effectively no work sounds almost too good to be true.. It might be worthwhile starting a new branch with [`python2.7.11.rc1` which is now available](https://www.python.org/downloads/release/python-2711rc1/), and see how it looks..

[2015-12-02 23:50] dnadeau4 commented on #1718
Let's wait after the meeting next weeks.  Everyone is quite stressed out
around here.

Denis

On 12/2/15 2:42 PM, Paul J. Durack wrote:

[2015-12-03 00:09] durack1 commented on #1345
@chaosphere2112 some new palettes can be found at: https://github.com/durack1/pylib/blob/master/colourLib.py

Sorry I took so long, these were in pretty bad shape and the conversion took longer than I thought..

[2015-12-03 00:29] chaosphere2112 commented on #1345
@durack1 OK, I'll take a look through these tomorrow (once I finish up our UV-CDAT poster for the F2F).

[2015-12-03 00:30] durack1 commented on #1345
@chaosphere2112 no time stress.. If they make it into `2.4.0` that would be great, if not I'll make do with `master`..

[2015-12-03 15:43] danlipsa opened #1720 "Data is clipped in interactive mode"
Further more, data is OK when saving a PNG but annotations are off.
Also, data is scaled differently in interactive mode compared with the PNG.

I used the following script provided by @aashish24

#!/usr/bin/env python
import cdms2, cdutil, genutil
import vcs

if __name__ == '__main__':
    import sys
    cdmsfile = cdms2.open('~/build/uvcdat/install/share/uvcdat/sample_data/clt.nc')
    clt = cdm

[2015-12-03 15:46] doutriaux1 commented on #1720
wow! What happened to the labels? Let me see if i can reproduce this.

[2015-12-03 16:20] danlipsa commented on #1720
@doutriaux1 @aashish24 It seems that there is a rearrangement of the data/labels that does not happen when saving the PNG. Interactive mode goes through this phase as well and then it rearanges the graphics elements to end up with the clipped image. Do you know why the images are scaled differently?

[2015-12-03 17:01] chaosphere2112 opened #1721 "Colormap in GUI broken"
Looks like you can't change colormaps right now. Fix incoming.

[2015-12-03 18:13] durack1 opened #1722 "CDMS2/MV2.newaxis doesn't work"
The `numpy.newaxis` function should add a new (singleton) axis to an existing variable as per the [docs](http://docs.scipy.org/doc/numpy/reference/generated/numpy.expand_dims.html):
[code]

But it doesn't seem to work for `cdms2/MV2`:
[code]

It's likely that the plans @dnadeau4 has for `cdms2` updates (better wrapping all the existing `numpy` functions) will solve this, but thought it useful to d

[2015-12-03 20:09] danlipsa commented on #1720
@doutriaux1 @aashish24 A workaround for the PNG not matching the interactive image is to generate
the PNG after the interactive image.

[2015-12-03 21:49] doutriaux1 commented on #1720
but... the interactive is wrong anyway!

[2015-12-03 21:54] danlipsa commented on #1720
@doutriaux1 So, the scaling in the interactive image is wrong?

[2015-12-03 21:57] danlipsa commented on #1720
@doutriaux1 The image does look stretched. This means there is another bug besides the two bugs I fixed with my recent pull request.

[2015-12-03 22:19] danlipsa commented on #1720
@doutriaux1 @chaosphere2112 @aashish24 In interactive mode, the image stretches with the window size. Is this a feature or a bug? :-)

[2015-12-03 22:22] doutriaux1 commented on #1720
@danlipsa in the "bad" png there is no cropping of the image on the right size. That part is correct. The stretching part is due to bad templating it's trying to fill the entire template.data area. Not too  worried about that. What I and @williams13 are worried about is the cropped section on the right side.

[2015-12-03 22:29] danlipsa commented on #1720
@doutriaux1 OK, In that case the commits I pushed should fix that. It is strange though that in interactive mode, the way your data looks depends on your window ratio.

[2015-12-03 22:59] doutriaux1 commented on #1720
you can `fix` that  by passing `ratio="autot"` for regular projections not sure it works for projections, but if you know your desired aspect ratio (let's say 1) you can pass `ratio="1t"`

[2015-12-03 23:34] chaosphere2112 commented on #1721
To reproduce:

1. Plot something in the GUI
2. Open the colormap editor (click the little paint pallete in the toolbar, or the `>>` button and select "Colormap Editor"
3. Try and change the colormap

[2015-12-03 23:37] #1721 closed

[2015-12-04 03:51] aashish24 commented on #1720
to me it not desirable. I complained about that in the past to @doutriaux1 and would like to discuss this post 2.4. Distorting a projected data looks just odd to me.

[2015-12-04 05:08] aashish24 opened #1725 "Improve plots visualization"
- [ ] Projected plots are clipped on the higher extent side
- [ ] Gap between plot boundary and the data in projected plots
- [x] Plots looks stretched
- [ ] Label placements are not quite correct.

[2015-12-04 06:14] doutriaux1 commented on #1720
that's why we have ratio="autot" @aashish24 but figuring out the desired aspect ratio is no easy task either. It's fairly easy for the whole globe but as soon as you start to look at region of the globe it gets tricky.

[2015-12-04 06:16] doutriaux1 commented on #1725
plots look stretched is not for 2.4 we already have ratio="autot" and it is "on" by defautl in the GUI.
others probably need to be addressed before 2.4 @williams13 ?

[2015-12-04 15:33] danlipsa commented on #1640
Note that  vcs_test_basic_boxfill_-3_proj_NH seems to be also aeqd and that works fine. I'll have to look at the differences.

[2015-12-04 19:32] danlipsa commented on #1720
@doutriaux1 @aashish24 I will solve this in two steps. It seems that synchronizing the PNG with the interactive mode screws up animation tests, so I will first deal with the clipping issue, merge this and then address the sync issue.

[2015-12-04 22:26] chaosphere2112 commented on #1345
@durack1 I believe I've written the code needed to import your colormaps (were they in blue, green, red?). Some of them looks slightly redundant; this chart is matplotlib on the top, VCS on the bottom left, and yours on the bottom right. Are there any in particular that you think the community would benefit from? Also, I can give you the code I used to convert them into VCS if you want it for your

[2015-12-04 22:38] durack1 commented on #1345
@chaosphere2112 excellent, thanks for this!

You're right there is some redundancy, however the subtle differences with my palettes that are harder to ascertain are the exclusion of a white (or grey) separator between halves of the color scales.. Now that we have all the palettes to peruse it could be a good idea to trim the redundant/duplicated ones..

I also wonder if you've managed to grab all

[2015-12-04 22:41] chaosphere2112 commented on #1345
Yup, I'm looking into that now

[2015-12-04 22:45] durack1 commented on #1345
@chaosphere2112 to be honest I'd wonder whether some of mine are `_r` (or matplotlib notation of reversed) versions of one another.. I didn't do a flipped comparison - for e.g. `temp1 == rain1_r == wind1`? Are these identical?

[2015-12-04 22:46] chaosphere2112 commented on #1345
I'll take a look and see! May well be. Hm... it might be handy to add a flag to colormap objects to flip them, so we can easily have `_r` maps without cluttering the colormap namespace.

[2015-12-04 22:51] durack1 commented on #1345
@chaosphere2112 yeah, I think it's redundant to have two numerically identical (but flipped) palettes stored - so having the ability to reverse these (so in some cases, from red -> blue to blue -> red) is a really nice feature.. It'd be great to have that built into the `VCS` palette objects..

[2015-12-05 00:06] chaosphere2112 commented on #1345
@durack1 Looks like `rain1` is the reverse of `temp1` and `rain2` is the reverse of `temp2`. `wind1` has a couple of more values than rain1, but I'm doing a linear interpolation to expand the colormap range to 256, at which point they're basically identical. I think I'm going to punt on adding these till after the release, and add the colormap reversal attribute at that point as well.

[2015-12-06 02:15] durack1 commented on #1718
Ok looks like `Python 2.7.11

[2015-12-07 19:57] doutriaux1 opened #1726 "offline build"
needs tweaks to make sure pre-download works (remove visit, replace paraview with VTK etc..)

[2015-12-09 00:44] aashish24 commented on #1354
@durack1 thanks!

[2015-12-09 19:37] danlipsa opened #1728 "wrapping data creates long cells"
If we use the following script (provided by @aashish24 ) that adds two wrapped longitudinal values 180 (same as -180) and 185 (same as -175) we get long cells around the wrapping as seen in the attached picture.
See the attached script:

[test_robinson_wrap.txt](https://github.com/UV-CDAT/uvcdat/files/58375/test_robinson_wrap.txt)

Here is the image:
![image](https://cloud.githubusercontent.com/as

[2015-12-09 20:29] danlipsa commented on #1728
@aashish24 @doutriaux1 This should work only for cylindrical projections such as mercator isn't it? But it does not work for that either - see the following image:
![image](https://cloud.githubusercontent.com/assets/6180727/11697838/a7c7ca2a-9e89-11e5-91c6-6e1ba926ca99.png)

[2015-12-09 21:21] danlipsa commented on #1728
@aashish24 @doutriaux1 I think mercator should work, but I am not sure I have generated the graphics method correctly. Here is the image for lambert projection which seems to work correctly:
![image](https://cloud.githubusercontent.com/assets/6180727/11699157/e1c7778c-9e90-11e5-8b07-707e37d580b9.png)

[2015-12-09 21:32] danlipsa commented on #1728
@aashish24 @doutriaux1 can you paste a script that shows the bug. I think the projected data should be a rectangle. Sample projections are lambert (which works) or mercantor. It is not clear to me what should happen to the wrapped data if the projected data is not a rectangle such as for the robinson projection.

[2015-12-09 22:04] doutriaux1 commented on #1728
@danlipsa i think it's an issue with proj4 converting 365 -> 5 hence the cel lthat used to go

355 -> 365 now looks like   5 -> 355 hence the big blocks so i think depending on projection it sometimes happens sometimes not.

[2015-12-09 23:31] danlipsa commented on #1728
@doutriaux1 It is not clear to me what the correct result should be? What if we have data from -180 to 540 (=180 + 360)? Should we have two globes side by side?

[2015-12-09 23:36] aashish24 commented on #1728
Data and vis should be duplicated in that case is my understanding. Just like google maps. If you zoom out and can see more than -180 to 180 you will see US on the right side of Asia.

[2015-12-09 23:38] doutriaux1 commented on #1728
yes for regular porj it is duplicated, but some projection bring everything back between -180/180 (polar for exampe)

[2015-12-10 15:10] aashish24 commented on #1728
I just want to clarify. If we are using projects that wrap data,  may be we just need to discard the data? Or constain user to chose only values that makes sense for a projection?

[2015-12-10 15:25] danlipsa commented on #1728
@aashish24 In google maps the projected globe is a rectangle. In my mind appending data and showing that in the map makes sense only in that case - when the projected globe is a rectangle. If the projected globe is a ellipsoid, what do you do? I never seen one ellipsoid and a half side by side - this is what you would get for -180 to 360.

[2015-12-10 17:43] doutriaux1 opened #1730 "meshfill with missing values in mesh broken."
Blue one should be a triangle (only 3 vertices) others are ok with 4 vertices.

We are picking the 4th vertice as not missing

[code]
![mesh_miss](https://cloud.githubusercontent.com/assets/2781425/11723261/69699b7a-9f22-11e5-92e1-f81089b203c1.png)

[2015-12-10 18:09] #1106 closed

[2015-12-10 19:22] doutriaux1 opened #1732 "fillarea dos not respect transparency"
[code]
gives:
![two_mesh](https://cloud.githubusercontent.com/assets/2781425/11725751/1ecb39f8-9f30-11e5-82d2-1f5244afdea5.png)

where it should really give:

![two_mesh_good](https://cloud.githubusercontent.com/assets/2781425/11725777/405c0a3e-9f30-11e5-9898-6d459f814dfb.png)

[2015-12-10 19:36] danlipsa commented on #1728
@doutriaux1 @aashish24 Can I assume that longitude is between -180, 180 eventually extended at the high end/low end or both ends?

[2015-12-10 19:45] doutriaux1 commented on #1728
I kind of want to say no... Users are going to send you data between 0/360 as well, now I'm not sure what you real mean by `longitude is between -180, 180` I guess it depends at which stage you're talking about, I think what proj4 does is that yes, try to put everything between -180/180 (maybe in different units like `m` for example)

[2015-12-10 19:47] doutriaux1 commented on #1728
@danlipsa if i remember correctly robinson with data 0/360 should look different from robinson with data between -180/180 (centered around 180 vs 0)

[2015-12-10 19:53] doutriaux1 commented on #1728
@danlipsa using the following script with 1.5.1
[code]

we used to get:

0-360
![0-360](https://cloud.githubusercontent.com/assets/2781425/11726672/9acff008-9f34-11e5-8e19-74132e910511.png)

-180-180
![180-180](https://cloud.githubusercontent.com/assets/2781425/11726678/a2965764-9f34-11e5-868f-13c1cde0d9eb.png)

[2015-12-10 20:06] danlipsa commented on #1728
Thanks @doutriaux1 So it seems that the middle of the range is used as the central meridian. What I am trying to do is to restrict the longitude to 360 degrees for projections that cannot show duplicate data, such as robinson. What I can do then remove the extra degrees from the right side and print a warning. The users might end-up with a different direction of view than what they wanted.

[2015-12-10 22:14] doutriaux1 commented on #1728
@danlipsa, I don't think that's the way to go at it. The `proper` way is to look at the cell's vertice direction (clockwise vs counterclockwise) if the direction changes it means the cell is being wrapped and we should not spread across the page.
[code]

left is rotating clockwise right counterclockwise, so right should be split in two cells :

[code]

Does this make sense?

[2015-12-10 22:25] danlipsa commented on #1728
@doutriaux1 Thanks for the suggestion. Maybe that is a better way to approach this, as I don't need to know which projections handle duplicate data and which projections don't. I will take a look at why wrapping happens and if there is this reversal of cell vertices directions.

[2015-12-10 22:48] danlipsa commented on #1728
@doutriaux1 Not sure if this is going to work for every projection. For instance for aeqd as longitude increases the projected points go around a circle.

[2015-12-11 16:44] doutriaux1 commented on #1728
We can start to implement it for the projection we know of (robinson, molleweide, etc..) when it works make it do this for all and see if it breks anything.

[2015-12-11 17:48] doutriaux1 opened #1734 "isofill broken for discontinued"
[code]
leads to:
[code]

Apparently @dlonie did forsee this :wink:  https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/vcsvtk/isofillpipeline.py#L67-Lundefined

[2015-12-11 17:48] doutriaux1 commented on #1734
@aashish24 @sankhesh @danlipsa @chaosphere2112 this is an important new issue

[2015-12-11 18:48] danlipsa commented on #1728
@doutriaux1 Is there any other way in uvcdat to specify the central meridian besides the middle of the range of longitude?

[2015-12-11 19:27] danlipsa commented on #1728
@doutriaux1 Another question. If the longitude range is bigger than 360 where is the central meridian? Is is the middle of the range of longitude as well?

[2015-12-12 17:38] #1730 closed

[2015-12-14 18:14] doutriaux1 commented on #1728
@danlipsa yes there is a way
[code]
output:
[code]

[2015-12-14 18:15] doutriaux1 commented on #1728
`1.e20` means the user did not define it, in the gctp packages that meant let gctp decide. I'm not sure in proj4. I think we do middle of longitude range.

[2015-12-14 18:18] aashish24 commented on #1728
@doutriaux1 @danlipsa and I found a solution. @danlipsa will be pushing a fix shortly :smile:

[2015-12-14 18:33] doutriaux1 commented on #1728
That's awesome! Thx.

[2015-12-14 19:16] #1732 closed

[2015-12-15 05:06] #1734 closed

[2015-12-15 18:06] durack1 opened #1738 "var.squeeze() truncates axis information"
I don't think the behavior below is what a user expects - certainly not me:

[code]

[2015-12-16 14:38] danlipsa opened #1739 "Use projected dataset bounds instead of computing a projection of a point matrix"
Plotting uses parallel projection to show data in the window. The parallel projection parameters are
computed using the geographic projected data bounds. Those are determined using a plot matrix in the lon/lat space transformed through the geographic projection.
We had a bug related to how the point matrix was computed.
The following commit shows this bug fix:
https://github.com/UV-CDAT/uvcdat/com

[2015-12-16 15:51] danlipsa commented on #1720
We still need to synchronize the PNGs with the interactive mode screen

[2015-12-17 16:20] danlipsa opened #1740 "canvas.png writes a PNG with labels off if bg=0"
Running this test
[test2.txt](https://github.com/UV-CDAT/uvcdat/files/65625/test2.txt)
produces
![bad](https://cloud.githubusercontent.com/assets/6180727/11874925/0eff8468-a4b0-11e5-959e-5c3d8b778f14.png)
Uncommenting the line that sets bg to 1 fixes the problem.

[2015-12-17 16:20] danlipsa commented on #1740
@aashish24 @doutriaux1 Is this important? Should we fix it before the release?

[2015-12-17 16:45] doutriaux1 commented on #1740
actually yes! Lots of people run things in batch mode. Is it going to be long? Let's see if we can get the other PR in before we move to this one!

[2015-12-17 16:46] danlipsa commented on #1720
I filed a new issue for PNG versus interactive screen mode differences.
https://github.com/UV-CDAT/uvcdat/issues/1740

[2015-12-17 16:46] #1720 closed

[2015-12-17 16:46] doutriaux1 commented on #1740
@jbeezley do you think you can help with this one? Looks like it's `bugging` you as well.

[2015-12-17 16:52] jbeezley commented on #1740
Probably not, I know almost nothing about VTK.

[2015-12-17 17:25] doutriaux1 commented on #1740
Is there such a person at Kitware? :wink: No worries.

[2015-12-21 18:10] durack1 commented on #1398
@doutriaux1 it's likely that #1579 (which should fix https://github.com/Unidata/netcdf-c/issues/128) should deprecate this issue.. I'll pull the latest `4.4.0-rc6` (if there is one) into #1676 and hopefully this will resolve this issue (along with #1579)

[2015-12-21 22:21] durack1 commented on #885
@dnadeau4 this link (discussing cython vs numba and speedups using each) was interesting.. https://medium.com/@elgehelge/the-5-most-important-python-data-science-advancements-of-2015-a136482da89b#.4psi1vuqy
![](https://cdn-images-1.medium.com/max/800/1*FPTxvMefHjaoA8a5pdGoZw.png)

[2015-12-22 18:32] danlipsa opened #1743 "Error messages printed when running vcs_test_animate_projected_boxfill_mercator"
When running this test directly through python (use ctest -N -V -R ... to see the command needed) the following message is printed several times:

Warning: In /home/danlipsa/build/uvcdat/build/VTK/Common/DataModel/vtkDataSet.cxx, line 472
vtkStructuredGrid (0x31166e0): Cell array  with 1 components, has 3312 tuples but there are only 3024 cells

[2015-12-22 19:17] durack1 commented on #1655
Fixed by #1572

[2015-12-22 19:17] #1655 closed

[2015-12-23 19:54] aashish24 opened #1746 "Meshfill plot does not wrap for bounds outside 0-360"

[2015-12-23 19:55] aashish24 commented on #1746
https://github.com/UV-CDAT/uvcdat-testdata/blob/duplicate-longitude-wrap/baselines/vcs/test_vcs_animate_projected_meshfill_mollweide.png

[2015-12-23 19:56] aashish24 commented on #1746
ref: doWrap method in vcs2vtk.py

[2015-12-29 03:30] aashish24 opened #1747 "Update new or old GUI code to use newer Qt"
This is essential as we need newer Qt on Mac 10.11. Also, it would be good to use much better version of Qt than sticking to an old version.

[2015-12-29 18:55] durack1 commented on #1477
Dependencies have changed from `Spyder 2.x` to `Spyder 3.x` so this should be updated along with #1539

[2015-12-30 15:56] jbeezley opened #1748 "cdms2 install failure on Mac OS with libpng 1.6 installed"
Homebrew installs libpng version 1.6 causing the `cdms2` python package install to fail with:

[code]

I have:
[code]

Also, this install failure does not trigger an error, so the build will appear successful, but `cdms2` will fail to import.  The following fixes it, but I don't know what ramifications it has for other versions of OSX.
[code]

[2015-12-30 15:59] aashish24 commented on #1748
I believe the png15 is coming from xquartz which is a hard dependency for UV-CDAT now. @dnadeau4 will have some more insight on it. If you take out the lines, then I am not sure we link with png.

[2015-12-30 16:05] jbeezley commented on #1748
Looks like XQuartz installs it like this:
[code]

[2015-12-30 16:17] jbeezley commented on #1748
Changing `PNG_VERSION=15.15` fixes linking with the XQuartz library.  I suspect `PNG_VERSION=15` was there to link with libpng that was provided by previous versions of Mac OSX.  I don't have any installs to confirm this.

[2015-12-30 19:04] dnadeau4 commented on #1748
Happy you were able to fix it.  I do have a libpng15.dylib on my MAC.
@aashish24 said he will change the API to use the native libPng which is
coming with the MAC OS X, so we don't have to install xQuartz.
"libpng15" is now used by g2clib for grib2 data format which is heavily
used by NASA and by the new ezCMOR program.

Here is my xQuartz installation.

      ls -1 /usr/X11/lib/libpng*
    /usr/X

[2015-12-30 19:28] jbeezley commented on #1748
Okay, I reinstalled XQuartz, and the `libpng15.dylib` link now exists.  I guess I just had a broken installation.

[2015-12-30 19:28] #1748 closed

[2015-12-30 20:52] jbeezley commented on #1015
Bumping this again as I noticed most tests inside [`testing/regrid`](https://github.com/UV-CDAT/uvcdat/tree/master/testing/regrid) (~55 of 65) and [`testing/cdms2`](https://github.com/UV-CDAT/uvcdat/tree/master/testing/cdms2) (~20 of 45) don't set exit statuses when they fail.

[2016-01-02 06:16] cameronsmith1 opened #1749 "Log scale for a_boxfill also affects the y-axis."
I am using the v2.4.0.rc2 GUI on Rhea.
I have an a_boxfill plot that is a latitude-longitude plot.   I want the colorscale to be logarithmic.
When I go to 'Visualization Properties' and turn on Boxfill Type = Log10, the color scale changes appropriately (good), however the y-axis (ie latitude) also becomes logarithmic and the continent outlines disappear.

[2016-01-02 06:28] cameronsmith1 opened #1750 "Option to change colorscale for each frame when animating?"
When animating plots (eg a_boxfill), UVCDAT currently uses the colorscale for the first frame for all the subsequent frames.   Sometimes this is the right choice.  However, sometimes the nature of the data is such that it is better to change the colorscale for each frame.
Is there an option for this?   If not, I recommend such an option is added.

[2016-01-04 16:22] doutriaux1 commented on #1749
I have a version that works for log scales on crunchy. Is there anyway you could transfer data there and test this version?

[2016-01-04 16:24] doutriaux1 commented on #1750
@cameronsmith1 if your graphic method does NOT explicitly sets these levels then yes UV-CDAT looks at max/min of the whole dataset and apply it for all frames. If you wish to impose some levels you first need to edit the graphic method to do so and THEN run the animation.

[2016-01-04 16:24] #1750 closed

[2016-01-04 17:48] doutriaux1 opened #1751 "openssl cmake error on RHEA"
[code]

[2016-01-04 17:54] jbeezley commented on #1751
This is probably due to an old version of CMake.  The `DIRECTORY` component was added in 2.8.12. This could be cause to enforce this via the [`cmake_minimum_required`](https://github.com/UV-CDAT/uvcdat/blob/master/CMakeLists.txt#L2) command rather than issuing a depreciation warning.

[2016-01-04 18:01] doutriaux1 commented on #1751
yes I figured it probably was. I commented out the line and it seems to be working ok.

[2016-01-04 18:08] durack1 commented on #1424
@chaosphere2112 @doutriaux1 here are some numbers from 21st December `master` - I'd note that those `vcs` objects are still not being cleaned up correctly, as I have my `delFudge` statements active in the code below:
[code]

[2016-01-04 18:12] doutriaux1 commented on #1424
I think the leak is not from not deleted objects.

[2016-01-04 18:25] durack1 commented on #1424
@doutriaux1 if I turn off the `delFudge` section (which purges `vcs.elements`) I get the following - this indicates to me that it is a `vcs` object problem:
[code]

[2016-01-04 18:35] durack1 commented on #1398
@doutriaux1 @dnadeau4 looks like `4.4.0-rc5` hopefully fixes this following https://github.com/Unidata/netcdf-c/issues/128#event-503513530 - so probably a good idea to test out the existing PR #1676 and see if this issue is resolved?

[2016-01-04 19:16] durack1 commented on #1398
@doutriaux1 @dnadeau4 looks like `4.4.0-rc5` hopefully fixes this following https://github.com/Unidata/netcdf-c/issues/128#event-503513530 - so probably a good idea to test out the existing PR #1676 and see if this issue is resolved?

[2016-01-04 19:39] #1641 closed

[2016-01-04 19:39] doutriaux1 commented on #1593
@dnadeau4 is this in?

[2016-01-04 19:42] doutriaux1 commented on #1593
looks like yes. @dnadeau4 please reopen if not

[2016-01-04 19:42] #1593 closed

[2016-01-04 19:42] doutriaux1 commented on #1581
@aashish24 moving to 2.6

[2016-01-04 19:43] doutriaux1 commented on #1455
@aashish24 ping!!!!

[2016-01-04 19:43] doutriaux1 commented on #1397
@aashish24 we failed to address this! Moving to 2.6

[2016-01-04 19:46] doutriaux1 commented on #1265
@aashish24 @danlipsa I believe this is fixed no?

[2016-01-04 19:46] doutriaux1 commented on #1265
ok I tested this is "sort of work" the issue is that data are drawn past the range required. Moving to 2.6

[2016-01-04 19:48] #1000 closed

[2016-01-04 19:50] doutriaux1 commented on #961
seems to work again

[2016-01-04 19:50] #961 closed

[2016-01-04 19:55] #953 closed

[2016-01-04 19:56] doutriaux1 commented on #654
@aashish24 do we have tihs?

[2016-01-04 20:07] aashish24 commented on #654
No not yet

[2016-01-04 21:20] doutriaux1 commented on #124
@painter1 we're closing in on 3 years now :stuck_out_tongue_winking_eye:

[2016-01-04 21:21] doutriaux1 commented on #1265
![polar_too_much](https://cloud.githubusercontent.com/assets/2781425/12100804/1fca782c-b2e6-11e5-8fcd-3af9ab56e553.png)

[2016-01-04 21:26] doutriaux1 commented on #1265
Actually the old vcs wasn't much better about it:
![polar_crunchy](https://cloud.githubusercontent.com/assets/2781425/12100905/d1dc91da-b2e6-11e5-8269-7593afa48f02.png)

[2016-01-04 21:59] durack1 commented on #1539
@doutriaux1 this is unfixed, reopening as a 2.6er

[2016-01-04 22:04] durack1 commented on #788
@doutriaux1 2.6 would be a good time to get this cleanup complete..

[2016-01-05 17:03] danlipsa opened #1754 "test_vcs_animate_projected_meshfill_mollweide.png is not wrapped"
Data is between -40 to 361. It should be wrapped between 0 and 360.

See the current baselines which are attached next.

[2016-01-05 17:05] danlipsa commented on #1754
![test_vcs_animate_projected_meshfill_mollweide](https://cloud.githubusercontent.com/assets/6180727/12121686/97f29e10-b3a4-11e5-8396-8864069d758d.png)
![test_vcs_animate_projected_meshfill_lambert](https://cloud.githubusercontent.com/assets/6180727/12121685/97ef715e-b3a4-11e5-882d-e091b6a8e171.png)

[2016-01-05 18:00] doutriaux1 commented on #1754
thanks @danlipsa for looking into this. While you are at it you may be able to also fix #1265 it might be the same issue (look at comments I made at the end of this issue)

[2016-01-05 19:55] danlipsa commented on #1754
@doutriaux1 @aashish24 Looking at the code it seems that vcs2vtk.doWrap works on poly data in lon/lat space. So it won't work on the mollweide or any other geographic projection. I want to wrap dirrectly the data in genGrid. Do you see any problem with this?

[2016-01-05 21:35] danlipsa commented on #1754
I'll have to cut cells as they span the wrap boundaries.

[2016-01-06 00:57] durack1 commented on #1477
There is a need to [resolve for all new dependencies](https://github.com/spyder-ide/spyder/blob/master/setup.py#L296-L308) with `Spyder 3.x`:
[code]
And their dependencies..

[2016-01-06 05:34] durack1 commented on #1679
Updated issue title as `19.2` is now current version of `setuptools`

[2016-01-06 05:56] durack1 opened #1758 "Update pip to 7.1.2"
We're a couple of patches behind latest

[2016-01-06 06:21] durack1 commented on #1398
@doutriaux1 can you test the PR #1676 and see if this solves this segfault? If not, we should be able to get back to @WardF with more specific details..

[2016-01-06 09:42] somanathmoharana opened #1760 "facing issue when i tried to run uvcdat (requirements.MissingRequirement: Missing Requirement: PyQt4.QtGui)"
Hi ,
 I installed uvcdat from the source tar. after I installation when i tried to run uvcdat i am facing the issue.
Location: /home/apps/cesm/depedencies/uvcdat
Traceback (most recent call last):
  File "/home/apps/cesm/depedencies/uvcdat/vistrails/vistrails/uvcdat.py", line 82, in <module>
    gui.requirements.check_pyqt4()
  File "/home/apps/cesm/depedencies/uvcdat/vistrails/vistrails/gui/requi

[2016-01-06 09:44] somanathmoharana opened #1761 "cdscan giving error in UVCDAT"
Hi,
 I installed uvcdat in my system from the source tar but I am facing some issues while running cdscan.
Finding common directory ...
Traceback (most recent call last):
  File "./cdscan", line 1680, in <module>
    main(sys.argv)
  File "./cdscan", line 840, in main
    firstpath = augmentedArgs[0][len(directory):]
IndexError: list index out of range

What i should do to resolve this ?

[2016-01-06 16:00] doutriaux1 commented on #1760
Hi @somanathmoharana which OS are you running this under? Which `source tar` are you talking about? By `PyQt present on the system` do you mean in your system python or the python that you just installed? (you can look under /home/apps/cesm/depedencies/uvcdat/lib/python2.7/site-packages (or similar path).
Thanks for the clarifications.

[2016-01-06 16:01] doutriaux1 commented on #1761
@somanathmoharana cdscan needs to be sent a list of files you need to scan (usually something like *.nc)

example:
`./cdscan -x my_scanned_file.xml *.nc`

[2016-01-06 16:06] doutriaux1 opened #1762 ""box" lines seem to be sometimes on sometimes off in vcs"
see:
https://open.cdash.org/testDetails.php?test=407803864&build=4178109

[2016-01-06 17:00] doutriaux1 opened #1763 "lambert proj appears to be broken??"
old lambert over north america:

[code]
![lambert](https://cloud.githubusercontent.com/assets/2781425/12148557/ef36598c-b453-11e5-9459-c8322e4176f7.png)

[2016-01-06 17:02] doutriaux1 commented on #1763
new vcs
![lambert_bad](https://cloud.githubusercontent.com/assets/2781425/12148607/3a1177ca-b454-11e5-9669-0d6acd25d0b8.png)

[2016-01-06 17:03] doutriaux1 commented on #1763
@aashish24 @danlipsa if you beat me to it please feel free to fix it.

[2016-01-06 17:43] doutriaux1 commented on #1763
ok making progress it looks like gctp was smarter than proj4 we need to set all parameters manually or it will not work
[code]

[2016-01-06 19:14] chaosphere2112 opened #1764 "Meshfill + interact() leads to error message"
Doing a meshfill will cause an error in the configurator in the hover function:

[code]

I'll fix this issue and get a PR for this release.

[2016-01-06 19:38] doutriaux1 opened #1765 "Getting more done in GitHub with ZenHub"
Hola! @doutriaux1 has created a [ZenHub](http://www.zenhub.io) account for the **UV-CDAT** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account.

[2016-01-06 19:47] aashish24 opened #1766 "vistrails"

[2016-01-06 19:48] #1766 closed

[2016-01-06 21:39] #1751 closed

[2016-01-06 21:49] doutriaux1 commented on #1765
we decided to use huboard

[2016-01-06 21:49] #1765 closed

[2016-01-07 00:32] chaosphere2112 opened #1770 "Meshfill leaves extra display plots lying around"
When you plot a meshfill, it generates a bunch of display plots that need to be cleaned up. The offending code is [here](https://github.com/UV-CDAT/uvcdat/blob/c4efa19f5b1d6c5d60da7f7a8994743d4d3d4b7d/Packages/vcs/Lib/vcsvtk/meshfillpipeline.py#L223-L232); in the rest of the pipelines, rather than directly calling `template.plot`, we call `context().render_template`, which does this cleanup for us

[2016-01-07 03:58] #1764 closed

[2016-01-07 06:24] somanathmoharana commented on #1761
Thanks @doutriaux1 .Now it's working fine

[2016-01-07 14:46] #1761 closed

[2016-01-07 16:39] chaosphere2112 commented on #250
Still broken, apparently. I'm betting it's a VisTrails (like the actual provenance part) issue; probably has trouble reloading the already active vistrail.

[2016-01-07 16:54] #26 closed

[2016-01-07 16:54] #18 closed

[2016-01-07 16:55] #51 closed

[2016-01-07 16:55] #150 closed

[2016-01-07 16:56] #151 closed

[2016-01-07 16:56] #157 closed

[2016-01-07 16:58] #147 closed

[2016-01-07 16:58] #87 closed

[2016-01-07 16:59] #160 closed

[2016-01-07 16:59] #162 closed

[2016-01-07 16:59] #165 closed

[2016-01-07 17:03] #176 closed

[2016-01-07 17:03] #194 closed

[2016-01-07 17:03] #199 closed

[2016-01-07 17:04] #200 closed

[2016-01-07 17:04] #291 closed

[2016-01-07 17:07] #357 closed

[2016-01-07 17:07] #355 closed

[2016-01-07 17:11] #342 closed

[2016-01-07 17:11] #343 closed

[2016-01-07 17:11] #340 closed

[2016-01-07 17:11] durack1 commented on #1397
@doutriaux1 @chaosphere2112 should this be a `2.4.1` milestone - it's a pretty nasty one that should be fixed pronto!

[2016-01-07 17:12] durack1 commented on #1424
@doutriaux1 @chaosphere2112 should this be a `2.4.1` milestone? It's another one that is pretty nasty and should be fixed pronto!

[2016-01-07 17:13] #338 closed

[2016-01-07 17:14] chaosphere2112 commented on #334
@doutriaux1 Is this still a problem, or can I clear this out?

[2016-01-07 17:14] #303 closed

[2016-01-07 17:15] doutriaux1 commented on #1397
will see. 2.4.1 is mainly for fast climo

[2016-01-07 17:16] doutriaux1 commented on #1424
same 2.4.1 is mainly for fast climo, everything else it targeted for 2.6 a couple of months later.

[2016-01-07 17:20] durack1 commented on #1397
It would be nice to get this fixed next month.. The memory usage and slowdown is something that should be fixed with a high priority I believe..

[2016-01-07 17:22] chaosphere2112 commented on #502
I'm guessing this is now resolved?

[2016-01-07 17:22] durack1 commented on #1424
@doutriaux1 I do think this is a fairly "easy" fix, in the sense that it requires an implementation to figure out what new objects are created by comparing the before and after plot python objects.. The code above gets most of the way there, however there are 52 additional objects that are currently not caught with the `delFudge` deletion statements.. @chaosphere2112 wanna pipe in here?

[2016-01-07 17:22] doutriaux1 commented on #502
yes

[2016-01-07 17:22] #502 closed

[2016-01-07 17:23] #335 closed

[2016-01-07 17:24] #336 closed

[2016-01-07 17:24] #337 closed

[2016-01-07 17:24] #341 closed

[2016-01-07 17:24] #352 closed

[2016-01-07 17:24] doutriaux1 commented on #1760
@somanathmoharana is this working for you now?

[2016-01-07 17:25] chaosphere2112 commented on #359
@doutriaux1 @aashish24 What is this bug?

[2016-01-07 17:25] chaosphere2112 commented on #362
@doutriaux1 @aashish24 What is this bug?

[2016-01-07 17:25] #397 closed

[2016-01-07 17:26] #398 closed

[2016-01-07 17:27] #359 closed

[2016-01-07 17:27] doutriaux1 commented on #362
cdatweb?

[2016-01-07 17:27] #362 closed

[2016-01-07 17:29] #437 closed

[2016-01-07 17:29] chaosphere2112 commented on #438
Since RH5 isn't supported any more, I'm going to close this one.

[2016-01-07 17:29] #438 closed

[2016-01-07 17:31] chaosphere2112 commented on #437
@jypeter This script seems to run fine (with some a tweak to the sample_data string); let me know if you're still having any issues with this.

[2016-01-07 17:31] #439 closed

[2016-01-07 17:31] #440 closed

[2016-01-07 17:32] #442 closed

[2016-01-07 17:33] #525 closed

[2016-01-07 17:34] chaosphere2112 commented on #530
@aashish24 @doutriaux1 What is this bug?

[2016-01-07 17:34] #532 closed

[2016-01-07 17:36] #530 closed

[2016-01-07 18:06] durack1 commented on #1770
@chaosphere2112 this might be somewhat kinda related to #1424 - in that plot functions are not cleaning up after themselves correctly..?

[2016-01-07 19:16] chaosphere2112 commented on #1770
@durack1 Similar, but different; these get cleaned up when calling `vcs.clear`.

[2016-01-07 19:17] chaosphere2112 commented on #1424
@durack1 I haven't had a lot of time to look into your two performance bugs, but I'm planning to take a whack at them pre-2.4.1, and I'll do my darnedest to get them into the release.

[2016-01-09 12:35] somanathmoharana commented on #1760
Hi @doutriaux1 ,
 Thanks for the help i installed it PyQt4 and that issue is resolved.but still I cant run uvcdat. Now I am stuck with another error i.e.
Location: /home/apps/cesm/depedencies/uvcdat
2016-01-09 17:58:28,840 CRITICAL:
/home/apps/cesm/depedencies/uvcdat/vistrails/vistrails/gui/application.py, line                                   838
Found another instance of VisTrails running
2016-

[2016-01-09 17:18] doutriaux1 commented on #1760
hi @somanathmoharana it appears that your install did not install vistrails/qt. ON RH6 you cannot use the system Qt as it is bad (not full). You will need to use the Qt provided with our sources please refer to install and prerequisites section at: http://uvcdat.llnl.gov/installing.html and specifically at: https://github.com/UV-CDAT/uvcdat/wiki/Install-on-RedHat-or-CentOS
Unfortunately I think yo

[2016-01-11 17:52] #1650 closed

[2016-01-12 17:54] bamboozcz opened #1776 "User specified axis to run vertical interpolation. myvar.getAxis(1).designateLevel()"
Charles helped me with specifying the axis of input variables to get logLinearInterpolation function working.

Thanks,
Jill

[2016-01-12 18:52] doutriaux1 commented on #1776
@bamboozcz for the next release I will update the function to actually accept an `axis` argument.

[2016-01-12 23:23] doutriaux1 opened #1777 "proj4 acting up on macs and ubuntu mesa"
polar (non gctp) and lambert exhibit this behaviour best.

[2016-01-12 23:24] doutriaux1 commented on #1763
fixed in 2.4.0 but on macs exposes proj4 issue listed @ #1777

[2016-01-12 23:24] #1763 closed

[2016-01-12 23:25] doutriaux1 commented on #1746
@danlipsa is this fixed ?

[2016-01-12 23:27] doutriaux1 commented on #1725
I believe it has all mostly been adressed

[2016-01-12 23:27] #1624 closed

[2016-01-12 23:27] doutriaux1 commented on #1455
@aashish24 we are closing in on a year of waiting for you on this. :sob: :disappointed: :-1:

[2016-01-13 00:04] aashish24 commented on #1455
@doutriaux1 its like wine, the older it gets the better. I am revamp the entire document since there is no sane way of doing it in github wiki. I have moved it to 2.6

[2016-01-13 00:08] aashish24 commented on #1725
@doutriaux1 I would like to work on the label placement some more (with you). Its better but we could improve it bit more .

[2016-01-13 12:54] danlipsa commented on #1746
@doutriaux1 @aashish24 I have a fix in the works. I should push it today. See also issue https://github.com/UV-CDAT/uvcdat/issues/1754. Not sure why but this issue does not show up in my list of issues even if it is assigned to my.

[2016-01-13 15:13] doutriaux1 commented on #1455
be careful though after too long wine turns to vinegar :stuck_out_tongue_winking_eye: thanks for revamping the doc.

[2016-01-13 15:13] doutriaux1 commented on #1725
ok but moving it to 2.6 then.

[2016-01-13 15:18] doutriaux1 commented on #1725
@aashish24 remember that label placement is controlled via template

[2016-01-13 15:22] jypeter commented on #1455
Thanks! We'll get some nice balsamic vinegar! :+1:

[2016-01-13 19:15] aashish24 opened #1779 "projection"

[2016-01-13 19:15] aashish24 opened #1780 "PROJ4"

[2016-01-13 19:27] aashish24 opened #1781 "testing"

[2016-01-13 19:28] aashish24 opened #1782 "1424"

[2016-01-13 19:28] doutriaux1 opened #1783 "Thermo test suite needs to be moved to test suite"
voila

[2016-01-13 19:32] aashish24 opened #1784 "Update VTK"

[2016-01-13 19:33] aashish24 opened #1785 "Update PROJ4"
- [ ] Mangle PROJ4
- [ ] Update PROJ4 code

[2016-01-13 19:35] doutriaux1 commented on #1785
build of proj4 and dependencies are already done in: https://github.com/UV-CDAT/uvcdat/tree/ocgis

[2016-01-13 19:37] aashish24 opened #1786 "Fit to viewport needs updating for continent outline"

[2016-01-13 19:44] aashish24 opened #1787 "Initial work on UVCDAT/vcs/cdms RTD"
@chaosphere2112

[2016-01-13 19:48] aashish24 opened #1788 "Match test name with the baseline"

[2016-01-13 19:49] sankhesh commented on #1783
Branch [thermo_testing](https://github.com/UV-CDAT/uvcdat/tree/thermo_testing) adds some `Thermo` tests but they are crashing right now.

@doutriaux1 Need your help understanding why they crash

[2016-01-13 19:50] doutriaux1 commented on #1783
@sankhesh I will run that branch and get back to you

[2016-01-13 19:51] aashish24 opened #1789 "1754"

[2016-01-13 19:59] sankhesh commented on #1783
Thanks @doutriaux1. Just run

[code]

to run the new tests.

[2016-01-13 20:30] danlipsa commented on #1728
@doutriaux1 @aashish24 Do we need a test for this one? Otherwise I'll close it.

[2016-01-13 20:40] danlipsa commented on #1746
I'll close this as we have https://github.com/UV-CDAT/uvcdat/issues/1754

[2016-01-13 20:40] #1746 closed

[2016-01-13 20:53] doutriaux1 commented on #1728
I think we should add one yes, otherwise the bug might come back and we won't notice it.

[2016-01-13 20:58] danlipsa commented on #1728
Sounds good. @aashish24 Can we sneak this in for the things to do for the next two weeks. Should not take long.

[2016-01-13 21:28] danlipsa commented on #1763
@doutriaux1 @aashish24 Do we need to pass +over to the lambert projection (or to polar (non gctp))? What I want to get at, is a test case, where we need to pass +over, it works on most machines but it does not work on certain macs and annie. If we don't have that we'll spend time to fix something that we don't really need. Maybe for these projections, +over does not work consistently because peopl

[2016-01-13 22:34] doutriaux1 commented on #1763
it's worth trying. I will do that now.

[2016-01-13 22:36] doutriaux1 commented on #1763
@danlipsa I don't think that's the issue, looking at the code:
[code]
Then we have a section in vcs2vtk.py that does:
[code]

So obviously we're not trying `over` on lambert and it still fails on macs.

[2016-01-13 22:38] doutriaux1 commented on #1763
i think the issue could be coming from:
[code]

[2016-01-14 00:19] danlipsa commented on #1763
@doutriaux1 What is the test that is failing on macs? Is it failing on annie as well?

[2016-01-14 00:56] doutriaux1 commented on #1763
only on mac, if you look at CMakeList.txt it is commented out if it's an apple. test_vcs_lambert I believe is the name. I "think" it passes on annie, but it could also be luck :wink:

[2016-01-14 01:56] danlipsa commented on #1763
Interesting. I tried this test on my mac - which had problems with +over and polar non gctp and it passes. I will create a branch where I activate this test and see where it fails.

[2016-01-14 16:28] aashish24 commented on #1728
Lets finish what we have and then we can add this one in if we ran out of tasks.

[2016-01-14 16:28] aashish24 commented on #1728
I added 2.6 and Backlog.

[2016-01-14 18:07] doutriaux1 opened #1791 "setting attribute or changing values on netcdf4 "r+" file seg fault"
[code]

[2016-01-14 20:26] danlipsa commented on #1777
https://github.com/UV-CDAT/uvcdat/pull/1790

[2016-01-14 20:28] chaosphere2112 opened #1792 "vcs_test_init_open_sizing fails on small monitors"
When I run  vcs_test_init_open_sizing  on a small laptop screen, the test fails. I believe this is the same issue that @williams13 ran into when testing the new build. I'll see what I can dig up.

[2016-01-14 20:40] dnadeau4 commented on #1791
_FillValue is defined when you create a variable in netCDF.  It possible to change it, but seems to be a special case

[2016-01-14 20:46] aashish24 commented on #1792
thanks @chaosphere2112 I added it to the ready queue.

[2016-01-14 22:41] doutriaux1 commented on #1791
@dnadeau4 it's not the _FillValue issue, I think the following will seg fault as well:
[code]

[2016-01-15 18:52] painter1 commented on #1608
I changed the milestone to 2.4.1.  Version 2.4.1. is supposed to have the high-performance climatology script.  On Rhea, this script *must* use the multiprocessing module.  So we have to either (1) drop MPI support entirely, or (2) maintain two versions of UV-CDAT, or (3) fix the problem described above.

[2016-01-15 22:13] dnadeau4 commented on #1608
I vote for option 3, but my CDMS work only starts in March.   January and February are entirely devoted to CMOR and CMIP6.  ( I am making good progress on code, but need doc/paper.)

[2016-01-15 22:17] painter1 commented on #1608
Is anybody actually using MPI support in UV-CDAT?  The projects I know of (including my own) are not ready for release.  If it's nobody, then the quick & easy solution would be to combine my solutions (1) and (3):  release 2.4.1 with MPI completely disabled, then put it back in, with the fix, for 2.5.

[2016-01-15 22:22] dnadeau4 commented on #1608
Nobody is using in, if you enable it with CDMS flags then netCDF is using MPI I/O.  I just advertized mip4py and parallel I/O at the AMS meeting and got a lot of interest.   I vote to disable it for release 2.4.1 and put it back for 2.5.   Jim @mcenerney1 is using mpi4py for metrics.

[2016-01-15 22:28] painter1 commented on #1608
Jim's not ready for release yet.   There's working MPI in climatology.py, but I plan to release it with MPI disabled - on Rhea it's faster to fork multiple processes on a single processor.  If we need MPI for best performance on aims4 (I've not done a timing study there), then we may have to support two builds for a little while, my solution (2).

[2016-01-15 22:38] chaosphere2112 opened #1795 "ratio="autot" fails to correctly generate the initial ratio"
If you plot something with `ratio="autot"` as the very first action you take with a canvas, the plot defaults to using the default window size, rather than the size that the canvas will actually have. This is because the call to determine the ratio happens *prior* to any calls to `createRenWin()` in the backend, so default values are retrieved using the `canvasinfo()` function.

Any future plots (

[2016-01-15 22:56] chaosphere2112 commented on #1795
I've sort-of got a fix for this worked out; it needs work, though. I'm running a full test suite on it and sending it out the the dashboard.

[2016-01-19 15:36] doutriaux1 commented on #1608
@painter1 a quick solution is to check the import and return a nice clean error message if mpi is not present. By default UVCDAT is not built with MPI anyway.

[2016-01-19 15:36] doutriaux1 commented on #1608
@dnadeau4 didn't you push a fix for this before anyway?

[2016-01-19 19:32] chaosphere2112 commented on #1795
@doutriaux1 https://open.cdash.org/viewTest.php?onlyfailed&buildid=4197349 Getting closer...

[2016-01-19 19:35] doutriaux1 commented on #1795
looks like the diags doesn't set the bg dims and throws the tests off.

[2016-01-19 19:35] chaosphere2112 commented on #1795
Does diags use Multi? Because almost all of the multi tests failed as well

[2016-01-19 20:00] durack1 commented on #1792
@aashish24 is the `0 - backlog` through `4 - Done` the way you plan to better label issues/PRs? Is this documented somewhere?

[2016-01-19 20:59] chaosphere2112 commented on #1792
@durack1 They're a side effect of https://huboard.com/UV-CDAT/uvcdat , which we're trying out for project management.

[2016-01-19 21:20] chaosphere2112 commented on #1795
@doutriaux1 So Multi was using "x.portrait" and "x.landscape", which triggered a call to canvasinfo prior to plot, which meant that bg wasn't set. I'll wager it's something similar in the diagnostics.

https://open.cdash.org/viewTest.php?onlyfailed&buildid=4197441

[2016-01-19 21:24] doutriaux1 commented on #1795
@chaosphere2112 , according to @mcenerney1 diags are using Multi

[2016-01-20 00:10] chaosphere2112 commented on #1795
Going to open a PR for this, though it's not quite ready for release. Changed milestone to 2.4.1.

[2016-01-20 02:14] #1792 closed

[2016-01-20 19:51] durack1 opened #1798 "Update matplotlib to 1.5.1"
We're a patch behind latest

[2016-01-20 19:52] durack1 opened #1799 "Update scipy to 0.17"
We're a release behind (once the final release is available)

[2016-01-20 22:07] dnadeau4 commented on #1608
We did and Jeff is aware of it.  MPI is not working well with multiprocessing python module.

[2016-01-21 15:24] doutriaux1 commented on #1795
@chaosphere2112 I changed the milestone to 2.6 if it makes it to 2.4.1 ok, but 2.4.1 is a uvcmetrics targeted release.

[2016-01-21 15:43] doutriaux1 commented on #1608
@painter1 @dnadeau4 can we close then?

[2016-01-21 16:49] chaosphere2112 commented on #1795
@doutriaux1 :+1:

[2016-01-21 18:30] painter1 commented on #1608
No, we haven't fixed the problem yet.  What we've settled on is that we can get by without fixing it for another month or two.

[2016-01-21 23:36] doutriaux1 opened #1801 "can't read some old vcs scr files"
ken provided such a file

[2016-01-21 23:40] doutriaux1 commented on #1801
file is at: https://github.com/UV-CDAT/uvcdat-testdata/blob/issue_1801_old_scr_files/data/vcs/old.scr

[2016-01-26 14:45] doutriaux1 opened #1804 "seg fault on a lambert projection"
[code]

[2016-01-26 14:51] doutriaux1 commented on #1804
I'm on a mac by the way.

[2016-01-26 14:53] doutriaux1 commented on #1804
hum... replacing line 5 with:
[code]
I get
![crap](https://cloud.githubusercontent.com/assets/2781425/12583839/829be912-c3f9-11e5-8b1e-2a2afdaec4ed.png)

Will start a new build, I can't believe this is true.

[2016-01-26 15:48] doutriaux1 commented on #1804
on LC's:
[code]

[2016-01-26 16:12] doutriaux1 commented on #1804
in case it helps anybody, but I'm hoping it's the `proj4` issue on macs

[code]

[2016-01-26 16:14] doutriaux1 commented on #1804
I think the relevant piece of info is here:
[code]

[2016-01-27 00:39] durack1 commented on #1345
@aashish24 @doutriaux1 just wondering if the [`2.4.0 release page`](https://github.com/UV-CDAT/uvcdat/releases/tag/v2.4.0) (congrats BTW) is going to be updated like the previous [`2.2.0 release page`](https://github.com/UV-CDAT/uvcdat/releases/tag/2.2.0) - the google docs working document would make this a 2 minute job (assuming all the links are in place).

[2016-01-27 01:54] aashish24 commented on #1345
@durack1 yes, it will, I am in the process of it. Should be done tonight/tomorrow.

[2016-01-27 15:46] chaosphere2112 commented on #1345
@durack1 @aashish24 @doutriaux1 I'm updating the changelog and I'll merge in my two 2.4 branches for the website, so my links will be in place shortly.

[2016-01-27 15:55] jbeezley commented on #1337
I have made another push on this issue recently.  There are a number of issues that have been resolved,  and a number of new issues that have cropped up.  In short, I still can't get authenticated requests to ESGF working.  Here is the rundown:

* It is necessary to link netcdf against a version of curl linked against openssl.  On Ubuntu this means installing `libcurl3-openssl-dev` before compilin

[2016-01-27 17:40] durack1 commented on #1345
@chaosphere2112, it seems the release notes still need tweaks, we're a bit behind on the patch updates that aren't up-to-date:

Enhancement: Update cython to 0.22 -> 0.23.4 #1538 (I updated the issue title)
Enhancement: Update matplotlib to 1.4.3 -> 1.5.0 #1549

[2016-01-27 17:49] sankhesh commented on #1345
@chaosphere2112 Could you please push those release notes to the Github Wiki to replace [2.4.0RC3 Release Notes](https://github.com/UV-CDAT/uvcdat/wiki/2.4RC3-Release-Notes) page?

[2016-01-27 19:45] aashish24 commented on #1804
Ref: #1777

[2016-01-27 19:59] aashish24 opened #1805 "Debug uvcbot hanging on mac"

[2016-01-27 20:23] danlipsa commented on #1754
https://github.com/UV-CDAT/uvcdat/pull/1778

[2016-01-27 20:23] #1754 closed

[2016-01-28 14:53] doutriaux1 commented on #1345
Released!

[2016-01-28 14:53] #1345 closed

[2016-01-28 14:56] doutriaux1 opened #1807 "2.4.1 Tagging"
- [ ] Validate version info is correctly written (UV-CDAT version should be `2.4.1`)
- [ ] Prepare and publish release notes.
- [x] Update dependencies so that checkout tag points are set and match `2.4.1` release: `CMOR_BRANCH="uvcdat-2.4.1"; LIBCDMS_BRANCH="uvcdat-2.4.1"; VISTRAILS_BRANCH="uvcdat-2.4.0"; VTK_BRANCH="uvcdat-2.4.1"; UVCMETRICS_BRANCH="uvcdat-2.4.1"`
- [x] Update `README.md` with u

[2016-01-28 14:58] doutriaux1 opened #1808 "2.6 Tagging"
- [ ] Validate version info is correctly written (UV-CDAT version should be `2.6.0`)
- [ ] Prepare and publish release notes.
- [ ] Update `README.md` with updated `Stable version` info (should be `2.6.0`)
- [ ] Set `2.6.0` tag point for UV-CDAT/uvcdat repo
- [ ] Obtain Zenodo DOI
- [ ] Finalise `README.md` with updated `Zenodo DOI` info
- [ ] Move `2.6.0` tag point to new commit
- [ ] Update wiki

[2016-02-01 17:08] durack1 commented on #576
@dnadeau4 @doutriaux1

[code]

[2016-02-02 00:41] durack1 opened #1809 "Error regridding curvedGrid"
[code]

[2016-02-02 16:09] doutriaux1 commented on #1809
@danlipsa I can reproduce this, taking out the missing values leads to data to being plotted but no continents.I attached the netcdf file

[code]
leads to
[code]

Whereas
[code]

leads to:

![heat](https://cloud.githubusercontent.com/assets/2781425/12755446/46446666-c984-11e5-9153-ad9614a38239.png)

[bad.zip](https://github.com/UV-CDAT/uvcdat/files/114235/bad.zip)

[2016-02-02 16:09] doutriaux1 commented on #1809
@danlipsa note that this used to work with rc2.

[2016-02-02 16:11] doutriaux1 commented on #1809
@danlipsa there are still some obvious `cell splitting` issue left with this file

[2016-02-02 16:40] durack1 commented on #1809
@danlipsa @doutriaux1 I would strongly recommend that a number of the CMIP5 ocean (and atmosphere) grids are used routinely in tests for any new or bug-fixed functionality, just using a single grid/input test is unlikely to catch the error that is described above..

[2016-02-03 19:15] #1758 closed

[2016-02-03 19:21] #1679 closed

[2016-02-03 19:21] #124 closed

[2016-02-03 19:24] danlipsa commented on #1786
https://github.com/UV-CDAT/uvcdat/pull/1778

[2016-02-03 19:27] aashish24 opened #1811 "Fix projected click"
Once #1806 goes into master.

[2016-02-03 19:27] aashish24 commented on #1811
Ref: #1800

[2016-02-03 20:05] aashish24 opened #1812 "Fix the taylor diagram"
Ref: #1806

[2016-02-03 20:21] #1786 closed

[2016-02-03 20:48] danlipsa opened #1813 "wrapping does not work for geographic projections and certain intervals"
See the following email discussion:
[wrapping-bug.zip](https://github.com/UV-CDAT/uvcdat/files/116378/wrapping-bug.zip)

The ZIP file has the images as well.

 Mail	Dan Lipsa <dan.lipsa@kitware.com>
Help with GUI
12 messages
Aashish Chaudhary <aashish.chaudhary@kitware.com>	Thu, Jan 21, 2016 at 11:30 AM
To: "Fries, Samuel" <fries2@llnl.gov>
Cc: Dan Lipsa <dan.lipsa@kitware.com>, Charles Doutriaux

[2016-02-03 20:52] danlipsa opened #1814 "vector plot viewport is smaller than boxplot viewport if used together"
See the following image:

https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_basic_vectors_45_2_amplitude.png

[2016-02-03 22:49] durack1 commented on #1718
Closed by #1719

[2016-02-03 22:49] #1718 closed

[2016-02-03 22:53] durack1 commented on #1791
#1676 may fix this issue, this PR should also solve #1398

[2016-02-03 23:13] durack1 commented on #1546
@doutriaux1 @dnadeau4 this was likely due to a filesystem issue, not `cdscan` so closing

[2016-02-03 23:13] #1546 closed

[2016-02-03 23:38] doutriaux1 commented on #360
@aashish24 this is still planned for 3.0 re-opening

[2016-02-04 00:07] durack1 commented on #1537
@danlipsa @doutriaux1 @aashish24 this would seem to be a very simple addition to the export postscript function - I'd be happy to kick the tyres on this once a branch is in place to test.

[2016-02-04 04:41] aashish24 commented on #1537
@dlonie if we switch to opengl2 backend, would that be giving us text objects or still shapes?

[2016-02-04 04:42] aashish24 commented on #360
yes, planned for 3.0. Who is going to do it? Would that be you?

[2016-02-04 05:47] durack1 opened #1817 "Parallel build causing problems with egg installs overwriting easy-install.pth"
I've just noticed that a module that installs using an egg (`gsw-3.0.3-py2.7.egg`):
[code]
Was not correctly installed, as duplicate writes to `lib/python2.7/site-packages/easy-install.pth` were occurring, and as `gsw-3.0.3-py2.7.egg` wasn't last it's path wasn't added permanently to `easy-install.pth` (I added it back in and I can now load it as an installed package)

@aashish24 @doutriaux1 this

[2016-02-04 14:30] dlonie commented on #1537
Either -- See vtkGL2PSExporter::SetTextAsPath(bool). If true, all text will be exported as paths. If false, 2D non-math text will be embedded as a text object (3D or mathtext strings will still be paths, though).

This is the case for both VTK OpenGL backends.

[2016-02-04 14:49] doutriaux1 commented on #360
most likely, probably backstabbing Kitware in the process too :wink: I'm tempted on using conda for this.

[2016-02-04 14:53] doutriaux1 commented on #1817
@durack1 I believe that it is the old_and_unmanageable function, I think I already setup the pip installer to accet this argument `OLD` has to be set and then we're good to go, it might be only in the ocgis branch though.

[2016-02-04 14:58] aashish24 commented on #360
You won't backstab kitware :smile: we ourselves use conda for few projects. Feel free to use conda if you think that's right but we should discuss it first.

[2016-02-04 15:35] doutriaux1 commented on #360
No worries, will definitely consult on this. I'm hoping to get a student to do this anyway.

[2016-02-04 15:54] doutriaux1 opened #1818 "Update default templates/graphics methods"
SEe:
http://bokeh.pydata.org/en/latest/

and
http://matplotlib.org/1.2.1/gallery.html

For inspiration

[2016-02-04 16:05] #1799 closed

[2016-02-04 16:06] #1798 closed

[2016-02-04 16:12] aashish24 commented on #360
Roger that! I think have a conda port would be a nice addition. Also relevant is pip install vtk as that may make things easier. One concern I have is that effort that goes into it since I think our build system will work on Windows or should work on windows since CMake is cross platform. Problem might be related to building packages on Windows so I think we should see if using the current build s

[2016-02-04 16:23] chaosphere2112 commented on #360
@aashish24 The problem that @mattben ran into while working on this was that none of our dependencies (libpng, etc.) are installed on windows, though they all can be built. This would mean our installer would have to manage *every single dependency*, which means the whole thing gets a bit hairy.

[2016-02-04 16:30] aashish24 commented on #360
@chaosphere2112 did we identify what dependencies we are missing (do you have a list). For example png is an issue regardless of windows system (as you know its an issue on Mac as well). If we are trying to build / install hardcore C/C++ packages via conda, that I am sure is the best idea for obvious reasons. If we really have lots of dependencies then we can use docker instead although the plotti

[2016-02-04 16:52] chaosphere2112 commented on #360
@aashish24 Dunno off the top of my head, by I assume literally every dependency, since Windows is a special snowflake and they wrote their own libraries.

[2016-02-04 16:56] durack1 commented on #1817
@doutriaux1 are there any other options to force a non-egg install? "old and unmanageable" seems to be something that might disappear any new release around the corner..

[2016-02-04 16:56] aashish24 commented on #360
thanks @chaosphere2112 lets create that list just to be sure. I am little surprised since we do build VTK on Windows and some other product that we also use in UV-CDAT. Sounds like we need to refresh our problem before we dig into solution whatever that solution might be since it sounds like whether using cmake, conda, or docker, we would have to build our dependencies one way or another.

[2016-02-04 16:57] durack1 commented on #360
@chaosphere2112 can I suggest that the name of the windows port branch is `special_snowflake`.. It has such a nice ring to it..

[2016-02-04 16:58] aashish24 commented on #360
:smile: :+1:

[2016-02-04 17:06] durack1 commented on #1537
@doutriaux1 @aashish24 could this be moved to a `2.6` milestone - I certainly do think such new functionality, that would appear to be a couple of lines of code tweaks would be a great new feature to highlight for 2.6..?

[2016-02-04 17:23] aashish24 commented on #1537
@durack1 sure it sounds like a easy fix unless anyone else objects to it, I am in favor of putting in 2.6.

[2016-02-04 17:27] chaosphere2112 commented on #360
@durack1 :+1:

[2016-02-04 17:29] durack1 commented on #360
@chaosphere2112 internally, let's call it `project special snowflake`.. We might even be able to get folks outside excited about it, a "secret" project and all..

[2016-02-04 17:31] aashish24 commented on #360
:smile: :smile:

[2016-02-05 16:49] chaosphere2112 commented on #1740
@danlipsa @doutriaux1 This is the issue that I filed ages ago with VTK; we have it as #1148.

[2016-02-05 17:03] aashish24 commented on #1740
@danlipsa I can look into it after I finish my sprint tasks let me know.

[2016-02-05 17:03] aashish24 commented on #1740
thanks @chaosphere2112 for the reference.

[2016-02-05 17:19] danlipsa commented on #1740
@aashish24 @doutriaux1 @chaosphere2112 I looked at this briefly when I filed is. The reason why the labels are off seems to be that  the display happens on a very large screen which is not available if bg=0. There these events that have to be dealt with properly: ModifiedEvent and ConfigureEvent. This is in VTKPlots.py

That is not to say that there is not a VTK bug somewhere as well :-) I have no

[2016-02-05 18:14] chaosphere2112 commented on #1795
@doutriaux1 @aashish24 Since this is a pretty minor issue, I'm going to backburner it for now while I get my GUI on. I'll come back to the PR in a month.

[2016-02-05 23:47] aashish24 commented on #1795
Roger that @chaosphere2112

[2016-02-10 20:02] aashish24 commented on #1784
My VTK merge request: https://gitlab.kitware.com/vtk/vtk/merge_requests/1206

[2016-02-10 20:02] aashish24 commented on #1784
Still need to
- [ ] PROJ4 @danlipsa is working on that
- [ ] Get FFMPEG fixes - @aashis24 will push a branch for it

[2016-02-10 22:50] doutriaux1 opened #1822 "wide screen"
I got two screens at resolution: 3440*1440
vtk GetScreenSize returns a width of 6880 leading to a default initial size of 4128 wide which leads to height bigger than actual screen

[2016-02-11 11:22] arulalant opened #1823 "Unable to load Ensembles dimension from Grads Ctl file"
Dear UV-CDAT Developers,

Greetings!

When I am trying to access ensemble dimension (which has embedded within variable as another dimension / axis / coordinates) from grib2 file, cdms2 just suppressed to single ensemble dimension (i.e. no ensemble dimension at all) .

But when I am accessing the same ctl file in grads, I am able to set / select which ensemble need to be plotted. In grads, we can

[2016-02-11 16:02] doutriaux1 opened #1824 "install behind firewalls"
libcdms and lcmor (and likely VTK) cannot be cloned from github behind some firewalls

2 possible solution:

* switch build from git to tarballs via a new option
* allow user to pass a different git protocol and base e.g: username@usermachine:user_path/libcdms.git

[2016-02-11 16:07] durack1 commented on #1824
@doutriaux1 excellent, thanks for this.. @gleckler1 should be happy about making it even easier for users..

[2016-02-12 16:10] chaosphere2112 opened #1825 "`missing` color does not support all of the new color syntaxes."
[code]
Leads to a traceback:

[code]

This is because the [code for retrieving the missing color](https://github.com/UV-CDAT/uvcdat/blob/9a71d85793cc6f6a1d4b2b38b415be6db333c71a/Packages/vcs/Lib/vcsvtk/pipeline2d.py#L327-L338) does not properly account for all of our new methods for specifying colors.

I'm going to do a quick fix for this one, because I need some better logic for handling colors i

[2016-02-12 20:04] chaosphere2112 opened #1826 "Custom continents don't work"
VCS promises support of custom continents, looking up files in the user's dot directory. Unfortunately, validation was raising errors on the automatic indexing of continents files. I've got a patch inbound for this.

[2016-02-15 05:09] arulalant commented on #1823
@doutriaux1 @aashish24 any comments or suggestions on this !?

[2016-02-15 21:14] danlipsa commented on #1812
Merged: https://github.com/UV-CDAT/uvcdat/pull/1819

[2016-02-15 21:14] #1812 closed

[2016-02-16 15:22] doutriaux1 commented on #1825
@chaosphere2112 while you are at it, could you please add the `transparent` color. I think it would be a useful one to have.

[2016-02-16 15:34] doutriaux1 commented on #1823
@dnadeau4 this one falls in your camp. Thanks!

[2016-02-16 17:53] dnadeau4 commented on #1823
It seems that CDMS is hard coded to 4 dimensions maximum for grads.
[code]

I'll see if I can fix this easily.

Denis

[2016-02-16 18:01] danlipsa commented on #1809
https://github.com/UV-CDAT/uvcdat/pull/1829

[2016-02-16 18:01] #1809 closed

[2016-02-16 19:12] danlipsa commented on #1804
No crash with the new proj4 but not the right image either:
![test_vcs_lambert](https://cloud.githubusercontent.com/assets/6180727/13087722/54161b20-d4b7-11e5-9a70-532701201c02.png)

[2016-02-16 19:28] danlipsa commented on #1804
The same crash happens with the new proj4. We'll have to debug it :-(

[2016-02-16 19:55] danlipsa commented on #1739
https://github.com/UV-CDAT/uvcdat/pull/1806

[2016-02-16 19:55] #1739 closed

[2016-02-16 22:54] durack1 commented on #1728
@danlipsa I've encountered some similar issues with the ocean grids - so for the models: CMCC-CESM, CMCC-CM, CMCC-CMS, CNRM-CM5, MPI-ESM-MR, MPI-ESM-P, MRI-CGCM3 and I've attached a couple of examples of these below:
![cmip5 cmcc-cesm historical r0i0p0 fx ocn fx basin ver-v20130416 latestx](https://cloud.githubusercontent.com/assets/3229632/13094018/22484b58-d4bd-11e5-886a-cfc6e6a4d1c7.png)
![cmip

[2016-02-16 23:27] durack1 opened #1832 "Ocean data masks not displaying correctly (VCS)"
The ocean land/sea masks are not displaying properly in VCS - contrast the attached VCS output (first) and the same data plotted using ferret (second).

The file used is: `/cmip5_css02/data/cmip5/output1/CSIRO-BOM/ACCESS1-0/1pctCO2/fx/ocean/fx/r0i0p0/areacello/1/areacello_fx_ACCESS1-0_1pctCO2_r0i0p0.nc`
![cmip5 access1-0 1pctco2 r0i0p0 fx ocn fx areacello ver-1](https://cloud.githubusercontent.com

[2016-02-16 23:44] durack1 opened #1833 "Plotting CCSM4 areacello data fails"
The offending file is:
`/cmip5_css02/scratch/cmip5/output1/NCAR/CCSM4/1pctCO2/fx/ocean/fx/r0i0p0/v20130312/areacello/areacello_fx_CCSM4_1pctCO2_r0i0p0.nc`

[code]

The equivalent plot in ferret looks like:
![cmip5 ccsm4 1pctco2 r0i0p0 fx ocn fx areacello ver-v20130312](https://cloud.githubusercontent.com/assets/3229632/13095083/05e4ca70-d4c4-11e5-8528-e34d3768f0de.gif)

[2016-02-17 00:01] doutriaux1 commented on #1833
fixed in master this morning

[2016-02-17 00:03] doutriaux1 commented on #1832
use .filled(0.0)to have vcs treat it as a regular 2D array.

[2016-02-17 00:07] durack1 commented on #1833
@doutriaux1 I will confirm this if you're able to generate me a new `master` build on `ocean` - am hoping to get this going tomorrow (Wednesday)

[2016-02-17 00:35] durack1 opened #1834 "Leftover (testing?) files written during VCS writes and testing vars loaded on startup"
The git tag is:
[code]

The output files:
[code]
Are being written to my working directory when I am making the call:
[code]
I'm also getting the rogue variables loaded during a fresh spyder session:
[code]

[2016-02-17 02:20] danlipsa commented on #1728
@durack1 What is the data and the vcs script you use to create the plot?

[2016-02-17 02:40] durack1 commented on #1728
Would a tarball with these data and a demo script be helpful? If yes I'll get onto that tomorrow.

It would be great to more systematically test across all the available data grids that we commonly use.. These could be incorporated into a more comprehensive test suite data pool

[2016-02-17 02:58] danlipsa commented on #1728
@durack1 Yes, that would be great. You could attach the file to this issue. If it turns out to be a different bug, which is possible, we can create a different issue that better describe the problem.

[2016-02-17 04:52] durack1 commented on #1728
@danlipsa so here are some files, and you can simply use:
[code]
[basin.tar.gz](https://github.com/UV-CDAT/uvcdat/files/133696/basin.tar.gz)

[2016-02-17 14:57] doutriaux1 commented on #1834
@durack1 thanks the env variable are needed to setup correctly your python (setup_runtime.csh)
@danlipsa are the `geo.vts` and such left over from you? I'll take a look to locate these files.
The `fnm` etc come from your .pythonrc or such which you probably got from me :wink:

[2016-02-17 15:06] durack1 commented on #1834
Yep @doutriaux1 no problem with the `env` vars, the VCS and testing files were the bug report

[2016-02-17 15:11] danlipsa commented on #1834
@doutriaux1 yes, those are from me. My next commit will remove them.

[2016-02-17 17:07] durack1 commented on #1834
And yep @doutriaux1 your `.pythonrc` is the problem with the testing files/vars too:
[code]

[2016-02-17 17:08] durack1 commented on #1728
@danlipsa let me know if you need any more input here - I hope you can reproduce my issue.

[2016-02-17 17:12] danlipsa commented on #1728
@durack1 Thanks Paul. I will take a look at this let you know.

[2016-02-17 17:52] durack1 commented on #1833
@doutriaux1 great, so it plots but still has a similar wrapping issue that @danlipsa is looking into in #1728
![cmip5 ccsm4 1pctco2 r0i0p0 fx ocn fx areacello ver-v20130312](https://cloud.githubusercontent.com/assets/3229632/13119105/332b41a6-d55c-11e5-88b9-1b799c64c4dc.png)

[2016-02-17 19:40] aashish24 opened #1835 "Update UV-CDAT to use buildbot/kwbot"

[2016-02-17 19:47] aashish24 opened #1836 "dan"

[2016-02-17 19:47] aashish24 opened #1837 "click"

[2016-02-17 20:18] aashish24 commented on #1784
FFMPEG merge request: https://gitlab.kitware.com/vtk/vtk/merge_requests/1237

[2016-02-17 20:19] aashish24 commented on #1784
@danlipsa @doutriaux1

[2016-02-17 21:36] durack1 opened #1838 "Add cryptography as dependency for MyProxyClient"
@doutriaux1 it's likely cryptography needs to be added as a dependency of MyProxyClient [here](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/myproxyclient_deps.cmake#L1)

This is a downstream problem in https://github.com/PCMDI/pcmdi_metrics/issues/279#issuecomment-184896732

[2016-02-17 22:38] durack1 opened #1839 "CMake build issue on travis"
@aashish24 @doutriaux1 can you take a peek at https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/109982706#L4194-L4204

[code]

It would seem that there is a CMake install failure that is tripping over our `travis` testing..

[2016-02-17 23:02] durack1 commented on #1839
@aashish24 what is a `1` return code from the CMake install mean? As it's nonzero is that indicating a build issue?
[code]

This is what we're getting on [`travis` currently](https://travis-ci.org/PCMDI/pcmdi_metrics/jobs/109982706#L4168-L4172) - it's also happening on `linux` builds..

[2016-02-17 23:43] doutriaux1 commented on #1836
since when @danlipsa became a bug?

[2016-02-17 23:44] doutriaux1 commented on #1837
???

[2016-02-17 23:45] doutriaux1 commented on #1784
@aashish24 can you please run the PR on github as well?

[2016-02-18 00:21] aashish24 commented on #1784
@doutriaux1 do you mean that have a PR to update VTK in UVCDAT/VTK?

[2016-02-18 01:58] aashish24 commented on #1836
@doutriaux1 :smile: I think @danlipsa is a feature not a :bug:

[2016-02-18 01:58] #1836 closed

[2016-02-18 04:27] durack1 commented on #457
@doutriaux1 @aashish24 when you get to further tweaking the botsuite it'd be great to add a `redhat7` machine to the mix.. As noted above `pcmdi10` is ready and waiting..

I also think this should be a `2.6er`

[2016-02-18 04:31] durack1 opened #1842 "Consider versioneye for out-dated dependency notification"
@doutriaux1 @chaosphere2112 @aashish24 this looks interesting, notifies you when updates to dependencies become available: https://www.versioneye.com/

I've been tripping over some fairly out-of-date modules recently - this could automagically highlight which packages need updating

[2016-02-18 04:34] durack1 commented on #922
@chaosphere2112 pinging you here.. Should this be a `2.6er`?

[2016-02-18 10:14] jypeter opened #1843 "Use a version of basemap more recent than 1.0.5?"
I have found out in the improved https://github.com/UV-CDAT/uvcdat/wiki/What-Is-Built page that you still provide the 1.0.5 version of basemap. You should provide the latest version of basemap, though I have found out that it is hard to find out what the most recent version is (https://github.com/matplotlib/basemap/issues/267)

[2016-02-18 15:03] danlipsa commented on #1836
:-)

[2016-02-18 19:00] mcenerney1 opened #1844 "Graphics error with MESA"
While plotting a large amount of data with MESA, I get the following.

Traceback (most recent call last):
  File "/opt/nfs/mcenerney1//uvcmetrics/src/python/frontend/diags.py", line 590, in <module>
    run_diagnostics_from_options(o)
  File "/opt/nfs/mcenerney1//uvcmetrics/src/python/frontend/diags.py", line 96, in run_diagnostics_from_options
    run_diagnostics_from_filetables( opts, modelfts,

[2016-02-18 19:25] mcenerney1 commented on #1844
with or without MESA

[2016-02-18 21:03] doutriaux1 opened #1845 "animation save does not preserve the colormap"
[code]

[2016-02-18 22:21] durack1 commented on #1834
@danlipsa can you tag this issue as closed with your next commit? a `fix #1834` in the commit message should sort it..

[2016-02-18 23:06] chaosphere2112 commented on #922
@durack1 I actually have this almost entirely ready in a branch. I'll try and formalize it and submit a PR in the next couple of days.

[2016-02-18 23:11] durack1 commented on #922
@chaosphere2112 even better! The versioneye service is pay for service.

[2016-02-18 23:18] chaosphere2112 commented on #922
@durack1 Wrong issue :wink:

[2016-02-18 23:35] durack1 commented on #922
@chaosphere2112 not really https://github.com/UV-CDAT/uvcdat/issues/922#issuecomment-64206531, but it should be - I'll purge that (versioneye) comment as it's been moved to a new dedicated one #1842

[2016-02-19 00:34] gleckler1 opened #1846 "Taylor diagram capability needs more expansive example or documentation"
Having the Taylor Diagram capability in UV-CDAT is a big advantage.  The example I have found (http://uv-cdat.github.io/cdat-site/taylordiag.html) provides a good start but requires a few more basic things to make is useful.   The most important is explaining how to control where the symbol legends (Td.Marker.id) are placed which are by default placed centered on the symbol.   A good example is at

[2016-02-19 18:01] danlipsa opened #1848 "Wrapping issue with certain nc files"
A curviliniear grid shows wrap-around patterns. This is a picture with the grid saved from uvcdat and the nc file as shown in paraview. lon is between 0 and 360 so we do not do any wrapping. Data is not passed through a geographic projection either.

It is either a problem with how cdms reads the data or how we convert data into vtk.
![wrapping](https://cloud.githubusercontent.com/assets/6180727/1

[2016-02-19 18:02] danlipsa commented on #1848
See https://github.com/UV-CDAT/uvcdat/issues/1728 for more files and a script that shows them all.

[2016-02-19 18:04] danlipsa commented on #1848
@durack1 Do you have an image that shows how this should look like? Please attach that to this bug report. I think I have seen something like this but I cannot find the issue. I'll close #1728 as this was for an unrelated bug.

[2016-02-19 18:06] danlipsa commented on #1848
@durack1 OK, I found the issue: https://github.com/UV-CDAT/uvcdat/issues/1833

[2016-02-19 18:07] durack1 commented on #1848
@danlipsa sure - which file is plotted above? I will plot using `ferret` which doesn't seem to show the same issue (I say this without being 100% certain).

[2016-02-19 18:08] danlipsa commented on #1728
I'll close this as I opened https://github.com/UV-CDAT/uvcdat/issues/1848 instead.

[2016-02-19 18:08] #1728 closed

[2016-02-19 18:31] danlipsa commented on #1848
@durack1 cmip5.CMCC-CESM.historical.r0i0p0.fx.ocn.fx.basin.ver-v20130416.latestX.WARN2.nc

[2016-02-19 18:44] durack1 commented on #1848
@danlipsa good pick - I think this input file is going to cause grief for most software packages. The output of the `basin` variable plotted using `ferret` is below
![basin_fx_cmcc-cesm_historical_r0i0p0](https://cloud.githubusercontent.com/assets/3229632/13185379/a80b3360-d6f5-11e5-9bcd-7d4a506e7429.gif)

So from your plot above, UV-CDAT is doing a better job of resolving the grid.

[2016-02-19 18:51] danlipsa commented on #1848
@durack1 It wasn't by design. :-) I just picked the first one in the ls order. You can try all the files in the zip file you attached to #1728 or please attach areacello_fx_CCSM4_1pctCO2_r0i0p0.nc from #1833 which seems to exhibit a similar problem.

[2016-02-19 19:00] durack1 commented on #1848
Ok so this one is resolved better (areacello_fx_CCSM4_1pctCO2_r0i0p0.nc):
![areacello_fx_ccsm4_1pctco2_r0i0p0](https://cloud.githubusercontent.com/assets/3229632/13185804/e7162e78-d6f7-11e5-8f86-5a835da732c2.gif)

[2016-02-19 19:02] danlipsa commented on #1848
@doutriaux1 I don't have the nc file. Can you attach it? Thanks.

[2016-02-19 19:07] durack1 commented on #1848
No problem - attached below.
[areacello_fx_CCSM4_1pctCO2_r0i0p0.nc.gz](https://github.com/UV-CDAT/uvcdat/files/138539/areacello_fx_CCSM4_1pctCO2_r0i0p0.nc.gz)

[2016-02-19 21:52] dnadeau4 commented on #1398
Actually the problem was not netCDF library, but the fact that we were passing a NULL pointer to nc_put_attr_text API.  when deleting an attribute with Python,  set_attribute is being called and value points to NULL.  This is what I fixed in #1841

[2016-02-19 22:13] durack1 commented on #1398
@dnadeau4 ok, so might be a different issue.. However I still would be curious if the changes implemented in https://github.com/Unidata/netcdf-c/issues/128#event-503513530 lead to a change in behavior down stream in `Cdunif`'s use of the netcdf library.. Was just a curiosity, and as the branch exists, would be relatively straight forward to test..

[2016-02-20 01:06] #1822 closed

[2016-02-20 01:13] doutriaux1 opened #1849 "world coordinate do not respect datawc_x1/x2"
@danlipsa we need urgently to fix the datawc_x1/x2/y1/y2 issue this affects I isolated the issue (in meshfill at least which appear in: https://github.com/PCMDI/pcmdi_metrics/issues/296 ) to be coming from: https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/vcsvtk/meshfillpipeline.py#L53

Looking at the issue above when runnig it with the EXACT same template and datawc_x1/x2 4 times bu

[2016-02-20 20:43] danlipsa commented on #1849
@doutriaux1 Could I get the original script/data from https://github.com/PCMDI/pcmdi_metrics/issues/296? I have seen and solved something similar for plots of boxfill + vector. There, the bounds for boxfill data were slightly larger than the bounds for vector the vector which resulted in similar duplication of labels.

[2016-02-22 19:34] aashish24 opened #1850 "Fix tag 2.5"
It seems that its on the wrong commit.

@doutriaux1 @williams13  I will fix it soon. Thanks for reporting it.

[2016-02-22 20:13] czender opened #1852 "UVCDAT causes conflicts with 'mpirun' used by NCO climo_nco.sh"
Philip Cameron-Smith reported this problem on rhea.
If he loads UVCDAT then the MPI-mode (-p mpi) of climo_nco.sh fails because of unsatisfied 'mpirun' dependencies. I tried but failed (search for UVCDAT in climo_nco.sh) to find a workaround that allows users to have UVCDAT loaded and to use climo_nco.sh in MPI mode. The only workaround that currently works is to not load UVCDAT when running climo

[2016-02-23 11:53] stefraynaud opened #1853 "Can't add missing value attribute to netcdf file variable"
This code fails when writing a simple variable to a file:
[code]

Output:
[code]
where the attribute name is "missing_value".

It fails only on a particular installation of uvcdat close to 2.0.0, that already worked in the past.
Among the things that changed since it worked is combined an update of matplotlib and numpy using pip -U. Maybe a solution would be an appropriate downgrade of numpy witho

[2016-02-23 14:56] doutriaux1 commented on #1853
@stefraynaud works for me out of master/2.4.0 I'm leaving it open for a little while in case somebody else can reproduce.