[2015-03-03 08:20] jypeter opened #1103 "Removing marker with marker=None generates an error in yxvsx 1D plot (2.1)"
The following script works fine in 1.5.1 (we get a **line plot without markers** where the data points are), but fails in 2.1

The script
[code]
The error I get in 2.1
[code]

[2015-03-03 14:01] jypeter commented on #913
:+1:  Yes, let's see how it looks like!

We may want to have both:
* an exhaustive list of all the changes (with helpful comments)
* a more user friendly list based on the exhaustive list, emphasizing the most important changes from the end user point of view

[2015-03-03 14:50] doutriaux1 commented on #913
@chaosphere2112@ that sounds great.

[2015-03-03 14:55] doutriaux1 commented on #283
Let me know

[2015-03-03 15:01] jypeter commented on #463
I confess I have not met a case of **all_leap** data. Maybe mentioning it in the CF convention was an error? Could you ask some other MIP and CF experts like Peter and Karl what they think about this calendar?

We can keep this issue open in case somebody else worries about the problem, but it is low priority *as long as no CMIPn model uses this particular calendar*

[2015-03-03 15:37] chaosphere2112 commented on #913
The tool I used to do the first draft wound up with a lot of noise; I'm going to write a script that gets a list of all merged pull requests, gets some info about those from the github API, and formats the output nicely. It's looking like we'll have a link in the bottom of the release notes that points to a page on the wiki with the changelog (since there's quite a lot in there, don't want to poll

[2015-03-03 16:33] potter2 commented on #283
This is fixed

[2015-03-03 16:40] durack1 commented on #463
@gleckler1 @taylor13 I think your perspectives are requested here..

[2015-03-03 16:51] gleckler1 commented on #463
I'm with you jypeter, I am not familiar with a case were the "all_leap" option has been exercised.   I don't think it is worth effort to try and build such and example.

[2015-03-03 16:55] vvpalav commented on #283
Thank you @potter2 .. closing this issue.

[2015-03-03 16:55] #283 closed

[2015-03-03 17:00] vvpalav opened #1104 "colormap editor behaves weirdly"
Colormap editor behaves weirdly when editing color table from color picker. Please check below screenshot.

![687474703a2f2f692e696d6775722e636f6d2f6e6d32787535752e706e67](https://cloud.githubusercontent.com/assets/6840965/6467523/cf59f77c-c19c-11e4-83c6-5fe4b5f2d61d.png)

[2015-03-03 17:06] chaosphere2112 commented on #913
Here's a sample output– this is everything since the last tagged release in the repo.

http://uvcdat-dev.llnl.gov/changelog.html

The method I'm using to build this looks something like this:

1. I find most recent tag in the repo
2. I traverse parent commits from the current HEAD till I find the tag, and grab every commit that starts with "Merged pull request", the default commit message for merg

[2015-03-03 17:18] doutriaux1 commented on #1096
@chaosphere2112 could it be linked to configurator?

[2015-03-03 17:22] doutriaux1 commented on #1100
@painter1 do you have a fresh build? Looks like your vcs and VTK might be out of sync, I'd recommend a fresh build from scratch first.

[2015-03-03 17:26] #456 closed

[2015-03-03 17:32] painter1 commented on #1100
You're right.  I reinstalled a bug fix I had done in VCS (not in this issue tracker yet) and this problem went away.

[2015-03-03 17:32] #1100 closed

[2015-03-03 17:39] chaosphere2112 commented on #1096
@doutriaux1 Looks like it definitely is; @painter1, how about I swing by and you show me how to reproduce?

[2015-03-03 17:47] doutriaux1 commented on #463
all right @gleckler1 and @jypeter sold it to me. closing until someone cares enough to re-open. And that does NOT include you @durack1 :wink:

[2015-03-03 17:47] #463 closed

[2015-03-03 17:50] doutriaux1 commented on #1104
@chaosphere2112 should we replace this with your widget? Do you have blend and save capabilities?

[2015-03-03 17:52] durack1 commented on #463
@doutriaux1 "cares enough" doesn't sound much like me..

[2015-03-03 17:59] potter2 commented on #283
Charles,
The .vt file works now.  There are quite a few things that are broken
now.. Is the version you sent me close to release?

Jerry

On 3/3/15 6:55 AM, Charles Doutriaux wrote:

--
Gerald (Jerry) Potter
NASA Goddard Space Flight Center
E-mail  gerald.potter@nasa.gov
Office  28:S241
Phone    707.315.8314
Analysis and Data Consultant
Department      GSFC:606.2

[2015-03-03 20:13] chaosphere2112 commented on #1104
Maybe in 2.3; all I have right now is a color picker that will let you choose a color out of the existing colormaps. Shouldn't be too hard to leverage some of that code to build a fully-VTK colormap builder, but not by tomorrow :wink:

[2015-03-03 21:39] doutriaux1 opened #1105 "Isofill are off"
When plotting isofill data for a user we noticed her max was 89.999 but isofill on plot stop at the 70-80 interval . Using version 1.5.1 isofill are correct.  2.0 and 2.1 are wrong
Will post pix soon

[2015-03-03 21:41] doutriaux1 commented on #1105
@dlonie @aashish24 I think/hope it's a bug in my look-up table. Boxfill custom works. Can you please take a look at it at same time as me. This is MAJOR we can't release with this bug.

[2015-03-03 21:42] chaosphere2112 commented on #1093
@dlonie Any update on this? I'm probably going to be doing a workaround for this issue tomorrow if nothing looks promising.

[2015-03-03 21:43] doutriaux1 opened #1106 "Continents are off"
When plotting data with a user we noticed the continents seem to be a bit to much up north.
1.5.1 is ok. Png to follow soon

[2015-03-03 22:11] doutriaux1 commented on #1105
our version (BAD)
![bad](https://cloud.githubusercontent.com/assets/2781425/6473566/0d72ca5e-c1af-11e4-9f5e-ccb18af166eb.png)

1.5.1 version (good)
![good](https://cloud.githubusercontent.com/assets/2781425/6473577/1e35cab2-c1af-11e4-895d-54e4bc164432.png)

[2015-03-03 22:11] doutriaux1 commented on #1106
our version (BAD)
![bad](https://cloud.githubusercontent.com/assets/2781425/6473566/0d72ca5e-c1af-11e4-9f5e-ccb18af166eb.png)

1.5.1 version (good)
![good](https://cloud.githubusercontent.com/assets/2781425/6473577/1e35cab2-c1af-11e4-895d-54e4bc164432.png)

[2015-03-03 22:14] doutriaux1 commented on #1106
actually the continents look good, it's almost as if the data is shifted rather than continents

[2015-03-03 22:32] chaosphere2112 commented on #1096
Just submitted a pull request to fix this issue, should get merged soon.

[2015-03-03 22:58] doutriaux1 commented on #1105
@aashish24 @dlonie no idea what is wrong here.

I'm looking at:
http://www.vtk.org/Wiki/VTK/Examples/Cxx/VisualizationAlgorithms/BandedPolyDataContourFilter
and it seems we're doing it right here. Please take a look it is very critical.
putting script and data in an email soon.

[2015-03-03 23:48] durack1 commented on #913
@chaosphere2112 here's another git implementation of changelog to consider: https://github.com/spyder-ide/spyder/wiki/Changelog

[2015-03-04 00:03] durack1 opened #1108 "Update spyder to 2.3.3"
A new bugfix release is out, I'll update the sources and install files..

[2015-03-04 01:08] doutriaux1 commented on #283
@potter2 yes

[2015-03-04 01:50] doutriaux1 opened #1111 "test_isolines_label"
no labels on it... even baseline does not have them... What hapend? Some merge undid @dlonie work?

[2015-03-04 01:53] doutriaux1 commented on #1111
on the bright spot:
https://github.com/UV-CDAT/uvcdat/blob/master/testing/vcs/test_vcs_isoline_labels_multi_label_input_types.py
still works, maybe just an issue with passing no text or string texts, will check, re-assignig to me

[2015-03-04 02:07] doutriaux1 commented on #1105
@dlonie @aashish24 I think the problem might be at the VTK level. Bellow is a plot with an isoline at "70"
That seems to confirm isoline and isofill both agree there's no data greater than 80... I thought it might be a lookup table issue but it seems to be a contouring issue.
![bad](https://cloud.githubusercontent.com/assets/2781425/6476858/2fa28850-c1d0-11e4-907a-968083a3075b.png)

[2015-03-04 02:12] doutriaux1 commented on #1105
notice how the "10" level seems to be identical between both 2.X and 1.5. It might be VTK algorithm that is just weak

[2015-03-04 02:14] doutriaux1 commented on #1105
if that's case I thik we need to very quickly re-implement the old algoritthm from vcs_legacy source code (look at: https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs_legacy/Src/library/isolines.c ) @williams13 what do you think?

[2015-03-04 04:59] doutriaux1 commented on #1105
@aashish24 @dlonie should we try this?

http://www.vtk.org/doc/release/5.0/html/a01702.html

[2015-03-04 05:19] doutriaux1 commented on #1105
nope... no difference...

[2015-03-04 06:48] aashish24 commented on #1105
@doutriaux1 I or @dlonie will look into it later tomorrow.

[2015-03-04 06:54] doutriaux1 commented on #1105
Thanks @aashish24 two possibilities come to my mind right now. 1) pole points maybe treated differently between both methods. 2) not many points with the max value maybe causing The diff

[2015-03-04 14:23] dlonie commented on #1093
@chaosphere2112 I haven't had a chance to look into it yet. Feel free to do a workaround.

[2015-03-04 16:06] dlonie commented on #1111
Both pass for me on current master.

[2015-03-04 16:14] doutriaux1 commented on #1111
they pass but one is wrong, there's no label on test_isolines_label :wink:

[2015-03-04 16:15] doutriaux1 commented on #1111
see: https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_isoline_labels.png

no labels

[2015-03-04 17:26] williams13 commented on #1105
We have to have this fixed before the release! We don't want users to compare our output with NCL and say that our software is wrong.

Our old algorithms work and have been vetted for over 3 decades.

[2015-03-04 17:40] dlonie commented on #1105
Looking into it.

[2015-03-04 17:47] williams13 commented on #1105
Thanks David. This is a big deal.

From: David Lonie <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 4, 2015 at 9:40 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: Dean Williams <williams13@llnl.gov<mailto:williams13@llnl.gov>>
Subject: Re: [u

[2015-03-04 18:25] dlonie commented on #1105
Toss this back my way if I'm missing something, but it looks like the data going into the contour generator doesn't match the data you describe -- the max value in the input is 75.49:

    --- Packages/vcs/Lib/VTKPlots.py
    +++ Packages/vcs/Lib/VTKPlots.py
    @@ -975,6 +975,8 @@ class VTKVCSBackend(object):
                       r,g,b = cmap.index[color]
                       lut.SetTableValu

[2015-03-04 18:45] #423 closed

[2015-03-04 18:51] doutriaux1 commented on #1105
hum... let me look into this. It's weird... But if that's the case that's great news that means quick fix!

[2015-03-04 19:12] doutriaux1 commented on #1105
@dlonie

[code]
gives:
[code]

So I thin kthe issue comes from cell2point filter, is there a way to avoid calling cell2point? I will look into this but you will probably beat me to this.

[2015-03-04 19:13] durack1 opened #1112 "Failed cython compilation?"
There appears to be a problem, somewhere:

[code]

I'm a little uncertain of where do go to diagnose this issue

[2015-03-04 19:15] doutriaux1 commented on #1105
also setInputData should probably be changed to setInputConnections right?
[code]

[2015-03-04 19:20] dlonie commented on #1105
On Wed, Mar 4, 2015 at 2:15 PM, Charles Doutriaux <notifications@github.com>
wrote:

Eventually, yes, but it really doesn't matter at this point. There really
isn't a pipeline design built into the VTK/vcs layer, so connecting two
isolated filters won't make any difference.

It really only makes a difference when you have an unbroken chain of
persistent filters running from the data source to the

[2015-03-04 19:27] doutriaux1 commented on #1112
@durack1 are you trying to install pandas?

[2015-03-04 19:28] durack1 commented on #1112
@doutriaux1 yep, locally..

[2015-03-04 19:30] doutriaux1 commented on #1105
I agree it's a side problem that will fix after 2.2 is out. The real issue here is  how to avoid cell2point? can't you send directly a structuredGrid with cellData to vtkBandedCountour?  c2p is doing some sort of interpolation which is kind of what we are really asking isoline to do anyway.

[2015-03-04 19:41] doutriaux1 commented on #1112
ok not a uvcdat issue, closing, it looks like it's really a panda issue.

[2015-03-04 19:41] #1112 closed

[2015-03-04 19:42] durack1 commented on #1112
@doutriaux1 I was more concerned that the 0.21.2 cython update had broken something (in cython)..?

[2015-03-04 19:43] #1108 closed

[2015-03-04 19:44] #734 closed

[2015-03-04 19:50] doutriaux1 commented on #1112
it's possible it did break something for pands and pandas is lagging behind

[2015-03-04 19:51] doutriaux1 commented on #1105
@dlonie should I construct the grid differently if going to isofill? i.e use nodes rather than cellData?

[2015-03-04 19:56] dlonie commented on #1105
You are correct -- the vtkCellDataToPointData filter is interpolating the celldata for the points and none of the interpolated values are above 75.

It looks like the vtkBandedPolyDataContourFilter only contours around the point scalars, so if  it's possible to construct the grid differently to set the point data as vcs expects, that should work.

[2015-03-04 20:09] doutriaux1 commented on #1105
Ok I will do that this afternoon

[2015-03-04 21:39] vvpalav commented on #1104
Pull request created for this issue.
https://github.com/UV-CDAT/VisTrails/pull/20

[2015-03-04 21:54] #1104 closed

[2015-03-05 02:23] doutriaux1 commented on #1105
@aashish24 @dlonie I pushed my changes to: https://github.com/UV-CDAT/uvcdat/tree/isofill_on_pointdata_struct_grid

Still my datasetsurfacefilter comes out with no data! I'm sure it's a 10 minute fix. Use the code/data I sent yesterday by email for testing.

Thanks.

[2015-03-05 04:01] cameronsmith1 opened #1116 "Mean in top-left of Boxfill plots is not working."
I am using UVCDATv2.1 on Rhea.
When I plot Boxfill-default maps, the mean of the plot reported in the top left iz broken. It is always reported as zero.

[2015-03-05 04:09] cameronsmith1 opened #1117 "Needs to remove default method in GUI"
I am using UVCDATv2.1-GUI on Rhea.
I need to control the color scale for Boxfill plots.   It is particularly important  that the colorscales are the same when trying to compare two plots of the same variable from different simulations.  Note that it is not the colors that I need to change, but the assignment of colors to values of each cell.  The problem is that when I bring up the vizualization p

[2015-03-05 10:32] jypeter commented on #913
The list is impressive and quite promising, but is there a way to also have a direct link to the original issue?

eg for *fix 999 by Charles Doutriaux* you have a link to the pull request, but it would be convenient to also have a link to #999

[2015-03-05 13:54] dlonie commented on #1105
The dataset coming out of genGridOnPoints is a 1D line along the Y axis:

Dimensions: (1, 4785, 1)
Extent: (0, 0, 0, 4784, 0, 0)

Shouldn't it be a 2D plane on x/y?

Looks like there's a problem with how that function is interpreting the points. I'm not familiar with the format of the data going into genGridOnPoints(), so I'll let you take a look.

[2015-03-05 14:32] doutriaux1 commented on #1105
Hum. That is the same function that we use for vector plots. I will take a look again. Thanks

[2015-03-05 15:30] chaosphere2112 commented on #913
@jypeter Yeah, I can do that. I'm pulling the issue from GitHub already, to make it so those messages expand out to something more like "Fix #999: Multiple errors in vcs x.show by Charles Doutriaux". Should be easy enough to add ([Linked Issue](https://github.com/UV-CDAT/uvcdat/issues/999)) to the end.

[2015-03-05 15:40] chaosphere2112 commented on #1097
Should be fixed in latest master.

[2015-03-05 15:40] #1097 closed

[2015-03-05 15:40] chaosphere2112 commented on #1096
Should be fixed in latest master.

[2015-03-05 15:40] #1096 closed

[2015-03-05 15:58] chaosphere2112 commented on #913
@jypeter @durack1 I updated the changelog to include links to associated issues– check it out at [uvcdat-dev.llnl.gov/changelog.html](http://uvcdat-dev.llnl.gov/changelog.html).

[2015-03-05 16:10] chaosphere2112 opened #1118 "Saving an animation at 4 frames per second on mac creates green animation"
When I save an animation of CLT at 4 FPS on my mac, it outputs a solid green video. I've tried this both from my UI stuff as well as from scripts.

@doutriaux1

[2015-03-05 16:11] chaosphere2112 commented on #1118
We tried this on Ubuntu and it worked perfectly fine, so there's probably something askew in my computer's setup. @doutriaux1, here's the FFMPEG log:

[code]

[2015-03-05 16:17] jypeter commented on #913
Looks pretty good to me!
We will also need a friendly summary for the end-user, that somebody knowledgeable can generate by looking at the exhaustive Changelog. **For example:**

* New features:
 * *execute x.interact() after plotting to a canvas in order to blahblah* <-- The kind of important change after 1.5.1

* New packages:
 * *Added vacumm NNNN*

* Updated packages:
 * *spydor was updated fr

[2015-03-05 16:19] chaosphere2112 commented on #913
Yup, that's definitely going to be added. :+1:

[2015-03-05 17:23] vvpalav commented on #937
@potter2 @williams13 I fixed some issues on colormap editor and it is merged into master now.
Can you please test this issue once again just in case to check if this one was a side effect of that other issue.
Other issue :- #1104

[2015-03-05 18:04] doutriaux1 commented on #1105
Yeah ! got it! It did fix the continetns as well! Need to regenrate all baselines now. Will push a PR soon. Thanks @dlonie

[2015-03-05 18:07] dlonie commented on #1105
@doutriaux1 Great! I'll take a look once it's pushed.

[2015-03-05 18:20] doutriaux1 commented on #1117
yes you can't edit default. in 2.2 we re-introduced copies of "default" named "a_boxfill" which is editable.

[2015-03-05 18:21] doutriaux1 commented on #1117
actually I reopen for 2.3 we shouldn't be listing "default" graphic method inside the GUI at all.

[2015-03-05 18:45] doutriaux1 commented on #1118
@chaosphere2112 can you point me to a script so I can use exact same data on my mac and ubunutu and see if i can reproduce this. Also did you try to preserve the png (option in x.close()) and see what they look like? You could send me these pngs and we can try to run ffmpeg on them on various system

[2015-03-05 18:47] doutriaux1 commented on #913
@chaosphere2112 could we use the labels to try to to categorize these (we could have three level for each category: bug/enhancement/critical) and the categories could be the other labels?

[2015-03-05 18:50] chaosphere2112 commented on #913
Yup, that would be super easy. I can do that :+1:

[2015-03-05 18:59] chaosphere2112 commented on #1118
[code]

This does it for me.

What’s the option to preserve the pngs? I watched as they were created, and they all looked fine. I can’t seem to see anything that would preserve them.

[2015-03-05 19:46] hgohil2805 commented on #844
http://uvcdat.llnl.gov/UVCDATUsage/log/add/error/

can confirm that I can report the error's fine. Can someone else also check? (although is still prints a lot of extra information https://github.com/UV-CDAT/uvcdat/issues/1088)

[2015-03-05 20:07] doutriaux1 commented on #1118
[code]

[2015-03-05 20:08] #450 closed

[2015-03-05 20:12] doutriaux1 commented on #844
seems to work for me as well closing

[2015-03-05 20:12] #844 closed

[2015-03-05 20:24] durack1 commented on #576
@doutriaux1 seems like ESMF has now been bumped to [7.1.0beta](http://www.earthsystemmodeling.org/plans/releases/sched_current.shtml) as the numpy update (#885,#915) is addressed probably best to add in ESMF 7.1.0+ too

[2015-03-05 20:31] chaosphere2112 commented on #1118
[code]

[2015-03-05 20:42] doutriaux1 commented on #1118
Interesting... ok will fix that. I worked at one point...

[2015-03-05 20:45] doutriaux1 commented on #576
Will probably ready at same time as 2.3 perfect

[2015-03-05 21:52] doutriaux1 commented on #1118
sorry it is:
[code]

[2015-03-05 22:08] chaosphere2112 commented on #1118
OK, I’ve got a directory of PNGs… I tried printing out the command from the ffmpeg function, and it looks like this:

ffmpeg -y  -r 4 -i /Users/fries2/.uvcdat/98ffd71bb38c8c339cc7eaa4b6eaf03f621ebcdb/anim_%d.png -r 4  -b:v 1024k  green.mp4

Which doesn’t work– complains about anim_%d not being a file

[2015-03-05 22:22] #1085 closed

[2015-03-05 23:07] doutriaux1 commented on #1012
fix by https://github.com/UV-CDAT/uvcdat/pull/1110

[2015-03-05 23:07] #1012 closed

[2015-03-05 23:08] #857 closed

[2015-03-05 23:10] doutriaux1 commented on #730
ok this issue has become very convoluted, not really sure what it was about any more... I thnk @remram44 addressed this already. If anybody is not satisfied with current status please open a new issue

[2015-03-05 23:10] #730 closed

[2015-03-05 23:11] doutriaux1 commented on #146
sadly moving to 2.3....

[2015-03-05 23:38] remram44 commented on #730
This issue is before #747 so probably outdated.
The warning itself was removed recently with #1069.

[2015-03-05 23:42] doutriaux1 commented on #653
@dlonie taking out doWrap does make any diff the bounds are big as soon as I do the geo (projection). The numbers are probably ok too, they are in m on the earth sphere. I just think the fitToViewPort might be the issue here. Not sure.

[2015-03-06 00:51] doutriaux1 commented on #1106
@dlonie I think it is because we set the data on "cellData" rather than "pointData" I'm using ployDataMApper and DatasetMAppers, do they do anything with the grid if data is on cells? It is odd.

Please use the same script/data (bad.nc) I sent earlier and switch between isofill or boxfill for gms, you will see the data shift dramatically when switching. Moving isoline/fills from cellData to pointD

[2015-03-06 01:02] doutriaux1 commented on #1106
and good version of boxfill, generated with 1.5.1 (excpet for colors)
![bad](https://cloud.githubusercontent.com/assets/2781425/6518283/6569bac8-c359-11e4-9da1-2c628f673895.png)

[2015-03-06 14:20] #1105 closed

[2015-03-06 14:39] doutriaux1 commented on #1106
@dlonie any ideas?

[2015-03-06 14:42] #1111 closed

[2015-03-06 15:10] #1103 closed

[2015-03-06 15:18] dlonie commented on #1106
I suspect it has something to do with the transforms that are used to
resize / translate the data (the fitToViewport stuff, IIRC). I'd start
looking there.

It seems to me that it'd be more robust to not rescale/stretch/etc the data
with a transform, but rather leave the data in the same coordinate system
and adjust the viewport/camera to get the desired view -- It's fewer things
to keep track of

[2015-03-06 16:09] doutriaux1 commented on #1106
@aashish24 you designed this at the very beginning of the VTK rewrite, can you take a look please?
@dlonie the problem though is we do want to stretch/squeeze the data to fit the viewport, is that doable w//o a transform?

[2015-03-06 16:41] dlonie commented on #1106
@doutriaux1 Yes, the `vtkCamera` class provides complete control over the modelview and projection matrices, which allow anisotropic stretching/scaling. The `vtkPerspectiveTransform` class can be used to help define the matrices, in particular `vtkPerspectiveTransform::Ortho` method looks like what we'd want.

[2015-03-06 16:46] dlonie commented on #1106
BTW, I'm not suggesting that as a fix for 2.2. If we make the camera/viewport-instead-of-actor-transforms change, it would be as part of the post-2.2 work.

[2015-03-06 20:26] doutriaux1 commented on #1106
@williams13 I think @dlonie is right. It's part of making everything "the-right-vtk-way" It's slightly off on boxfill plots for noew but isoline/isofill are correct. I'd say let ship 2.2 like that and fix it for 2.3/3.0. Thoughts?

[2015-03-06 22:20] hgohil2805 opened #1124 "Plots break after removing a cell and then adding it again."
[code]

![report_error](https://cloud.githubusercontent.com/assets/9386084/6537450/db0616f2-c424-11e4-8f7d-d57db5aac7e4.jpg)

can be recreated by adding a cell (say number 3), plotting something on it then removing the cell from the menu (2 plots remaining) and then adding plot 3 again.

[2015-03-06 22:22] hgohil2805 commented on #1124
The trace is from a different sequence which also produces the same error. The image is from the steps I've mentioned below it.

[2015-03-06 23:53] hgohil2805 commented on #1124
https://github.com/UV-CDAT/uvcdat/issues/773

[2015-03-07 00:33] williams13 commented on #1106
I just don’t want users to compare the output with other packages and say UV-CDAT gives wrong output. This will be very bad!

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 6, 2015 at 12:26 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.g

[2015-03-07 00:51] durack1 opened #1125 "ESMF regrid problem"
From: <Zelinka>, Mark
Date: Wednesday, March 4, 2015 at 11:40 AM
To: "Doutriaux, Charles", "Paul J. Durack"
Subject: CDAT regridder issue

Hi Charles and Paul,

Have you guys ever encountered the following issue?

If I regrid using
SWCRE_grd=SWCRE.regrid(horiz_grid,regridTool="regrid2”), everything looks okay (see attached top right figure).

But when I regrid using
SWCRE_grd=SWCRE.regrid(horiz_gr

[2015-03-07 00:59] doutriaux1 commented on #1125
Can you also send us the latitudes? Or point me to the file.

Thanks

From: "Paul J. Durack" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, March 6, 2015 at 4:51 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject: [uvcdat] ESMF regrid problem (#1125)

[2015-03-07 20:49] durack1 opened #1126 "Update matplotlib to 1.4.3"
We are a patch release behind matplotlib latest (1.4.2 vs 1.4.3).

@doutriaux1 @aashish24 want to assign me to this task as a 2.3 milestone?

[2015-03-07 20:51] durack1 opened #1127 "Update IPython to 3.0"
We are a major release behind IPython latest (2.4.1 vs 3.0).

@doutriaux1 @aashish24 want to assign me to this task as a 2.3 milestone?

[2015-03-07 20:52] durack1 opened #1128 "Update cython to 0.22"
We are a patch release behind cython latest (0.21.2 vs 0.22).

@doutriaux1 @aashish24 want to assign me to this task as a 2.3 milestone?

[2015-03-08 01:57] potter2 opened #1132 "Isoline labels broken"
When I plot an isoline in a latitude by level plot then add labels no labels are produced instead lines across the plot. It looks like nobody tried to add isoline labels to
![isoline](https://cloud.githubusercontent.com/assets/2963950/6544125/63ddfbe2-c4f3-11e4-951a-5c9ebe29298b.png)
 a plot like this.

[2015-03-08 22:06] mzelinka commented on #1125
1) Here is what I am using (on feedback):
$ which cdat
/usr/local/uvcdat/2015-02-10/bin/cdat
$ which uvcdat
uvcdat: 	 aliased to /usr/local/uvcdat/2013-06-05/bin/uvcdat
$ which ipython
/usr/local/uvcdat/2015-02-10/bin/ipython

2) Here are the latitudes of the two grids:
Original latitudes:
SWCRE.getLatitude()[:]
Out[3]:
array([-29.5, -28.5, -27.5, -26.5, -25.5, -24.5, -23.5, -22.5, -21.5,
       -

[2015-03-09 03:35] doutriaux1 commented on #1125
The fact that your uvcdat is different is worrisome  (mixed versions) I will try to reproduce next week

[2015-03-09 13:41] doutriaux1 commented on #1127
ok but you should do some testing with this one, it's a major update might break things.

[2015-03-09 15:25] mzelinka commented on #1125
I just changed to this uvcdat: /usr/local/uvcdat/2015-02-10/bin/uvcdat and the problem remains.

[2015-03-09 16:17] jypeter commented on #1128
Updating Cython will maybe make it possible to install more recent versions of netCDF4 ... But it seems that Paul already has a more recent version of Cython than what I have in my stock 2.1.0 UV-CDAT (**0.16**)

https://github.com/Unidata/netcdf4-python/issues/367

Not that I'm going to use netCDF4, because I prefer cdms2! :-) But some of my users want netCDF4...

[2015-03-09 16:23] durack1 commented on #1128
@jypeter we're at the near bleeding edge of netcdf @ [4.3.2](https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/netcdf_pkg.cmake) in the upcoming 2.2, I'll likely bump the sources to the latest patch release [4.3.3.1](https://github.com/Unidata/netcdf-c/releases/tag/v4.3.3.1) as a 2.3 milestone..

[2015-03-09 16:35] jypeter commented on #1128
My concern is not about the latest version of netcdf, but the latest version of netcdf4-python! :)

That's he module (import netCDF4) that the unlucky souls who can't import cdms2 have to use (even when I give them access to UV-CDAT...)

http://unidata.github.io/netcdf4-python/

[2015-03-09 17:27] #889 closed

[2015-03-09 17:40] doutriaux1 opened #1133 "wrapping labels seems to still not work"

[2015-03-09 17:49] doutriaux1 commented on #587
I'll make "robinson", "Molleweide", "polar" work for this version, will turn off the others.

[2015-03-09 18:10] durack1 opened #1134 "vtkXOpenGLRenderWindow: Could not find a decent visual"
There appears to be a problem which is being reproduced across a number of systems:
ocean:2015-02-25
`ERROR: In /export/doutriaux1/build/build/ParaView/VTK/Rendering/OpenGL/vtkXOpenGLRenderWindow.cxx, line 382
vtkXOpenGLRenderWindow (0x2a1d710): Could not find a decent visual`
gfdl-public1:v2.1.0:
`ERROR: In /home/p1d/PCMDI_METRICS/v1p0/tmp/uvcdat/uvcdat_build/build/VTK/Rendering/OpenGL/vtkXOpenGL

[2015-03-09 18:26] doutriaux1 commented on #1134
@aashish24  @dlonie why is it looking into my build directory? I think that's the reason the error, I yanked my build directory.

[2015-03-09 18:31] dlonie commented on #1134
The error message strings are compiled in at build time -- it's not actually trying to access anything there, it's just a hint as to which file has the code that's failing.

This particular error is printed out when the GL installation doesn't include the GLX extensions in an X window environment. Check to see if there are any GLX packages available on this platform that are missing.

[2015-03-09 18:37] doutriaux1 commented on #897
@cameronsmith1 it should be up and running with the fix from @hgohil2805 at:
/lustre/atlas/world-shared/csc121/uvcdat/2015-03-05
when you get a chance can you please let us know if that's better for you.

[2015-03-09 18:48] doutriaux1 commented on #1133
@williams13 it seems to work for me (-180,180 selected). You don't get this?
![screenshot from 2015-03-09 11 46 59](https://cloud.githubusercontent.com/assets/2781425/6561952/266b2072-c652-11e4-9a52-068bba93f737.png)

[2015-03-10 00:08] durack1 opened #1136 "UV-CDAT docs website: cdms/cdtime manual page problem"
@mattben @chaosphere2112

It seems that the time constructor section of http://uvcdat.llnl.gov/documentation/cdms/cdms_3.html needs a tweak or two..

[2015-03-10 00:09] durack1 commented on #1136
@doutriaux1 maybe a new "website" label could be useful here

[2015-03-10 00:14] doutriaux1 commented on #1136
Done. Good idea

[2015-03-10 00:29] chaosphere2112 commented on #1136
@durack1 @doutriaux1 We were hoping to have website issues get filed against the website's repo: https://github.com/UV-CDAT/uvcdatsite

I'll add this to my list of documentation fixes.

[2015-03-10 02:46] durack1 commented on #1054
@doutriaux1 from the [ChangeLog](http://www.zlib.net/ChangeLog.txt) it looks like some nasty bugs were fixed in the latest release 1.2.8 and using 1.2.3 (or the system defaults - redhat6.6 1.2.3) is not really the best idea.. It'd be great to force all packages to use a 1.2.8 built version in 2.3+

[2015-03-10 13:14] durack1 commented on #1136
@chaosphere2112 thanks for the tipoff, I should have thought of that.. Migrated to https://github.com/UV-CDAT/uvcdat-site/issues/46

[2015-03-10 13:14] #1136 closed

[2015-03-10 17:47] doutriaux1 commented on #1054
@durack1 we don't build zlib anylonger, we use system one.

[2015-03-10 17:47] #1054 closed

[2015-03-10 19:34] durack1 commented on #1125
The following code reproduces the error:
[code]
And here is the output:
![esmf_issue_1125](https://cloud.githubusercontent.com/assets/3229632/6583491/bb7fe1be-c721-11e4-9124-b174332fdcba.png)

[2015-03-10 22:22] painter1 opened #1139 "renderTemplate needs list, gets None"
Making plots through the diagnostics, renderTemplate (in vcs/VTKPlots.py) calls d.backend.get() which returns None.  The following loop crashes because it expects d.backend.get() to have returned a list (possibly empty).  Everything works well if I insert
  if texts is None: texts=[]
but probably the best place to fix it is elsewhere in VCS.

[2015-03-11 12:44] #1139 closed

[2015-03-11 15:59] vvpalav commented on #1117
Hey @doutriaux1 .. so we want to remove default from available color scales on colormap editor?
then what happens when we change color scale and apply it to the plot and wanted to reset back to default? Can you please give more information about this so that we don't end up breaking something else.

[2015-03-11 17:01] doutriaux1 commented on #1117
@vvpalav the "Default" cannot be edited. SO we should remove it from the list, instead there are currently "copies" of the "default" gm named "a_boxfill" for example. This can be edited.
I have no idea how vistrails works under the sheets but it probably makes a copy of "whatever graphic method (gm) was dropped in" so you can revert back to that. The better way to do it would probably be to "copy"

[2015-03-11 17:04] durack1 commented on #1134
@dlonie how would I check to see which GLX packages are missing?

[2015-03-11 17:06] dlonie commented on #1134
You have to check your package manager, which varies among linux distributions.

[2015-03-11 18:43] durack1 commented on #1134
@dlonie if nothing has changed with packages installed (which I assume is the case in the gfdl-public1 machine above) is there anything else that would trigger this problem?

[2015-03-11 18:49] dlonie commented on #1134
It's hard to say. Are there any references to GLX in the Xorg log (usually at `/var/log/Xorg.0.log`)? That should log glx loading.

[2015-03-11 18:58] chaosphere2112 opened #1141 "Cannot animate Isofill"
When you try to animate an isofill, you receive this error:

[code]

Test case:

[code]

[2015-03-11 19:09] doutriaux1 commented on #1134
@durack1 we know tony rebuilt oceanonly a few times so that's probably the issue there. Can you try to rebuild at gfdl and see what happens please? They might have tweaked a few things there as well.

[2015-03-11 19:11] durack1 commented on #1134
@doutriaux1 I will test at GFDL, however am currently locked out.. So am awaiting a password reset.. As an aside, it still concerns me that the errors are pointing to files that will most likely never be there, as the build directories will be cleaned up before a user starts a UV-CDAT session..

[2015-03-11 19:13] dlonie commented on #1134
Again, it's not actually trying to access those files. The messages are just static strings compiled into the program at build time to provide a hint to developers as to where the errors are coming from.

[2015-03-11 19:15] doutriaux1 commented on #1134
@durack1 as @dlonie explained these are just the error message to hep you debug. They point to where the sources used to compile where. Now if they're gone it doesn't matter for runtime.

[2015-03-11 19:16] durack1 commented on #1134
@dlonie @doutriaux1 apologies my mistake.. Will report once I have access..

[2015-03-12 01:11] doutriaux1 opened #1143 "lines drawn behind data"
@dlonie @aashish24

can you please take a look at my branch:
https://github.com/doutriaux1/uvcdat/tree/issue_587_projected_ticks

it works fine in most case but for polar projections somehow the data gets drawn on top of the tick marks not matter what. Any idea on how to force VTK to respect priority/layer ordering?

@chaosphere2112 you're welcome to take a look as well :wink:

Here's the code:

[

[2015-03-12 12:04] aashish24 commented on #1134
@durack1 does this mache uses X?

[2015-03-12 14:15] doutriaux1 commented on #1143
@aashish24 @dlonie any progress on this?

[2015-03-12 14:18] dlonie commented on #1143
On another project at the moment, I'll take a look when I switch back to UV-CDAT.

[2015-03-12 14:32] doutriaux1 commented on #1143
ok,  Iremember you did some magic a while back for the continents that had the same issue, do you remember about which function it was calling? thanks

[2015-03-12 15:05] dlonie commented on #1143
Not offhand, but these commits look like they may be related:

aa05421c67ec9510aecfc5080846fc9966d17f21
90a2ff3b920fa8648d52fc3c9c645de0d8995160

IIRC, the issue you're referring to was caused by having multiple renders at Layer = 0, which causes them to be rendered with opaque backgrounds and cover each other up.

[2015-03-12 15:13] aashish24 commented on #1132
@potter2 wasn't this specific to a particular projection?

[2015-03-12 15:15] aashish24 commented on #1093
Moving this to 2.3 for now as we have the workaround for 2.2

[2015-03-12 15:16] chaosphere2112 commented on #1093
:+1:

[2015-03-12 15:19] potter2 commented on #1132
This happen in a latitude-level plot. I posted an example

Jerry

Sent from my iPhone

On Mar 12, 2015, at 8:13 AM, Aashish Chaudhary <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> wasn't this specific to a particular projection?

—
Reply to this email directly or view it on GitHub<https://github.com/UV-CDAT/uvcdat/issues/1132#issuecomment-

[2015-03-12 15:27] durack1 commented on #1134
@aashish24 I'm still locked out, but would be happy to provide some diagnostics when I'm back in - want to drop a couple of commands you'd like to see the output of here?

[2015-03-12 16:03] dlonie commented on #1143
I took a look at the branch and made a few comments. Try printing out the layers in setLayer to see if there are multiple renderers with layer 0 -- that's the most likely culprit.

[2015-03-12 16:49] dlonie commented on #1132
Can you post an example with instructions to reproduce? That will make this much, much easier to address.

Also, does the isoline (without labels) work as expected?

[2015-03-12 16:58] dlonie commented on #1143
If the lines are in the same layer/renderer as the data, try the approach in aa05421c67ec9510aecfc5080846fc9966d17f21 -- it may be a z-fighting issue.

[2015-03-12 17:04] dlonie commented on #541
@doutriaux1 How are these textures/patterns accessed in vcs?

[2015-03-12 17:05] dlonie commented on #541
@doutriaux1 e.g. are there png files that have the patterns, or a bitmask representation somewhere?

[2015-03-12 17:12] doutriaux1 commented on #541
@dlonie I used to generate patterns via cairo. If you get it to work with any png it would be ok. Best way would be to pass some vtk generated pattern.

[2015-03-12 17:13] doutriaux1 commented on #541
@dlonie this is post release though there are still issues to be solved for release

[2015-03-12 17:20] dlonie commented on #1143
BTW, is this supposed to be assigned to me? It sounds like @doutriaux1 is working on it.

[2015-03-12 17:37] doutriaux1 commented on #1143
Assign to you for the lines thing. Will look at it if you don't beat me to it. I'm off today though.

[2015-03-12 17:38] doutriaux1 commented on #1143
Did try the layer set them to very high number. Also it works for other projections like robinson. I think the z fighting thing is indeed the issue.

[2015-03-12 17:40] doutriaux1 commented on #1132
@dlonie you need data with levels look into sample data some file starting with ta_ then select one time and one longitude to end up with level and latitude only. That should do it

[2015-03-12 17:50] potter2 commented on #1132
Thanks Charles,
I'm not at my computer right now.

Jerry

Sent from my iPhone

On Mar 12, 2015, at 10:40 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@dlonie<https://github.com/dlonie> you need data with levels look into sample data some file starting with ta_ then select one time and one longitude to end up with level and latitude only. That should do

[2015-03-12 20:02] dlonie commented on #1143
The issue is that the renderer with the isofill data is being moved up to a higher layer, obscuring the tick marks. It's not the absolute highest layer, which is why the continents etc still appear above it.

Apply this patch to print the plot type and the renderer addresses + layers:

[code]

We see the renderer with the isofill data (`0x7f5ee2ebd590`) repeatedly changing layers (note that this i

[2015-03-12 20:16] dlonie commented on #1143
Looking again at the full output with that debugging output:

https://gist.github.com/dlonie/8c0a3404d9e70d8a59ac

it looks like several renderers get moved to higher layers in subsequent plot calls. Is this expected? Seems like it'd cause problems.

[2015-03-12 20:18] dlonie commented on #1143
I think it's renderer `0x7f5ee2e15a10` that contains the lines, and it ends up at layer 18, while the isofill data is at 21.

[2015-03-12 22:06] potter2 commented on #1132
As Charles said,
Select any 3D variable, select one longitude and all levels and all latitudes. Then plot with isolines. This seems to work, then select the pencil and select "draw labels” then apply - here you can see the problem.

here is a video of the steps:
https://www.dropbox.com/s/a0pnixb1qlzd5ab/labels_problem.mov?dl=0

Jerry

On Mar 12, 2015, at 9:49 AM, David Lonie <notifications@github.

[2015-03-13 01:26] cameronsmith1 commented on #897
The a_boxfill was available and worked as expected.

Can I suggest adding a note in the properties box for the 'default' boxfill that alerts the user to the fact that "the color scale cannot be changed for the default, but can be changed for the other boxfill types".     This will help cut down on other people asking the same question.

Best wishes,

     Philip

----------------------------------

[2015-03-13 01:37] cameronsmith1 commented on #1117
I just tested version 2015-3-5.  The a_boxfill was available and worked as expected.

Can I suggest adding a note in the properties box for the 'default' boxfill that alerts the user to the fact that "the color scale cannot be changed for the default, but can be changed for the other boxfill types".     This will help cut down on other people asking the same question.

[2015-03-13 12:34] dlonie commented on #1132
Excellent -- thanks! I'll have a look.

[2015-03-16 14:18] #897 closed

[2015-03-16 16:59] doutriaux1 commented on #1143
got it! Thanks @dlonie for pinting us in the right direction. We needed to create different renderers in case priorities were different overwise the last object added to the renderer was used for all actors in renderer. Will update the branch and create new baseline soon.

[2015-03-16 19:58] doutriaux1 commented on #1143
ok @dlonie I think the issue I was runnnig into was due the number of layers getting too big I had the setLAyer setting the VTK layer to:
n = self.numberOfPlotCalls + (priority-1)*10000 + 1
then in debug statements prio was bumped to 51! removing the debug statement seems to fix the issue

[2015-03-16 20:02] ThomasMaxwell opened #1146 "Slider issues with Hovmuller plot and vector slicer."
1.  Exception when using a X or Y slider in a Hovmuller plot on a variable that has only a single time.
2.  Vertical axis rescaling is not working properly for the vector slice plot.

[2015-03-16 20:25] chaosphere2112 opened #1148 "Changing size of background canvas makes ugly PNGs"
Ran into this issue while working on #1113; what happens is this:

[code]

and you get these outputs:

###orig.png
![orig](https://cloud.githubusercontent.com/assets/718512/6675244/64e88c56-cbdc-11e4-83d0-e4ddcf00fb62.png)
###resize.png
![resize](https://cloud.githubusercontent.com/assets/718512/6675245/64ed0312-cbdc-11e4-86ae-63d5f70e5f2d.png)

This looks to be an issue with VTK's handling of res

[2015-03-17 00:01] HarinarayanKrishnan opened #1149 "UVCDAT on Hopper"
I am trying to build and install the latest version of uvcdat on Hopper. Unfortunately, I am running into several issues. Which tag should I be using? (2.1.0 or uvcdat-2.1.0)?

I get a blank screen. (see attachment). Also, new VTK OpenGL windows keep popping up, but they are blank as well.
The ASD options in taylor diagram are gone. Only default remains, this crashes uvcdat when Michael tries to r

[2015-03-17 14:31] vvpalav opened #1150 "Colormap open saved color table"
@williams13 @doutriaux1 @potter2
I have opened this issue to implement new feature to import saved color table into colormap editor.
Can you please provide more information or expectations which might help me in this.

[2015-03-17 14:40] vvpalav commented on #937
@potter2 @williams13 can you please verify? I think this one also got fixed when I fixed #1104 . I tried couple of times but didn't get the mentioned error.

[2015-03-17 16:19] doutriaux1 commented on #1149
@HarinarayanKrishnan please use what is in master, or better wait a couple of days and use our pre-2.2 tag.
To see all the output/errors tr
[code]

also try removing your ${HOME}/.uvcdat
[code]

[2015-03-17 16:36] doutriaux1 commented on #1150
@vvpalav few pointers "colormap" objects (and all vcs objects) have a .script function.

I think what @williams13 and @potter2 really want is a button somewhere to read back in these user-saved scripts which can be loaded with:
[code]

[2015-03-17 16:44] doutriaux1 opened #1151 "Upgrade ESMP to ESMpy"

[2015-03-17 16:46] doutriaux1 opened #1152 "DV3D keyword error"
User get the following annoying warning when using DV3D:
[code]
@ThomasMaxwell this is easily preventable by adding the necessary keywords in:

https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs/Lib/VTKPlots.py#L50

[2015-03-17 17:15] remram44 commented on #844
Probable duplicate of #930

[2015-03-17 17:26] HarinarayanKrishnan commented on #1149
Tried both. Output below

Is there a flag to build against VTK with OSMesa? Or do I rebuild manually? Additional VTK windows pop up.

-----
['Adelon', 'Arabic', 'AvantGarde', 'Chinese', 'Clarendon', 'Courier', 'Greek', 'Hebrew', 'Helvetica', 'Maths1', 'Maths2', 'Maths3', 'Maths4', 'Russian', 'Times', 'default']
/usr/common/graphics/uvcdat/uvcdat-build/install/lib/python2.7/site-packages/vcs/utils.

[2015-03-17 18:03] doutriaux1 commented on #1149
@HarinarayanKrishnan to build against MESA use
[code]
but you obviously lose the GUI if you do so.

[2015-03-17 18:32] dlonie commented on #1143
I ran the script a few times with tracing enabled (`python -m trace -t (scriptname)`), and saved a log of a good run and a bad run. I also deleted all layers > 1 and skipped the continents, so we're just dealing with the single renderer at layer 1 with a single actor rendering the isofill data -- thus nothing is getting obscured, etc.

The only difference a good and bad run was:

[code]

Sure enou

[2015-03-17 18:39] chaosphere2112 commented on #1148
Filed bug on the [VTK bugtracker](http://vtk.org/Bug/view.php?id=15384) for this issue. @aashish24 @dlonie

[2015-03-17 18:48] doutriaux1 commented on #1143
yes you draw the lines accross the globe you need to follow the line with small deltas in order to get the min/max values that the projected data will actually occupy. Values go from degrees to meters hence the big numbers. What is worrisome is that it seems the numbers comming back from the projection change all the time. In the previous code (master) I used to call TransformPoints/GetBOunds for

[2015-03-17 18:58] dlonie commented on #1143
Agreed, the randomness is troubling. My bet is it's a numerical stability issue -- I'm not sure whether the code is intended to be used with inputs that have 20 orders of magnitude.

[2015-03-17 19:07] ThomasMaxwell commented on #1152
fixed in branch vcs3D-Fix_vcs_keyword_warning.

[2015-03-17 19:12] durack1 commented on #1151
@doutriaux1 I'm happy to provide a bunch of test cases for this.. And it's also likely relevant for #885

[2015-03-17 19:18] dlonie commented on #1132
I tried this using `ta` from `sample_data/ta_ncep_87-6-88-4.nc` in a 'quick' isoline plot with labels, and got the following:

![isolabels](https://cloud.githubusercontent.com/assets/58744/6695586/be22d588-ccb8-11e4-8a0e-1db37ecf1283.png)

Does this sample file work on your system?

[2015-03-17 19:20] aashish24 commented on #1148
Thanks. We will have a look at it. The test code is really useful.

- Aashish

[2015-03-17 19:24] potter2 commented on #1132
Have you tried the latitude-level plot?

Sent from my iPhone

On Mar 17, 2015, at 12:19 PM, David Lonie <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried this using ta from sample_data/ta_ncep_87-6-88-4.nc in a 'quick' isoline plot with labels, and got the following:

[isolabels]<https://cloud.githubusercontent.com/assets/58744/6695586/be22d588-ccb8-11e4-8a0e-1db37ecf1283

[2015-03-17 19:38] dlonie commented on #1132
Ah, I see, I was missing some of the config options when loading the variable. It looks like the labels are getting scaled along with the data. Let me see what I can come up with.

[2015-03-17 20:06] #1088 closed

[2015-03-17 20:12] remram44 commented on #937
Feel free to reopen if you run into this again.

[2015-03-17 20:12] #937 closed

[2015-03-17 20:47] vvpalav commented on #69
Looked into issue 2) I think this is how it should behave as keeping variables copies for different projects make sense as users can use this in calculator. if we want to make variables unique in global dictionary then we need to compromise on calculator function. just creating new variable with diff name is much simpler and can avoid ambiguities.

Please let me know if we need to work on this. I

[2015-03-17 20:47] #69 closed

[2015-03-17 20:49] doutriaux1 commented on #1143
I got it I had a left over
[code]
in the end the total number of points came out as: Npts*Npts+1 so the first point was probably whatever is in the memory when VTK created the first point.

[2015-03-17 20:56] vvpalav commented on #767
@doutriaux1 Can you please provide more information. also provide steps to recreate and whats the expectation.

[2015-03-17 23:09] doutriaux1 commented on #1132
@dlonie I think that's another issue actually, @potter2 had a good plot to start with, but then "clicked" edit and got the bad plot. Is that right @potter2?

[2015-03-17 23:12] doutriaux1 commented on #767
@vvpalav i will try to load it up and provide pngs to make it clearer give me a day or two though...

[2015-03-17 23:23] potter2 commented on #1132
Yes, when I “apply” the “label" contours is when the horizontal lines appear
On Mar 17, 2015, at 4:09 PM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@dlonie<https://github.com/dlonie> I think that's another issue actually, @potter2<https://github.com/potter2> had a good plot to start with, but then "clicked" edit and got the bad plot. Is that right @potte

[2015-03-17 23:27] potter2 commented on #1132
Here is a video of what I did:

https://www.dropbox.com/s/a0pnixb1qlzd5ab/labels_problem.mov?dl=0

On Mar 17, 2015, at 4:09 PM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@dlonie<https://github.com/dlonie> I think that's another issue actually, @potter2<https://github.com/potter2> had a good plot to start with, but then "clicked" edit and got the bad plot

[2015-03-17 23:48] vvpalav commented on #1092
This doesn't seems to be a GUI issue. Tried on ubuntu on virtual box. when we resize, vcs is recreating all plots as per new size. @remram44 is going to take a deep look. Please post any recent updates if this still exists.

[2015-03-17 23:56] vvpalav commented on #1150
@williams13 @doutriaux1 @remram44 .. I finished this one on 1150_open_saved_colormap branch. Added open button to select json file. can you please take a look and let me know if its good?

[2015-03-17 23:59] vvpalav commented on #1092
reassigning this to @aashish24 for tracking purpose as it doesn't seem to be a gui issue, but me and @remram44 will take a look as time permits. Please feel free to reassign to me if you find something wrong with GUI which is doing this.

[2015-03-18 00:01] vvpalav commented on #1117
@doutriaux1 I was talking with @remram44 and decided to work on this if its really necessary and hurting something badly. Currently needs to start some other urgent stuff in GUI. Please let me know the priority and we can plan accordingly.

[2015-03-18 00:04] vvpalav commented on #767
@doutriaux1 Sure .. Thanks :)

[2015-03-18 01:30] doutriaux1 commented on #1117
@vvpalav ye sit is absolutely not urgent, @cameronsmith1 is happy with the a_boxfill solution for 2.2

[2015-03-18 13:35] #1143 closed

[2015-03-18 14:57] vvpalav commented on #1117
changed the title to appropriate topic.

[2015-03-18 19:26] dlonie commented on #1132
UVCDAT/VTK@287b9443cf2622fcec69876f8aacb41b8bfb357b should fix this. The fix is in uvcdat-master now, so a fresh build should work as expected.

[2015-03-18 19:48] potter2 commented on #1132
Thanks,
I’ll build it and try it now

Jerry

On Mar 18, 2015, at 12:26 PM, David Lonie <notifications@github.com<mailto:notifications@github.com>> wrote:

UVCDAT/VTK@287b944<https://github.com/UVCDAT/VTK/commit/287b9443cf2622fcec69876f8aacb41b8bfb357b> should fix this. The fix is in uvcdat-master now, so a fresh build should work as expected.

—
Reply to this email directly or view it on GitHub<ht

[2015-03-18 22:06] doutriaux1 commented on #767
@vvpalav it seems to work now. I tried to select things in random order and it was responsive. So I guess we are good. Closing

[2015-03-18 22:06] #767 closed

[2015-03-18 22:56] vvpalav commented on #767
:+1:

[2015-03-19 07:27] durack1 commented on #1134
@dlonie @aashish24 there didn't appear any GLX references in the Xorg log:
[code]

What other diagnostics would be useful? The connection to this machine uses `ssh -Y`

[2015-03-19 12:28] dlonie commented on #1134
@durack1 Just making sure -- I see you looked at the last 30 lines, but did you look through the entire file? The xorg log gets cleared every time X starts, and the GLX bits would be towards the beginning of the file when the server is starting up.

[2015-03-19 13:05] #1141 closed

[2015-03-19 18:13] jypeter opened #1155 "A seemingly OK variable will completely break DV3D"
We have found a variable that will completely break DV3D: we get the following message and core dump
[code]
The variable can be downloaded with

    wget http://dods.ipsl.jussieu.fr/brocksce/tmp/temp.nc

The variable seems OK and vcs will not complain when plotting 2D slices of the variable. DV3D will work again if we create the axes of the variable from scratch, to create a new variable, so there

[2015-03-19 20:15] ThomasMaxwell commented on #1155
This is fixed in vcs3D_fix_incorrect_axis_identification (Pull request #1156<https://github.com/UV-CDAT/uvcdat/pull/1156>).   Here’s a plot of the "seemingly OK variable" (it appears to be ocean data with depth in meters for the z axis):

[cid:902764D9-92A0-4616-B8F6-3CEDA27C2ED3]
From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@re

[2015-03-19 22:17] jypeter commented on #1155
Thanks Tom! That was fast :)

[2015-03-19 22:25] jypeter commented on #953
@ThomasMaxwell Do you think you can do something about this? It was a bit annoying, when making my tests to report #1155 to have to restart python each time I quit the interact mode in a dv3d canvas

[2015-03-20 17:54] ThomasMaxwell commented on #953
I have implemented a fix for this in branch vcs3D-return_to_shell_on_q_keypress_event (PR #1157).    After the ‘q’ key is pressed control returns to python and one can generate another plot ( staring with ‘vcs.init()’ ).

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Th

[2015-03-23 13:27] jypeter commented on #953
Thanks!

[2015-03-23 17:13] vvpalav commented on #1150
@aashish24 @chaosphere2112 @doutriaux1 .. can you please review this?

[2015-03-23 18:39] doutriaux1 commented on #1150
@vvpalav will do. You don't want to generate a PR yet?

[2015-03-23 18:46] remram44 commented on #1150
It's UV-CDAT/VisTrails#25

[2015-03-23 21:55] #1150 closed

[2015-03-23 22:32] doutriaux1 opened #1158 "automagic time axes seem to not work anymore"
if an axis is time and the graphic method did not specify tickmarks, vcs used to display nice time labels by default this seems to be gone
![crap](https://cloud.githubusercontent.com/assets/2781425/6792096/ed9ee488-d171-11e4-91eb-dc66aec1ec2d.png)

[2015-03-24 20:54] remram44 commented on #966
Still running into this (building 2.2.0 rc 46ffdce0).

[2015-03-24 21:11] doutriaux1 commented on #966
@remram44 still on 10.8? do you know if the patch you were refering to earlier is in our version of scipy? Should we update the scipy version to some other tag?

[2015-03-24 21:15] remram44 commented on #966
I'm using OSX 10.10. I'm not sure about the scipy release cycles, but this will probably be scipy 0.16.0...

[2015-03-24 21:25] doutriaux1 commented on #966
@remram44 I hate to ask you this, but could you download a tar file from scipy master, stick in "build" edit CMake/scipy_pkg.cmake to update the md5 (or take it out) and run build again to see if it fixes your issue. Thanks

[2015-03-25 00:15] doutriaux1 opened #1160 "isolines labels are different between mac and linux"
@dlonie @aashish24
Labels are not at the same location between the two OS
baseline comes out completely different between mac 10.8 and ubuntu

see:
https://open.cdash.org/testDetails.php?test=321953990&build=3742819

[2015-03-25 00:23] doutriaux1 commented on #1160
@williams13 on mac I do get the aeqd vector test errors. I just turned them off for now since the diff is just a line that is not drawn on Linux and the vectors are not drawn at all when projecting anyway

[2015-03-25 00:36] doutriaux1 commented on #1160
@dlonie @aashish24 my bad I had forgotten t update the baseline on my mac... it's all good!

[2015-03-25 00:36] #1160 closed

[2015-03-25 00:58] doutriaux1 commented on #966
@remram44 on my mac 10.8 this is what I get:
[code]
and
[code]
and
[code]
and
[code]
what do you have?

[2015-03-25 02:47] remram44 commented on #966
[code]
[code]
[code]
[code]

[2015-03-25 03:08] remram44 commented on #966
Not directly related: are we missing a dep from scipy on Cython?

[2015-03-25 04:06] remram44 commented on #966
It would seem that removing `/opt/local` (macports) from PATH fixes this as well (but then I need to find e.g. gfortran from somewhere else).

| /opt/local in PATH | spicy  | results           |
| ------------------ | ------ | ----------------- |
| no                 | master |	success           |
| no                 | 15.1   | success           |
| yes                | 15.1   | fail (accelerate)

[2015-03-25 16:29] doutriaux1 commented on #966
@remram44 yes we know and I think it is documented somewhere that all these parallele distribution (homebrew, macport, fink, etc...) do mess up our build because they have their own duplicate libraries. "eventually" (whenever we get time) cmake will be able to pick up and use all external dependencies on the system, that should solve this. Ok so for now I suggest we we update scipy to what's in ma

[2015-03-25 16:46] remram44 commented on #966
Ok note that if building from a Git checkout, you will need Cython

[2015-03-25 17:03] doutriaux1 commented on #966
thanks @remram44 I will update the dependencies as well then.

[2015-03-25 17:21] aashish24 commented on #1149
@HarinarayanKrishnan CDAT_BUILD_OFFSCREEN won't be useful to you. The problem we had earlier was realted to the fact the render window was linked with Qt rendering system. This issue should be fixed in the current master.

[2015-03-25 17:24] aashish24 opened #1162 "Make VCS 2D chart use VTK 2D charts"

[2015-03-25 17:30] #1155 closed

[2015-03-25 17:30] #1152 closed

[2015-03-25 17:31] aashish24 commented on #1134
@durack1 can you share the content of entire file with us?

[2015-03-25 17:31] #1146 closed

[2015-03-25 17:33] #728 closed

[2015-03-25 17:33] chaosphere2112 opened #1163 "Control + Click doesn't work in GUI"
I'm using Control + Click (checking using `vtkRenderWindowInteractor.GetControlKey()`) in the VCS 2D Interaction stuff to drop new markers / text boxes, and it appears that `GetControlKey` is never returning True/1 when used in the gui.

[2015-03-25 17:34] #556 closed

[2015-03-25 17:56] doutriaux1 commented on #653
when fixing this we should turn back on vector tests for projections

[2015-03-25 18:28] chaosphere2112 commented on #1163
Looks like this is because for Qt on Mac, control is the "command" button, not the control button. I'm going to add some logic to cover that case a bit better.

[2015-03-25 18:47] chaosphere2112 commented on #1163
Left click + control on mac maps to a right click in Qt. Sigh. Ok, just going to add OS specific code in the VCS stuff to mention "Command" if sys.platform == "darwin".

[2015-03-25 19:44] #1124 closed

[2015-03-25 20:52] hgohil2805 opened #1166 "Removing VTK and checking if everything works correctly"
Considering that VTK is not being used currently we will be removing VTK and check if everything works correctly.
This will also help decrease the amount of time it takes to load uvcdat at the beginning.

[2015-03-25 21:24] aashish24 commented on #1166
:1

[2015-03-25 21:24] aashish24 commented on #1166
+1

[2015-03-25 22:39] #966 closed

[2015-03-25 23:51] doutriaux1 opened #1170 "isofill masked does not align with isofill cells"
@painter1 noticed that missing values for isofill are now a bit off in the masking as shown by the white cells in the pix bellow
![newguiset4t](https://cloud.githubusercontent.com/assets/2781425/6837880/2d7bb998-d30f-11e4-961b-235707529458.png)

[2015-03-26 02:56] aashish24 commented on #913
critical from the release point of view will not be that useful. I would suggest we only have
bug/enh binary mode if anything. From the user point of view a clear one line what actually got fixed that affects the end-user is important. So let's say we fixed a contour masking related bug instead of saying:

* Fixed masking bug related to contour

is not that useful. But

* Fixed a masking bug for '

[2015-03-26 03:22] doutriaux1 commented on #913
Agreed and guilty

[2015-03-26 18:17] #1170 closed

[2015-03-26 23:54] durack1 commented on #1134
@dlonie @aashish24 apologies for holding things up here, take a peek at:

https://gist.github.com/durack1/076e7294f7d7201ff7c0

[2015-03-27 13:00] #1158 closed

[2015-03-27 21:16] mcenerney1 opened #1180 "Taylor diagrams (plot set 14)"
From AMWG diagnostics in the gui I get the following error

Traceback (most recent call last):
  File "/usr/local/uvcdat/03_25_15/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 660, in buttonClicked
    self.applyClicked()
  File "/usr/local/uvcdat/03_25_15/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 777, in applyClicked
    self.displayCell(res30, row, col)
  Fi

[2015-03-27 21:16] aashish24 commented on #1180
what version of UV-CDAT you are using?

[2015-03-27 21:17] mcenerney1 commented on #1180
The latest; built on 3/25

[2015-03-27 21:19] aashish24 commented on #1180
just from a default check point of view, can you review your .uvcdat folder? It should be in your home directory.

- Aashish

[2015-03-27 21:24] mcenerney1 commented on #1180
What would I be looking for?

[2015-03-27 21:28] aashish24 commented on #1180
sorry remove (and not review)

remove .uvcdat folder

[2015-03-27 21:38] mcenerney1 commented on #1180
No change

[2015-03-28 13:14] aashish24 commented on #1180
It is a bug then. I have added the labels. We will try to fix it asap.

[2015-03-28 13:14] aashish24 commented on #1180
@painter1 @isubsmith  any ideas?

[2015-03-29 05:37] doutriaux1 commented on #1180
Probably expects "taylor" lower case but it's just a wild guess

[2015-03-29 05:38] doutriaux1 commented on #1180
Also this does not belong here this is uvcmetrics code in visyrails code.... please report where appropriate...

[2015-03-30 12:43] isubsmith commented on #1180
No idea, but I think Charles' guess is likely along the right path.

I suspect V['Taylor'] in this context doesn't exist. Someone probably needs to find out what types exist for a projectController.plot_manager._plot_list["VCS"] and adjust accordingly.

         pm = projectController.plot_manager
         V=pm._plot_list["VCS"]
         gm = res30.presentation
         from packages.uvcdat_cdms.i

[2015-03-30 17:33] doutriaux1 commented on #1180
very close from having a solution

[2015-03-30 20:01] remram44 opened #1181 "PlotProperties getting QPromptCellWidget instead of cell widget"
From UV-CDAT/VisTrails#30

It seems that `PlotProperties` is updated from `ProjectController#update_workflow()` just after `execute_plot()` and this is not safe. The `PlotProperties` gets the `QPromptCellWidget` instead of the new cell widget.

A workaround can be added for 2.2 but this should definitely be fixed later.

[2015-03-30 21:51] doutriaux1 commented on #1181
@remram44 actually the work around doesn't really work when I apply it (https://github.com/UV-CDAT/VisTrails/pull/30) it does not break anymore, but doesn't seem to produce any plot any longer. @vvpalav or @hgohil2805 can you take a look please?

[2015-03-30 22:21] hgohil2805 commented on #1181
@remram44 This is caused by the cell not being deleted correctly and because of the changes  that we made last week of setting it to none in the delete later method. I had encountered similar exception with the changes that I had shown you before and I had used a catch all which worked fine (not sure if you remember the changes).

Until we find the the object which is keeping the reference to the

[2015-03-30 23:21] doutriaux1 commented on #1181
@hgohil2805 not sure the catch all is actually working in this case, it does prevent it form failing, but nothing gets drawn in the spreadsheet. Now that might be something else that prevents the plot from appearing I'm not positive.

[2015-03-31 03:08] remram44 commented on #1181
@hgohil2805 I have no idea what you're talking about and disagree on all points.

[2015-03-31 03:54] remram44 commented on #1181
@doutriaux1 I don't run into the issue, with either workaround or none at all. What system are you using?

The patch in UV-CDAT/VisTrails#30 should prevent the traceback you gave from happening; it might interfere with the the PlotProperties, but really can't prevent plotting.

[2015-03-31 16:09] durack1 commented on #913
@chaosphere2112 is there an option currently in place to acknowledge current unresolved issues - I'm thinking of #1125 and #1151 particularly here as these are highly relevant to users (at least me!), in my head it would be useful to link known issues set for fixing in 2.3

[2015-03-31 16:16] chaosphere2112 commented on #913
Not currently… I could attach a link at the bottom to “Upcoming Development” that links to all open issues for 2.3. Or maybe we can reassign important issues to 2.2.1 or something like that? I might be able to get a list of all issues that have been moved from 2.2 to 2.3 and are still open. Will have to poke at the API a bit.

[2015-03-31 16:20] durack1 commented on #913
What I was thinking was similar to what Firefox owns up to: https://www.mozilla.org/en-US/firefox/36.0.4/releasenotes/ - so the #1125 and #1151 are issues that 2.2 will still likely include, but they are planned to be resolved quickly..

[2015-03-31 16:21] chaosphere2112 commented on #913
Yeah, we can do something like that, but probably not automatically; it’ll have to be manually curated.

[2015-03-31 16:25] durack1 commented on #913
@chaosphere2112 maybe then only issues with "critical" or "high" labels - @doutriaux1 would you consider #1125 and #1151 worthy of these labels?

If a high priority label can then be assigned, I'd imagine it would be possible to automate their generation?

[2015-03-31 16:26] chaosphere2112 commented on #913
Yup, that’d work fine by me.

[2015-03-31 16:36] durack1 commented on #1134
@dlonie @aashish24 is anything clearly evident in the log? It seems this issue has now been replicated on two independent systems..

[2015-03-31 17:06] chaosphere2112 opened #1183 "Build issues on 10.10"
Hey @aashish24, I'm having some issues building on 10.10 (with 10.9 SDKs installed as well as 10.10)

I'm trying to do a clean build, but when it gets to `enable_language(Fortran)` (line 244 of CMakeLists.txt), it fails and dumps out this error message:

[code]

I did a `message` that printed out CMAKE_OSX_SYSROOT prior to the call to `enable_language`, and it's pointing at my 10.9 SDK. I'm not su

[2015-03-31 17:11] aashish24 commented on #1183
Are you sure its coming from there and not coming from this line:

include(${CMAKE_ROOT}/Modules/CMakeDetermineFortranCompiler.cmake)

[2015-03-31 17:14] chaosphere2112 commented on #1183
[code]

using this:
[code]

[2015-03-31 17:16] chaosphere2112 commented on #1183
From CMakeOutput.log:

[code]

[2015-03-31 17:36] doutriaux1 commented on #1181
It's very hard to reproduce. Has to come from diagnostics and taor diagrmasn. Ask @mcenerney1 or @painter1 for steps and location of data. Because I can't reproduce with uvcmetrics test data. I need @mcenerney1 special data.

[2015-03-31 18:31] doutriaux1 commented on #1183
@chaosphere1221 what is you gfortran?
Might need to update to a 10.10 ready one.
Also once it failed once it might get cached so always rm your build directory b4 trying something new.

[2015-03-31 18:39] aashish24 commented on #1183
@chaosphere2112 can you run

and post the result here?

[2015-03-31 18:46] chaosphere2112 commented on #1183
@doutriaux1 I'm already nuking the build dir between runs
[code]

@aashish24

Here's the (rather large) trace (I truncated to the last bit before it leaves our CMakeLists.txt and fails)

[code]

[2015-03-31 18:50] aashish24 commented on #1183
thanks. It is coming from enable_language. I am wondering what version of CMake you are using?

[2015-03-31 18:51] chaosphere2112 commented on #1183
[code]

[2015-03-31 18:53] aashish24 commented on #1183
I suspectd it has something to do with the cmake settigns (like architecture before the call to enable_language). I will have a look today.

[2015-03-31 18:53] chaosphere2112 commented on #1183
Sounds good!

[2015-03-31 21:32] mcenerney1 commented on #1181
I really need help on this one and I'll help out in any way possible. On aims1 in my area (mcenerney1) there are two files cam35_data.tar (model data) and taylor_obs_data.tar (observation data).  You'll need to download them to reproduce the issue.  Documentation on running the AMWG diagnostics from the  gui can be found at http://uvcdat-dev.llnl.gov/documentation/diagnostics/diagnostics.html
To r

[2015-04-01 12:41] dlonie commented on #1134
I'm not terribly familiar with xorg's inner workings, but this would seem to be a configuration issue in computer's xorg server. Certain bits needed for rendering appear to be disabled or not installed.

@aashish24 Do you have any ideas?

[2015-04-01 14:45] doutriaux1 commented on #1181
@mcenerney1 they need instructions for gui I fixed command line already. @painter1 merged it.
But gui needs my uvcdat pretty merged in and them your instructions so they can see the failure.

[2015-04-01 14:50] doutriaux1 commented on #1181
Again we don't know if the failure prevents plot or if something else in diagnosticsWidgets.py prevents it once we are pas the failure

[2015-04-01 15:11] mcenerney1 commented on #1181
To see the failure do the following. Assuming the data directories are in cam35_data and taylor_obs_data, bring up uvcdat. Under Diagnostics select AMWG. A new window comes up. Under Use Dataset 1, click Set Path and choose the cam35_data directory. Next select Use Observations 1. Set Path to taylor_obs_data. Make sure NCEP apears in the adjoining window.  If not, select it in the menu.  In the up

[2015-04-01 20:15] vvpalav commented on #1166
Removed VTK from startup.xml and uvcdat_cdms did not load due to following error.

Package 'UVCDAT CDMS' failed to initialize because of the following exceptions: Traceback (most recent call last): File "/vistrails/vistrails/core/modules/module_registry.py", line 1454, in initialize_package self.auto_add_module(module) File "vistrails/vistrails/core/modules/module_registry.py", line 958, in auto_a

[2015-04-01 20:50] mcenerney1 commented on #1181
Any progress on this issue? Are the instructions clear?

[2015-04-01 21:06] durack1 commented on #1134
@dlonie @aashish24 I've just rebuilt UV-CDAT assuming that the issue was caused by some library being updated underneath the existing UV-CDAT installation.. Well it appears that assumption is wrong, I've just rebuilt and get the same error:

[code]

So my assumption is this is a real issue somewhere in the VTK build.. What else do you folks need from me to diagnose what this issue is and figure ou

[2015-04-01 21:34] hgohil2805 commented on #1181
I'll try and reproduce the error right now. Will let you know if I find any solution or have any issues reproducing it.

[2015-04-01 21:36] mcenerney1 commented on #1181
Thanks!

[2015-04-01 21:58] aashish24 commented on #1134
@durack1 what platform / OS / you are using?

[2015-04-01 22:02] durack1 commented on #1134
@aashish24 it's redhat 6.6:
[code]

[2015-04-01 22:13] aashish24 commented on #1183
@chaosphere2112 can you send me your CMakeCache.txt file as well?

[2015-04-01 22:17] aashish24 commented on #1134
thanks. and what graphics card it has. Its not VM is it? Is it connected to a display?

[2015-04-01 22:17] aashish24 commented on #1183
Also, what version of Xcode you have installed?

[2015-04-01 22:18] hgohil2805 commented on #1181
can you give us the download link for the data files?. I found this but I am not sure if this is the correct link
http://www.cgd.ucar.edu/cms/rneale/tools/amwg_mean_diagnostics.html

[2015-04-01 22:18] aashish24 commented on #1183
Also, what version of xcode you have installed?

[2015-04-01 22:19] chaosphere2112 commented on #1183
Sure, here you go...

https://gist.github.com/chaosphere2112/8a60c766f5747bc69866

I'm using XCode 6.2

[2015-04-01 22:21] mcenerney1 commented on #1181
I have 2 tar files, cam35_data and taylor_obs_data, in mcenerney1 on aims1.llnl.gov
Do you have an account?

[2015-04-01 22:22] painter1 commented on #1181
If you have no account on aims1, what about rhea.ccs.ornl.gov or any other ORNL machine with Lustre mounted?

[2015-04-01 22:22] durack1 commented on #1134
It's an active ssh connection (I've enabled X11 forwarding using the -X option)

[2015-04-01 22:23] aashish24 commented on #1183
Okay I think I know whats going on. Can you try this branch? fix_macosx_sdk_version_determination

It should be pushed in few minutes.

[2015-04-01 22:24] hgohil2805 commented on #1181
Nope, I don't have an account on any of them.

[2015-04-01 22:24] painter1 commented on #1181
NERSC, Argonne, any place other than NYU?

[2015-04-01 22:31] hgohil2805 commented on #1181
No.
You guys are going to have to upload them someplace .

[2015-04-01 22:31] mcenerney1 commented on #1181
Can you get me an account at NYU?

[2015-04-01 22:32] painter1 commented on #1181
Jim, I think you can upload to ftp.llnl.gov and Hardick can download from there.

[2015-04-01 22:39] hgohil2805 commented on #1181
Nah, I don't think I can get you an NYU account :(

[2015-04-02 01:33] vvpalav commented on #1166
@chaosphere2112 @aashish24 @doutriaux1 .. Hey I need your help on this issue.
We are trying to remove VTK so that loading of UV-CDAT GUI becomes faster.
As you guys worked on couple of issues related to GUI and VTK, can you please help me to know if VTK is currently used anywhere. Also how hard will it be to remove VTK or removing it doesn't make any sense. I have posted one issue I got above when

[2015-04-02 03:38] doutriaux1 commented on #1166
I'm not sure if I can help. All I know is that when vistrails was coupled with uvcdat. Vcs  was not using vtk. So as far as vistrails and uvcdat working together goes there is no dependency on vtk. Since 2.1 vcs is now using vtk but only as a backend non of the vcs calls changed. The only place where I could see a dependency between vcs and vistrails nowadays is with the 3d bits. dv3d is now part

[2015-04-02 04:14] aashish24 commented on #1183
@chaosphere2112 can you send me the out.log. Run cmake from build tree like this.

 cmake --debug-output --trace .  &> out.log

[2015-04-02 04:15] aashish24 commented on #1166
@vvpalav we shouldn't use VTK via Vistrails in this case. I think it should be safe to remove it.

[2015-04-02 12:01] jypeter opened #1187 "What should happen when you close a dv3d canvas?"
I don't know if the following behavior is **a bug or a feature**, but closing a dv3d canvas works 'strangely'!

If I create a dvd3 canvas and work with it after using *x.interact()* and then try to close the canvas by clicking on the 'X' at the top right of the canvas (in my xfce window manager), I go back to the python interpreter, but **the canvas stays open**.

I have mixed feelings about that

[2015-04-02 14:43] chaosphere2112 commented on #1183
@aashish24 I forgot to bring my personal laptop in today, so it'll have to wait till ~4 PDT

[2015-04-02 14:51] jypeter opened #1188 "Some standard vcs methods don't work (as expected) on a dv3d canvas"
Note that everything I report is based on the stock 2.1.0 UV-CDAT, so some things may have already been corrected

**x** below is a dv3d canvas

Can you save images from an dv3d canvas the way you do it with a regular vcs canvas?
* **x.png('test')** produces a black image. But maybe it's due to a problem with GL or my window manager
* **x.pdf('test')** produces an image that's very incomplete, com

[2015-04-02 14:53] mcenerney1 commented on #1181
Jeff found a way to get you the files (Thanks!). We have a ftp site, here's how to get the files
ftp ftp.llnl.gov
username = anonymous
password = your email
Once you're login
cd outgoing/mcenerney1
There are 2 files: cam35_data.tar and taylor_obs_data.tar
get cam35_data.tar
and the same of taylor_obs_data.tar

[2015-04-02 15:08] ThomasMaxwell commented on #1166
I’m not clear on whether you are referring to the VTK library, which is a requirement of vcs and UVCDAT, or the VTK package in vistrails, which provides an interface to the VTK library in vistrails, and AFAIK is not used by UVCDAT.

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Da

[2015-04-02 15:41] chaosphere2112 commented on #1187
@jypeter As far as the `y.interact()` giving you access to `x`, that's expected behavior. There's no way to discriminate between multiple canvases at this time.

[2015-04-02 15:43] chaosphere2112 commented on #1188
@jypeter I had noticed that x.clear() doesn't work currently. There's a specific exception that skips over the 3D plots in the clear function right now; @ThomasMaxwell is there a good way to destroy a DV3D app short of exiting the program? I didn't see anything in my cursory glance around.

[2015-04-02 16:01] jypeter opened #1189 "Should we change the behavior of DV3D Z slider?"
I have played a bit with the Z slider and I think it could be improved

Please check the following video

  https://files.lsce.ipsl.fr/public.php?service=files&t=27649f45a010117d6a2f0baf93fa8fbb

where I played with the following example from the gallery

  http://uvcdat.llnl.gov/display.php?file=vcs3D_uwnd_slice

I have not shown in the video that I can play without any problem with the latitude

[2015-04-02 16:09] ThomasMaxwell commented on #1189
This must be referring to an older version.  The z slider behaves somewhat differently in the current version.   The slider coordinates are now unitless (0.0, 1.0) and the actual level value is displayed in the cell.

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursd

[2015-04-02 16:37] ThomasMaxwell commented on #1188
UVCDAT used to build cleanly on our viz cluster.   After doing a pull from the master branch yesterday I’m now getting the following SciPy build error.   Has SciPy been changed?

[ 70%] Performing configure step for 'SCIPY'

CMake Error at /usr/local/uvcdat-test/build/SCIPY-prefix/src/SCIPY-stamp/SCIPY-configure.cmake:56 (message):

  CTEST_FULL_OUTPUT

   Command failed: 1

   '/usr/local/scratch

[2015-04-02 16:40] chaosphere2112 commented on #1188
... not that I know of. Paging @aashish24

[2015-04-02 16:46] ThomasMaxwell commented on #1188
The DV3DPlot.quit() method destroys the plot but I think it does not currently close the window.

From: Sam Fries <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, April 2, 2015 at 11:43 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Maxwell, Thomas P

[2015-04-02 17:35] doutriaux1 commented on #1166
The vtk package in vistrails

[2015-04-03 00:38] potter2 opened #1191 "Box Fill edit error"
When I make a boxfill plot in any version 2.1 or 2.2 then try to modify the intervals the screen goes blank.

Here is a video of the way I generated the error using the standard clt.nc file. Has anybody else ever done this?

https://www.dropbox.com/s/8svme0kcbd3sd03/box_fill_edit_error.mov?dl=0

[2015-04-03 06:04] doutriaux1 commented on #1188
Yes Rémi couldn't build on his mac without it.

[2015-04-03 14:14] chaosphere2112 commented on #1188
@doutriaux1 ... Are you on the right issue here?

[2015-04-03 15:18] chaosphere2112 commented on #1183
@aashish24 Sorry about the delay, was crazy-busy last night. Here's the log: https://gist.github.com/chaosphere2112/0c43d22519e67b54764c#file-gistfile1-txt

[2015-04-03 17:16] aashish24 commented on #1183
No problem. this was helpful. So I think what happening is that you have both 10.9 and 10.10 SDK. Having both available at the same time is confusing CMake. Partially because which SDK get's picked up by underlying tools could be more complicated. Can you try one experiment. Can you remove / move the 10.9 SDK and try my branch again?

[2015-04-03 17:26] durack1 commented on #1134
@aashish24 @dlonie I'd note that the issue is with builds tagged 2.1.0 release - are there any updates in the UV-CDAT master that would fix this issue? Or VTK updates which have been implemented in preparation of 2.2.0 tagging?

[2015-04-03 17:39] chaosphere2112 commented on #1183
Sure thing. Just installed the 10.10 command line tools as well.

[2015-04-03 17:41] remram44 commented on #966
(PR: #1165)

[2015-04-03 17:44] chaosphere2112 commented on #1183
Getting the same error, but with 10.10. Want me to regenerate that trace log?

[2015-04-03 17:45] aashish24 commented on #1134
Hi @durack1 this is not really a uvcdat/vtk issue but rather a system / opengl issue. This has something to do with the SSH forwarding. Did you try running glxgears on the same setup? Does that work?

[2015-04-03 17:46] chaosphere2112 commented on #1183
https://gist.github.com/chaosphere2112/26b14eef636a4ff05a74#file-gistfile1-txt

[2015-04-03 17:46] aashish24 commented on #1183
yes, please.

[2015-04-03 17:46] aashish24 commented on #1183
thanks

[2015-04-03 17:46] chaosphere2112 commented on #1183
:+1:

[2015-04-03 18:16] durack1 commented on #1134
@aashish24 nope, glxgears doesn't work on either of the redhat 6.6 machines that I've hit this problem on.. I've just issued a reboot for the machine I have privileges on and will re-test again once it's back up.. I seem to recall that some GL updates have come down the redhat update pipeline in the last month or so..

[2015-04-03 18:53] ThomasMaxwell opened #1192 "SciPy fails to build on CentOS 6.6"
Get the following error building UVCDAT on CentOS release 6.6:

CMake Error at /usr/local/uvcdat-test/build/SCIPY-prefix/src/SCIPY-stamp/SCIPY-configure.cmake:56 (message):
  CTEST_FULL_OUTPUT

   Command failed: 1
   '/usr/local/scratch/tpmaxwel/cmake/bin/cmake' '-DCONFIG_TYPE=.' '-DCDAT_USE_SYSTEM_LAPACK:STRING=OFF' '-DLAPACK_LIBRARIES:STRING=/usr/lib64/liblapack.so' '/usr/lib64/libblas.so' '-DB

[2015-04-03 19:24] ThomasMaxwell commented on #1192
After hitting this error, I sourced the setup_runtime script and then executed:

It then built without error.

[2015-04-03 21:06] chaosphere2112 commented on #913
@durack1 @aashish24 @doutriaux1 @jypeter

http://uvcdat-dev.llnl.gov/changelog.html

I've just updated the dev site's changelog, using a new-and-improved script for yanking stuff out of GitHub's API to sort out what goes where. Any uncategorized Pull Requests are currently not included, and I haven't yet reimplemented the "credit" part of the previous iteration of the changelog. Also, there are cu

[2015-04-03 21:16] ThomasMaxwell commented on #1183
I’m now getting a different build issue on 10.10:

[ 43%] Performing change_plist_name step for 'Python'

Traceback (most recent call last):

  File "/Developer/Projects/EclipseWorkspace/uvcdat/master/source/CMake/fixName.py", line 8, in <module>

    f=open(fnm)

IOError: [Errno 2] No such file or directory: '/Developer/Projects/EclipseWorkspace/uvcdat/master/build/install/Library/Frameworks/Pyth

[2015-04-03 21:30] aashish24 commented on #1183
May be a file permission issue? Havenot seen this one before.

[2015-04-03 21:38] ThomasMaxwell commented on #1183
I don’t know what’s happening here, but the following kludge seemed to fix the problem:

From: Aashish Chaudhary <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, April 3, 2015 at 5:30 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Maxwell, Thomas P. (G

[2015-04-04 00:05] durack1 opened #1193 "Update scipy to 0.16"
As noted in #966 the then scipy repo master was obtained to resolve the build issue. Scipy 0.16 is very close to being released (https://github.com/scipy/scipy/milestones - was due 30th March 2015) so it would be good to get back to a specific scipy version when it's available

[2015-04-05 23:14] aashish24 commented on #913
hi @chaosphere2112 thanks. Can we clean up this? Would it be possible to make it editable somehow?

[2015-04-06 12:59] chaosphere2112 commented on #913
It generates markdown which I stuck on the website. If we want to host this on the wiki, that would work too. The repo is UV-CDAT/changelogger, though I can get a copy of this in the wiki for you to mess with. We're off at Livermore today ("Spring Holiday"), by the way.

[2015-04-06 22:01] ThomasMaxwell commented on #1183
The two 10.10 build issues that I reported on Friday were caused by confusion between the 10.9 and 10.10 SDKs.     I removed the  10.9 SDK and did a clean configure/rebuild and those errors went away but now I’m getting a host of errors in the FFMPEG build.  I’s wondering if I have the wrong command line tools installed.   My gcc is:

gcc (GCC) 4.9.2 20141029 (prerelease)

I don’t see any way to u

[2015-04-07 00:11] aashish24 commented on #1193
:100:

[2015-04-07 00:12] aashish24 commented on #1183
@ThomasMaxwell can you post those FFMPEG errors?

[2015-04-07 00:26] aashish24 commented on #913
Okay, I can push a branch on the changelogger then.

- Aashish

[2015-04-07 12:42] jbeezley commented on #1183
You can generally install command line tools with `xcode-select --install`.  To update, I think you need to use the app store.

I think the issue you have is that you are using an alternative install of gcc (from macports?).  If you are using macports, I would highly recommend dumping it in favor of [homebrew](http://brew.sh/).  From there you can `brew install gcc cmake` (for gfortran and cmake)

[2015-04-07 14:08] ThomasMaxwell commented on #1183
Here’s the FFMPEG errors I encountered when building under OS X 10.10:

[ 30%] Performing install step for 'FFMPEG'

CMake Error at /Developer/Projects/EclipseWorkspace/uvcdat/master/build/FFMPEG-prefix/src/FFMPEG-stamp/FFMPEG-install.cmake:56 (message):

  CTEST_FULL_OUTPUT

   Command failed: 2

   '/Applications/Xcode.app/Contents/Developer/usr/bin/make' 'install'

   From /Developer/Projects/E

[2015-04-07 14:24] ThomasMaxwell commented on #1183
I installed the command line tools using ‘xcode-select --install’.    To remove them and reinstall the following was very helpful:
http://recomhub.com/blog/how-to-uninstall-xcode-on-mac-os-x/

From: Jonathan Beezley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, April 7, 2015 at 8:42 AM
To:

[2015-04-07 16:37] #1163 closed

[2015-04-07 17:19] hgohil2805 commented on #1181
Thank you guys..
I have the files. I have 12 .nc files in cam_35_data and around 15-16 files in taylor_obs_data. I am unable to load the dataset. As soon as I select the cam_35 directory, it pops up the following error. I figured thought something might be wrong with my build so I tried to use the same data files on a completely fresh build that I have on another VMware Ubuntu but it pops up the s

[2015-04-07 17:23] potter2 commented on #1189
I just the z slider with the newest build and it works much better now.

[2015-04-07 17:26] hgohil2805 commented on #1181
Sorry, I meant to ask if you get the error when you use the GUI..

[2015-04-07 17:57] vvpalav commented on #1166
https://github.com/UV-CDAT/VisTrails/pull/37 .. Please review the pull request

[2015-04-07 18:11] mcenerney1 commented on #1181
Jeff
Is this the wrong version of uvcmetrics in uvcdat is the wrong version?

[2015-04-07 18:14] painter1 commented on #1181
Hardik,  haven't seen that.   It surprises me.  If self.opts is initialized as an Options object (options.py), then self.opts._opts==[] initially.  And it is initialized as an Options object, see the beginning of the class definition of DiagnosticsDockWidget.

Jim, if you're asking whether this is about incompatible versions, I'd say you're probably right.  At least, it must be some kind of a buil

[2015-04-07 18:31] mcenerney1 commented on #1181
I believe the solution is to get the latest uvcmetrics and build with it.

[2015-04-07 18:53] hgohil2805 commented on #1181
Jim, wouldn't that only help when you are running it from the command line?

[2015-04-07 18:55] painter1 commented on #1181
No, the GUI file diagnosticsDocWidget.py is just an interface to the diagnostics in uvcmetrics.  In particular, options.py was changed a month or two ago.  If you have the latest VisTrails (uvcdat-master), it requires a recent version of options.py.

[2015-04-07 18:57] mcenerney1 commented on #1181
Thanks, Jeff. I think I've seen this before.

[2015-04-07 19:00] hgohil2805 commented on #1181
Ah ok,
let us know if it works with the latest uvcmetrics.

[2015-04-07 19:02] painter1 commented on #1181
You won't see your error message with the latest ucmetrics.  Most things work.  I think we're back to the original VisTrails issue here.

[2015-04-07 20:56] doutriaux1 opened #1194 "isoline animation broken"
at least from the GUI

[2015-04-07 20:56] doutriaux1 opened #1195 "time slider should be disabled when running animation"
or at least pause animation if we move it

[2015-04-07 20:57] doutriaux1 opened #1196 "animation vcs speed slider seem to have no effect"
at least in GUI (clt in isofill)

[2015-04-07 20:59] doutriaux1 opened #1197 "clear canvas while animation running in GUI doesn't seem to stop it"
@williams13 showed me and he keeps getting vtk warn messages after clearing canvas as if animation was still running in background

[2015-04-07 21:01] doutriaux1 opened #1198 "boxfill custom in GUI"
plot clt in gui, click edit pencil, select "custom" boxfill type, create new min max and generate ranges, click "Apply" the plot disappear, now move mouse over to "open configure" widget, plot reappears

[2015-04-07 21:03] doutriaux1 commented on #1198
also legend does not appear

[2015-04-07 21:27] chaosphere2112 opened #1199 "Cannot Animate Isoline"
Same basic issue as #1141, but with Isoline.

[2015-04-07 21:31] chaosphere2112 commented on #1195
@doutriaux1  How about I make the time slider stop the animation? That's a pretty easy fix and I think would work slightly more comfortably than having the animation resume as soon as you stop sliding.

[2015-04-07 22:24] chaosphere2112 commented on #1197
I was able to reproduce this, I'll get it sorted out.

[2015-04-07 22:25] chaosphere2112 commented on #1198
@doutriaux1 I'm not entirely clear on this one, you'll have to help me reproduce tomorrow.

[2015-04-08 14:25] chaosphere2112 commented on #1191
This is the same issue as #1198; I'm working on the fix right now.

[2015-04-08 14:26] dlonie commented on #1132
Closing as the patch fixed this for me. Reopen if the problem persists.

[2015-04-08 14:26] #1132 closed

[2015-04-08 14:32] vvpalav commented on #1166
@ThomasMaxwell .. Just need confirmation on following.
There is an import in most python files in vtDV3D package from vtk package like packages.vtk.base_module import vtkBaseModule

I checked if anything is used from this import, but could't find anything. Can you please confirm any code from this import is not used in dv3d?

Reference Import lines:
.//vistrails/packages/vtDV3D/CurtainPlotModule.p

[2015-04-08 15:24] mcenerney1 commented on #1181
Hardik, can I do anything more to help you??

[2015-04-08 15:44] chaosphere2112 opened #1204 "Ext1 and Ext2 are rendering incorrectly"
Looks like the baselines for ext_1 and ext_2 are incorrect...

![](https://raw.githubusercontent.com/UV-CDAT/uvcdat-testdata/fff99d3026a38baf23de03f8c14a5b27298f7bd1/baselines/vcs/test_boxfill_lev1_lev2_ext1.png)

![](https://raw.githubusercontent.com/UV-CDAT/uvcdat-testdata/fff99d3026a38baf23de03f8c14a5b27298f7bd1/baselines/vcs/test_boxfill_lev1_lev2_ext1_ext2.png)

![](https://raw.githubusercont

[2015-04-08 15:45] chaosphere2112 commented on #1204
Also, we need baselines to cover the other GMs using ext_1 and ext_2; they render differently on each of those.

[2015-04-08 15:54] chaosphere2112 opened #1205 "Deleting text from text widget isn't reflected when you deselect"

[2015-04-08 16:29] hgohil2805 commented on #1181
Jim, I am not sure what exactly the latest uvcmetrics will help you with. Will it help remove only the error that I have attached above on the screen shot or will it actually help you plot things correctly?

Jeff, I built the new uvcdat about 15 days ago using the files that were considered a good fit for 2.2. Should it not have the latest options.py file?

[2015-04-08 16:39] doutriaux1 commented on #1204
@chaosphere2112 what is incorrect about them?

[2015-04-08 16:58] doutriaux1 commented on #1204
ok i see it now, will fix this

[2015-04-08 17:11] doutriaux1 commented on #1195
works for me even though the slider animation needs to be turned off, but @chaosphere2112 is going to do this in a separate PR.

[2015-04-08 17:21] mcenerney1 commented on #1181
I think the version in uvcdat has a problem.  The latest will only remove the error on your screen shot.

[2015-04-08 17:23] painter1 commented on #1181
The UV-CDAT distribution often comes with months-old copies of the diagnostics, aka metrics.  I routinely wipe out the metrics installation there and install my own.   In fact, that was necessary when I built a new UV-CDAT on March 25, about the same time as yours.  So I'm sure that you need to delete whatever UV-CDAT has put into site-packages/metrics, and then go to the uvcmetrics source tree (d

[2015-04-08 17:33] chaosphere2112 commented on #1195
Submitted #1206 to address that issue.

[2015-04-08 18:00] hgohil2805 commented on #1181
Ok, Thanks Jim.

Jeff. I am going to try and install the new one. Will let you know if I face any issues.
Also, I feel that if this is something that you normally always do and considering that we do require it to make sure that all the features correctly, then we need to work on some way to  make sure that the latest distribution has the latest versions (if it is not already included).

[2015-04-08 18:01] doutriaux1 commented on #1181
@painter1 it is also worth noting that you guys are NOT using "master" but "devel" branch.

[2015-04-08 19:08] remram44 commented on #1166
vtDV3D is very broken and mostly unused (see #17). You should ignore.

[2015-04-08 19:34] #1196 closed

[2015-04-08 19:53] #1195 closed

[2015-04-08 20:09] painter1 commented on #1181
The *release* versions of UV-CDAT do contain appropriate versions of the diagnostics - at least, they have so far.   Probably development versions of UV-CDAT contain obsolete versions of the diagnostics because that dates to the previous release.

[2015-04-08 22:33] chaosphere2112 commented on #1198
This is triggered by a couple of errors that happen during the update;

[code]

@doutriaux1 , mind taking a look?

[2015-04-08 22:35] chaosphere2112 opened #1208 "test_vtk_ui_button* segfaults on Ubuntu"
Looks like there's a segfault in the VTK UI tests on ubuntu; I'll sort this out tomorrow.
[code]

[2015-04-08 22:42] chaosphere2112 commented on #1208
Ah, looks like the issue is with the technique I used to queue renders up in the InterfaceManager class. Should be a quick fix.

[2015-04-09 00:34] #1197 closed

[2015-04-09 01:06] doutriaux1 commented on #1199
seems like a duplicte of #1194 closing. Please re-open if different.

[2015-04-09 01:07] doutriaux1 commented on #1199
actually will close 1194 rather than this one since the PR indicates this bug

[2015-04-09 01:08] doutriaux1 commented on #1194
duplicate #1199

[2015-04-09 01:08] #1194 closed

[2015-04-09 01:49] doutriaux1 commented on #1198
ok, on ubunutu I can't reproduce, how do you get this traceback? Actually I can't even reproduce the original bug.

[2015-04-09 01:50] doutriaux1 commented on #1198
will try on mac...

[2015-04-09 13:58] aashish24 commented on #1134
Okay which confirms my suspicion that it is a system problem. If glxgears works then UV-CDAT will work as well. Using offscreen option wouldnot work for you as you want rendering to be happening on the client side? Basically its a X forwarding issue that you are dealing with.

[2015-04-09 14:08] #1204 closed

[2015-04-09 14:20] chaosphere2112 commented on #1198
@doutriaux1 I opened up CLT in the gui, plotted it using boxfill, opened up the Plot Config window, selected Custom, set the minimum Value to 25 and the Maximum Value to 75, then hit "Apply".

[2015-04-09 15:03] hgohil2805 commented on #1198
@chaosphere2112  How did you get the traceback (it didn't pop up any errors or exceptions for me)? The plot disappears for me on Ubuntu as well.

[2015-04-09 15:04] chaosphere2112 commented on #1198
uvcdat —output=""; it didn't pop up in an exception box for me.

[2015-04-09 15:05] hgohil2805 commented on #1198
Oh, ok..

[2015-04-09 15:13] dlonie commented on #1198
@hgohil2805 You can also check `~/.uvcdat/uvcdatsession.log`, which is where the GUI redirects vcs output.

@chaosphere2112 @doutriaux1 This is reproducible on Arch Linux. I've uploaded test script that replicates this issue in #1210.

[2015-04-09 15:17] chaosphere2112 commented on #1198
@dlonie Thanks!

[2015-04-09 15:29] hgohil2805 commented on #1198
@dlonie Thanks.!

[2015-04-09 16:04] mcenerney1 commented on #1181
Hardik
Were you able to get past the uvcmetrics issues?

[2015-04-09 16:33] hgohil2805 commented on #1181
Jim,
I wasn't able to.

Jeff, Can you tell me where exactly I need to issue the python setup.py install command from?

[2015-04-09 16:34] doutriaux1 commented on #1134
@aashish24 by offscreen I think @durack1 meant mesa. This should work right?

[2015-04-09 16:36] durack1 commented on #1134
@aashish24 @doutriaux1 @dlonie I've also opened an issue https://github.com/TigerVNC/tigervnc/issues/162 just to see if someone else has discovered problems with the redhat openGL..

[2015-04-09 16:42] doutriaux1 commented on #1198
@dlonie awesome thanks can fix right away!

[2015-04-09 16:51] hgohil2805 commented on #1181
Jim,
The traceback given here by charles is the one you see right?https://github.com/UV-CDAT/VisTrails/pull/30

I can use that in the meanwhile to see if I can find something.

[2015-04-09 17:00] painter1 commented on #1181
Hardik,
For running "python setup.py install", there are two things you need to get right:
1. The right python:  First install UV-CDAT.  Then run its setup_runtime.sh or setup_runtime.csh.
2. The right setup.py:  cd to the root of the uvcmetrics directory tree.  That has a file setup.py.  Then run "python setup.py install".

And it is safer if, before running setup.py, you find the python's site-p

[2015-04-09 17:14] mcenerney1 commented on #1181
I believe this is an issue. There may be others.

[2015-04-09 19:26] hgohil2805 commented on #1181
I believe this is the one? https://github.com/UV-CDAT/uvcmetrics/blob/master/setup.py

So because I had removed my build directory and I could not the file anywhere, I got the files from https://github.com/UV-CDAT/uvcmetrics and then ran setup.py , after removing the files from site-packages/metrics which put new files in its place . This however still gave me the same error that I had from the sc

[2015-04-09 19:52] painter1 commented on #1181
Do not use the master branch of uvcmetrics.  Use the devel branch.  Make sure that you do a pull from the uvcmetrics project repository, devel branch.  I don't have your directory structure, so I can't tell for sure what you're doing.  Anyway, there's only one setup.py in uvcmetrics.

[2015-04-09 19:55] painter1 commented on #1181
Here's where to pull from: git@github.com:UV-CDAT/uvcmetrics.git
And do a "git checkout devel".   In uvcmetrics the master branch is rarely updated, usually at the same time as a UV-CDAT release.

[2015-04-09 20:06] hgohil2805 commented on #1181
Ok, will try that out.

[2015-04-09 20:22] aashish24 commented on #1134
sure, I understood that part but I don't think that will help unless you want to dump the image on the server side.

[2015-04-09 20:23] aashish24 commented on #1134
I kind of take it back. I don't know what will happen in that case

[2015-04-09 20:24] durack1 commented on #1134
@aashish24 the intention here is to write a png file on the server - so there is no need to visualise anything, just write to the file. This is actually what the current script is trying to do, I never see what I'm trying to plot before opening the png using a graphics viewer

[2015-04-09 20:28] aashish24 commented on #1134
okay, try with the mesa option and see if that works for you.

[2015-04-10 23:34] doutriaux1 commented on #1198
My pr was only for command line. Reopening still not working fully in gui

[2015-04-13 16:26] vvpalav commented on #1117
Instead of removing this completely from dropdown, I simply disabled colortable for default. So now user just can't modify colors when default is selected. I will commit my changes so that you guys can take a look. Any suggestions are welcome.

[2015-04-13 16:42] mcenerney1 commented on #1181
Hardik
Any luck with this issue?

[2015-04-13 16:58] hgohil2805 commented on #1181
Nope, not yet. I've got the new uvcmetrics (thanks you!) and I can load the files. Can you give me a data set that works correctly so that I can look at how the flow works.?

[2015-04-13 17:07] mcenerney1 commented on #1181
The data cam35_data.tar and taylor_obs_data.tar should work. Found on ftp ftp.llnl.gov

[2015-04-13 17:07] hgohil2805 commented on #1181
Ok I'll give it a run.

[2015-04-13 17:29] durack1 opened #1212 "Update spyder to 2.3.4"
We're a patch release behind the latest spyder (2.3.3 vs 2.3.4) - a number of bug fixes in 2.3.4 are worth the effort in updating..

[2015-04-13 17:44] aashish24 opened #1214 "Find / exercise GUI for locating bugs in the code"

[2015-04-13 17:47] vvpalav commented on #1214
It would help if anyone who has better understanding of UVCDAT provides suggestions to do this efficiently. I am mainly looking for things I should be testing. Thanks.

[2015-04-13 18:05] hgohil2805 commented on #1214
1 - Merge icons missing. Click on the cell with the plot, then click on the cell below it. Shows a merge icon on top without any icon

2 - The above exception also pops up an exception.

Will add the steps in detail into the document.

[2015-04-13 18:15] mcenerney1 commented on #1214
It would be very useful to have the capability to test diagnostics by specifying all of the inputs on the command line without bringing up the gui.  This is what what happens with diags.py but it's not guaranteed to duplicate the gui output faithfully.

[2015-04-13 18:29] hgohil2805 commented on #1181
Guys,
New issue. So this is what happens when I load obs_data (Observation 1). I don't think this is because of the local changes that I might have made.
![cam_load_error](https://cloud.githubusercontent.com/assets/9386084/7122446/77e70238-e1e9-11e4-8f42-3da1bcbcb0ba.jpg)

[2015-04-13 18:34] painter1 commented on #1214
diags.py is guaranteed to produce *different* results from the GUI. 
    The script calls plot().  The GUI uses a drag-and-drop mechanism. 
    The templates are different, but beyond that, the interface to the
    graphics is so different that I don't think it is realistic to
    expect them to be the same.

    On 4/13/15 11:15 AM, James McEnerney
      wrote:

      It would be very useful to h

[2015-04-13 18:37] painter1 commented on #1181
This does look like a bug, but it is totally unrelated.
1. You are using the same path for "Dataset 1" and "Observations 1".  They are supposed to be different.  The whole point of all this is to compare two different sets of data.
2. You are testing plot set 2.  This issue is about plot set 14, Taylor diagrams.

[2015-04-13 18:46] painter1 commented on #1181
To expand on what I just wrote:  The GUI was used incorrectly.  It is a bug because there shouldn't be an exception in this case.  But fixing that bug will not contribute to fixing this issue, #1181.
Hardik, you need to test with a real observation data set under "Observations 1", e.g. the NCEP ANN data.  This must be in a different directory from the one which has model data, cam35_data in this c

[2015-04-13 18:49] hgohil2805 commented on #1181
Jeff, I took the wrong print screen (I did do the same required things before but then tried to continue doing things anyways to test ).

 Here's the one after selecting the correct things.
![new_error](https://cloud.githubusercontent.com/assets/9386084/7122857/23f22d6c-e1ec-11e4-9371-fbc475900ccd.jpg)

[2015-04-13 19:02] painter1 commented on #1181
Under your obs path is a pulldown menu "Obs set 1".    Can you choose anything there?  My guess is that there's no data in your obs path.  But whatever the reason, there is supposed to be a default obs set in the pulldown menu; and if there are more possibilities you should see them if you click on it.

[2015-04-13 19:20] hgohil2805 commented on #1181
No the drop down menu is unusable before as well as after after the error pops up. Don't know if that's related.

In the obs_data directory, I have 16 .nc files. Is there something specific that you'd like me to check?

[2015-04-13 19:34] painter1 commented on #1181
Please list the files in obs_data, and tell me what versions you have for options.py and diagnosticsDockWidget.py.  Make sure that you have actually installed the ones you think you have.
Put print statements in Options.__init__() (options.py) near the end of the medthod, and prepareObs1 (diagnosticsDockWidget.py) before the line which raises the exception.  Print out the values of self._opts['obs

[2015-04-13 19:34] hgohil2805 commented on #1181
ok, So I think we should just try and move on to fixing the actual problem of the cell widgets here. Jeff or Jim, can you post a  stack trace of what you get after you load everything correctly and the error pops up?.

I'll talk to Remi and we'll try to fix the actual problem and hopefully that should help plot things correctly too.

[2015-04-13 19:38] hgohil2805 commented on #1181
Ok I'll do those things and let you know. Here are the files that I have in the obs_data directory
![files](https://cloud.githubusercontent.com/assets/9386084/7123847/04abec70-e1f3-11e4-86d0-d6d60b6687af.jpg)

[2015-04-13 19:42] painter1 commented on #1181
Thanks.   Actually the only one you need is NCEP_ANN_climo.nc, because you're testing with the ANN season.  The others are for other seasons.  The xml.orig file is harmless garbage.
Something's seriously wrong, because you have the data and the system isn't seeing it.  I suspect that you are still seeing an issue with incompatible versions of the diagnostics and VisTrails - or something else, it's

[2015-04-13 19:47] hgohil2805 commented on #1181
Ok I am not sure if it is diagnostics. Because I used to get the error pop up as soon as I tried to load the cam data before but now cam loads fine but it's obs which is causing the issue. Let's check with the prints.

[2015-04-13 20:29] hgohil2805 commented on #1181
Prints out an empty list for options.init()

```file - options.py, value of self._opts['obs'] is =  []```

and prints out

```File - diagnosticsWidget, value of self.opts['obs'] is  = [{'filter': None, 'path': '/home/iceman/testdata/obs_data'}] ```

for prepareObs1

[2015-04-13 20:47] painter1 commented on #1181
Hardik, Copy NCEP_ANN_climo.nc to SPAM_ANN_climo.nc.  I think we may have a bug where the system expects there to be more than one obs set available.

[2015-04-13 20:47] mcenerney1 commented on #1181
Here's a the output

Traceback (most recent call last):
  File "/usr/local/uvcdat/03_25_15/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 661, in buttonClicked
    self.applyClicked()
  File "/usr/local/uvcdat/03_25_15/vistrails/vistrails/gui/uvcdat/diagnosticsDockWidget.py", line 783, in applyClicked
    self.displayCell(RES30, row, col, dropInfo=(plot_number == 0))
  File "/usr/l

[2015-04-14 14:27] mcenerney1 commented on #1181
Hardik
I could call you and walk through the diagnostics if that would help.
What's a good phone number?
Jim

[2015-04-14 17:31] vvpalav commented on #1117
@doutriaux1 .. Is it possible to rename "default" gm to "default (non-editable)" ?
I have disabled color buttons when default is selected, so that user cannot edit anything.
if we rename gm to "default (non-editable)" then It will be more clear to user, why color table is disabled.

[2015-04-14 17:34] ThomasMaxwell commented on #1183
Finally got UVCDAT to build on my 10.10 desktop.   I had to do some major system cleaning with the help of ‘brew doctor’.   All ctests pass except for diags_test_01.

— Tom

[2015-04-14 17:37] vvpalav opened #1215 "Document for manual testing of GUI"
This issue is to create documentation for manual testing of UVCDAT gui before release.
Reference: #1214

[2015-04-14 17:39] vvpalav commented on #1214
documentation creation is tracked by using #1215

[2015-04-14 19:33] durack1 commented on #1134
@aashish24 @dlonie @doutriaux1 apologies for dragging this along.. It appears that a reinstallation of a bunch of key packages (mesa-libGL, vncserver etc) has now solved the issue - so it does appear to have been a local client/X11 forwarding issue, rather than something problematic with the VTK install.

Sorry for the run around with this - closing

And just for reference:
https://access.redhat.c

[2015-04-14 19:33] #1134 closed

[2015-04-14 19:49] aashish24 commented on #1134
Thanks for the update! Appreciate it.

[2015-04-15 05:50] doutriaux1 commented on #1117
@vvpalav if it's at the vistrails level feel free to do whatever you need. the "default" at the vcs level though does need to stay named "default" lots of places in the code expect that (mostly new objects creations and attribute setting verifications)

[2015-04-15 15:05] hgohil2805 commented on #1181
Hi Jim,
I wasn't in at work yesterday so couldn't reply. I am trying what jeff had suggested, will let you know if it works. If not, give me a call at +1-917-717-6588

[2015-04-15 15:11] ThomasMaxwell commented on #1134
Wen attempting to start up a recently build version of UVCDAT (from yesterday's master) I get the following error.  Is there a fix for this?:

IOError: [Errno 2] No such file or directory: ‘…/install/Library/Frameworks/Python.framework/Versions/2.7/share/uvcmetrics.json'

[2015-04-15 15:14] mcenerney1 commented on #1181
Good! Let me know. I have a meeting at 9 am(PT).

[2015-04-15 15:46] durack1 commented on #1134
@ThomasMaxwell I'm not sure this problem is relevant to this closed issue (#1134) - maybe it's worth opening a new issue..

Additionally @painter1 might know more about the uvcmetrics stuff

[2015-04-15 16:40] hgohil2805 commented on #1181
I was able to load both the files now but now it shows two new errors. Here's the first one,

[code]

So I changed the pickling to the binary protocol in pipeline_helper.py, .

[code]
But now it shows the following error. It could be because of the change from Ascii to Binary pickling . I am looking into this.
[code]

[2015-04-15 17:19] mcenerney1 commented on #1181
I think this would result from either a bad specification of either the model data or obs data.

[2015-04-15 17:42] hgohil2805 commented on #1181
Hey Jim, Can you call me? I have a couple of questions.

[2015-04-15 17:59] mcenerney1 commented on #1181
I got your answering machine. I'm here 925-422-1963 or I'll call again.

[2015-04-15 18:05] vvpalav commented on #1214
@aashish24 .. can you please send me an email with any information you have about automated test cases.

[2015-04-15 18:25] hgohil2805 commented on #1181
[code]

[2015-04-15 18:26] painter1 commented on #1181
Try creating the directory yourself.

[2015-04-15 18:52] hgohil2805 commented on #1181
Works.. !
![taylor](https://cloud.githubusercontent.com/assets/9386084/7166844/903f3404-e37e-11e4-8904-283291c6e63d.jpg)

[2015-04-15 19:29] doutriaux1 commented on #1181
Hardik,

I fixed the pickle issue your vcs must not be up to date.

C.

From: Hardik Gohil <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, April 15, 2015 at 9:40 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Doutriaux, Charles" <doutriaux1@llnl.go

[2015-04-15 20:18] mcenerney1 commented on #1181
Good you can get the graphic from the command line.  you even have the missing x axis as I do.

[2015-04-17 12:45] potter2 opened #1220 "color map failure on special plot"
When I make a hofmuller plot (see attached video) and I try to change the color map.. the plot fails and I get an error.

https://www.dropbox.com/s/xtlbzhc9x2lipo8/huffmuller_fail_color_map.mov?dl=0

[2015-04-17 15:05] doutriaux1 commented on #1220
@potter2 it is very difficult to read the error at the end of the video. Next time do you mind copy/pasting it in here? thanks.

[2015-04-17 15:17] potter2 commented on #1220
here
Traceback (most recent call last):
File "/Users/potter/uvcdat/build-uvcdat/install/vistrails/vistrails/gui/uvcdat/colormapEditorWidget.py", line 327, in applyChanges
self.activeCanvas.setcolormap(str(self.colormap.currentText()))
File "/Users/potter/uvcdat/build-uvcdat/install/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vcs/Canvas.py", line 5421, in setcolorma

[2015-04-17 15:21] doutriaux1 commented on #1220
thanks @potter2 ! that helps a lot! Will fix today.

[2015-04-17 16:25] vvpalav commented on #1220
#1214 .. Referenced

[2015-04-17 16:26] vvpalav commented on #1214
#1220 .. found issue in colormap .. just added here for tracking

[2015-04-17 17:24] aashish24 commented on #1214
http://www.paraview.org/gitweb?p=QtTesting.git

[2015-04-17 20:55] remram44 commented on #1214
Does this work? More importantly, is it possible at all to wrap this for Python?

[2015-04-20 03:53] doutriaux1 opened #1222 "Template edits not showing up in recorded commands"
If i edit template within gui, then the modifications do not show up in recorded commands.

[2015-04-20 03:54] doutriaux1 commented on #1222
@chaosphere2112 feel free to reassign

[2015-04-20 03:56] doutriaux1 opened #1223 "uvcdat gui can not drag and drop templates"
Now that we can modify templates within gui we need to be able to drag and drop them as well (like graphic methods)

[2015-04-20 03:57] doutriaux1 commented on #1223
@remram44 feel free to reassign.

[2015-04-20 17:08] doutriaux1 opened #1224 "Add message at the end of setup_runtime script"
Some users reported being unsure if the script ran or did anything since nothing goes to the screen when sourcing it.

[2015-04-20 17:15] chaosphere2112 commented on #1222
@doutriaux1 I found where the logic to add template info to the sample scripts would go ([in here](https://github.com/UV-CDAT/VisTrails/blob/3e92adbe6ff095c1db29d2c155ba3b55a9d88ff3/vistrails/packages/uvcdat_cdms/pipeline_helper.py#L783-L883)); adding it does look like a fair bit of work, though. I'll put this off for now, leaving this comment mostly as a reminder to myself.

[2015-04-20 17:33] doutriaux1 commented on #1222
@chaosphere2112 if think you're right, we hecked that the png is produced correctly, so for 2.2 I "think" it's ok. Moving milestone to 2.3. @williams13 please let us know if you feel this needs to be in 2.2

[2015-04-20 20:45] doutriaux1 commented on #1133
fixed via: https://github.com/UV-CDAT/uvcdat/pull/1172

[2015-04-20 20:45] #1133 closed

[2015-04-20 20:48] doutriaux1 commented on #587
@williams13 @aashish24 ok so we now only have the 3 above.
Mercator still doesn't work so moving to 2.3

[2015-04-22 05:29] aashish24 opened #1228 "ESGF data explorer is not working anymore"
Traceback (most recent call last):
File "/usr/local/uvcdat/2.1.0/vistrails/vistrails/gui/uvcdat/esgf.py", line 558, in facet_item_selected
k=self.facet_order_list[idx.row()]
IndexError: list index out of range

when I pick clt from a CMIP model

on the terminal: UVCDAT setup already sourced for this install location.
2015-04-21 21:45:22.988 Python[19041:279894] *** WARNING: Method userSpaceScaleFa

[2015-04-22 16:25] doutriaux1 commented on #1228
@vvpalav I think that was the issue I was trying to reproduce #767 That was exactly the error I used to get.
@potter2 @aashish24 what did you do to get that error. My recollection was that each facet had to be selected in the right sequence in order to avoid this error

[2015-04-22 22:30] doutriaux1 opened #1230 "isoline labels text color broken"
text colors seem to be messed up if you look at the test baselines: https://raw.githubusercontent.com/UV-CDAT/uvcdat-testdata/master/baselines/vcs/test_isoline_labels.png or https://github.com/UV-CDAT/uvcdat-testdata/blob/master/baselines/vcs/test_vcs_isoline_labels_multi_label_input_types.png

If you look at the pngs carefully you will realize that the text colors change for isolines of same valu

[2015-04-23 19:03] dlonie commented on #1230
I have local fix, just need to update the unit tests on the VTK side of things. Will push soon.

[2015-04-23 19:40] dlonie commented on #1230
VTK merge request in at https://gitlab.kitware.com/vtk/vtk/merge_requests/144. I'll cherry-pick this onto our VTK head in a moment.

[2015-04-23 21:01] dlonie commented on #1230
Should be fixed by #1203.

See also UV-CDAT/uvcdat-testdata#36 and UV-CDAT/VTK#3

[2015-04-24 14:59] jypeter opened #1231 "Using dv3d to display 2D flying carpets?"
@ThomasMaxwell , one of our users told me yesterday that he wanted to use paraview to **use 3D to  display a 2D field with the surface elevation** he his using in his model. He works on very very very ancient climates, with continents very different from now, and he would like to be able to show them easily to other people

So I guess it would be useful to be able to plot some kind of *flying carp

[2015-04-24 15:36] remram44 commented on #1166
Closed by UV-CDAT/VisTrails#37

[2015-04-24 15:36] #1166 closed

[2015-04-24 16:17] remram44 opened #1232 "Make UV-CDAT startup faster"
Meta-issue to track startup slowdowns.

* [X] Remove VTK package (scans VTK to generate VisTrails modules that are not used) (#1166)
* [ ] ESGF does HTTP requests during startup

[2015-04-24 16:17] remram44 commented on #1232
ESGF request:
[code]

[2015-04-24 16:36] remram44 commented on #1232
The `UVCDATMainWindow` seems to be creating a list of 1 (!?) VCS canvases, that is referred by everything as `root.canvas[0]`.

[2015-04-24 22:17] #1208 closed

[2015-04-24 22:18] chaosphere2112 commented on #1205
If anyone's out there, I'm writing up the last few tests for this section of code (covering the Label widget and the Textbox widget), then I need to do a quick rebase to clean up some WIP commits, and I'll have everything ready to go by EOD Monday.

[2015-04-24 23:47] potter2 opened #1233 "Isoline labels don't work when isoline plot overlays color fill plot"
If I make a isofill plot then overlay a isoline plot. Then rty to add labels to the isoline plot, nothing happens to the isolines. The labels don't show up.

[2015-04-25 17:47] #1199 closed

[2015-04-27 15:28] doutriaux1 commented on #1231
@jypeter how does this work exactly? You send 2 variables, the 2D one and the elevation one? Can the elevation be time dependent? I guess it's possible if you want to represent very large time scales that your elevation will change right?

[2015-04-27 15:35] doutriaux1 commented on #1232
@vvpalav are you still working on the ESGF tab/facet-order issue? IF so you might as well make sure this doesn't get run until somebody actually ask for it (tab brought into focus or some button clicked) what do you think?

[2015-04-27 16:08] jypeter commented on #1231
You could either have just one 2D variable (e.g. orog) and use it for elevation (and possibly color, if you want some redundant information), or distinct variables (eg orog for elevation and tas for color)

The elevation variable could be time-dependent if you want to see some orog evolution over a (veryyyy) long time. But I guess some people may want to use other 2D *height* variables for the ele

[2015-04-27 17:00] #1117 closed

[2015-04-27 18:09] aashish24 commented on #1232
Hey all,

Could we please move these issues to VisTrails repository? Just like VTK, UVCMETRICS, I would like lise issue here if they are directly related to code in UV-CDAT repo.

[2015-04-27 18:15] remram44 commented on #1232
Using labels is way easier IMHO, it allows for easier tracking (one namespace) and multiple affected components one one ticket. It's also here that all the tickets have always been. UV-CDAT/VisTrails has no issue (or even tracker).

[2015-04-27 18:16] remram44 commented on #1232
Also there is a very good chance that other components have slowness issues.

[2015-04-27 18:18] doutriaux1 commented on #1233
@potter2 you stated it works for you again, closing, feel free to reopen if you find it broken again.

[2015-04-27 18:18] #1233 closed

[2015-04-27 18:19] doutriaux1 opened #1234 "animation boxfill broken"
latest PR merge seems to have broekn it.

[2015-04-27 22:19] doutriaux1 opened #1237 "ubuntu multiple canvas need to be closed in order they were opened"
test code, seg faults unless you uncomment the x/y.lose lines then it works
[code]
error:
[code]

[2015-04-28 14:29] #1234 closed

[2015-04-28 15:11] remram44 opened #1239 "Redirect all (i.e. non-Python) application output to log file"
Right now, all output from Python code, on `sys.stdout`/`sys.stderr`, is redirected to the log file.

Some people seem to be now arguing in favor of redirecting at the OS-level, so that no output would ever reach the terminal.

Pros:
* No output in terminal
* If some of that output is important, it would be in the log that would be submitted on error (I don't think any of it is important)

Cons:
*

[2015-04-28 15:19] ThomasMaxwell commented on #1231
Jean-Yves,
      I agree that it’s hard to guess what people may find useful or not.  For this reason I’m declaring a hiatus in the development of vcs3D and switching into maintenance mode.    Future development will depend on user exploitation of the existing 3D capabilities over the next year or so.

— Tom

From: Jean-Yves Peterschmitt <notifications@github.com<mailto:notifications@github.com>>

[2015-04-28 19:43] #1205 closed

[2015-04-29 12:43] #1224 closed

[2015-04-29 13:07] #1237 closed

[2015-04-29 17:15] chaosphere2112 opened #1241 "Resizing window in interact mode moves button labels"
Looks like I broke some of my auto-positioning logic for text labels. I'll fix this right now.

[2015-04-29 20:36] chaosphere2112 opened #1245 "Error on meshfill"
Hey all; clean build on release branch, all tests pass. Ran into this issue:

[code]

barfs out this:

[code]

@doutriaux1 I'm assigning to you.

[2015-04-30 18:40] ThomasMaxwell commented on #1224
Getting the following error when starting up a newly build version of UVCDAT ( master branch ) this morning:

Location: /usr/local/uvcdat-test/build/install
['Adelon', 'Arabic', 'AvantGarde', 'Chinese', 'Clarendon', 'Courier',
'Greek', 'Hebrew', 'Helvetica', 'Maths1', 'Maths2', 'Maths3', 'Maths4',
'Russian', 'Times', 'default']
Uncaught exception on initialization: KeyError: 'path'
Traceback (most

[2015-04-30 18:59] jbeezley opened #1250 "Error reading a variable with cdms2"
I get the following error when trying to slice a variable originating on an opendap server:

[code]

However accessing the components one at a time works:

[code]

netCDF4 python also reads it fine:

[code]

[2015-04-30 22:21] doutriaux1 commented on #1250
@jbeezley that is odd indeed. Will look into this... I suspect a numpy 1.9 issue, we are overdue for a major overhaul of the numpy inheritance anyway.... 1.9.2 breaks evrything.

[2015-05-01 01:21] doutriaux1 opened #1251 "nc_classic_format prevents creating file greater than 2Gb"
as discovered with ACME_regrid (although it seems to be able to create big file with only ONE var greater than 2Gb)

[2015-05-01 15:32] #1230 closed

[2015-05-01 15:49] dlonie commented on #1093
Is this still an issue? I'm trying to reproduce, but can you clarify what you mean by "font menu"? I don't see this. So far I've:

1) Plotted clt on default boxfill
2) Clicked the pencil to start editing
3) Select text
4) Show angle
5) Adjust to 311 degrees

Not sure what's next.

[2015-05-01 15:51] chaosphere2112 commented on #1093
@dlonie I removed the font menu (which was a button you could click in the configure menu to open a list of all of the fonts available, styled using those fonts) and replaced with one button you click through to cycle which font you're using. It's not ideal, but it'll work for now. We can look into this further in a week or two.

[2015-05-01 15:53] dlonie commented on #1093
Aha, that would explain it :dancer:

Let me know when this is ready to look into again.

[2015-05-01 15:57] dlonie commented on #1093
Actually, I just triggered a segfault by clicking through the available font faces. I'll see if this is the same one (need to recompile so python's unicode matches my debugger...)

[2015-05-01 15:57] chaosphere2112 commented on #1093
Ok, cool; let me know if you find anything.

[2015-05-01 17:18] dlonie commented on #1093
It is the same crash. Interesting, because the docs say face->size is always initialized for new fonts (and indeed, the freetype sources do this). I'll poke around a bit and see what I can find.

[2015-05-01 17:41] chaosphere2112 opened #1256 "DV3D: `FileVariable` object has no attribute `name`"
This one's for @ThomasMaxwell

I ran this script you provided for the gallery against the current release branch:

[code]

and I receive this traceback:

[code]
According to @doutriaux1, `var.name` has been removed, and we use `var.id` now.

[2015-05-01 19:01] dlonie commented on #1093
Found the issue:

The FreeType library sets `face->size` to an appropriate FT_Size object when it loads the font face. However, once it is loaded into FreeType's internal caching system, it deletes this object and sets `face->size` to 0. This modified version is what FreeType gives to VTK when we request a face from the cache manager.

Then we query the kerning information, and an unguarded derefe

[2015-05-01 19:10] chaosphere2112 commented on #1093
Cool! When I did my spelunking, that was my best guess as to the root cause.

[2015-05-02 07:57] #1251 closed

[2015-05-02 07:58] aashish24 opened #1263 "Fix travis pyexpat build time error"

[2015-05-02 18:43] doutriaux1 opened #1264 "wind barb support"
vector.type= "barbs" should be drawing wind barbs

[2015-05-02 18:44] doutriaux1 opened #1265 "polar plot for sub zones seems to not work"
use clt data
[code]

[2015-05-02 18:46] doutriaux1 opened #1266 "isoline arrows not implemented"
[code]

[2015-05-03 02:53] vvpalav commented on #1215
@aashish24 @doutriaux1 I am about to finish this document. I have tested all the plots present in UVCDAT. I need your help to write description of each plot present in our application. Just a line or two about what these plots and subcategories does. Like what is Isofill and what is a_robinson_isofill under isofill. My intention is that, this document could work as a guide for new users of UVCDAT

[2015-05-04 15:14] vvpalav commented on #1214
I found following bugs while doing testing of UVCDAT. I was using latest VisTrails but rest of the stuff was old before 2.2: https://drive.google.com/file/d/0B2ACuiq8tB3RMnZDbS1QaDREUFE/view?usp=sharing

Please let me know which ones are valid. I can create issues for tracking

[2015-05-04 15:19] vvpalav commented on #1215
Hello,

This is the initial draft of the document user or developer can use for testing UVCDAT GUI.
I wanted to add more details, but will need help from everyone to make it more better.
TODO represents things I am not sure of, so someone needs to fill in details there.
As I commented earlier, It is nice if we can put couple of lines of information about each plot and its subcategory. Please let m

[2015-05-04 15:31] dlonie commented on #1266
Duplicate of #496

[2015-05-04 15:31] #1266 closed

[2015-05-04 15:36] dlonie commented on #1264
Do you have an example of this? I'm not sure what a 'wind barb' looks like.

[2015-05-04 16:00] doutriaux1 commented on #1215
thanks @vvpalav that is very nice! Is there any way we could make this more edit friendly, like put it on some wiki or something?

[2015-05-04 16:11] dlonie commented on #1077
Closing this, as the issues have been resolved as follows:

- *Angle sign conventions* AIUI, these are consistent with previous versions of VCS.
- *Angle/size issues in PDF exports* Fixed by exporting all text as bezier paths to work with the PDF feature palette and prevent platform-dependent text issues.

If there are any unresolved problems from this thread, let's create new issues for them so w

[2015-05-04 16:11] #1077 closed

[2015-05-04 17:00] dlonie commented on #903
@chaosphere2112 @doutriaux1 @aashish24

We were having this discussion somewhere, but I can't find it now...this looks like a good spot to pick it up.

It would be much easier to just keep VTK in the superbuild and not worry about syncing forking ParaView. Since paraview uses VTK as a git submodule, we'd need to fork both and keep everything sync'd with our changes as well as upstream. This is doa

[2015-05-04 17:15] doutriaux1 commented on #903
@dlonie not that I know of. I thought uvcdat-web used it it with paravieweb, but @jbeezley stated it's not. @ThomasMaxwell is looking inot // processing using it, but I don't know where that is at.
As far as I know we don't use ParaView anywhere at the moment. @aashish24 any reason to keep it around (at least until we really need it)?

[2015-05-04 17:19] chaosphere2112 commented on #903
@dlonie @doutriaux1 I'm certainly not using it for anything in particular. I, too, was under the impression that it was in use in cdatweb, but @jbeezley is the guy who knows what's going on there.

[2015-05-04 17:29] jbeezley commented on #903
Actually, I just noticed today that you cannot run cdatweb when Paraview is enabled because it lacks one of the patches I put into VTK.  From the CMake configuration, it looked to me that Paraview was necessary for parallel builds.  I'm not sure if that is still true or not.

[2015-05-04 17:34] doutriaux1 commented on #903
ok let's wait to hear from @aashish24 or @ThomasMaxwell but I'll issue a PR to remove this for now. Actually @aashish24 is supposed to do this for a while now. I'll just go ahead and do it for him.

[2015-05-04 17:48] doutriaux1 commented on #1215
What I don't like about this is that it unnecessarily increases the size of the repo and it is harder to see what changed between version. But I will do like this for now.

[2015-05-04 18:06] vvpalav commented on #1215
Thats an interesting point. Well lets make the changes offline for now and publish 1.0 version. meanwhile I will try to find out if we can upload it somewhere online so that we can track changes and everyone can edit the same document.

@williams13 @potter2 @aashish24 @remram44 .. will you please take a look at the document and suggest anything that needs to be add/modify/remove from the doc.

The

[2015-05-04 18:09] vvpalav commented on #1215
I have also posted a document containing all the issues/suggestions I come across while testing GUI.
Issue for reference: #1214
Link: https://drive.google.com/file/d/0B2ACuiq8tB3Rem9zVWJRenhwMGc/view?usp=sharing

we need to confirm if this issues are valid and then we can start fixing them for 2.3

[2015-05-04 18:17] doutriaux1 commented on #1215
@vvpalav as far as explaining each a_isofill etc... I think it is worth mentioning that any customized graphic method that the user saves to it's initial.attribute will show up here, so this window can potentially look different for every users (especially ones that have been using UV-CDAT for a while).
We can explain generally what each of these "pre-defined" method do, but the user should unders

[2015-05-04 18:36] doutriaux1 commented on #1264
[code]
BARBS:
![barbs](https://cloud.githubusercontent.com/assets/2781425/7459537/96fb4b5c-f251-11e4-9ea0-db6cd80ce8b8.png)
SOLID:
![solid](https://cloud.githubusercontent.com/assets/2781425/7459539/a01ca708-f251-11e4-8d9d-

[2015-05-04 18:39] doutriaux1 commented on #1264
@dlonie old code should be at: https://github.com/UV-CDAT/uvcdat/blob/master/Packages/vcs_legacy/Src/library/vectors.c

[2015-05-04 18:43] dlonie commented on #1264
So

- A barb has two parts, a backbone and a set of ticks.
- The backbone points in the direction of the vector with the ticks on the "tail" end.
- The number of barbs represents the magnitude of the vector.
- 0 magnitude vectors are rendered as a square.

Anything I'm missing? Some of the tick marks appear slanted in different ways. Is that a rendering artifact, or is it meaningful?

[2015-05-04 18:53] doutriaux1 commented on #1264
@dlonie I think the "salnt" is due to positive vs negative. Also I need to look into what the "reference" attribute on a vector graphic method does. But it might be related to barbs. @potter2 can you comment on this? @williams13 you wrote this a loooong time ago, do you remember?

[2015-05-04 20:41] ThomasMaxwell commented on #1256
Fixed in branch vcs3D-fix_release_issues.

[2015-05-04 20:53] ThomasMaxwell commented on #1256
Vcs3d fix release issues #1269
ThomasMaxwell <https://github.com/ThomasMaxwell> wants to merge 2 commits into release from vcs3D-fix_release_issues

Fixes issue #1256<https://github.com/UV-CDAT/uvcdat/issues/1256>.
Also fixes problem with missing time axis in unstructured input data.

From: Sam Fries <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.

[2015-05-05 03:52] doutriaux1 opened #1271 "setting colormap on object seem to not be picked up"
[code]
still using default

[2015-05-05 16:03] chaosphere2112 opened #1272 "Style guide?"
@aashish24 @doutriaux1
I'm a little confused by a git config that I apparently now have on my home computer, but not my work one.

Are we supposed to be using tabs instead of spaces? In https://github.com/UV-CDAT/uvcdat/blob/master/scripts/git_setup/.gitattributes it looks like whitespace=indent-with-non-tab is in use, and my global .gitconfig has whitespace=indent-with-non-tab (but only on my hom

[2015-05-05 16:21] jbeezley commented on #1272
I think `indent-with-non-tabs` means replace tabs with spaces.  Anyway, I don't think any of those rules  apply to any files that exist in this repository.  (i.e. `config*` doesn't match anything)

[2015-05-05 16:24] chaosphere2112 commented on #1272
@jbeezley
From https://www.kernel.org/pub/software/scm/git/docs/git-config.html:

I'm just curious because it's in my global config, and I'm pretty sure it wasn't before (though, hard to check now). I'm more than happy to remove it and carry on, just wanted to make sure I wasn't doing anything dumb.

[2015-05-05 16:40] jbeezley commented on #1272
I guess you're right.  I still don't think it matters though because it only results in a warning message when using `git diff` or `git apply`.  It does seems like a bad setting for a python programmer. :stuck_out_tongue_winking_eye:

[2015-05-05 16:40] chaosphere2112 commented on #1272
It actually won't let me commit as-is (hence the discussion :wink:)

[2015-05-05 16:42] jbeezley commented on #1272
Ahhh, okay.  I would remove it from your global config.  Or if you really want to keep it change the setting in the local `.git/config`.

[2015-05-05 16:43] chaosphere2112 commented on #1272
Cool, I'll go ahead and nuke it out of my global config. No idea why it's there, just wanted to make sure I wasn't breaking anything :+1:

[2015-05-05 16:59] #1272 closed

[2015-05-05 17:57] aashish24 commented on #1272
Can you run SetForDevelopement.sh script on these machines to confirm whether or not its adding it ?

[2015-05-05 17:57] aashish24 commented on #1272
https://github.com/UV-CDAT/uvcdat/blob/master/scripts/setup_for_development.sh

[2015-05-05 18:00] chaosphere2112 commented on #1272
@aashish24 Looks like it was just something that was already on my computer. Removed it, everything is fine.

[2015-05-05 18:05] aashish24 commented on #1272
sounds good. thanks for this info.

- aashish

[2015-05-05 18:17] jbeezley commented on #1272
If `SetForDevelopement.sh` modifies the global git config, we should kill it with fire.

[2015-05-05 18:18] chaosphere2112 commented on #1272
Looks like it doesn’t, I must have had something weird in my config at home.

From: Jonathan Beezley <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, May 5, 2015 at 11:17 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Fries, Samuel" <fries2@llnl.gov<m

[2015-05-05 20:11] remram44 opened #1274 "Unresolved references in VCS code"
I don't know what you guys code in, but opening VCS in PyCharm shows a lot of unresolved references in VCS code; one of them is causing the taylor diagram error identified by @vvpalav. You should really make a pass on the code with a real IDE and fix the missing imports and misspelled variable names.

These are relatively easy to catch, and will cause crashes 100% of the time their branch is reach

[2015-05-05 20:46] remram44 opened #1275 "Clearing cell doesn't remove toolbar"
The previous cell's toolbar is still displayed until the next click. This is problematic, since depending on the cell type, some of the buttons on the toolbar might lead to crashes.

Also affects VisTrails: [#1072](https://github.com/VisTrails/VisTrails/issues/1072)

From @vvpalav

[2015-05-05 20:58] doutriaux1 commented on #1274
Hard core my friend! There's only ONE real IDE and it is vi. :wink:
With that said @durack1 is routinely uvcdat with Spyder which is arguably THE standard IDE for Python. And @mcenerney1 is using Eclipse... So it sounds more like a problem with Pycharm not sourcing setup runtime or just a user error.

[2015-05-05 21:06] doutriaux1 commented on #1274
http://codegeekz.com/best-python-ide-for-developers/ :wink: checkout number 1

[2015-05-05 21:13] remram44 commented on #1274
Oh no, [these](https://github.com/UV-CDAT/uvcdat/blob/df355f9d70b32e20027603d0dc6c0650abae7d93/Packages/vcs/Lib/Canvas.py#L739) [are](https://github.com/UV-CDAT/uvcdat/blob/df355f9d70b32e20027603d0dc6c0650abae7d93/Packages/vcs/Lib/Canvas.py#L889) [actual](https://github.com/UV-CDAT/uvcdat/blob/df355f9d70b32e20027603d0dc6c0650abae7d93/Packages/vcs/Lib/Canvas.py#L902) [errors](https://github.com/UV-

[2015-05-05 21:18] durack1 commented on #1274
@doutriaux1 I think @remram44 is pointing out that some more "feature complete" IDEs (such as Spyder with [rope](https://github.com/python-rope/rope), [pyflakes](https://github.com/pyflakes/pyflakes/) and [pylint](http://www.pylint.org/)) will highlight issues in the code that VI and other less featured IDEs will not..

In particular these things optional packages are great in the spyder IDE to po

[2015-05-05 21:49] remram44 opened #1276 "grabWindowPixmap() broken for QCDATWidget"
The saveToPNG() implementation in QCDATWidget doesn't correctly handle the case where the filename argument is None, which makes VCS fail.
[code]
I'm not sure what is expected here.

[2015-05-05 21:50] remram44 commented on #1276
Options are: make VisTrails feed a temporary filename to VCS, or directly get an in-memory buffer from VCS.

[2015-05-05 22:03] doutriaux1 commented on #1274
@durack1 I know what @remram44 meant. I was just pointing out we DO use other IDEs and they seem to work.

[2015-05-05 22:27] doutriaux1 commented on #1274
anyhow thanks for catching these for us working on unimportant projects I will approve the PR when it comes in.

[2015-05-05 22:33] remram44 commented on #1274
You can't seriously ask me to fix all the missing imports and mistyped variable names in your code. If you can't use an IDE that reports these as you type them, I would be trying to hit a moving target anyway...

The missing imports in vcs.utils is one of the crashes listed in vvpalav's document, fix it or don't, I think working code is best but that's only my opinion.

[2015-05-05 23:02] doutriaux1 commented on #1274
@remram44 you fix whatever you want my friend nobody is forcing you to do anything. You spotted a bug, took the time to report it and spot. I was just assuming you'd be issuing a PR for it. No worries I will fix it.

[2015-05-05 23:17] doutriaux1 commented on #1274
oh relabeling this to "vcs" since it appears to be in the vcs code not cdms2.
@remram44 correct labeling saves time for developers.

[2015-05-05 23:18] remram44 commented on #1274
Oops!

[2015-05-06 00:08] vvpalav opened #1277 "Exception while changing Dimensions"
Getting multiple exceptions when dimensions is changed for variable.

1) add variable from file.
2) change drop down to "Get Axis Value"

[code]

Got this on calculator console:

[code]

3) Now relaunch GUI change to "Get Axis Weight Values"

[code]

After this entire application becomes unresponsive.

[2015-05-06 00:10] vvpalav commented on #1214
Created #1277 for exception while loading variable and changing dimensions.

[2015-05-06 00:16] vvpalav opened #1278 "Enhancement in UVCDAT GUI while adding new cells"
We should really put limit on max value of no of cell rows and columns user can insert or put minimum X & Y size of each cell, cause after inserting more than 10 rows. Cells are practically useless to do anything. This also degrades the performance of entire application.

![untitled](https://cloud.githubusercontent.com/assets/6840965/7485410/7a23802c-f363-11e4-9564-a71604bbc2cc.png)

[2015-05-06 00:17] vvpalav commented on #1278
One solution would be to restrict cell size to be of min width and height. If user is adding more cells and allowed area is full, then we should add scroll bar with cells lined up keeping min size so that cell is usable.

[2015-05-06 00:19] vvpalav commented on #1214
created #1278 to cosmetic enhancement issue while adding new cells as row or column

[2015-05-06 00:20] vvpalav opened #1279 "Issue with Calculator widget console"
a.	There is not way to clear text on console of calculator from GUI.

b.	Calculator is currently used to display all stderr. This makes some exceptions to be printed on Calculator console from other parts of application even if Calculator is not used at all.
[Above errors got when using add variables window, while changing Dimensions]

![untitled](https://cloud.githubusercontent.com/assets/6840965

[2015-05-06 00:21] vvpalav commented on #1214
created #1279 to address minor issue with console of calculator widget

[2015-05-06 00:24] vvpalav commented on #1214
created #1276 by @remram44 to address exception while exporting cells as a images

[2015-05-06 00:26] vvpalav commented on #1276
Just steps to recreate this issue:

keep 2 or more cells in GUI. Use one cell for plotting. now just click on export sheet -> as single image. and above exception is thrown.

![screen shot 2015-05-05 at 8 24 22 pm](https://cloud.githubusercontent.com/assets/6840965/7485518/f12b6184-f364-11e4-9a05-e7ab87ebe823.png)

[2015-05-06 00:27] vvpalav commented on #1277
More info in #1274

[2015-05-06 00:27] vvpalav commented on #1214
created #1274 by @remram44 to handle unresolved references in code

[2015-05-06 00:29] vvpalav commented on #1214
created #1275 to handle minor error in GUI related to toolbar

[2015-05-06 00:33] vvpalav commented on #1275
More Info to recreate:

1) Plot into any cell, additional button like colormap etc will appear on toolbar.
2) now just clear the cell, those buttons are still present on toolbar while cell is emptied.
3) click on any button (ex: colormap) exception is thrown and entire gui becomes unresponsive.

Exception:

Traceback (most recent call last):
  File "/Users/vinayakpalav/Documents/uvcdat/15-03-30/vi

[2015-05-06 01:00] vvpalav opened #1280 "Exception in Scatter Plot: ZeroDivisionError"
1) Load u, v and plot with Scatter plot.
2) Click on Next button (">") for prev variable and following exception comes up. Entire application become unresponsive.

[code]

Before: Click highlighted button after plotting scatter plot with u and v

![screen shot 2015-05-05 at 8 58 20 pm](https://cloud.githubusercontent.com/assets/6840965/7485845/b62f3600-f369-11e4-8ba3-9c528dcbcd5f.png)

After butto

[2015-05-06 01:01] vvpalav commented on #1214
created #1280 for Divide By Zero exception in Scatter Plot

[2015-05-06 01:05] vvpalav opened #1281 "Cosmetic Bug: dots in Scatter plot are hardly visible."
Plot Scatter with u and v. Dots are hardly visible on smaller screen.

![screen shot 2015-05-05 at 9 01 47 pm](https://cloud.githubusercontent.com/assets/6840965/7485867/2580915c-f36a-11e4-9a09-bc3edb6f1695.png)

Maybe we should change the color of the dots or the size.
I am not sure of labels, please remove if its unrelated.

[2015-05-06 01:06] vvpalav commented on #1214
created #1281 for cosmetic bug in Scatter plot

[2015-05-06 03:02] vvpalav opened #1282 "Boxfill pixels are too scattered"
Pixels are too scattered for clt and boxfill

![screen shot 2015-05-05 at 11 01 20 pm](https://cloud.githubusercontent.com/assets/6840965/7486883/adaeebea-f37a-11e4-95df-8f319d76f6de.png)

I am not sure if this an issue. Please let me know if this is fine or we need to fix this issue.

[2015-05-06 03:07] vvpalav commented on #1214
created #1282 for boxfill plot with clt

[2015-05-06 03:18] remram44 commented on #1282
Sorry, what is the problem here?

[2015-05-06 03:21] vvpalav commented on #1282
plot pixels are not smooth, nothing wrong with the plot except its pixels are too scattered. I am not sure what is the reason behind this, so need confirmation if this is an issue or not.

[2015-05-06 03:26] aashish24 commented on #1282
@vvpalav thats because the data is pretty low res.

[2015-05-06 03:26] #1282 closed

[2015-05-06 03:27] aashish24 commented on #1214
@remram44 it should be possible to wrap this in python but may require looking into Shiboken or other means.

[2015-05-06 03:28] vvpalav commented on #1282
Alright Thanks

[2015-05-06 03:30] vvpalav commented on #1214
@aashish24 @doutriaux1 @remram44 .. I have created issues I found while doing testing of UVCDAT GUI. Please review those and confirm if they are valid otherwise we can close if anything is invalid.

[2015-05-06 03:32] aashish24 commented on #1214
thanks @vvpalav I will do it after meeting unless someone else beats me to it.

[2015-05-06 03:39] vvpalav opened #1283 "Exception while trying to bring Graphics Method Editor for 3D plots"
Steps:

Double click on graphics method under any 3D plot. Following exception getting thrown.
[code]

Same thing happening for any 3D plot.

**FYI: This doesn't crashes GUI**

[2015-05-06 03:40] vvpalav commented on #1214
created #1283 related to 3D plots graphic method editor

[2015-05-06 03:46] vvpalav opened #1284 "Error while plotting meshfill plot"
Exception is caught while plotting mesh fill plot. Entire application crashes after this.

[code]

GUI:

![screen shot 2015-05-05 at 11 43 42 pm](https://cloud.githubusercontent.com/assets/6840965/7487201/e52fb396-f380-11e4-9f14-780ab864d578.png)

[2015-05-06 03:46] aashish24 commented on #1272
thanks for the info @chaosphere2112

[2015-05-06 03:47] vvpalav commented on #1214
created #1284 Error while plotting mesh fill plot. @remram44 can you please verify this one on your machine.

[2015-05-06 03:47] aashish24 commented on #1282
Try high res dataset and you should not see pixelated image

[2015-05-06 04:21] doutriaux1 opened #1285 "dv3d list broken"
[code]

[2015-05-06 04:29] doutriaux1 commented on #1285
try:
[code]

[2015-05-06 04:30] doutriaux1 commented on #1285
@ThomasMaxwell lots of default are initialized as None, you might to initialize with actual values?
[code]

[2015-05-06 04:32] doutriaux1 commented on #1285
also should the default for axes really be "xyz" ? Could we set it to (-3 -2 -1) or None which would mean that ? So that sending ANY 3D array would work (just no basemap)

[2015-05-06 05:11] doutriaux1 opened #1286 "dv3d plotting ad changing attributes breaks dv3d"
[code]

fails but

[code]

works

[2015-05-06 14:57] remram44 commented on #1284
No, I don't see this error

![resized_taskmngr-launcher1](https://cloud.githubusercontent.com/assets/426784/7495878/ae7908d0-f3de-11e4-8c39-7cf95ca799f3.png)

[2015-05-06 15:45] vvpalav commented on #1284
Just tried again, same exception. FYI - I have a fresh build of UVCDAT from master.
@aashish24 @doutriaux1 can you please try this one.

[2015-05-06 15:48] remram44 commented on #1284
You built the wrong branch, `release` has the fix (#1247)

[2015-05-06 15:48] #1284 closed

[2015-05-06 15:49] ThomasMaxwell commented on #1285
These are given default values elsewhere, e.g. ‘interactionButtons.addSliderButton’.

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 6, 2015 at 12:30 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Cc: "Maxwell, Thomas P. (GS

[2015-05-06 16:04] vvpalav commented on #1284
:+1: .. I built from master

[2015-05-06 16:06] ThomasMaxwell commented on #1285
Dv3d has never been designed to handle raw 3D arrays.   It expects datasets that are at least close to COARDS or CF compliant.

From: Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 6, 2015 at 12:32 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@norepl

[2015-05-06 16:11] ThomasMaxwell commented on #1285
Fixed in branch vcs3D_fix_dv3d_list.

[2015-05-06 16:24] ThomasMaxwell commented on #1285
Can whoever is in charge of the diagnostics gui please catch the following UVCDAT gui startup error?:

Location: /usr/local/uvcdat-test/build/install
['Adelon', 'Arabic', 'AvantGarde', 'Chinese', 'Clarendon', 'Courier',
'Greek', 'Hebrew', 'Helvetica', 'Maths1', 'Maths2', 'Maths3', 'Maths4',
'Russian', 'Times', 'default']
Uncaught exception on initialization: KeyError: 'path'
Traceback (most recent

[2015-05-06 16:37] doutriaux1 commented on #1278
i like the scrollbar idea

[2015-05-06 16:39] doutriaux1 commented on #1281
you're rgiht we should probably increase the default size.

[2015-05-06 16:51] ThomasMaxwell commented on #1285
One way to support the input of raw 3D arrays into vcs3D would be to provide some scripts to easily wrap the arrays as cdms TransientVariables, which vcs3D can ingest.

From: <Maxwell>, "Maxwell, Thomas P. (GSFC-606.2)[SCIENCE APPLICATIONS INTL CORP]" <thomas.maxwell@nasa.gov<mailto:thomas.maxwell@nasa.gov>>
Date: Wednesday, May 6, 2015 at 12:06 PM
To: UV-CDAT/uvcdat <reply@reply.github.com<mailto

[2015-05-06 17:22] doutriaux1 commented on #1282
@vvpalav yes it's low resolution data that's why. That is actually the whole idea behind boxfill/meshfill, see the data as it actually is represented by the model. isolines can give a false feeling.

[2015-05-06 17:27] durack1 opened #1288 "Subsetting cdms2 variables using arbitrary indices"
It would be great to be able to subset a cdms2 transientVariable using arbitrary indices - similar to the numpy.take function but applicable to multiple dimensions concurrently, so the 14 or so lines below could be condensed into something much more compact:
[code]
In the case above, `uF` contains a subset of the depths found in the `cF` file which is loaded above.

Ideally it would be great if th

[2015-05-06 17:35] doutriaux1 commented on #1284
@aashish24 we should really merge release PR into master as well.

[2015-05-06 17:39] doutriaux1 commented on #1285
so you mean if I pass a 3D MV2 with axis axis_0 axis_1 and axis_2 it is not supposed to work right?
I'll try it just for fun

[2015-05-06 17:39] remram44 commented on #1284
Release branches are usually merged into development... Git really intends for 'master' to be the latest.

[2015-05-06 17:41] doutriaux1 commented on #1284
I agree.

[2015-05-06 17:41] doutriaux1 commented on #1284
@aashish24 should I go "dirty" and merge release into master? Or do you (or anyone else) want to take the time to do this cleanly.

[2015-05-06 17:44] remram44 commented on #1284
If you do, there'll be exactly no difference between release and master... I don't know why there are two branches to begin with.

[2015-05-06 17:52] durack1 commented on #1250
@jbeezley I think you already know this, but at least in netcdf-c 4.3.3.1 there does appear to be something problematic with the DAP integration as per https://github.com/Unidata/netcdf-c/issues/115.

At least in the current UV-CDAT/master we're still using 4.3.2 https://github.com/UV-CDAT/uvcdat/blob/master/CMake/cdat_modules/netcdf_pkg.cmake

[2015-05-06 17:54] vvpalav commented on #1215
@doutriaux1 I am going to create Wiki Page named "Manual Testing of UVCDAT using GUI" and put the content of the document inside it. As I said earlier, I think there are still some parts where we need inputs from other users. I'll let you know once page is ready.

[2015-05-06 17:55] durack1 commented on #1212
@doutriaux1 can you assign build, enhancement labels and milestone 2.3 please?

[2015-05-06 17:56] durack1 commented on #1193
@doutriaux1 can you assign build, enhancement labels and milestone 2.3 please?

[2015-05-06 17:56] durack1 commented on #885
@doutriaux1 can you add build and cdms2 labels please?

[2015-05-06 17:58] jbeezley commented on #1250
Yes, that will probably prevent us from updating the netCDF library, but the issue here seems to be unrelated.

[2015-05-06 17:59] durack1 commented on #479
@doutriaux1 can you assign the enhancement label please?

[2015-05-06 17:59] durack1 commented on #537
@doutriaux1 can you assign the enhancement label please?

[2015-05-06 19:24] remram44 commented on #1215
@hgohil2805 is checking whether automatically testing this scenario using a tool like [Sikuli](http://www.sikuli.org/) -- the idea would be to update both the scenario on this wiki page and the Sikuli script as new features are added

[2015-05-06 19:29] doutriaux1 commented on #1284
things are going to go into master soon that shouldn't go into release.

[2015-05-06 20:52] doutriaux1 commented on #1212
why create an issue you have a PR for it no?

[2015-05-06 20:54] doutriaux1 commented on #885
please no issue if you have the PR ;)

[2015-05-06 20:58] durack1 commented on #1212
There's both.. It's awaiting the travis/build fixes that @aashish24 is working on.. @aashish24 is that good to go now, should I reissue another travis build?

[2015-05-06 20:59] durack1 commented on #885
You don't want both?

[2015-05-06 21:02] doutriaux1 commented on #885
well... usually you create an issue to remind to fix it and THEN issue the PR. Once the PR is in, there's no need for the issue any longer. Except maybe for the README file that @chaosphere2112 auto-generates.

[2015-05-06 21:04] durack1 commented on #885
That's exactly why I generated both.. First issue to outline problem (issue) and then the PR to "solve" it.. Having both means that it'd be easier for @chaosphere2112 to then just poll the closed issues directly rather than having to generate an issue from an orphan PR..

[2015-05-06 21:11] durack1 commented on #996
@doutriaux1 wanna add the bug label (for @chaosphere2112's readme: #913)

[2015-05-06 21:11] durack1 commented on #991
@doutriaux1 wanna add the bug label (for @chaosphere2112's readme: #913)

[2015-05-06 21:12] durack1 commented on #847
@doutriaux1 wanna add the enhancement label (for @chaosphere2112's readme: #913)

[2015-05-06 21:12] durack1 commented on #846
@doutriaux1 wanna add the enhancement label (for @chaosphere2112's readme: #913)

[2015-05-06 21:12] durack1 commented on #841
@doutriaux1 wanna add the enhancement label (for @chaosphere2112's readme: #913)

[2015-05-06 21:17] doutriaux1 commented on #847
done and you now have permissions to add labels on the repo, so feel free to do it.

[2015-05-06 21:19] durack1 commented on #847
@doutriaux1 currently doing that now.. thanks..

[2015-05-06 21:55] vvpalav commented on #1215
Just created a wiki page [Manual Testing of UVCDAT using GUI](https://github.com/UV-CDAT/uvcdat/wiki/Manual-Testing-of-UVCDAT-using-GUI). Link is also present on [UVCDAT wiki](https://github.com/UV-CDAT/uvcdat/wiki) under **Documentation and Tutorials** as **Manual Testing of UVCDAT using GUI**. Please review this and let me know.

[2015-05-06 22:14] #1285 closed

[2015-05-07 00:01] williams13 commented on #1215
This is awesome! Thanks for putting this together!

[2015-05-07 03:07] aashish24 commented on #1212
@durack1 could you please rebase or update your branch with current master and so that we can trigger buildbot and travis both?

[2015-05-07 03:25] aashish24 commented on #1193
why don't we add @durack1 to developer group?

[2015-05-07 04:17] doutriaux1 commented on #1193
@aashish24 already did earlier this afternoon :wink: he definitely earned his stripes.

[2015-05-07 04:24] doutriaux1 opened #1292 "dv3d attributes should go through some validation functions"
[code]

[2015-05-07 04:26] doutriaux1 commented on #1292
@ThomasMaxwell look at the VCS_validation_functions.py file there's a bunch there already.

For example for the "toggle" it seems that vcs.on is set to:
[code]
But I think it would be reasonable for the validation to accept True/False (while setting it back to vcs.on under the hood

[2015-05-07 04:29] doutriaux1 opened #1293 "dv3d attributes with ultiple sub attribute but set as list"
[code]
Should probably be refactored into something similar to vcs templates:

[code]

[2015-05-07 04:30] doutriaux1 commented on #1293
otherwise it hard to remember what the parameters are and in which order.
Also makes it easier for validation functions as requested at #1292

[2015-05-07 04:31] doutriaux1 commented on #1293
same for all attributes that accept many "sub" attributes

[2015-05-07 04:34] doutriaux1 opened #1294 "dv3d graphics method allow setting unused attributes"
[code]
We should implement the __slots__

[2015-05-07 04:38] doutriaux1 commented on #953
@ThomasMaxwell it appears to still be here or to be back in
[code]

Pressed Q and went back to the terminal prompt

[2015-05-07 05:32] durack1 commented on #1212
@aashish24 already done that #1213 and I've confirmed that just turning off the osx build works for both this PR and #1130, testing #1129 and #1131 now..

[2015-05-07 05:41] doutriaux1 opened #1295 "dv3d cannot go back into interact mode"
[code]

At that point resizing the windows hangs the system comletely

[2015-05-07 13:24] czender opened #1297 "Thumbdrive UV-CDAT install fails on MacOSX 10.10.3"
The thumbdrive version of UV-CDAT distributed at the ACME PI meeting does not work on my MacBoook Pro. The CentOS VM did not complete booting. Aashish Chaudhary made valiant efforts to fix it, as he has the same type of laptop, but was unable to resolve the issue. Until this issue is resolved must I install UVCDAT from source in order to  use it on my laptop (because precompiled binaries for Yosem

[2015-05-07 16:03] doutriaux1 commented on #1297
@czender you are correct 2.1 on the site does not have Yosemite, but the binaries for 10.9 should work on it.
building from source should be smooth. if @aashish24 is still with you he can guide you though it.
2.2 will have yosemite binaries

[2015-05-07 16:03] #1297 closed

[2015-05-08 13:30] #1245 closed

[2015-05-08 15:08] aashish24 opened #1301 "Sphinx documentation for UV-CDAT"
It would nice to combine all of documentation in Sphinx.

[2015-05-09 20:27] williams13 commented on #1301
We tried this in the past, but when away from this. Let’s discuss this on the UV-CDAT telco call on Monday.

From: Aashish Chaudhary <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, May 8, 2015 at 8:08 AM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subject:

[2015-05-11 17:19] #1241 closed

[2015-05-11 17:23] #1215 closed

[2015-05-11 17:25] #884 closed

[2015-05-11 17:28] durack1 commented on #913
@chaosphere2112 some of the labelling has been cleaned up more recently than the last time it appears your page has been updated - could you regenerate this from the most recent repo status and see if the duplicates etc have been removed?

[2015-05-11 17:29] chaosphere2112 commented on #913
Sure, I'll do that in a bit.

[2015-05-11 17:36] #1198 closed

[2015-05-11 17:37] aashish24 opened #1305 "Fix vcs3d failing test"

[2015-05-11 17:37] doutriaux1 commented on #1084
@remram44 let us know if @dlonie branch helps you. Thanks.

[2015-05-11 17:37] aashish24 commented on #1192
closing it for now until we can reproduce this.

[2015-05-11 17:38] aashish24 commented on #1084
@doutriaux1 @remram44 please approve this branch

[2015-05-11 17:38] doutriaux1 commented on #451
@chaosphere2112 progress on this?

[2015-05-11 17:39] aashish24 commented on #451
@chaosphere2112 this is on you :+1:

[2015-05-11 17:41] doutriaux1 opened #1306 "gui python script extensions are written as string when they should be boolean"
b=x.createboxfill()
b.ext_1 # is stored in VisTraisl python script as 'False' were it should be False

I think VisTrails input prots need to be updated to reflect that they are boolean.

Note: b.ext_1 = "y" is valid, user can send "y",1,True

But it is stored internally as True

[2015-05-11 17:47] durack1 commented on #1306
@doutriaux1 just added the "bug" label to hopefully reduce editing for the auto-gen release notes from @chaosphere2112

[2015-05-11 17:51] durack1 commented on #1305
@aashish24 if this is the same issue as https://open.cdash.org/testDetails.php?test=334149793&build=3808629 - it's DVD3D not VCS3D that's got the problem.

It looks to me like it's a case of continental bounds missing a single point, so the start not returning to the exact end point, closing the polygon.

[2015-05-11 17:58] doutriaux1 opened #1308 "isofill polar wrong order"
@potter2 spotted this as shown in png bellow.

![polar_plot_issue](https://cloud.githubusercontent.com/assets/2781425/7571442/8a7a6acc-f7cc-11e4-831d-6174b7a958f3.png)

[2015-05-11 17:58] dlonie commented on #1305
Agreed -- shouldn't the DV3D team be looking at this?

[2015-05-11 18:17] ThomasMaxwell commented on #1305
The code that generates the boundaries is in shapeFileReader.getPolyLines in Packages/DV3D/Shapefile.py.

— Tom

From: "Paul J. Durack" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, May 11, 2015 at 1:51 PM
To: UV-CDAT/uvcdat <uvcdat@noreply.github.com<mailto:uvcdat@noreply.github.com>>
Subj

[2015-05-11 18:18] aashish24 opened #1309 "Enable buildbot to build and upload release candidates and releases"

[2015-05-11 18:20] aashish24 opened #1310 "Make buildbot server accessible to outside world"

[2015-05-11 18:26] doutriaux1 opened #1311 "try different opendap url to bypass what seems to be firewall issues on opendap ctest"

[2015-05-11 19:13] chaosphere2112 commented on #451
@doutriaux1 @aashish24 Nope, haven't done anything with these yet. "Next Week" was supposed to be "after the release" :wink:

[2015-05-11 19:15] chaosphere2112 commented on #1301
I spent some time poking at this; it seems like it should be pretty easy to get working, though some tidying up of the docstrings is in order (there's some copy-pasta in there). I'd be happy to work on this for 2.3 (automatic API documentation would be a huge win for users). I know @durack1 is very interested in us supporting this.

[2015-05-11 19:24] remram44 commented on #1306
[The port is currently String](https://github.com/UV-CDAT/VisTrails/blob/e396737c50b692c6079da7de08b493001a674900/vistrails/packages/uvcdat_cdms/init.py#L1913), so if you changed it, you just have to reflect it there.

[2015-05-11 19:44] chaosphere2112 commented on #913
@durack1
I've updated the changelog on the dev site. http://uvcdat-dev.llnl.gov/changelog.html

@aashish24 Want me to stick this on a wiki page?

[2015-05-11 19:48] durack1 commented on #913
@chaosphere2112 would it be more helpful to fix the labels assigned to each of these issues/PRs within the github issue tracker and rerun before hand editing?

[2015-05-11 19:51] chaosphere2112 commented on #913
@durack1 If you don't mind, then sure! It's pretty quick to generate the changelog (well, a minute or two, but only because it makes like a thousand http requests), and having the metadata all properly set up would be a nice thing.

[2015-05-11 19:56] durack1 commented on #913
@chaosphere2112 ok have another go.. You've also got a couple of cases where duplicates have occurred, so e.g.
https://github.com/UV-CDAT/uvcdat/issues/1049

It's most likely when you have a "gatekeeper" issue, which is also listed under one of the submodules..

[2015-05-11 20:08] chaosphere2112 commented on #913
@durack1 OK, fixed those; I'm going to spend a little time making sure that PRs that refer to Issues don't get double counted (just have a link to the relevant issue and PR on the same line item)

[2015-05-11 20:09] durack1 commented on #913
@chaosphere2112 it might also be an issue for "critical" labelled issues and also the combo "Documentation" and "Website" https://github.com/UV-CDAT/uvcdat/issues/1136

[2015-05-11 20:11] durack1 commented on #913
@chaosphere2112 and just a comment, now you have bug/enhancement for each issue listed you might want to order these, so b "bugs" then e "enhancement" or similar..

[2015-05-11 20:11] chaosphere2112 commented on #913
@durack1 Critical should be handled correctly (I categorize based on severity separately), but documentation/website probably dupes. Sorting by type would be good :+1: I'll do that.

[2015-05-11 20:13] durack1 commented on #913
@chaosphere2112 and regarding PRs.. I think labels should only really be associated with the issue, and hopefully each PR has an issue that it fixes..? I know this isn't always the case, but it would be good practice to order things this way.. And will just require folks creating issues to label these correctly, and indicate issue numbers in the PR too

[2015-05-11 20:15] durack1 commented on #913
@chaosphere2112 just from a style point of view here is another: https://github.com/spyder-ide/spyder/releases/tag/v2.3.4 not that I'm advocating changing anything..

[2015-05-11 20:16] chaosphere2112 commented on #913
@durack1 I agree that labels should only be on issues; I'm just going to make it so that the issues and the PRs show up in the same place. Github's API treats both as an "issue", which is why they show up on multiple lines right now. The main reason I would want to include PRs without associated issues is for things like #1081, which was a completely new feature that had no associated issue.

[2015-05-11 20:18] chaosphere2112 commented on #913
I also tend to err on the side of not requiring additional steps from the developers for something that I can hopefully solve with some simple de-duplication based on references to specific issues (which is the common practice already).

[2015-05-11 20:18] chaosphere2112 commented on #913
That said, I can shove the non-issue-associated PRs down onto the bottom as a separate category like in the Spyder changelog.

[2015-05-11 20:19] durack1 commented on #913
@chaosphere2112 another double counter https://github.com/UV-CDAT/uvcdat/issues/615

[2015-05-11 20:20] durack1 commented on #913
@chaosphere2112 I think the "orphan" PR section would be a good idea.. Same goes with your other tweaks/suggestions..

[2015-05-11 20:21] chaosphere2112 commented on #913
:+1:  Will do, then.

[2015-05-11 20:22] vvpalav commented on #1306
What about this one: [here](https://github.com/UV-CDAT/VisTrails/blob/2a04fba28222ac9ad3ad71a0798e755dda68e76c/vistrails/packages/cdat/cdat_cell.py#L236)

[2015-05-11 20:23] vvpalav commented on #1306
Changed ports in uvcdat_cdms/init.py .. pull request: https://github.com/UV-CDAT/VisTrails/pull/45

[2015-05-11 20:48] doutriaux1 commented on #1311
ok I found the error on my ubunutu. I did not have the curl.h on my system. I will add this to the list of pre-requistes. @aashish24 @jbeezley can you make sure it is installed on your systems please.
[code]

[2015-05-11 20:56] durack1 commented on #1311
@doutriaux1 just note that there do appear to be some ongoing issues with netcdf4 and opendap data access, particularly in the latest 4.3.3.1 netcdf-c release https://github.com/Unidata/netcdf-c/issues/115

[2015-05-11 21:04] doutriaux1 commented on #1311
@durack1 yes but this is not related, once I added the header files everything works like a charm while the older version still fails. So it is definitely linked to the fact that netcdf needs curl headers while building.

[2015-05-11 21:07] doutriaux1 opened #1312 "tagg all externals repos as well as uvcdat repo"
and make sure uvcdat points to these so that build a few weeks from now will still fetch the correct tag points.
repos: VTK Vistrails, uvcmetrics, uvcdat-testata

[2015-05-11 21:10] durack1 commented on #1311
@doutriaux1 yes, you're right.. My point above was that as we move from 4.3.2 to the latest netcdf-c release we'll have to pay a little more attention to this opendap issue.. It should most likely be created as a new issue (update netcdf to 4.3.3.1)

[2015-05-11 21:38] doutriaux1 commented on #451
in that case moving to 2.3

[2015-05-11 21:44] chaosphere2112 commented on #913
@durack1 Looks like most of the orphaned PRs aren't tagged with any milestone, so they don't show up in the automatic report currently... I'm going to add a run over all PRs that have targeted a branch (in this case, `release`) and add them to the list.

[2015-05-11 21:48] durack1 commented on #913
@chaosphere2112 would it be possible to set a date range, so since the [2.1.0](https://github.com/UV-CDAT/uvcdat/releases/tag/2.1.0) release back on 14th Jan and grab every other PR since then?

[2015-05-11 21:49] chaosphere2112 commented on #913
Yeah, that should be fine. I'm going to do the filter by branch as well, though, because we've got stuff in master that isn't going out in the release.

[2015-05-11 21:53] chaosphere2112 commented on #913
Actually, @durack1, if I do it by date range, I could just exclude everything that's been explicitly tagged 2.3; that should be quite accurate (and easy!).

[2015-05-11 21:58] durack1 commented on #913
@chaosphere2112 it would also be an opportunity to fill out a "planned changes" or similar with 2.3 tagged PRs that are already in the queue, i.e. #915, #1074, #1129, #1130, #1131, #1253 ... Not sure if this is worth it, or whether future milestone PRs will be numerous enough to list (in this and future releases).. May as well show folks that action is underway..

[2015-05-11 22:52] doutriaux1 commented on #1220
@potter2 just tried it on "clt.nc" and works for me, following script works as well, can you please try again. Thanks
[code]

[2015-05-11 23:19] chaosphere2112 commented on #913
@durack1 OK, I've got most of what we've discussed; a complete(-ish) list of issues/PRs since 2.1. Where possible, I've moved PRs to be associated with the bug/enhancement they mention. I sort by bug/enhancement, list Known Bugs and Merged Pull Requests below all of the resolved issues. I do not yet have "Planned Work"; I tend to think we should leave that off for now, as we don't necessarily want

[2015-05-11 23:35] durack1 commented on #913
@chaosphere2112 ok great, I've just had a look at the issues without a "bug" "enhancement" label and added them where appropriate so another pass should pull this in.. And it might be ready to be migrated across to the wiki for hand-editing by @aashish24 and @doutriaux1

[2015-05-11 23:59] durack1 commented on #913
@chaosphere2112 with the "orphan" PRs, is there any apparent order to their listing? As you've got the PR numbers there I'd err toward listing these in ascending (lowest/oldest at the top to highest/newest) or descending order..

[2015-05-12 02:57] chaosphere2112 commented on #913
@durack1 Nope, they're just in whatever order Github handed them to me in (I think sorted by last interacted with or something like that). I'll sort them by number.

[2015-05-12 03:12] potter2 opened #1315 "can't change isoline interval in overlay"
If I overlay isolines over an isofill plot and then try to change the contour interval of the isolines, I get an error:

Traceback (most recent call last):
  File "/Users/potter/uvcdat/build-uvcdat/install/vistrails/vistrails/gui/uvcdat/graphicsMethodsWidgets.py", line 503, in generateRanges
    if str(self.ext1ButtonGroup.buttonGroup.button(self.ext1ButtonGroup.buttonGroup.checkedId()).text()).lo

[2015-05-12 13:31] aashish24 commented on #1311
@doutriaux1, yes, I will have it installed on my buildbot machine.

[2015-05-12 13:49] jbeezley commented on #1311
I installed it this morning.

[2015-05-12 14:21] jbeezley opened #1317 "VTK build error not reported to CDash"
See https://open.cdash.org/buildSummary.php?buildid=3809950

[2015-05-12 14:22] aashish24 commented on #1301
@chaosphere2112 that would be great. What I am thinking is porting all of our documentation (users and devels related) to SPHNIX. Currently we have documents at these locations:

1. Wiki
2. WebSite
3. VCS MD on WebSite

It would nice to have a single location. Also having it in SPHINX, I can automate some things, like generating links to tarballs etc. Plus it will make then searchable.

[2015-05-12 14:47] chaosphere2112 commented on #913
@durack1 OK, I added a check to make sure that pull requests/issues are properly filtered to only this release, and I've sorted the PRs by number. It's up on the dev site for examination: http://uvcdat-dev.llnl.gov/changelog.html

[2015-05-12 15:04] chaosphere2112 commented on #1301
@aashish24

Converting the VCS/CDMS2/genutils manuals into SPHINX should be pretty easy, and I'd definitely be happy to have a proper API doc for them to all link into.

I also think that moving all of the documentation for UV-CDAT into a single site would be a win; it's super confusing right now, jumping around between GitHub and our site. We can use some CI hooks to get the documentation to rebu

[2015-05-12 15:05] aashish24 commented on #1301
:clap: yes, yes, and yes :+1: let's plan for it post 2.2. I have assigned it to you.

[2015-05-12 18:14] chaosphere2112 commented on #1305
If I'm reading the file that @ThomasMaxwell pointed at correctly, the continents are defined in a GIS shapefile, which is then rendered using `vtkPolyData`. I'm guessing it's an OpenGL or VTK quirk, not an issue with DV3D; it works perfectly fine on my mac, so it must be something platform dependent.

[2015-05-12 18:16] chaosphere2112 commented on #1305
@dlonie Looks like the shapefile is converted to VTK here:

https://github.com/UV-CDAT/uvcdat/blob/3f99c8e3ab0278e6f9b7c6083c3396c7edd61c54/Packages/DV3D/Shapefile.py#L1136-L1250

[2015-05-12 19:01] #1191 closed

[2015-05-12 19:03] aashish24 commented on #1305
@dlonie @ThomasMaxwell is busy with other tasks and we discussed that vcs3D (visualization related) changes will be taken care by you and me (obviously with @ThomasMaxwell's help).

[2015-05-12 19:14] doutriaux1 commented on #1220
@potter2 confirmed it works again.

[2015-05-12 19:14] #1220 closed

[2015-05-12 19:21] #1274 closed

[2015-05-12 21:38] doutriaux1 opened #1319 "on mac use sdk that match os"
if user has sdks that are different from their os cmake gets confused onto which is best to use.

[2015-05-12 22:32] durack1 commented on #961
@doutriaux1 I am happy to test this within the VNC environment with spyder that I'm using, it would seem to be a continuing issue..

[2015-05-12 22:39] durack1 commented on #913
@chaosphere2112 great, it's getting close.. I'm not sure if you want to include bugs that have been labeled "unconfirmed" or "wontfix" as with #678, #859, #1054 and #1134. You've already re-labeled things with "bug" I see #960, #966, #1088 and #1104

It also seems that bugs that are known and labeled against the 2.3 milestone aren't listing in the "Known Bugs" heading like #961 - I wonder if this

[2015-05-13 00:17] doutriaux1 commented on #1315
https://github.com/UV-CDAT/VisTrails/pull/46

[2015-05-13 00:18] doutriaux1 commented on #1319
https://github.com/UV-CDAT/uvcdat/pull/1320

[2015-05-13 00:19] doutriaux1 commented on #1311
https://github.com/UV-CDAT/uvcdat/pull/1314

[2015-05-13 00:19] doutriaux1 commented on #1306
still broken removed gatekeeper label

[2015-05-13 00:21] doutriaux1 commented on #1305
and @chaosphere2112 we also discussed that @aashish24 and @dlonie are very busy and wouldn't want you guys charging your precious time on things we an also fix :wink:

[2015-05-13 04:17] durack1 commented on #1193
The first beta just landed.. Will watch this and await the final release..

https://github.com/scipy/scipy/releases/tag/v0.16.0b1

[2015-05-13 14:24] chaosphere2112 commented on #913
@durack1 I'm skipping wontfix, currently, and I just added "unconfirmed" to the list of labels to skip. Currently, the only issues getting stuck into "Known Bugs" are those marked Critical or High Priority, as you suggested [above](https://github.com/UV-CDAT/uvcdat/issues/913#issuecomment-88156771). I can tweak that to add all open bugs easily enough, though. Should I?

[2015-05-13 14:50] durack1 commented on #913
@chaosphere2112 good question (add all known bugs), maybe give it a go and see what it looks like.. The current listing of just 2 known bugs is a little light I think, in particular when we know there are more issues in the system that should be fixed fairly promptly after 2.2 is released..

[2015-05-13 15:51] chaosphere2112 commented on #913
Alright, added the "Other Issues" section, which looks like a pretty reasonable length. I also came up with a metric to remove old issues that were recently modified/closed/whatever– if the last comment was before the "since" date, it's probably a quite old bug and doesn't need to be reported (because I was getting #219 to show up in the changelog, and that definitely wasn't a recent fix). Same UR

[2015-05-13 16:00] durack1 commented on #913
@chaosphere2112 ok, well this looks good to me.. I suppose you await the 2.2 tag to be finalised, and then push the final version across to the wiki for hand editing if @aashish24 and @doutriaux1 feel like this is necessary..?

[2015-05-13 16:01] chaosphere2112 commented on #913
Sounds good to me. @aashish24 @doutriaux1, here's the semi-final draft of the changelog: http://uvcdat-dev.llnl.gov/changelog.html

[2015-05-13 18:02] #1306 closed

[2015-05-13 19:11] aashish24 commented on #1305
@doutriaux1 we are never too busy for you :+1:

[2015-05-13 19:29] doutriaux1 commented on #1305
Awwww... You're too nic :wink: Anyhow you do run out of money though :stuck_out_tongue_winking_eye:

[2015-05-13 20:13] aashish24 commented on #1305
I think we all do -:)

[2015-05-14 00:29] durack1 commented on #1312
@doutriaux1 @aashish24 this also needs a zenodo update to README.md as the final step

[2015-05-14 04:59] #1315 closed

[2015-05-14 05:19] durack1 commented on #1149
@HarinarayanKrishnan is this issue resolved?

[2015-05-14 05:25] durack1 commented on #654
@aashish24 was this replaced by the buildbot testing? If so a candidate for closure?

[2015-05-14 05:36] aashish24 commented on #654
Not really. We still need a nightly dashboard for Arch. Buildbot is meant for continuous testing.

[2015-05-15 06:39] HarinarayanKrishnan commented on #1149
I am waiting for the next release. I would consider the matter closed for
now.

Best regards,
Hari

On Wed, May 13, 2015 at 10:19 PM, Paul J. Durack <notifications@github.com>
wrote:

[2015-05-15 18:57] doutriaux1 opened #1324 "enable netcdf parallel option"
needed for ACME climo files, would probably also help for regrid stuff.

[2015-05-15 20:08] #1256 closed

[2015-05-15 21:53] hgohil2805 commented on #1214
All,
In order to make the GUI testing process simpler and more automated we are trying a tool called Sikuli (http://www.sikuli.org/) which basically helps record and replay all the actions we can perform. It is quite simple to use and manage and can take care of the manual testing that everyone has to perform before the release. We are still trying to figure out how and where to set the tool up an

[2015-05-15 21:55] hgohil2805 commented on #1214
https://github.com/UV-CDAT/uvcdat/issues/585

[2015-05-16 18:17] remram44 commented on #585
Duplicate of #1214

[2015-05-16 18:17] #585 closed

[2015-05-16 18:29] remram44 commented on #1214
@hgohil2805 This looks really slow. Is it because of pixel density?

The idea would be to use a well-defined environment (Linux with set resolution/WM) to run this, and to go through it on Travis/buildbot. Changes that affect the GUI would need to come with a change in the script (same way we update baselines now) so I take it that devs would need to be able to set up the same testing env on their

[2015-05-16 21:14] hgohil2805 commented on #1214
@remram44 That's because before clicking on anything I am directing it to wait for 10 seconds (this can be changed)  to make sure that the screen loads. It can be made faster on a faster machine as mine is quite slow.

[2015-05-18 16:19] #1149 closed

[2015-05-18 20:28] #1308 closed

[2015-05-18 20:28] #1319 closed

[2015-05-19 00:40] painter1 opened #1325 "scalar FileVariable as data for createVariable()"
Suppose you have a scalar FileVariable fv, i.e. fv.shape==().  You want to create a scalar TransientVariable from it, so you call cdms2.createVariable( fv ).  It throws an exception!  The reason is that TransientVariable.__init__() calls data.subSlice() as almost the first thing it does, and assumes that the result is a TransientVariable with a getDomain() method.  It isn't, subSlice() on a scalar

[2015-05-19 15:25] devarajun opened #1326 "saving image error"
Hi
I am using UVCDAT 2.1.0 on Linux PC, OS is Fedora details (`Linux lsce3190.extra.cea.fr 3.19.5-100.fc20.x86_64 #1 SMP Mon Apr 20 19:51:16 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`).

On UVCDAT  GUI after plotting a spatial plot, I tried to save from spreadsheet (Export sheet--> As a single image, I named it as watertable.png) there is no image file created.
I have got the following error. Can an

[2015-05-19 15:44] ThomasMaxwell commented on #1325
While you’re fixing this one could you please make TransientVariables pickable?   They currently throw a number of exceptions if you try to pickle/unpickle them.   Being able to pickle these objects would greatly facilitate the parallelization of cdms.

— Tom

From: Jeffrey Painter <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:r

[2015-05-19 16:54] painter1 commented on #1325
Charles asked for more detail, so here it is:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/painter1/bin/uvcdat-2015.03.25/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/cdms2/tvariable.py", line 827, in createVariable
    return TransientVariable(*args,**kargs)
  File "/Users/painter1/bin/uvcdat-2015.03.25/Library/Frameworks

[2015-05-19 18:00] mcenerney1 commented on #1181
Hardik
It's been quite a while since we talked about this one.  Now that uvcdat is released we should resurrect this issue.  I just tried it again from the gui and get the same error as on April 13, above. Any thoughts on what's going on?  I'm available to help on this!!
Jim

[2015-05-19 18:03] hgohil2805 commented on #1181
Jim,
Yes we should try to get this working. I am currently working on GUI testing but I'll look into this too.

[2015-05-19 19:54] potter2 opened #1327 "animation error in 2.2.0"
I was making a 2D animation in 2.2 and I get this error (attached png). Also as the animation ran, it got slower and slower. The array is quite large (720 hours of high resolution data)
![animation_error](https://cloud.githubusercontent.com/assets/2963950/7712401/154c190c-fe26-11e4-818c-6ec2eaae254f.png)

[2015-05-19 23:24] painter1 opened #1333 "cannot slice string variable from NetCDF file"
I have a NetCDF file (ACME output) with a string-valued variable.   With cdms2 I can read one character at a time, but no more.  Thus I can make a FileVariable out of it but not a Transient Variable.  For example:

_>>>_ time_written = f['time_written']
_>>>_ time_written.shape
(1, 8)
_>>>_ time_written[0,1]
'1'
_>>>_ time_written[0,2]
':'
_>>>_ time_written[0,:2]
Traceback (most recent call last)

[2015-05-20 15:17] dlonie opened #1335 "update_input and "vtkobjects" map documentation needed"
@chaosphere2112 @doutriaux1

I'm moving the "update_input" logic into the pipeline subclasses so that each plot's rendering can be encapsulated in a single spot.

I can port the functionality over rather easily, but need some help with documentation. Can one of you review the following and make corrections / fill in the blanks? Also, please document these things *as they're added* next time an app

[2015-05-20 15:20] chaosphere2112 commented on #1335
@dlonie `vtk_backend_actors` is, indeed, the list of actors added for that plot. It's used in the animation code and in the interactivity code.

[2015-05-20 15:34] chaosphere2112 commented on #1335
@dlonie
All of the `vtk_backend_*_text_actor` objects are labels from the template; `zvalue` is the current time, by default. `fillarea_actors` and `line_actors` will probably be used by interaction code when (if?) the time comes (I wrote the code to edit fillareas and lines, but Dean suggested that we trim that out for the present to focus on text and markers, which are the most commonly used ite

[2015-05-20 15:47] mcenerney1 opened #1336 "Build uvcdat on mac 10.8"
While configuring I get this error when running
cmake ~/uvcdat -DCMAKE_INSTALL_PREFIX=/usr/local/uvcdat/05_20_15

CMake Error at CMakeLists.txt:140 (message):
  [ERROR] Could not match your OS VERSION (10.8) with any of your SDKs, or OS
  not supported yet

-- Configuring incomplete, errors occurred!

[2015-05-20 16:05] aashish24 commented on #1336
what version of SDK you have on your system?

[2015-05-20 16:12] mcenerney1 commented on #1181
Hardik
Some new info on this issue.  I spent yesterday afternoon in the debugger trying to isolate the issue and could not find it.  However, for some reason uvcdat does not crash as before. Now it simply runs but produces no graphics.  I don't know what changed but this may help you.
Jim

[2015-05-20 16:15] remram44 commented on #1181
What changed is probably UV-CDAT/VisTrails#30

[2015-05-20 16:24] mcenerney1 commented on #1336
java version "1.6.0_65"

[2015-05-20 16:27] aashish24 commented on #1336
sorry, I meant OS SDK. You need MAC OS to build UV-CDAT on your system. Can you post your CMakeCache.txt file?

[2015-05-20 16:30] durack1 commented on #1336
https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12

[2015-05-20 16:52] mcenerney1 commented on #1336
I put it in mcenerney1 on aims1

[2015-05-20 16:54] doutriaux1 commented on #1336
@mcenerney1 I will stop by.

[2015-05-20 16:57] doutriaux1 commented on #1181
as @remram44 mentioned in https://github.com/UV-CDAT/VisTrails/pull/30 it needs a "real" fix. But nobody seemed to have found time for it...

[2015-05-20 17:06] jbeezley opened #1337 "ESGF with MyProxyClient"
I don't think this is an issue with UV-CDAT (see [this issue](https://github.com/bagder/curl/issues/283)), but maybe others have run into this before and know how to fix it.  I am trying to get OpenDAP working with ESGF and MyProxyClient.  I have tried several things to track down the problem:

### UV-CDAT GUI ###

I log in via the button on the GUI search for a file and try to open it.  This is w

[2015-05-20 18:09] doutriaux1 commented on #1336
@aashish24 we figured it out, @mcenerney1 was on "master" AND didn't relink is 10.8 SDK into /Application/XCode.app/...
Can you please bring back: https://github.com/UV-CDAT/uvcdat/pull/1323 into master? As well as the tag point. Thanks.

[2015-05-20 18:10] doutriaux1 commented on #1336
actually leaving open until @aashish24 brought back #1323 into master

[2015-05-20 18:13] jbeezley commented on #1337
Just so I don't forget.  [This](https://github.com/Unidata/netcdf-c/blob/master/docs/auth.md) is a good description of how netcdf works with libcurl for authentication.

[2015-05-20 21:25] doutriaux1 commented on #1337
@jbeezley we also have a modified version of netcdf that let you handle many many certificates see:
https://github.com/uv-cdat/netcdf/tree/httprc

[2015-05-20 21:28] doutriaux1 commented on #1337
the actual changes made by @leung25 can be seen at: https://github.com/UV-CDAT/netcdf/pull/1

[2015-05-20 21:29] potter2 opened #1338 "isoline labels don't work in overlay"
I think I submitted this before but the isoline labels don't appear when an isoline plot is an overlay on a isofill  plot

[2015-05-20 21:33] jbeezley commented on #1337
According to the document I linked, the netcdf library works like that by default.  (i.e. it looks for the `.dodsrc` in the current directory before `$HOME`) It would seem that patch is no longer necessary.

[2015-05-20 21:34] jbeezley commented on #1337
Nevermind, I see.  `NC_HTTPRC_CUSTOM_DIRECTORY` was added there.  Technically, the current path method is sufficient for what I need. Thanks for the link though.

[2015-05-20 21:56] hgohil2805 commented on #1181
Jim, I thought that you were using the latest build with that fix in it. I am going to try and solve the  cell and the plot properties problem, hopefully that helps to generate the plot correctly too.

[2015-05-20 22:38] mcenerney1 commented on #1181
I was using a build with all of the updates. I just rebuilt from the new release (just to be sure) and it behaves the same: it doesn't crash but it proceeds normally and there is no graphic.

[2015-05-20 22:42] doutriaux1 commented on #1338
@remram44 assigning this to you guys because it works from the command line. It must have something to do with the order in which vistrails runs this.

![isolines_on_top](https://cloud.githubusercontent.com/assets/2781425/7738209/d64b1a82-ff06-11e4-8f8f-ea76f028300f.png)

[2015-05-21 04:30] remram44 commented on #1338
Running the generated script from cdat, I don't see isolines either.
[code]

[2015-05-21 16:41] doutriaux1 commented on #1338
well, yes, I don't know what this "cdmsfile=cdmsfile.id" is doing here. vcs probably error exit under the hood choking on this. So that's the issue.

[2015-05-21 16:42] doutriaux1 commented on #1338
Just to be clear, the scritp/VisTrails should NOT add this argument. I don't even know what this is supposed to do... @ThomasMaxwell is it something for DV3D?

[2015-05-21 16:43] doutriaux1 commented on #1338
@remram44 actually I'm not sure what you are talking about here, I do SEE isolines on the picture you posted...

[2015-05-21 18:21] remram44 commented on #1338
Yes but I don't see any label.

[2015-05-21 18:41] doutriaux1 commented on #1338
you need to turn them on manually. The default is no labels. I guess it's historical, users didn't want to see them on all the time.

[2015-05-21 18:42] remram44 commented on #1338
So... what's the issue?

[2015-05-21 18:42] doutriaux1 commented on #1338
@remram44 @potter2 I get it now... a bit slow... sorry... @potter2 are you saying that you did turn on the labels and they didn't show up?

[2015-05-21 18:43] doutriaux1 commented on #1338
@potter2 I thought you meant if you plot isoline on top of isofill then you don't see the isolines.

[2015-05-21 18:46] doutriaux1 commented on #1338
@potter2 ok I see your bug from command line now. re-assigning to myself @dlonie if you beat me to it, feel free. Here is a snippet of what goes wrong:
[code]
no labels (my guess is the priority is not set properly and they are bellow the isofills)

[2015-05-21 18:48] potter2 commented on #1338
Yes

Sent from my iPhone

On May 21, 2015, at 11:42 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@remram44<https://github.com/remram44> @potter2<https://github.com/potter2> I get it now... a bit slow... sorry... @potter2<https://github.com/potter2> are you saying that you did turn on the labels and they didn't show up?

—
Reply to this email directly or

[2015-05-21 18:49] potter2 commented on #1338
No, the isolines show up but not the labels when they are turned on

Sent from my iPhone

On May 21, 2015, at 11:43 AM, Charles Doutriaux <notifications@github.com<mailto:notifications@github.com>> wrote:

@potter2<https://github.com/potter2> I thought you meant if you plot isoline on top of isofill then you don't see the isolines.

—
Reply to this email directly or view it on GitHub<https://githu

[2015-05-21 19:55] potter2 opened #1339 "Labels are too close together"
As you can see from the attached the isoline labels are too close together. I understand there is a parameter that can be set, but it needs to be available. For the GUI the default also needs to be father apart.
![labels](https://cloud.githubusercontent.com/assets/2963950/7757613/b2f824fa-ffb8-11e4-912b-085365fe1852.png)

[2015-05-21 22:57] durack1 opened #1340 "setup_runtime.sh/csh reporting incorrect version and SHA"
It seems that the `2.2.0` tag d124bd78293d726bbf3d0c91779dfbff0f049ccf is reporting `2.2.0-rc1` when setup_runtime.sh/csh is sourced:

[code]
It's likely due to errors in https://github.com/UV-CDAT/uvcdat/blob/master/CMakeLists.txt#L695 not calling `git describe` with the `--tag` option

[code]

[2015-05-21 23:04] #1312 closed

[2015-05-21 23:06] #1212 closed

[2015-05-21 23:34] durack1 commented on #913
@chaosphere2112 @doutriaux1 @aashish24 I assume this issue can now be closed?

[2015-05-22 12:59] aashish24 commented on #913
yes :smile:

[2015-05-22 12:59] #913 closed

[2015-05-22 13:50] jypeter commented on #533
I'm closing this issue, since it seems unlikely that it will be taken care of now that we have a 2.2.0 version

Notes
- I get the impression that **windspharm** disappeared between 1.5.1 and 2.x
- The problem I got when trying to manually install windspharm in 1.5.1 and 2.1.0, where you have to type 'yes' to accept the license, may explain why windspharm did not install in 1.5.1
- My notes and sol

[2015-05-22 13:50] #533 closed

[2015-05-22 13:56] dlonie opened #1343 "10k+ leaked objects from simple test"
Running the `test_meshfill_draw_mesh.py` test leaks about 10,900 objects. This is very significant, as it means that rendering multiple large datasets, even properly scoped so no vcs objects are reachable, will quickly exhaust the available system memory. This is also causing issues interfacing with other modules that need objects to be freed before the interpreter shuts down.

This is easy to tes

[2015-05-22 14:39] ajdawson commented on #533
I'd just like to reiterate that this is an issue with **pyspharm**, which is only evident if you try to `pip install windspharm` without first installing the pyspharm dependency.

[2015-05-22 17:54] durack1 commented on #533
@jypeter we've got a new PR #1074 which will hopefully resolve this issue.. It's been held up due to a dependency on spherepack if I recall.. @doutriaux1 was going to look at this next week..

[2015-05-26 03:37] doutriaux1 commented on #1343
Admittedly I just quickly glanced at it. But there seems to be a lot of DV3D ref in there. Why are they even here? Meshfill shouldn't be using it.

[2015-05-26 16:16] dlonie commented on #1343
Not sure, but my guess is that it's related to bloat in the `vcs/__init__.py` file.

[2015-05-26 16:17] dlonie opened #1344 "pep8 unit test"
Add a test that runs `pep8` against the `vcsvtk` module. Make it easy to extend to other modules as well.

[2015-05-26 16:26] ThomasMaxwell commented on #1343
It would be useful to distinguish between leaked objects that are allocated on a per-plot basis and those that are allocated once at app initialization.   The leaked objects that are allocated once at app startup are probably relatively small and ignorable .

From: David Lonie <notifications@github.com<mailto:notifications@github.com>>
Reply-To: UV-CDAT/uvcdat <reply@reply.github.com<mailto:reply@

[2015-05-26 16:43] dlonie commented on #1343
Ignoring leaks is a bad practice, as is initializing objects that aren't needed. It would be good to clean up both of these, as they have performance implications.

Leaks are especially dangerous when mixing python with other languages, as the issue we're now seeing is that leaks in vcs are causing segfaults in external modules that are trying to clean up the leaked memory after the python session

[2015-05-26 17:18] #1311 closed